Repository pyvista/pyvista, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyvista/admin, @banesullivan, @pyvista/kitware

.github/CODEOWNERS:

/LICENSE                                            @pyvista/admin
/codecov.yml                                        @pyvista/admin
/AUTHORS.rst                                        @pyvista/admin
/joss/                                              @pyvista/admin
/CODE_OF_CONDUCT.md                                 @pyvista/admin
/CODEOWNERS                                         @pyvista/admin
/.github/workflows/auto-approve.yml                 @pyvista/admin
/.github/workflows/testing-and-deployment.yml       @banesullivan
/.github/workflows/docs.yml                         @banesullivan
/.github/workflows/docker-package.yml               @banesullivan
/.github/workflows/vtk-pre-test.yml                 @banesullivan
/pyvista/trame/                                     @pyvista/kitware

Add reference to root paper in farthest_point_sampling script
  examples/00-load/farthest_point_sampling.py
Owners: none

Move farthest_point_sampling script to 01-filter directory
  examples/01-filter/farthest_point_sampling.py
Owners: none

Update farthest_point_sampling.py
  examples/01-filter/farthest_point_sampling.py
Owners: none

Fix pre-commit issues and improve farthest_point_sampling.py
  main.py
Owners: none

Fix and improve farthest_point_sampling.py
  examples/01-filter/farthest_point_sampling.py
Owners: none

Update farthest_point_sampling.py
  examples/01-filter/farthest_point_sampling.py
Owners: none

Delete main.py
  main.py
Owners: none

Suppress vtkCapsuleSource ImportError (#7408)
  pyvista/core/_vtk_core.py
Owners: none

Add __str__ method to GPUInfo and update related tests
  pyvista/report.py
  tests/plotting/test_plotting_utilities.py
Owners: none

Update Python version to 3.13 in workflow files and pyproject.toml (#7366)
  .github/workflows/docker-package.yml
  .github/workflows/docs.yml
  .github/workflows/integration-tests.yml
  .github/workflows/linkcheck.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  .github/workflows/type-checking.yml
  .github/workflows/vtk-pre-test.yml
  pyproject.toml
Owners: @banesullivan

Add checks for merge queue
  .github/workflows/testing-and-deployment.yml
  .github/workflows/type-checking.yml
Owners: @banesullivan

Add Python versions badge to README (#7411)
  README.rst
Owners: none

Speed up rendering of planets example (#7397)
  examples/99-advanced/planets.py
  tests/doc/doc_image_cache/sphx_glr_planets_001.jpg
  tests/doc/doc_image_cache/sphx_glr_planets_thumb.jpg
Owners: none

Add checks for merge queue (#7421)
  .github/workflows/testing-and-deployment.yml
  .github/workflows/type-checking.yml
Owners: @banesullivan

Make `bool` parameters of `Transform.apply_to` methods keyword-only (#7407)
  pyvista/core/utilities/transform.py
Owners: none

Remove tabs from docs (#7406)
  pyvista/core/cell.py
Owners: none

Add type hints to plotter.py and some related functions
  pyvista/jupyter/notebook.py
  pyvista/plotting/_typing.py
  pyvista/plotting/plotter.py
  pyvista/trame/jupyter.py
Owners: @pyvista/kitware

Remove duplicate import
  pyvista/trame/jupyter.py
Owners: @pyvista/kitware

Save images from test warnings for doc image cache (#7394)
  CONTRIBUTING.rst
  tests/doc/tst_doc_images.py
Owners: none

Improve type hints for dictionary function arguments
  pyvista/plotting/_typing.py
  pyvista/plotting/plotter.py
Owners: none

Add type hints to plotting/__init__.py
  pyvista/plotting/__init__.py
Owners: none

Enable ruff ANN rule for plotter.py
  pyproject.toml
Owners: none

Fix mypy errors for notebook.py and jupyter.py
  pyvista/jupyter/notebook.py
  pyvista/trame/jupyter.py
Owners: @pyvista/kitware

Disable VTK 9.4 snake_case API (#7198)
  doc/source/api/utilities/utilities.rst
  pyvista/__init__.py
  pyvista/core/__init__.py
  pyvista/core/_vtk_core.py
  pyvista/core/cell.py
  pyvista/core/dataobject.py
  pyvista/core/errors.py
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/image_sources.py
  pyvista/core/utilities/state_manager.py
  pyvista/core/utilities/transform.py
  pyvista/plotting/_property.py
  pyvista/plotting/axes.py
  pyvista/plotting/axes_actor.py
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/camera.py
  pyvista/plotting/charts.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/cube_axes_actor.py
  pyvista/plotting/lights.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/renderer.py
  pyvista/plotting/text.py
  pyvista/plotting/volume_property.py
  tests/conftest.py
  tests/core/test_dataobject.py
  tests/core/test_dataset.py
  tests/core/test_utilities.py
  tests/test_snake_case_api.py
Owners: none

Fix some type errors
  pyvista/plotting/plotter.py
Owners: none

Add another test case for coverage
  tests/plotting/image_cache/plotter_volume_lookup_table_reactive_1.png
  tests/plotting/test_plotting.py
Owners: none

Replace images with warnings
  tests/doc/doc_image_cache/pyvista-DICOMReader-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-downloads-download_dicom_stack-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-downloads-download_full_head-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-downloads-download_head_2-1_00_00.jpg
  tests/doc/doc_image_cache/sphx_glr_interpolate_004.jpg
  tests/doc/doc_image_cache/sphx_glr_interpolate_thumb.jpg
  tests/doc/doc_image_cache/sphx_glr_voxelize_003.jpg
  tests/doc/doc_image_cache/sphx_glr_voxelize_004.jpg
Owners: none

Fix type errors and ignore type errors associated with path
  pyvista/plotting/plotter.py
Owners: none

Add support for saving DataObjects directly as .vtkhdf files
  pyvista/core/_vtk_core.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/partitioned.py
  pyvista/core/pointset.py
  pyvista/core/utilities/fileio.py
  tests/core/test_dataobject.py
  tests/core/test_grid.py
  tests/core/test_polydata.py
Owners: none

fixup! fix unused type ignore
  pyvista/core/partitioned.py
  pyvista/core/utilities/fileio.py
Owners: none

better vtk version checks and typechecking conditionals
  pyvista/core/composite.py
  pyvista/core/partitioned.py
  pyvista/core/utilities/fileio.py
Owners: none

correct vtkhdf testing bypass for for when VTK < 9.4.0
  tests/core/test_dataobject.py
Owners: none

fix unused type ignore
  pyvista/core/partitioned.py
Owners: none

swap out use of pytest.exit
  tests/core/test_dataobject.py
  tests/core/test_grid.py
  tests/core/test_polydata.py
Owners: none

fix new linter rule
  pyvista/core/dataobject.py
Owners: none

define new types only in the static context
  pyvista/core/dataobject.py
  pyvista/core/pointset.py
  pyvista/core/utilities/fileio.py
Owners: none

pragma: no cover for if TYPE_CHECKING
  pyvista/core/pointset.py
  pyvista/core/utilities/fileio.py
Owners: none

use python 3.9-compatible Unions
  pyvista/core/pointset.py
Owners: none

Fix function ``pyvista.to meshio()`` for VTK 9.4 (#7130)
  pyvista/core/pointset.py
  pyvista/core/utilities/fileio.py
  tests/core/test_pointset.py
  tests/test_meshio.py
Owners: none

Revert update to voxelize images
  tests/doc/doc_image_cache/sphx_glr_voxelize_003.jpg
  tests/doc/doc_image_cache/sphx_glr_voxelize_004.jpg
Owners: none
