Repository pyvista/pyvista, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyvista/admin, @banesullivan, @pyvista/kitware

.github/CODEOWNERS:

/LICENSE                                            @pyvista/admin
/codecov.yml                                        @pyvista/admin
/AUTHORS.rst                                        @pyvista/admin
/joss/                                              @pyvista/admin
/CODE_OF_CONDUCT.md                                 @pyvista/admin
/CODEOWNERS                                         @pyvista/admin
/.github/workflows/auto-approve.yml                 @pyvista/admin
/.github/workflows/testing-and-deployment.yml       @banesullivan
/.github/workflows/docs.yml                         @banesullivan
/.github/workflows/docker-package.yml               @banesullivan
/.github/workflows/vtk-pre-test.yml                 @banesullivan
/pyvista/trame/                                     @pyvista/kitware

fix(views): undo post_init
  pyvista/trame/views.py
Owners: @pyvista/kitware

typo
  pyvista/trame/ui/base_viewer.py
Owners: @pyvista/kitware

Improve test coverage for delete volume property
  tests/plotting/test_volume_property.py
Owners: none

Update pyvista/plotting/volume_property.py
  pyvista/plotting/volume_property.py
Owners: none

correct invalid copilot change
  pyvista/plotting/volume_property.py
Owners: none

Update docs.yml
  .github/workflows/docs.yml
Owners: @banesullivan

Update integration-tests.yml
  .github/workflows/integration-tests.yml
Owners: none

Update linkcheck.yml
  .github/workflows/linkcheck.yml
Owners: none

Update style_docstr.yml
  .github/workflows/style_docstr.yml
Owners: none

Update testing-and-deployment.yml
  .github/workflows/testing-and-deployment.yml
Owners: @banesullivan

Update type-checking.yml
  .github/workflows/type-checking.yml
Owners: none

Update vtk-pre-test.yml
  .github/workflows/vtk-pre-test.yml
Owners: @banesullivan

Add cov to target
  .github/workflows/testing-and-deployment.yml
Owners: @banesullivan

Update Makefile
  Makefile
Owners: none

Fix syntax
  Makefile
Owners: none

Use tab
  Makefile
Owners: none

Update Makefile
  Makefile
Owners: none

Revert changes to docstyle
  Makefile
Owners: none

Update docs.yml
  .github/workflows/docs.yml
Owners: @banesullivan

Revert change to doctest-modules-local-namespace
  Makefile
Owners: none

Add test coverage
  tests/plotting/test_volume_property.py
Owners: none

Remove unused test
  tests/plotting/test_volume_property.py
Owners: none

Update docs.yml
  .github/workflows/docs.yml
Owners: @banesullivan

Update style_docstr.yml
  .github/workflows/style_docstr.yml
Owners: none

Update testing-and-deployment.yml
  .github/workflows/testing-and-deployment.yml
Owners: @banesullivan

Update Makefile
  Makefile
Owners: none

Update Makefile
  Makefile
Owners: none

Bump development version 0.46
  pyvista/_version.py
Owners: none

Add render window to report
  pyvista/report.py
  tests/core/test_utilities.py
Owners: none

Remove conditional import
  pyvista/report.py
Owners: none

Formatting
  pyvista/report.py
Owners: none

fix(test): fix pytest
  tests/plotting/jupyter/test_trame.py
Owners: none

Add needs_vtk_version arguments handling
  pyvista/core/_vtk_core.py
  tests/conftest.py
Owners: none

Modify tests accordingly
  tests/conftest.py
  tests/core/test_dataset.py
  tests/core/test_geometric_sources.py
  tests/core/test_grid.py
  tests/core/test_imagedata_filters.py
  tests/core/test_pointset.py
  tests/core/test_polydata_filters.py
  tests/core/test_reader.py
  tests/core/test_unstructured_grid_filters.py
  tests/core/test_utilities.py
  tests/examples/test_download_files.py
  tests/plotting/jupyter/test_trame.py
  tests/plotting/test_charts.py
  tests/plotting/test_cube_axes_actor.py
  tests/plotting/test_picking.py
  tests/plotting/test_plotter.py
  tests/plotting/test_plotting.py
  tests/plotting/test_property.py
  tests/test_conftest.py
Owners: none

Add reason match tests
  tests/conftest.py
  tests/test_conftest.py
Owners: none

Update contributing
  CONTRIBUTING.rst
  tests/plotting/test_plotting.py
Owners: none

Fix marker syntax in pyproject
  pyproject.toml
  tests/plotting/test_plotting.py
Owners: none

Change kwargs according to review
  CONTRIBUTING.rst
  tests/conftest.py
  tests/core/test_geometric_sources.py
  tests/core/test_imagedata_filters.py
  tests/core/test_reader.py
  tests/examples/test_download_files.py
  tests/plotting/test_cube_axes_actor.py
  tests/plotting/test_plotting.py
  tests/test_conftest.py
Owners: none

Change greater_than kwargs
  CONTRIBUTING.rst
  pyproject.toml
  tests/conftest.py
  tests/test_conftest.py
Owners: none

Remove Twitter share links
  README.rst
  doc/source/index.rst
Owners: none
