Repository pyvista/pyvista, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyvista/admin, @banesullivan, @pyvista/kitware

.github/CODEOWNERS:

/LICENSE                                            @pyvista/admin
/codecov.yml                                        @pyvista/admin
/AUTHORS.rst                                        @pyvista/admin
/joss/                                              @pyvista/admin
/CODE_OF_CONDUCT.md                                 @pyvista/admin
/CODEOWNERS                                         @pyvista/admin
/.github/workflows/auto-approve.yml                 @pyvista/admin
/.github/workflows/testing-and-deployment.yml       @banesullivan
/.github/workflows/docs.yml                         @banesullivan
/.github/workflows/docker-package.yml               @banesullivan
/.github/workflows/vtk-pre-test.yml                 @banesullivan
/pyvista/trame/                                     @pyvista/kitware

Use v3.1 with style_docstr.yml
  .github/workflows/style_docstr.yml
Owners: none

Address review comments
  pyvista/core/utilities/helpers.py
  pyvista/jupyter/__init__.py
  pyvista/jupyter/notebook.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/_typing.py
  pyvista/plotting/actor.py
  pyvista/plotting/plotter.py
  pyvista/plotting/text.py
  pyvista/plotting/themes.py
  pyvista/trame/jupyter.py
Owners: @pyvista/kitware

Update style_docstr.yml
  .github/workflows/style_docstr.yml
Owners: none

Add warning when saving `ImageData` with `.vtk` format (#7455)
  pyvista/core/dataobject.py
  tests/core/test_grid.py
Owners: none

Update style_docstr.yml
  .github/workflows/style_docstr.yml
Owners: none

Add vars to sphinx ignore, fix unused imports and fix test
  doc/source/conf.py
  pyvista/jupyter/notebook.py
  pyvista/plotting/themes.py
  tests/plotting/test_plotter.py
Owners: none

Update style_docstr.yml
  .github/workflows/style_docstr.yml
Owners: none

Update style_docstr.yml
  .github/workflows/style_docstr.yml
Owners: none

Update style_docstr.yml
  .github/workflows/style_docstr.yml
Owners: none

Update testing-and-deployment.yml
  .github/workflows/testing-and-deployment.yml
Owners: @banesullivan

Update testing-and-deployment.yml
  .github/workflows/testing-and-deployment.yml
Owners: @banesullivan

Add render flag to the `add_actor` call in `BasePlotter.add_point_labels` (#7461)
  pyvista/plotting/plotter.py
Owners: none

Add vtkRenderWindowInteractor to report
  pyvista/report.py
Owners: none

fix: Respect filename_mtl parameter in import_obj
  pyvista/plotting/plotter.py
Owners: none

Update style_docstr.yml
  .github/workflows/style_docstr.yml
Owners: none

Update style_docstr.yml
  .github/workflows/style_docstr.yml
Owners: none

Update testing-and-deployment.yml
  .github/workflows/testing-and-deployment.yml
Owners: @banesullivan

Skip timer on windows using mesa
  tests/plotting/test_render_window_interactor.py
Owners: none

Update style_docstr.yml
  .github/workflows/style_docstr.yml
Owners: none

Update testing-and-deployment.yml
  .github/workflows/testing-and-deployment.yml
Owners: @banesullivan

Revert "Add vtkRenderWindowInteractor to report"
  pyvista/report.py
Owners: none

Update plotter.py
  pyvista/plotting/plotter.py
Owners: none

Update plotter.py
  pyvista/plotting/plotter.py
Owners: none

Update plotter.py
  pyvista/plotting/plotter.py
Owners: none

Update plotter.py
  pyvista/plotting/plotter.py
Owners: none

Update plotter.py
  pyvista/plotting/plotter.py
Owners: none

Update plotter.py
  pyvista/plotting/plotter.py
Owners: none

Update test_plotter.py
  tests/plotting/test_plotter.py
Owners: none

Fix error message for color_labels cmap
  pyvista/core/filters/data_set.py
Owners: none

Skip coverage
  pyvista/core/filters/data_set.py
Owners: none

Add note to docs
  pyvista/core/filters/data_set.py
Owners: none

Fix typo
  pyvista/core/filters/data_set.py
Owners: none

Fix that the parameter filename_mtl is ignored (#7340)
  pyvista/plotting/plotter.py
  tests/plotting/test_plotter.py
Owners: none

Update error msg
  pyvista/core/_validation/validate.py
Owners: none

Use dependency groups instead of extras for installing dev dependencies (#7459)
  .devcontainer/offscreen/oncreatecommand.sh
  .devcontainer/oncreatecommand.sh
  .github/workflows/docs.yml
  .github/workflows/integration-tests.yml
  .github/workflows/linkcheck.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  .github/workflows/type-checking.yml
  .github/workflows/vtk-pre-test.yml
  .gitpod.yml
  CONTRIBUTING.rst
  pyproject.toml
Owners: @banesullivan

Add plot tag
  examples/02-plot/axes_objects.py
Owners: none

Raise ModuleNotFoundError instead
  pyvista/core/filters/data_set.py
  pyvista/plotting/colors.py
Owners: none

Add custom message for default case
  pyvista/core/filters/data_set.py
Owners: none

Update pyvista/examples/_dataset_loader.py
  pyvista/examples/_dataset_loader.py
Owners: none

Fix reader docstring paths names
  pyvista/core/utilities/reader.py
Owners: none
