Repository pyvista/pyvista, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyvista/admin, @banesullivan, @pyvista/kitware

.github/CODEOWNERS:

/LICENSE                                            @pyvista/admin
/codecov.yml                                        @pyvista/admin
/AUTHORS.rst                                        @pyvista/admin
/joss/                                              @pyvista/admin
/CODE_OF_CONDUCT.md                                 @pyvista/admin
/CODEOWNERS                                         @pyvista/admin
/.github/workflows/auto-approve.yml                 @pyvista/admin
/.github/workflows/testing-and-deployment.yml       @banesullivan
/.github/workflows/docs.yml                         @banesullivan
/.github/workflows/docker-package.yml               @banesullivan
/.github/workflows/vtk-pre-test.yml                 @banesullivan
/pyvista/trame/                                     @pyvista/kitware

Suppress vtkCompositePolyDataMapper2 ImportError
  pyvista/plotting/_vtk_gl.py
Owners: none

Fix clip_vtk_bug test
  tests/core/test_pointset.py
Owners: none

Update merge test
  tests/core/test_polydata.py
Owners: none

Paremetrize merge filter test for easier debugging
  tests/core/test_polydata.py
Owners: none

Fix more type errors
  pyvista/plotting/plotter.py
Owners: none

Deprecate main_has_priority
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/utilities/features.py
  tests/core/test_dataset_filters.py
  tests/core/test_grid.py
  tests/core/test_polydata.py
  tests/core/test_utilities.py
Owners: none

Fix test
  tests/core/test_dataobject.py
Owners: none

Fix mesh order in tests
  pyvista/core/filters/data_set.py
  tests/core/test_dataobject.py
  tests/core/test_dataset_filters.py
Owners: none

Separate deprecation tests
  tests/core/test_polydata.py
Owners: none

Deprecate main_has_priority
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/utilities/features.py
  tests/core/test_dataobject.py
  tests/core/test_dataset_filters.py
  tests/core/test_grid.py
  tests/core/test_pointset.py
  tests/core/test_polydata.py
  tests/core/test_utilities.py
Owners: none

Fix import error for deprecated vtkCompositePolyDataMapper2
  pyvista/plotting/_vtk_gl.py
Owners: none

pre-commit
  pyvista/plotting/_vtk_gl.py
Owners: none

Set default to True for older vtk
  pyvista/core/filters/data_set.py
Owners: none

Make test more explicit
  tests/core/test_utilities.py
Owners: none

Fix typing
  pyvista/core/filters/data_set.py
Owners: none

Fix import error for deprecated `vtkCompositePolyDataMapper2` (#7427)
  pyvista/plotting/_vtk_gl.py
Owners: none

Paremetrize merge filter test for easier debugging (#7425)
  tests/core/test_polydata.py
Owners: none

Do not use merge for test
  pyvista/plotting/_vtk_gl.py
  tests/core/test_dataset_filters.py
Owners: none

Add VTK dev to test matrix
  .github/workflows/testing-and-deployment.yml
Owners: @banesullivan

Run vtk-dev as separate job
  .github/workflows/testing-and-deployment.yml
Owners: @banesullivan

Fix syntax
  .github/workflows/testing-and-deployment.yml
Owners: @banesullivan

Commit nothing
  pyvista/core/_validation/__init__.py
Owners: none

Revert "Commit nothing"
  pyvista/core/_validation/__init__.py
Owners: none

Add push event
  .github/workflows/testing-and-deployment.yml
Owners: @banesullivan

Commit nothing
  pyvista/core/_validation/__init__.py
Owners: none

Revert "Commit nothing"
  pyvista/core/_validation/__init__.py
Owners: none

Generalize job logic to allow running with workflow dispatch
  .github/workflows/testing-and-deployment.yml
Owners: @banesullivan

Add brackets to logic
  .github/workflows/testing-and-deployment.yml
Owners: @banesullivan

Commit nothing
  pyvista/core/_validation/__init__.py
Owners: none

Revert "Commit nothing"
  pyvista/core/_validation/__init__.py
Owners: none

Update CONTRIBUTING
  CONTRIBUTING.rst
Owners: none

Update CONTRIBUTING
  CONTRIBUTING.rst
Owners: none

fix(gui): Update _post_initialize for trame_vtk
  pyvista/trame/views.py
Owners: @pyvista/kitware

improve reactive lut test
  tests/plotting/test_plotting.py
Owners: none

Add mapper utilities to handle deprecated calls for vtk 9.5
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotter.py
Owners: none

Pre-commit
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotter.py
Owners: none

Revert typing change
  pyvista/plotting/plotter.py
Owners: none

Update getattr logic
  pyvista/plotting/mapper.py
Owners: none

Update docstrings
  pyvista/plotting/mapper.py
Owners: none

fix(base_viewer): do not trigger error message
  pyvista/trame/ui/base_viewer.py
Owners: @pyvista/kitware
