Repository pyvista/pyvista, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyvista/admin, @banesullivan, @pyvista/kitware

Remove duplicate cmaps (#7536)
  doc/source/make_tables.py
  tests/doc/test_tables.py
Owners: none

Remove redundant references to VTK Book
  pyvista/core/celltype.py
Owners: none

Update docs.yml
  .github/workflows/docs.yml
Owners: @banesullivan

Add VTK references to `CellType` documentation (#7534)
  pyvista/core/celltype.py
Owners: none

Revert #7538 'Fix test failure for numpy 2.3'
  tests/core/test_composite.py
Owners: none

Merge npt-promote into mypy_plugin
  pyproject.toml
  pyvista/typing/mypy_plugin.py
  tests/typing/mypy_plugin/test_plugin.py
Owners: none

Update plotter.py
  pyvista/plotting/plotter.py
Owners: none

ci: restrict i18n doc build to main and release branches
  .github/workflows/docs.yml
Owners: @banesullivan

Update docs.yml
  .github/workflows/docs.yml
Owners: @banesullivan

Update docs.yml
  .github/workflows/docs.yml
Owners: @banesullivan

Ignore numpy version warning
  pyproject.toml
Owners: none

Fix ignore warning
  pyproject.toml
Owners: none

Ignore SciPy warning about NumPy version
  pyproject.toml
Owners: none

Ignore SciPy warning about NumPy version (#7544)
  pyproject.toml
Owners: none

Revert #7538 'Fix test failure for numpy 2.3' (#7540)
  tests/core/test_composite.py
Owners: none

Update plotter.py (#7542)
  pyvista/plotting/plotter.py
Owners: none

Add BoundsTuple repr to align values to decimal
  pyvista/core/_typing_core/_aliases.py
Owners: none

Update docstrings
  doc/source/user-guide/simple.rst
  pyvista/core/cell.py
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/filters/image_data.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/plotting/actor.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotter.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/volume.py
  tests/core/test_geometric_sources.py
Owners: none

Avoid nested statement for older python
  pyvista/core/_typing_core/_aliases.py
Owners: none

Apply suggestions from code review
  .github/workflows/docs.yml
Owners: @banesullivan

Update docs.yml
  .github/workflows/docs.yml
Owners: @banesullivan

More fixes
  pyvista/plotting/charts.py
  pyvista/plotting/cube_axes_actor.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/plotting/__init__.py
  pyvista/plotting/renderers.py
  pyvista/plotting/text.py
  pyvista/plotting/tools.py
  pyvista/plotting/utilities/sphinx_gallery.py
  pyvista/trame/ui/base_viewer.py
  pyvista/trame/ui/vuetify2.py
  pyvista/trame/ui/vuetify3.py
  pyvista/trame/views.py
  pyvista/utilities/__init__.py
  tests/conftest.py
  tests/core/test_dataobject_filters.py
  tests/core/test_dataset.py
  tests/core/test_geometric_sources.py
  tests/core/test_pyvista_ndarray.py
  tests/core/test_reader.py
  tests/doc/test_sphinx_gallery.py
  tests/doc/test_tables.py
  tests/doc/tst_doc_build.py
  tests/namespace/test_utilities_namespace.py
Owners: @pyvista/kitware

Formatting
  pyvista/core/_typing_core/_aliases.py
Owners: none

Apply E501 to charts.py
  pyvista/plotting/charts.py
Owners: none

Make E501 ignores per-file
  pyproject.toml
Owners: none

Per-file ignores
  pyproject.toml
Owners: none

Enforce E501 in transform.py
  pyproject.toml
  pyvista/core/utilities/transform.py
Owners: none

Enforce E501 in docs, features, misc, and state_manager modules
  pyproject.toml
  pyvista/core/utilities/docs.py
  pyvista/core/utilities/features.py
  pyvista/core/utilities/misc.py
  pyvista/core/utilities/state_manager.py
Owners: none

Enforce E501 in dataset.py
  pyproject.toml
  pyvista/core/dataset.py
Owners: none

Enforce E501 in dataobject.py
  pyproject.toml
  pyvista/core/dataobject.py
Owners: none

Add fixes for more modules
  pyvista/core/_validation/validate.py
  pyvista/core/_vtk_core.py
  pyvista/core/cell.py
  pyvista/core/celltype.py
  pyvista/core/grid.py
  pyvista/core/utilities/cell_quality.py
  pyvista/core/utilities/cells.py
Owners: none

Fix formatting
  pyvista/core/utilities/transform.py
Owners: none

Move type ignore
  pyvista/core/dataobject.py
Owners: none

Formatting
  pyvista/core/dataobject.py
Owners: none

Enforce E501 in reader.py and fileio.py
  pyproject.toml
  pyvista/core/utilities/fileio.py
  pyvista/core/utilities/reader.py
Owners: none

Limit numpy for typing
  pyproject.toml
Owners: none

Strictly less than
  pyproject.toml
Owners: none

Ignore type errors
  pyproject.toml
  pyvista/core/_typing_core/_array_like.py
  pyvista/core/_validation/validate.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/pointset.py
  pyvista/core/pyvista_ndarray.py
  pyvista/core/utilities/cells.py
  pyvista/core/utilities/features.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/points.py
  pyvista/core/utilities/transformations.py
  pyvista/demos/demos.py
  pyvista/examples/examples.py
  pyvista/plotting/affine_widget.py
  pyvista/plotting/renderers.py
Owners: none

Remove unused ruff ignores
  examples/99-advanced/sphere_eversion.py
  pyproject.toml
Owners: none

Add TID rules to ruff
  pyproject.toml
  pyvista/core/filters/__init__.py
  pyvista/core/utilities/helpers.py
  pyvista/core/utilities/misc.py
  pyvista/plotting/lights.py
  pyvista/plotting/renderer.py
Owners: none

.github/CODEOWNERS:

/LICENSE                                            @pyvista/admin
/codecov.yml                                        @pyvista/admin
/AUTHORS.rst                                        @pyvista/admin
/joss/                                              @pyvista/admin
/CODE_OF_CONDUCT.md                                 @pyvista/admin
/CODEOWNERS                                         @pyvista/admin
/.github/workflows/auto-approve.yml                 @pyvista/admin
/.github/workflows/testing-and-deployment.yml       @banesullivan
/.github/workflows/docs.yml                         @banesullivan
/.github/workflows/docker-package.yml               @banesullivan
/.github/workflows/vtk-pre-test.yml                 @banesullivan
/pyvista/trame/                                     @pyvista/kitware
