Repository pyvista/pyvista, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyvista/admin, @banesullivan, @pyvista/kitware

Remove Twitter share links (#7440)
  README.rst
  doc/source/index.rst
Owners: none

Add render window to PyVista Report (#7436)
  pyvista/report.py
  tests/core/test_utilities.py
Owners: none

Introduce tox for tests
  .github/workflows/testing-and-deployment.yml
  .gitignore
  tox.ini
Owners: @banesullivan

Use uv for deps
  .github/workflows/testing-and-deployment.yml
  tox.ini
Owners: @banesullivan

Bump development version 0.46 (#6849)
  pyvista/_version.py
Owners: none

Release 0.45.0
  pyvista/_version.py
Owners: none

Add mapper utilities to handle deprecated calls for VTK 9.5 (#7433)
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotter.py
Owners: none

Fix/ignore remaining plotter type errors
  pyvista/core/utilities/helpers.py
  pyvista/jupyter/__init__.py
  pyvista/jupyter/notebook.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/colors.py
  pyvista/plotting/plotter.py
  pyvista/plotting/themes.py
  pyvista/plotting/utilities/algorithms.py
  pyvista/trame/jupyter.py
Owners: @pyvista/kitware

Fix test
  tests/plotting/jupyter/test_static.py
Owners: none

Remove bad assert
  pyvista/plotting/plotter.py
Owners: none

Replace bad asserts by casts
  pyvista/plotting/plotter.py
Owners: none

Fix spillover mypy type errors
  pyvista/core/filters/poly_data.py
  pyvista/demos/demos.py
  pyvista/demos/logo.py
  pyvista/examples/cells.py
  pyvista/plotting/_property.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/plotter.py
  pyvista/plotting/themes.py
  pyvista/plotting/utilities/sphinx_gallery.py
Owners: none

Use typing extensions for TypeGuard as TypeGuard is not in Python 3.9
  pyvista/core/utilities/helpers.py
Owners: none

Update docstrings
  pyvista/plotting/plotter.py
Owners: none

Remove NoneType as it is not available in Python 3.9
  pyvista/plotting/plotter.py
Owners: none

Fix env
  tests/plotting/test_theme.py
  tox.ini
Owners: none

Fix xvfb-run
  .github/workflows/testing-and-deployment.yml
Owners: @banesullivan

fix warnings
  pyproject.toml
  tests/plotting/test_theme.py
Owners: none

Try fix macos
  .github/workflows/testing-and-deployment.yml
Owners: @banesullivan

fix macos
  .github/workflows/testing-and-deployment.yml
Owners: @banesullivan

Split core and plotting factors
  .github/workflows/testing-and-deployment.yml
  tox.ini
Owners: @banesullivan

Use develop for coverage
  .github/workflows/testing-and-deployment.yml
Owners: @banesullivan

Add arguments to `needs_vtk_version` custom marker test (#7393)
  CONTRIBUTING.rst
  pyproject.toml
  pyvista/core/_vtk_core.py
  tests/conftest.py
  tests/core/test_dataset.py
  tests/core/test_geometric_sources.py
  tests/core/test_grid.py
  tests/core/test_imagedata_filters.py
  tests/core/test_pointset.py
  tests/core/test_polydata_filters.py
  tests/core/test_reader.py
  tests/core/test_unstructured_grid_filters.py
  tests/core/test_utilities.py
  tests/examples/test_download_files.py
  tests/plotting/jupyter/test_trame.py
  tests/plotting/test_charts.py
  tests/plotting/test_cube_axes_actor.py
  tests/plotting/test_picking.py
  tests/plotting/test_plotter.py
  tests/plotting/test_plotting.py
  tests/plotting/test_property.py
  tests/test_conftest.py
Owners: none

Create example demonstrating shared scalar bars
  examples/02-plot/sharing_scaling_bars.py
Owners: none

Rename example
  examples/02-plot/sharing_scalar_bars.py
Owners: none

Change thumbnail number
  examples/02-plot/sharing_scalar_bars.py
Owners: none

Fix typo
  examples/02-plot/sharing_scalar_bars.py
Owners: none

Use shallow copies in subplots
  examples/02-plot/sharing_scalar_bars.py
Owners: none

Import Concatenate from typing_extensions as it is not available in Python 3.9 and add classes to sphinx ignore
  doc/source/conf.py
  pyvista/trame/jupyter.py
Owners: @pyvista/kitware

Add images in example
  tests/doc/doc_image_cache/sphx_glr_sharing_scalar_bars_001.jpg
  tests/doc/doc_image_cache/sphx_glr_sharing_scalar_bars_002.jpg
  tests/doc/doc_image_cache/sphx_glr_sharing_scalar_bars_003.jpg
  tests/doc/doc_image_cache/sphx_glr_sharing_scalar_bars_004.jpg
  tests/doc/doc_image_cache/sphx_glr_sharing_scalar_bars_thumb.jpg
Owners: none

fix: avoid read-only issues with inplace statement
  pyvista/core/utilities/helpers.py
Owners: none

fix: avoid read-only issues with inplace statement (#7446)
  pyvista/core/utilities/helpers.py
Owners: none

Add example on sharing scalar bars (#7444)
  examples/02-plot/sharing_scalar_bars.py
  tests/doc/doc_image_cache/sphx_glr_sharing_scalar_bars_001.jpg
  tests/doc/doc_image_cache/sphx_glr_sharing_scalar_bars_002.jpg
  tests/doc/doc_image_cache/sphx_glr_sharing_scalar_bars_003.jpg
  tests/doc/doc_image_cache/sphx_glr_sharing_scalar_bars_004.jpg
  tests/doc/doc_image_cache/sphx_glr_sharing_scalar_bars_thumb.jpg
Owners: none

Add cross-refs
  examples/01-filter/extract_cells_inside_surface.py
  examples/01-filter/extract_surface.py
  examples/01-filter/extrude_rotate.py
  examples/01-filter/ray_trace.py
  examples/01-filter/reflect.py
  examples/01-filter/rotate.py
  examples/01-filter/warp_by_vector.py
  examples/02-plot/clear.py
  examples/02-plot/colormap.py
  examples/02-plot/gif.py
  examples/02-plot/image_depth.py
  examples/02-plot/movie.py
  examples/02-plot/moving_cmap.py
  examples/02-plot/moving_isovalue.py
  examples/02-plot/opacity.py
  examples/02-plot/plot_over_circular_arc.py
  examples/02-plot/plot_over_line.py
  examples/02-plot/points_gaussian_scale.py
  examples/02-plot/show_edges.py
  examples/02-plot/silhouette.py
  examples/02-plot/spherical.py
  examples/02-plot/themes.py
  examples/02-plot/vector_component.py
  examples/03-widgets/animation.py
  examples/04-lights/attenuation.py
  examples/04-lights/shadows.py
  examples/99-advanced/antarctica.py
  examples/99-advanced/customize_trame_toolbar.py
  examples/99-advanced/planets.py
  examples/99-advanced/ray_trace_moeller.py
  pyvista/examples/downloads.py
Owners: none

Fix broken refs
  doc/source/api/core/pointsets.rst
  examples/00-load/create_point_cloud.py
  examples/02-plot/image_depth.py
  examples/04-lights/mesh_lighting.py
  pyvista/core/filters/data_object.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/examples/downloads.py
  pyvista/plotting/mapper.py
  pyvista/plotting/themes.py
Owners: none

Add cross-refs from API to examples
  examples/01-filter/interpolate_sample.py
  examples/01-filter/project_plane.py
  examples/01-filter/resample.py
  examples/02-plot/backface_props.py
  examples/02-plot/label_points.py
  examples/03-widgets/multi_slider_widget.py
  pyvista/_plot.py
  pyvista/core/celltype.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_object.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/core/utilities/features.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/helpers.py
  pyvista/core/utilities/parametric_objects.py
  pyvista/demos/logo.py
  pyvista/examples/downloads.py
  pyvista/plotting/_property.py
  pyvista/plotting/actor.py
  pyvista/plotting/charts.py
  pyvista/plotting/lights.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotter.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  pyvista/plotting/scalar_bars.py
  pyvista/plotting/widgets.py
  tests/examples/test_sphinx_gallery.py
Owners: none

Fix broken links
  doc/source/api/plotting/conv_func.rst
  examples/02-plot/image_depth.py
Owners: none

Update examples
  examples/01-filter/streamlines_2D.py
  examples/02-plot/sharing_scalar_bars.py
  pyvista/core/filters/data_set.py
  pyvista/examples/downloads.py
  pyvista/plotting/plotter.py
Owners: none

Re-add files
  examples/02-plot/backface_prop.py
  examples/02-plot/point_labels.py
Owners: none

Revert name change
  examples/01-filter/interpolate_sample.py
  examples/01-filter/resample.py
  pyvista/core/filters/data_object.py
  pyvista/core/filters/data_set.py
  pyvista/examples/downloads.py
Owners: none

.github/CODEOWNERS:

/LICENSE                                            @pyvista/admin
/codecov.yml                                        @pyvista/admin
/AUTHORS.rst                                        @pyvista/admin
/joss/                                              @pyvista/admin
/CODE_OF_CONDUCT.md                                 @pyvista/admin
/CODEOWNERS                                         @pyvista/admin
/.github/workflows/auto-approve.yml                 @pyvista/admin
/.github/workflows/testing-and-deployment.yml       @banesullivan
/.github/workflows/docs.yml                         @banesullivan
/.github/workflows/docker-package.yml               @banesullivan
/.github/workflows/vtk-pre-test.yml                 @banesullivan
/pyvista/trame/                                     @pyvista/kitware
