Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

fix order of deprecation in read_legacy
  pyvista/utilities/fileio.py
Labels: none

refactor setting default reader options use ik multiblockplot3dreader
  pyvista/utilities/reader.py
Labels: none

better test for multiblockplot3dreader
  tests/utilities/test_reader.py
Labels: none

Add extrude-trim.py
  examples/01-filter/extrude-trim.py
Labels: documentation

Add example comment
  examples/01-filter/extrude-rotate.py
  examples/01-filter/extrude-trim.py
Labels: documentation

Add warning to threshold that it's a cell filter
  pyvista/core/filters/data_set.py
Labels: none

Add test
  examples/01-filter/extrude-trim.py
  tests/test_filters.py
Labels: documentation

Add an inplace test
  tests/test_filters.py
Labels: none

Add warning to threshold that it's a cell filter (#2597)
  pyvista/core/filters/data_set.py
Labels: none

Add extrude_trim filter
  examples/01-filter/extrude-trim.py
  pyvista/_vtk.py
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
Labels: documentation

Apply suggestions from code review
  examples/01-filter/extrude-rotate.py
Labels: documentation

Apply suggestions from code review
  pyvista/core/filters/poly_data.py
Labels: none

Apply suggestions from code review
  pyvista/core/filters/poly_data.py
Labels: none

Update pyvista/core/filters/poly_data.py
  pyvista/core/filters/poly_data.py
Labels: none

Apply suggestions from code review
  examples/01-filter/extrude-trim.py
Labels: documentation

Fix by black
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
Labels: none

Fix by isort
  pyvista/_vtk.py
Labels: none

Small change to avoid raising exception (#2586)
  pyvista/__init__.py
Labels: none

Create bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: maintenance

Create feature-request.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: maintenance

Create maintenance-request.yml
  .github/ISSUE_TEMPLATE/maintenance-request.yml
Labels: maintenance

Update bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: maintenance

Update bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: maintenance

Update bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: maintenance

Update bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: maintenance

Update bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: maintenance

Update bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: maintenance

Update bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: maintenance

Update bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: maintenance

Update bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: maintenance

Update bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: maintenance

Update bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: maintenance

Update bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: maintenance

Update bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: maintenance

updated vscode gitignore
  .gitignore
Labels: none

updated feature-request.yml
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: maintenance

formatting
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: maintenance

screenshots update
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: maintenance

formatting
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: maintenance

feature request message update
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: maintenance
