Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Update examples/02-plot/anti-aliasing.py
  examples/02-plot/anti-aliasing.py
Labels: documentation

antialiasing --> anti_aliasing
  doc/api/core/composite.rst
  doc/api/core/grids.rst
  doc/api/core/pointsets.rst
  doc/getting-started/why.rst
  doc/index.rst
  doc/user-guide/index.rst
  doc/user-guide/jupyter/index.rst
  doc/user-guide/jupyter/pythreejs.rst
  doc/user-guide/simple.rst
  doc/user-guide/vtk_to_pyvista.rst
  doc/user-guide/what-is-a-mesh.rst
  examples/02-plot/anti-aliasing.py
  pyvista/plotting/helpers.py
  pyvista/plotting/plotting.py
  pyvista/themes.py
  tests/test_theme.py
Labels: documentation

address false case
  doc/api/core/composite.rst
  pyvista/themes.py
Labels: documentation

Update tests/plotting/test_plotting.py
  tests/plotting/test_plotting.py
Labels: none

add note regarding order
  pyvista/plotting/plotting.py
  pyvista/plotting/render_passes.py
  pyvista/plotting/renderer.py
Labels: none

add pbr note
  examples/02-plot/depth_of_field.py
Labels: documentation

various fixes
  examples/02-plot/anti-aliasing.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_passes.py
  pyvista/plotting/renderer.py
  tests/test_render_pass.py
Labels: documentation

Update pyvista/plotting/render_passes.py
  pyvista/plotting/render_passes.py
Labels: none

fix formatting
  tests/plotting/test_plotting.py
Labels: none

MAINT: Work with matplotlib 3.6 dep
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
  pyvista/plotting/colors.py
Labels: none

FIX: Flake
  pyvista/core/filters/data_set.py
Labels: none

FIX: Fmt
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
  pyvista/plotting/colors.py
Labels: none

FIX: isort
  pyvista/plotting/colors.py
Labels: none

FIX: Fix test
  tests/test_theme.py
Labels: none

Add linkcheck
  .github/workflows/docs.yml
  doc/Makefile
Labels: documentation, maintenance

fix github url
  doc/conf.py
  examples/00-load/create-pixel-art.py
Labels: documentation

Fix wrong/invalid URLs
  doc/user-guide/jupyter/itk_plotting.rst
  pyvista/jupyter/itkplotter.py
  pyvista/plotting/plotting.py
Labels: documentation

Fix GitHub URL
  doc/conf.py
  doc/getting-started/installation.rst
  doc/user-guide/jupyter/itk_plotting.rst
  examples/00-load/create-pixel-art.py
  pyvista/jupyter/itkplotter.py
Labels: documentation

Fix 502 link with errors
  CONTRIBUTING.rst
  doc/user-guide/jupyter/ipygany.rst
Labels: documentation

Run every 15 min for tests
  .github/workflows/linkcheck.yml
Labels: maintenance

Run linkcheck periodically
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
Labels: maintenance

merge workflow
  .github/workflows/linkcheck.yml
Labels: maintenance

test
  .github/workflows/linkcheck.yml
Labels: maintenance

install dependencies
  .github/workflows/linkcheck.yml
Labels: maintenance

remove linkcheck command
  doc/Makefile
Labels: documentation

Fix on schedule
  .github/workflows/linkcheck.yml
Labels: maintenance

allow on dispatch
  .github/workflows/linkcheck.yml
Labels: maintenance

Revert changes in this file
  doc/user-guide/jupyter/ipygany.rst
Labels: documentation

Add links to be ignored
  doc/conf.py
Labels: documentation

Update pyvista/_vtk.py
  pyvista/_vtk.py
Labels: none

clean up CI
  .github/workflows/linkcheck.yml
Labels: maintenance

MAINT: Work with matplotlib 3.6 dep (#3195)
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
  pyvista/plotting/colors.py
  tests/test_theme.py
Labels: none

fix docstring
  pyvista/plotting/renderer.py
Labels: none

expand the cell center example
  examples/01-filter/cell-centers.py
Labels: documentation

fix plotter collection on doc build
  pyvista/ext/plot_directive.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window.py
  pyvista/utilities/sphinx_gallery.py
Labels: none

use BUILDING_GALLERY in tests
  pyvista/utilities/sphinx_gallery.py
  tests/plotting/test_collection.py
  tests/test_scraper.py
  tests/tinypages/conf.py
Labels: none

improve tinypages testing
  tests/tinypages/conf.py
  tests/tinypages/index.rst
Labels: none

add untracked
  tests/tinypages/samples.py
  tests/tinypages/some_autodocs.rst
Labels: none

expand testing
  tests/tinypages/samples.py
  tests/tinypages/some_autodocs.rst
Labels: none

remove ren_win attr check
  pyvista/ext/plot_directive.py
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  pyvista/utilities/misc.py
  tests/jupyter/test_pythreejs.py
  tests/plotting/test_plotting.py
  tests/test_plotter.py
  tests/tinypages/samples.py
  tests/tinypages/some_autodocs.rst
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
