Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Fix small typo
  pyvista/core/filters/uniform_grid.py
Labels: none

Fix small typo (#2449)
  pyvista/core/filters/uniform_grid.py
Labels: none

add disable picking
  pyvista/plotting/picking.py
  tests/test_picking.py
Labels: none

Add github-actions's comment when no labels (#2447)
  .github/workflows/label.yml
Labels: maintenance

add missing observers
  pyvista/plotting/picking.py
Labels: none

fix gc
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
Labels: none

Add test of import/export VRML
  tests/plotting/test_plotting.py
Labels: none

Fix extension
  tests/plotting/test_plotting.py
Labels: none

Fix GitHub Action's expression
  .github/workflows/label.yml
Labels: maintenance

Apply suggestions from code review
  .github/workflows/patch.yml
  .github/workflows/release.yml
Labels: maintenance

Add import_vrml
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

Add `DICOMReader` and `pancreas` example
  pyvista/examples/downloads.py
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

Add `test_dcmreader`
  tests/utilities/test_reader.py
Labels: none

Change `download` and `test` to DICOM stack
  pyvista/examples/downloads.py
  tests/utilities/test_reader.py
Labels: none

Call `DICOMReader` in `test_dcmreader` for folder
  pyvista/examples/downloads.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

Updated input handling based on @adeak input
  pyvista/plotting/renderer.py
  tests/test_renderer.py
Labels: none

formatting
  pyvista/plotting/renderer.py
Labels: none

Capitalise error message
  pyvista/plotting/renderer.py
Labels: none

Update `download_dicom_stack` to pull from `VTK_DATA_PATH`
  pyvista/examples/downloads.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

remove callback for disable picking
  tests/test_picking.py
Labels: none

Default set active vectors for filters (#2433)
  pyvista/core/filters/data_set.py
  pyvista/errors.py
  pyvista/utilities/helpers.py
  tests/test_filters.py
  tests/test_helpers.py
Labels: none

Fix `pre-commit` errors
  pyvista/examples/downloads.py
  pyvista/utilities/reader.py
Labels: none

add disable picking (#2450)
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  tests/test_picking.py
Labels: none

Incorporate PR #2460 feedback
  .pre-commit-config.yaml
  pyvista/examples/downloads.py
  pyvista/examples/examples.py
  pyvista/utilities/reader.py
  tests/test_examples.py
  tests/utilities/test_reader.py
Labels: none

Don't make a deep copy in `configure_scalars_mode`
  pyvista/plotting/mapper.py
Labels: none

Verify behavior in test
  tests/plotting/test_plotting.py
Labels: none

Fix teardown issue by using random hills example
  tests/plotting/test_plotting.py
Labels: none

cleanup
  doc/api/readers/index.rst
  doc/index.rst
  pyvista/demos/demos.py
  pyvista/examples/downloads.py
  pyvista/utilities/reader.py
  tests/plotting/test_plotting.py
  tests/utilities/test_reader.py
Labels: documentation

Update pyvista/examples/downloads.py
  pyvista/examples/downloads.py
Labels: none

cleanup common methods
  pyvista/examples/downloads.py
  pyvista/plotting/plotting.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

small test cleanup
  tests/utilities/test_reader.py
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Fix pydocstyle error
  pyvista/examples/vmrl.py
  pyvista/examples/vrml.py
  pyvista/plotting/plotting.py
Labels: none

Add download_teapot
  pyvista/examples/vmrl.py
Labels: none

Fix black
  pyvista/examples/vmrl.py
Labels: none

Add import to __init__.py
  pyvista/examples/__init__.py
  pyvista/examples/vmrl.py
  pyvista/examples/vrml.py
Labels: none

Add _download_file
  pyvista/examples/vrml.py
Labels: none

Add import
  pyvista/examples/vrml.py
Labels: none

Fix by black
  pyvista/examples/vrml.py
Labels: none

Add Box.wrl
  tests/example_files/Box.wrl
  tests/plotting/test_plotting.py
Labels: none
