Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

CI/CD trial
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

CI/CD trial
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

CI/CD trial
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

CI/CD trial
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

CI/CD trial
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

CI/CD trial
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

CI/CD trial
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

CI/CD trial
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

CI/CD trial
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

CI/CD trial
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Reverts CI/CD
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Generates XML only when necessary
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Testing CI/CD
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Testing CI/CD
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Testing CI/CD
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Reinstall pyvista
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Reinstall pyvista
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Reinstall pyvista
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Reinstall pyvista
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Python 3 style using pyupgrade (#3638)
  .pre-commit-config.yaml
  doc/conf.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/poly_data.py
  pyvista/core/pointset.py
  pyvista/ext/coverage.py
  pyvista/ext/plot_directive.py
  pyvista/plotting/charts.py
  pyvista/plotting/colors.py
  pyvista/plotting/renderers.py
  pyvista/plotting/widgets.py
  pyvista/utilities/fileio.py
  pyvista/utilities/reader.py
  tests/check_doctest_names.py
  tests/plotting/conftest.py
  tests/plotting/test_plotting.py
  tests/plotting/test_widgets.py
Labels: documentation

Don't raise on missing key events to clear by default
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  tests/test_render_window_interactor.py
Labels: none

Use the repr of the missing key
  pyvista/plotting/render_window_interactor.py
Labels: none

Add support to modulate the tube filter in absolute units
  examples/00-load/create-spline.py
  pyvista/core/filters/poly_data.py
  tests/test_polydata.py
Labels: documentation

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Apply suggestions from code review
  .pre-commit-config.yaml
Labels: none

Simplify condition for absolute radius
  pyvista/core/filters/poly_data.py
Labels: none

Fix docstring
  pyvista/core/filters/poly_data.py
Labels: none

Update pyvista/plotting/render_window_interactor.py
  pyvista/plotting/render_window_interactor.py
Labels: none

Set consistent style of default values in tube's docstring
  pyvista/core/filters/poly_data.py
Labels: none

Add download meshio/out.h5
  pyvista/examples/downloads.py
Labels: none

Add docstring to class
  pyvista/core/dataset.py
Labels: none

Explicitely use a float for the default value of radius_factor
  pyvista/core/filters/poly_data.py
Labels: none

Fix spline.tube assertions
  tests/test_polydata.py
Labels: none

Update docstring
  pyvista/core/dataset.py
Labels: none

adds autouse wrapper
  tests/plotting/test_plotting.py
  tests/test_demos.py
  tests/test_plotter.py
Labels: none

adds cache directory path
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

changes to coverage command
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

changes to coverage command
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

changes to coverage command
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

adds vtk axis actor
  pyvista/plotting/axes.py
Labels: none
