Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Fix renderer scaling (#3990)
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/plotter_scale.png
  tests/plotting/image_cache/plotter_scale_1.png
  tests/plotting/image_cache/plotter_scale_2.png
  tests/plotting/test_plotting.py
  tests/test_renderer.py
Labels: none

Improve UI state defaults
  pyvista/trame/ui.py
Labels: none

fix gc
  pyvista/jupyter/notebook.py
  pyvista/plotting/renderer.py
Labels: none

Period docs issue
  pyvista/plotting/renderer.py
Labels: none

Pass texture coordinates when wrapping Trimesh object (#3992)
  pyvista/utilities/helpers.py
  tests/test_helpers.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/renderer.py
Labels: none

Pass texture coordinates when wrapping Trimesh object (#3992)
  pyvista/utilities/helpers.py
  tests/test_helpers.py
Labels: none

Improve UI state defaults (#3993)
  pyvista/trame/ui.py
Labels: none

Improve UI state defaults (#3993)
  pyvista/trame/ui.py
Labels: none

Apply suggestions from code review
  requirements_docs.txt
Labels: dependencies

Apply suggestions from code review
  requirements_docs.txt
Labels: dependencies

Add NumFOCUS affiliation status
  README.rst
  doc/index.rst
Labels: documentation

Improve trame server launching
  pyvista/themes.py
  pyvista/trame/jupyter.py
Labels: none

Fix :link-type:
  doc/index.rst
Labels: documentation

Improve elegantly_launch
  pyvista/trame/jupyter.py
Labels: none

Improve trame server launching (#4000)
  pyvista/themes.py
  pyvista/trame/jupyter.py
Labels: none

Improve trame server launching (#4000)
  pyvista/themes.py
  pyvista/trame/jupyter.py
Labels: none

🎉 Add NumFOCUS affiliation status (#3999)
  README.rst
  doc/index.rst
Labels: documentation

🎉 Add NumFOCUS affiliation status (#3999)
  README.rst
  doc/index.rst
Labels: documentation

Fix small typo
  pyvista/plotting/plotting.py
Labels: none

Update themes.py
  pyvista/themes.py
Labels: none

Typo's
  doc/user-guide/jupyter/trame.rst
Labels: documentation

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Fix a small typo (#4003)
  pyvista/plotting/plotting.py
  pyvista/themes.py
Labels: none

Typo's (#4004)
  doc/user-guide/jupyter/trame.rst
Labels: documentation

Add .codacy.yml to exclude examples and tests
  .codacy.yml
Labels: none

Typo's (#4004)
  doc/user-guide/jupyter/trame.rst
Labels: documentation

Fix a small typo (#4003)
  pyvista/plotting/plotting.py
  pyvista/themes.py
Labels: none

Bump version
  pyvista/_version.py
Labels: none

Remove unsed argument categories
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/plotting.py
Labels: none

PR feedback
  examples/00-load/create-unstructured-surface.py
  pyproject.toml
  tests/test_filters.py
Labels: documentation, maintenance

resolve a few coverage gaps, improve a few tests
  tests/test_charts.py
  tests/test_grid.py
Labels: none

Fix update_scalar_bar_range
  pyvista/plotting/plotting.py
Labels: none

BUG: Expose bug with scraping
  .github/workflows/integration-tests.yml
  pyvista/utilities/sphinx_gallery.py
  tests/test_scraper.py
Labels: maintenance

Remove now unused on_timer; add 'no cover' for a few codecov gaps
  pyvista/core/pointset.py
  pyvista/plotting/plotting.py
Labels: none

restore comment to original
  tests/test_filters.py
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Add .codacy.yml to exclude examples and tests (#4011)
  .codacy.yml
Labels: none

FIX: Missing
  .github/workflows/integration-tests.yml
Labels: maintenance

FIX: Better
  .github/workflows/integration-tests.yml
Labels: maintenance

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
