Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

only emit when not building gallery
  doc/conf.py
  pyvista/jupyter/__init__.py
Labels: documentation

Scaled screenshots (#3897)
  pyvista/plotting/plotting.py
  pyvista/themes.py
  pyvista/trame/ui.py
  pyvista/trame/views.py
  pyvista/utilities/regression.py
  tests/plotting/image_cache/plot_window_size_context.png
  tests/plotting/test_plotting.py
  tests/test_plotter.py
Labels: none

add depracation notes to the docs
  doc/user-guide/jupyter/ipygany.rst
  doc/user-guide/jupyter/ipyvtk_plotting.rst
  doc/user-guide/jupyter/panel.rst
  doc/user-guide/jupyter/pythreejs.rst
  pyvista/jupyter/__init__.py
Labels: documentation

Fix ipywidgets import
  pyproject.toml
  pyvista/jupyter/__init__.py
Labels: maintenance

use 3d text actors by default
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/multi_renderers.png
  tests/plotting/image_cache/plot_bounds_axes_with_no_data.png
  tests/plotting/image_cache/plot_helper_volume.png
  tests/plotting/image_cache/plot_label_fmt.png
  tests/plotting/image_cache/plot_show_bounds_params[all-True].png
  tests/plotting/image_cache/plot_show_bounds_params[all-back].png
  tests/plotting/image_cache/plot_show_bounds_params[all-both].png
  tests/plotting/image_cache/plot_show_bounds_params[all-front].png
  tests/plotting/image_cache/plot_show_bounds_params[outer-True].png
  tests/plotting/image_cache/plot_show_bounds_params[outer-back].png
  tests/plotting/image_cache/plot_show_bounds_params[outer-both].png
  tests/plotting/image_cache/plot_show_bounds_params[outer-front].png
  tests/plotting/image_cache/plot_show_grid.png
  tests/plotting/image_cache/plot_show_grid_with_mesh.png
Labels: none

Support window size with trame notebook output
  pyvista/plotting/plotting.py
  pyvista/trame/jupyter.py
  tests/jupyter/test_trame.py
Labels: none

Improve add_silhouette with kwargs and remove default decimation (#3901)
  pyvista/plotting/plotting.py
  pyvista/themes.py
  pyvista/utilities/algorithms.py
  tests/plotting/image_cache/plot_silhouette_non_poly.png
  tests/plotting/test_plotting.py
Labels: none

Allow users to hide menu in Jupyter
  pyvista/trame/jupyter.py
  pyvista/trame/ui.py
Labels: none

Support vtkLegendScaleActor with add_legend_scale (#3716)
  pyvista/_vtk.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/legend_scale.png
  tests/plotting/image_cache/legend_scale_1.png
  tests/plotting/image_cache/legend_scale_2.png
  tests/plotting/test_plotting.py
Labels: none

Apply suggestions from code review
  doc/index.rst
  examples/99-advanced/atomic-orbitals.py
  pyvista/examples/examples.py
  pyvista/plotting/plotting.py
  pyvista/utilities/features.py
Labels: documentation

Update pyvista/plotting/renderer.py
  pyvista/plotting/renderer.py
Labels: none

fix add_silhouette docstring
  pyvista/plotting/plotting.py
Labels: none

fix add_silhouette docstring (#3912)
  pyvista/plotting/plotting.py
Labels: none

add docs
  doc/api/plotting/index.rst
  doc/conf.py
  pyvista/trame/jupyter.py
  pyvista/trame/ui.py
  pyvista/trame/views.py
  tests/jupyter/test_trame.py
Labels: documentation

improve example
  examples/99-advanced/atomic-orbitals.py
  pyvista/examples/examples.py
  tests/examples/test_examples.py
Labels: documentation

add to api docs
  doc/api/plotting/trame.rst
Labels: documentation

uncomment
  examples/99-advanced/atomic-orbitals.py
Labels: documentation

final fixes
  examples/99-advanced/atomic-orbitals.py
  pyvista/examples/examples.py
  tests/examples/test_examples.py
Labels: documentation

Fix small typo
  doc/extras/building_vtk.rst
Labels: documentation

Use 3d text actors by default (#3910)
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/multi_renderers.png
  tests/plotting/image_cache/plot_bounds_axes_with_no_data.png
  tests/plotting/image_cache/plot_helper_volume.png
  tests/plotting/image_cache/plot_label_fmt.png
  tests/plotting/image_cache/plot_show_bounds_params[all-True].png
  tests/plotting/image_cache/plot_show_bounds_params[all-back].png
  tests/plotting/image_cache/plot_show_bounds_params[all-both].png
  tests/plotting/image_cache/plot_show_bounds_params[all-front].png
  tests/plotting/image_cache/plot_show_bounds_params[outer-True].png
  tests/plotting/image_cache/plot_show_bounds_params[outer-back].png
  tests/plotting/image_cache/plot_show_bounds_params[outer-both].png
  tests/plotting/image_cache/plot_show_bounds_params[outer-front].png
  tests/plotting/image_cache/plot_show_grid.png
  tests/plotting/image_cache/plot_show_grid_with_mesh.png
Labels: none

Fix docs errors
  doc/api/plotting/trame.rst
Labels: documentation

Import trame at top level
  pyvista/__init__.py
Labels: none

Undo top level import
  pyvista/__init__.py
Labels: none

Re-add top level import and add trame requirements
  pyvista/__init__.py
  requirements_docs.txt
Labels: dependencies

Update renderer.py
  pyvista/plotting/renderer.py
Labels: none

Try no-inherited-members
  doc/api/plotting/trame.rst
Labels: documentation

Expose add_menu
  pyvista/trame/ui.py
Labels: none

Ugh. just don't document it I guess
  doc/api/plotting/trame.rst
Labels: documentation

Try numpydoc_show_inherited_class_members=False
  doc/conf.py
Labels: documentation

Period!
  pyvista/trame/ui.py
Labels: none

Trivial commit to pick up on full-doc label
  doc/conf.py
Labels: documentation

Deprecate non-Trame Jupyter backends (#3902)
  doc/user-guide/jupyter/ipygany.rst
  doc/user-guide/jupyter/ipyvtk_plotting.rst
  doc/user-guide/jupyter/panel.rst
  doc/user-guide/jupyter/pythreejs.rst
  pyvista/jupyter/__init__.py
  tests/jupyter/test_ipygany.py
  tests/jupyter/test_ipyvtk.py
  tests/jupyter/test_panel.py
  tests/jupyter/test_pythreejs.py
  tests/jupyter/test_trame.py
Labels: documentation

ignore inherited members and attributes
  doc/_templates_full/autosummary/class.rst
Labels: documentation

trivial commit
  doc/README.md
Labels: documentation

Apply suggestions from code review
  examples/99-advanced/atomic-orbitals.py
Labels: documentation

remove full doc build
  .github/workflows/docs.yml
  CONTRIBUTING.rst
  doc/_templates_basic/autosummary/class.rst
  doc/_templates_basic/autosummary/module.rst
  doc/_templates_full/autosummary/class.rst
  doc/_templates_full/autosummary/module.rst
  doc/conf.py
Labels: documentation, maintenance

add back in templates
  doc/_templates/autosummary/class.rst
  doc/_templates/autosummary/module.rst
Labels: documentation

Make sure trame matches theme window_size
  pyvista/plotting/plotting.py
  tests/jupyter/test_trame.py
Labels: none

Fix breaking suggestions
  examples/99-advanced/atomic-orbitals.py
  pyvista/plotting/plotting.py
Labels: documentation

Use plotter window_size for trame viewer if set (#3909)
  doc/api/plotting/index.rst
  doc/api/plotting/trame.rst
  doc/conf.py
  pyproject.toml
  pyvista/__init__.py
  pyvista/jupyter/__init__.py
  pyvista/plotting/plotting.py
  pyvista/trame/jupyter.py
  pyvista/trame/ui.py
  pyvista/trame/views.py
  requirements_docs.txt
  tests/jupyter/test_trame.py
Labels: documentation, maintenance, dependencies

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
