Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

ignore inherited attributes as well
  doc/_templates/autosummary/class.rst
Labels: documentation

Update doc/index.rst
  doc/index.rst
Labels: documentation

remove unnecessary explanation
  examples/99-advanced/atomic-orbitals.py
Labels: documentation

Fix a small typo (#3917)
  doc/extras/building_vtk.rst
  pyvista/plotting/renderer.py
Labels: documentation

Add BaseVTKReader for custom Reader; Use for PVDReader (#3894)
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

Support axes customization (#3656)
  pyvista/plotting/__init__.py
  pyvista/plotting/actor.py
  pyvista/plotting/actor_properties.py
  pyvista/plotting/axes.py
  pyvista/plotting/axes_actor.py
  pyvista/plotting/opts.py
  pyvista/plotting/renderer.py
  requirements_test.txt
  tests/plotting/image_cache/axes_actor_properties.png
  tests/plotting/test_plotting.py
  tests/test_axes.py
Labels: dependencies

Fi reference
  pyvista/themes.py
Labels: none

Ignore inherited members and attributes and switch to the full doc build (#3919)
  .github/workflows/docs.yml
  CONTRIBUTING.rst
  doc/README.md
  doc/_templates/autosummary/class.rst
  doc/_templates/autosummary/module.rst
  doc/_templates_basic/autosummary/class.rst
  doc/_templates_basic/autosummary/module.rst
  doc/conf.py
Labels: documentation, maintenance

Add hydrogen orbitals example (#3825)
  doc/index.rst
  examples/99-advanced/atomic-orbitals.py
  pyvista/examples/examples.py
  pyvista/plotting/plotting.py
  pyvista/plotting/widgets.py
  pyvista/utilities/features.py
  requirements_docs.txt
  requirements_test.txt
  tests/examples/test_examples.py
  tests/test_utilities.py
Labels: documentation, dependencies

Fix InterpolationType and RepresentationType
  pyvista/plotting/_plotting.py
  pyvista/plotting/_property.py
  pyvista/plotting/actor_properties.py
  pyvista/plotting/opts.py
  pyvista/themes.py
  tests/plotting/test_plotting.py
  tests/test_property.py
Labels: none

Fix doctest output
  pyvista/plotting/_property.py
Labels: none

Verify int64 support with trame
  docker/requirements.txt
  environment.yml
  examples_trame/requirements.txt
  pyproject.toml
  requirements_docs.txt
  requirements_test.txt
  tests/jupyter/test_trame.py
Labels: maintenance, dependencies, docker

Only test PBR on VTK9
  tests/test_theme.py
Labels: none

Reset property PBR test
  tests/plotting/image_cache/property.png
  tests/plotting/image_cache/property_pbr.png
  tests/plotting/test_plotting.py
Labels: none

Verify int64 support with trame (#3924)
  docker/requirements.txt
  environment.yml
  examples_trame/requirements.txt
  pyproject.toml
  requirements_docs.txt
  requirements_test.txt
  tests/jupyter/test_trame.py
Labels: maintenance, dependencies, docker

[create-pull-request] update local intersphinx
  doc/intersphinx/imageio-objects.inv
  doc/intersphinx/matplotlib-objects.inv
  doc/intersphinx/pandas-objects.inv
  doc/intersphinx/pytest-objects.inv
  doc/intersphinx/python-objects.inv
  doc/intersphinx/scipy-objects.inv
Labels: documentation

Track is_set on Camera
  examples/02-plot/multi-window.py
  pyvista/plotting/camera.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/trame/views.py
  tests/plotting/image_cache/link_views_camera_set.png
  tests/plotting/image_cache/link_views_camera_set_2.png
  tests/plotting/image_cache/plot_compare_four.png
  tests/plotting/test_plotting.py
Labels: documentation

ignore BLK100 for flake8-black
  .flake8
Labels: maintenance

ignore BLK100 for flake8-black (#3928)
  .flake8
Labels: maintenance

Custom themes and more theme options (#3870)
  pyvista/plotting/_plotting.py
  pyvista/plotting/_property.py
  pyvista/plotting/actor_properties.py
  pyvista/plotting/mapper.py
  pyvista/plotting/opts.py
  pyvista/plotting/plotting.py
  pyvista/themes.py
  pyvista/utilities/misc.py
  tests/plotting/image_cache/property.png
  tests/plotting/image_cache/property_pbr.png
  tests/plotting/test_plotting.py
  tests/test_property.py
  tests/test_theme.py
Labels: none

Track is_set on Camera (#3927)
  examples/02-plot/multi-window.py
  pyvista/plotting/camera.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/trame/views.py
  tests/plotting/image_cache/link_views_camera_set.png
  tests/plotting/image_cache/link_views_camera_set_2.png
  tests/plotting/image_cache/plot_compare_four.png
  tests/plotting/test_plotting.py
Labels: documentation

add intersection edge case test
  pyvista/core/filters/poly_data.py
  tests/filters/test_poly_data.py
Labels: none

add unstructured grid volume plotting
  pyvista/_vtk.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/plot_volume_ugrid.png
  tests/plotting/test_plotting.py
Labels: none

add example
  pyvista/plotting/plotting.py
Labels: none

Remove render_events
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  tests/test_renderer.py
Labels: none

Remove remaining add_render_event call
  pyvista/plotting/renderer.py
Labels: none

Docstrings and force ugrid mapper use
  pyvista/plotting/plotting.py
Labels: none

Use warning
  pyvista/core/filters/poly_data.py
  tests/filters/test_poly_data.py
Labels: none

Fix and improve chart interaction (#3756)
  doc/api/plotting/charts/index.rst
  doc/api/plotting/index.rst
  doc/conf.py
  pyvista/_typing.py
  pyvista/plotting/__init__.py
  pyvista/plotting/charts.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  tests/plotting/image_cache/chart_plot.png
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/test_render_window_interactor.py
Labels: documentation

Fix test
  tests/plotting/test_plotting.py
Labels: none

Support any dataset type
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/plot_volume_ugrid_1.png
  tests/plotting/test_plotting.py
Labels: none

Fix docstring example
  pyvista/plotting/plotting.py
Labels: none

Add intersection edge case test (#3929)
  pyvista/core/filters/poly_data.py
  tests/filters/test_poly_data.py
Labels: none

Fix docstring
  pyvista/plotting/plotting.py
Labels: none

Force redeploy of docs
  .github/workflows/docs.yml
Labels: maintenance

Force redeploy of docs (#3933)
  .github/workflows/docs.yml
Labels: maintenance

Document BasePlotter
  doc/api/plotting/index.rst
Labels: documentation

Update pyvista/plotting/plotting.py
  pyvista/plotting/plotting.py
Labels: none

fix bug
  pyvista/plotting/plotting.py
Labels: none

Fix BasePlotter docstring
  pyvista/plotting/plotting.py
Labels: none
