Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Apply suggestions from code review
  pyvista/utilities/reader.py
Labels: none

apply blackdoc
  pyvista/core/dataset.py
Labels: none

Apply suggestions from code review
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
Labels: none

fix examples and links
  pyvista/core/dataset.py
Labels: none

Apply suggestions from code review
  .git-blame-ignore-revs
Labels: none

add pyfbs to the external examples
  doc/source/images/external-examples/pyfbs.webp
  doc/source/make_external_gallery.py
Labels: documentation

Update conf.py
  doc/source/conf.py
Labels: documentation

Update make_external_gallery.py
  doc/source/make_external_gallery.py
Labels: documentation

Update pyproject.toml
  pyproject.toml
Labels: maintenance

Apply suggestions from code review
  pyvista/ext/coverage.py
Labels: none

Update pv_ipygany.py
  pyvista/jupyter/pv_ipygany.py
Labels: none

Apply suggestions from code review
  pyvista/core/datasetattributes.py
Labels: none

Apply suggestions from code review
  pyvista/core/datasetattributes.py
Labels: none

Fix error of test_composite
  pyvista/core/datasetattributes.py
  pyvista/core/objects.py
  pyvista/core/pointset.py
  tests/test_composite.py
Labels: none

add pyfbs to the external examples (#4157)
  doc/source/images/external-examples/pyfbs.webp
  doc/source/make_external_gallery.py
Labels: documentation

Fix/rectangle to polygon (#4145)
  pyvista/utilities/geometric_objects.py
  tests/test_geometric_objects.py
Labels: none

Link to pytest-pyvista in docs (#4153)
  CONTRIBUTING.rst
  doc/source/extras/index.rst
  doc/source/extras/pytest_plugin.rst
Labels: documentation

Apply suggestions from code review
  pyvista/core/filters/data_set.py
  pyvista/utilities/arrays.py
Labels: none

dataset filters and dataset classes
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
Labels: none

most of plotting
  pyvista/core/dataset.py
  pyvista/core/filters/poly_data.py
  pyvista/core/filters/rectilinear_grid.py
  pyvista/core/filters/structured_grid.py
  pyvista/core/filters/uniform_grid.py
  pyvista/examples/downloads.py
  pyvista/plotting/charts.py
  pyvista/plotting/colors.py
  pyvista/plotting/helpers.py
  pyvista/plotting/lights.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
Labels: none

Update pytest_plugin.rst
  doc/source/extras/pytest_plugin.rst
Labels: documentation

Update Headings.yml
  doc/styles/Google/Headings.yml
Labels: documentation

more work on plotting
  pyvista/plotting/_property.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  pyvista/plotting/scalar_bars.py
  pyvista/plotting/tools.py
Labels: none

Update .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Fix matplotlib import
  pyvista/core/filters/data_set.py
  pyvista/demos/demos.py
  pyvista/plotting/charts.py
  pyvista/plotting/colors.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/themes.py
  pyvista/utilities/errors.py
  requirements.txt
Labels: dependencies

Fix document warning
  doc/source/getting-started/installation.rst
Labels: documentation

Minor revert
  pyvista/demos/demos.py
Labels: none

Try removing enable_anti_aliasing to example
  examples/00-load/linear-cells.py
Labels: documentation

fix doc source dir
  .github/workflows/docs.yml
Labels: maintenance

Add black-doc to pre-commit (#4120)
  .git-blame-ignore-revs
  .pre-commit-config.yaml
  pyproject.toml
  pyvista/examples/downloads.py
Labels: maintenance

disable italic for span.classifier elements
  doc/source/_static/no_italic.css
  doc/source/conf.py
  pyvista/plotting/volume_property.py
  pyvista/plotting/widgets.py
Labels: documentation

remove code border
  doc/source/_static/no_italic.css
  examples/00-load/create-platonic-solids.py
Labels: documentation

Disable anti-aliasing on cells example and fix doc path for CI (#4160)
  .github/workflows/docs.yml
  examples/00-load/linear-cells.py
Labels: documentation, maintenance

Add pyvista.XdmfReader (#2839)
  doc/source/api/readers/index.rst
  pyvista/_vtk.py
  pyvista/examples/downloads.py
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
  tests/examples/test_download_files.py
  tests/utilities/test_reader.py
Labels: documentation

bump pytest-pyvista
  requirements_test.txt
Labels: dependencies

Apply suggestions from code review
  doc/source/make_external_gallery.py
Labels: documentation

Update charts.py
  pyvista/plotting/charts.py
Labels: none

Apply suggestions from code review
  pyvista/core/datasetattributes.py
Labels: none

Apply suggestions from code review
  pyvista/core/filters/poly_data.py
Labels: none

Delete test_boolean_intersection.py
  tests/test_boolean_intersection.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
