Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Fix warning of new version of pydata-sphinx-theme
  doc/_templates/sidebar-nav-bs.html
Labels: documentation

Update plotting.py
  pyvista/plotting/plotting.py
Labels: none

Update test_plotting.py
  tests/plotting/test_plotting.py
Labels: none

Update requirements_docs.txt
  requirements_docs.txt
Labels: dependencies

Add add_cell_labels.png
  tests/plotting/image_cache/add_cell_labels.png
  tests/plotting/test_plotting.py
Labels: none

Fix image
  tests/plotting/image_cache/add_cell_labels.png
  tests/plotting/test_plotting.py
Labels: none

Update test
  tests/plotting/test_plotting.py
Labels: none

Add docstring
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

make chart optional
  tests/plotting/test_plotting.py
Labels: none

expand the cell center example (#3199)
  examples/01-filter/cell-centers.py
Labels: documentation

skip clear on MacOS
  tests/plotting/test_plotting.py
Labels: none

Expose triangle strips in API (#3208)
  examples/00-load/create-polydata-strips.py
  pyvista/core/dataset.py
  pyvista/core/filters/poly_data.py
  pyvista/core/pointset.py
  tests/test_polydata.py
Labels: documentation

Update flake8 path (#3229)
  .pre-commit-config.yaml
Labels: none

keep reference of the render window
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window.py
Labels: none

optimize the close
  pyvista/core/pointset.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
Labels: none

remove extra reference to rendereres
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
  tests/test_renderer.py
Labels: none

Bump pydata-sphinx-theme from 0.9.0 to 0.10.1 and fix warnings (#3238)
  doc/_templates/sidebar-nav-bs.html
  requirements_docs.txt
Labels: documentation, dependencies

move cast_to_pointset to _Point
  pyvista/core/dataset.py
  pyvista/core/pointset.py
Labels: none

rewrite cast_to_pointset and add cast_to_poly_points
  pyvista/core/dataset.py
Labels: none

Add tests
  pyvista/core/dataset.py
  tests/test_dataset.py
Labels: none

clear renderers
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
Labels: none

set the interactor render window
  pyvista/plotting/plotting.py
Labels: none

alright, close the interactor first
  pyvista/plotting/plotting.py
Labels: none

Expose more options of `MultiBlockPlot3DReader` (`vtkMultiBlockPlot3DReader`) (#3150)
  doc/api/readers/enums.rst
  doc/api/readers/index.rst
  doc/conf.py
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
  requirements_docs.txt
  tests/utilities/test_reader.py
Labels: documentation, dependencies

Pyvista -> PyVista (#3231)
  doc/api/plotting/qt_plotting.rst
  doc/conf.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/errors.py
  pyvista/core/filters/poly_data.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/demos/__init__.py
  pyvista/errors.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/camera.py
  pyvista/plotting/colors.py
  pyvista/plotting/plotting.py
  pyvista/plotting/tools.py
  pyvista/themes.py
  pyvista/utilities/features.py
  pyvista/utilities/fileio.py
  pyvista/utilities/misc.py
  tests/test_camera.py
  tests/test_dataset.py
  tests/test_grid.py
  tests/test_polydata.py
  tests/test_utilities.py
Labels: documentation

Pyvista --> PyVista
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  tests/test_plotter.py
  tests/test_renderer.py
Labels: none

Improve pass rendering (#2948)
  doc/api/core/composite.rst
  doc/api/core/grids.rst
  doc/api/core/pointsets.rst
  doc/getting-started/why.rst
  doc/index.rst
  doc/user-guide/index.rst
  doc/user-guide/jupyter/index.rst
  doc/user-guide/jupyter/pythreejs.rst
  doc/user-guide/simple.rst
  doc/user-guide/vtk_to_pyvista.rst
  doc/user-guide/what-is-a-mesh.rst
  examples/00-load/create-unstructured-surface.py
  examples/02-plot/anti-aliasing.py
  examples/02-plot/blurring.py
  examples/02-plot/depth_of_field.py
  examples/02-plot/ssao.py
  pyvista/_vtk.py
  pyvista/core/filters/rectilinear_grid.py
  pyvista/core/grid.py
  pyvista/examples/downloads.py
  pyvista/plotting/helpers.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_passes.py
  pyvista/plotting/renderer.py
  pyvista/themes.py
  tests/filters/test_rectilinear_grid.py
  tests/plotting/image_cache/blurring.png
  tests/plotting/image_cache/depth_of_field.png
  tests/plotting/image_cache/many_multi_pass.png
  tests/plotting/image_cache/ssaa_pass.png
  tests/plotting/image_cache/ssao_pass.png
  tests/plotting/image_cache/ssao_pass_from_helper.png
  tests/plotting/test_plotting.py
  tests/test_examples.py
  tests/test_grid.py
  tests/test_plotter.py
  tests/test_render_pass.py
  tests/test_theme.py
Labels: documentation

init try
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/scalar_bars.py
  pyvista/utilities/sphinx_gallery.py
  requirements_test.txt
  tests/plotting/image_cache/multiblock_volume_rendering.png
  tests/plotting/image_cache/remove_bounds_axes.png
  tests/plotting/image_cache/volume_rendering_from_helper.png
  tests/plotting/image_cache/volume_rendering_from_plotter.png
  tests/plotting/test_collection.py
  tests/plotting/test_plotting.py
  tests/test_scraper.py
  tests/tinypages/conf.py
  tests/tinypages/index.rst
  tests/tinypages/samples.py
  tests/tinypages/some_autodocs.rst
Labels: dependencies

fix plotter collection
  pyvista/ext/plot_directive.py
  pyvista/plotting/charts.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  pyvista/themes.py
  tests/plotting/image_cache/charts_sin.png
  tests/test_theme.py
  tests/test_tinypages.py
Labels: none

retain reference to interactor
  pyvista/plotting/render_window_interactor.py
  pyvista/utilities/sphinx_gallery.py
Labels: none

do not clear out actors on close, let VTK handle the magic
  pyvista/plotting/charts.py
  pyvista/plotting/plotting.py
Labels: none

additional reversions
  pyvista/plotting/render_window_interactor.py
Labels: none

add more tinypages tests
  tests/tinypages/conf.py
  tests/tinypages/index.rst
  tests/tinypages/samples.py
  tests/tinypages/some_autodocs.rst
Labels: none

more reversions
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  tests/test_tinypages.py
  tests/tinypages/conf.py
  tests/tinypages/index.rst
  tests/tinypages/samples.py
  tests/tinypages/some_autodocs.rst
Labels: none

add more tests
  tests/plotting/test_plotting.py
Labels: none

hotfix Pyvista --> PyVista
  pyvista/themes.py
  tests/test_theme.py
Labels: none

add images and tests
  pyvista/plotting/charts.py
  tests/plotting/image_cache/charts_sin.png
  tests/plotting/image_cache/multiblock_volume_rendering.png
  tests/plotting/image_cache/remove_bounds_axes.png
  tests/plotting/image_cache/volume_rendering_from_helper.png
  tests/plotting/image_cache/volume_rendering_from_plotter.png
  tests/plotting/test_plotting.py
Labels: none

remove additional tests
  requirements_test.txt
  tests/plotting/image_cache/charts_sin.png
  tests/plotting/image_cache/multiblock_volume_rendering.png
  tests/plotting/image_cache/remove_bounds_axes.png
  tests/plotting/image_cache/volume_rendering_from_helper.png
  tests/plotting/image_cache/volume_rendering_from_plotter.png
  tests/plotting/test_plotting.py
Labels: dependencies

add in testing req
  requirements_test.txt
Labels: dependencies

revert scalar bar proxy
  pyvista/plotting/renderer.py
  pyvista/plotting/scalar_bars.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
