Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Fix level specification in flying edges example
  examples/01-filter/flying_edges.py
Labels: documentation

Extend contour() scalars type checking
  pyvista/core/filters/data_set.py
Labels: none

Fix #2949
  pyvista/plotting/widgets.py
Labels: none

Full fix
  pyvista/plotting/widgets.py
Labels: none

Make error less confusing by making it less specific
  pyvista/core/filters/data_set.py
Labels: none

One more contour example fix
  examples/01-filter/flying_edges.py
Labels: documentation

Check for rng length
  pyvista/core/filters/data_set.py
Labels: none

Cover errors with tests
  tests/test_filters.py
Labels: none

allow array as scalars for contour; enforce output
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: none

Cover invalid scalars type check in contour
  tests/test_filters.py
Labels: none

improve coverage
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: none

Enforce scalar output for contour filter (#2952)
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: none

Fix the fix in the flying edges example
  examples/01-filter/flying_edges.py
Labels: documentation

Fix a few minor contour()-related issues (#2951)
  examples/01-filter/flying_edges.py
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: documentation

Fix two minor issues causing noise in docs or doc build (#2908)
  pyvista/plotting/renderers.py
  pyvista/utilities/fileio.py
Labels: none

Fix add_mesh_slice_orthogonal() when a name is passed (#2950)
  pyvista/plotting/widgets.py
Labels: none

Add method to check if point is inside cell (#2905)
  pyvista/core/dataset.py
  pyvista/utilities/common.py
  pyvista/utilities/geometric_objects.py
  tests/test_dataset.py
  tests/utilities/test_common.py
Labels: none

Release 0.35.0 (#2902)
  pyvista/_version.py
Labels: none

bump to v0.35.1
  pyvista/_version.py
Labels: none

remove extra reference to camera
  pyvista/plotting/renderer.py
Labels: none

fully implement
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  tests/plotting/test_plotting.py
Labels: none

remove remaining traces of KILL_DISPLAY
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
Labels: none

fix vtk version support
  .github/workflows/testing-and-deployment.yml
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/plotting/plotting.py
  setup.py
  tests/test_filters.py
  tests/test_grid.py
  tests/test_render_window_interactor.py
  tests/utilities/test_reader.py
Labels: maintenance

fix import
  pyvista/_vtk.py
Labels: none

add render window
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window.py
Labels: none

fix background layer
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window.py
  pyvista/utilities/regression.py
  tests/plotting/test_plotting.py
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

move renderers init
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderers.py
  pyvista/utilities/regression.py
  tests/jupyter/test_pythreejs.py
  tests/plotting/test_plotting.py
Labels: none

more progress
  pyvista/plotting/background_renderer.py
  pyvista/plotting/camera.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
Labels: none

much closer
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window.py
  pyvista/plotting/render_window_interactor.py
Labels: none

add basic test
  tests/test_render_window.py
Labels: none

use < 9.3
  setup.py
Labels: none

Delete whitespaces in rst files under doc directory
  doc/_templates/custom-module-template.rst
  doc/api/core/helpers.rst
  doc/extras/vtk_data.rst
  doc/user-guide/data_model.rst
Labels: documentation

permit rc for python 3.10
  setup.py
Labels: none

fix helpers kwargs
  pyvista/plotting/helpers.py
  pyvista/plotting/plotting.py
Labels: none

improve coverage
  tests/plotting/test_plotting.py
Labels: none

add missing image cache
  tests/plotting/image_cache/plot_helper_two_datasets.png
  tests/plotting/image_cache/plot_helper_two_volumes.png
  tests/plotting/image_cache/plot_helper_volume.png
Labels: none

add more mount damavand examples
  pyvista/examples/downloads.py
  tests/test_examples.py
Labels: none

Update pyvista/examples/downloads.py
  pyvista/examples/downloads.py
Labels: none

Update setup.py
  setup.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
