Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Fix a small typo (#4217)
  pyvista/core/texture.py
Labels: none

Add Trims trailing whitespace in pre-commit-hooks (#4211)
  .devcontainer/devcontainer.json
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/maintenance-request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  CITATION.cff
  doc/source/api/core/composite.rst
  doc/source/api/examples/index.rst
  doc/source/api/index.rst
  doc/source/user-guide/data_model.rst
  examples/02-plot/README.rst
  examples_flask/dynamic_ex/templates/index.html
  examples_flask/static_ex/templates/index.html
  tests/tinypages/some_plots.rst
Labels: documentation, maintenance

use vtkappendfilter for polydata
  pyvista/core/filters/poly_data.py
Labels: none

use merge tolerance
  pyvista/core/filters/poly_data.py
Labels: none

simplify typecheck
  pyvista/core/filters/poly_data.py
Labels: none

Improve performance of Trame camera sync
  examples_trame/validation/ManyActors.py
  pyvista/trame/ui.py
  pyvista/trame/views.py
Labels: none

add value range checks
  pyvista/plotting/_property.py
  pyvista/themes.py
  pyvista/utilities/misc.py
  tests/test_property.py
Labels: none

add block opacity checks
  pyvista/plotting/composite_mapper.py
Labels: none

improve docs
  pyvista/plotting/_property.py
  pyvista/themes.py
Labels: none

Improve render events with camera setting
  pyvista/plotting/renderer.py
  pyvista/trame/ui.py
  pyvista/trame/views.py
Labels: none

raise for pointset operations using cells
  pyvista/core/errors.py
  pyvista/core/pointset.py
  tests/test_pointset.py
Labels: none

add delaunay_3d
  pyvista/core/pointset.py
  tests/test_pointset.py
Labels: none

beta --> prod
  pyproject.toml
Labels: maintenance

initial work
  examples/99-advanced/openfoam-tubes.py
  pyvista/examples/downloads.py
Labels: documentation

Test pyansys action
  .github/workflows/docs.yml
Labels: maintenance

Perform untar
  .github/workflows/docs.yml
Labels: maintenance

Ignore compressed file
  .github/workflows/docs.yml
Labels: maintenance

Remove compression operations
  .github/workflows/docs.yml
Labels: maintenance

Fix update_image
  pyvista/trame/views.py
Labels: none

Snake case file names
  examples_trame/basic/algorithm.py
  examples_trame/basic/ui_template.py
  examples_trame/validation/many_actors.py
Labels: none

add example
  examples/99-advanced/openfoam-tubes.py
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: documentation

Update pyvista/core/errors.py
  pyvista/core/errors.py
Labels: none

Fix by black
  pyvista/core/errors.py
Labels: none

Change name of the action
  .github/workflows/docs.yml
Labels: maintenance

Use testing cname
  .github/workflows/docs.yml
Labels: maintenance

Adds stable docs deploy
  .github/workflows/docs.yml
Labels: maintenance

Remove slash
  .github/workflows/docs.yml
Labels: maintenance

Apply suggestions from code review
  doc/source/conf.py
Labels: documentation

add cooling example
  examples/99-advanced/openfoam-cooling.py
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: documentation

Enforce value range testing for properties (#4226)
  pyvista/plotting/_property.py
  pyvista/plotting/composite_mapper.py
  pyvista/themes.py
  pyvista/utilities/misc.py
  tests/test_property.py
Labels: none

Fast merge PolyData (#4227)
  pyvista/core/filters/poly_data.py
Labels: none

Generalize pure VTK example
  doc/source/getting-started/why.rst
Labels: documentation

Add tubes CFD example (#4229)
  examples/99-advanced/openfoam-tubes.py
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: documentation

fix air temperature
  examples/99-advanced/openfoam-cooling.py
Labels: documentation

Fix tests
  pyvista/plotting/picking.py
  tests/test_picking.py
Labels: none

fix scalar bar
  examples/99-advanced/openfoam-cooling.py
Labels: documentation

Docstrings
  pyvista/plotting/picking.py
  pyvista/plotting/render_window_interactor.py
Labels: none

Improve examples and defaults
  examples/02-plot/mesh-picking.py
  examples/02-plot/point-picking.py
  examples/02-plot/surface-picking.py
  pyvista/plotting/picking.py
Labels: documentation

Fix pickable_window test
  tests/test_picking.py
Labels: none

Typo fix
  pyvista/plotting/_property.py
Labels: none
