Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

in-prog
  doc/index.rst
  examples/03-widgets/clip-volume.py
  pyvista/examples/examples.py
  pyvista/plotting/plotting.py
  pyvista/plotting/volume_property.py
  requirements_test.txt
  tests/plotting/test_plotting.py
  tests/test_volume_property.py
Labels: documentation, dependencies

add in rgba volume plotting
  pyvista/plotting/plotting.py
  pyvista/plotting/volume_property.py
  tests/plotting/image_cache/plot_volume_rgba.png
  tests/plotting/test_plotting.py
  tests/test_volume_property.py
Labels: none

minor fix
  pyvista/plotting/plotting.py
Labels: none

add skip version for add_text_latex
  tests/plotting/test_plotting.py
Labels: none

mypy ignore
  pyvista/plotting/mapper.py
Labels: none

Add volume mapper choice notes (#3824)
  pyvista/plotting/plotting.py
Labels: none

add in missing example
  examples/99-advanced/atomic-orbitals.py
Labels: documentation

Wraps vtkProperty
  pyvista/plotting/__init__.py
  pyvista/plotting/actor_properties.py
  pyvista/plotting/axes_actor.py
Labels: none

Fixes docstring test error
  pyvista/plotting/actor_properties.py
Labels: none

Expose axes properties
  pyvista/plotting/actor_properties.py
  pyvista/plotting/axes_actor.py
Labels: none

Adds test for properties
  pyvista/plotting/actor_properties.py
  tests/plotting/test_plotting.py
Labels: none

skip windows mesa
  tests/plotting/test_plotting.py
Labels: none

Add exception for ExplicitStructuredGrid
  pyvista/core/dataset.py
  tests/test_dataset.py
Labels: none

add basic clip-volume
  examples/03-widgets/clip-volume.py
  pyvista/plotting/widgets.py
Labels: documentation

add widget
  examples/03-widgets/clip-volume.py
  pyvista/plotting/mapper.py
  pyvista/plotting/widgets.py
  tests/plotting/test_widgets.py
Labels: documentation

fix example
  examples/03-widgets/clip-volume.py
  pyvista/plotting/widgets.py
Labels: documentation

fix docstrings
  pyvista/plotting/widgets.py
Labels: none

Improves test, adds add_missing_images flag to CI/CD
  .github/workflows/testing-and-deployment.yml
  tests/plotting/test_plotting.py
Labels: maintenance

Bump pytest-pyvista version
  requirements_test.txt
Labels: dependencies

Remove conflicting flag
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Test commit to reset CI/CD
  pyvista/plotting/actor.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Formatting
  pyvista/_vtk.py
Labels: none

Improve error dumping
  .github/workflows/docs.yml
Labels: maintenance

Revert CI/CD
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Only modify logger on VTK9
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
Labels: none

Remove trailing space
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Handle PyVistaDeprecationWarning in ipyvtklink tests
  tests/jupyter/test_ipyvtk.py
Labels: none

Fromatting
  tests/jupyter/test_ipyvtk.py
Labels: none

revert out of scope changes
  pyvista/plotting/mapper.py
  tests/plotting/test_plotting.py
Labels: none

Improve docstrings
  pyvista/trame/views.py
Labels: none

Improve VTK note in requirements.txt
  requirements.txt
Labels: dependencies

fix mypy bug on python 3.11
  pyvista/plotting/mapper.py
Labels: none

skip latex test for vtk<9.2.2
  tests/plotting/test_plotting.py
Labels: none

Update VTK for docs build and limit core requirements (#3822)
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  .gitignore
  doc/Makefile
  doc/_templates_full/autosummary/class.rst
  doc/conf.py
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
  requirements.txt
  requirements_docs.txt
  requirements_test.txt
Labels: documentation, maintenance, dependencies

Fix doctest
  pyvista/jupyter/__init__.py
Labels: none

Add trame theme configuration
  pyvista/themes.py
  pyvista/trame/views.py
Labels: none

Move jupyter_server_name to theme
  pyvista/jupyter/__init__.py
  pyvista/themes.py
  pyvista/trame/jupyter.py
Labels: none

ignore custom opacity
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
