Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Fix error of black
  pyvista/plotting/charts.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Fix the number error of segment in add_lines
  pyvista/plotting/plotting.py
  pyvista/utilities/helpers.py
  tests/test_plotter.py
Labels: none

Fix by black
  tests/test_plotter.py
Labels: none

Fix the error of a test
  pyvista/plotting/plotting.py
Labels: none

Fix test
  tests/test_plotter.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Fix the docstring of camera.py
  pyvista/plotting/camera.py
Labels: none

Remove progressbar from pooch fetch
  pyvista/examples/downloads.py
Labels: none

Remove progress_bar from the downloads API
  pyvista/examples/downloads.py
Labels: none

Fix the docstring of composite.py
  pyvista/core/filters/composite.py
Labels: none

Add test for load paraview camera
  pyvista/plotting/camera.py
  tests/test_camera.py
Labels: none

Add export camera to paraview pvcc with tests
  pyvista/plotting/camera.py
  tests/test_camera.py
Labels: none

Add first version vtkCell wrapping
  pyvista/_vtk.py
  pyvista/core/cell.py
  pyvista/core/dataset.py
Labels: none

Remove progressbar from pooch fetch and downloads API (#3693)
  pyvista/examples/downloads.py
Labels: none

Add CI workflow to test VTK master branch
  .github/workflows/vtk-pre-test.yml
Labels: maintenance

[debug] Trigger workflow in PR
  .github/workflows/vtk-pre-test.yml
Labels: maintenance

Fix VTK install
  .github/workflows/vtk-pre-test.yml
Labels: maintenance

--yes
  .github/workflows/vtk-pre-test.yml
Labels: maintenance

Verbose testing
  .github/workflows/vtk-pre-test.yml
Labels: maintenance

Bump trame
  examples_trame/requirements.txt
  requirements_test.txt
Labels: dependencies

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Apply suggestions from code review
  .pre-commit-config.yaml
Labels: none

Fix the docstring of composite.py (#3694)
  pyvista/core/filters/composite.py
Labels: none

Add tests for Cell class
  pyvista/core/__init__.py
  pyvista/core/cell.py
  tests/test_cells.py
Labels: none

Undoes bad indent
  pyvista/plotting/actor.py
Labels: none

added test assert for circle: all edges of the circle should have apporx the same length
  tests/test_geometric_objects.py
Labels: none

Remove duplicate point, by setting endpoint=False for theta This will not change the total number of points, but the spacing of theta
  pyvista/utilities/geometric_objects.py
Labels: none

Apply suggestions from code review
  pyvista/utilities/parametric_objects.py
Labels: none

Add docstring and str for cell
  pyvista/core/cell.py
  tests/test_cells.py
Labels: none

Adds comments to axes_actor
  pyvista/plotting/axes_actor.py
Labels: none

Adds prop3D wrapper
  pyvista/_vtk.py
  pyvista/plotting/actor.py
  pyvista/plotting/prop3D.py
  pyvista/plotting/volume.py
Labels: none

Adds documentation to Volume and prop3D
  pyvista/plotting/prop3D.py
  pyvista/plotting/volume.py
Labels: none

Fix typo
  pyvista/plotting/volume.py
Labels: none

Improves documentation
  pyvista/plotting/axes.py
  pyvista/plotting/axes_actor.py
Labels: none

Removes unused functions
  pyvista/plotting/axes_actor.py
Labels: none

Adds tests for axis_actor to improve coverage
  tests/plotting/test_plotting.py
Labels: none
