Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Update pyvista/core/pointset.py
  pyvista/core/pointset.py
Labels: none

Update widgets.py
  pyvista/plotting/widgets.py
Labels: none

switch to magpylib
  examples/99-advanced/magnetic-fields.py
  pyvista/examples/downloads.py
  pyvista/plotting/plotting.py
  pyvista/plotting/widgets.py
  tests/examples/test_download_files.py
Labels: documentation

Update widgets.py (#3846)
  pyvista/plotting/widgets.py
Labels: none

update the example
  examples/99-advanced/magnetic-fields.py
  pyvista/examples/downloads.py
  pyvista/plotting/plotting.py
  tests/examples/test_download_files.py
  tests/plotting/test_plotting.py
  tests/test_examples.py
Labels: documentation

Add Magpylib to external gallery
  doc/make_external_gallery.py
Labels: documentation

Update make_external_gallery.py
  doc/make_external_gallery.py
Labels: documentation

Update make_external_gallery.py
  doc/make_external_gallery.py
Labels: documentation

Add files via upload
  doc/images/external-examples/coil_field_lines.png
Labels: documentation

Add tooltip to hide/show UI button
  pyvista/trame/ui.py
Labels: none

Add a `recompute_normals` parameter to `PolyData.save` (#3845)
  pyvista/core/pointset.py
Labels: none

Support 'trame' as named Jupyter backend
  pyvista/jupyter/__init__.py
  pyvista/jupyter/notebook.py
  pyvista/trame/jupyter.py
Labels: none

[WIP] use vtkJSONSceneExporter
  pyvista/_vtk.py
  pyvista/plotting/__init__.py
  pyvista/plotting/export_vtkjs.py
  pyvista/plotting/plotting.py
  pyvista/themes.py
  pyvista/utilities/algorithms.py
  tests/test_export.py
Labels: none

Fix issues with launching trame server in Docker
  docker/jupyter.Dockerfile
  docker/requirements.txt
  examples_trame/requirements.txt
Labels: docker

Improve access to three trame views in Jupyter
  pyvista/jupyter/notebook.py
  pyvista/trame/jupyter.py
  pyvista/trame/ui.py
  pyvista/trame/views.py
Labels: none

Force sync camera when switching modes
  pyvista/trame/ui.py
Labels: none

Add suppress_rendering API to Plotter
  pyvista/plotting/plotting.py
  pyvista/trame/ui.py
Labels: none

Fix render callbacks
  pyvista/plotting/plotting.py
  pyvista/trame/views.py
Labels: none

Update building VTK docs to include web module
  doc/extras/building_vtk.rst
Labels: documentation

Bump trame-vtk
  docker/requirements.txt
  examples_trame/requirements.txt
  pyproject.toml
  requirements_test.txt
Labels: maintenance, dependencies, docker

Update documentation
  doc/user-guide/jupyter/index.rst
  doc/user-guide/jupyter/ipyvtk_plotting.rst
  doc/user-guide/jupyter/trame.rst
Labels: documentation

Add more trame app examples
  .pre-commit-config.yaml
  examples_trame/advanced/contour.py
  examples_trame/basic/PyVistaLocalView.py
  examples_trame/basic/PyVistaRemoteLocalView.py
  examples_trame/basic/PyVistaRemoteView.py
  examples_trame/basic/UITemplate.py
  examples_trame/basic/actor_color.py
  examples_trame/basic/file_viewer.py
  examples_trame/basic/multi_views.py
  examples_trame/basic/vtkAlgorithm.py
  pyvista/examples/downloads.py
  pyvista/trame/ui.py
Labels: none

Add a Magpylib example to external gallery (#3848)
  doc/images/external-examples/coil_field_lines.png
  doc/make_external_gallery.py
Labels: documentation

Add jupyter-server-proxy docs
  doc/getting-started/installation.rst
  doc/user-guide/jupyter/index.rst
  doc/user-guide/jupyter/ipyvtk_plotting.rst
  doc/user-guide/jupyter/panel.rst
  doc/user-guide/jupyter/trame.rst
  docker/jupyter.Dockerfile
  pyvista/themes.py
  pyvista/trame/jupyter.py
  pyvista/trame/ui.py
Labels: documentation, docker

Bump trame
  environment.yml
  examples_trame/requirements.txt
  pyproject.toml
  requirements_test.txt
Labels: maintenance, dependencies

Fix jupyter deps
  pyproject.toml
Labels: maintenance

Remove incorrect comment
  pyvista/jupyter/__init__.py
Labels: none

Remove randomly added import
  pyvista/jupyter/__init__.py
Labels: none

Document 'trame' backend better
  pyvista/jupyter/__init__.py
  pyvista/jupyter/notebook.py
  pyvista/trame/jupyter.py
Labels: none

Update Report dependencies
  pyvista/utilities/errors.py
Labels: none

Fix docstring
  pyvista/trame/views.py
Labels: none

Fix use of ren_win
  pyvista/plotting/plotting.py
  pyvista/trame/ui.py
  tests/test_render_window_interactor.py
Labels: none

Add trame-client dependency
  docker/requirements.txt
  environment.yml
  examples_trame/requirements.txt
  pyproject.toml
  pyvista/utilities/errors.py
  requirements_test.txt
Labels: maintenance, dependencies, docker

Add basic trame jupyter test
  requirements_test.txt
  tests/jupyter/test_trame.py
Labels: dependencies

Fix push_camera use
  pyvista/trame/ui.py
  pyvista/trame/views.py
Labels: none

Utilize SetInputArrayToProcess to avoid setting scalars on source mesh
  pyvista/core/filters/poly_data.py
Labels: none

add in rgba volume plotting (#3830)
  pyvista/plotting/plotting.py
  pyvista/plotting/volume_property.py
  tests/plotting/image_cache/plot_volume_rgba.png
  tests/plotting/image_cache/plot_volume_rgba_1.png
  tests/plotting/test_plotting.py
  tests/test_volume_property.py
Labels: none

Improve Charts compatibility with older and upcoming VTK versions. (#2868)
  doc/api/plotting/charts/index.rst
  doc/api/plotting/index.rst
  pyvista/_vtk.py
  pyvista/plotting/charts.py
  tests/test_charts.py
Labels: documentation

inprog
  pyvista/plotting/lookup_table.py
  pyvista/plotting/plotting.py
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
