Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

add missing req
  requirements_test.txt
Labels: dependencies

close don't show
  tests/jupyter/test_pythreejs.py
Labels: none

add ssao
  examples/00-load/create-unstructured-surface.py
  examples/02-plot/ssao.py
  pyvista/_vtk.py
  pyvista/core/filters/rectilinear_grid.py
  pyvista/core/grid.py
  pyvista/examples/downloads.py
  pyvista/plotting/helpers.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_passes.py
  pyvista/plotting/renderer.py
  tests/filters/test_rectilinear_grid.py
  tests/plotting/image_cache/ssao_pass.png
  tests/plotting/image_cache/ssao_pass_from_helper.png
  tests/plotting/test_plotting.py
  tests/test_examples.py
  tests/test_grid.py
  tests/test_render_pass.py
Labels: documentation

fix tests
  pyvista/plotting/renderer.py
  tests/test_grid.py
Labels: none

More descriptive comment about optional import
  pyvista/_vtk.py
Labels: none

fix example and tests
  examples/02-plot/ssao.py
  pyvista/plotting/render_passes.py
  pyvista/plotting/renderer.py
  tests/plotting/test_plotting.py
  tests/test_render_pass.py
Labels: documentation

fix tests
  tests/plotting/test_plotting.py
Labels: none

Typo fix
  pyvista/plotting/composite_mapper.py
Labels: none

skip on mesa
  pyvista/examples/downloads.py
  tests/plotting/test_plotting.py
  tests/test_render_pass.py
Labels: none

improve example
  examples/02-plot/ssao.py
  pyvista/examples/downloads.py
  tests/test_examples.py
Labels: documentation

clean up example
  examples/02-plot/ssao.py
Labels: documentation

check edge case
  pyvista/plotting/render_passes.py
  tests/test_render_pass.py
Labels: none

fix tests
  pyvista/plotting/render_passes.py
  tests/test_render_pass.py
Labels: none

Saving local copy
  pyvista/core/filters/data_set.py
  pyvista/core/pointset.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  tests/test_renderer.py
Labels: none

Expose triangle strips in API (#2340)
  pyvista/core/pointset.py
  tests/test_polydata.py
Labels: none

fix small issue with strips() doc example (#2340)
  pyvista/core/pointset.py
Labels: none

Update _property.py
  pyvista/plotting/_property.py
Labels: none

Update _property.py
  pyvista/plotting/_property.py
Labels: none

Apply suggestions from code review
  setup.py
Labels: none

skip vtk9 for raise
  tests/test_render_pass.py
Labels: none

Update pyvista/plotting/_property.py
  pyvista/plotting/_property.py
Labels: none

Fix the error of pip option
  doc/getting-started/installation.rst
Labels: documentation

add reorder-edges example
  examples/99-advanced/reorder-edges.py
Labels: documentation

removes int64 from docstring (#3208)
  pyvista/core/pointset.py
Labels: none

includes strip initialization in PolyData (#3208)
  pyvista/core/pointset.py
Labels: none

strip initialization test (#3208)
  tests/test_polydata.py
Labels: none

Typo fix (#3204)
  pyvista/plotting/_property.py
  pyvista/plotting/composite_mapper.py
Labels: none

Render window refactor (#2964)
  pyvista/ext/plot_directive.py
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/background_renderer.py
  pyvista/plotting/camera.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  pyvista/utilities/misc.py
  pyvista/utilities/regression.py
  pyvista/utilities/sphinx_gallery.py
  requirements_test.txt
  tests/jupyter/test_pythreejs.py
  tests/plotting/test_collection.py
  tests/plotting/test_plotting.py
  tests/test_plotter.py
  tests/test_render_window.py
  tests/test_scraper.py
  tests/tinypages/conf.py
  tests/tinypages/index.rst
  tests/tinypages/samples.py
  tests/tinypages/some_autodocs.rst
Labels: dependencies

Revert "Render window refactor (#2964)"
  pyvista/ext/plot_directive.py
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/background_renderer.py
  pyvista/plotting/camera.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  pyvista/utilities/misc.py
  pyvista/utilities/regression.py
  pyvista/utilities/sphinx_gallery.py
  requirements_test.txt
  tests/jupyter/test_pythreejs.py
  tests/plotting/test_collection.py
  tests/plotting/test_plotting.py
  tests/test_plotter.py
  tests/test_render_window.py
  tests/test_scraper.py
  tests/tinypages/conf.py
  tests/tinypages/index.rst
  tests/tinypages/samples.py
  tests/tinypages/some_autodocs.rst
Labels: dependencies

strip setter test (#3208)
  tests/test_polydata.py
Labels: none

Fix the error of pip option (#3209)
  doc/getting-started/installation.rst
Labels: documentation

Revert "Render window refactor (#2964)" (#3214)
  pyvista/ext/plot_directive.py
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/background_renderer.py
  pyvista/plotting/camera.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  pyvista/utilities/misc.py
  pyvista/utilities/regression.py
  pyvista/utilities/sphinx_gallery.py
  requirements_test.txt
  tests/jupyter/test_pythreejs.py
  tests/plotting/test_collection.py
  tests/plotting/test_plotting.py
  tests/test_plotter.py
  tests/test_render_window.py
  tests/test_scraper.py
  tests/tinypages/conf.py
  tests/tinypages/index.rst
  tests/tinypages/samples.py
  tests/tinypages/some_autodocs.rst
Labels: dependencies

Adds example for building a figure with strips (#3208)
  examples/02-plot/strips-example.py
Labels: documentation

Fixes docstring from example (#3208)
  examples/02-plot/strips-example.py
Labels: documentation

Fixes docstring from example (#3208)
  examples/02-plot/strips-example.py
Labels: documentation

Update examples/02-plot/strips-example.py
  examples/02-plot/strips-example.py
Labels: documentation

adds space in docstring (#3208)
  examples/02-plot/strips-example.py
Labels: documentation

trivial commit
  pyvista/ext/plot_directive.py
Labels: none

Update pyvista/ext/plot_directive.py
  pyvista/ext/plot_directive.py
Labels: none

Update .gitignore
  .gitignore
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
