Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Adds image cache path to CI/CD
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Adds image cache path to CI/CD
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Adds mkdir before pytest
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Fix test names
  tests/examples/test_download_files.py
Labels: none

Adds mkdir before pytest
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Fix test names
  tests/examples/test_download_files.py
Labels: none

Add download_meshio_xdmf
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: none

Add test_xdmf_timepoints TODO
  tests/utilities/test_reader.py
Labels: none

Removes image cache path
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Updates pytest-pyvista dependency
  requirements_test.txt
Labels: dependencies

Update conf.py
  doc/conf.py
Labels: documentation

Update conf.py
  doc/conf.py
Labels: documentation

Update conf.py
  doc/conf.py
Labels: documentation

Move google_analytics_id to analytics
  doc/conf.py
  requirements_docs.txt
Labels: documentation, dependencies

Update conf.py
  doc/conf.py
Labels: documentation

Update conf.py
  doc/conf.py
Labels: documentation

Add use_scalar_weights argument (#3189)
  pyvista/core/filters/poly_data.py
  tests/test_polydata.py
Labels: none

Apply suggestions from code review
  doc/conf.py
Labels: documentation

Fix test names (#3631)
  tests/examples/test_download_files.py
Labels: none

Testing CI/CD
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Python 3 style using pyupgrade
  doc/conf.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/poly_data.py
  pyvista/core/pointset.py
  pyvista/ext/coverage.py
  pyvista/ext/plot_directive.py
  pyvista/plotting/charts.py
  pyvista/plotting/renderers.py
  pyvista/plotting/widgets.py
  pyvista/utilities/fileio.py
  pyvista/utilities/reader.py
  tests/check_doctest_names.py
  tests/plotting/conftest.py
  tests/plotting/test_plotting.py
Labels: documentation

Use three statements for readability
  pyvista/core/filters/poly_data.py
Labels: none

Add pre-commit for pyupgrade; add one missed fix
  .pre-commit-config.yaml
  pyvista/plotting/colors.py
Labels: none

Add test for failing callback
  tests/test_helpers.py
Labels: none

Make error message more correct
  tests/test_helpers.py
Labels: none

Check for deprecated downloads
  tests/examples/test_download_files.py
Labels: none

Add test coverage for add_spline_widget with initial_points
  tests/plotting/test_widgets.py
Labels: none

Modifies bad test
  tests/plotting/test_plotting.py
Labels: none

revert pytest command
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Add connectivity tests and class in API
  pyvista/core/__init__.py
  pyvista/core/dataset.py
  tests/test_dataset.py
Labels: none

Change unresolved BasePlotter intersphinx refs to Plotter
  examples/02-plot/multi-window.py
  examples/02-plot/scalar-bars.py
  examples/02-plot/volume.py
  pyvista/core/filters/poly_data.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
Labels: documentation

Move google_analytics_id to analytics in pydata-sphinx-theme (#3634)
  doc/conf.py
  requirements_docs.txt
Labels: documentation, dependencies

Update examples/02-plot/multi-window.py
  examples/02-plot/multi-window.py
Labels: documentation

Add docstring
  pyvista/core/dataset.py
Labels: none

Unbreak example by turning paragraph into comment
  examples/02-plot/multi-window.py
Labels: documentation

Fixes testing CI/CD
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

CI/CD trial
  .github/workflows/style_docstr.yml
Labels: maintenance

CI/CD trial
  .github/workflows/style_docstr.yml
Labels: maintenance

CI/CD trial
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

CI/CD trial
  .github/workflows/testing-and-deployment.yml
Labels: maintenance
