Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Fix by pre-commit
  examples/99-advanced/planets.py
  pyvista/examples/downloads.py
  pyvista/examples/planets.py
Labels: documentation

Example remove_scalar_bar( )
  pyvista/plotting/plotting.py
Labels: none

Fix active plotting scalars for multi-plots (#2980)
  pyvista/core/datasetattributes.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/utilities/helpers.py
  tests/jupyter/test_pythreejs.py
  tests/plotting/image_cache/multi_plot_scalars.png
  tests/plotting/test_collection.py
  tests/plotting/test_plotting.py
  tests/test_plotter.py
  tests/test_utilities.py
Labels: none

Update pyvista/plotting/plotting.py
  pyvista/plotting/plotting.py
Labels: none

move to ScalarBar
  pyvista/plotting/plotting.py
  pyvista/plotting/scalar_bars.py
Labels: none

Update pyvista/plotting/scalar_bars.py
  pyvista/plotting/scalar_bars.py
Labels: none

Update pyvista/plotting/scalar_bars.py
  pyvista/plotting/scalar_bars.py
Labels: none

remove code of conduct checkbox
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: maintenance

Update .github/workflows/docs.yml
  .github/workflows/docs.yml
Labels: maintenance

Specify in CONTRIBUTING.rst use of NumPy docstrings
  CONTRIBUTING.rst
Labels: none

Update feature-request.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: maintenance

Update maintenance-request.yml
  .github/ISSUE_TEMPLATE/maintenance-request.yml
Labels: maintenance

Apply suggestions from code review
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: maintenance

fix docstrings section
  CONTRIBUTING.rst
Labels: none

Specify in CONTRIBUTING.rst use of NumPy docstrings
  CONTRIBUTING.rst
Labels: none

cleanup docstring
  CONTRIBUTING.rst
Labels: none

improve make tables caching
  doc/make_tables.py
Labels: documentation

Fix example
  examples/99-advanced/planets.py
Labels: documentation

Add example remove_scalar_bar( ) (#3005)
  pyvista/plotting/scalar_bars.py
Labels: none

remove code of conduct checkbox (#3006)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/maintenance-request.yml
Labels: maintenance

Specify in CONTRIBUTING.rst use of NumPy docstrings (#3004)
  CONTRIBUTING.rst
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Removing docstring and return statement (#2999)
  pyvista/_vtk.py
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

Include area values in the images
  pyvista/core/filters/data_set.py
Labels: none

Add example camera_position property
  pyvista/plotting/plotting.py
Labels: none

Fix args
  examples/99-advanced/planets.py
  pyvista/examples/planets.py
Labels: documentation

Add background_color property example
  pyvista/plotting/plotting.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/plotting.py
Labels: none

Clear charts when clearing plotters (#2991)
  pyvista/plotting/charts.py
  pyvista/plotting/renderer.py
  tests/test_charts.py
Labels: none

Fix by pre-commit run --all-files
  pyvista/plotting/plotting.py
Labels: none

Update pyvista/plotting/plotting.py
  pyvista/plotting/plotting.py
Labels: none

Update pyvista/plotting/plotting.py
  pyvista/plotting/plotting.py
Labels: none

Update pyvista/plotting/plotting.py
  pyvista/plotting/plotting.py
Labels: none

Update pyvista/plotting/plotting.py
  pyvista/plotting/plotting.py
Labels: none

Update pyvista/plotting/plotting.py
  pyvista/plotting/plotting.py
Labels: none

Fix args
  pyvista/examples/planets.py
Labels: none

Include area values in the images (#3011)
  pyvista/core/filters/data_set.py
Labels: none

Add background_color example
  pyvista/plotting/plotting.py
Labels: none

Add background_color example
  pyvista/plotting/plotting.py
Labels: none

fix the flying edges_example
  examples/01-filter/flying_edges.py
Labels: documentation

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
