Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

updated maintenance request .yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: maintenance

updated request form
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/maintenance-request.yml
Labels: maintenance

removed maintenance-request.md
  .github/ISSUE_TEMPLATE/maintenance-request.md
Labels: maintenance

updated feature-request form
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: maintenance

feature-request update
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: maintenance

bug-report instructions update
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: maintenance

validations update
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: maintenance

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Update .gitignore
  .gitignore
Labels: none

Apply suggestions from code review
  pyvista/core/filters/poly_data.py
Labels: none

Apply suggestions from code review
  pyvista/core/filters/poly_data.py
Labels: none

Bump contributor-covenant from 2.0 to 2.1
  CODE_OF_CONDUCT.md
Labels: documentation

Add issue forms (#2601)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/maintenance-request.md
  .github/ISSUE_TEMPLATE/maintenance-request.yml
Labels: maintenance

Update pyvista/conftest.py
  pyvista/conftest.py
Labels: none

test for too long of a key
  pyvista/themes.py
  tests/test_theme.py
Labels: none

Fix imports of vtkExtractEdges and vtkCellTreeLocator (#2585)
  pyvista/_vtk.py
Labels: none

Refactor test to print offending long key
  tests/test_theme.py
Labels: none

Add split sharp edges to theme (#2575)
  pyvista/conftest.py
  pyvista/plotting/plotting.py
  pyvista/themes.py
  tests/test_theme.py
Labels: none

Add warning tests of integer vectors
  tests/test_filters.py
Labels: none

Apply suggestions from code review
  tests/test_filters.py
Labels: none

Update data_set.py
  pyvista/core/filters/data_set.py
Labels: none

Apply suggestions from code review
  tests/test_filters.py
Labels: none

Apply suggestions from code review
  tests/test_filters.py
Labels: none

Update test_filters.py
  tests/test_filters.py
Labels: none

Update tests/test_filters.py
  tests/test_filters.py
Labels: none

Fix by black
  tests/test_filters.py
Labels: none

fix all_scalars in threshold
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: none

fix existing test
  tests/test_filters.py
Labels: none

cleanup format of test code
  tests/test_filters.py
Labels: none

Apply suggestions from code review
  pyvista/core/filters/poly_data.py
Labels: none

removed_axes range from plotter, improved renderer handling of axes_ranges
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
Labels: none

Apply suggestions from code review
  pyvista/core/filters/poly_data.py
Labels: none

Apply suggestions from code review
  tests/test_filters.py
Labels: none

Apply suggestions from code review
  tests/test_filters.py
Labels: none

Apply suggestions from code review
  tests/test_filters.py
Labels: none

Apply suggestions from code review
  pyvista/core/filters/poly_data.py
Labels: none

updated tests
  pyvista/plotting/renderer.py
  tests/test_renderer.py
Labels: none

Add lazy import of vtkPOpenFOAMReader
  pyvista/_vtk.py
Labels: none

Added new POpenFOAMReader
  pyvista/utilities/reader.py
Labels: none

Added docstring for case_type property
  pyvista/utilities/reader.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
