Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

add tests
  pyvista/examples/__init__.py
  pyvista/examples/downloads.py
  pyvista/examples/vrml.py
  tests/test_examples.py
Labels: none

More descriptive comment about optional import (#3200)
  pyvista/_vtk.py
Labels: none

Add linkcheck periodically (#3166)
  .github/workflows/linkcheck.yml
  CONTRIBUTING.rst
  doc/conf.py
  doc/getting-started/installation.rst
  doc/user-guide/jupyter/itk_plotting.rst
  examples/00-load/create-pixel-art.py
  pyvista/jupyter/itkplotter.py
  pyvista/plotting/plotting.py
Labels: documentation, maintenance

convert to pooch
  pyvista/__init__.py
  pyvista/examples/__init__.py
  pyvista/examples/downloads.py
  pyvista/examples/gltf.py
  pyvista/examples/hdr.py
  pyvista/examples/vrml.py
  tests/test_examples.py
Labels: none

add dep
  pyvista/examples/downloads.py
  setup.py
Labels: none

fix tests and workflows
  .github/workflows/docs.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  pytest.ini
  pyvista/__init__.py
  pyvista/examples/__init__.py
  pyvista/examples/downloads.py
  tests/conftest.py
  tests/plotting/test_plotting.py
  tests/test_download_files.py
  tests/test_downloads.py
  tests/test_examples.py
  tests/utilities/test_reader.py
Labels: maintenance

add missing progress bar
  pyvista/examples/downloads.py
Labels: none

Update examples/02-plot/strips-example.py
  examples/02-plot/strips-example.py
Labels: documentation

Apply suggestions from code review
  examples/02-plot/strips-example.py
  pyvista/core/pointset.py
  tests/test_polydata.py
Labels: documentation

Update requirements_docs.txt
  requirements_docs.txt
Labels: dependencies

Pin version of sphinx-toolbox
  requirements_docs.txt
Labels: dependencies

improve coverage
  tests/utilities/test_reader.py
Labels: none

maintain backwards compatability for pyvistaqt and mne
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window.py
  tests/test_render_window.py
Labels: none

add notes
  pyvista/plotting/plotting.py
Labels: none

Update pytest.ini
  pytest.ini
Labels: none

make backwards compatible
  doc/api/examples/index.rst
  pyvista/examples/downloads.py
  pyvista/examples/gltf.py
  pyvista/examples/vrml.py
  tests/conftest.py
  tests/test_download_files.py
  tests/test_downloads.py
  tests/utilities/test_reader.py
Labels: documentation

fix mac build and style
  .github/workflows/testing-and-deployment.yml
  pyvista/examples/hdr.py
Labels: maintenance

adds n_strips function and testing (#3208)
  pyvista/core/pointset.py
  tests/test_polydata.py
Labels: none

add strips to thee repr (#3208)
  pyvista/core/dataset.py
Labels: none

checks if object has strip option (#3208)
  pyvista/core/dataset.py
Labels: none

Update pyvista/core/dataset.py
  pyvista/core/dataset.py
Labels: none

improve example
  examples/00-load/create-polydata-strips.py
  examples/02-plot/strips-example.py
Labels: documentation

improve example again
  examples/00-load/create-polydata-strips.py
  pyvista/core/filters/poly_data.py
Labels: documentation

better point array
  examples/00-load/create-polydata-strips.py
Labels: documentation

improve collection of charts
  pyvista/jupyter/notebook.py
  pyvista/plotting/charts.py
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/charts_sin.png
  tests/plotting/image_cache/remove_bounds_axes.png
  tests/plotting/test_charts.py
  tests/plotting/test_plotting.py
Labels: none

add back in remove charts
  pyvista/plotting/renderer.py
Labels: none

fix uniform tests
  pyvista/plotting/renderer.py
  pyvista/utilities/helpers.py
  tests/plotting/test_plotting.py
Labels: none

add back in images
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  tests/plotting/image_cache/array_volume_rendering.png
  tests/plotting/image_cache/multiblock_volume_rendering.png
  tests/plotting/image_cache/volume_rendering.png
Labels: none

test closing the plotter with show and close
  tests/plotting/test_plotting.py
Labels: none

add optional kwarg docs
  pyvista/plotting/charts.py
Labels: none

Update flake8 path
  .pre-commit-config.yaml
Labels: none

depreciate deep_clean
  pyvista/plotting/background_renderer.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  pyvista/plotting/scalar_bars.py
  tests/plotting/image_cache/clear.png
  tests/plotting/test_charts.py
  tests/plotting/test_plotting.py
  tests/test_charts.py
Labels: none

fix changing list size
  pyvista/plotting/plotting.py
  tests/test_plotter.py
  tests/test_renderer.py
Labels: none

Rename method: overwrite -> copy_from
  examples/02-plot/isovalue.py
  examples/02-plot/mesh-picking.py
  examples/02-plot/movie_glyphs.py
  examples/03-widgets/multi-slider-widget.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  tests/test_dataset.py
Labels: documentation

Fix note
  pyvista/core/dataset.py
Labels: none

Pyvista -> PyVista
  doc/api/plotting/qt_plotting.rst
  doc/conf.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/errors.py
  pyvista/core/filters/poly_data.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/demos/__init__.py
  pyvista/errors.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/camera.py
  pyvista/plotting/colors.py
  pyvista/plotting/plotting.py
  pyvista/plotting/tools.py
  pyvista/themes.py
  pyvista/utilities/features.py
  pyvista/utilities/fileio.py
  pyvista/utilities/misc.py
  tests/test_camera.py
  tests/test_dataset.py
  tests/test_grid.py
  tests/test_polydata.py
  tests/test_utilities.py
Labels: documentation

Standardize warnings
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/filters/poly_data.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/utilities/helpers.py
Labels: none

Add parameters docs
  pyvista/core/dataset.py
Labels: none

Depreciate -> deprecate
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
Labels: none

Add add_cell_labels
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
