Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Revert unrelated changes
  pyvista/core/filters/data_set.py
Labels: none

Fix invert usage
  pyvista/core/filters/data_set.py
Labels: none

Improve test
  tests/test_filters.py
Labels: none

Attempt fix invert for BETWEEN sub VTK9.1
  pyvista/core/filters/data_set.py
Labels: none

Drop support for invert VTK<9
  pyvista/core/filters/data_set.py
  tests/plotting/test_widgets.py
  tests/test_filters.py
Labels: none

Improve docs
  pyvista/core/filters/data_set.py
Labels: none

Improve docs
  pyvista/core/filters/data_set.py
Labels: none

Fix docstring
  pyvista/core/filters/data_set.py
Labels: none

Update pyvista/core/filters/data_set.py
  pyvista/core/filters/data_set.py
Labels: none

Fix docstrings
  pyvista/core/filters/data_set.py
Labels: none

Fix typo
  pyvista/core/filters/data_set.py
Labels: none

More docstrings fixes
  pyvista/core/filters/data_set.py
  pyvista/plotting/widgets.py
Labels: none

Fix docstrings
  pyvista/core/filters/data_set.py
Labels: none

Improve coverage
  tests/test_filters.py
Labels: none

* Support interaction with multiple charts. * Support enabling chart interaction from code. * Fix chart interaction bug when there are multiple subplots. * Add `Chart` type.
  pyvista/_typing.py
  pyvista/plotting/charts.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  tests/test_charts.py
Labels: none

Get part with default value PVD reader
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

use pytest_pyvista v0.1.2
  .github/workflows/testing-and-deployment.yml
  requirements_test.txt
Labels: maintenance, dependencies

* Fix autoscaling axes issue * Add render_event handling to ``Renderer`` class
  pyvista/plotting/charts.py
  pyvista/plotting/renderer.py
  tests/test_renderer.py
Labels: none

Add interactive property
  pyvista/plotting/charts.py
Labels: none

Add between(2,3) test
  tests/test_filters.py
Labels: none

Add value sequence check
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: none

Fix test and type alias in docs
  doc/api/plotting/charts/index.rst
  doc/conf.py
  tests/test_charts.py
Labels: documentation

Add fix for #3224
  pyvista/_vtk.py
Labels: none

Fix type alias for docs
  doc/conf.py
Labels: documentation

Switch from update to render
  pyvista/plotting/charts.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  tests/test_charts.py
Labels: none

Plotter show returns img even if return_cpos is false
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

Add main __all__, make utilities imports explicit
  pyvista/__init__.py
Labels: none

Add utilities submodules for tests
  pyvista/__init__.py
Labels: none

Depreciate -> deprecate
  pyvista/core/errors.py
  pyvista/plotting/plotting.py
Labels: none

Fix remaining utilities imports
  pyvista/__init__.py
Labels: none

Remove stdlib and third-party names
  pyvista/__init__.py
Labels: none

Utilities imports in main __init__.py still
  pyvista/__init__.py
Labels: none

Restore fix for circular import
  pyvista/__init__.py
Labels: none

Fix docs
  CONTRIBUTING.rst
Labels: none

Bump pytest-pyvista
  .github/workflows/testing-and-deployment.yml
  requirements_test.txt
Labels: maintenance, dependencies

pragma: no cover
  pyvista/core/filters/data_set.py
Labels: none

Improve typing
  pyvista/core/composite.py
  pyvista/plotting/renderer.py
Labels: none

Revert dtype
  pyvista/plotting/renderer.py
Labels: none

Fix CI failures
  tests/plotting/test_plotting.py
Labels: none

CI conda failures
  tests/plotting/test_plotting.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
