Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Add support for NIFTI files with .nii and .nii.gz extensions.
  pyvista/_vtk.py
  pyvista/examples/downloads.py
  pyvista/utilities/fileio.py
  pyvista/utilities/reader.py
  tests/test_examples.py
  tests/test_utilities.py
Labels: none

use stable version python for links
  doc/conf.py
  doc/intersphinx/update.sh
Labels: documentation

Update docs
  doc/api/readers/index.rst
  pyvista/examples/downloads.py
Labels: documentation

Add NIFTIReader test
  pyvista/utilities/__init__.py
  tests/utilities/test_reader.py
Labels: none

Use slightly more descriptive venv name
  docker/dev-gitpod.Dockerfile
Labels: docker

remove unneeded workdir change
  docker/dev-gitpod.Dockerfile
Labels: docker

revert example name change
  examples/00-load/create-unstructured-surface.py
Labels: documentation

Conform to style conventions
  pyvista/utilities/reader.py
Labels: none

use skip_windows_mesa
  tests/plotting/test_plotting.py
Labels: none

set active scalars
  examples/01-filter/collisions.py
Labels: documentation

Apply suggestions from code review
  tests/utilities/test_reader.py
Labels: none

skip mesa for ssaa pass
  tests/plotting/test_plotting.py
Labels: none

add in numbers
  examples/00-load/linear-cells.py
Labels: documentation

expand mesa skip
  tests/plotting/test_plotting.py
Labels: none

Use stable version python for links (#3285)
  doc/conf.py
  doc/intersphinx/update.sh
Labels: documentation

Add repo owner condition to CI jobs that interact
  .github/workflows/greetings.yml
  .github/workflows/intersphinx-update-pull-request.yml
  .github/workflows/pre-commit-update.yml
Labels: maintenance

Delete the merge-me CI job
  .github/workflows/merge-me.yml
Labels: maintenance

add some documentation
  CONTRIBUTING.rst
Labels: none

Backwards compatible unpickle
  pyvista/core/dataobject.py
Labels: none

Dispatch readers/writer via dict, update docstrings
  pyvista/core/dataobject.py
Labels: none

Use lowercase convention for string flags, add test for helper
  pyvista/__init__.py
  pyvista/core/dataobject.py
  pyvista/utilities/misc.py
  tests/test_dataset.py
  tests/test_utilities.py
Labels: none

Use XML readers/writers for pickling
  pyvista/_vtk.py
  pyvista/core/dataobject.py
Labels: none

Make pickle serialization format configurable
  pyvista/__init__.py
  pyvista/_vtk.py
  pyvista/core/dataobject.py
  pyvista/utilities/misc.py
  tests/test_dataset.py
Labels: none

Black
  pyvista/core/dataobject.py
Labels: none

Minor typos
  pyvista/core/dataobject.py
Labels: none

initial refactor
  pyvista/_vtk.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  tests/test_mapper.py
Labels: none

fix scalar map mode
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/mapper.py
Labels: none

remove comment
  pyvista/plotting/mapper.py
Labels: none

add actor
  doc/api/plotting/index.rst
  pyvista/plotting/__init__.py
  pyvista/plotting/_property.py
  pyvista/plotting/actor.py
  pyvista/plotting/axes.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/tools.py
Labels: documentation

Add linear cells example (#3259)
  doc/api/core/pointsets.rst
  doc/api/examples/index.rst
  examples/00-load/create-unstructured-surface.py
  examples/00-load/linear-cells.py
  pyvista/core/pointset.py
  pyvista/examples/__init__.py
  pyvista/examples/cells.py
  pyvista/plotting/plotting.py
  tests/examples/test_cells.py
  tests/examples/test_downloads.py
  tests/examples/test_examples.py
  tests/plotting/image_cache/plot_cell.png
  tests/plotting/test_plotting.py
Labels: documentation

Clean up CI job conditions to prevent PRs on forks (#3291)
  .github/workflows/greetings.yml
  .github/workflows/intersphinx-update-pull-request.yml
  .github/workflows/merge-me.yml
  .github/workflows/pre-commit-update.yml
Labels: maintenance

Add PyViewFactor to Connections
  doc/getting-started/connections.rst
Labels: documentation

fix wireframe color
  pyvista/plotting/_property.py
  tests/plotting/image_cache/wireframe_color.png
  tests/plotting/test_plotting.py
Labels: none

use apt-pkgs v1.1.1
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

more progress
  pyvista/plotting/_property.py
  pyvista/plotting/actor.py
  pyvista/plotting/mapper.py
Labels: none

bump cache version to 3.0
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Pickle DataObjects with XML readers/writers (#3286)
  pyvista/__init__.py
  pyvista/_vtk.py
  pyvista/core/dataobject.py
  pyvista/utilities/misc.py
  tests/test_dataset.py
  tests/test_utilities.py
Labels: none

use apt-pkgs v1.1.1 (#3300)
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

set active scalars (#3287)
  examples/01-filter/collisions.py
Labels: documentation

Add support for NIFTI files with .nii and .nii.gz extensions. (#3284)
  doc/api/readers/index.rst
  pyvista/_vtk.py
  pyvista/examples/downloads.py
  pyvista/utilities/__init__.py
  pyvista/utilities/fileio.py
  pyvista/utilities/reader.py
  tests/examples/test_examples.py
  tests/test_utilities.py
  tests/utilities/test_reader.py
Labels: documentation
