Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Apply suggestions from code review
  pyvista/core/filters/poly_data.py
Labels: none

Fix type annotation
  pyvista/plotting/widgets.py
Labels: none

add test, fix type
  pyvista/core/filters/poly_data.py
  tests/test_polydata.py
Labels: none

Rotate teapot for flip_z example
  pyvista/core/dataset.py
Labels: none

Add empty line after examples
  pyvista/core/dataset.py
Labels: none

test fix of labeling
  .github/workflows/label.yml
Labels: maintenance

Ensure same name arrays do not shallow copy (#2872)
  pyvista/core/datasetattributes.py
Labels: none

Additonal revert of #2877
  .github/workflows/label.yml
Labels: maintenance

add crushed can example
  pyvista/examples/downloads.py
  pyvista/utilities/reader.py
  tests/test_examples.py
  tests/utilities/test_reader.py
Labels: none

Apply suggestions from code review
  .github/workflows/label.yml
Labels: maintenance

Fix docs on ipyvtklink usage
  doc/user-guide/jupyter/ipyvtk_plotting.rst
  pyvista/jupyter/notebook.py
Labels: documentation

ensure remains shallow copy when added to plotter
  tests/test_plotter.py
Labels: none

Additonal revert of #2877 (#2886)
  .github/workflows/label.yml
Labels: maintenance

Update .mailmap
  .mailmap
Labels: none

Skip theme doctests to prevent leaking into doc build
  pyvista/themes.py
Labels: none

Skip deprecated reader doctest
  pyvista/utilities/fileio.py
Labels: none

Test
  .github/workflows/label.yml
Labels: maintenance

Revert "Test"
  .github/workflows/label.yml
Labels: maintenance

Update tests/test_plotter.py
  tests/test_plotter.py
Labels: none

Additional revert of #2877
  .github/workflows/label.yml
Labels: maintenance

Update label.yml
  .github/workflows/label.yml
Labels: maintenance

Apply suggestions from code review
  .github/workflows/label.yml
Labels: maintenance

use python 3.9 with new osmesa wheel (#2876)
  .github/workflows/docs.yml
Labels: maintenance

Add non-included plot directive that resets theme
  doc/conf.py
Labels: documentation

add cell_point_ids
  pyvista/core/dataset.py
  tests/test_dataset.py
Labels: none

Initial gaussian_points representation style implementation
  pyvista/_vtk.py
  pyvista/plotting/plotting.py
Labels: none

Use additional test for point ids
  tests/test_dataset.py
Labels: none

Add image_fft and image_rfft (#1953)
  examples/01-filter/image-fft-perlin-noise.py
  examples/01-filter/image-fft.py
  examples/01-filter/sampling_functions_2d.py
  pyvista/_vtk.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/uniform_grid.py
  pyvista/core/imaging.py
  pyvista/errors.py
  pyvista/examples/downloads.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  tests/conftest.py
  tests/test_datasetattributes.py
  tests/test_grid.py
  tests/test_plotter.py
Labels: documentation

add some decimate_pro arguments (#2874)
  pyvista/core/filters/poly_data.py
  tests/test_polydata.py
Labels: none

Plane widget methods support user-defined origin (#2883)
  pyvista/plotting/widgets.py
Labels: none

Additional revert of #2877 (#2893)
  .github/workflows/label.yml
Labels: maintenance

Fix docs on ipyvtklink usage (#2887)
  doc/user-guide/jupyter/ipyvtk_plotting.rst
  pyvista/jupyter/notebook.py
Labels: documentation

Rotate teapot for flip_z() doctest example (#2885)
  pyvista/core/dataset.py
Labels: none

Tecplot ascii data reader (#2875)
  doc/api/readers/index.rst
  pyvista/_vtk.py
  pyvista/examples/downloads.py
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: documentation

Language clarification
  pyvista/core/dataset.py
Labels: none

Delete release.yml
  .github/workflows/release.yml
Labels: maintenance

Delete patch.yml
  .github/workflows/patch.yml
Labels: maintenance

Apply suggestions from code review
  CONTRIBUTING.rst
Labels: none

Apply suggestions from code review
  CONTRIBUTING.rst
Labels: none

Apply suggestions from code review
  CONTRIBUTING.rst
Labels: none
