Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Renames the Rectangle class in Quadrilateral class and adds specific Rectangle class
  pyvista/utilities/geometric_objects.py
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

Apply typo fix using codespell v2.2.4
  Makefile
  joss/paper.bib
  pyvista/core/pointset.py
Labels: maintenance

Add Auto fixes to ci
  .github/workflows/style_docstr.yml
Labels: maintenance

Demo of Auto fixes from pre-commit
  pyvista/core/dataset.py
Labels: none

Apply suggestions from code review
  .github/workflows/style_docstr.yml
Labels: maintenance

auto fixes from pre-commit hooks
  pyvista/core/dataset.py
Labels: none

Corresponding to an unchanged pre-commit.
  .github/workflows/style_docstr.yml
Labels: maintenance

Demo unchanged pre-commit error
  pyvista/core/cell.py
Labels: none

Update cell.py
  pyvista/core/cell.py
Labels: none

Apply suggestions from code review
  pyvista/core/cell.py
Labels: none

Demo again!
  pyvista/core/dataset.py
Labels: none

auto fixes from pre-commit hooks
  pyvista/core/dataset.py
Labels: none

Apply typo fix using codespell v2.2.4 (#4122)
  Makefile
  joss/paper.bib
  pyvista/core/pointset.py
Labels: maintenance

add docformatter
  .pre-commit-config.yaml
  pyproject.toml
Labels: maintenance

update config
  .pre-commit-config.yaml
  pyproject.toml
Labels: maintenance

update config
  .pre-commit-config.yaml
Labels: none

format with pydocstringformatter
  .pre-commit-config.yaml
  pyproject.toml
  pyvista/_version.py
  pyvista/core/dataobject.py
  pyvista/core/filters/uniform_grid.py
  pyvista/core/objects.py
  pyvista/core/pointset.py
  pyvista/ext/coverage.py
  pyvista/ext/plot_directive.py
  pyvista/plotting/actor_properties.py
  pyvista/plotting/axes_actor.py
  pyvista/plotting/helpers.py
  pyvista/plotting/plotting.py
  pyvista/plotting/scalar_bars.py
  pyvista/themes.py
  pyvista/utilities/errors.py
  pyvista/utilities/features.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/reader.py
Labels: maintenance

add config
  .pre-commit-config.yaml
Labels: none

add hertzian contact example
  examples/99-advanced/fea-hertzian-contact-pressure.py
  pyvista/examples/downloads.py
Labels: documentation

work on hertzian contact example
  examples/99-advanced/fea-hertzian-contact-pressure.py
Labels: documentation

cleanup
  examples/99-advanced/fea-hertzian-contact-pressure.py
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: documentation

add legend
  examples/99-advanced/fea-hertzian-contact-pressure.py
Labels: documentation

clean up colormap
  examples/99-advanced/fea-hertzian-contact-pressure.py
Labels: documentation

Update examples/99-advanced/fea-hertzian-contact-pressure.py
  examples/99-advanced/fea-hertzian-contact-pressure.py
Labels: documentation

fix doc failure
  pyvista/examples/downloads.py
Labels: none

docstring length to 79
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/composite.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/filters/uniform_grid.py
  pyvista/core/pointset.py
  pyvista/demos/demos.py
  pyvista/demos/logo.py
  pyvista/examples/downloads.py
  pyvista/examples/planets.py
  pyvista/plotting/_property.py
  pyvista/plotting/actor.py
  pyvista/plotting/camera.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/lights.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/volume_property.py
  pyvista/themes.py
  pyvista/utilities/common.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/helpers.py
  pyvista/utilities/parametric_objects.py
  pyvista/utilities/reader.py
  pyvista/utilities/transformations.py
  tests/check_doctest_names.py
Labels: none

back to 75 char
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/filters/structured_grid.py
  pyvista/core/pointset.py
  pyvista/examples/downloads.py
  pyvista/examples/gltf.py
  pyvista/examples/planets.py
  pyvista/plotting/_property.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/helpers.py
  pyvista/plotting/lights.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/tools.py
  pyvista/plotting/widgets.py
  pyvista/themes.py
  pyvista/utilities/common.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/helpers.py
  pyvista/utilities/transformations.py
  tests/check_doctest_names.py
Labels: none

add in numpy
  pyvista/examples/downloads.py
Labels: none

revert and update to Google style guide
  doc/source/user-guide/vtk_to_pyvista.rst
  doc/styles/Google/Headings.yml
  doc/styles/Google/We.yml
  doc/styles/Google/Will.yml
  doc/styles/Vocab/pyvista/accept.txt
Labels: documentation

Add newlines-at-end-of-files
  doc/styles/.gitignore
  doc/styles/Google/Headings.yml
Labels: documentation

Remove vtk9 deprecated stuffs
  tests/test_dataset.py
Labels: none

Apply suggestions from code review
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/pointset.py
  pyvista/plotting/_property.py
Labels: none

clean up docstrings
  pyvista/core/pointset.py
  pyvista/themes.py
  tests/check_doctest_names.py
Labels: none

Add Hertzian contact example (#4124)
  examples/99-advanced/fea-hertzian-contact-pressure.py
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: documentation

Apply suggestions from code review
  pyvista/plotting/plotting.py
Labels: none
