Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: none

Implement fixes for VTK 9.2.0rc (#2863)
  .github/workflows/testing-and-deployment.yml
  pyvista/core/filters/data_set.py
  pyvista/examples/downloads.py
  pyvista/utilities/helpers.py
  pyvista/utilities/reader.py
  pyvista/utilities/regression.py
  requirements_test.txt
  tests/plotting/image_cache/chart_plot.png
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/test_examples.py
  tests/test_regression.py
  tests/utilities/test_reader.py
Labels: maintenance, dependencies

Custom widget interaction events (#2882)
  doc/images/gifs/plane-slice-continuous.gif
  examples/03-widgets/plane-widget.py
  pyvista/plotting/widgets.py
Labels: documentation

bump to v0.35.0
  pyvista/_version.py
Labels: none

feat(typehinting): add `py.typed` marker to package
  pyvista/py.typed
Labels: none

add cell_is_point_inside
  pyvista/core/dataset.py
  tests/test_dataset.py
Labels: none

fix(package-data): add `py.typed` to `package_data`
  setup.py
Labels: none

Add setup and teardown functionality to plot_directive
  doc/conf.py
  pyvista/ext/plot_directive.py
Labels: documentation

Add new plot directive to tinypages test for coverage
  tests/tinypages/conf.py
Labels: none

Extend plot directive documentation
  pyvista/ext/plot_directive.py
Labels: none

Conform to None defaults for config params
  pyvista/ext/plot_directive.py
Labels: none

Fix markup of plot directive docs
  doc/extras/plot_directive.rst
  pyvista/ext/plot_directive.py
Labels: documentation

Fix two minor issues causing noise in docs or doc build
  pyvista/plotting/renderers.py
  pyvista/utilities/fileio.py
Labels: none

improve pass implementation
  pyvista/_vtk.py
  pyvista/plotting/renderer.py
Labels: none

improve pass implementation
  pyvista/plotting/render_passes.py
Labels: none

fix style
  tests/test_plotter.py
Labels: none

Ignore unrendered plotters
  pyvista/ext/plot_directive.py
Labels: none

Update pyvista/_version.py
  pyvista/_version.py
Labels: none

Skip closed plotter case for coverage
  pyvista/ext/plot_directive.py
Labels: none

Fix imports of vtkExtractEdges and vtkCellTreeLocator (#2585)
  pyvista/_vtk.py
Labels: none

Implement fixes for VTK 9.2.0rc (#2863)
  .github/workflows/testing-and-deployment.yml
  pyvista/core/filters/data_set.py
  pyvista/examples/downloads.py
  pyvista/utilities/helpers.py
  pyvista/utilities/reader.py
  pyvista/utilities/regression.py
  requirements_test.txt
  tests/plotting/image_cache/chart_plot.png
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/test_examples.py
  tests/test_regression.py
  tests/utilities/test_reader.py
Labels: maintenance, dependencies

bump to v0.34.2
  pyvista/_version.py
Labels: none

Update information of release
  CONTRIBUTING.rst
Labels: none

Ensure data remains a shallow copy when added to plotter (#2888)
  tests/test_plotter.py
Labels: none

Better parameter description
  pyvista/core/dataset.py
Labels: none

Better naming
  pyvista/core/dataset.py
Labels: none

use better name in doctest and test
  pyvista/core/dataset.py
  tests/test_dataset.py
Labels: none

fix for python 3.10
  pyvista/core/dataset.py
Labels: none

Fix ChartBox and ChartPie geometry issues
  pyvista/plotting/charts.py
  tests/test_charts.py
Labels: none

use collections.abc.Sequence for all Python versions
  pyvista/core/dataset.py
Labels: none

Fix the url link of discretize
  doc/make_external_gallery.py
Labels: documentation

don't use cache
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Fix use of a slice tuple for numpy 1.23 (#2726)
  pyvista/core/filters/structured_grid.py
Labels: none

remove more cache
  .github/workflows/style_docstr.yml
Labels: maintenance

Use interval check
  pyvista/core/dataset.py
Labels: none

allow points
  pyvista/core/dataset.py
  tests/test_dataset.py
Labels: none

revert unintended removal of whitespace
  pyvista/core/dataset.py
Labels: none

handle invalid theme on init
  pyvista/__init__.py
  pyvista/utilities/misc.py
Labels: none

add test
  tests/utilities/test_misc.py
Labels: none

Python 3.10 hotfix: Release v0.34.2 (#2912)
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  pyvista/_version.py
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/structured_grid.py
  pyvista/examples/downloads.py
  pyvista/utilities/helpers.py
  pyvista/utilities/reader.py
  pyvista/utilities/regression.py
  requirements_test.txt
  tests/plotting/image_cache/chart_plot.png
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/test_examples.py
  tests/test_regression.py
  tests/utilities/test_reader.py
Labels: maintenance, dependencies

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
