Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

worried about lighting outside
  pyvista/examples/downloads.py
  pyvista/plotting/camera.py
  pyvista/plotting/helpers.py
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
  tests/conftest.py
  tests/plotting/test_plotting.py
  tests/test_examples.py
  tests/utilities/test_reader.py
Labels: none

Add _initialized flag for (Base)Plotter against errors in __del__
  pyvista/plotting/plotting.py
Labels: none

add tight
  pyvista/plotting/camera.py
  tests/plotting/image_cache/tight_square.png
  tests/plotting/image_cache/tight_tall.png
  tests/plotting/image_cache/tight_wide.png
  tests/plotting/test_plotting.py
  tests/test_plotter.py
Labels: none

fix tests and behavior
  pyvista/examples/downloads.py
  pyvista/plotting/camera.py
  pyvista/plotting/helpers.py
  pyvista/utilities/reader.py
  tests/conftest.py
  tests/utilities/test_reader.py
Labels: none

fix notes, do not check if unique name
  pyvista/plotting/plotting.py
Labels: none

Update .github/workflows/docs.yml
  .github/workflows/docs.yml
Labels: maintenance

improve coverage
  pyvista/plotting/helpers.py
  tests/plotting/test_plotting.py
Labels: none

implement suggestions
  pyvista/core/composite.py
  pyvista/core/filters/composite.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/plotting.py
  tests/test_composite.py
Labels: none

Update pyvista/core/composite.py
  pyvista/core/composite.py
Labels: none

cache apt packges for linux
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

cleanup export test
  tests/test_export.py
Labels: none

fix for 9.0.3
  pyvista/_vtk.py
  pyvista/plotting/composite_mapper.py
  tests/test_composite.py
Labels: none

fix non-ASCII segfault
  pyvista/utilities/helpers.py
  tests/test_datasetattributes.py
Labels: none

add docs and skip windows due to opacity
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

fix for 9.0.3
  pyvista/plotting/composite_mapper.py
  tests/plotting/image_cache/plot_composite_poly_no_scalars.png
  tests/plotting/image_cache/plot_composite_poly_scalars.png
  tests/plotting/image_cache/plot_composite_poly_scalars_opacity.png
  tests/plotting/test_plotting.py
Labels: none

fix windows testing
  tests/test_datasetattributes.py
Labels: none

Apply suggestions from code review
  pyvista/examples/downloads.py
Labels: none

Improve make chart tables for docs (#3023)
  doc/make_tables.py
  pyvista/plotting/plotting.py
Labels: documentation

Use has_module (#3020)
  pyvista/plotting/_plotting.py
  pyvista/plotting/colors.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/utilities/misc.py
  tests/test_colors.py
  tests/utilities/test_misc.py
Labels: none

Fix command of doctest (#3036)
  CONTRIBUTING.rst
Labels: none

Add Breaking Changes section to Release Note
  .github/release.yml
  .github/workflows/label.yml
Labels: maintenance

Add Breaking Changes section to Release Note
  CONTRIBUTING.rst
Labels: none

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: none

fix windows test issues
  tests/plotting/test_plotting.py
  tests/test_composite_mapper.py
Labels: none

remove dup
  tests/plotting/test_plotting.py
Labels: none

bool cat for composite
  pyvista/core/composite.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/mapper.py
  tests/conftest.py
  tests/plotting/image_cache/plot_composite_bool.png
  tests/plotting/test_plotting.py
Labels: none

improve coverage
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/filters/composite.py
  pyvista/plotting/_plotting.py
  tests/plotting/test_plotting.py
Labels: none

correctly name bool scalars
  pyvista/core/composite.py
  tests/plotting/image_cache/bool_scalars.png
  tests/plotting/image_cache/plot_composite_bool.png
Labels: none

fix bool plotting
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/mapper.py
  tests/plotting/image_cache/bool_scalars.png
  tests/plotting/image_cache/plot_composite_bool.png
Labels: none

Fix Plotter and children for proper garbage collection (#3037)
  pyvista/plotting/charts.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  tests/plotting/test_collection.py
Labels: none

Cache apt (#2985)
  .github/workflows/docs.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Add check if the path exists before removing it.
  pyvista/examples/downloads.py
Labels: none

Change check to be more precise.
  pyvista/examples/downloads.py
Labels: none

ensure cells are int64
  pyvista/utilities/fileio.py
Labels: none

Add Breaking Changes section to Release Note (#3044)
  .github/release.yml
  .github/workflows/label.yml
  CONTRIBUTING.rst
Labels: maintenance

do not reset camera unless plotter has been shown (#3022)
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/set_focus.png
  tests/plotting/test_plotting.py
Labels: none

check dtype
  pyvista/utilities/fileio.py
Labels: none

test from_meshio with 2d mesh
  tests/test_meshio.py
Labels: none

fix isort
  tests/test_meshio.py
Labels: none

Add geemap and GmshModel as external examples
  doc/images/external-examples/gmsh_model.png
  doc/make_external_gallery.py
Labels: documentation
