Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Add docstring for cell_neighbors with levels
  pyvista/core/cell.py
  pyvista/core/dataset.py
Labels: none

Add docstring for point neighbors with levels
  pyvista/core/dataset.py
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Fix by black
  examples/02-plot/texture.py
  examples/99-advanced/ray-trace-moeller.py
  pyvista/_vtk.py
  pyvista/ext/coverage.py
  pyvista/plotting/camera.py
  pyvista/plotting/charts.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  tests/jupyter/test_pythreejs.py
  tests/plotting/test_plotting.py
  tests/test_grid.py
  tests/test_helpers.py
  tests/test_picking.py
  tests/test_plotter.py
  tests/test_theme.py
  tests/test_utilities.py
Labels: documentation

black formatting
  pyvista/core/dataset.py
  tests/test_dataset.py
  tests/test_grid.py
Labels: none

Patch contextmanagers to handle exceptions
  pyvista/plotting/plotting.py
Labels: none

Fix comments
  pyvista/plotting/plotting.py
Labels: none

MAINT: Add pyvistaqt integration test
  .github/workflows/integration-tests.yml
Labels: maintenance

FIX: GL
  .github/workflows/integration-tests.yml
  tests/test_scraper.py
Labels: maintenance

FIX: Use PyVistaQt infra
  .github/workflows/integration-tests.yml
Labels: maintenance

Fix Plotter docs
  doc/_templates/autosummary/class.rst
  doc/api/core/pointsets.rst
  doc/api/plotting/index.rst
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/widgets.py
  pyvista/themes.py
  pyvista/trame/jupyter.py
  pyvista/trame/views.py
Labels: documentation

FIX: Path
  .github/workflows/integration-tests.yml
Labels: maintenance

MAINT: Dep
  .github/workflows/integration-tests.yml
Labels: maintenance

FIX: Simplify
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

FIX: Local convention
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Test with Python 3.11 (#3944)
  .github/workflows/docs.yml
  .github/workflows/testing-and-deployment.yml
  pyproject.toml
Labels: maintenance

Drop Python 3.7 and earlier
  .github/workflows/testing-and-deployment.yml
  .pre-commit-config.yaml
  README.rst
  doc/extras/building_vtk.rst
  doc/getting-started/installation.rst
  doc/index.rst
  environment.yml
  pyproject.toml
  pyvista/core/dataset.py
  pyvista/utilities/cells.py
  requirements.txt
  tests/test_filters.py
Labels: documentation, maintenance, dependencies

Patch contextmanagers to handle exceptions (#3966)
  pyvista/plotting/plotting.py
Labels: none

Patch contextmanagers to handle exceptions (#3966)
  pyvista/plotting/plotting.py
Labels: none

Support n_labels and fmt in show_bounds
  pyvista/plotting/renderer.py
  tests/plotting/test_plotting.py
Labels: none

Update image regressions
  tests/plotting/image_cache/multi_renderers.png
  tests/plotting/image_cache/plot.png
  tests/plotting/image_cache/plot_helper_volume.png
  tests/plotting/image_cache/plot_label_fmt.png
  tests/plotting/image_cache/plot_show_bounds_params[all-True].png
  tests/plotting/image_cache/plot_show_bounds_params[all-back].png
  tests/plotting/image_cache/plot_show_bounds_params[all-both].png
  tests/plotting/image_cache/plot_show_bounds_params[all-front].png
  tests/plotting/image_cache/plot_show_bounds_params[back-True].png
  tests/plotting/image_cache/plot_show_bounds_params[back-back].png
  tests/plotting/image_cache/plot_show_bounds_params[back-both].png
  tests/plotting/image_cache/plot_show_bounds_params[back-front].png
  tests/plotting/image_cache/plot_show_bounds_params[front-True].png
  tests/plotting/image_cache/plot_show_bounds_params[front-back].png
  tests/plotting/image_cache/plot_show_bounds_params[front-both].png
  tests/plotting/image_cache/plot_show_bounds_params[front-front].png
  tests/plotting/image_cache/plot_show_bounds_params[origin-True].png
  tests/plotting/image_cache/plot_show_bounds_params[origin-back].png
  tests/plotting/image_cache/plot_show_bounds_params[origin-both].png
  tests/plotting/image_cache/plot_show_bounds_params[origin-front].png
  tests/plotting/image_cache/plot_show_bounds_params[outer-True].png
  tests/plotting/image_cache/plot_show_bounds_params[outer-back].png
  tests/plotting/image_cache/plot_show_bounds_params[outer-both].png
  tests/plotting/image_cache/plot_show_bounds_params[outer-front].png
  tests/plotting/image_cache/plot_show_grid_with_mesh.png
  tests/plotting/image_cache/show_bounds_n_labels.png
  tests/plotting/image_cache/show_bounds_no_labels.png
  tests/plotting/test_plotting.py
Labels: none

Fix bounds updates
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/plot_show_grid.png
  tests/plotting/test_plotting.py
Labels: none

Propagate UI controls to all views
  pyvista/trame/ui.py
Labels: none

Propagate UI controls to all views (#3983)
  pyvista/trame/ui.py
Labels: none

Propagate UI controls to all views (#3983)
  pyvista/trame/ui.py
Labels: none

HOTFIX: add deps to Report
  pyvista/utilities/errors.py
Labels: none

Update pyinstaller.rst
  doc/extras/pyinstaller.rst
Labels: documentation

Fix renderer scaling
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/plotter_scale.png
  tests/plotting/image_cache/plotter_scale_1.png
  tests/plotting/image_cache/plotter_scale_2.png
  tests/plotting/test_plotting.py
Labels: none

Add safety check
  pyvista/plotting/renderer.py
Labels: none

Fix font issue
  pyvista/plotting/renderer.py
Labels: none

Added uv en wrapping Trimesh object
  pyvista/utilities/helpers.py
Labels: none

removed check for visual attr
  pyvista/utilities/helpers.py
Labels: none

add test
  tests/test_renderer.py
Labels: none

Update pyvista/plotting/renderer.py
  pyvista/plotting/renderer.py
Labels: none

Update pyinstaller.rst (#3989)
  doc/extras/pyinstaller.rst
Labels: documentation

HOTFIX: add deps to Report (#3988)
  pyvista/utilities/errors.py
Labels: none

MAINT: Add pyvistaqt integration test (#3967)
  .github/workflows/integration-tests.yml
  .github/workflows/testing-and-deployment.yml
  tests/test_scraper.py
Labels: maintenance

added test for passing uv when wrapping a trimesh object
  tests/test_helpers.py
Labels: none

HOTFIX: add deps to Report (#3988)
  pyvista/utilities/errors.py
Labels: none

Fix renderer scaling (#3990)
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/plotter_scale.png
  tests/plotting/image_cache/plotter_scale_1.png
  tests/plotting/image_cache/plotter_scale_2.png
  tests/plotting/test_plotting.py
  tests/test_renderer.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
