Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Update pyvista/core/cell.py
  pyvista/core/cell.py
Labels: none

rename prop3D.py --> prop3d.py; improve coverage
  pyvista/plotting/actor.py
  pyvista/plotting/mapper.py
  pyvista/plotting/prop3D.py
  pyvista/plotting/volume.py
  tests/test_actor.py
Labels: none

add prop3d back in
  pyvista/plotting/prop3d.py
Labels: none

Add remove_actor test
  tests/plotting/image_cache/remove_vertices_actor.png
  tests/plotting/image_cache/remove_vertices_actor_1.png
  tests/plotting/test_plotting.py
Labels: none

Add `show_vertices` for vertex rendering (#3745)
  examples/02-plot/vertices.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/plot_show_vertices.png
  tests/plotting/image_cache/plot_show_vertices_1.png
  tests/plotting/image_cache/plot_show_vertices_2.png
  tests/plotting/image_cache/remove_vertices_actor.png
  tests/plotting/image_cache/remove_vertices_actor_1.png
  tests/plotting/test_plotting.py
Labels: documentation

Wrapping vtkCell (#3715)
  .github/workflows/testing-and-deployment.yml
  doc/api/core/cells.rst
  doc/api/core/index.rst
  pyvista/_vtk.py
  pyvista/core/__init__.py
  pyvista/core/cell.py
  pyvista/core/celltype.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/pointset.py
  tests/plotting/image_cache/plot_individual_cell.png
  tests/plotting/test_plotting.py
  tests/test_cells.py
  tests/test_dataset.py
  tests/test_grid.py
Labels: documentation, maintenance

add in volume property
  pyvista/plotting/plotting.py
  pyvista/plotting/volume_property.py
  tests/test_volume_property.py
Labels: none

add docs
  doc/api/plotting/index.rst
  pyvista/plotting/volume_property.py
Labels: documentation

remove unnecessary comment
  pyvista/plotting/volume_property.py
Labels: none

Implement connectivity methods in DataSet
  pyvista/core/dataset.py
  tests/test_dataset.py
Labels: none

Cosmetics
  pyvista/core/dataset.py
Labels: none

Add docstring
  pyvista/core/dataset.py
Labels: none

Define type alias for length-6 tuple of numbers for mesh bounds, rename color_like type (#3777)
  doc/api/utilities/utilities.rst
  doc/conf.py
  pyvista/_typing.py
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/filters/poly_data.py
  pyvista/core/pointset.py
  pyvista/plotting/__init__.py
  pyvista/plotting/_property.py
  pyvista/plotting/actor.py
  pyvista/plotting/charts.py
  pyvista/plotting/colors.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/helpers.py
  pyvista/plotting/lights.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  pyvista/plotting/scalar_bars.py
  pyvista/plotting/tools.py
  pyvista/plotting/widgets.py
  pyvista/themes.py
Labels: documentation

Fix example
  examples/02-plot/color_cycler.py
Labels: documentation

Update example
  examples/99-advanced/plotting-algorithms.py
Labels: documentation

Improve coverage
  pyvista/utilities/algorithms.py
  tests/plotting/image_cache/add_ids_algorithm.png
  tests/plotting/image_cache/add_ids_algorithm_1.png
  tests/plotting/image_cache/pointset_to_polydata_algorithm.png
  tests/plotting/test_plotting.py
Labels: none

Fixx mapper dataset setter
  pyvista/plotting/mapper.py
Labels: none

Simplify with set_algorithm_input
  pyvista/plotting/plotting.py
  pyvista/plotting/widgets.py
  pyvista/utilities/algorithms.py
Labels: none

Use set_algorithm_input on mapper
  pyvista/plotting/mapper.py
Labels: none

Skip 9.1 tests
  tests/plotting/test_plotting.py
Labels: none

wrap GetInputAsDataSet calls
  pyvista/jupyter/pv_ipygany.py
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/plotting.py
Labels: none

Revert forced use of algorithms
  pyvista/plotting/plotting.py
Labels: none

Add LaTeX symbol test
  tests/plotting/image_cache/add_text_latex.png
  tests/plotting/test_plotting.py
Labels: none

pytest mark skip MathTextIsSupported
  tests/plotting/test_plotting.py
Labels: none

Limit Matplotlib
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Fix conditional
  tests/plotting/test_plotting.py
Labels: none

Fix skip condition
  tests/plotting/test_plotting.py
Labels: none

fix dataobject repr
  pyvista/core/dataobject.py
  tests/test_grid.py
Labels: none

Apply suggestions from code review
  examples/02-plot/color_cycler.py
  pyvista/plotting/renderer.py
  pyvista/themes.py
  tests/plotting/test_plotting.py
Labels: documentation

MAINT: Actually test GC properly
  tests/plotting/conftest.py
Labels: none

FIX: Black
  tests/plotting/conftest.py
Labels: none

Fix typo
  examples/02-plot/color_cycler.py
Labels: documentation

fix dataobject repr (#3786)
  pyvista/core/dataobject.py
  tests/test_grid.py
Labels: none

FIX: No need
  tests/plotting/conftest.py
Labels: none

Add color cyclers for `add_mesh(..., color=True)` (#3739)
  doc/make_tables.py
  examples/02-plot/color_cycler.py
  pyvista/plotting/charts.py
  pyvista/plotting/colors.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  pyvista/themes.py
  tests/plotting/image_cache/color_cycler.png
  tests/plotting/image_cache/color_cycler_1.png
  tests/plotting/image_cache/color_cycler_2.png
  tests/plotting/image_cache/color_cycler_names[all].png
  tests/plotting/image_cache/color_cycler_names[default].png
  tests/plotting/image_cache/color_cycler_names[matplotlib].png
  tests/plotting/image_cache/color_cycler_names[warm].png
  tests/plotting/test_plotting.py
  tests/test_charts.py
Labels: documentation

FIX: Placeholder
  tests/plotting/conftest.py
Labels: none

FIX: Restore
  tests/plotting/conftest.py
Labels: none

typing fixes
  pyvista/plotting/mapper.py
  pyvista/plotting/prop3d.py
  tests/mappers/test_volume_mapper.py
Labels: none

Skip LaTeX test on conda CI job
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Fix docs for copy_meta_from
  pyvista/core/dataobject.py
Labels: none
