Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Update doc/api/core/pointsets.rst
  doc/api/core/pointsets.rst
Labels: documentation

Add concrete PointSet class (#2117)
  doc/api/core/index.rst
  doc/api/core/pointsets.rst
  examples/00-load/create-pointset.py
  pyvista/_vtk.py
  pyvista/core/__init__.py
  pyvista/core/dataset.py
  pyvista/core/filters/__init__.py
  pyvista/core/pointset.py
  pyvista/plotting/plotting.py
  tests/conftest.py
  tests/plotting/image_cache/pointset_plot.png
  tests/plotting/image_cache/pointset_plot_as_points.png
  tests/plotting/test_plotting.py
  tests/test_dataset.py
  tests/test_pointset.py
Labels: documentation

Apply suggestions from code review
  pyvista/utilities/reader.py
Labels: none

inherit from PointCellDataSelection
  pyvista/_vtk.py
  pyvista/examples/downloads.py
  pyvista/utilities/reader.py
Labels: none

fix style
  pyvista/utilities/reader.py
Labels: none

fix <v9.1.0 support and improve coverage
  pyvista/_vtk.py
  tests/utilities/test_reader.py
Labels: none

update docs
  CONTRIBUTING.rst
Labels: none

add in remainder of tools
  Makefile
  ignore_words.txt
  pyproject.toml
  requirements_style.txt
Labels: maintenance, dependencies

add in pre-commit
  .codespellrc
  .pre-commit-config.yaml
Labels: none

implement mypy and update yml
  .github/workflows/style_docstr.yml
  .pre-commit-config.yaml
  Makefile
  pyvista/ext/coverage.py
  pyvista/ext/plot_directive.py
Labels: maintenance

remove static req
  requirements_static.txt
Labels: dependencies

Apply suggestions from code review
  pyvista/examples/downloads.py
  pyvista/utilities/reader.py
Labels: none

Apply suggestions from code review
  pyvista/examples/downloads.py
Labels: none

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: none

Add newline at end of pyproject.toml
  pyproject.toml
Labels: maintenance

Apply suggestions from code review
  CONTRIBUTING.rst
  pyvista/ext/plot_directive.py
Labels: none

Update pyvista/ext/plot_directive.py
  pyvista/ext/plot_directive.py
Labels: none

add more methods
  pyvista/utilities/reader.py
Labels: none

add cross-platform notes for windows
  CONTRIBUTING.rst
Labels: none

Add breaking test
  tests/test_utilities.py
Labels: none

Replace dtype identity check with equivalence
  pyvista/core/filters/data_set.py
  pyvista/utilities/helpers.py
Labels: none

black
  tests/test_utilities.py
Labels: none

validate workflow files
  .github/workflows/docker-package.yml
  .github/workflows/docs.yml
  .github/workflows/pre-commit-update.yml
  .pre-commit-config.yaml
Labels: maintenance

switch to pre-commit (#2392)
  .codespellrc
  .github/workflows/docker-package.yml
  .github/workflows/docs.yml
  .github/workflows/pre-commit-update.yml
  .github/workflows/style_docstr.yml
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  Makefile
  ignore_words.txt
  pyproject.toml
  pyvista/ext/coverage.py
  pyvista/ext/plot_directive.py
  requirements_static.txt
  requirements_style.txt
Labels: maintenance, dependencies

fix typing
  pyvista/utilities/reader.py
Labels: none

Update requirements_docs.txt
  requirements_docs.txt
Labels: dependencies

fix typing - set_active_x supports name=None
  pyvista/core/dataset.py
Labels: none

add progres bar
  pyvista/utilities/fileio.py
  pyvista/utilities/reader.py
Labels: none

Assert something
  tests/test_utilities.py
Labels: none

improve coverage
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

fix typing - set_active_x supports name=None (#2399)
  pyvista/core/dataset.py
Labels: none

Replace np.dtype identity check with equivalence (#2394)
  pyvista/core/filters/data_set.py
  pyvista/utilities/helpers.py
  tests/test_utilities.py
Labels: none

fix names
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

disable loading boundary patch for example
  pyvista/utilities/reader.py
Labels: none

fix bc test
  tests/utilities/test_reader.py
Labels: none

improve mesh picking
  pytest.ini
  pyvista/_vtk.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  tests/test_picking.py
Labels: none

cleanup docs
  doc/api/utilities/utilities.rst
  pyvista/plotting/picking.py
Labels: documentation

add surface picking
  examples/02-plot/mesh-picking.py
  examples/02-plot/surface-picking.py
  pyvista/_vtk.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  tests/test_picking.py
Labels: documentation

Read .cgns files via vtkCGNSReader (#2366)
  pyvista/_vtk.py
  pyvista/examples/downloads.py
  pyvista/utilities/fileio.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

add warning regarding gltf and unstructured grids
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none
