Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Fix import typo
  pyvista/plotting/plotting.py
Labels: none

Add download_sextant
  pyvista/examples/vrml.py
Labels: none

Fix test_export_vrml
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

Fix typo
  tests/plotting/test_plotting.py
Labels: none

Add doctest:+SKIP at download_sextant
  pyvista/plotting/plotting.py
Labels: none

Fix coverage error
  pyvista/examples/vrml.py
  pyvista/plotting/plotting.py
Labels: none

Add "Returns"
  pyvista/plotting/plotting.py
Labels: none

Add tests/plotting/image_cache/import_vrml.png
  tests/plotting/image_cache/import_vrml.png
Labels: none

add polyhedral example
  examples/00-load/create-poly.py
  pyvista/core/pointset.py
Labels: documentation

Fix field -> name in similar methods
  pyvista/core/dataset.py
Labels: none

Consistent style
  pyvista/core/dataset.py
Labels: none

Update examples/00-load/create-poly.py
  examples/00-load/create-poly.py
Labels: documentation

Update examples/00-load/create-poly.py
  examples/00-load/create-poly.py
Labels: documentation

add polyhedral example (#2505)
  examples/00-load/create-poly.py
  pyvista/core/pointset.py
Labels: documentation

Add class for logging calls to _get_output
  tests/test_filters.py
Labels: none

Support for py37 mock
  tests/test_filters.py
Labels: none

Remove unused
  tests/test_filters.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/plotting.py
Labels: none

Add a couple more glyph tests
  tests/test_filters.py
Labels: none

add and use pytest-doctestplus
  .github/workflows/style_docstr.yml
  Makefile
  pytest.ini
  pyvista/conftest.py
  requirements_test.txt
Labels: maintenance, dependencies

testing conftest with just base doctest-modules
  pyvista/conftest.py
Labels: none

Revert "skip hdr doctest; due to file size?"
  pyvista/utilities/reader.py
Labels: none

Revert "skip TIFFReader docstring; due to file size?"
  pyvista/utilities/reader.py
Labels: none

fix uniformgrid.x docstring
  pyvista/core/grid.py
Labels: none

ignore coverage of conftest.py
  .coveragerc
  pyvista/conftest.py
Labels: maintenance

Apply suggestions from code review
  pyvista/plotting/plotting.py
Labels: none

fix uniformgrid.x docstring (#2511)
  pyvista/core/grid.py
Labels: none

Apply suggestions from code review
  .coveragerc
  pyvista/conftest.py
  pyvista/examples/downloads.py
  pyvista/utilities/reader.py
Labels: maintenance

Code review: cells_nd description
  pyvista/examples/downloads.py
Labels: none

Clarify where can dataset came from
  pyvista/examples/downloads.py
Labels: none

Report name and field type
  pyvista/core/dataset.py
Labels: none

For ambigous fields, prefer 'cell'
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: none

Use kwarg for preference, also black
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
Labels: none

Return actor from add_mesh_threshold
  pyvista/plotting/widgets.py
Labels: none

Return actor from add_mesh_threshold (#2516)
  pyvista/plotting/widgets.py
Labels: none

Capital VTK
  tests/test_filters.py
Labels: none

Apply suggestions from code review
  pyvista/examples/vrml.py
Labels: none

add linked views for pythreejs
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/plotting.py
  tests/jupyter/test_panel.py
  tests/jupyter/test_pythreejs.py
Labels: none

Add many Readers (#2496)
  .coveragerc
  doc/api/readers/index.rst
  pyvista/_vtk.py
  pyvista/conftest.py
  pyvista/examples/downloads.py
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: documentation, maintenance

fix coverage and docs
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/plotting.py
  tests/jupyter/test_pythreejs.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
