Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

[BUG] Fix clearning point and cell data
  pyvista/plotting/plotting.py
Labels: none

Delete whitespaces in rst files under doc directory (#2966)
  doc/_templates/custom-module-template.rst
  doc/api/core/helpers.rst
  doc/extras/vtk_data.rst
  doc/user-guide/data_model.rst
Labels: documentation

remove mesh data clear
  pyvista/plotting/plotting.py
  tests/test_plotter.py
Labels: none

Apply suggestions from code review
  pyvista/examples/downloads.py
Labels: none

Add regression test for mesh fiddling in deep_clean()
  tests/test_plotter.py
Labels: none

POC pythreejs support for point-labels
  pyvista/jupyter/pv_pythreejs.py
Labels: none

MAINT: Dont allow deep clean to fail
  pyvista/plotting/plotting.py
Labels: none

fix active plotting scalars
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/objects.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/utilities/helpers.py
  tests/plotting/test_collection.py
  tests/test_plotter.py
  tests/test_utilities.py
Labels: none

[BUG] Fix clearing point and cell data (#2976)
  pyvista/plotting/plotting.py
  tests/test_plotter.py
Labels: none

add more mount damavand examples (#2969)
  pyvista/examples/downloads.py
  tests/test_examples.py
Labels: none

fix active plotting scalars
  pyvista/core/dataobject.py
  pyvista/utilities/helpers.py
  tests/jupyter/test_pythreejs.py
  tests/plotting/image_cache/multi_plot_scalars.png
  tests/plotting/test_plotting.py
  tests/test_utilities.py
Labels: none

use functools caching
  pyvista/plotting/_plotting.py
  pyvista/plotting/colors.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/utilities/misc.py
Labels: none

fix default reset camera parameters
  pyvista/plotting/plotting.py
Labels: none

skip windows cache verification of volume rendering
  tests/plotting/test_plotting.py
Labels: none

add movie glyphs
  examples/02-plot/movie.py
Labels: documentation

add movie glyphs example
  examples/02-plot/movie.py
  examples/02-plot/movie_glyphs.py
Labels: documentation

support front/back face culling for surface meshes
  pyvista/jupyter/pv_pythreejs.py
Labels: none

add particles dataset
  pyvista/examples/downloads.py
  tests/test_examples.py
Labels: none

fix ref
  examples/02-plot/movie.py
  examples/02-plot/movie_glyphs.py
Labels: documentation

fix docstring
  pyvista/core/datasetattributes.py
Labels: none

cache apt
  .github/workflows/docs.yml
Labels: maintenance

refresh?
  .github/workflows/docs.yml
Labels: maintenance

fix vtk version support (#2961)
  .github/workflows/testing-and-deployment.yml
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/plotting/plotting.py
  setup.py
  tests/test_filters.py
  tests/test_grid.py
  tests/test_render_window_interactor.py
  tests/utilities/test_reader.py
Labels: maintenance

Update examples/02-plot/movie_glyphs.py
  examples/02-plot/movie_glyphs.py
Labels: documentation

fix metadata copy
  pyvista/core/dataobject.py
  pyvista/plotting/plotting.py
  tests/test_utilities.py
Labels: none

Update pyvista/examples/downloads.py
  pyvista/examples/downloads.py
Labels: none

remove return change
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/objects.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/plotting.py
  pyvista/utilities/helpers.py
  tests/test_utilities.py
Labels: none

fix none return
  pyvista/utilities/helpers.py
  tests/test_utilities.py
Labels: none

use Python 3.9 for codecov
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Clean charts when clearing a renderer
  pyvista/plotting/renderer.py
Labels: none

Add test for charts clearing via plotter clear
  tests/test_charts.py
Labels: none

Deep clean charts before destruction
  pyvista/plotting/charts.py
Labels: none

Simplify plotter._renderer reference in chart tests
  tests/test_charts.py
Labels: none

Don't create a Charts on clear()
  pyvista/plotting/renderer.py
Labels: none

add render pass
  pyvista/plotting/render_passes.py
  tests/test_render_pass.py
Labels: none

use Python 3.9 for codecov (#2990)
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Add particles dataset to downloads (#2984)
  pyvista/examples/downloads.py
  tests/test_examples.py
Labels: none

Add movie glyphs example (#2981)
  examples/02-plot/movie_glyphs.py
Labels: documentation

Add load each planets functions
  examples/00-load/create-pixel-art.py
  examples/99-advanced/planets.py
  pyvista/examples/__init__.py
  pyvista/examples/downloads.py
  tests/test_examples.py
Labels: documentation

Add examples
  examples/99-advanced/planets.py
  pyvista/examples/downloads.py
Labels: documentation

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
