Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

fix show vertices for algorithms (#3890)
  pyvista/plotting/plotting.py
Labels: none

better GetProgress
  pyvista/utilities/reader.py
Labels: none

Add show_vertices as theme option
  pyvista/plotting/plotting.py
  pyvista/themes.py
Labels: none

Support emissive as theme option and fix mapper init
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/themes.py
Labels: none

Enable silhouette through theme option
  pyvista/plotting/plotting.py
  pyvista/themes.py
Labels: none

Fix interpolate_before_map issue with volume mappers
  pyvista/plotting/mapper.py
Labels: none

Fix InterpolationType issues
  pyvista/themes.py
  tests/test_property.py
  tests/test_theme.py
Labels: none

Fix mapper copy
  pyvista/plotting/mapper.py
Labels: none

Fix property interpolation check
  pyvista/plotting/_property.py
Labels: none

Fix _set_plot_theme_from_env
  pyvista/utilities/misc.py
Labels: none

Cleanup docstring examples
  pyvista/themes.py
Labels: none

Fix keyword arguments for add_silhouette
  pyvista/plotting/plotting.py
Labels: none

Subdivide in add_silhouette for smoother lines
  pyvista/plotting/plotting.py
  pyvista/utilities/algorithms.py
  tests/plotting/image_cache/plot_silhouette_non_poly.png
  tests/plotting/test_plotting.py
Labels: none

Fix decimation
  pyvista/plotting/plotting.py
  pyvista/themes.py
  pyvista/utilities/algorithms.py
Labels: none

Add subdivide to theme
  pyvista/plotting/plotting.py
  pyvista/themes.py
Labels: none

Revert subdivision additions with removal of decimation default
  pyvista/plotting/plotting.py
  pyvista/themes.py
  pyvista/utilities/algorithms.py
Labels: none

Fix theme issue
  pyvista/themes.py
Labels: none

Add performance note
  pyvista/plotting/plotting.py
Labels: none

Deprecate non-Trame Jupyter backends
  pyvista/jupyter/__init__.py
  tests/jupyter/test_ipygany.py
  tests/jupyter/test_ipyvtk.py
  tests/jupyter/test_panel.py
  tests/jupyter/test_pythreejs.py
  tests/jupyter/test_trame.py
Labels: none

Fix docs errors
  pyvista/plotting/renderer.py
Labels: none

Add period
  pyvista/plotting/renderer.py
Labels: none

Fix screenshot issues with trame
  pyvista/trame/views.py
  pyvista/utilities/regression.py
Labels: none

Fix
  pyvista/themes.py
Labels: none

add deprecation
  pyvista/plotting/plotting.py
  tests/test_plotter.py
Labels: none

Spelling fixes
  pyvista/plotting/plotting.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/plotting.py
Labels: none

add docstring for image_scale
  pyvista/plotting/plotting.py
Labels: none

fix docstring
  pyvista/plotting/plotting.py
Labels: none

trivial test
  tests/test_plotter.py
Labels: none

add window_size_context example
  pyvista/plotting/plotting.py
Labels: none

add isolated test
  tests/plotting/test_plotting.py
Labels: none

Disable conda CI
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Add regression image
  tests/plotting/image_cache/plot_window_size_context.png
Labels: none

Fix a few issues with Plotter.show (#3889)
  examples/02-plot/image_depth.py
  pyvista/jupyter/notebook.py
  pyvista/jupyter/pv_ipygany.py
  pyvista/plotting/plotting.py
  pyvista/trame/jupyter.py
  tests/jupyter/test_ipygany.py
  tests/jupyter/test_static.py
  tests/plotting/image_cache/screenshot_notebook.png
  tests/plotting/image_cache/warn_screenshot_notebook.png
  tests/plotting/test_plotting.py
  tests/test_plotter.py
Labels: documentation

Disable conda CI (#3906)
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Ignore warnings for doc build
  doc/conf.py
Labels: documentation

Fix docs error
  pyvista/plotting/plotting.py
Labels: none

add deprecation warning
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

Update pyvista/plotting/plotting.py
  pyvista/plotting/plotting.py
Labels: none

add deprecation
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
