Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Moves axes test to proper file
  tests/plotting/test_plotting.py
  tests/test_axes.py
Labels: none

Fix the number error of segment in add_lines (#3687)
  pyvista/plotting/plotting.py
  pyvista/utilities/helpers.py
  tests/test_plotter.py
Labels: none

Add BohemianDome parameters (#3677)
  pyvista/utilities/parametric_objects.py
  tests/test_parametric_geometry.py
Labels: none

Add classmethod to read pvcc paraview (#3662)
  pyvista/plotting/camera.py
  tests/test_camera.py
Labels: none

Fix the docstring of the parametric object. (#3678)
  pyvista/utilities/parametric_objects.py
Labels: none

Add pytest-pyvista to Report
  pyvista/utilities/errors.py
Labels: none

Add pytest-pyvista to Report (#3713)
  pyvista/utilities/errors.py
Labels: none

[DEBUG]
  tests/jupyter/test_pythreejs.py
Labels: none

Revert
  tests/jupyter/test_pythreejs.py
Labels: none

added note about bug fix in pyvista.Circle docstring
  pyvista/utilities/geometric_objects.py
Labels: none

Fallow documentation style
  pyvista/utilities/geometric_objects.py
Labels: none

Fixes doc error
  pyvista/plotting/axes_actor.py
Labels: none

Fix a test of KochanekSpline. (#3657)
  tests/test_parametric_geometry.py
Labels: none

Fix interactive updates (#3617)
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  tests/test_render_window_interactor.py
Labels: none

Don't raise on missing iren key events to clear by default (#3648)
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  tests/test_render_window_interactor.py
Labels: none

Update index.rst
  doc/index.rst
Labels: documentation

Add multiserver support
  pyvista/trame/jupyter.py
Labels: none

Improve trame UI
  examples_trame/requirements.txt
  pyvista/trame/jupyter.py
  pyvista/trame/ui.py
Labels: none

Rename trame jupyter backends to `client` and `server`
  pyvista/jupyter/__init__.py
  pyvista/jupyter/notebook.py
Labels: none

Deprecate ipyvtklink backend
  README.rst
  doc/extras/building_vtk.rst
  doc/getting-started/installation.rst
  doc/user-guide/jupyter/index.rst
  doc/user-guide/jupyter/ipyvtk_plotting.rst
  docker/requirements.txt
  environment.yml
  pyproject.toml
  pyvista/jupyter/__init__.py
  pyvista/jupyter/notebook.py
  pyvista/plotting/helpers.py
  pyvista/plotting/plotting.py
  pyvista/themes.py
  pyvista/utilities/errors.py
Labels: documentation, maintenance, dependencies, docker

Fix conda env
  environment.yml
Labels: dependencies

Add docstring and points coordinates
  pyvista/core/cell.py
  pyvista/core/dataset.py
Labels: none

Add screenshot button
  pyvista/trame/ui.py
Labels: none

[WIP] add vtkLegendScaleActor
  pyvista/_vtk.py
  pyvista/plotting/renderer.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/actor.py
  pyvista/plotting/axes_actor.py
Labels: none

Removes mistake in docs
  pyvista/plotting/actor.py
Labels: none

Fixes example description
  pyvista/plotting/axes_actor.py
Labels: none

improve buttons
  pyvista/trame/ui.py
Labels: none

Add PyVistaRemoteLocalView
  pyvista/trame/__init__.py
Labels: none

Fix failed test for cell type and add points coordinates test
  pyvista/core/cell.py
  tests/test_cells.py
Labels: none

Fix tests for vtk9
  tests/test_cells.py
Labels: none

Fix documentation
  pyvista/core/cell.py
  pyvista/core/dataset.py
Labels: none

Add control of `still_ratio` for improved resolution
  pyvista/trame/__init__.py
Labels: none

Use unique ref for trame views
  pyvista/plotting/plotting.py
  pyvista/trame/__init__.py
Labels: none

Cleanup import
  pyvista/trame/ui.py
Labels: none

Update pyvista/plotting/camera.py
  pyvista/plotting/camera.py
Labels: none

Apply suggestions from code review
  pyvista/demos/demos.py
Labels: none

Update pyvista/plotting/charts.py
  pyvista/plotting/charts.py
Labels: none

Fix docs errors
  pyvista/utilities/geometric_objects.py
Labels: none

Use versionchanged directive
  pyvista/utilities/geometric_objects.py
Labels: none
