Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Rename dims kwarg for UniformGrid to dimensions (#3537)
  doc/user-guide/data_model.rst
  doc/user-guide/vtk_to_pyvista.rst
  examples/01-filter/cell-centers.py
  examples/01-filter/flying_edges.py
  examples/01-filter/image-fft-perlin-noise.py
  examples/01-filter/streamlines.py
  examples/02-plot/blurring.py
  examples/02-plot/depth_of_field.py
  examples/02-plot/ssao.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/grid.py
  pyvista/core/objects.py
  pyvista/demos/demos.py
  pyvista/examples/examples.py
  pyvista/plotting/helpers.py
  pyvista/plotting/renderer.py
  pyvista/plotting/widgets.py
  pyvista/utilities/helpers.py
  pyvista/utilities/reader.py
  tests/filters/test_rectilinear_grid.py
  tests/plotting/test_plotting.py
  tests/test_dataset.py
  tests/test_filters.py
  tests/test_grid.py
  tests/utilities/test_reader.py
Labels: documentation

Add `clear_actors` methods to plotter (#3536)
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  tests/test_plotter.py
Labels: none

update docs
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
Labels: none

Remove quadruple backticks in docstrings
  pyvista/plotting/picking.py
  pyvista/plotting/renderer.py
Labels: none

Fix test name typo
  tests/test_theme.py
Labels: none

Remove quadruple backticks in docstrings (#3540)
  pyvista/plotting/picking.py
  pyvista/plotting/renderer.py
  tests/test_theme.py
Labels: none

bump to v0.38.dev0 (#3533)
  pyvista/_version.py
Labels: none

bump to 0.37.0
  pyvista/_version.py
Labels: none

Add requirements-txt-fixer
  .pre-commit-config.yaml
Labels: none

Fix by requirements-txt-fixer
  docker/requirements.txt
Labels: docker

Fix by requirements-txt-fixer
  requirements_docs.txt
  requirements_test.txt
Labels: dependencies

fix startsWith
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Update install dependencies in installation docs
  doc/getting-started/installation.rst
Labels: documentation

Add requirements-txt-fixer to .pre-commit-config.yaml (#3541)
  .pre-commit-config.yaml
  docker/requirements.txt
  requirements_docs.txt
  requirements_test.txt
Labels: dependencies, docker

fix startsWith (#3542)
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Update install dependencies in installation docs (#3543)
  doc/getting-started/installation.rst
Labels: documentation

Modifies code for new pytest plugin
  tests/conftest.py
  tests/plotting/conftest.py
  tests/plotting/test_plotting.py
Labels: none

Add a badge for the supported Python version.
  README.rst
  doc/index.rst
Labels: documentation

Add IvanNik17's blog post
  doc/images/external-examples/nikolov1.gif
  doc/make_external_gallery.py
Labels: documentation

optimize gif files
  doc/images/external-examples/nikolov1.gif
Labels: documentation

Fix nikolov3.gif
  doc/images/external-examples/nikolov3.gif
Labels: documentation

Fix title
  doc/make_external_gallery.py
Labels: documentation

Resolve #3445
  pyvista/plotting/_plotting.py
Labels: none

Apply suggestions from code review
  doc/make_external_gallery.py
Labels: documentation

add geovista to external examples
  doc/images/external-examples/geovista_earth.png
  doc/make_external_gallery.py
Labels: documentation

Test nan_opacity
  pyvista/plotting/colors.py
  pyvista/plotting/lookup_table.py
  tests/plotting/image_cache/lookup_table.png
  tests/plotting/image_cache/plot_nan_color.png
  tests/plotting/image_cache/plot_nan_color_1.png
  tests/plotting/test_plotting.py
Labels: none

Add a badge for the supported Python version. (#3552)
  README.rst
  doc/index.rst
Labels: documentation

change default rep
  doc/api/utilities/color_table/color_table.rst
  examples/02-plot/point-clouds.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/colors.py
Labels: documentation

Implement redraw_on_update behaviour for ChartMPL.
  examples/02-plot/chart_overlays.py
  pyvista/plotting/charts.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
Labels: documentation

minor contributing fix
  CONTRIBUTING.rst
Labels: none

Changes arrays for attributes in plugin
  tests/plotting/test_plotting.py
Labels: none

Update pyvista/plotting/lookup_table.py
  pyvista/plotting/lookup_table.py
Labels: none

Remove stupid VSCode import
  pyvista/plotting/lookup_table.py
Labels: none

minor contributing fix (#3561)
  CONTRIBUTING.rst
Labels: none

add geovista to external examples (#3558)
  doc/images/external-examples/geovista_earth.png
  doc/make_external_gallery.py
Labels: documentation

change default rep (#3559)
  doc/api/utilities/color_table/color_table.rst
  examples/02-plot/point-clouds.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/colors.py
Labels: documentation

WIP DistanceWidget Definition
  examples/02-plot/distance_measurement.py
  pyvista/_vtk.py
  pyvista/plotting/widgets.py
  tests/plotting/test_widgets.py
Labels: documentation

Add utf8 encoding to test_tinypages
  tests/test_tinypages.py
Labels: none

skips image cache in demos
  tests/conftest.py
  tests/plotting/conftest.py
  tests/test_demos.py
  tests/test_plotter.py
Labels: none

add version check for mpl
  pyvista/plotting/colors.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
