Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

improve test coverage
  tests/plotting/image_cache/plotter_line_point_smoothing.png
  tests/plotting/image_cache/plotter_render_callback.png
  tests/plotting/test_plotting.py
  tests/test_plotter.py
Labels: none

add ui tests
  pyvista/trame/ui.py
  tests/jupyter/test_trame.py
Labels: none

Apply suggestions from code review
  doc/getting-started/installation.rst
  doc/user-guide/jupyter/index.rst
  doc/user-guide/jupyter/trame.rst
  examples_trame/basic/PyVistaLocalView.py
  examples_trame/basic/UITemplate.py
  pyvista/jupyter/__init__.py
  pyvista/trame/jupyter.py
Labels: documentation

Fix note
  pyvista/jupyter/__init__.py
Labels: none

Remove ipyvtklink from table of notebook backends
  doc/user-guide/jupyter/index.rst
Labels: documentation

Remove is_server_up
  pyvista/trame/jupyter.py
Labels: none

add clean unstructured grid
  pyvista/core/filters/__init__.py
  pyvista/core/filters/unstructured_grid.py
Labels: none

add tests
  tests/filters/test_unstructured_grid.py
Labels: none

a problem
  pyvista/core/filters/unstructured_grid.py
  tests/filters/test_unstructured_grid.py
Labels: none

Update tests/plotting/test_plotting.py
  tests/plotting/test_plotting.py
Labels: none

Formatting
  tests/plotting/test_plotting.py
Labels: none

Fix host issues for #3851
  doc/user-guide/jupyter/trame.rst
  docker/jupyter.Dockerfile
  pyvista/trame/jupyter.py
Labels: documentation, docker

Server and state management improvements
  examples_trame/advanced/contour.py
  examples_trame/basic/UITemplate.py
  examples_trame/basic/actor_color.py
  examples_trame/basic/file_viewer.py
  examples_trame/basic/multi_views.py
  examples_trame/basic/vtkAlgorithm.py
  pyvista/trame/__init__.py
  pyvista/trame/ui.py
  tests/jupyter/test_trame.py
Labels: none

Make UI menu re-usable
  examples_trame/advanced/custom_ui.py
  pyvista/trame/ui.py
Labels: none

Cleanup test
  tests/jupyter/test_trame.py
Labels: none

Support Actor-based picking
  examples/02-plot/mesh-picking.py
  pyvista/plotting/picking.py
Labels: documentation

Track Actor names
  pyvista/plotting/actor.py
  pyvista/plotting/renderer.py
Labels: none

Add _new_attr_exceptions
  pyvista/plotting/actor.py
  pyvista/utilities/misc.py
Labels: none

add_actor clean up
  pyvista/plotting/renderer.py
Labels: none

Fix culling check
  pyvista/plotting/renderer.py
Labels: none

Fix inplace filters and copy_from
  pyvista/core/dataset.py
  tests/test_polydata.py
Labels: none

Fix copy_meta_from
  pyvista/core/dataset.py
Labels: none

Fix transform's use of copy_from
  pyvista/core/filters/data_set.py
Labels: none

Fix docs errors
  pyvista/plotting/actor.py
  pyvista/plotting/renderer.py
Labels: none

Fix actors usage
  examples/02-plot/mesh-picking.py
Labels: documentation

Add test
  tests/test_picking.py
Labels: none

Skip MathText test for VTK and Matplotlib version incompatibilities (#3838)
  tests/plotting/test_plotting.py
Labels: none

deep=True default
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
Labels: none

Fix AddActor call
  pyvista/plotting/renderer.py
Labels: none

Add smooth_shading test
  tests/test_plotter.py
Labels: none

Fix issues with `contour_banded()` and improve examples (#3842)
  examples/01-filter/contouring.py
  pyvista/core/filters/poly_data.py
Labels: documentation

Add viewport argument to add_orientation_widget
  pyvista/plotting/renderer.py
Labels: none

Minor cleanup
  pyvista/plotting/axes.py
Labels: none

Move ShaftType and TipType
  pyvista/plotting/actor_properties.py
  pyvista/plotting/axes_actor.py
  tests/plotting/test_plotting.py
  tests/test_axes.py
Labels: none

example with add_orientation_widget
  pyvista/plotting/axes_actor.py
Labels: none

Add namespace
  pyvista/plotting/__init__.py
Labels: none

Fix inplace filters usage of copy_from (#3865)
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  tests/test_plotter.py
  tests/test_polydata.py
Labels: none

Fix trame test
  tests/jupyter/test_trame.py
Labels: none

Bump testing coverage
  pyvista/trame/views.py
  tests/jupyter/test_trame.py
Labels: none

Fix pytest mark
  tests/jupyter/test_trame.py
Labels: none
