Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Update linkcheck.yml
  .github/workflows/linkcheck.yml
Labels: maintenance

Update testing-and-deployment.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

comment out until #4193 is fixed.
  .github/workflows/docs.yml
Labels: maintenance

Fix test condition
  tests/plotting/test_plotting.py
Labels: none

Add magnetic field example (#3058)
  examples/99-advanced/magnetic-fields.py
  pyvista/examples/downloads.py
  pyvista/plotting/plotting.py
  pyvista/plotting/tools.py
  tests/examples/test_download_files.py
  tests/plotting/image_cache/plotter_volume_add_scalars_log_scale.png
  tests/plotting/test_plotting.py
Labels: documentation

comment out until #4193 is fixed. (#4194)
  .github/workflows/docs.yml
Labels: maintenance

reduce duplication
  pyvista/plotting/cube_axes_actor.py
Labels: none

Support number of labels and fmt in show_bounds (#3977)
  doc/source/api/plotting/index.rst
  pyvista/core/composite.py
  pyvista/jupyter/notebook.py
  pyvista/plotting/__init__.py
  pyvista/plotting/cube_axes_actor.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/trame/ui.py
  tests/plotting/image_cache/multi_renderers.png
  tests/plotting/image_cache/plot.png
  tests/plotting/image_cache/plot_helper_volume.png
  tests/plotting/image_cache/plot_label_fmt.png
  tests/plotting/image_cache/plot_show_bounds_params[all-True].png
  tests/plotting/image_cache/plot_show_bounds_params[all-back].png
  tests/plotting/image_cache/plot_show_bounds_params[all-both].png
  tests/plotting/image_cache/plot_show_bounds_params[all-front].png
  tests/plotting/image_cache/plot_show_bounds_params[back-True].png
  tests/plotting/image_cache/plot_show_bounds_params[back-back].png
  tests/plotting/image_cache/plot_show_bounds_params[back-both].png
  tests/plotting/image_cache/plot_show_bounds_params[back-front].png
  tests/plotting/image_cache/plot_show_bounds_params[front-True].png
  tests/plotting/image_cache/plot_show_bounds_params[front-back].png
  tests/plotting/image_cache/plot_show_bounds_params[front-both].png
  tests/plotting/image_cache/plot_show_bounds_params[front-front].png
  tests/plotting/image_cache/plot_show_bounds_params[origin-True].png
  tests/plotting/image_cache/plot_show_bounds_params[origin-back].png
  tests/plotting/image_cache/plot_show_bounds_params[origin-both].png
  tests/plotting/image_cache/plot_show_bounds_params[origin-front].png
  tests/plotting/image_cache/plot_show_bounds_params[outer-True].png
  tests/plotting/image_cache/plot_show_bounds_params[outer-back].png
  tests/plotting/image_cache/plot_show_bounds_params[outer-both].png
  tests/plotting/image_cache/plot_show_bounds_params[outer-front].png
  tests/plotting/image_cache/plot_show_grid.png
  tests/plotting/image_cache/plot_show_grid_with_mesh.png
  tests/plotting/image_cache/show_bounds_n_labels.png
  tests/plotting/image_cache/show_bounds_no_labels.png
  tests/plotting/test_plotting.py
  tests/test_cube_axes_actor.py
  tests/test_renderer.py
Labels: documentation

Drop 3.7
  .github/workflows/vtk-pre-test.yml
Labels: maintenance

use default settings for vscode testing
  .devcontainer/devcontainer.json
Labels: none

fix oncreate
  .devcontainer/devcontainer.json
Labels: none

remove unneeded unittest setting
  .devcontainer/devcontainer.json
Labels: none

[wip]
  pyvista/_vtk.py
  pyvista/plotting/picking.py
  pyvista/plotting/render_window_interactor.py
Labels: none

Add extract_cells_by_type
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
Labels: none

devcontainer enhancement (#4202)
  .devcontainer/devcontainer.json
  .devcontainer/oncreatecommand.sh
Labels: none

Fix JupyterHub service proxy prefix issue
  pyvista/themes.py
Labels: none

Fix JupyterHub service proxy prefix issue (#4210)
  pyvista/themes.py
Labels: none

Add Trims trailing whitespace in pre-commit-hooks
  .devcontainer/devcontainer.json
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/maintenance-request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  CITATION.cff
  doc/source/api/core/composite.rst
  doc/source/api/examples/index.rst
  doc/source/api/index.rst
  doc/source/user-guide/data_model.rst
  examples/02-plot/README.rst
  examples_flask/dynamic_ex/templates/index.html
  examples_flask/static_ex/templates/index.html
  pyvista/examples/airplane.ply
  pyvista/examples/hexbeam.vtk
  pyvista/examples/rectilinear.vtk
  tests/tinypages/some_plots.rst
Labels: documentation, maintenance

[create-pull-request] update local intersphinx
  doc/intersphinx/imageio-objects.inv
  doc/intersphinx/python-objects.inv
  doc/intersphinx/trimesh-objects.inv
Labels: documentation

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Fix small typo
  pyvista/core/texture.py
Labels: none

Update texture.py
  pyvista/core/texture.py
Labels: none

Update texture.py
  pyvista/core/texture.py
Labels: none

Update texture.py
  pyvista/core/texture.py
Labels: none

Add test for 'connected' argument to Plotter.add_lines
  tests/test_plotter.py
Labels: none

fix typo in Plotter.add_lines docstring [no ci]
  pyvista/plotting/plotting.py
Labels: none

Add example using 'connected=True' to docstring of Plotter.add_lines
  pyvista/plotting/plotting.py
Labels: none

Add 'connected' argument to Plotter.add_lines.
  pyvista/plotting/plotting.py
Labels: none

Plot purple line segments rather than yellow.
  pyvista/plotting/plotting.py
Labels: none

Fix formatting for docstring description of 'connected' argument to Plotter.add_lines
  pyvista/plotting/plotting.py
Labels: none

Clarify format of points array expected when the 'connected' argument to 'add_lines' is False
  pyvista/plotting/plotting.py
Labels: none

Use less ambiguous example in description of 'lines' argument to Plotter.add_lines
  pyvista/plotting/plotting.py
Labels: none

Remove unnecessary imports from Plotter.add_lines docstring examples
  pyvista/plotting/plotting.py
Labels: none

Update airplane.ply
  pyvista/examples/airplane.ply
Labels: none

Update hexbeam.vtk
  pyvista/examples/hexbeam.vtk
Labels: none

Update rectilinear.vtk
  pyvista/examples/rectilinear.vtk
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

Add 'connected' argument to 'Plotter.add_lines' to create a series of connected lines (#4214)
  pyvista/plotting/plotting.py
  tests/test_plotter.py
Labels: none

Change token
  .github/workflows/docs.yml
Labels: maintenance

Test peaceiris action
  .github/workflows/docs.yml
Labels: maintenance
