Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

fix example
  pyvista/examples/downloads.py
Labels: none

add a note to 3811
  pyvista/examples/downloads.py
Labels: none

Update requirements handling
  .github/workflows/docs.yml
  requirements.txt
  requirements_docs.txt
  requirements_test.txt
Labels: maintenance, dependencies

Fix silly typo
  .github/workflows/docs.yml
Labels: maintenance

Fix cache-dependency-path
  .github/workflows/linkcheck.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Add back libosmesa
  .github/workflows/docs.yml
Labels: maintenance

Use --no-deps for local installs
  .github/workflows/linkcheck.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Fix note
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
Labels: maintenance

add initial work
  examples/03-widgets/clip-volume.py
  pyvista/_vtk.py
  pyvista/examples/examples.py
  pyvista/plotting/widgets.py
Labels: documentation

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Add override numpydoc_validation_exclude
  doc/conf.py
Labels: documentation

Improve notes
  pyvista/plotting/plotting.py
Labels: none

Add vtkAlgorithm support to `add_mesh` for pipelining (#3318)
  examples/99-advanced/plotting-algorithms.py
  pyvista/_vtk.py
  pyvista/core/filters/__init__.py
  pyvista/errors.py
  pyvista/jupyter/pv_ipygany.py
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/export_vtkjs.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/widgets.py
  pyvista/utilities/__init__.py
  pyvista/utilities/algorithms.py
  pyvista/utilities/helpers.py
  tests/plotting/image_cache/add_ids_algorithm.png
  tests/plotting/image_cache/add_ids_algorithm_1.png
  tests/plotting/image_cache/algorithm_add_mesh_methods.png
  tests/plotting/image_cache/algorithm_add_mesh_methods_1.png
  tests/plotting/image_cache/algorithm_add_point_labels.png
  tests/plotting/image_cache/algorithm_add_points.png
  tests/plotting/image_cache/plot_algorithm_cone.png
  tests/plotting/image_cache/plot_algorithm_cone_1.png
  tests/plotting/image_cache/plot_algorithm_scalars.png
  tests/plotting/image_cache/plot_algorithm_scalars_1.png
  tests/plotting/image_cache/plot_algorithm_simple.png
  tests/plotting/image_cache/pointset_to_polydata_algorithm.png
  tests/plotting/test_plotting.py
  tests/plotting/test_widgets.py
  tests/test_helpers.py
Labels: documentation

Make set_jupyter_backend awaitable
  pyvista/jupyter/__init__.py
  pyvista/themes.py
Labels: none

[debug] upload docs
  .github/workflows/docs.yml
Labels: maintenance

[debug] maybe autosummary ignore override
  doc/_templates_full/autosummary/class.rst
Labels: documentation

Revert
  doc/_templates_full/autosummary/class.rst
Labels: documentation

Return Future object in set_jupyter_backend
  pyvista/jupyter/__init__.py
Labels: none

Dump Sphinx warnings to file
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  .gitignore
  doc/Makefile
Labels: documentation, maintenance

Use reconnect URL option
  pyvista/trame/jupyter.py
Labels: none

Add PyVistaRemoteLocalView example
  examples_trame/PyVistaLocalView.py
  examples_trame/PyVistaRemoteLocalView.py
Labels: none

Utilize view_push_camera for client-side camera controls
  pyvista/trame/ui.py
Labels: none

Update pyvista/plotting/charts.py
  pyvista/plotting/charts.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Add skipmethods to autosummary context
  doc/_templates_full/autosummary/class.rst
  doc/conf.py
Labels: documentation

Add :stderr: option to jupyter-execute blocks calling extract_all_edges.
  doc/api/core/grids.rst
  doc/api/core/pointsets.rst
  doc/user-guide/data_model.rst
Labels: documentation

Revert :stderr: option; add note to autosummary_context
  doc/api/core/grids.rst
  doc/api/core/pointsets.rst
  doc/conf.py
  doc/user-guide/data_model.rst
Labels: documentation

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Apply suggestions from code review
  examples/03-widgets/clip-volume.py
  pyvista/examples/examples.py
Labels: documentation

Try vtkLogger fix
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
Labels: none

Add vtkLogger import for VTK<9
  pyvista/_vtk.py
Labels: none
