Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

move content from cells to cell
  pyvista/core/cell.py
  pyvista/core/cells.py
  pyvista/core/dataset.py
Labels: none

Update pyvista-binder-config.yml
  doc/pyvista-binder-config.yml
Labels: documentation

fix tests
  pyvista/core/cell.py
  pyvista/core/dataset.py
  pyvista/core/pointset.py
  tests/test_cells.py
  tests/test_dataset.py
  tests/test_grid.py
Labels: none

backwards compat
  pyvista/_vtk.py
  pyvista/core/dataset.py
Labels: none

run pre-commit
  pyvista/_vtk.py
Labels: none

add docs
  doc/api/core/cells.rst
  doc/api/core/index.rst
  pyvista/_vtk.py
  pyvista/core/cell.py
  pyvista/core/dataset.py
  tests/test_cells.py
Labels: documentation

Fix link_views() default camera position (#3743)
  pyproject.toml
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/link_views.png
  tests/plotting/image_cache/link_views_camera_set.png
  tests/plotting/image_cache/link_views_camera_set_1.png
  tests/plotting/image_cache/plot_compare_four.png
  tests/plotting/image_cache/vector_array.png
  tests/plotting/image_cache/vector_array_with_cells.png
  tests/plotting/image_cache/vector_array_with_cells_1.png
  tests/plotting/image_cache/vector_array_with_points.png
  tests/plotting/image_cache/vector_array_with_points_1.png
  tests/plotting/test_plotting.py
Labels: maintenance

Add param docs
  pyvista/plotting/renderer.py
Labels: none

Use color series with cyclers
  doc/make_tables.py
  pyvista/plotting/charts.py
  pyvista/plotting/colors.py
  tests/test_charts.py
Labels: documentation

Fix namespace
  doc/make_tables.py
Labels: documentation

Fix namespace
  tests/test_charts.py
Labels: none

Fix import
  tests/test_charts.py
Labels: none

Add image regression cache
  tests/plotting/image_cache/color_cycler.png
  tests/plotting/image_cache/color_cycler_1.png
  tests/plotting/image_cache/color_cycler_2.png
Labels: none

Expose preference in more filters
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/filters/uniform_grid.py
Labels: none

Expose more preferences
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/widgets.py
  pyvista/utilities/helpers.py
Labels: none

Fix docstring examples
  pyvista/plotting/renderer.py
  pyvista/themes.py
Labels: none

Use --fail_extra_image_cache on CI
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Ensure bounds properties are immutable (#3747)
  pyvista/core/composite.py
  pyvista/plotting/actor.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  tests/test_composite.py
Labels: none

🎉 HAPPY NEW YEAR 2023 🎉 (#3765)
  LICENSE
  doc/pyvista-binder-config.yml
Labels: documentation

fix cast unstructured grid for VTK<9
  .github/workflows/testing-and-deployment.yml
  pyvista/core/cell.py
  tests/test_cells.py
Labels: maintenance

Use --fail_extra_image_cache on CI (#3776)
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Improve coverage
  pyvista/plotting/colors.py
  tests/plotting/image_cache/color_cycler_names[all].png
  tests/plotting/image_cache/color_cycler_names[default].png
  tests/plotting/image_cache/color_cycler_names[matplotlib].png
  tests/plotting/image_cache/color_cycler_names[warm].png
  tests/plotting/test_plotting.py
Labels: none

Apply suggestions from code review
  doc/api/core/cells.rst
  pyvista/core/cell.py
  pyvista/core/dataset.py
  tests/test_grid.py
Labels: documentation

Update pyvista/core/dataset.py
  pyvista/core/dataset.py
Labels: none

Fix PVD reader, allow no part (#3760)
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

Define type alias for length-6 tuple of numbers
  pyvista/_typing.py
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/pointset.py
  pyvista/plotting/actor.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
Labels: none

fix get_cell
  pyvista/core/dataset.py
Labels: none

use addopts
  pyproject.toml
  tests/plotting/image_cache/plot_individual_cell.png
Labels: maintenance

minor example changes
  examples/02-plot/vertices.py
Labels: documentation

Fix tests and doc
  doc/api/core/cells.rst
  pyvista/core/cell.py
  pyvista/core/dataset.py
Labels: documentation

Fix doc links
  pyvista/core/dataset.py
Labels: none

add show_vertices
  examples/02-plot/vertices.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/plot_show_vertices.png
  tests/plotting/image_cache/plot_show_vertices_1.png
  tests/plotting/test_plotting.py
Labels: documentation

add composite
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

add additional tests
  .gitignore
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/volume.py
  tests/mappers/test_mapper.py
  tests/mappers/test_volume_mapper.py
Labels: none

remove test_volume
  tests/plotting/test_volume.py
Labels: none

revert change to addopts
  pyproject.toml
Labels: maintenance

add in additional test and bounds check
  pyvista/core/cell.py
  pyvista/core/dataset.py
  tests/test_cells.py
Labels: none

Rename bounds_like -> BoundsLike, add cast() comments
  pyvista/_typing.py
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/pointset.py
  pyvista/plotting/actor.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
Labels: none

add missing test image
  tests/plotting/image_cache/plot_show_vertices_2.png
Labels: none

Rename color_like -> ColorLike
  doc/api/utilities/utilities.rst
  doc/conf.py
  pyvista/_typing.py
  pyvista/core/filters/poly_data.py
  pyvista/plotting/__init__.py
  pyvista/plotting/_property.py
  pyvista/plotting/charts.py
  pyvista/plotting/colors.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/helpers.py
  pyvista/plotting/lights.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  pyvista/plotting/scalar_bars.py
  pyvista/plotting/tools.py
  pyvista/plotting/widgets.py
  pyvista/themes.py
Labels: documentation
