Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Update doc/getting-started/connections.rst
  doc/getting-started/connections.rst
Labels: documentation

Revert load True
  examples/99-advanced/planets.py
Labels: documentation

fix wireframe color (#3296)
  pyvista/plotting/_property.py
  tests/plotting/image_cache/wireframe_color.png
  tests/plotting/test_plotting.py
Labels: none

Fix texture args
  examples/99-advanced/planets.py
  pyvista/examples/planets.py
Labels: documentation

Fix error of documentation build
  pyvista/examples/planets.py
Labels: none

improve error
  pyvista/examples/downloads.py
Labels: none

Fix callback errors
  pyvista/plotting/render_window_interactor.py
Labels: none

wrap pointset and allow instantiating from vtkPointSet
  pyvista/core/pointset.py
  pyvista/utilities/wrappers.py
  tests/test_pointset.py
Labels: none

Flip texture coordinates along latitude to fix mapping
  pyvista/examples/planets.py
Labels: none

Fix Sun texture error
  pyvista/examples/planets.py
Labels: none

Add PyViewFactor to Connections (#3295)
  doc/getting-started/connections.rst
Labels: documentation

Fix callback errors (#3310)
  pyvista/plotting/render_window_interactor.py
Labels: none

Move utility methods out of core subpackage
  doc/api/core/misc.rst
  doc/conf.py
  examples/01-filter/image-fft-perlin-noise.py
  examples/01-filter/sampling_functions_2d.py
  examples/01-filter/sampling_functions_3d.py
  pyvista/core/__init__.py
  pyvista/core/common_data.py
  pyvista/core/filters/uniform_grid.py
  pyvista/core/imaging.py
  pyvista/utilities/__init__.py
  pyvista/utilities/common.py
Labels: documentation

fix PyVistaDeprecationWarning
  pyvista/core/dataset.py
Labels: none

Add test
  tests/test_filters.py
Labels: none

Move things around
  pyvista/core/dataset.py
  pyvista/utilities/__init__.py
  pyvista/utilities/arrays.py
  pyvista/utilities/common.py
  pyvista/utilities/geometric_objects.py
  tests/utilities/test_common.py
Labels: none

Fix imports
  pyvista/utilities/__init__.py
  pyvista/utilities/common.py
Labels: none

add in orientation and backface
  pyvista/plotting/actor.py
  tests/plotting/test_plotting.py
Labels: none

Update pyvista/core/dataset.py
  pyvista/core/dataset.py
Labels: none

Update tests/test_dataset.py
  tests/test_dataset.py
Labels: none

Update examples/02-plot/mesh-picking.py
  examples/02-plot/mesh-picking.py
Labels: documentation

Remove .codeclimate.yml
  .codeclimate.yml
Labels: none

Migrate some config files into setup.cfg
  .codespellrc
  .coveragerc
  .flake8
  mypy.ini
  pyproject.toml
  pytest.ini
  setup.cfg
Labels: maintenance

Update conda environment
  environment.yml
Labels: dependencies

Cleanup
  environment.yml
Labels: dependencies

add tests
  tests/plotting/image_cache/plot_actor.png
  tests/test_actor.py
Labels: none

add tests for deep/shallow copying for vtk_points
  tests/test_helpers.py
Labels: none

test deep/shallow copying for vtkPointSet -> pyvista.PointSet
  tests/test_pointset.py
Labels: none

fix docbuild
  pyvista/plotting/_property.py
  pyvista/plotting/actor.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
Labels: none

fix bug in add_mesh for vtkPointSet, add plotting tests
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/pointset_plot_as_points_vtk.png
  tests/plotting/image_cache/pointset_plot_vtk.png
  tests/plotting/test_plotting.py
Labels: none

Update pyvista/core/filters/data_set.py
  pyvista/core/filters/data_set.py
Labels: none

Update pyvista/core/filters/data_set.py
  pyvista/core/filters/data_set.py
Labels: none

wrap the lookup table
  pyvista/plotting/__init__.py
  pyvista/plotting/_property.py
  pyvista/plotting/actor.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/scalar_bars.py
  pyvista/utilities/misc.py
  tests/plotting/image_cache/lookup_table.png
  tests/plotting/image_cache/plot_categories_int.png
  tests/plotting/image_cache/plot_categories_true.png
  tests/plotting/test_plotting.py
  tests/test_lookup_table.py
  tests/test_mapper.py
Labels: none

Remove .codeclimate.yml (#3327)
  .codeclimate.yml
Labels: none

Fix by isort
  pyvista/core/filters/data_set.py
Labels: none

Add dev Gitpod support (#3267)
  .gitpod.yml
  CONTRIBUTING.rst
  docker/dev-gitpod.Dockerfile
Labels: docker

FIX: Wrap vtkPointSet (#3311)
  pyvista/core/pointset.py
  pyvista/plotting/plotting.py
  pyvista/utilities/wrappers.py
  tests/plotting/image_cache/pointset_plot_as_points_vtk.png
  tests/plotting/image_cache/pointset_plot_vtk.png
  tests/plotting/test_plotting.py
  tests/test_helpers.py
  tests/test_pointset.py
Labels: none

Add extent to extract_geometry filter (#3256)
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: none

Rename method: overwrite -> copy_from (#3230)
  examples/02-plot/isovalue.py
  examples/02-plot/mesh-picking.py
  examples/02-plot/movie_glyphs.py
  examples/03-widgets/multi-slider-widget.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  tests/test_dataset.py
Labels: documentation

Move utility methods out of core subpackage (#3321)
  doc/api/core/misc.rst
  doc/conf.py
  examples/01-filter/image-fft-perlin-noise.py
  examples/01-filter/sampling_functions_2d.py
  examples/01-filter/sampling_functions_3d.py
  pyvista/core/__init__.py
  pyvista/core/common_data.py
  pyvista/core/dataset.py
  pyvista/core/filters/uniform_grid.py
  pyvista/core/imaging.py
  pyvista/utilities/__init__.py
  pyvista/utilities/arrays.py
  pyvista/utilities/common.py
  pyvista/utilities/geometric_objects.py
  tests/utilities/test_common.py
Labels: documentation

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
