Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

MAINT: Use setup-headless for pyvistaqt
  .github/workflows/integration-tests.yml
Labels: maintenance

Change development status to stable (#4228)
  pyproject.toml
Labels: maintenance

Typo fix (#4237)
  pyvista/plotting/_property.py
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

MAINT: Use setup-headless for pyvistaqt (#4241)
  .github/workflows/integration-tests.yml
Labels: maintenance

interpolate --> sample
  examples/99-advanced/openfoam-cooling.py
  pyvista/examples/downloads.py
Labels: documentation

Add electronics cooling example (#4235)
  examples/99-advanced/openfoam-cooling.py
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: documentation

Generalize pure VTK example (#4234)
  doc/source/getting-started/why.rst
Labels: documentation

Improve performance of Trame camera sync (#4223)
  examples_trame/basic/algorithm.py
  examples_trame/basic/ui_template.py
  examples_trame/validation/many_actors.py
  pyvista/plotting/renderer.py
  pyvista/trame/ui.py
  pyvista/trame/views.py
Labels: none

incorporate suggestions
  examples/99-advanced/openfoam-tubes.py
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: documentation

fix tests and error classes
  pyvista/core/errors.py
  pyvista/core/pointset.py
  tests/test_pointset.py
Labels: none

[Hotfix] Fix download error
  pyvista/examples/downloads.py
Labels: none

[Hotfix] Fix download error (#4253)
  pyvista/examples/downloads.py
Labels: none

fix note regarding sampling
  examples/99-advanced/openfoam-tubes.py
Labels: documentation

add pyacvd note
  examples/99-advanced/openfoam-tubes.py
Labels: documentation

Split enable_cell_picking
  pyvista/plotting/picking.py
Labels: none

Cleanup rectangle picking
  pyvista/plotting/opts.py
  pyvista/plotting/picking.py
Labels: none

Fix cell picking callback
  pyvista/plotting/picking.py
Labels: none

Move mode argument
  pyvista/plotting/picking.py
Labels: none

inprog
  examples/99-advanced/pump-bracket.py
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: documentation

finalize example
  examples/99-advanced/pump-bracket.py
  examples/99-advanced/warp-by-vector-eigenmodes.py
  pyvista/core/filters/data_set.py
  pyvista/examples/downloads.py
Labels: documentation

remove line
  pyvista/examples/downloads.py
Labels: none

ignore PointSet numpydoc validation
  doc/source/conf.py
Labels: documentation

Fix link path
  examples/99-advanced/openfoam-cooling.py
Labels: documentation

Update openfoam-cooling.py
  examples/99-advanced/openfoam-cooling.py
Labels: documentation

Update openfoam-tubes.py
  examples/99-advanced/openfoam-tubes.py
Labels: documentation

Apply suggestions from code review
  examples/99-advanced/openfoam-cooling.py
Labels: documentation

add simple aero bracket
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: none

clean up examples
  pyvista/examples/downloads.py
Labels: none

Fix tubes example (#4248)
  examples/99-advanced/openfoam-tubes.py
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: documentation

Update doc/source/conf.py
  doc/source/conf.py
Labels: documentation

add random sample filter
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
Labels: none

Fix add_composite use within add_mesh
  pyvista/plotting/plotting.py
Labels: none

Add PointSet guards (#4225)
  doc/source/conf.py
  pyvista/core/errors.py
  pyvista/core/pointset.py
  tests/test_pointset.py
Labels: documentation

Update examples/99-advanced/openfoam-tubes.py
  examples/99-advanced/openfoam-tubes.py
Labels: documentation

Fix typo (#4256)
  examples/99-advanced/openfoam-cooling.py
  examples/99-advanced/openfoam-tubes.py
Labels: documentation

Using pre-commit official GitHub action
  .github/workflows/style_docstr.yml
Labels: maintenance

Transifex's Web Application's Domain Change
  doc/source/index.rst
Labels: documentation

Transifex's Web Application's Domain Change (#4264)
  doc/source/index.rst
Labels: documentation

Add topoGenesis to the external examples
  doc/source/make_external_gallery.py
Labels: documentation

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
