Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Attempt skip test_plotter_lookup_table
  tests/plotting/test_plotting.py
Labels: none

Move conditional check
  pyvista/core/filters/data_set.py
Labels: none

Update pyvista/plotting/plotting.py
  pyvista/plotting/plotting.py
Labels: none

Add star import test
  tests/test_imports.py
Labels: none

Move tests of plotter
  tests/plotting/test_plotting.py
  tests/test_plotter.py
Labels: none

Allify utilitites.__init__
  pyvista/__init__.py
  pyvista/utilities/__init__.py
Labels: none

revert changes to test_ssao_pass from #3579
  tests/plotting/test_plotting.py
Labels: none

Remove remaining star imports in utilities subpackage tree
  pyvista/utilities/__init__.py
Labels: none

reorder skip on windows
  tests/plotting/test_plotting.py
Labels: none

further cache skipping and reordering
  tests/plotting/test_plotting.py
Labels: none

use built in attribute
  tests/plotting/test_plotting.py
Labels: none

Add back pyvista.helpers for docs
  pyvista/__init__.py
Labels: none

Improve and correct vtkThreshold usage (#3750)
  pyvista/core/filters/data_set.py
  pyvista/plotting/widgets.py
  tests/plotting/test_widgets.py
  tests/test_filters.py
Labels: none

🎉 HAPPY NEW YEAR 2023 🎉
  LICENSE
Labels: none

Update pyvista-binder-config.yml
  doc/pyvista-binder-config.yml
Labels: documentation

Remove from pyvista.core import *
  pyvista/__init__.py
  tests/test_grid.py
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

[create-pull-request] update local intersphinx
  doc/intersphinx/numpy-objects.inv
  doc/intersphinx/python-objects.inv
Labels: documentation

Depreciate -> Deprecate
  pyvista/core/filters/data_set.py
  pyvista/plotting/__init__.py
  pyvista/utilities/misc.py
Labels: none

Remove from pyvista.plotting import *
  pyvista/__init__.py
  tests/test_theme.py
Labels: none

Remove star imports in pyvista.examples
  pyvista/examples/__init__.py
Labels: none

Add back pyvista.charts for docs
  pyvista/__init__.py
Labels: none

Merge from pyvista.utilities import ...
  pyvista/__init__.py
Labels: none

Restore pyvista.theme backwards compat
  pyvista/__init__.py
Labels: none

Add examples and plotting __all__
  pyvista/examples/__init__.py
  pyvista/plotting/__init__.py
Labels: none

Refactor import tests to print missing names on failure
  tests/test_imports.py
Labels: none

Add remaining __all__s
  pyvista/__init__.py
  pyvista/core/__init__.py
  pyvista/demos/__init__.py
  pyvista/jupyter/__init__.py
Labels: none

Bump pytest-pyvista and fix image regression testing (#3748)
  .github/workflows/testing-and-deployment.yml
  CONTRIBUTING.rst
  pyproject.toml
  requirements_test.txt
  tests/plotting/test_plotting.py
Labels: maintenance, dependencies

Resolves return_img for Plotter.show() (#3761)
  pyvista/plotting/plotting.py
  tests/test_plotter.py
Labels: none

Improve imports
  pyvista/trame/__init__.py
  pyvista/trame/jupyter.py
  pyvista/trame/ui.py
  pyvista/trame/views.py
Labels: none

Cast bounds
  pyvista/core/composite.py
  pyvista/plotting/renderer.py
Labels: none

Formatting
  pyvista/trame/views.py
Labels: none

make vector array images tight
  pyproject.toml
  tests/plotting/image_cache/vector_array.png
  tests/plotting/image_cache/vector_array_with_cells.png
  tests/plotting/image_cache/vector_array_with_cells_1.png
  tests/plotting/image_cache/vector_array_with_points.png
  tests/plotting/image_cache/vector_array_with_points_1.png
  tests/plotting/test_plotting.py
Labels: maintenance

skip test on windows
  tests/utilities/test_reader.py
Labels: none

revert image_cache_dir change
  pyproject.toml
Labels: maintenance

refactor
  pyvista/core/__init__.py
  pyvista/core/cell.py
  pyvista/core/celltype.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/pointset.py
  tests/plotting/test_plotting.py
  tests/test_cells.py
Labels: none

concrete wrap of vtk cells
  pyvista/_vtk.py
  pyvista/core/cell.py
  pyvista/core/cells.py
  pyvista/core/dataset.py
  tests/test_cells.py
Labels: none
