Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Improve examples
  examples_trame/PyVistaLocalView.py
  examples_trame/PyVistaRemoteView.py
  examples_trame/UITemplate.py
  pyvista/trame/ui.py
Labels: none

add_on_render_callback
  pyvista/plotting/plotting.py
  pyvista/trame/__init__.py
Labels: none

Add color cyclers for add_mesh
  examples/02-plot/color_cycler.py
  pyvista/plotting/colors.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  pyvista/themes.py
  tests/plotting/test_plotting.py
Labels: documentation

Remove WIP DocumentProTheme
  pyvista/themes.py
Labels: none

Using vtkGenericCell and use generator for edges and faces
  pyvista/core/cell.py
  pyvista/core/dataset.py
  tests/test_cells.py
Labels: none

Docstring changes
  pyvista/core/cell.py
Labels: none

Docstring modifications
  pyvista/core/cell.py
  pyvista/core/dataset.py
Labels: none

get rid of test warnings
  pyvista/plotting/camera.py
  pyvista/plotting/widgets.py
  pyvista/utilities/helpers.py
  tests/plotting/test_widgets.py
  tests/test_dataset.py
  tests/test_helpers.py
  tests/test_picking.py
  tests/test_pointset.py
Labels: none

Add depreciation warnings
  pyvista/core/dataset.py
Labels: none

Add warning
  pyvista/core/dataset.py
Labels: none

Update pyvista/utilities/helpers.py
  pyvista/utilities/helpers.py
Labels: none

avoid memory leak on python3.11
  pyvista/utilities/helpers.py
  tests/plotting/test_collection.py
Labels: none

remove numpy ref; downgrade to ubuntu 20.04
  .github/workflows/docker-package.yml
  .github/workflows/docs.yml
  .github/workflows/greetings.yml
  .github/workflows/intersphinx-update-pull-request.yml
  .github/workflows/label.yml
  .github/workflows/linkcheck.yml
  .github/workflows/pre-commit-update.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  pyvista/utilities/helpers.py
  tests/plotting/test_collection.py
Labels: maintenance

do not remove the ref
  pyvista/utilities/helpers.py
Labels: none

deal with edge case
  pyvista/utilities/helpers.py
  tests/plotting/test_collection.py
Labels: none

Fix link_views() set_camera
  pyvista/plotting/plotting.py
Labels: none

Converge on POINT field association preference
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/plotting/plotting.py
  pyvista/plotting/widgets.py
  pyvista/utilities/helpers.py
Labels: none

[WIP] set preference in theme
  pyvista/themes.py
  pyvista/utilities/helpers.py
Labels: none

Update example
  examples/02-plot/color_cycler.py
Labels: documentation

Apply suggestions of code review
  pyvista/plotting/charts.py
Labels: none

Fix builds (#3740)
  .github/workflows/docker-package.yml
  .github/workflows/docs.yml
  .github/workflows/greetings.yml
  .github/workflows/intersphinx-update-pull-request.yml
  .github/workflows/label.yml
  .github/workflows/linkcheck.yml
  .github/workflows/pre-commit-update.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  pyvista/plotting/camera.py
  pyvista/plotting/widgets.py
  pyvista/utilities/helpers.py
  tests/plotting/test_collection.py
  tests/plotting/test_widgets.py
  tests/test_dataset.py
  tests/test_helpers.py
  tests/test_picking.py
  tests/test_pointset.py
Labels: maintenance

Add vertex rendering example
  examples/02-plot/vertices.py
Labels: documentation

Fix unlink_vies and image cache
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/link_views.png
  tests/plotting/image_cache/link_views_camera_set.png
  tests/plotting/image_cache/link_views_camera_set_1.png
  tests/plotting/image_cache/plot_compare_four.png
  tests/plotting/image_cache/vector_array.png
  tests/plotting/test_plotting.py
Labels: none

codespell
  examples/02-plot/vertices.py
Labels: documentation

Formatting
  examples/02-plot/vertices.py
Labels: documentation

Revert theming
  pyvista/themes.py
  pyvista/utilities/helpers.py
Labels: none

Fix failing test
  pyvista/core/filters/data_set.py
Labels: none

ensure bounds properties are immutable
  pyvista/core/composite.py
  pyvista/plotting/actor.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  tests/test_composite.py
Labels: none

Add image_cache_dir to pytest ini options
  pyproject.toml
Labels: maintenance

Use tuple type annotation
  pyvista/core/composite.py
  pyvista/plotting/renderer.py
Labels: none

Revert threshold preferences
  pyvista/core/filters/data_set.py
  pyvista/plotting/widgets.py
Labels: none

wip: add method support
  pyvista/core/filters/data_set.py
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Apply suggestions from code review
  .pre-commit-config.yaml
Labels: none

Improve vtkThreshold usage
  pyvista/core/filters/data_set.py
  pyvista/plotting/widgets.py
  tests/test_filters.py
Labels: none

Fix test name
  tests/test_filters.py
Labels: none

Add preference note
  pyvista/core/filters/data_set.py
Labels: none

codespell
  pyvista/core/filters/data_set.py
Labels: none

Fix docstring examples
  pyvista/core/composite.py
  pyvista/plotting/plotting.py
Labels: none

Fix invert usage
  pyvista/core/filters/data_set.py
  pyvista/plotting/widgets.py
Labels: none
