Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

update callback to use normal and origin
  pyvista/plotting/mapper.py
  pyvista/plotting/widgets.py
Labels: none

add coverage
  tests/plotting/test_widgets.py
Labels: none

add missing image
  tests/plotting/image_cache/plot_volume_rgba_1.png
Labels: none

smart conditional skip
  tests/plotting/test_plotting.py
Labels: none

fix mem leak
  pyvista/plotting/_plotting.py
Labels: none

Update examples/99-advanced/magnetic-fields.py
  examples/99-advanced/magnetic-fields.py
Labels: documentation

Use namespace over ref for trame views
  pyvista/trame/views.py
Labels: none

whelp
  pyvista/examples/downloads.py
Labels: none

_ALLOWED_THEMES -> _NATIVE_THEMES
  pyvista/themes.py
  pyvista/utilities/misc.py
  tests/test_theme.py
Labels: none

Add DocumentProTheme
  pyvista/themes.py
Labels: none

Adds test_axes_actor_properties images
  tests/plotting/image_cache/axes_actor_properties.png
Labels: none

Adds __del__ function to axes
  pyvista/plotting/axes.py
Labels: none

Skip 9.0.x VTK version for properties test
  tests/plotting/test_plotting.py
Labels: none

Add no cover pragma and use proxy instead of weakref
  pyvista/plotting/charts.py
Labels: none

Skip lower versions of VTK due to functions not implemented.
  tests/plotting/test_plotting.py
Labels: none

Add anisotropy_rotation property and remove sphere
  tests/plotting/image_cache/axes_actor_properties.png
  tests/plotting/test_plotting.py
Labels: none

Update tests/plotting/test_plotting.py
  tests/plotting/test_plotting.py
Labels: none

Apply suggestions from code review
  tests/test_axes.py
Labels: none

Add spaces
  tests/test_axes.py
Labels: none

[WIP] more theme options
  pyvista/plotting/_plotting.py
  pyvista/plotting/_property.py
  pyvista/plotting/plotting.py
  pyvista/themes.py
Labels: none

Fix the docstring of the charts.py (#3682)
  pyvista/plotting/charts.py
Labels: none

Fix trame module enabling
  pyvista/trame/jupyter.py
Labels: none

Improve jupyter-server-proxy usage
  pyvista/themes.py
  pyvista/trame/jupyter.py
Labels: none

Update docker image
  docker/jupyter.Dockerfile
  docker/requirements.txt
Labels: docker

Fix docker build command
  docker/README.md
Labels: docker

String normalization
  pyvista/trame/jupyter.py
  pyvista/trame/ui.py
Labels: none

Update docker images
  docker/jupyter.Dockerfile
  docker/slim.Dockerfile
Labels: docker

Fix docs
  pyvista/jupyter/__init__.py
Labels: none

fix mypy bug on python 3.11 (#3837)
  pyvista/plotting/mapper.py
Labels: none

BUGFIX: Use SetScalarModeToIndex
  pyvista/core/filters/poly_data.py
Labels: none

BUGFIX: Fix array renaming to resolve #3780
  pyvista/core/filters/poly_data.py
Labels: none

Improve contouring examples
  examples/01-filter/contouring.py
  pyvista/core/filters/poly_data.py
Labels: documentation

Fix typo
  examples/01-filter/contouring.py
Labels: documentation

Fix render_lines_as_tubes
  pyvista/core/filters/poly_data.py
Labels: none

Use PyVistaRemoteLocalView
  pyvista/trame/ui.py
  pyvista/trame/views.py
Labels: none

UI improvements, thanks @jourdain!
  pyvista/jupyter/notebook.py
  pyvista/trame/jupyter.py
  pyvista/trame/ui.py
Labels: none

Move grid UI button
  pyvista/trame/ui.py
Labels: none

Add recompute_normals param to PolyData.save
  pyvista/core/pointset.py
Labels: none

fix dockstring and doc
  pyvista/core/pointset.py
Labels: none

Add volume clipper (#3834)
  examples/03-widgets/clip-volume.py
  pyvista/plotting/widgets.py
  tests/plotting/test_widgets.py
Labels: documentation
