Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

keep try/except
  pyvista/plotting/renderer.py
Labels: none

guess we're keeping the reference for now
  pyvista/plotting/plotting.py
  tests/plotting/test_collection.py
Labels: none

hotfix Pyvista --> PyVista (#3247)
  pyvista/themes.py
  tests/test_theme.py
Labels: none

remove global reference
  pyvista/plotting/plotting.py
Labels: none

simply use deep_clean
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
  tests/test_renderer.py
Labels: none

do not validate windows image
  tests/plotting/test_plotting.py
Labels: none

add back in scalar bar and interactor weakref
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/scalar_bars.py
Labels: none

Update pyvista/plotting/render_window_interactor.py
  pyvista/plotting/render_window_interactor.py
Labels: none

Update tests/plotting/test_plotting.py
  tests/plotting/test_plotting.py
Labels: none

Update pyvista/plotting/render_window_interactor.py
  pyvista/plotting/render_window_interactor.py
Labels: none

Update pyvista/plotting/render_window_interactor.py
  pyvista/plotting/render_window_interactor.py
Labels: none

[create-pull-request] update local intersphinx
  doc/intersphinx/matplotlib-objects.inv
  doc/intersphinx/pandas-objects.inv
  doc/intersphinx/python-objects.inv
  doc/intersphinx/scipy-objects.inv
Labels: documentation

Apply suggestions from code review
  pyvista/ext/plot_directive.py
  pyvista/plotting/charts.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
Labels: none

BUG: Provide default for renderer.enable_anti_aliasing
  pyvista/plotting/renderer.py
Labels: none

MAINT: Test on downstream package
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

FIX: Try again
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

FIX: Directory
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

FIX: Dir
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

FIX: Dirs
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

FIX: Restrict
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

BUG: Provide default for renderer.enable_anti_aliasing (#3254)
  pyvista/plotting/renderer.py
Labels: none

Update pyvista/core/dataset.py
  pyvista/core/dataset.py
Labels: none

Add vtkRectilinearGridGeometryFilter
  pyvista/_vtk.py
  pyvista/core/filters/rectilinear_grid.py
Labels: none

Move to seperate workflow
  .github/workflows/integration-tests.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

use dev_kwargs; include image
  pyvista/plotting/charts.py
  tests/plotting/test_plotting.py
Labels: none

Fix typo
  .github/workflows/integration-tests.yml
Labels: maintenance

simply reverse the methods
  pyvista/core/filters/data_set.py
Labels: none

Cleanup
  .github/workflows/integration-tests.yml
Labels: maintenance

Install PyVista second
  .github/workflows/integration-tests.yml
Labels: maintenance

Update .github/workflows/integration-tests.yml
  .github/workflows/integration-tests.yml
Labels: maintenance

dry code
  pyvista/core/filters/data_set.py
  pyvista/plotting/widgets.py
Labels: none

add missing image to cache
  tests/plotting/image_cache/array_volume_rendering.png
Labels: none

Remove PyVista report
  .github/workflows/integration-tests.yml
Labels: maintenance

FIX: Trim reqs list
  .github/workflows/integration-tests.yml
Labels: maintenance

FIX: A few more
  .github/workflows/integration-tests.yml
Labels: maintenance

FIX: Two more
  .github/workflows/integration-tests.yml
Labels: maintenance

FIX: Notebook
  .github/workflows/integration-tests.yml
Labels: maintenance

Use extent on vtkGeometryFilter
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/rectilinear_grid.py
Labels: none

in progress create cells module
  examples/00-load/create-unstructured-surface.py
  pyvista/__init__.py
  pyvista/core/pointset.py
  tests/test_cells.py
Labels: documentation

add cells
  pyvista/cells/__init__.py
  pyvista/cells/cells.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
