Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Update pyvista/plotting/plotting.py
  pyvista/plotting/plotting.py
Labels: none

UnstructuredGrid volume rendering (#3930)
  pyvista/_vtk.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/plot_volume_ugrid.png
  tests/plotting/image_cache/plot_volume_ugrid_1.png
  tests/plotting/test_plotting.py
Labels: none

improve plotting; add exception
  doc/conf.py
  pyvista/plotting/plotting.py
Labels: documentation

Document BasePlotter (#3934)
  doc/api/plotting/index.rst
  doc/conf.py
  pyvista/plotting/plotting.py
Labels: documentation

Release 0.38
  pyvista/_version.py
Labels: none

HOTFIX: camera_set when renderer camera is None from init
  pyvista/plotting/renderer.py
Labels: none

Do not cache examples for release PRs
  .github/workflows/docs.yml
Labels: maintenance

Do not cache on releases!
  .github/workflows/docs.yml
Labels: maintenance

Test
  pyvista/plotting/renderer.py
  tests/test_renderer.py
Labels: none

fix doc warnings
  examples/99-advanced/sphere_eversion.py
  pyvista/plotting/plotting.py
Labels: documentation

fix deep clean
  pyvista/plotting/renderer.py
Labels: none

fix link
  examples/99-advanced/sphere_eversion.py
Labels: documentation

Release 0.38 (#3935)
  .github/workflows/docs.yml
  examples/99-advanced/sphere_eversion.py
  pyvista/_version.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  tests/test_renderer.py
Labels: documentation, maintenance

Version 0.38.0
  pyvista/_version.py
Labels: none

Fixing missing imports
  pyproject.toml
Labels: maintenance

Fix trame import issue
  .github/workflows/testing-and-deployment.yml
  doc/api/plotting/trame.rst
  pyvista/__init__.py
  pyvista/trame/jupyter.py
Labels: documentation, maintenance

CI syntax
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Fix class def issue
  pyvista/trame/jupyter.py
Labels: none

[HOTFIX] Resolve trame import issues (#3943)
  .github/workflows/testing-and-deployment.yml
  doc/api/plotting/trame.rst
  pyvista/__init__.py
  pyvista/trame/jupyter.py
Labels: documentation, maintenance

[HOTFIX] Resolve trame import issues (#3943)
  .github/workflows/testing-and-deployment.yml
  doc/api/plotting/trame.rst
  pyvista/__init__.py
  pyvista/trame/jupyter.py
Labels: documentation, maintenance

Bump version: 0.38.1
  pyvista/_version.py
Labels: none

Use new OSMesa wheels
  .github/workflows/vtk-pre-test.yml
Labels: maintenance

Add Python 3.11
  .github/workflows/vtk-pre-test.yml
Labels: maintenance

Fix pytest command
  .github/workflows/vtk-pre-test.yml
Labels: maintenance

Uninstall vtk
  .github/workflows/vtk-pre-test.yml
Labels: maintenance

Local install of PyVista
  .github/workflows/vtk-pre-test.yml
Labels: maintenance

Fix check
  .github/workflows/vtk-pre-test.yml
Labels: maintenance

Fix path
  .github/workflows/vtk-pre-test.yml
Labels: maintenance

Test with Python 3.11
  .github/workflows/docs.yml
  .github/workflows/testing-and-deployment.yml
  pyproject.toml
Labels: maintenance

Imporve CI condition
  .github/workflows/vtk-pre-test.yml
Labels: maintenance

Use 'maint/vtk-master*'
  .github/workflows/vtk-pre-test.yml
Labels: maintenance

Rework render event callbacks
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/trame/views.py
  tests/plotting/test_plotting.py
  tests/test_plotter.py
  tests/test_renderer.py
Labels: none

Remove duplicate `on_plotter_render` call
  pyvista/plotting/plotting.py
  pyvista/plotting/renderers.py
Labels: none

Use mapping for time values and datasets
  pyvista/utilities/reader.py
Labels: none

Fix keyword argument
  pyvista/trame/views.py
Labels: none

Remove stale color_like references
  pyvista/plotting/mapper.py
Labels: none

[WIP] add/sub methods
  pyvista/plotting/plotting.py
  tests/test_plotter.py
Labels: none

Add public API added in the meantime
  pyvista/__init__.py
  pyvista/examples/__init__.py
  pyvista/plotting/__init__.py
  pyvista/trame/__init__.py
  pyvista/utilities/__init__.py
Labels: none

Fix remaining stale reference to FULL_DOC_BUILD
  CONTRIBUTING.rst
Labels: none

Fix remaining stale reference to FULL_DOC_BUILD (#3957)
  CONTRIBUTING.rst
Labels: none
