Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Fix by review
  pyvista/core/filters/data_set.py
  tests/test_utilities.py
Labels: none

Fix error of texture_map_to_plane test
  pyvista/core/filters/data_set.py
Labels: none

Apply suggestions from code review
  pyvista/core/filters/data_set.py
Labels: none

Fix error
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Fix by black and ruff
  pyvista/plotting/render_window_interactor.py
  pyvista/trame/views.py
  tests/test_geometric_objects.py
Labels: none

Apply suggestions from code review
  pyvista/ext/coverage.py
Labels: none

Close all plotters in testing, bump pytest-pyvista (#4114)
  requirements_test.txt
  tests/plotting/conftest.py
Labels: dependencies

allow matplotlib<3.5.0
  pyvista/plotting/colors.py
  tests/test_lookup_table.py
Labels: none

Feat/add connectivity methods (#3643)
  pyvista/core/cell.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  tests/test_dataset.py
  tests/test_grid.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/colors.py
Labels: none

Update pyvista/plotting/colors.py
  pyvista/plotting/colors.py
Labels: none

no doc and no prebuild
  .gitpod.yml
Labels: none

update docs
  CONTRIBUTING.rst
Labels: none

Better description of preloading environment
  CONTRIBUTING.rst
Labels: none

Apply suggestions from code review
  requirements.txt
Labels: dependencies

Apply suggestions from code review
  pyvista/plotting/composite_mapper.py
Labels: none

Additional fix
  docker/requirements.txt
  examples/02-plot/color_cycler.py
  examples_trame/requirements.txt
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/themes.py
  tests/test_filters.py
Labels: documentation, docker

Fix build document warning
  CONTRIBUTING.rst
Labels: none

Fix small reStructuredText format error
  doc/source/api/plotting/qt_plotting.rst
Labels: documentation

Create devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

use postcreate
  .devcontainer/devcontainer.json
Labels: none

Create postcreatecommand.sh
  .devcontainer/postcreatecommand.sh
Labels: none

Update devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

use postcreate and install hooks for precommit
  .devcontainer/devcontainer.json
  .devcontainer/postcreatecommand.sh
Labels: none

fix requirements install
  .devcontainer/postcreatecommand.sh
Labels: none

raise consistent error
  pyproject.toml
  pyvista/plotting/colors.py
  tests/test_theme.py
Labels: maintenance

Update pyproject.toml
  pyproject.toml
Labels: maintenance

trivial import to register ipykernel
  tests/conftest.py
Labels: none

Convert configure
  pyproject.toml
Labels: maintenance

Fix small reStructuredText format error (#4169)
  doc/source/api/plotting/qt_plotting.rst
Labels: documentation

Add ignore option
  pyproject.toml
Labels: maintenance

remove 'Youre not supposed to be here" code
  pyvista/plotting/mapper.py
  pyvista/themes.py
  tests/test_theme.py
Labels: none

fix gallery cache
  .github/workflows/docs.yml
Labels: maintenance

trivial import to register ipykernel (#4172)
  tests/conftest.py
Labels: none

Gitpod no doc build and no prebuild (#4165)
  .gitpod.yml
  CONTRIBUTING.rst
Labels: none

fix gallery cache (#4173)
  .github/workflows/docs.yml
Labels: maintenance

make current
  pyvista/errors.py
  pyvista/plotting/plotting.py
Labels: none

Move Matplotlib to hard requirement (#4156)
  doc/source/getting-started/installation.rst
  docker/requirements.txt
  examples/02-plot/color_cycler.py
  examples_trame/requirements.txt
  pyproject.toml
  pyvista/core/filters/data_set.py
  pyvista/demos/demos.py
  pyvista/plotting/charts.py
  pyvista/plotting/colors.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/themes.py
  pyvista/utilities/errors.py
  pyvista/utilities/misc.py
  requirements.txt
  requirements_docs.txt
  requirements_test.txt
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/test_colors.py
  tests/test_filters.py
  tests/test_lookup_table.py
  tests/test_theme.py
Labels: documentation, maintenance, dependencies, docker

Add devcontainer support (#4171)
  .devcontainer/devcontainer.json
  .devcontainer/postcreatecommand.sh
Labels: none
