Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

don't use names in returns section
  pyvista/plotting/helpers.py
Labels: none

Add new type to add_point_scalar_labels.
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/add_point_scalar_labels_list.png
  tests/plotting/test_plotting.py
Labels: none

Clean up voxelize density types
  pyvista/utilities/features.py
Labels: none

Raise on wrong type, add tests
  pyvista/utilities/features.py
  tests/test_utilities.py
Labels: none

add texture
  doc/api/core/objects.rst
  examples/02-plot/cmap.py
  examples/02-plot/topo-map.py
  pyvista/__init__.py
  pyvista/core/__init__.py
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/objects.py
  pyvista/core/texture.py
  pyvista/examples/downloads.py
  pyvista/examples/examples.py
  pyvista/plotting/plotting.py
  pyvista/utilities/helpers.py
  tests/conftest.py
  tests/examples/test_download_files.py
  tests/plotting/image_cache/plot_texture_alone.png
  tests/plotting/image_cache/plot_texture_alone_grayscale.png
  tests/plotting/image_cache/plot_uniform.png
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/test_dataset.py
  tests/test_helpers.py
  tests/test_objects.py
  tests/test_pointset.py
  tests/test_texture.py
Labels: documentation

add use all points to the extract edges filter (#3409)
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: none

Update docker-package.yml
  .github/workflows/docker-package.yml
Labels: maintenance

add examples
  examples/00-load/create-surface-draped.py
  examples/00-load/terrain-mesh.py
  pyvista/core/dataobject.py
  pyvista/core/grid.py
  pyvista/core/texture.py
  pyvista/examples/downloads.py
  pyvista/examples/examples.py
  pyvista/utilities/fileio.py
Labels: documentation

documentation change in another pr
  doc/api/plotting/conv_func.rst
Labels: documentation

Update docker-package.yml (#3424)
  .github/workflows/docker-package.yml
Labels: maintenance

Fix format of gallery (#3419)
  examples/99-advanced/add-example.py
Labels: documentation

add note regarding backface parm on textures
  examples/02-plot/backface_props.py
Labels: documentation

fix theme
  pyvista/plotting/mapper.py
Labels: none

add note regarding backface culling
  examples/02-plot/backface_props.py
Labels: documentation

fix gradients example
  examples/01-filter/gradients.py
  pyvista/core/datasetattributes.py
Labels: documentation

pyvista --> pv
  pyvista/core/texture.py
Labels: none

improve coverage
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/grid.py
  pyvista/core/texture.py
  pyvista/examples/downloads.py
  tests/conftest.py
  tests/test_datasetattributes.py
  tests/test_grid.py
  tests/test_texture.py
Labels: none

add cubemap test
  pyvista/core/texture.py
  tests/plotting/image_cache/plot_cubemap_alone.png
  tests/plotting/test_plotting.py
Labels: none

Add Warning tests
  tests/plotting/test_plotting.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/plotting.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/plotting.py
Labels: none

Apply suggestions from code review
  tests/plotting/test_plotting.py
Labels: none

Fix the error of test
  tests/plotting/test_plotting.py
Labels: none

Add _coerce_pointslike_arg
  pyvista/plotting/plotting.py
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Fix type of docstring
  pyvista/plotting/plotting.py
Labels: none

Use pyproject.toml
  pyproject.toml
  setup.cfg
Labels: maintenance

Fix TOML syntax
  pyproject.toml
Labels: maintenance

Update examples/02-plot/backface_props.py
  examples/02-plot/backface_props.py
Labels: documentation

Fix load_globe() intersphinx link
  examples/02-plot/backface_props.py
Labels: documentation

Add new type to add_point_scalar_labels (#3408)
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/add_point_scalar_labels_list.png
  tests/plotting/test_plotting.py
Labels: none

Triangulate for voxelization to prevent some artifacts (#3361)
  pyvista/utilities/features.py
  tests/test_utilities.py
Labels: none

remove deep parm
  pyvista/plotting/mapper.py
Labels: none

Update pyvista/plotting/helpers.py
  pyvista/plotting/helpers.py
Labels: none

future --> PyVistaDeprecationWarning
  pyvista/core/filters/data_set.py
Labels: none

handle deprecation
  pyvista/plotting/renderer.py
Labels: none

Update examples/02-plot/backface_props.py
  examples/02-plot/backface_props.py
Labels: documentation

Add support for backface properties (#3135)
  .codespellrc
  examples/02-plot/backface_props.py
  examples/99-advanced/sphere_eversion.py
  pyvista/plotting/actor.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/backface_params.png
  tests/plotting/test_plotting.py
Labels: documentation

cleanup
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
Labels: none

Specify optional parameters in mapper.py and plotting.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
