Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

single quote
  .github/workflows/docs.yml
Labels: maintenance

additional workflow optimization
  .github/workflows/docs.yml
Labels: maintenance

fix(add_volume): use memory-efficient rescaling
  pyvista/plotting/plotting.py
Labels: none

Add binder button to each sphinx-gallery
  doc/conf.py
Labels: documentation

Update index.rst
  doc/api/index.rst
Labels: documentation

Update index.rst
  doc/getting-started/index.rst
Labels: documentation

Fix texture
  pyvista/examples/planets.py
Labels: none

shrink image size to 400x300
  .github/workflows/docs.yml
  doc/conf.py
  doc/user-guide/jupyter/itk_plotting.rst
  pyvista/__init__.py
  pyvista/ext/plot_directive.py
Labels: documentation, maintenance

skip coverage
  .github/workflows/docs.yml
  pyvista/ext/plot_directive.py
Labels: maintenance

fix(quotes): revert rogue changes to quotes
  pyvista/plotting/plotting.py
Labels: none

optimize all workflows
  .github/workflows/docker-package.yml
  .github/workflows/pre-commit-update.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

delete trailing whitespace
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

add docs for the docs
  .github/workflows/docs.yml
  CONTRIBUTING.rst
  doc/conf.py
Labels: documentation, maintenance

simply install the wheel
  .github/workflows/docs.yml
Labels: maintenance

Apply suggestions from code review
  doc/api/index.rst
Labels: documentation

fix(mutation): use copy to prevent overwritting
  pyvista/plotting/plotting.py
Labels: none

fix(hack): replace `HACK` with memory guard check
  pyvista/plotting/plotting.py
Labels: none

Define pytest markers for skipping tests based on vtk version (#3167)
  pytest.ini
  tests/conftest.py
  tests/jupyter/test_pythreejs.py
  tests/plotting/test_plotting.py
  tests/plotting/test_widgets.py
  tests/test_filters.py
  tests/test_grid.py
  tests/test_picking.py
  tests/test_polydata.py
  tests/test_render_window_interactor.py
  tests/utilities/test_reader.py
Labels: none

fix(revert): add `HACK` back
  pyvista/plotting/plotting.py
Labels: none

fix face indices referring to non-existent points
  pyvista/core/filters/poly_data.py
Labels: none

Apply suggestions from code review
  pyvista/examples/planets.py
Labels: none

Revert "Apply suggestions from code review"
  pyvista/examples/planets.py
Labels: none

Update pyvista/plotting/plotting.py
  pyvista/plotting/plotting.py
Labels: none

add cache dep path
  .github/workflows/docs.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  CONTRIBUTING.rst
Labels: maintenance

use deep kwarg in all datasets
  pyvista/core/grid.py
  pyvista/core/pointset.py
Labels: none

tests
  tests/test_grid.py
Labels: none

doc addition
  pyvista/core/pointset.py
Labels: none

test explicit structured grid
  tests/conftest.py
  tests/test_grid.py
Labels: none

Typos
  pyvista/core/grid.py
  tests/test_grid.py
Labels: none

more tests for too many args
  tests/test_grid.py
Labels: none

fix clean example (#3177)
  pyvista/core/filters/poly_data.py
Labels: none

Apply suggestions from code review
  pyvista/core/grid.py
  pyvista/core/pointset.py
Labels: none

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: none

Small fix of indent
  .pre-commit-config.yaml
Labels: none

Lessen memory usage for wrapping vtk datasets (#3179)
  pyvista/core/grid.py
  pyvista/core/pointset.py
  tests/conftest.py
  tests/test_grid.py
Labels: none

update for ipywidgets 8.0
  pyvista/jupyter/pv_ipygany.py
  requirements_test.txt
  setup.py
Labels: dependencies

Speed up documentation build (#3168)
  .github/workflows/docker-package.yml
  .github/workflows/docs.yml
  .github/workflows/pre-commit-update.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  CONTRIBUTING.rst
  doc/_templates_basic/autosummary/class.rst
  doc/_templates_basic/autosummary/module.rst
  doc/_templates_full/autosummary/class.rst
  doc/_templates_full/autosummary/module.rst
  doc/api/core/camera.rst
  doc/api/core/composite.rst
  doc/api/core/dataset.rst
  doc/api/core/filters.rst
  doc/api/core/grids.rst
  doc/api/core/lights.rst
  doc/api/core/objects.rst
  doc/api/core/pointsets.rst
  doc/api/examples/index.rst
  doc/api/plotting/charts/index.rst
  doc/api/plotting/index.rst
  doc/api/plotting/theme.rst
  doc/api/readers/index.rst
  doc/api/utilities/utilities.rst
  doc/conf.py
  doc/user-guide/jupyter/itk_plotting.rst
  pyvista/__init__.py
  pyvista/ext/plot_directive.py
Labels: documentation, maintenance

Update setup.py
  setup.py
Labels: none

fix(add_volume): use memory-efficient rescaling (#3170)
  pyvista/plotting/plotting.py
Labels: none

Apply suggestions from code review
  pyvista/core/dataset.py
  tests/test_dataset.py
Labels: none
