Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_trame/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Improve VTK and MPL version compatibility checks (#4184)
  pyvista/_vtk.py
  pyvista/plotting/__init__.py
  pyvista/plotting/tools.py
  pyvista/utilities/errors.py
  tests/plotting/test_plotting.py
Labels: none

fix imports for example
  pyvista/plotting/mapper.py
Labels: none

move to notes
  pyvista/utilities/features.py
Labels: none

improve coverage
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: none

move notes to numpydoc notes section
  pyvista/core/filters/data_set.py
Labels: none

fix test scale_array
  tests/plotting/test_plotting.py
Labels: none

test if array exists
  pyvista/plotting/mapper.py
  tests/plotting/test_plotting.py
Labels: none

fix test
  tests/mappers/test_gaussian_mapper.py
  tests/plotting/test_plotting.py
Labels: none

Fix plot output of docstring
  pyvista/core/filters/data_set.py
Labels: none

add desc to final return in example
  pyvista/core/filters/data_set.py
Labels: none

Improve pyvista.StructuredGrid example (#4365)
  doc/source/api/core/pointsets.rst
  doc/source/getting-started/why.rst
  pyvista/core/pointset.py
  pyvista/utilities/features.py
Labels: documentation

Fix plot output of docstring (#4383)
  pyvista/core/filters/data_set.py
Labels: none

Add extract_cells_by_type (#4204)
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: none

Move dimension-line.py to 98-common
  examples/98-common/dimension-line.py
Labels: documentation

Add 3D example
  examples/98-common/dimension-line.py
  pyvista/plotting/plotting.py
Labels: documentation

Rename
  examples/98-common/create-dimension-line.py
Labels: documentation

Remove method
  examples/98-common/create-dimension-line.py
  pyvista/plotting/plotting.py
Labels: documentation

Add x and y dimension line
  examples/98-common/create-dimension-line.py
Labels: documentation

Add glyph
  examples/98-common/create-dimension-line.py
Labels: documentation

Fix glyphs
  examples/98-common/create-dimension-line.py
Labels: documentation

Add dimension line
  examples/98-common/create-dimension-line.py
Labels: documentation

Add comments
  examples/98-common/create-dimension-line.py
Labels: documentation

Update create-dimension-line.py
  examples/98-common/create-dimension-line.py
Labels: documentation

bump to v0.40.dev0 (#4359)
  pyvista/_version.py
Labels: none

bump to v0.39.0
  pyvista/_version.py
Labels: none

v0.40 Deprecations
  pyvista/core/dataset.py
  pyvista/core/grid.py
  pyvista/examples/downloads.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/themes.py
  pyvista/utilities/fileio.py
  tests/plotting/test_plotting.py
  tests/test_dataset.py
  tests/test_grid.py
  tests/test_theme.py
  tests/test_utilities.py
Labels: none

Add add_dimension_line method
  examples/98-common/create-dimension-line.py
  pyvista/plotting/plotting.py
Labels: documentation

Add comment
  examples/98-common/create-dimension-line.py
  pyvista/plotting/plotting.py
Labels: documentation

Add a docstring
  pyvista/plotting/plotting.py
Labels: none

normal -> direction
  examples/98-common/create-dimension-line.py
  pyvista/plotting/plotting.py
Labels: documentation

Add Examples
  pyvista/plotting/plotting.py
Labels: none

Add test
  tests/plotting/test_plotting.py
Labels: none

Add image
  tests/plotting/image_cache/dimension_line.png
Labels: none

Add theme
  tests/plotting/test_plotting.py
Labels: none

Fix color theme of test
  examples/98-common/create-dimension-line.py
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/dimension_line.png
  tests/plotting/test_plotting.py
Labels: documentation

Fix font
  tests/plotting/test_plotting.py
Labels: none

Fix document build error
  examples/98-common/create-dimension-line.py
Labels: documentation

Add skip decoration
  tests/plotting/test_plotting.py
Labels: none

Fix integration test error installing imageio
  .github/workflows/integration-tests.yml
Labels: maintenance

Fix integration test error installing imageio (#4391)
  .github/workflows/integration-tests.yml
Labels: maintenance
