Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Add files via upload
  doc/source/images/external-examples/boolean_marching_cubes.png
Labels: documentation

Update make_external_gallery.py
  doc/source/make_external_gallery.py
Labels: documentation

[Hotfix] Remove codecov from requirements
  requirements_test.txt
Labels: dependencies

Create codecov.yml
  .github/workflows/codecov.yml
Labels: maintenance

Update codecov.yml
  .github/workflows/codecov.yml
Labels: maintenance

Delete codecov.yml
  .github/workflows/codecov.yml
Labels: maintenance

Update windows doc building command.
  CONTRIBUTING.rst
Labels: none

Add sphinx redirect
  .gitignore
  doc/source/conf.py
  requirements_docs.txt
Labels: documentation, dependencies

Write final CNAME before merging
  .github/workflows/docs.yml
Labels: maintenance

add Sequence to datasetattributes __setitem__
  pyvista/core/datasetattributes.py
Labels: none

also use in DataSet
  pyvista/core/dataset.py
Labels: none

[Hotfix] Remove codecov from requirements (#4269)
  requirements_test.txt
Labels: dependencies

Update make_external_gallery.py
  doc/source/make_external_gallery.py
Labels: documentation

add pre-commit integration
  .github/workflows/style_docstr.yml
  .pre-commit-config.yaml
Labels: maintenance

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: none

fix style
  doc/source/make_external_gallery.py
Labels: documentation

Fix add_composite use within add_mesh (#4261)
  pyvista/plotting/plotting.py
Labels: none

fix redirects
  doc/source/conf.py
  pyvista/utilities/docs.py
  requirements_docs.txt
Labels: documentation, dependencies

Revert "fix redirects"
  doc/source/conf.py
  pyvista/utilities/docs.py
  requirements_docs.txt
Labels: documentation, dependencies

Delete pre-commit-update.yml
  .github/workflows/pre-commit-update.yml
Labels: maintenance

Apply suggestions from code review
  .pre-commit-config.yaml
Labels: none

Update test_actor.py
  tests/test_actor.py
Labels: none

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: none

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: none

Add topoGenesis to the external examples (#4268)
  doc/source/images/external-examples/boolean_marching_cubes.png
  doc/source/make_external_gallery.py
Labels: documentation

completely remove redirects
  doc/source/conf.py
Labels: documentation

Update windows doc building command. (#4276)
  CONTRIBUTING.rst
Labels: none

Move pre-commit GitHub action to pre-commit.ci (#4263)
  .github/workflows/pre-commit-update.yml
  .github/workflows/style_docstr.yml
  .pre-commit-config.yaml
  CONTRIBUTING.rst
Labels: maintenance

Apply suggestions from code review
  .github/workflows/docs.yml
  .gitignore
  doc/source/conf.py
  requirements_docs.txt
Labels: documentation, maintenance, dependencies

clean up cp ads.txt step
  .github/workflows/docs.yml
Labels: maintenance

enable vale
  .github/workflows/docs.yml
  doc/styles/Vocab/pyvista/accept.txt
Labels: documentation, maintenance

bump sphinx to v6.1.3
  requirements_docs.txt
Labels: dependencies

enable vale (#4281)
  .github/workflows/docs.yml
  doc/styles/Vocab/pyvista/accept.txt
Labels: documentation, maintenance

bump sphinx to v6.1.3 (#4282)
  requirements_docs.txt
Labels: dependencies

Apply suggestions from code review
  .github/workflows/docs.yml
Labels: maintenance

Follow up pre-commit.ci adding
  CONTRIBUTING.rst
Labels: none

Apply suggestions from code review
  pyvista/examples/downloads.py
Labels: none

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: none

Update README.rst
  README.rst
Labels: none

Apply suggestions from code review
  README.rst
Labels: none
