Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Apply suggestions from code review
  pyvista/jupyter/pv_ipygany.py
  setup.py
Labels: none

update for ipywidgets 8.0 (#3183)
  pyvista/jupyter/pv_ipygany.py
  requirements_test.txt
  setup.py
Labels: dependencies

fix skip
  tests/plotting/test_plotting.py
Labels: none

Minor doc proofreading fixes
  doc/api/core/composite.rst
  pyvista/plotting/composite_mapper.py
Labels: documentation

Add area to DataSet and make pointgrid volume exact (#3160)
  pyvista/core/dataset.py
  pyvista/core/pointset.py
  tests/test_dataset.py
Labels: none

Small fix of indent (#3182)
  .pre-commit-config.yaml
Labels: none

Fix arg name
  examples/99-advanced/planets.py
  pyvista/examples/planets.py
Labels: documentation

Add use_scalar_weights argument
  pyvista/core/filters/poly_data.py
  tests/test_polydata.py
Labels: none

Proofread examples.planets
  pyvista/examples/planets.py
Labels: none

Apply suggestions from code review
  examples/99-advanced/planets.py
  pyvista/examples/downloads.py
Labels: documentation

remove custom-class-template usage
  doc/api/plotting/index.rst
Labels: documentation

Maybe an improvement to docs?
  pyvista/utilities/reader.py
Labels: none

Attempt documentation of enum
  doc/api/readers/index.rst
  doc/conf.py
  requirements_docs.txt
Labels: documentation, dependencies

Fix example for add_function()
  pyvista/utilities/reader.py
Labels: none

`Examples` not `Example`
  pyvista/utilities/reader.py
Labels: none

Alias enum members as class vars
  pyvista/utilities/reader.py
Labels: none

Improve docstrings
  pyvista/utilities/reader.py
Labels: none

Expose more of vtkMultiBlockPlot3DReader
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

Make Plot3DFunctionEnum importable from top level
  pyvista/utilities/__init__.py
Labels: none

Add plot3d function enum to docs
  doc/api/readers/index.rst
  pyvista/utilities/reader.py
Labels: documentation

Test remove_function()
  tests/utilities/test_reader.py
Labels: none

Proofread composite_mapper.py
  pyvista/plotting/composite_mapper.py
Labels: none

fix examples
  examples/02-plot/interpolate-before-map.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/plotting.py
  tests/test_composite_mapper.py
Labels: documentation

fix autoenum
  doc/api/readers/index.rst
Labels: documentation

Update examples/02-plot/interpolate-before-map.py
  examples/02-plot/interpolate-before-map.py
Labels: documentation

Apply suggestions from code review
  pyvista/plotting/render_passes.py
Labels: none

Update pyvista/_vtk.py
  pyvista/_vtk.py
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Typo fix
  pyvista/plotting/picking.py
Labels: none

Typo fix (#3191)
  pyvista/plotting/picking.py
Labels: none

Apply suggestions from code review
  examples/00-load/create-unstructured-surface.py
  tests/test_cells.py
Labels: documentation

Fix error
  tests/test_cells.py
Labels: none

rename to msaa
  pyvista/plotting/plotting.py
  pyvista/plotting/render_passes.py
  pyvista/themes.py
  tests/test_theme.py
Labels: none

Exclude enumeration from numpydoc validation
  doc/conf.py
Labels: documentation

Numpydoc sees Plot3DFunctionEnum as top level?
  doc/conf.py
Labels: documentation

Single backticks
  pyvista/utilities/reader.py
Labels: none

Put reader enums on a separate page
  doc/api/readers/enums.rst
  doc/api/readers/index.rst
Labels: documentation

Add currentmodule directive for enums
  doc/api/readers/enums.rst
Labels: documentation

Add TOC level for individual enums
  doc/api/readers/enums.rst
Labels: documentation

correct docs to msaa
  examples/02-plot/anti-aliasing.py
  pyvista/plotting/plotting.py
Labels: documentation

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
