Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

warn for any non-polydata
  pyvista/plotting/plotting.py
Labels: none

Read .mha files via vtkMetaImageReader
  pyvista/examples/downloads.py
  pyvista/utilities/fileio.py
  tests/test_examples.py
Labels: none

convert and warn
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

Read .mha files via vtkMetaImageReader (#2403)
  pyvista/examples/downloads.py
  pyvista/utilities/fileio.py
  tests/test_examples.py
Labels: none

Convert to PolyData when exporting to gLTF (#2404)
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

add mesh and surface picking (#1178)
  doc/api/utilities/utilities.rst
  examples/02-plot/mesh-picking.py
  examples/02-plot/surface-picking.py
  pytest.ini
  pyvista/_vtk.py
  pyvista/plotting/picking.py
  tests/test_picking.py
Labels: documentation

Fix isort
  pyvista/_vtk.py
Labels: none

Bump to 0.35.dev0 for release (#2318)
  pyvista/_version.py
Labels: none

[create-pull-request] update local intersphinx
  doc/intersphinx/pytest-objects.inv
  doc/intersphinx/python-objects.inv
Labels: documentation

bump to v0.34.0
  pyvista/_version.py
Labels: none

Added CGNSReader in Reader Classes
  doc/api/readers/index.rst
Labels: documentation

Quick implementation
  pyvista/plotting/colors.py
Labels: none

Add release and patch workflows to CI
  .github/workflows/patch.yml
  .github/workflows/release.yml
  CONTRIBUTING.rst
Labels: maintenance

Fix __version__.py -> __version__.py
  CONTRIBUTING.rst
Labels: none

Update doc/api/readers/index.rst
  doc/api/readers/index.rst
Labels: documentation

Added CGNSReader in Reader Classes (#2413)
  doc/api/readers/index.rst
Labels: documentation

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Add labels to pre-commit update
  .github/workflows/pre-commit-update.yml
Labels: maintenance

Apply code review suggestions, support string indexing, add tests
  pyvista/plotting/colors.py
  tests/test_utilities.py
Labels: none

add CGNSReadsr to __init__
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

alphabetize imports
  pyvista/utilities/__init__.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/colors.py
Labels: none

Add labels to pre-commit update (#2420)
  .github/workflows/pre-commit-update.yml
Labels: maintenance

Update channel names and __getitem__
  pyvista/plotting/colors.py
Labels: none

Fix CGNSreader import (#2423)
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

Add tests
  tests/test_utilities.py
Labels: none

Support negative indices and slices
  pyvista/plotting/colors.py
  tests/test_utilities.py
Labels: none

Fix links in README
  README.rst
Labels: none

Fix typo
  pyvista/utilities/reader.py
Labels: none

Fix links in README (#2430)
  README.rst
Labels: none

Fix typo (#2431)
  pyvista/utilities/reader.py
Labels: none

Make colors iterable and indexable (#2415)
  pyvista/plotting/colors.py
  tests/test_utilities.py
Labels: none

restrict gaussian_smooth to point data
  pyvista/core/filters/uniform_grid.py
Labels: none

add warning to doc for median_smooth
  pyvista/core/filters/uniform_grid.py
Labels: none

modify docs for median_smooth and image_threshold, modify dilate_erode
  pyvista/core/filters/uniform_grid.py
Labels: none

more tests for gaussian_smooth
  tests/test_filters.py
Labels: none

more tests for dilate_erode
  tests/test_filters.py
Labels: none

style reformatting
  pyvista/core/filters/uniform_grid.py
Labels: none

add set_default_active_vectors and test
  pyvista/utilities/helpers.py
  tests/test_helpers.py
Labels: none

use in streamlines_from_source
  pyvista/core/filters/data_set.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
