Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Add Sequence to DataSet[Attributes] `__setitem__` typing (#4278)
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
Labels: none

Add simple aero bracket (#4258)
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: none

Update README.rst
  README.rst
Labels: none

Update pyvista/examples/downloads.py
  pyvista/examples/downloads.py
Labels: none

Create Goniometer example
  examples/02-plot/goniometer.py
Labels: documentation

Update goniometer.py
  examples/02-plot/goniometer.py
Labels: documentation

Update goniometer.py
  examples/02-plot/goniometer.py
Labels: documentation

Add style option
  pyvista/plotting/renderer.py
Labels: none

Delete goniometer.py
  examples/02-plot/goniometer.py
Labels: documentation

Support for multi version documentation (#3862)
  .github/workflows/docs.yml
  doc/source/conf.py
Labels: documentation, maintenance

Follow up pre-commit.ci adding (#4284)
  README.rst
Labels: none

Add pump bracket example (#4255)
  examples/99-advanced/pump-bracket.py
  examples/99-advanced/warp-by-vector-eigenmodes.py
  pyvista/core/filters/data_set.py
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: documentation

Fix error of flying_edges.py
  examples/01-filter/flying_edges.py
Labels: documentation

Update moving_cmap.py
  examples/02-plot/moving_cmap.py
Labels: documentation

Update image-fft-perlin-noise.py
  examples/01-filter/image-fft-perlin-noise.py
Labels: documentation

Use wheels.vtk.org
  .github/workflows/vtk-pre-test.yml
Labels: maintenance

Fix VTK9 usage
  tests/plotting/test_plotting.py
Labels: none

Add clear_data option for edge extraction
  pyvista/core/filters/data_set.py
  tests/test_filters.py
  tests/test_polydata.py
Labels: none

Show scalar bar if scalar_bar_args are passed
  pyvista/plotting/_plotting.py
  pyvista/plotting/plotting.py
Labels: none

Fix specular values in examples (#4287)
  examples/01-filter/flying_edges.py
  examples/01-filter/image-fft-perlin-noise.py
  examples/02-plot/moving_cmap.py
Labels: documentation

Update renderer.py
  pyvista/plotting/renderer.py
Labels: none

Update renderer.py
  pyvista/plotting/renderer.py
Labels: none

Evaluate truthiness
  pyvista/plotting/_plotting.py
  pyvista/plotting/plotting.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
