Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Add simple ellipse to available geometric objects
  pyvista/utilities/geometric_objects.py
Labels: none

Set stereo type before turning on stereo
  pyvista/plotting/plotting.py
Labels: none

Document that our stereo is anaglyph
  pyvista/plotting/plotting.py
Labels: none

Update pyvista/utilities/geometric_objects.py
  pyvista/utilities/geometric_objects.py
Labels: none

Apply suggestions from code review
  pyvista/utilities/geometric_objects.py
Labels: none

line to include PolyData Normals uncommented (line 362 in ./plotting/export_vtkjs.py) (#3452)
  pyvista/plotting/export_vtkjs.py
Labels: none

Add unit test for Ellipse Geometric Object method
  tests/test_geometric_objects.py
Labels: none

Update pyvista/plotting/plotting.py
  pyvista/plotting/plotting.py
Labels: none

Pre-commit consistency change
  tests/test_geometric_objects.py
Labels: none

improve documentation of before_close_callback
  pyvista/plotting/plotting.py
Labels: none

fix test_plot_composite_poly_scalars_opacity
  tests/plotting/test_plotting.py
Labels: none

use code block for before_close_callback documentation
  pyvista/plotting/plotting.py
Labels: none

fix test_set_environment_texture_cubemap
  tests/plotting/image_cache/set_environment_texture_cubemap.png
  tests/plotting/image_cache/set_environment_texture_cubemap_1.png
Labels: none

Refactor render_window access
  examples_trame/local_view.py
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/background_renderer.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/trame/__init__.py
  pyvista/utilities/regression.py
Labels: none

Further refactorin and cleanup of ren_win
  doc/extras/docker.rst
  pyvista/jupyter/notebook.py
  pyvista/plotting/export_vtkjs.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  pyvista/trame/__init__.py
  pyvista/utilities/errors.py
  pyvista/utilities/regression.py
  tests/jupyter/test_pythreejs.py
  tests/plotting/test_plotting.py
  tests/test_regression.py
  tests/test_theme.py
Labels: documentation

Fix del operation on ren_win in test
  tests/jupyter/test_pythreejs.py
Labels: none

Add trame to testing requirements
  requirements_test.txt
Labels: dependencies

Improve main landing page (#3459)
  doc/_static/pyvista_logo.png
  doc/index.rst
  pyvista/examples/downloads.py
Labels: documentation

add tests to lists for high variance and windows skip
  tests/plotting/test_plotting.py
Labels: none

Additional remove of duplication.
  pyvista/core/filters/data_set.py
Labels: none

Fix small typo
  examples/02-plot/point-clouds.py
Labels: documentation

Update downloads.py
  pyvista/examples/downloads.py
Labels: none

skips in macos and windows
  tests/plotting/test_plotting.py
Labels: none

Fix small typo (#3464)
  examples/02-plot/point-clouds.py
  pyvista/examples/downloads.py
Labels: documentation

Set stereo type before turning on stereo (#3462)
  pyvista/plotting/plotting.py
Labels: none

Add simple ellipse to available geometric objects (#3461)
  pyvista/utilities/geometric_objects.py
  tests/test_geometric_objects.py
Labels: none

Specify all optional parameters in #3347 (#3457)
  pyvista/core/composite.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/pointset.py
  pyvista/plotting/charts.py
  pyvista/plotting/renderer.py
  pyvista/utilities/common.py
  pyvista/utilities/geometric_objects.py
Labels: none

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: none

Move render_window property
  pyvista/plotting/plotting.py
Labels: none

clean up tests
  tests/plotting/test_plotting.py
Labels: none

fix skip
  tests/plotting/test_plotting.py
Labels: none

Bump codespell for pyproject.toml support
  .pre-commit-config.yaml
Labels: none

add tomli dependency for codespell
  .pre-commit-config.yaml
Labels: none

add missing :
  pyvista/plotting/plotting.py
Labels: none

move regression values into class
  tests/plotting/test_plotting.py
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Create Issue if linkcheck fails
  .github/ISSUE_TEMPLATE/linkcheck_report.md
  .github/workflows/linkcheck.yml
Labels: maintenance

fix/template: grammar error
  .github/ISSUE_TEMPLATE/linkcheck_report.md
Labels: maintenance

Remove unused request fixture
  tests/plotting/test_plotting.py
Labels: none

dont serialize before_close_callback
  pyvista/themes.py
  tests/test_theme.py
Labels: none
