Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

make missing cmap more explicit
  pyvista/themes.py
Labels: none

Cover unsupported >3d ndarray wrap
  tests/test_helpers.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/colors.py
Labels: none

Change preference strings to singular (#2818)
  pyvista/core/filters/uniform_grid.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/widgets.py
  tests/plotting/image_cache/opacity_by_array_direct.png
  tests/plotting/image_cache/opacity_by_array_preference.png
  tests/plotting/image_cache/opacity_by_array_user_transform.png
  tests/plotting/test_plotting.py
Labels: none

add notes regarding optional dependencies; add jupyter dep
  README.rst
  doc/getting-started/installation.rst
  setup.py
Labels: documentation

fix extent documentation and implementation
  pyvista/core/dataset.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  tests/test_dataset.py
  tests/test_grid.py
Labels: none

don't skip test
  pyvista/core/pointset.py
Labels: none

revert example skip
  pyvista/core/pointset.py
Labels: none

Fix matplotlib backend setting for test suite
  tests/conftest.py
Labels: none

add test and improve example
  examples/01-filter/surface-smoothing.py
  pyvista/_vtk.py
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
Labels: documentation

fix doctest example
  pyvista/core/filters/poly_data.py
Labels: none

Apply suggestions from code review
  doc/getting-started/installation.rst
Labels: documentation

Apply suggestions from code review
  pyvista/core/filters/poly_data.py
Labels: none

Apply suggestions from code review
  pyvista/core/objects.py
  pyvista/examples/downloads.py
  tests/test_objects.py
Labels: none

Feat/update bound actor (#2441)
  examples/02-plot/bounds.py
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/plot_show_grid_with_mesh.png
  tests/plotting/test_plotting.py
  tests/test_renderer.py
Labels: documentation

Add test_meta.py for testing the test setup
  tests/test_meta.py
Labels: none

LBYL into deleting a partially initialized Plotter (#2819)
  pyvista/plotting/picking.py
Labels: none

Update pyvista/core/grid.py
  pyvista/core/grid.py
Labels: none

Update tests/test_filters.py
  tests/test_filters.py
Labels: none

Don't fail test_mpl_backend without matplotlib
  tests/test_meta.py
Labels: none

Apply suggestions from code review
  pyvista/core/grid.py
  pyvista/core/pointset.py
  tests/test_grid.py
Labels: none

Add notes regarding optional dependencies (#2826)
  README.rst
  doc/getting-started/installation.rst
  setup.py
Labels: documentation

Apply suggestions from code review
  pyvista/plotting/mapper.py
Labels: none

cancel in progress CI
  .github/workflows/docker-package.yml
  .github/workflows/docs.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Update pyvista/plotting/colors.py
  pyvista/plotting/colors.py
Labels: none

skip if unable to create a matplotlib figure (#2823)
  pyvista/utilities/misc.py
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/test_filters.py
Labels: none

decrease tol for camera test due to MacOS
  tests/test_camera.py
Labels: none

add vtk 9.2 release candidate to ci
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

style fix
  pyvista/plotting/colors.py
Labels: none

Add test
  tests/utilities/test_reader.py
Labels: none

Suppress exception context for ImportError reraise
  pyvista/plotting/colors.py
Labels: none

Add download_dolfinx_mesh
  pyvista/examples/downloads.py
Labels: none

Add XdmfReader class
  pyvista/_vtk.py
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
Labels: none

fix axes bounds fontsize
  examples/01-filter/image-fft-perlin-noise.py
  examples/01-filter/image-fft.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  tests/test_plotter.py
Labels: documentation

Fix matplotlib backend setting for test suite (#2828)
  tests/conftest.py
  tests/test_meta.py
Labels: none

Update pyvista/plotting/colors.py
  pyvista/plotting/colors.py
Labels: none

Apply suggestions from code review
  pyvista/utilities/reader.py
Labels: none

allow active scalars
  pyvista/core/filters/uniform_grid.py
  pyvista/errors.py
  tests/test_grid.py
Labels: none

Add lazy_vtkXdmfReader function
  pyvista/_vtk.py
  pyvista/utilities/reader.py
Labels: none

skip test in < VTK v9.1.0
  tests/utilities/test_reader.py
Labels: none
