Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

add all linear cells
  doc/api/utilities/cells.rst
  pyvista/cells/cells.py
  pyvista/core/pointset.py
  tests/plotting/image_cache/plot_cell.png
  tests/plotting/test_plotting.py
  tests/test_cells.py
Labels: documentation

add cells example
  examples/00-load/create-unstructured-grid.py
  pyvista/cells/cells.py
  tests/test_cells.py
Labels: documentation

remove module docstring junk
  pyvista/cells/cells.py
Labels: none

add example .
  examples/00-load/linear-cells.py
Labels: documentation

fix links
  doc/api/core/pointsets.rst
  doc/api/utilities/index.rst
  examples/00-load/linear-cells.py
Labels: documentation

CI: Workflow to test downstream packages starting with MNE (#3255)
  .github/workflows/integration-tests.yml
Labels: maintenance

None --> {}
  pyvista/plotting/charts.py
Labels: none

WIP: Check
  .github/workflows/integration-tests.yml
Labels: maintenance

Revert "WIP: Check"
  .github/workflows/integration-tests.yml
Labels: maintenance

Update vtkThreshold API usage (#2881)
  pyvista/core/filters/data_set.py
  pyvista/plotting/widgets.py
Labels: none

Add CellType enumerate class (#3115)
  doc/api/core/pointsets.rst
  examples/00-load/create-unstructured-surface.py
  examples/01-filter/extract-surface.py
  pyvista/_vtk.py
  pyvista/core/__init__.py
  pyvista/core/cell.py
  pyvista/core/pointset.py
  tests/test_cells.py
Labels: documentation

improve example; skip osmesa test
  examples/00-load/linear-cells.py
  pyvista/cells/cells.py
  tests/plotting/test_plotting.py
Labels: documentation

add test_array_volume_rendering to image skip cache
  tests/plotting/test_plotting.py
Labels: none

add more tinypages tests (#3246)
  requirements_test.txt
  tests/tinypages/conf.py
  tests/tinypages/index.rst
  tests/tinypages/samples.py
  tests/tinypages/some_autodocs.rst
Labels: dependencies

Add additional plotting tests (#3248)
  pyvista/plotting/charts.py
  tests/plotting/image_cache/array_volume_rendering.png
  tests/plotting/image_cache/charts_sin.png
  tests/plotting/image_cache/multiblock_volume_rendering.png
  tests/plotting/image_cache/remove_bounds_axes.png
  tests/plotting/image_cache/volume_rendering_from_helper.png
  tests/plotting/image_cache/volume_rendering_from_plotter.png
  tests/plotting/test_plotting.py
Labels: none

Add example of "Add labels to cells"
  examples/01-filter/cell-centers.py
Labels: documentation

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Apply suggestions from code review
  examples/01-filter/cell-centers.py
Labels: documentation

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

Add "lamda" to codespell ignored words
  .codespellrc
Labels: none

Prevent warning in polystrips example coming from extrude
  pyvista/core/pointset.py
Labels: none

Add gitpod
  .gitpod.yml
  docker/dev-gitpod.Dockerfile
Labels: docker

Use .bashrc
  .gitpod.yml
  docker/dev-gitpod.Dockerfile
Labels: docker

fix reference
  pyvista/utilities/helpers.py
Labels: none

Prevent warning in polystrips example coming from extrude (#3266)
  pyvista/core/pointset.py
Labels: none

Apply suggestions from code review
  pyvista/__init__.py
Labels: none

Bump cache version
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Fix typo
  tests/test_dataset.py
Labels: none

Fix Plotter garbage collection (#3245)
  pyvista/ext/plot_directive.py
  pyvista/plotting/charts.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  pyvista/plotting/scalar_bars.py
  pyvista/utilities/helpers.py
  pyvista/utilities/sphinx_gallery.py
  tests/test_scraper.py
Labels: none

Apply suggestions from code review
  pyvista/cells/cells.py
Labels: none

move cells --> examples/cells
  doc/api/examples/index.rst
  doc/api/utilities/cells.rst
  doc/api/utilities/index.rst
  examples/00-load/linear-cells.py
  pyvista/__init__.py
  pyvista/cells/__init__.py
  pyvista/cells/cells.py
  pyvista/examples/__init__.py
  tests/test_cells.py
  tests/test_downloads.py
  tests/test_examples.py
Labels: documentation

add back in removed files
  pyvista/examples/cells.py
  tests/examples/test_cells.py
  tests/examples/test_downloads.py
  tests/examples/test_examples.py
Labels: none

Add the example of "Add labels to cells" (#3264)
  examples/01-filter/cell-centers.py
Labels: documentation

fix tests
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/plot_cell.png
  tests/plotting/test_plotting.py
Labels: none

Enable vnc interactive plots
  .gitpod.yml
  docker/dev-gitpod.Dockerfile
Labels: docker

Apply suggestions from code review
  examples/99-advanced/planets.py
  pyvista/examples/downloads.py
  pyvista/examples/planets.py
  tests/test_examples.py
Labels: documentation

Apply suggestions from code review
  examples/99-advanced/planets.py
Labels: documentation

Fix by pre-commit run --all-files
  examples/99-advanced/planets.py
  pyvista/examples/planets.py
  tests/test_examples.py
Labels: documentation

Fix name of Warning object
  pyvista/examples/downloads.py
Labels: none

Fix name of Warning object
  tests/test_downloads.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
