Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Apply suggestions from code review
  doc/make_external_gallery.py
Labels: documentation

Apply suggestions from code review
  doc/make_external_gallery.py
Labels: documentation

add edge case for missing directory
  tests/test_downloads.py
Labels: none

test for non-ascii
  tests/test_datasetattributes.py
Labels: none

Apply suggestions from code review
  pyvista/utilities/helpers.py
  requirements_test.txt
Labels: dependencies

fix padding implementation
  doc/api/readers/index.rst
  pyvista/plotting/camera.py
  pyvista/utilities/reader.py
  tests/plotting/test_plotting.py
  tests/test_plotter.py
Labels: documentation

Only support ASCII characters
  pyvista/utilities/helpers.py
  tests/test_datasetattributes.py
Labels: none

Fix by pre-commit
  pyvista/utilities/helpers.py
Labels: none

Apply suggestions from code review
  pyvista/utilities/helpers.py
Labels: none

Apply suggestions from code review
  tests/test_datasetattributes.py
Labels: none

Only check ASCII-ness for unicode string arrays, not bytes
  pyvista/utilities/helpers.py
Labels: none

Fix append description
  pyvista/core/composite.py
Labels: none

add missing image to cache
  tests/plotting/image_cache/tight_square_padding.png
Labels: none

cleanup opacity parameter for add_volume
  pyvista/plotting/plotting.py
  pyvista/plotting/tools.py
Labels: none

add examples
  pyvista/examples/downloads.py
  pyvista/plotting/plotting.py
  tests/test_examples.py
Labels: none

add examples
  pyvista/examples/downloads.py
Labels: none

Apply suggestions from code review
  pyvista/examples/downloads.py
  pyvista/plotting/plotting.py
Labels: none

Apply suggestions from code review
  pyvista/examples/downloads.py
Labels: none

Update pyvista/plotting/tools.py
  pyvista/plotting/tools.py
Labels: none

fix test; remove KeyErrorMessage
  pyvista/plotting/tools.py
  tests/plotting/test_plotting.py
Labels: none

Update tests/test_downloads.py
  tests/test_downloads.py
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

remove tuple assignment
  pyvista/core/composite.py
  tests/test_composite.py
Labels: none

remove tuple assignment in docstring
  pyvista/core/composite.py
Labels: none

update docs and add versionchanged
  doc/api/core/composite.rst
  pyvista/core/composite.py
Labels: documentation

Apply suggestions from code review
  pyvista/examples/downloads.py
Labels: none

inprogress improve prop
  doc/api/plotting/index.rst
  pyvista/plotting/__init__.py
  pyvista/plotting/_property.py
  pyvista/plotting/plotting.py
  tests/test_property.py
Labels: documentation

Only support ASCII characters (#3055)
  pyvista/utilities/helpers.py
  tests/test_datasetattributes.py
Labels: none

Add geemap and GmshModel as external examples (#3053)
  doc/images/external-examples/geemap.gif
  doc/images/external-examples/gmsh_model.png
  doc/make_external_gallery.py
Labels: documentation

fix doc parentheses bug
  doc/api/core/composite.rst
Labels: documentation

fix composite docs
  doc/api/plotting/index.rst
  pyvista/plotting/_plotting.py
  pyvista/plotting/_property.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
  tests/test_composite_mapper.py
  tests/test_property.py
Labels: documentation

add missing image cache
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/property.png
Labels: none

improve docs
  doc/api/plotting/index.rst
  pyvista/plotting/__init__.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/plotting.py
Labels: documentation

add defaults
  pyvista/plotting/plotting.py
Labels: none

add default to smooth_shading
  pyvista/plotting/plotting.py
Labels: none

Add check if the path exists before removing it. (#3048)
  pyvista/examples/downloads.py
  tests/test_downloads.py
Labels: none

Fix for function from_meshio (#3049)
  pyvista/utilities/fileio.py
  tests/test_meshio.py
Labels: none

add in picking test
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  tests/test_picking.py
  tests/test_property.py
Labels: none

add in string normalization
  pyvista/plotting/_property.py
  tests/test_property.py
Labels: none

Update tests/test_scalar_bars.py
  tests/test_scalar_bars.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
