Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Fix extension
  pyvista/examples/vrml.py
  tests/plotting/test_plotting.py
Labels: none

add set_default_active_scalars
  pyvista/utilities/helpers.py
  tests/test_helpers.py
Labels: none

use in clip_scalar
  pyvista/core/filters/data_set.py
Labels: none

use in threshold
  pyvista/core/filters/data_set.py
Labels: none

use in threshold_percent
  pyvista/core/filters/data_set.py
Labels: none

use in contour
  pyvista/core/filters/data_set.py
Labels: none

use in warp_by_scalar
  pyvista/core/filters/data_set.py
Labels: none

use in plot_over_line
  pyvista/core/filters/data_set.py
Labels: none

use in plot_over_circular_arc
  pyvista/core/filters/data_set.py
Labels: none

use in plot_over_circular_arc_normal
  pyvista/core/filters/data_set.py
Labels: none

use in compute_derivative
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: none

use in gaussian_smooth
  pyvista/core/filters/uniform_grid.py
Labels: none

use in median_smooth
  pyvista/core/filters/uniform_grid.py
Labels: none

remove extension check; reset cache
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  pyvista/utilities/reader.py
Labels: maintenance

remove warning test
  tests/utilities/test_reader.py
Labels: none

improve coverage
  tests/utilities/test_reader.py
Labels: none

add dependabot automerge
  .github/workflows/merge-me.yml
Labels: maintenance

fix yml
  .github/workflows/merge-me.yml
Labels: maintenance

use in image_dilate_erode
  pyvista/core/filters/uniform_grid.py
Labels: none

use in image_threshold
  pyvista/core/filters/uniform_grid.py
Labels: none

Added CGNSReader in Reader Classes (#2413)
  doc/api/readers/index.rst
Labels: documentation

Fix CGNSreader import (#2423)
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

Fix links in README (#2430)
  README.rst
Labels: none

Fix typo (#2431)
  pyvista/utilities/reader.py
Labels: none

Make colors iterable and indexable (#2415)
  pyvista/plotting/colors.py
  tests/test_utilities.py
Labels: none

Fix typos (#2443)
  doc/conf.py
  examples/00-load/create-structured-surface.py
  examples/01-filter/decimate.py
  examples/02-plot/README.rst
  pyvista/core/dataset.py
  pyvista/examples/downloads.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/lights.py
  pyvista/plotting/plotting.py
  pyvista/plotting/scalar_bars.py
  pyvista/plotting/widgets.py
Labels: documentation

DOC: Updated wheel building instructions (#2439)
  doc/extras/building_vtk.rst
Labels: documentation

Update Docker documentation (#2444)
  doc/extras/docker.rst
Labels: documentation

bump to 0.34.1
  pyvista/_version.py
Labels: none

Move vtk version error from PointSet.__init__ to __new__
  pyvista/core/pointset.py
Labels: none

Minor docstring tweak
  pyvista/core/pointset.py
Labels: none

Apply suggestions from code review
  .github/workflows/merge-me.yml
Labels: maintenance

add additional kwargs to open_gif
  pyvista/plotting/plotting.py
Labels: none

add additional notes regarding optimization
  pyvista/plotting/plotting.py
Labels: none

Add dependabot automerge (#2482)
  .github/workflows/merge-me.yml
Labels: maintenance

add gif unit test
  tests/plotting/test_plotting.py
Labels: none

SetTimeValue -> UpdateTimeStep; add tests for reading temporal data
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

reformat test_reader.py with black
  tests/utilities/test_reader.py
Labels: none

remove __init__ in DICOMReader
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

refactor filename --> path
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none
