Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Add VTK and MPL version checking utility
  pyvista/plotting/__init__.py
  pyvista/plotting/tools.py
  pyvista/utilities/errors.py
  tests/plotting/test_plotting.py
Labels: none

Improve check tools
  pyvista/plotting/__init__.py
  pyvista/plotting/tools.py
  pyvista/utilities/errors.py
  tests/plotting/test_plotting.py
Labels: none

Fix docstring
  pyvista/plotting/tools.py
Labels: none

Add VTK import
  pyvista/_vtk.py
Labels: none

Fix logging suppression
  pyvista/trame/jupyter.py
Labels: none

Fix version checks
  pyvista/plotting/tools.py
Labels: none

Remove unneeded log suppression
  pyvista/trame/jupyter.py
Labels: none

Remove enable_vtk_warnings
  pyvista/themes.py
  pyvista/trame/jupyter.py
Labels: none

add support for <9.1
  pyvista/core/texture.py
  tests/test_texture.py
Labels: none

sequence --> array_like
  pyvista/core/dataset.py
Labels: none

remainder of modules
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/scalar_bars.py
  pyvista/plotting/widgets.py
  pyvista/utilities/algorithms.py
  pyvista/utilities/arrays.py
  pyvista/utilities/common.py
  pyvista/utilities/errors.py
  pyvista/utilities/features.py
  pyvista/utilities/fileio.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/helpers.py
  pyvista/utilities/misc.py
  pyvista/utilities/parametric_objects.py
  pyvista/utilities/reader.py
  pyvista/utilities/regression.py
  pyvista/utilities/transformations.py
Labels: none

BUG: Expose bug with scraping (#4036)
  .github/workflows/integration-tests.yml
  pyvista/errors.py
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
  tests/test_plotter.py
  tests/test_scraper.py
Labels: maintenance

fix type
  pyvista/utilities/geometric_objects.py
Labels: none

Add texture features (#4179)
  examples/02-plot/topo-map.py
  pyvista/core/__init__.py
  pyvista/core/filters/uniform_grid.py
  pyvista/core/objects.py
  pyvista/core/texture.py
  pyvista/examples/downloads.py
  pyvista/utilities/fileio.py
  tests/conftest.py
  tests/plotting/image_cache/plot_cubemap_alone.png
  tests/plotting/image_cache/plot_texture_alone.png
  tests/plotting/image_cache/plot_texture_flip_x.png
  tests/plotting/image_cache/plot_texture_flip_y.png
  tests/plotting/test_plotting.py
  tests/test_objects.py
  tests/test_texture.py
Labels: documentation

Fix __new__ in abstract_class helper
  pyvista/utilities/helpers.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/themes.py
  pyvista/utilities/algorithms.py
  pyvista/utilities/geometric_objects.py
Labels: none

Apply suggestions from code review
  pyvista/core/filters/poly_data.py
  pyvista/plotting/renderer.py
Labels: none

Implement override mechanism
  pyvista/__init__.py
  pyvista/_overrides.py
Labels: none

Add test for type overriding
  tests/test_dataset.py
Labels: none

final (I hope) edits
  examples/01-filter/gaussian-smoothing.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/widgets.py
  pyvista/themes.py
  pyvista/utilities/common.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/helpers.py
  pyvista/utilities/parametric_objects.py
  pyvista/utilities/transformations.py
Labels: documentation

fix trame grid state
  pyvista/trame/ui.py
  tests/jupyter/test_trame.py
Labels: none

Copy over signature to __new__ wrapper
  pyvista/_overrides.py
Labels: none

doc fixes
  pyvista/plotting/renderer.py
Labels: none

Copy signature from __init__ instead
  pyvista/_overrides.py
Labels: none

Check __init__ in overriding test
  tests/test_dataset.py
Labels: none

trame-vtk maintenance (#4183)
  docker/requirements.txt
  environment.yml
  examples_trame/requirements.txt
  pyproject.toml
  pyvista/themes.py
  pyvista/trame/jupyter.py
  pyvista/trame/ui.py
  requirements_docs.txt
  requirements_test.txt
Labels: maintenance, dependencies, docker

add cube axes actor wrap
  pyvista/plotting/__init__.py
  pyvista/plotting/cube_axes_actor.py
  pyvista/plotting/renderer.py
  tests/jupyter/test_trame.py
  tests/plotting/image_cache/plot_show_bounds_params[all-front].png
  tests/plotting/image_cache/plot_show_bounds_params[back-front].png
  tests/plotting/image_cache/plot_show_bounds_params[front-front].png
  tests/plotting/image_cache/plot_show_bounds_params[origin-front].png
  tests/plotting/image_cache/plot_show_bounds_params[outer-front].png
  tests/plotting/test_plotting.py
  tests/test_renderer.py
Labels: none

add more to devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/oncreatecommand.sh
Labels: none

add tests
  pyvista/plotting/cube_axes_actor.py
  tests/plotting/test_plotting.py
  tests/test_cube_axes_actor.py
Labels: none

Fix update_scalar_bar_range() with named scalar bar (#3626)
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/add_remove_scalar_bar.png
  tests/plotting/image_cache/scalar_bar_actor_removal.png
  tests/plotting/image_cache/update_scalar_bar_range.png
  tests/plotting/test_plotting.py
  tests/test_scalar_bars.py
Labels: none

add CubeAxesActor to plotting API docs
  doc/source/api/plotting/index.rst
Labels: documentation

reference intersphinx
  pyvista/plotting/renderer.py
Labels: none

fix formatting
  pyvista/plotting/cube_axes_actor.py
  tests/test_cube_axes_actor.py
Labels: none

Apply suggestions from code review
  examples/99-advanced/magnetic-fields.py
  tests/examples/test_download_files.py
Labels: documentation

final cleanup
  examples/99-advanced/magnetic-fields.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/plotting.py
Labels: documentation

fix docs
  pyvista/core/composite.py
  pyvista/plotting/cube_axes_actor.py
  pyvista/plotting/plotting.py
Labels: none

improve coverage
  tests/plotting/test_plotting.py
Labels: none

Add plotter_volume_add_scalars_log_scale.png
  tests/plotting/image_cache/plotter_volume_add_scalars_log_scale.png
Labels: none

Update docs.yml
  .github/workflows/docs.yml
Labels: maintenance

Update docs.yml
  .github/workflows/docs.yml
Labels: maintenance

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
