Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

[BUG] Fix clearing point and cell data (#2976)
  pyvista/plotting/plotting.py
  tests/test_plotter.py
Labels: none

add more mount damavand examples (#2969)
  pyvista/examples/downloads.py
  tests/test_examples.py
Labels: none

fix image cache
  tests/plotting/image_cache/multi_plot_scalars.png
Labels: none

bump to v0.35.2
  pyvista/_version.py
Labels: none

Release/0.35.2 (#3024)
  doc/api/core/camera.rst
  doc/conf.py
  examples/01-filter/flying_edges.py
  examples/02-plot/movie_glyphs.py
  pyvista/_version.py
  pyvista/_vtk.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/examples/downloads.py
  pyvista/plotting/charts.py
  pyvista/plotting/helpers.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/scalar_bars.py
  pyvista/utilities/helpers.py
  tests/jupyter/test_pythreejs.py
  tests/plotting/image_cache/multi_plot_scalars.png
  tests/plotting/image_cache/plot_helper_two_datasets.png
  tests/plotting/image_cache/plot_helper_two_volumes.png
  tests/plotting/image_cache/plot_helper_volume.png
  tests/plotting/test_collection.py
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/test_examples.py
  tests/test_plotter.py
  tests/test_utilities.py
Labels: documentation

Update dataset.py
  pyvista/core/dataset.py
Labels: none

rename named tuple
  pyvista/core/dataset.py
Labels: none

fix docstring
  pyvista/core/dataset.py
Labels: none

Add load parameter
  pyvista/examples/downloads.py
  pyvista/examples/planets.py
Labels: none

Fix path
  pyvista/examples/__init__.py
  pyvista/examples/planets.py
Labels: none

Fix docstring default for log_scale in add_mesh
  pyvista/plotting/plotting.py
Labels: none

Apply suggestions from code review
  tests/test_examples.py
Labels: none

initial animation feat
  pyvista/plotting/plotting.py
Labels: none

add bool scalars test (#3021)
  tests/plotting/image_cache/bool_scalars.png
  tests/plotting/test_plotting.py
Labels: none

Use static tuple definition for dataset ActiveArrayInfo (#3026)
  pyvista/core/dataset.py
Labels: none

Fix docstring default for log_scale in add_mesh (#3028)
  pyvista/plotting/plotting.py
Labels: none

make MultiBlock __getitem__ and __setitem__ closer to list (and dict)
  pyvista/core/composite.py
  pyvista/core/filters/data_set.py
  pyvista/utilities/fileio.py
  tests/plotting/test_plotting.py
  tests/test_composite.py
Labels: none

fix docs
  pyvista/core/composite.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  tests/test_composite.py
  tests/test_composite_mapper.py
Labels: none

add in vtk<9 backwards compatibility
  pyvista/core/composite.py
  pyvista/core/filters/composite.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/_property.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/plot_composite_rgba.png
  tests/plotting/test_plotting.py
  tests/test_composite.py
  tests/test_composite_mapper.py
Labels: none

update get method to be more dict-like
  pyvista/core/composite.py
  tests/test_composite.py
Labels: none

inprog
  pyvista/core/composite.py
  pyvista/plotting/plotting.py
Labels: none

more test coverage for errors
  tests/test_composite.py
Labels: none

one more test for out of bound setting
  tests/test_composite.py
Labels: none

Clean up examples
  examples/02-plot/anti-aliasing.py
  examples/02-plot/blurring.py
  examples/02-plot/depth_of_field.py
Labels: documentation

Minor theme-related fixes
  pyvista/themes.py
  tests/test_theme.py
Labels: none

Proofread docstrings and warnings
  pyvista/plotting/plotting.py
  pyvista/plotting/render_passes.py
  pyvista/plotting/renderer.py
Labels: none

more tests, fix setting with exiating key,
  pyvista/core/composite.py
  tests/test_composite.py
Labels: none

Apply suggestions from code review
  .github/workflows/docs.yml
Labels: maintenance

Apply suggestions from code review
  pyvista/examples/downloads.py
Labels: none

Move planets functions to planets.py
  pyvista/examples/downloads.py
  pyvista/examples/planets.py
Labels: none

Fix import
  pyvista/examples/planets.py
Labels: none

Fix pytest errors
  pyvista/examples/planets.py
Labels: none

Fix command of doctest
  CONTRIBUTING.rst
Labels: none

continued work on animation
  pyvista/plotting/__init__.py
  pyvista/plotting/helpers.py
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

Fix by doctest
  pyvista/examples/planets.py
Labels: none

Change plotting parents to weakrefs
  pyvista/plotting/charts.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
Labels: none

Delete reference to __charts in Renderer.deep_clean() for gc
  pyvista/plotting/renderer.py
Labels: none

Switch from weakref.proxy to ref in Charts
  pyvista/plotting/charts.py
Labels: none

Add regression test for collection of Plotter and children
  tests/plotting/test_collection.py
Labels: none

Cover Charts.__del__() (where this all started)
  pyvista/plotting/charts.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
