Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Apply suggestions from code review
  pyvista/utilities/reader.py
Labels: none

improve doc
  pyvista/core/filters/uniform_grid.py
Labels: none

improve docs; fix font_size scaling
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
Labels: none

Bump ubuntu from 20.04 to latest
  .github/workflows/style_docstr.yml
Labels: maintenance

Apply suggestions from code review
  pyvista/_vtk.py
  pyvista/examples/downloads.py
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

Apply suggestions from code review
  pyvista/utilities/reader.py
Labels: none

Apply suggestions from code review
  pyvista/utilities/reader.py
Labels: none

Apply suggestions from code review
  examples/01-filter/image-fft-perlin-noise.py
  examples/01-filter/image-fft.py
  pyvista/core/filters/uniform_grid.py
Labels: documentation

Added skip_zero_time property in OpenFOAMReader
  pyvista/utilities/reader.py
Labels: none

Add jupyterlab to Scooby Report
  pyvista/utilities/errors.py
Labels: none

Added test for skip_zero_time property
  tests/utilities/test_reader.py
Labels: none

Apply suggestions from code review
  pyvista/utilities/reader.py
Labels: none

cancel in progress CI (#2835)
  .github/workflows/docker-package.yml
  .github/workflows/docs.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Do not add scalars when setting scalar bar title (#2822)
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  tests/test_plotter.py
Labels: none

Small typo fix
  pyvista/plotting/renderer.py
Labels: none

Added information update and tests for '0' value in time_values
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

Update bounds.py
  examples/02-plot/bounds.py
Labels: documentation

allow missing matplotlib when setting themes (#2824)
  pyvista/plotting/colors.py
  pyvista/themes.py
Labels: none

Update pyvista/core/grid.py
  pyvista/core/grid.py
Labels: none

Update tests/test_camera.py
  tests/test_camera.py
Labels: none

Update pyvista/utilities/errors.py
  pyvista/utilities/errors.py
Labels: none

Update pyvista/utilities/errors.py
  pyvista/utilities/errors.py
Labels: none

fix extent documentation and implementation (#2827)
  pyvista/core/dataset.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  tests/test_dataset.py
  tests/test_grid.py
Labels: none

Update tests/test_camera.py
  tests/test_camera.py
Labels: none

multi-dimensional for Grid classes
  examples/01-filter/glyphs_table.py
  examples/01-filter/gradients.py
  examples/02-plot/cmap.py
  examples/02-plot/topo-map.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/structured_grid.py
  pyvista/core/filters/uniform_grid.py
  pyvista/core/grid.py
  pyvista/core/objects.py
  pyvista/core/pointset.py
  pyvista/errors.py
  pyvista/examples/downloads.py
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/mapper.py
  pyvista/utilities/helpers.py
  pyvista/utilities/reader.py
  tests/plotting/test_plotting.py
  tests/test_dataset.py
  tests/test_datasetattributes.py
  tests/test_filters.py
  tests/test_grid.py
  tests/test_objects.py
Labels: documentation

add to image cache
  pyvista/core/objects.py
  tests/plotting/image_cache/plot_texture_alone_grayscale.png
  tests/plotting/image_cache/plot_uniform.png
  tests/utilities/test_reader.py
Labels: none

fix edge cases
  examples/00-load/create-surface-draped.py
  examples/00-load/terrain-mesh.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/utilities/helpers.py
Labels: documentation

Changed order in test_openfoam_skip_zero_time
  tests/utilities/test_reader.py
Labels: none

Add community-review label is need to merge
  .github/workflows/community-review.yml
  .github/workflows/required-labels.yml
Labels: maintenance

Remove community-review label if someone comment
  .github/workflows/community-review.yml
  .github/workflows/required-labels.yml
Labels: maintenance

Move required-labels.yml in label.yml
  .github/workflows/label.yml
  .github/workflows/required-labels.yml
Labels: maintenance

Apply suggestions from code review
  .github/workflows/label.yml
Labels: maintenance

Fix by Validate GitHub Workflows
  .github/workflows/label.yml
Labels: maintenance

Always run on Pull Request
  .github/workflows/label.yml
Labels: maintenance

Add Labels section
  CONTRIBUTING.rst
Labels: none

Set as steps
  .github/workflows/label.yml
Labels: maintenance

Small typo fix (#2848)
  examples/02-plot/bounds.py
  pyvista/plotting/renderer.py
Labels: documentation

check once a time in a hour
  .github/workflows/label.yml
Labels: maintenance

Apply suggestions from code review
  .github/workflows/label.yml
Labels: maintenance

Apply suggestions from code review
  CONTRIBUTING.rst
Labels: none
