Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Bump ubuntu from 20.04 to latest (#2844)
  .github/workflows/style_docstr.yml
Labels: maintenance

Apply suggestions from code review
  CONTRIBUTING.rst
Labels: none

Apply suggestions from code review
  pyvista/core/filters/poly_data.py
Labels: none

Added SetRefresh() in setter and updated test
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

improve tests
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
Labels: none

Add community-reviewed label is need to merge (#2851)
  .github/workflows/community-review.yml
  .github/workflows/label.yml
  CONTRIBUTING.rst
Labels: maintenance

fix docbuild
  pyvista/plotting/_plotting.py
  pyvista/utilities/reader.py
  tests/plotting/image_cache/plot_texture_alone_greyscale.png
  tests/plotting/test_plotting.py
Labels: none

clean up examples
  examples/02-plot/texture.py
  examples/02-plot/topo-map.py
  pyvista/core/objects.py
  pyvista/examples/examples.py
  pyvista/utilities/fileio.py
  pyvista/utilities/helpers.py
  tests/plotting/image_cache/pbr.png
  tests/plotting/test_plotting.py
  tests/test_helpers.py
  tests/test_objects.py
Labels: documentation

Fix by black
  tests/test_plotter.py
Labels: none

Fix by black
  tests/test_plotter.py
Labels: none

Set number of labels to release as minimum
  .github/workflows/label.yml
Labels: maintenance

fix windows skip
  tests/plotting/test_plotting.py
Labels: none

fix formatting
  tests/test_plotter.py
Labels: none

Fix by pre-commit
  tests/test_plotter.py
Labels: none

fix various issues
  examples/01-filter/image-fft-perlin-noise.py
  examples/01-filter/image-fft.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/uniform_grid.py
  pyvista/errors.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  tests/test_datasetattributes.py
  tests/test_grid.py
  tests/test_plotter.py
Labels: documentation

Apply suggestions from code review
  examples/01-filter/image-fft-perlin-noise.py
  pyvista/core/filters/uniform_grid.py
Labels: documentation

fix docstring
  pyvista/core/filters/uniform_grid.py
Labels: none

cleanup another docstring
  pyvista/core/filters/uniform_grid.py
Labels: none

Clean up community-reviewed label wording
  .github/workflows/community-review.yml
  CONTRIBUTING.rst
Labels: maintenance

Add jupyterlab to Scooby Report (#2846)
  pyvista/utilities/errors.py
Labels: none

Revert "Add community-reviewed label is need to merge (#2851)"
  .github/workflows/community-review.yml
  .github/workflows/label.yml
  CONTRIBUTING.rst
Labels: maintenance

Apply suggestions from code review
  .github/workflows/label.yml
Labels: maintenance

Apply suggestions from code review
  .github/workflows/label.yml
Labels: maintenance

Fix _version.py file reference in CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: none

Revert "Add community-reviewed label is need to merge" (#2860)
  .github/workflows/community-review.yml
  .github/workflows/label.yml
  CONTRIBUTING.rst
Labels: maintenance

Implement taubin smoothing (#2829)
  examples/01-filter/surface-smoothing.py
  pyvista/_vtk.py
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
Labels: documentation

Fix typos and intersphinx links in uniformgrid filters
  pyvista/core/filters/uniform_grid.py
Labels: none

decrease tol for camera test due to MacOS (#2836)
  tests/test_camera.py
Labels: none

Add note about standard FFT frequency layout
  pyvista/core/filters/uniform_grid.py
Labels: none

Cross-link FFT methods in See Also sections
  pyvista/core/filters/uniform_grid.py
Labels: none

Specify data-related error subclasses in pytest.raises
  tests/test_grid.py
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

add fixes for py310
  .github/workflows/testing-and-deployment.yml
  pyvista/core/filters/data_set.py
  pyvista/utilities/helpers.py
  pyvista/utilities/reader.py
  pyvista/utilities/regression.py
  requirements_test.txt
  tests/plotting/image_cache/chart_plot.png
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/utilities/test_reader.py
Labels: maintenance, dependencies

add windows and mac to testing
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Fix small typo
  pyvista/core/filters/poly_data.py
Labels: none

Update surface-smoothing.py
  examples/01-filter/surface-smoothing.py
Labels: documentation

Typo fix
  pyvista/ext/plot_directive.py
Labels: none

improve coverage
  pyvista/utilities/regression.py
  tests/test_regression.py
Labels: none

Add skip_zero_time property in OpenFOAMReader (#2847)
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

Improve Charts compatibility with older and upcoming VTK versions.
  doc/api/plotting/charts/index.rst
  doc/api/plotting/index.rst
  examples/02-plot/chart_overlays.py
  pyvista/_vtk.py
  pyvista/plotting/charts.py
  tests/test_charts.py
Labels: documentation
