Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Fix file upload example
  examples_trame/basic/file_viewer.py
Labels: none

[wip] test
  tests/test_theme.py
Labels: none

Fix PBR test
  pyvista/plotting/_property.py
  pyvista/themes.py
  tests/test_theme.py
Labels: none

More theme options
  pyvista/plotting/_property.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/themes.py
Labels: none

Simplify
  examples/02-plot/distance_measurement.py
  pyvista/plotting/widgets.py
  tests/plotting/test_widgets.py
Labels: documentation

Use nest_asyncio to avoid awaiting jupyter backend
  doc/user-guide/jupyter/index.rst
  doc/user-guide/jupyter/trame.rst
  pyproject.toml
  pyvista/jupyter/__init__.py
  pyvista/trame/jupyter.py
  requirements_test.txt
  tests/jupyter/test_trame.py
Labels: documentation, maintenance, dependencies

Launch server on show if needed
  pyvista/jupyter/__init__.py
  pyvista/trame/jupyter.py
Labels: none

Use full trame backend by default
  pyvista/themes.py
Labels: none

Improve error message
  pyvista/trame/jupyter.py
Labels: none

Avoid awaiting the Trame Jupyter backend (#3875)
  doc/user-guide/jupyter/index.rst
  doc/user-guide/jupyter/trame.rst
  pyproject.toml
  pyvista/jupyter/__init__.py
  pyvista/themes.py
  pyvista/trame/jupyter.py
  requirements_test.txt
  tests/jupyter/test_trame.py
Labels: documentation, maintenance, dependencies

Remove return
  pyvista/jupyter/__init__.py
Labels: none

Support Actor-based picking (#3863)
  examples/02-plot/mesh-picking.py
  pyvista/plotting/picking.py
  tests/test_picking.py
Labels: documentation

remove renderer ref
  pyvista/plotting/actor.py
  pyvista/plotting/renderer.py
  tests/test_actor.py
Labels: none

reduce unnecessary code diff
  doc/index.rst
  pyvista/_vtk.py
  pyvista/examples/examples.py
  pyvista/plotting/plotting.py
  pyvista/plotting/volume_property.py
  pyvista/utilities/features.py
  requirements_test.txt
  tests/examples/test_examples.py
  tests/test_utilities.py
Labels: documentation, dependencies

improve example
  examples/99-advanced/atomic-orbitals.py
  pyvista/examples/examples.py
  pyvista/plotting/widgets.py
Labels: documentation

doc fix
  pyvista/examples/examples.py
Labels: none

fix sympy req
  requirements_test.txt
Labels: dependencies

Fix TODO
  pyvista/trame/ui.py
Labels: none

Formatting
  pyvista/trame/ui.py
Labels: none

Use ipywidgets for Iframe
  pyvista/trame/jupyter.py
  tests/jupyter/test_trame.py
Labels: none

Passes instance instead of method, fixes docs
  pyvista/plotting/actor_properties.py
  pyvista/plotting/axes_actor.py
Labels: none

Fixes doc
  pyvista/plotting/axes_actor.py
Labels: none

Use custom widget with viewer reference and support return_viewer
  pyvista/jupyter/notebook.py
  pyvista/trame/__init__.py
  pyvista/trame/jupyter.py
  pyvista/trame/ui.py
Labels: none

Update pyvista/jupyter/__init__.py
  pyvista/jupyter/__init__.py
Labels: none

Formatting
  pyvista/jupyter/__init__.py
Labels: none

Disable render_window_serializer logger in Jupyter
  pyvista/trame/jupyter.py
Labels: none

Fix test
  tests/jupyter/test_trame.py
Labels: none

fix docreq
  pyvista/utilities/features.py
  requirements_docs.txt
Labels: dependencies

Update pyvista/trame/jupyter.py
  pyvista/trame/jupyter.py
Labels: none

Update pyvista/trame/jupyter.py
  pyvista/trame/jupyter.py
Labels: none

Revert "Update pyvista/trame/jupyter.py"
  pyvista/trame/jupyter.py
Labels: none

Only recalculate bounds on plotter render; fix tests and triple click issue
  pyvista/plotting/charts.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  tests/test_charts.py
  tests/test_render_window_interactor.py
Labels: none

Use `interaction_event` instead of `event_type` in two examples.
  examples/02-plot/chart_overlays.py
  examples/02-plot/lookup-table.py
Labels: documentation

Add interactive border and background colors for charts
  pyvista/plotting/charts.py
  pyvista/plotting/render_window_interactor.py
  tests/plotting/test_plotting.py
Labels: none

Disable interaction with charts when using multiple renderers for older VTK versions.
  pyvista/plotting/render_window_interactor.py
  tests/test_charts.py
Labels: none

Track Actor names better and improve add_actor (#3864)
  pyvista/plotting/actor.py
  pyvista/plotting/renderer.py
  pyvista/utilities/misc.py
  tests/test_actor.py
Labels: none

Update examples/99-advanced/atomic-orbitals.py
  examples/99-advanced/atomic-orbitals.py
Labels: documentation

banefixes
  examples/99-advanced/atomic-orbitals.py
  pyvista/examples/examples.py
  pyvista/utilities/features.py
  tests/test_utilities.py
Labels: documentation

refactor with reusable abstract class
  pyvista/utilities/reader.py
Labels: none

Renames and moves enums
  pyvista/plotting/actor_properties.py
  pyvista/plotting/opts.py
  tests/plotting/test_plotting.py
Labels: none
