Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

clear out whole cache?
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

it's share and not local
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

do not continue on error; do not test package docstrings
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Apply suggestions from code review
  pyvista/_vtk.py
  tests/test_cells.py
Labels: none

fix copy behavior
  examples/02-plot/composite-picking.py
  pyvista/core/composite.py
  pyvista/plotting/plotting.py
Labels: documentation

Use Mamba to speed up the conda build (#3163)
  .github/workflows/testing-and-deployment.yml
  environment.yml
Labels: maintenance, dependencies

convert panels to grid
  doc/api/index.rst
  doc/getting-started/index.rst
Labels: documentation

Apply suggestions from code review
  doc/api/index.rst
  doc/getting-started/index.rst
Labels: documentation

Sort requirements_docs.txt
  requirements_docs.txt
Labels: dependencies

improve covergage
  pyvista/plotting/_property.py
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
  tests/test_composite_mapper.py
Labels: none

add missing image cache
  tests/plotting/image_cache/plot_composite_preference_cell.png
  tests/plotting/image_cache/vector_array_with_cells_and_points.png
Labels: none

add test back in
  tests/plotting/image_cache/vector_array.png
  tests/plotting/test_plotting.py
Labels: none

Fix by pre-commit run --all-files
  pyvista/_vtk.py
Labels: none

expose classes at init for docs
  doc/api/plotting/index.rst
  pyvista/plotting/__init__.py
Labels: documentation

remove current module
  doc/api/plotting/index.rst
Labels: documentation

rename templates
  doc/_templates/custom-class-template.rst
  doc/_templates/custom-module-template.rst
  doc/api/core/camera.rst
  doc/api/core/composite.rst
  doc/api/core/dataset.rst
  doc/api/core/filters.rst
  doc/api/core/grids.rst
  doc/api/core/lights.rst
  doc/api/core/objects.rst
  doc/api/core/pointsets.rst
  doc/api/examples/index.rst
  doc/api/plotting/charts/index.rst
  doc/api/plotting/index.rst
  doc/api/plotting/theme.rst
  doc/api/readers/index.rst
  doc/api/utilities/utilities.rst
Labels: documentation

add back in templates
  doc/_templates/autosummary/class.rst
  doc/_templates/autosummary/module.rst
Labels: documentation

Update index.rst
  doc/api/index.rst
Labels: documentation

Apply suggestions from code review
  doc/getting-started/index.rst
Labels: documentation

Add machinery for needs_vtk9 and needs_vtk_version pytest marks
  pytest.ini
  tests/conftest.py
Labels: none

Put volume and area into DataSet
  pyvista/core/dataset.py
  pyvista/core/pointset.py
Labels: none

Replace VTK9 skips with new marker
  tests/jupyter/test_pythreejs.py
  tests/plotting/test_plotting.py
  tests/test_filters.py
  tests/test_grid.py
  tests/test_polydata.py
Labels: none

give the mulitcomp more variability in data
  doc/conf.py
  tests/plotting/image_cache/vector_array.png
  tests/plotting/image_cache/vector_array_with_cells_and_points.png
  tests/plotting/test_plotting.py
Labels: documentation

makefile: add linkcheck command
  doc/Makefile
Labels: documentation

general fixes of invalid links
  CONTRIBUTING.rst
  doc/conf.py
  doc/getting-started/installation.rst
  doc/user-guide/jupyter/ipygany.rst
  doc/user-guide/jupyter/itk_plotting.rst
Labels: documentation

gh actions: add linkcheck workflow
  .github/workflows/linkcheck.yml
Labels: maintenance

docstrings: fix links
  examples/00-load/create-pixel-art.py
  pyvista/jupyter/itkplotter.py
  pyvista/plotting/plotting.py
Labels: documentation

remove mapper from mesh converter
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/composite_mapper.py
  tests/test_composite_mapper.py
Labels: none

test for all datasets
  tests/test_dataset.py
  tests/test_pointset.py
Labels: none

add composite dataset support to pythreejs
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/plotting.py
  tests/jupyter/test_pythreejs.py
Labels: none

skip test windows
  tests/plotting/test_plotting.py
Labels: none

Fix vtk_version_info name in conftest.py
  tests/conftest.py
Labels: none

better docstring examples
  pyvista/core/dataset.py
Labels: none

revert template change; add in image cache
  doc/conf.py
  tests/plotting/image_cache/vector_array_with_cells.png
  tests/plotting/image_cache/vector_array_with_points.png
Labels: documentation

Replace nontrivial version skips with new marker
  tests/plotting/test_plotting.py
  tests/plotting/test_widgets.py
  tests/test_picking.py
  tests/test_render_window_interactor.py
  tests/utilities/test_reader.py
Labels: none

use sum method
  pyvista/core/dataset.py
Labels: none

select between templates
  doc/_templates/autosummary/base.rst
  doc/_templates/autosummary/module.rst
  doc/_templates/sidebar-nav-bs.html
  doc/_templates/sponsor.html
  doc/_templates_basic/autosummary/class.rst
  doc/conf.py
Labels: documentation

split the usage of basic and full templates
  doc/_templates/autosummary/base.rst
  doc/_templates/sidebar-nav-bs.html
  doc/_templates/sponsor.html
  doc/_templates_basic/autosummary/module.rst
  doc/_templates_full/autosummary/class.rst
  doc/_templates_full/autosummary/module.rst
  doc/conf.py
Labels: documentation

make full doc build conditional
  .github/workflows/docs.yml
Labels: maintenance

Fix link to extract_surface
  pyvista/core/dataset.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
