Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Fix docs
  pyvista/core/dataobject.py
Labels: none

[HOTFIX] Fix docs for copy_meta_from (#3788)
  pyvista/core/dataobject.py
Labels: none

Attempting to remove deprecation warnings in doc build and remove parameters in DataObject copy_meta_from docstring
  doc/conf.py
  pyvista/core/dataobject.py
Labels: documentation

Add missing docstring set_color_cycle
  pyvista/plotting/renderers.py
Labels: none

Remove warnings filter and deprecated examples
  doc/conf.py
  pyvista/core/dataset.py
Labels: documentation

Convert PyVistaDeprecationWarning to error for tests
  pyproject.toml
  pyvista/core/dataset.py
Labels: maintenance

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

MAINT: Improve GC message (#3787)
  tests/plotting/conftest.py
Labels: none

Add LaTeX symbol test (#3781)
  .github/workflows/testing-and-deployment.yml
  tests/plotting/image_cache/add_text_latex.png
  tests/plotting/test_plotting.py
Labels: maintenance

Adds volume wrapper (#3675)
  doc/api/plotting/index.rst
  pyvista/_vtk.py
  pyvista/plotting/actor.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/volume.py
  pyvista/plotting/volume_property.py
  tests/mappers/test_mapper.py
  tests/mappers/test_volume_mapper.py
  tests/test_actor.py
  tests/test_volume_property.py
Labels: documentation

Add levels methods and docstrings
  pyvista/core/dataset.py
  tests/test_dataset.py
Labels: none

Remove DatasetConnectivity class and add docstrings
  pyvista/core/__init__.py
  pyvista/core/dataset.py
  tests/test_dataset.py
Labels: none

Rename `render` to `on_plotter_render`
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
Labels: none

Rename `render` to `on_plotter_render`
  pyvista/plotting/renderers.py
Labels: none

Implement invert for extract_cells method
  pyvista/core/filters/data_set.py
  tests/test_grid.py
Labels: none

Add visual examples
  pyvista/core/dataset.py
Labels: none

update volumetric plotting
  CONTRIBUTING.rst
  examples/02-plot/volume.py
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/array_volume_rendering.png
  tests/plotting/image_cache/multiblock_volume_rendering.png
  tests/plotting/image_cache/plot_helper_two_volumes.png
  tests/plotting/image_cache/plot_helper_volume.png
  tests/plotting/image_cache/plotter_volume_lookup_table.png
  tests/plotting/image_cache/user_annotations_scalar_bar_volume.png
  tests/plotting/image_cache/volume_rendering_from_helper.png
  tests/plotting/image_cache/volume_rendering_from_plotter.png
Labels: documentation

fix section title
  examples/02-plot/volume.py
Labels: documentation

add in test that adds scalars that do not exist
  tests/plotting/image_cache/plotter_volume_add_scalars.png
  tests/plotting/test_plotting.py
Labels: none

fix volume tests on windows
  tests/plotting/test_plotting.py
Labels: none

Limit MPL<3.6 for Conda CI
  .github/workflows/testing-and-deployment.yml
  environment.yml
Labels: maintenance, dependencies

Add RectilinearGrid support to add_volume
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/volume_rendering_rectilinear.png
  tests/plotting/image_cache/volume_rendering_rectilinear_1.png
  tests/plotting/test_plotting.py
Labels: none

add fix and test for no scalars
  pyvista/plotting/plotting.py
  tests/test_plotter.py
Labels: none

Fix doc builds for main branch (#3792)
  doc/conf.py
  pyproject.toml
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/plotting/renderers.py
Labels: documentation, maintenance

Skip test_volume_rendering_rectilinear on 9.0.x
  tests/plotting/test_plotting.py
Labels: none

improve typing; add test coverage
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  tests/test_plotter.py
Labels: none

Cosmetics
  pyvista/core/dataset.py
Labels: none

Add parameters doc for copy_meta_from
  pyvista/core/dataobject.py
Labels: none

Update docs.yml
  .github/workflows/docs.yml
Labels: maintenance

Consistent label name
  .github/workflows/docs.yml
Labels: maintenance

Allow running when label added
  .github/workflows/docs.yml
Labels: maintenance

Revert "Allow running when label added"
  .github/workflows/docs.yml
Labels: maintenance

Better multiline formatting
  .github/workflows/docs.yml
Labels: maintenance

Improve `add_volume` and support RectilinearGrid (#3794)
  CONTRIBUTING.rst
  examples/02-plot/volume.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/array_volume_rendering.png
  tests/plotting/image_cache/multiblock_volume_rendering.png
  tests/plotting/image_cache/plot_helper_two_volumes.png
  tests/plotting/image_cache/plot_helper_volume.png
  tests/plotting/image_cache/plotter_volume_add_scalars.png
  tests/plotting/image_cache/plotter_volume_lookup_table.png
  tests/plotting/image_cache/user_annotations_scalar_bar_volume.png
  tests/plotting/image_cache/volume_rendering_from_helper.png
  tests/plotting/image_cache/volume_rendering_from_plotter.png
  tests/plotting/image_cache/volume_rendering_rectilinear.png
  tests/plotting/image_cache/volume_rendering_rectilinear_1.png
  tests/plotting/test_plotting.py
  tests/test_plotter.py
Labels: documentation

Allow building full docs in PR, opt-in (#3800)
  .github/workflows/docs.yml
Labels: maintenance

doc style fix
  pyvista/core/dataobject.py
  pyvista/plotting/plotting.py
Labels: none

Update pyvista/plotting/plotting.py
  pyvista/plotting/plotting.py
Labels: none

Add more algorithm helpers
  pyvista/utilities/algorithms.py
Labels: none

Handle vtkPointSet with PreserveTypeAlgorithmBase
  pyvista/plotting/widgets.py
  pyvista/utilities/algorithms.py
  tests/plotting/test_widgets.py
Labels: none

Fix active scalars issue with IDs filter
  pyvista/utilities/algorithms.py
Labels: none
