Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Tecplot ascii data reader
  pyvista/_vtk.py
  pyvista/examples/downloads.py
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

Label test
  .github/workflows/label.yml
Labels: maintenance

Wait until auto label is add
  .github/workflows/label.yml
Labels: maintenance

test labeler
  .github/workflows/label.yml
Labels: maintenance

ensure same name arrays do not shallow_copy
  pyvista/core/datasetattributes.py
Labels: none

Apply suggestions from code review
  pyvista/core/filters/uniform_grid.py
  tests/test_datasetattributes.py
Labels: none

Update pyvista/_vtk.py
  pyvista/_vtk.py
Labels: none

Update pyvista/core/datasetattributes.py
  pyvista/core/datasetattributes.py
Labels: none

add decimate_pro boundary vertex deletion argument
  pyvista/core/filters/poly_data.py
Labels: none

add decimate_pro max_degree argument
  pyvista/core/filters/poly_data.py
Labels: none

Fix _version.py file reference in CONTRIBUTING.rst (#2861)
  CONTRIBUTING.rst
Labels: none

use python 3.9 with new osmesa wheel
  .github/workflows/docs.yml
Labels: maintenance

Update label.yml
  .github/workflows/label.yml
Labels: maintenance

Add 'inactive scalars' RFFT test for coverage
  tests/test_grid.py
Labels: none

Add scaled version of Perlin noise FFT example animation
  examples/01-filter/image-fft-perlin-noise.py
Labels: documentation

Update untested scalars doctest output
  pyvista/core/filters/uniform_grid.py
Labels: none

pre-commit & unit test fix
  pyvista/examples/downloads.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

Update reader.py
  pyvista/utilities/reader.py
Labels: none

Update pyvista/examples/downloads.py
  pyvista/examples/downloads.py
Labels: none

Update pyvista/utilities/reader.py
  pyvista/utilities/reader.py
Labels: none

Update pyvista/examples/downloads.py
  pyvista/examples/downloads.py
Labels: none

Apply suggestions from code review
  examples/01-filter/image-fft-perlin-noise.py
  examples/01-filter/image-fft.py
  pyvista/core/filters/uniform_grid.py
  pyvista/examples/downloads.py
  pyvista/plotting/plotting.py
Labels: documentation

Fix Perlin FFT animation scaling
  examples/01-filter/image-fft-perlin-noise.py
Labels: documentation

Update pyvista/examples/downloads.py
  pyvista/examples/downloads.py
Labels: none

Fix small typo (#2866)
  examples/01-filter/surface-smoothing.py
  pyvista/core/filters/poly_data.py
  pyvista/ext/plot_directive.py
Labels: documentation

Apply suggestions from code review
  examples/01-filter/image-fft-perlin-noise.py
  examples/01-filter/image-fft.py
  pyvista/core/filters/uniform_grid.py
Labels: documentation

Update vtkThreshold API usage
  pyvista/core/filters/data_set.py
  pyvista/core/filters/uniform_grid.py
  pyvista/plotting/widgets.py
Labels: none

revert image data filter
  pyvista/core/filters/uniform_grid.py
Labels: none

Custom widget interaction events
  pyvista/plotting/widgets.py
Labels: none

Update label.yml (#2877)
  .github/workflows/label.yml
Labels: maintenance

Plane widget methods support user-defined origin
  pyvista/plotting/widgets.py
Labels: none

Update pyvista/core/filters/data_set.py
  pyvista/core/filters/data_set.py
Labels: none

Handle different APIs per VTK version
  pyvista/core/filters/data_set.py
  pyvista/plotting/widgets.py
Labels: none

Add example
  doc/images/gifs/plane-slice-continuous.gif
  examples/03-widgets/plane-widget.py
  pyvista/plotting/widgets.py
Labels: documentation

Apply suggestions from code review
  pyvista/utilities/regression.py
  tests/test_regression.py
Labels: none

Update examples/03-widgets/plane-widget.py
  examples/03-widgets/plane-widget.py
Labels: documentation

Apply suggestions from code review
  pyvista/plotting/widgets.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/widgets.py
Labels: none

add TecplotReader to reader classes
  doc/api/readers/index.rst
Labels: documentation

Update doc/api/readers/index.rst
  doc/api/readers/index.rst
Labels: documentation

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
