Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Add a time series test
  tests/examples/test_download_files.py
  tests/utilities/test_reader.py
Labels: none

Add "Powered by NumFOCUS" badge
  README.rst
Labels: none

Fix Table.get_data_range method
  pyvista/core/objects.py
  tests/test_objects.py
Labels: none

Add bug branch name to bug flag
  .github/workflows/label.yml
Labels: maintenance

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: none

Update test_objects.py
  tests/test_objects.py
Labels: none

Update test_objects.py
  tests/test_objects.py
Labels: none

Update test_objects.py
  tests/test_objects.py
Labels: none

Apply suggestions from code review
  pyvista/core/objects.py
Labels: none

vtkFiltersParallelDIY2 ModuleNotFoundError -> ImportError
  pyvista/_vtk.py
Labels: none

Fix bug of get_data_range method in Table class. (#4052)
  pyvista/core/objects.py
  tests/test_objects.py
Labels: none

Fix update_scalar_bar_range (#4035)
  pyvista/plotting/plotting.py
Labels: none

vtkFiltersParallelDIY2 ModuleNotFoundError -> ImportError (#4054)
  pyvista/_vtk.py
Labels: none

Fix bug of get_data_range method in Table class. (#4052)
  pyvista/core/objects.py
  tests/test_objects.py
Labels: none

Fix update_scalar_bar_range (#4035)
  pyvista/plotting/plotting.py
Labels: none

vtkFiltersParallelDIY2 ModuleNotFoundError -> ImportError (#4054)
  pyvista/_vtk.py
Labels: none

Bump version
  pyvista/_version.py
Labels: none

Change version to refresh cache
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Revert "Change version to refresh cache"
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Update objects.py
  pyvista/core/objects.py
Labels: none

removed _add_row_array (#4056)
  pyvista/core/objects.py
Labels: none

Add bug branch name to bug flag (#4053)
  .github/workflows/label.yml
  CONTRIBUTING.rst
Labels: maintenance

Add a time point test
  tests/utilities/test_reader.py
Labels: none

Removed incorrect tests.
  tests/utilities/test_reader.py
Labels: none

Add download_fenicsx_xdmf
  pyvista/examples/downloads.py
Labels: none

Fix error of examples.download_fenicsx_xdmf
  pyvista/examples/downloads.py
  tests/utilities/test_reader.py
Labels: none

Add property for TimeReader
  pyvista/examples/downloads.py
  pyvista/utilities/reader.py
Labels: none

Fix error
  pyvista/examples/downloads.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
  time-series.xdmf
Labels: none

Remove time-series.xdmf
  time-series.xdmf
Labels: none

Apply suggestions from code review
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: none

Fix tests
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

Fix value
  tests/utilities/test_reader.py
Labels: none

Fix tests
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

Apply suggestions from code review
  tests/utilities/test_reader.py
Labels: none

Fix error of docstring
  pyvista/utilities/reader.py
Labels: none

[create-pull-request] update local intersphinx
  doc/intersphinx/matplotlib-objects.inv
  doc/intersphinx/python-objects.inv
  doc/intersphinx/scipy-objects.inv
Labels: documentation

BUG: Fix bug with check
  pyvista/plotting/tools.py
Labels: none

make cell generator
  pyvista/core/cell.py
  pyvista/core/dataset.py
  pyvista/core/pointset.py
  tests/test_cells.py
Labels: none

STY: Black
  tests/test_scraper.py
Labels: none

usage of cell[i] in test
  tests/plotting/test_plotting.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
