Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Fix discussion_r950690400
  tests/test_polydata.py
Labels: none

Add conditional skip and improve docs
  pyvista/core/filters/poly_data.py
Labels: none

Fix docs
  pyvista/core/filters/poly_data.py
Labels: none

Finalize v0.37 deprecations (#3602)
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/examples/downloads.py
  pyvista/plotting/__init__.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/camera.py
  pyvista/plotting/colors.py
  pyvista/plotting/plotting.py
  pyvista/plotting/theme.py
  pyvista/plotting/tools.py
  pyvista/themes.py
  pyvista/utilities/features.py
  pyvista/utilities/fileio.py
  tests/examples/test_downloads.py
  tests/test_camera.py
  tests/test_dataset.py
Labels: none

Standardize warnings (#3232)
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/filters/poly_data.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/picking.py
  pyvista/utilities/helpers.py
  pyvista/utilities/reader.py
Labels: none

Implement vtkAlgorithm support
  examples/99-advanced/plotting-algorithms.py
  pyvista/_vtk.py
  pyvista/core/filters/__init__.py
  pyvista/plotting/export_vtkjs.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/widgets.py
  pyvista/utilities/__init__.py
  pyvista/utilities/algorithms.py
  pyvista/utilities/helpers.py
  tests/plotting/image_cache/algorithm_add_mesh_methods.png
  tests/plotting/image_cache/algorithm_add_mesh_methods_1.png
  tests/plotting/image_cache/algorithm_add_point_labels.png
  tests/plotting/image_cache/algorithm_add_points.png
  tests/plotting/image_cache/plot_algorithm_cone.png
  tests/plotting/image_cache/plot_algorithm_cone_1.png
  tests/plotting/image_cache/plot_algorithm_scalars.png
  tests/plotting/image_cache/plot_algorithm_scalars_1.png
  tests/plotting/image_cache/plot_algorithm_simple.png
  tests/plotting/test_plotting.py
  tests/plotting/test_widgets.py
  tests/test_helpers.py
Labels: documentation

Rename PreserveTypeAlgorithmBase
  pyvista/utilities/algorithms.py
Labels: none

Fix test name
  tests/plotting/test_widgets.py
Labels: none

Cleanup test_plot_algorithm_scalars
  tests/plotting/test_plotting.py
Labels: none

Debug failing image regression tests
  .github/workflows/testing-and-deployment.yml
  tests/plotting/image_cache/.gitignore
  tests/plotting/test_plotting.py
Labels: maintenance

Add image cache
  tests/plotting/image_cache/plot_change_scalars.png
  tests/plotting/image_cache/plot_change_scalars_1.png
  tests/plotting/image_cache/plot_change_scalars_2.png
  tests/plotting/image_cache/plot_change_scalars_3.png
Labels: none

Skip test_plot_algorithm_scalars on windows OSMesa
  tests/plotting/test_plotting.py
Labels: none

Implement connectivity class. Still WIP
  pyvista/core/dataset.py
Labels: none

Adding properties
  pyvista/core/dataset.py
Labels: none

Update index.rst
  doc/user-guide/index.rst
Labels: documentation

Fix interactive updates
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
Labels: none

Expose BandedPolyDataContourFilter (#3606)
  pyvista/_vtk.py
  pyvista/core/filters/poly_data.py
  tests/filters/test_poly_data.py
Labels: none

Move project metadata to pyproject.toml; avoid calling setup.py
  .github/workflows/docker-package.yml
  .github/workflows/testing-and-deployment.yml
  docker/README.md
  pyproject.toml
  setup.py
Labels: maintenance, docker

Omit timer construction for newer VTK versions. Add documentation and test for timer construction and destruction.
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  tests/test_render_window_interactor.py
Labels: none

Fix timer test
  tests/test_render_window_interactor.py
Labels: none

Only observe TimerEvents on older VTK versions. Increase delay time of timer test.
  pyvista/plotting/plotting.py
  tests/test_render_window_interactor.py
Labels: none

Add support for negative indices and add methods in DataSet
  pyvista/core/dataset.py
  tests/test_dataset.py
Labels: none

Add more connectivity methods
  pyvista/core/dataset.py
Labels: none

Add point neighbors with n_levels option
  pyvista/core/dataset.py
Labels: none

Clarify that interpolate only maps point data to point data
  pyvista/core/filters/data_set.py
Labels: none

Re-reset key events in Plotter.__init__
  pyvista/plotting/plotting.py
Labels: none

Use BuildLinks only if needed
  pyvista/core/dataset.py
Labels: none

Extend neighbors capabilities
  pyvista/core/dataset.py
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Decrease delay time of timer test.
  tests/test_render_window_interactor.py
Labels: none

Skip timer test on Mac.
  tests/test_render_window_interactor.py
Labels: none

Fix update_scalar_bar_range() behaviour and error
  pyvista/plotting/plotting.py
Labels: none

Remove redundant test from test_plotting.py
  tests/plotting/test_plotting.py
  tests/test_scalar_bars.py
Labels: none

Add update_scalar_bar_range() test
  tests/test_scalar_bars.py
Labels: none

Fix warnings from helpers.vtk_points()
  pyvista/core/dataset.py
  tests/test_helpers.py
  tests/test_pointset.py
Labels: none

Fix callback warnings
  tests/plotting/test_widgets.py
  tests/test_picking.py
Labels: none

Fix texture warnings
  tests/test_dataset.py
Labels: none

Move project metadata to pyproject.toml; avoid calling setup.py (#3619)
  .github/workflows/docker-package.yml
  .github/workflows/testing-and-deployment.yml
  docker/README.md
  pyproject.toml
  setup.py
Labels: maintenance, docker

Adds pytest_pyvista test requirement
  requirements_test.txt
Labels: dependencies

Clarify that interpolate only maps point data to point data (#3621)
  pyvista/core/filters/data_set.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
