Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

cleanup can docstring
  pyvista/examples/downloads.py
Labels: none

Revert "Add github-actions's comment when no labels (#2447)"
  .github/workflows/label.yml
Labels: maintenance

add missing lazy_vtkHDFReader for vtk<9
  pyvista/_vtk.py
Labels: none

add missing lazy_vtkSegYReader
  pyvista/_vtk.py
Labels: none

Revert "Add github-actions's comment when no labels (#2447)" (#2501)
  .github/workflows/label.yml
Labels: maintenance

Check the settings passed to vtkGlyph3D in tests
  tests/test_filters.py
Labels: none

Refactor logic in glyph filter
  pyvista/core/filters/data_set.py
Labels: none

pre-commit
  pyvista/core/filters/data_set.py
Labels: none

Make scale prefer point data. Make orient prefer the scale type
  pyvista/core/filters/data_set.py
Labels: none

Add __new__ to validation exclude
  doc/conf.py
Labels: documentation

Remove duplicates from validation exclude list
  doc/conf.py
Labels: documentation

Unify leading \. regex
  doc/conf.py
Labels: documentation

Partial sorting for maintainability
  doc/conf.py
Labels: documentation

Add back all the readers
  doc/conf.py
Labels: documentation

test BMPReader
  pyvista/utilities/__init__.py
  tests/utilities/test_reader.py
Labels: none

test DEMReader
  pyvista/utilities/__init__.py
  tests/utilities/test_reader.py
Labels: none

test JPEGReader
  pyvista/utilities/__init__.py
  tests/utilities/test_reader.py
Labels: none

test MetaImageReader
  pyvista/utilities/__init__.py
  tests/utilities/test_reader.py
Labels: none

test NRRDReader
  pyvista/utilities/__init__.py
  tests/utilities/test_reader.py
Labels: none

test PNGReader
  pyvista/utilities/__init__.py
  tests/utilities/test_reader.py
Labels: none

test PNMReader
  pyvista/utilities/__init__.py
  tests/utilities/test_reader.py
Labels: none

test SLCReader
  pyvista/utilities/__init__.py
  tests/utilities/test_reader.py
Labels: none

test TIFFReader
  pyvista/utilities/__init__.py
  tests/utilities/test_reader.py
Labels: none

test HDRReader
  pyvista/utilities/__init__.py
  tests/utilities/test_reader.py
Labels: none

test AVSucdReader
  pyvista/utilities/__init__.py
  tests/utilities/test_reader.py
Labels: none

test HDFReader
  pyvista/utilities/__init__.py
  tests/utilities/test_reader.py
Labels: none

add untested readers to namespace
  pyvista/utilities/__init__.py
Labels: none

skip hdr doctest; due to file size?
  pyvista/utilities/reader.py
Labels: none

hdfreader needs vtk>=9.1
  pyvista/_vtk.py
  tests/utilities/test_reader.py
Labels: none

add to documentation
  doc/api/readers/index.rst
Labels: documentation

skip TIFFReader docstring; due to file size?
  pyvista/utilities/reader.py
Labels: none

black
  pyvista/core/filters/data_set.py
Labels: none

Add failing test for cell data with tolerance
  tests/test_filters.py
Labels: none

Fix failing test
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: none

Consistent error style
  pyvista/core/dataset.py
Labels: none

Replace calls to deprecated ThresholdBetween
  pyvista/core/filters/uniform_grid.py
Labels: none

Remove debug error flags
  pyvista/core/filters/data_set.py
Labels: none

Exclude *Reader attributes as well
  doc/conf.py
Labels: documentation

Make periods exact in regexen
  doc/conf.py
Labels: documentation

Add export_vrml method
  pyvista/plotting/plotting.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
