Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Apply suggestions from code review
  tests/test_filters.py
Labels: none

Apply suggestions from code review
  tests/test_filters.py
Labels: none

Small typo fix
  examples/01-filter/extrude-trim.py
Labels: documentation

Apply suggestions from code review
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
Labels: none

implement complex dtype for pyvista_ndarray (#2773)
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/examples/downloads.py
  pyvista/examples/examples.py
  pyvista/plotting/mapper.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/reader.py
  tests/plotting/image_cache/plot_complex_value.png
  tests/plotting/test_plotting.py
  tests/test_dataset.py
  tests/test_datasetattributes.py
Labels: none

move complex collection test to test_collection
  tests/plotting/test_collection.py
  tests/test_datasetattributes.py
Labels: none

Apply suggestions from code review
  pyvista/core/filters/poly_data.py
Labels: none

Apply suggestions from code review
  pyvista/core/filters/poly_data.py
Labels: none

Fix by black
  pyvista/core/filters/poly_data.py
Labels: none

Apply suggestions from code review
  pyvista/core/datasetattributes.py
Labels: none

add orientation to add_text
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/add_text.png
  tests/plotting/test_plotting.py
Labels: none

Better parameter description
  pyvista/plotting/plotting.py
Labels: none

Apply suggestions from code review
  tests/test_filters.py
Labels: none

Apply suggestions from code review
  tests/test_filters.py
Labels: none

Apply suggestions from code review
  tests/test_filters.py
Labels: none

Apply suggestions from code review
  tests/test_filters.py
Labels: none

Follow the transformation method
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
Labels: none

Add warning when trying to screenshot when using a jupyter_backend
  pyvista/plotting/plotting.py
Labels: none

Small typo fix (#2793)
  examples/01-filter/extrude-trim.py
Labels: documentation

Add integrate_data filter (#2790)
  examples/01-filter/integrate-data.py
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
  pyvista/examples/downloads.py
  tests/test_filters.py
Labels: documentation

Apply suggestions from code review
  pyvista/core/filters/poly_data.py
Labels: none

Apply suggestions from code review
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
Labels: none

Apply suggestions from code review
  tests/test_filters.py
Labels: none

Fix array retrieval for VTK objects, add tests for coverage
  pyvista/utilities/helpers.py
  tests/test_utilities.py
Labels: none

Add githubaction-update-pull-request.yml
  .github/workflows/githubaction-update-pull-request.yml
Labels: maintenance

Add name
  .github/workflows/githubaction-update-pull-request.yml
Labels: maintenance

Apply suggestions from code review
  .github/workflows/githubaction-update-pull-request.yml
Labels: maintenance

Keeping our actions up to date with Dependabot
  .github/dependabot.yml
Labels: maintenance

Apply suggestions from code review
  .github/dependabot.yml
Labels: maintenance

Fix typo
  pyvista/utilities/helpers.py
Labels: none

Keeping our actions up to date with Dependabot (#2801)
  .github/dependabot.yml
Labels: maintenance

Add orientation to `add_text` (#2794)
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/add_text.png
  tests/plotting/test_plotting.py
Labels: none

add in test
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

improve coverage
  pyvista/plotting/renderer.py
  tests/plotting/test_plotting.py
Labels: none

add image to cache
  tests/plotting/image_cache/plot_show_grid_with_mesh.png
Labels: none

add new bounds example
  examples/02-plot/bounds.py
  pyvista/plotting/renderer.py
Labels: documentation

disable z axis for unit test
  tests/plotting/image_cache/plot_show_grid_with_mesh.png
  tests/plotting/test_plotting.py
Labels: none

Add rotation_axis arg to extrude_rotate method (#2791)
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
Labels: none

Fix typo (#2802)
  pyvista/utilities/helpers.py
Labels: none

Add warning when trying to screenshot while using a jupyter_backend (#2795)
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
