Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Prevent warnings from extrude docstring examples
  pyvista/core/filters/poly_data.py
Labels: none

Replaced pyvista.wrap(alg.GetOutput()) with _get_output(alg). (#2228)
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/plotting/widgets.py
Labels: none

Create PyvistaFutureWarning, use it to warn about extrude capping changes (#2364)
  pyvista/core/filters/poly_data.py
  pyvista/utilities/misc.py
  tests/test_filters.py
  tests/test_polydata.py
Labels: none

ensure pointset works from add_mesh
  pyvista/plotting/plotting.py
  tests/conftest.py
  tests/plotting/test_plotting.py
Labels: none

Read .cgns files via vtkgCGNSReader
  pyvista/_vtk.py
  pyvista/utilities/fileio.py
Labels: none

Fix copy-pasta error
  pyvista/_vtk.py
Labels: none

Fix version check errors
  pyvista/_vtk.py
  pyvista/utilities/fileio.py
Labels: none

Add auto labeling in release
  .github/workflows/label.yml
Labels: maintenance

Apply suggestions from code review
  pyvista/core/pointset.py
Labels: none

add cached images
  tests/plotting/image_cache/pointset_plot.png
  tests/plotting/image_cache/pointset_plot_as_points.png
Labels: none

add editable
  pyvista/core/dataset.py
  pyvista/core/filters/__init__.py
  pyvista/core/pointset.py
  tests/test_pointset.py
Labels: none

fix coverage
  examples/00-load/create-pointset.py
  pyvista/core/dataset.py
  pyvista/core/pointset.py
  tests/test_dataset.py
  tests/test_pointset.py
Labels: documentation

Update pyvista/core/pointset.py
  pyvista/core/pointset.py
Labels: none

mypy and style fixes
  pyvista/core/pointset.py
  tests/plotting/test_plotting.py
  tests/test_dataset.py
Labels: none

reformat with black
  tests/test_dataset.py
Labels: none

fix documentation
  pyvista/core/dataset.py
Labels: none

Add auto labeling in release (#2368)
  .github/workflows/label.yml
Labels: maintenance

Import ABC from collections.abc for Python 3.10 compatibility.
  pyvista/utilities/features.py
Labels: none

Import ABC from collections.abc for Python 3.10 compatibility. (#2373)
  pyvista/utilities/features.py
Labels: none

fix Jinja requirements
  requirements_docs.txt
Labels: dependencies

fix Jinja requirements (#2374)
  requirements_docs.txt
Labels: dependencies

Fix indexing issue when number of lines != number of cells
  pyvista/jupyter/pv_pythreejs.py
Labels: none

Compute len(cc) once
  pyvista/jupyter/pv_pythreejs.py
Labels: none

Black
  pyvista/jupyter/pv_pythreejs.py
Labels: none

Fix pythreejs indexing issue when number of lines != number of cells (#2380)
  pyvista/jupyter/pv_pythreejs.py
Labels: none

Left click to pick points (#2266)
  examples/02-plot/point-picking.py
  pyvista/plotting/picking.py
  tests/test_picking.py
Labels: documentation

Add wrapper for vtkImageDilateErode3D filter for UniformGrid Datasets (#2188)
  pyvista/_vtk.py
  pyvista/core/filters/uniform_grid.py
  tests/test_filters.py
Labels: none

remove editable
  pyvista/core/pointset.py
  tests/test_pointset.py
Labels: none

add docs and testing
  pyvista/core/filters/data_set.py
  tests/test_widgets.py
Labels: none

Apply suggestions from code review
  doc/getting-started/connections.rst
Labels: documentation

add FEniCSx
  doc/getting-started/connections.rst
Labels: documentation

fix normals output in gltf export
  pyvista/plotting/plotting.py
Labels: none

Crinkle clip (#2316)
  examples/01-filter/clipping.py
  pyvista/core/filters/data_set.py
  pyvista/plotting/widgets.py
  tests/test_filters.py
  tests/test_widgets.py
Labels: documentation

Update list of connected software (#2131)
  README.rst
  doc/getting-started/connections.rst
  doc/getting-started/index.rst
Labels: documentation

Apply suggestions from code review
  examples/00-load/create-pointset.py
  pyvista/core/dataset.py
  pyvista/core/filters/__init__.py
  pyvista/core/pointset.py
Labels: documentation

properly copy over arrays
  examples/00-load/create-pointset.py
  pyvista/core/pointset.py
  tests/test_pointset.py
Labels: documentation

fix mem leak
  pyvista/plotting/plotting.py
Labels: none

fix normals output in gltf export (#2388)
  pyvista/plotting/plotting.py
Labels: none

reference PointSet in the core API documentation
  doc/api/core/index.rst
  doc/api/core/pointsets.rst
Labels: documentation

add examples and coverage
  pyvista/examples/downloads.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
