Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Update tests/test_theme.py
  tests/test_theme.py
Labels: none

Add trame jupyter backend
  pyvista/jupyter/__init__.py
  pyvista/jupyter/notebook.py
  pyvista/trame/__init__.py
  pyvista/trame/jupyter.py
  pyvista/trame/ui.py
  setup.py
Labels: none

server_proxy default False
  pyvista/trame/jupyter.py
Labels: none

Use weakref
  pyvista/trame/__init__.py
  pyvista/trame/jupyter.py
  pyvista/trame/ui.py
Labels: none

Update setup.py
  setup.py
Labels: none

refactor VerifyImageCache to use regex for variance and skip, make PyVista agnostic
  tests/plotting/test_plotting.py
Labels: none

Small fix of docstring
  pyvista/plotting/plotting.py
Labels: none

do not need r strings
  tests/plotting/test_plotting.py
Labels: none

make pyvista.testing
  pyvista/testing/__init__.py
  pyvista/testing/regression.py
  tests/plotting/test_plotting.py
Labels: none

Apply suggestions from code review
  pyvista/examples/downloads.py
Labels: none

Update index.rst
  doc/api/index.rst
Labels: documentation

Update index.rst (#3507)
  doc/api/index.rst
Labels: documentation

Small fix of docstring (#3500)
  pyvista/plotting/plotting.py
Labels: none

Apply suggestions from code review
  pyvista/utilities/reader.py
Labels: none

Fix by black
  pyvista/examples/downloads.py
Labels: none

Fix docstring
  pyvista/examples/downloads.py
Labels: none

Apply suggestions from code review
  pyvista/examples/downloads.py
Labels: none

patch edge case
  pyvista/__init__.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
Labels: none

Apply suggestions from code review
  CONTRIBUTING.rst
Labels: none

Fix bugs in cell picking and add tests
  pyvista/plotting/picking.py
  tests/test_picking.py
Labels: none

Handle non-dataset actors in visible cell picking
  pyvista/plotting/picking.py
Labels: none

clean up with GetInputAsDataSet
  pyvista/plotting/picking.py
Labels: none

Fix spelling
  tests/test_picking.py
Labels: none

Add slice_implicit filter
  pyvista/core/filters/data_set.py
Labels: none

Fix slice_implicit with MultiBlock
  pyvista/core/filters/data_set.py
Labels: none

patch edge case (#3512)
  pyvista/__init__.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
Labels: none

Use SetGenerateTriangles
  pyvista/core/filters/data_set.py
Labels: none

Creates example for polyhedron
  examples/00-load/create-polyhedron.py
Labels: documentation

[maint] update conda environment (#3329)
  environment.yml
Labels: dependencies

Adds unit test
  examples/00-load/create-polyhedron.py
  tests/test_grid.py
Labels: documentation

optional --> default
  CONTRIBUTING.rst
  doc/api/utilities/utilities.rst
  pyvista/__init__.py
  pyvista/core/composite.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/pointset.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/utilities/arrays.py
  pyvista/utilities/common.py
  pyvista/utilities/errors.py
  pyvista/utilities/fileio.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/helpers.py
  pyvista/utilities/parametric_objects.py
  pyvista/utilities/regression.py
  pyvista/utilities/transformations.py
  setup.py
Labels: documentation

fix Report docstring
  pyvista/utilities/errors.py
Labels: none

Apply suggestions from code review
  CONTRIBUTING.rst
Labels: none

Apply suggestions from code review
  pyvista/core/filters/data_set.py
Labels: none

Remove bad reference
  pyvista/core/filters/data_set.py
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Fix issues with cell picking (#3515)
  pyvista/plotting/picking.py
  tests/test_picking.py
Labels: none

fix numbered list
  CONTRIBUTING.rst
Labels: none

remove :: after directive reference
  CONTRIBUTING.rst
Labels: none

Apply suggestions from code review
  examples/00-load/create-polyhedron.py
Labels: documentation

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
