Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Support complex64 and save complex data (#3105)
  pyvista/core/dataobject.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/uniform_grid.py
  pyvista/utilities/reader.py
  tests/test_dataobject.py
  tests/test_datasetattributes.py
Labels: none

Make MultiBlock meshes MutableSequence with some dict-like features for setting and getting. (#3031)
  doc/api/core/composite.rst
  doc/conf.py
  pyvista/core/composite.py
  pyvista/core/filters/data_set.py
  pyvista/utilities/fileio.py
  tests/plotting/test_plotting.py
  tests/test_composite.py
Labels: documentation

Add spherical eversion example
  examples/02-plot/sphere_eversion.py
Labels: documentation

Cross-reference backface prop related examples
  examples/02-plot/backface_props.py
Labels: documentation

Add test for backface params with regression image
  tests/plotting/image_cache/backface_params.png
  tests/plotting/test_plotting.py
Labels: none

Apply suggestions from code review
  pyvista/utilities/reader.py
Labels: none

Fix small typo
  pyvista/examples/downloads.py
Labels: none

Fix rectilinear X coordinates int edge case (#3109)
  pyvista/core/grid.py
  tests/plotting/image_cache/rectlinear_edge_case.png
  tests/plotting/test_plotting.py
Labels: none

Apply suggestions from code review
  pyvista/utilities/reader.py
Labels: none

Apply suggestions from code review
  pyvista/examples/downloads.py
Labels: none

Correct vtk-data url in _download_file docstring
  pyvista/examples/downloads.py
Labels: none

Fix issue template typo and code placeholders
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/maintenance-request.yml
Labels: maintenance

Choose slightly prettier parameter, refactor names
  examples/02-plot/sphere_eversion.py
Labels: documentation

Refactor eversion example a bit for logic
  examples/02-plot/sphere_eversion.py
Labels: documentation

Fix small typo (#3136)
  pyvista/examples/downloads.py
Labels: none

Add various grid filters (#3110)
  pyvista/_vtk.py
  pyvista/core/filters/__init__.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/rectilinear_grid.py
  pyvista/core/filters/unstructured_grid.py
  pyvista/core/grid.py
  pyvista/examples/examples.py
  tests/conftest.py
  tests/filters/test_rectilinear_grid.py
  tests/test_dataset.py
  tests/test_examples.py
  tests/test_filters.py
Labels: none

Apply suggestions from code review
  pyvista/_vtk.py
Labels: none

Apply suggestions from code review
  pyvista/_vtk.py
Labels: none

Correct vtk-data url in _download_file docstring (#3138)
  pyvista/examples/downloads.py
Labels: none

Fix issue template typo and code placeholders (#3140)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/maintenance-request.yml
Labels: maintenance

Fix filesystem races caused by pyvista.examples.downloads
  pyvista/__init__.py
  pyvista/examples/downloads.py
Labels: none

Add more meaningful error message if there is no geodesic path between two vertices
  pyvista/core/filters/poly_data.py
Labels: none

Add tests for error message raised when there is no path between to vertices
  tests/test_polydata.py
Labels: none

Check if geodesic path output is empty, raise error if so
  pyvista/core/filters/poly_data.py
Labels: none

Reformat with black
  pyvista/core/filters/poly_data.py
  tests/test_polydata.py
Labels: none

Add typing_extensions install dependency for Python < 3.8
  setup.py
Labels: none

Update requirements_docs.txt
  requirements_docs.txt
Labels: dependencies

Don't test polydata.geodesic if vtk < 9
  tests/test_polydata.py
Labels: none

Reformat test
  tests/test_polydata.py
Labels: none

Fix filesystem races caused by pyvista.examples.downloads (#3146)
  pyvista/__init__.py
  pyvista/examples/downloads.py
Labels: none

Add typing_extensions install dependency for Python < 3.8 (#3156)
  requirements_docs.txt
  setup.py
Labels: dependencies

More descriptive error message when no geodesic path exists between vertices on a mesh (#3155)
  pyvista/core/filters/poly_data.py
  tests/test_polydata.py
Labels: none

Migrating from sphinx-panels to sphinx-design
  requirements_docs.txt
Labels: dependencies

Update conf.py
  doc/conf.py
Labels: documentation

add area to pointgrid; use exact method for volume
  pyvista/core/pointset.py
  tests/test_pointset.py
Labels: none

disable caching of build directory
  .github/workflows/docs.yml
Labels: maintenance

use mamba
  .github/workflows/testing-and-deployment.yml
  environment.yml
Labels: maintenance, dependencies

disable caching of build directory (#3162)
  .github/workflows/docs.yml
Labels: maintenance

move mamba into create env
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

just use the pandas workaround
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
