Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

fix return types
  pyvista/plotting/_utilities.py
Labels: none

better description of view planes
  pyvista/plotting/camera.py
Labels: none

[create-pull-request] update local intersphinx
  doc/intersphinx/imageio-objects.inv
  doc/intersphinx/matplotlib-objects.inv
  doc/intersphinx/pandas-objects.inv
  doc/intersphinx/pytest-objects.inv
  doc/intersphinx/python-objects.inv
Labels: documentation

Fix typo
  examples/02-plot/lookup-table.py
Labels: documentation

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Update lookup_table.py
  pyvista/plotting/lookup_table.py
Labels: none

Update lookup_table.py
  pyvista/plotting/lookup_table.py
Labels: none

Apply suggestions from code review
  examples/02-plot/lookup-table.py
Labels: documentation

Add add_point_scalar_labels_fmt.png
  tests/plotting/image_cache/add_point_scalar_labels_fmt.png
Labels: none

Add add_point_scalar_labels_fmt.png
  tests/plotting/image_cache/add_point_scalar_labels_fmt.png
  tests/plotting/test_plotting.py
Labels: none

Fix error
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/add_point_scalar_labels_fmt.png
Labels: none

Apply suggestions from code review
  pyvista/plotting/plotting.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/plotting.py
Labels: none

Apply suggestions from code review
  tests/plotting/test_plotting.py
Labels: none

Fix typo (#3397)
  examples/02-plot/lookup-table.py
  pyvista/plotting/lookup_table.py
Labels: documentation

Add lookup table opacity (#3390)
  pyvista/plotting/_plotting.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/tools.py
  tests/test_lookup_table.py
Labels: none

Apply suggestions from code review
  tests/plotting/test_plotting.py
Labels: none

Fix text name typo
  tests/test_utilities.py
Labels: none

Use np.array_equiv() for int equality testing
  tests/test_lookup_table.py
Labels: none

Make cmap change opacity invariance test stronger
  tests/test_lookup_table.py
Labels: none

Clean up LookupTable.apply_opacity() docs a bit
  pyvista/plotting/lookup_table.py
Labels: none

Clean up around opacity_transfer_function()
  pyvista/plotting/lookup_table.py
  pyvista/plotting/tools.py
  tests/plotting/test_plotting.py
Labels: none

Typo fix
  pyvista/plotting/tools.py
Labels: none

Update lookup_table.py
  pyvista/plotting/lookup_table.py
Labels: none

Fix the error of fmt in add_point_scalar_labels method. (#3399)
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/add_point_scalar_labels_fmt.png
  tests/plotting/test_plotting.py
Labels: none

continue on error for the greeter
  .github/workflows/greetings.yml
Labels: maintenance

Apply suggestions from code review
  pyvista/plotting/lookup_table.py
Labels: none

link to scipy docs
  pyvista/plotting/lookup_table.py
Labels: none

Fix docstring of add_point_scalar_labels
  pyvista/plotting/plotting.py
Labels: none

Use PyVista start headless display action (#3393)
  .github/workflows/style_docstr.yml
Labels: maintenance

remove panels from req
  requirements_docs.txt
Labels: dependencies

Use pooch (#3218)
  .github/workflows/docs.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  CONTRIBUTING.rst
  doc/api/examples/index.rst
  examples/00-load/load-gltf.py
  examples/00-load/read-dolfin.py
  examples/99-advanced/add-example.py
  pytest.ini
  pyvista/__init__.py
  pyvista/examples/__init__.py
  pyvista/examples/downloads.py
  pyvista/examples/gltf.py
  pyvista/examples/hdr.py
  pyvista/examples/vrml.py
  pyvista/utilities/reader.py
  requirements_test.txt
  setup.py
  tests/conftest.py
  tests/examples/test_download_files.py
  tests/examples/test_downloads.py
  tests/examples/test_examples.py
  tests/plotting/test_plotting.py
  tests/utilities/test_reader.py
Labels: documentation, maintenance, dependencies

Test vtk_points directly not PointSet
  tests/test_helpers.py
Labels: none

Add force_float test (pyvista#3333)
  tests/test_helpers.py
Labels: none

Add test for methods of _PointSet
  tests/test_pointset.py
Labels: none

Apply suggestions from code review
  tests/test_pointset.py
Labels: none

Add force_float test for PointSet
  tests/test_pointset.py
Labels: none

Apply suggestions from code review
  tests/test_pointset.py
Labels: none

Use np dtypes rather than vtk types to test PointSet force float
  tests/test_pointset.py
Labels: none

Apply suggestions from code review
  tests/plotting/test_plotting.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
