Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Add DataSet.cell_point_ids (#2897)
  pyvista/core/dataset.py
  tests/test_dataset.py
Labels: none

Add 'revert to defaults' case again to test_axis_tick_locations
  tests/test_charts.py
Labels: none

Fix the url link of discretize (#2914)
  doc/make_external_gallery.py
Labels: documentation

Add newline to end of py.typed
  pyvista/py.typed
Labels: none

Add tags with python commands to avoid misnumbering (#2416)
  CONTRIBUTING.rst
Labels: none

improve add_mesh performance
  pyvista/plotting/_plotting.py
  pyvista/plotting/colors.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/utilities/misc.py
Labels: none

add tests for alternative cmaps
  pyvista/plotting/colors.py
  tests/test_colors.py
Labels: none

Update pyvista/utilities/misc.py
  pyvista/utilities/misc.py
Labels: none

move update lookup table out of set_scalars
  pyvista/plotting/mapper.py
Labels: none

style fix
  pyvista/plotting/mapper.py
Labels: none

Update pyvista/utilities/misc.py
  pyvista/utilities/misc.py
Labels: none

feat(setuptools): add type hint files to `MANIFEST.in` and set `zip_safe=False`
  MANIFEST.in
  setup.py
Labels: none

test correct colormap
  pyvista/plotting/mapper.py
  tests/test_colors.py
Labels: none

add bool scalars test
  pyvista/plotting/mapper.py
  tests/plotting/test_plotting.py
Labels: none

add bool_scalars.png
  tests/plotting/image_cache/bool_scalars.png
Labels: none

test for edge case
  pyvista/plotting/mapper.py
  tests/test_plotter.py
Labels: none

[create-pull-request] update local intersphinx
  doc/intersphinx/matplotlib-objects.inv
  doc/intersphinx/numpy-objects.inv
  doc/intersphinx/pandas-objects.inv
  doc/intersphinx/python-objects.inv
Labels: documentation

Add newline to end of MANIFEST.in
  MANIFEST.in
Labels: none

check for int type for ind
  pyvista/core/dataset.py
  tests/test_dataset.py
Labels: none

return 2d array when a 2d array is supplied
  pyvista/core/dataset.py
  pyvista/utilities/common.py
  pyvista/utilities/geometric_objects.py
  tests/utilities/test_common.py
Labels: none

return ndarray instead of list
  pyvista/core/dataset.py
Labels: none

whitespace
  pyvista/core/dataset.py
Labels: none

Fix unintended emacs closing file problem
  pyvista/utilities/common.py
Labels: none

add cell_point_ids to avoid painful diff merge
  pyvista/core/dataset.py
Labels: none

fix whitespace in _coerce_pointslike_arg
  pyvista/utilities/common.py
Labels: none

fix versionchanged format
  pyvista/core/dataset.py
Labels: none

Some minor docstring wording/markup changes
  pyvista/core/dataset.py
Labels: none

Add `py.typed` Marker (#2904)
  MANIFEST.in
  pyvista/py.typed
  setup.py
Labels: none

Handle invalid theme on init (#2917)
  pyvista/__init__.py
  pyvista/utilities/misc.py
  tests/utilities/test_misc.py
Labels: none

Remove return and and very description for second return
  pyvista/utilities/common.py
Labels: none

Also use numpy.integer
  pyvista/core/dataset.py
Labels: none

Use typing like syntax in docstring
  pyvista/core/dataset.py
Labels: none

Fix merge conflict
  tests/utilities/test_reader.py
Labels: none

add yaml
  .gitpod.yml
  docker/dev.Dockdrfile
Labels: docker

fix
  .gitpod.yml
  docker/dev.Dockerfile
Labels: docker

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

f
  .gitpod.yml
  docker/dev.Dockerfile
Labels: docker

fix indent
  .gitpod.yml
Labels: none

use uptodate image
  docker/dev.Dockerfile
Labels: docker

sudo
  docker/dev.Dockerfile
Labels: docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
