Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Adds actions support for multi-version docs
  .github/workflows/docs.yml
Labels: maintenance

Adds upload of multiversion directory structure
  .github/workflows/docs.yml
Labels: maintenance

Modifies conf.py for multi version docs
  doc/source/conf.py
Labels: documentation

Adds artifact download
  .github/workflows/docs.yml
Labels: maintenance

Apply suggestions from code review
  .github/workflows/docs.yml
Labels: maintenance

Builds multiversion in another folder
  .github/workflows/docs.yml
Labels: maintenance

Add check_switcher flag
  doc/source/conf.py
Labels: documentation

Adds deploy dev documentation.
  .github/workflows/docs.yml
Labels: maintenance

Changes to develop actions for tar/untar support
  .github/workflows/docs.yml
Labels: maintenance

Test with URL without CNAME
  doc/source/conf.py
Labels: documentation

Ignores version.json link
  doc/source/conf.py
Labels: documentation

Update .github/workflows/docs.yml
  .github/workflows/docs.yml
Labels: maintenance

Removes previous docs folder
  .github/workflows/docs.yml
Labels: maintenance

Solves format issues
  .github/workflows/docs.yml
Labels: maintenance

Move CNAME variable with other project variables.
  doc/source/conf.py
Labels: documentation

Updates action and deploy page
  .github/workflows/docs.yml
Labels: maintenance

Fix by black
  doc/source/conf.py
Labels: documentation

clean up texture
  pyvista/core/__init__.py
  pyvista/core/filters/uniform_grid.py
  pyvista/core/objects.py
  pyvista/core/texture.py
  tests/conftest.py
  tests/plotting/image_cache/plot_cubemap_alone.png
  tests/plotting/image_cache/plot_texture_alone.png
  tests/plotting/image_cache/plot_texture_flip_x.png
  tests/plotting/image_cache/plot_texture_flip_y.png
  tests/plotting/test_plotting.py
  tests/test_objects.py
  tests/test_texture.py
Labels: none

add interpolation
  pyvista/core/texture.py
Labels: none

fix tests
  pyvista/utilities/fileio.py
  tests/plotting/image_cache/plot_texture_alone.png
  tests/plotting/image_cache/plot_texture_flip_x.png
  tests/plotting/image_cache/plot_texture_flip_y.png
Labels: none

Update tests/test_scraper.py
  tests/test_scraper.py
Labels: none

Update pyvista/utilities/sphinx_gallery.py
  pyvista/utilities/sphinx_gallery.py
Labels: none

add test
  tests/plotting/test_plotting.py
Labels: none

add wrap
  pyvista/core/texture.py
  tests/plotting/test_plotting.py
  tests/test_texture.py
Labels: none

improve testing
  pyvista/core/texture.py
  tests/test_texture.py
Labels: none

add rotation
  pyvista/core/filters/uniform_grid.py
  pyvista/core/texture.py
  tests/conftest.py
  tests/test_texture.py
Labels: none

change install order
  .github/workflows/integration-tests.yml
Labels: maintenance

Update integration-tests.yml
  .github/workflows/integration-tests.yml
Labels: maintenance

fix cov; use main
  .github/workflows/integration-tests.yml
  pyvista/plotting/plotting.py
Labels: maintenance

fix testing
  pyvista/core/texture.py
  tests/plotting/test_plotting.py
  tests/test_texture.py
Labels: none

Change to new action
  .github/workflows/docs.yml
Labels: maintenance

Removes conditions
  .github/workflows/docs.yml
Labels: maintenance

improve coverage
  tests/test_plotter.py
Labels: none

Remove conditional
  .github/workflows/docs.yml
Labels: maintenance

skip <9.2.0
  tests/plotting/test_plotting.py
Labels: none

fix topo example
  examples/02-plot/topo-map.py
  pyvista/examples/downloads.py
Labels: documentation

Apply suggestions from code review
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/uniform_grid.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/picking.py
  pyvista/plotting/renderers.py
  pyvista/plotting/tools.py
  pyvista/utilities/arrays.py
Labels: none

docs update
  pyvista/core/composite.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/uniform_grid.py
  pyvista/core/pointset.py
  pyvista/plotting/_property.py
  pyvista/plotting/helpers.py
  pyvista/themes.py
Labels: none

Bump trame-vtk 2.4
  docker/requirements.txt
  environment.yml
  examples_trame/requirements.txt
  pyproject.toml
  pyvista/trame/jupyter.py
  requirements_docs.txt
  requirements_test.txt
Labels: maintenance, dependencies, docker

Move trame axis button
  pyvista/trame/ui.py
Labels: none
