Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Add support to modulate the tube filter's radius in absolute units (#3649)
  examples/00-load/create-spline.py
  pyvista/core/filters/poly_data.py
  tests/test_polydata.py
Labels: documentation

Fix the default n_points value in KochanekSpline.
  .pre-commit-config.yaml
  pyvista/utilities/parametric_objects.py
Labels: none

Apply suggestions from code review
  .pre-commit-config.yaml
Labels: none

Add interrogate to .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

Remove legacy numpy aliases removed in 1.24.0
  tests/test_grid.py
  tests/utilities/test_reader.py
Labels: none

Update test_parametric_geometry.py
  tests/test_parametric_geometry.py
Labels: none

Moves install of requirements after pyvista install
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Removes reinstalling of pytest-pyvista in docs
  .github/workflows/style_docstr.yml
Labels: maintenance

Adds importlib option to pytest
  .github/workflows/style_docstr.yml
Labels: maintenance

Fixes docstring actions
  .github/workflows/style_docstr.yml
Labels: maintenance

Solves PR discussions
  .github/workflows/testing-and-deployment.yml
  tests/conftest.py
  tests/plotting/test_plotting.py
Labels: maintenance

Remove legacy numpy aliases removed in 1.24.0 (#3659)
  tests/test_grid.py
  tests/utilities/test_reader.py
Labels: none

Moves comments to right place
  tests/plotting/test_plotting.py
Labels: none

Removes reinstallation of pytest pyvista
  .github/workflows/style_docstr.yml
Labels: maintenance

Reverts line breaks
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Change unresolved BasePlotter intersphinx refs to Plotter (#3642)
  examples/02-plot/multi-window.py
  examples/02-plot/scalar-bars.py
  examples/02-plot/volume.py
  pyvista/core/filters/poly_data.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
Labels: documentation

Adds volume wrapper
  pyvista/plotting/plotting.py
  pyvista/plotting/volume.py
  tests/plotting/test_volume.py
Labels: none

Apply spelling suggestions from code review
  tests/test_render_window_interactor.py
Labels: none

Add classmethod to read pvcc paraview
  pyvista/plotting/camera.py
Labels: none

Pass doctest
  pyvista/plotting/camera.py
Labels: none

Apply suggestions from code review
  .github/workflows/style_docstr.yml
Labels: maintenance

[create-pull-request] update local intersphinx
  doc/intersphinx/matplotlib-objects.inv
  doc/intersphinx/pandas-objects.inv
  doc/intersphinx/python-objects.inv
  doc/intersphinx/scipy-objects.inv
Labels: documentation

Updates gitignore
  .gitignore
Labels: none

Adapt project to pytest-pyvista plugin (#3579)
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  requirements_test.txt
  tests/conftest.py
  tests/plotting/test_plotting.py
Labels: maintenance, dependencies

Updates test command to pytest-pyvista plugin
  CONTRIBUTING.rst
Labels: none

Adds volume wrapper
  .gitignore
  pyvista/plotting/plotting.py
  pyvista/plotting/volume.py
  tests/plotting/test_volume.py
Labels: none

Adds final blank line to gitignore
  .gitignore
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Apply suggestions from code review
  pyvista/utilities/parametric_objects.py
Labels: none

Apply suggestions from code review
  pyvista/utilities/parametric_objects.py
Labels: none

Apply suggestions from code review
  .pre-commit-config.yaml
Labels: none

Apply suggestions from code review
  tests/test_parametric_geometry.py
Labels: none

Add BohemianDome parameter
  pyvista/utilities/parametric_objects.py
Labels: none

Updates test command to pytest-pyvista plugin (#3674)
  CONTRIBUTING.rst
Labels: none

Apply suggestions from code review
  pyvista/utilities/parametric_objects.py
Labels: none

Fix docstring of parametric object
  pyvista/utilities/parametric_objects.py
Labels: none

Fix test coverage
  tests/test_parametric_geometry.py
Labels: none

Adds axes_actor wrapper
  pyvista/plotting/actor.py
  pyvista/plotting/axes.py
  pyvista/plotting/axes_actor.py
Labels: none

Fix the docstring of the charts.py
  pyvista/plotting/charts.py
Labels: none

Fix docstring of demos.py
  pyvista/demos/demos.py
Labels: none
