Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Correct reference to time values (#2741)
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

add missing image cache png (#2765)
  tests/plotting/image_cache/export_vrml.png
Labels: none

Update information on the translation project (#2743)
  doc/index.rst
Labels: documentation

Apply suggestions from code review
  tests/test_pyvista_ndarray.py
Labels: none

implement complex dtype for pyvista_ndarray
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/examples/downloads.py
  pyvista/examples/examples.py
  pyvista/plotting/mapper.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/reader.py
  tests/plotting/image_cache/plot_complex_value.png
  tests/plotting/test_plotting.py
  tests/test_datasetattributes.py
Labels: none

Update pyvista/core/pyvista_ndarray.py
  pyvista/core/pyvista_ndarray.py
Labels: none

Update README.rst
  README.rst
Labels: none

Update app.py
  examples_flask/static_ex/app.py
Labels: documentation

Fix by isort
  examples_flask/static_ex/app.py
Labels: documentation

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Add fill arg to Polygon (#2767)
  doc/user-guide/vtk_to_pyvista.rst
  pyvista/utilities/geometric_objects.py
  tests/test_geometric_objects.py
Labels: documentation

remove complex and return float features
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/pyvista_ndarray.py
  pyvista/plotting/mapper.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/helpers.py
  pyvista/utilities/reader.py
  tests/plotting/test_plotting.py
  tests/test_datasetattributes.py
  tests/test_pyvista_ndarray.py
Labels: none

remove remaining complex/float changes
  pyvista/examples/downloads.py
  pyvista/examples/examples.py
  tests/plotting/image_cache/plot_complex_value.png
Labels: none

Update tests/test_objects.py
  tests/test_objects.py
Labels: none

Update pyvista/core/objects.py
  pyvista/core/objects.py
Labels: none

Delete codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: maintenance

Apply suggestions from code review
  README.rst
Labels: none

Apply suggestions from code review
  pyvista/plotting/mapper.py
  tests/test_datasetattributes.py
Labels: none

remove association always
  pyvista/core/datasetattributes.py
Labels: none

add scalar bar; add set_array type check
  pyvista/core/datasetattributes.py
  tests/plotting/image_cache/plot_complex_value.png
  tests/plotting/test_plotting.py
  tests/test_datasetattributes.py
Labels: none

Update tests/test_utilities.py
  tests/test_utilities.py
Labels: none

return only pyvista_ndarray
  pyvista/_vtk.py
  pyvista/utilities/helpers.py
Labels: none

fix test
  pyvista/utilities/helpers.py
  tests/test_utilities.py
Labels: none

Ignore complex value image in windows
  tests/plotting/test_plotting.py
Labels: none

optionally fail when image is missing
  .github/workflows/testing-and-deployment.yml
  tests/conftest.py
  tests/plotting/conftest.py
  tests/plotting/test_plotting.py
Labels: maintenance

use in linux tests instead of windows
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

remove failing test
  tests/plotting/test_plotting.py
Labels: none

skip or avoid creating files in doc build (#2748)
  examples/00-load/load-vrml.py
  pyvista/examples/downloads.py
  pyvista/plotting/plotting.py
  pyvista/themes.py
Labels: documentation

Fix the error running by CodeQL. (#2772)
  examples_flask/static_ex/app.py
Labels: documentation

Add extrude_trim filter (#2600)
  examples/01-filter/extrude-trim.py
  pyvista/_vtk.py
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
Labels: documentation

deep/shallow copy metadata
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/filters/__init__.py
  pyvista/core/filters/uniform_grid.py
  pyvista/core/grid.py
  tests/test_dataset.py
Labels: none

have consistent return types
  pyvista/core/datasetattributes.py
Labels: none

Add equality testing to metadata copy test
  tests/test_dataset.py
Labels: none

Update tests/test_dataset.py
  tests/test_dataset.py
Labels: none

add in tensors metadata copy
  pyvista/core/dataset.py
  tests/test_dataset.py
Labels: none

filters should deep copy metadata
  pyvista/core/filters/__init__.py
Labels: none

Fail when regression image is missing on CI (#2778)
  .github/workflows/testing-and-deployment.yml
  tests/conftest.py
  tests/plotting/conftest.py
  tests/plotting/test_plotting.py
Labels: maintenance

improve coverage
  pyvista/core/datasetattributes.py
  tests/test_datasetattributes.py
Labels: none

Return correct scalar type for pyvista_ndarray (#2770)
  pyvista/core/pyvista_ndarray.py
  tests/test_pyvista_ndarray.py
Labels: none

Improve download zip (#2727)
  .github/workflows/docs.yml
  .github/workflows/testing-and-deployment.yml
  doc/api/utilities/utilities.rst
  examples/00-load/read-parallel.py
  pyvista/__init__.py
  pyvista/examples/downloads.py
  pyvista/examples/examples.py
  pyvista/utilities/helpers.py
  tests/jupyter/test_ipyvtk.py
  tests/jupyter/test_static.py
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/test_downloads.py
  tests/test_examples.py
  tests/test_helpers.py
  tests/test_regression.py
  tests/test_render_window_interactor.py
  tests/test_scraper.py
  tests/test_tinypages.py
  tests/test_utilities.py
  tests/utilities/test_reader.py
Labels: documentation, maintenance
