Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

remove `preferences` from doc string for dilate erode
  pyvista/core/filters/uniform_grid.py
Labels: none

remove unused local variables
  tests/test_filters.py
Labels: none

fix dimension check for possible vectors
  pyvista/utilities/helpers.py
Labels: none

typing and docstring
  pyvista/utilities/helpers.py
Labels: none

updated add_bounds
  pyvista/plotting/renderer.py
Labels: none

Update renderer.py
  pyvista/plotting/renderer.py
Labels: none

test multiple with cell and point
  tests/test_helpers.py
Labels: none

use in glyph
  pyvista/core/filters/data_set.py
Labels: none

DOC: Updated wheel building instructions
  doc/extras/building_vtk.rst
Labels: documentation

Use more specific errors and catch in glyph with informative warnings.
  pyvista/core/filters/data_set.py
  pyvista/errors.py
  pyvista/utilities/helpers.py
  tests/test_filters.py
Labels: none

FIX: Bad path
  doc/extras/building_vtk.rst
Labels: documentation

use in warp_by_vector
  pyvista/core/filters/data_set.py
Labels: none

use in streamlines_evenly_spaced_2D
  pyvista/core/filters/data_set.py
Labels: none

set orient to False when promised
  pyvista/core/filters/data_set.py
Labels: none

Fixed docstring formatting and improved PEP8 adherence
  pyvista/plotting/renderer.py
Labels: none

Fix typos
  doc/conf.py
  examples/00-load/create-structured-surface.py
  examples/01-filter/decimate.py
  examples/02-plot/README.rst
  pyvista/core/dataset.py
  pyvista/examples/downloads.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/lights.py
  pyvista/plotting/plotting.py
  pyvista/plotting/scalar_bars.py
  pyvista/plotting/widgets.py
Labels: documentation

Fix typos (#2443)
  doc/conf.py
  examples/00-load/create-structured-surface.py
  examples/01-filter/decimate.py
  examples/02-plot/README.rst
  pyvista/core/dataset.py
  pyvista/examples/downloads.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/lights.py
  pyvista/plotting/plotting.py
  pyvista/plotting/scalar_bars.py
  pyvista/plotting/widgets.py
Labels: documentation

use specific errors in test and add same name test
  tests/test_helpers.py
Labels: none

Update pyvista/utilities/helpers.py
  pyvista/utilities/helpers.py
Labels: none

Apply suggestions from code review
  pyvista/utilities/helpers.py
Labels: none

Update docstring from review
  pyvista/utilities/helpers.py
Labels: none

Update Docker documentation
  doc/extras/docker.rst
Labels: documentation

distinguish between cell and point in error
  pyvista/utilities/helpers.py
Labels: none

DOC: Updated wheel building instructions (#2439)
  doc/extras/building_vtk.rst
Labels: documentation

improve documentation
  doc/api/core/index.rst
  doc/api/core/misc.rst
  examples/01-filter/gaussian-smoothing.py
  pyvista/core/common_data.py
  pyvista/core/filters/uniform_grid.py
  pyvista/core/imaging.py
Labels: documentation

change to notes section
  pyvista/core/filters/uniform_grid.py
Labels: none

Add github-actions's comment when not labels
  .github/workflows/label.yml
Labels: maintenance

Update .github/workflows/label.yml
  .github/workflows/label.yml
Labels: maintenance

Update Docker documentation (#2444)
  doc/extras/docker.rst
Labels: documentation

Update doc/api/core/misc.rst
  doc/api/core/misc.rst
Labels: documentation

show_bounds Update - Changed bounds_range -> to axes_range - Updated test/test_renderer.py - Fixed bounds arg incompatibility with tuples
  pyvista/plotting/renderer.py
  tests/test_renderer.py
Labels: none

Update pyvista/plotting/renderer.py
  pyvista/plotting/renderer.py
Labels: none

Update pyvista/plotting/renderer.py
  pyvista/plotting/renderer.py
Labels: none

Update pyvista/plotting/renderer.py
  pyvista/plotting/renderer.py
Labels: none

Update pyvista/plotting/renderer.py
  pyvista/plotting/renderer.py
Labels: none

Update tests/test_renderer.py
  tests/test_renderer.py
Labels: none

Feat/modify uniformgrid filters (#2432)
  doc/api/core/index.rst
  doc/api/core/misc.rst
  examples/01-filter/gaussian-smoothing.py
  pyvista/core/common_data.py
  pyvista/core/filters/uniform_grid.py
  pyvista/core/imaging.py
  tests/test_filters.py
Labels: documentation

add axes_ranges property to Plotter
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  tests/test_renderer.py
Labels: none

updated axes_ranges property
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none
