Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Replace SetTimeValue with UpdateTimeStep and add tests (#2485)
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: none

add additional kwargs to open_gif (#2484)
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

final cleanup
  pyvista/utilities/reader.py
Labels: none

reset directory and filename when setting filename and directory
  pyvista/utilities/reader.py
Labels: none

add DICOMReader (#2460)
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  doc/api/readers/index.rst
  doc/index.rst
  pyvista/demos/demos.py
  pyvista/examples/downloads.py
  pyvista/examples/examples.py
  pyvista/plotting/plotting.py
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
  tests/plotting/test_plotting.py
  tests/test_examples.py
  tests/utilities/test_reader.py
Labels: documentation, maintenance

Do not automatically set hidden line removal in document theme
  pyvista/themes.py
Labels: none

use in glyph
  pyvista/core/filters/data_set.py
Labels: none

allow notebook plotting in gallery
  pyvista/plotting/plotting.py
  pyvista/utilities/sphinx_gallery.py
Labels: none

Do not automatically set hidden line removal in document theme (#2488)
  pyvista/themes.py
Labels: none

do not use repr_html when not within notebook
  pyvista/plotting/plotting.py
Labels: none

avoid resetting cache for make_tables
  doc/make_tables.py
  examples/00-load/create-explicit-structured-grid.py
Labels: documentation

Use imageio intersphinx links
  pyvista/plotting/plotting.py
Labels: none

enable gc of widgets
  examples/00-load/create-geometric-objects.py
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/plotting.py
Labels: documentation

Fix imageio.get_writer() intersphinx link even better
  pyvista/plotting/plotting.py
Labels: none

continued work
  examples/00-load/create-explicit-structured-grid.py
  examples/00-load/create-geometric-objects.py
  examples/00-load/create-parametric-geometric-objects.py
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/plotting.py
Labels: documentation

fix singleSphereAnimation; add example
  pyvista/examples/downloads.py
Labels: none

add bmp reader
  pyvista/utilities/reader.py
Labels: none

add DEMReader
  pyvista/utilities/reader.py
Labels: none

add JPEGReader
  pyvista/utilities/reader.py
Labels: none

add MetaImageReader
  pyvista/utilities/reader.py
Labels: none

fix example for reading exodus file
  pyvista/utilities/fileio.py
Labels: none

fix whitespace
  pyvista/utilities/reader.py
Labels: none

add NRRD Reader
  pyvista/utilities/reader.py
Labels: none

add PNGReader
  pyvista/utilities/reader.py
Labels: none

fix singleSphereAnimation; add example (#2492)
  pyvista/examples/downloads.py
Labels: none

add pnm data and PNM Reader
  pyvista/examples/downloads.py
  pyvista/utilities/reader.py
Labels: none

add SLC Reader
  pyvista/utilities/reader.py
Labels: none

add TIFFReader
  pyvista/utilities/reader.py
Labels: none

Fix glyphs when orienting with cell data
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
Labels: none

Do point merging on the glyph source, not on the raw dataset
  pyvista/core/filters/data_set.py
Labels: none

Use old version of point merging, which works for all dataset types
  pyvista/core/filters/data_set.py
Labels: none

fix example for reading exodus file (#2495)
  pyvista/utilities/fileio.py
Labels: none

add HDR Reader
  pyvista/examples/downloads.py
  pyvista/utilities/reader.py
Labels: none

add PTS Reader
  pyvista/utilities/reader.py
Labels: none

add AVSucdReader
  pyvista/examples/downloads.py
  pyvista/utilities/reader.py
Labels: none

add HDF Reader
  pyvista/examples/downloads.py
  pyvista/utilities/reader.py
Labels: none

add gltf reader
  pyvista/utilities/reader.py
Labels: none

Add Fluent Reader
  pyvista/utilities/reader.py
Labels: none

add MFIX Reader
  pyvista/utilities/reader.py
Labels: none

add SegYReader
  pyvista/utilities/reader.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
