Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

add in mac image cache testing
  tests/plotting/image_cache/plot.png
  tests/plotting/test_plotting.py
Labels: none

add in windows cache checking
  tests/plotting/test_plotting.py
Labels: none

Apply suggestions from code review
  tests/plotting/test_plotting.py
Labels: none

test camera row linking
  tests/jupyter/test_pythreejs.py
Labels: none

Update pyvista/plotting/plotting.py
  pyvista/plotting/plotting.py
Labels: none

refactor: remove sentinel value
  tests/plotting/test_plotting.py
Labels: none

move ID tracking logic to compute_normals
  pyvista/core/filters/poly_data.py
  pyvista/plotting/_plotting.py
  tests/test_polydata.py
Labels: none

remove all traces of old array implementation
  pyvista/plotting/_plotting.py
Labels: none

use sphinx keep going flag
  .github/workflows/docs.yml
  doc/print_errors.py
Labels: documentation, maintenance

Update pyvista/core/filters/poly_data.py
  pyvista/core/filters/poly_data.py
Labels: none

Fix up docstrings
  pyvista/core/filters/poly_data.py
  pyvista/plotting/_plotting.py
Labels: none

Remove empty line between if and else
  pyvista/plotting/_plotting.py
Labels: none

Added documentation + edited example
  examples/99-advanced/openfoam-example.py
  pyvista/utilities/reader.py
Labels: documentation

No copy init for StructuredGrid and RectilinearGrid (#2698)
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/utilities/helpers.py
  pyvista/utilities/misc.py
  tests/test_create_no_copy.py
  tests/test_utilities.py
Labels: none

Set dimensions of StructuredGrid in test
  tests/test_create_no_copy.py
Labels: none

Fix up RectilinearGrid docstrings a bit
  pyvista/core/grid.py
Labels: none

Add import/export VRML (#2451)
  examples/00-load/load-vrml.py
  pyvista/examples/__init__.py
  pyvista/examples/vrml.py
  pyvista/plotting/plotting.py
  tests/example_files/Box.wrl
  tests/plotting/image_cache/import_vrml.png
  tests/plotting/test_plotting.py
  tests/test_examples.py
Labels: documentation

ignore region ID when outputting the largest region
  pyvista/core/filters/data_set.py
Labels: none

uncomment
  pyvista/core/filters/data_set.py
Labels: none

disable loading boundary patch for cgns example
  pyvista/examples/downloads.py
Labels: none

skip writing test json
  pyvista/themes.py
Labels: none

disable spherical harmonics when using cubemap textures
  pyvista/plotting/renderer.py
Labels: none

add example global split_edges to False
  pyvista/themes.py
Labels: none

[create-pull-request] update local intersphinx
  doc/intersphinx/imageio-objects.inv
  doc/intersphinx/matplotlib-objects.inv
  doc/intersphinx/numpy-objects.inv
  doc/intersphinx/python-objects.inv
  doc/intersphinx/scipy-objects.inv
Labels: documentation

Remove comments
  tests/test_create_no_copy.py
Labels: none

Use kwargs on RectilinearGrid init
  pyvista/core/grid.py
Labels: none

Use may_share_memory
  tests/test_create_no_copy.py
Labels: none

Update pyvista/plotting/renderer.py
  pyvista/plotting/renderer.py
Labels: none

Add image cache testing for Mac and Windows (#2716)
  tests/plotting/image_cache/plot.png
  tests/plotting/test_plotting.py
Labels: none

Use array_equal
  tests/test_create_no_copy.py
Labels: none

Fix coerce test with array_equal and may_share_memory
  tests/utilities/test_common.py
Labels: none

initial work refactoring zip
  pyvista/examples/downloads.py
  pyvista/utilities/helpers.py
Labels: none

refactor mostly done
  examples/00-load/read-parallel.py
  pyvista/examples/downloads.py
  tests/test_downloads.py
  tests/test_examples.py
  tests/utilities/test_reader.py
Labels: documentation

add in cache intergrity check
  pyvista/__init__.py
  pyvista/examples/downloads.py
  tests/test_examples.py
Labels: none

Fix use of a slice tuple for numpy 1.23
  pyvista/core/filters/structured_grid.py
Labels: none

add in cache integrity check
  pyvista/examples/downloads.py
  tests/plotting/image_cache/export_vrml.png
  tests/test_examples.py
Labels: none

add cubemap test
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/set_environment_texture_cubemap.png
  tests/plotting/test_plotting.py
Labels: none

Apply suggestions from code review
  pyvista/plotting/renderer.py
Labels: none

Update tests/plotting/test_plotting.py
  tests/plotting/test_plotting.py
Labels: none

Update tests/plotting/test_plotting.py
  tests/plotting/test_plotting.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
