Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

refactor structured grid init
  pyvista/core/pointset.py
  tests/test_grid.py
Labels: none

Corrected reference to time values.
  pyvista/utilities/reader.py
Labels: none

Fix shared array access on init (#2697)
  pyvista/core/dataset.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/utilities/common.py
  pyvista/utilities/helpers.py
  pyvista/utilities/misc.py
  tests/test_create_no_copy.py
  tests/test_grid.py
  tests/test_utilities.py
  tests/utilities/test_common.py
Labels: none

Improve PyPI link like numpy and pandas
  setup.py
Labels: none

Apply suggestions from code review
  setup.py
Labels: none

Apply suggestions from code review
  setup.py
Labels: none

Update pyvista/core/pointset.py
  pyvista/core/pointset.py
Labels: none

Update pyvista/core/pointset.py
  pyvista/core/pointset.py
Labels: none

Apply suggestions from code review
  setup.py
Labels: none

`PolyData.*_normals` properties use existing `Normals` if they exist (#2737)
  pyvista/core/pointset.py
  tests/test_polydata.py
Labels: none

Apply suggestions from code review
  examples/01-filter/image-fft-perlin-noise.py
  pyvista/core/filters/uniform_grid.py
Labels: documentation

Add warning tests of integer vectors (#2664)
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: none

make isort happy
  examples/01-filter/image-fft-perlin-noise.py
Labels: documentation

Add POpenFOAMReader (#2676)
  doc/api/readers/index.rst
  examples/99-advanced/openfoam-example.py
  pyvista/_vtk.py
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: documentation

Update information of translation project
  doc/index.rst
Labels: documentation

Apply suggestions from code review
  doc/index.rst
Labels: documentation

Apply suggestions from code review
  pyvista/core/filters/poly_data.py
Labels: none

Apply obvious changes from code review
  examples/01-filter/image-fft-perlin-noise.py
  examples/01-filter/image-fft.py
  pyvista/core/filters/uniform_grid.py
  pyvista/examples/downloads.py
Labels: documentation

Switch to using sphinx keep-going flag (#2719)
  .github/workflows/docs.yml
  doc/print_errors.py
  pyvista/themes.py
Labels: documentation, maintenance

Revert "add in warning for anti-aliasing when vtk is compiled with egl (#2694)"
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/utilities/misc.py
Labels: none

Add gallery building flag to environment variables
  doc/conf.py
Labels: documentation

don't worry about when building docs
  .github/workflows/docs.yml
  pyvista/plotting/renderer.py
Labels: maintenance

add test; define PYTHONWARNINGS within conf
  .github/workflows/docs.yml
  doc/conf.py
  tests/test_renderer.py
Labels: documentation, maintenance

Improve PyPI link like numpy and pandas (#2742)
  setup.py
Labels: none

improve docs of array inputs
  pyvista/core/pointset.py
Labels: none

improve doc of array initialization list
  pyvista/core/pointset.py
Labels: none

add periods for consistency
  pyvista/core/pointset.py
Labels: none

add periods for consistency
  pyvista/core/pointset.py
Labels: none

cleanup tests and init
  pyvista/core/pointset.py
  tests/test_create_no_copy.py
  tests/test_grid.py
Labels: none

Add gallery building flag to environment variables (#2745)
  doc/conf.py
Labels: documentation

Apply suggestions from code review
  pyvista/core/filters/uniform_grid.py
Labels: none

Minor docstring update from review
  pyvista/core/pointset.py
Labels: none

Minor fixes in FFT examples
  examples/01-filter/image-fft-perlin-noise.py
  examples/01-filter/image-fft.py
Labels: documentation

Fix Butterworth order formulae and indentation
  pyvista/core/filters/uniform_grid.py
Labels: none

Reimplement scalar scale in scale()
  pyvista/_typing.py
  pyvista/core/dataset.py
  tests/test_dataset.py
Labels: none

lots of excitement
  examples/01-filter/image-fft-perlin-noise.py
  examples/01-filter/sampling_functions_2d.py
  pyvista/core/dataobject.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/uniform_grid.py
  pyvista/core/imaging.py
  pyvista/core/pyvista_ndarray.py
  pyvista/utilities/helpers.py
  tests/conftest.py
  tests/test_datasetattributes.py
  tests/test_grid.py
  tests/test_pyvista_ndarray.py
Labels: documentation

Fix Platonic solids by handling scalars before transforming
  pyvista/utilities/geometric_objects.py
Labels: none

fix docstring
  examples/01-filter/image-fft.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/examples/downloads.py
  pyvista/examples/examples.py
  pyvista/utilities/reader.py
Labels: documentation

cleanup complex
  examples/01-filter/image-fft-perlin-noise.py
  examples/01-filter/image-fft.py
  pyvista/core/datasetattributes.py
  pyvista/core/pyvista_ndarray.py
  pyvista/plotting/mapper.py
  pyvista/utilities/geometric_objects.py
  tests/plotting/test_plotting.py
  tests/test_datasetattributes.py
Labels: documentation

add image cache file
  pyvista/plotting/mapper.py
  tests/plotting/image_cache/plot_complex_value.png
Labels: none
