Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

more doc explanation
  doc/api/core/composite.rst
Labels: documentation

fix docstring
  pyvista/plotting/_property.py
  pyvista/plotting/picking.py
  tests/plotting/conftest.py
  tests/test_property.py
  tests/test_scalar_bars.py
Labels: none

improve coverage
  pyvista/core/composite.py
  pyvista/plotting/_property.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/picking.py
  tests/plotting/image_cache/culling_frontface.png
  tests/plotting/image_cache/plot_composite_poly_component_nested_multiblock.png
  tests/plotting/image_cache/plot_composite_uint8.png
  tests/plotting/image_cache/property.png
  tests/plotting/test_plotting.py
  tests/test_composite_mapper.py
  tests/test_picking.py
  tests/test_property.py
Labels: none

Apply suggestions from code review
  requirements_docs.txt
Labels: dependencies

Apply suggestions from code review
  requirements_docs.txt
Labels: dependencies

Using < in Sphinx version to reduce breakages.
  requirements_docs.txt
Labels: dependencies

Fix docstring
  pyvista/utilities/reader.py
Labels: none

improve coverage and fix tests on multiple platforms
  pyvista/plotting/_property.py
  tests/plotting/image_cache/plot_composite_uint8.png
  tests/plotting/test_plotting.py
  tests/test_composite_mapper.py
  tests/test_property.py
Labels: none

Add PyvistaDeprecationWarning
  pyvista/examples/downloads.py
  tests/test_downloads.py
Labels: none

Apply suggestions from code review
  pyvista/examples/downloads.py
Labels: none

Fix argument
  pyvista/examples/downloads.py
Labels: none

Fix path
  tests/utilities/test_reader.py
Labels: none

add basic example
  examples/99-advanced/magnetic-fields.py
Labels: documentation

add missing image cache
  tests/plotting/image_cache/plot_composite_categories.png
  tests/plotting/image_cache/plot_composite_many_options.png
Labels: none

Fix docstring
  pyvista/examples/planets.py
Labels: none

Fix plotter expression
  pyvista/examples/planets.py
Labels: none

Apply suggestions from code review
  pyvista/examples/downloads.py
Labels: none

Apply suggestions from code review
  tests/utilities/test_reader.py
Labels: none

add park cubemap
  pyvista/examples/downloads.py
  tests/test_examples.py
Labels: none

add remove env texture
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/remove_environment_texture_cubemap.png
  tests/plotting/test_plotting.py
Labels: none

fix tests
  pyvista/plotting/_property.py
  tests/plotting/test_plotting.py
  tests/test_property.py
Labels: none

Apply suggestions from code review
  pyvista/examples/downloads.py
  pyvista/examples/planets.py
Labels: none

Fix path
  pyvista/examples/planets.py
  pyvista/utilities/reader.py
Labels: none

Apply suggestions from code review
  examples/99-advanced/planets.py
Labels: documentation

Fix path
  examples/99-advanced/planets.py
Labels: documentation

Apply suggestions from code review
  examples/99-advanced/planets.py
Labels: documentation

Fix path
  examples/99-advanced/planets.py
Labels: documentation

disable lighting to correctly verify
  tests/plotting/image_cache/remove_environment_texture_cubemap.png
  tests/plotting/test_plotting.py
Labels: none

Fix path
  examples/99-advanced/planets.py
Labels: documentation

Fix by pre-commit
  examples/99-advanced/planets.py
Labels: documentation

Update pyvista/examples/downloads.py
  pyvista/examples/downloads.py
Labels: none

Add docstring
  pyvista/examples/planets.py
Labels: none

add space cubemaps
  pyvista/examples/downloads.py
  tests/test_examples.py
Labels: none

Fix docstring
  pyvista/examples/downloads.py
  pyvista/examples/planets.py
Labels: none

Apply suggestions from code review
  requirements_docs.txt
Labels: dependencies

changed raise error string to f-string
  pyvista/ext/plot_directive.py
Labels: none

changed raise error expressions to f-string
  pyvista/utilities/cells.py
Labels: none

changed error strings to f-string
  pyvista/core/filters/structured_grid.py
Labels: none

changing error strings to f-strings
  pyvista/core/filters/structured_grid.py
Labels: none

resolves #2187
  pyvista/core/filters/structured_grid.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
