Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Fix documentation build main (#3799)
  pyvista/core/dataobject.py
  pyvista/plotting/plotting.py
Labels: none

Fix PointSet tests
  tests/plotting/test_widgets.py
Labels: none

pydocstyle with tomli and enforce numpy convention
  .pre-commit-config.yaml
  pyproject.toml
  pyvista/core/filters/data_set.py
  pyvista/plotting/export_vtkjs.py
  pyvista/utilities/reader.py
Labels: maintenance

Support single-cell Jupyter execution
  examples_trame/requirements.txt
  pyproject.toml
  pyvista/jupyter/__init__.py
  pyvista/trame/jupyter.py
  requirements_test.txt
Labels: maintenance, dependencies

Update environment.yml
  environment.yml
Labels: dependencies

Fix inverted add_mesh_clip_box
  pyvista/plotting/widgets.py
Labels: none

pydocstyle with tomli and enforce numpy convention (#3803)
  .pre-commit-config.yaml
  pyproject.toml
  pyvista/core/filters/data_set.py
  pyvista/plotting/export_vtkjs.py
  pyvista/utilities/reader.py
Labels: maintenance

Test MathText for conda CI (#3795)
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Redraw ChartMPL on Plotter render (#3731)
  pyvista/plotting/charts.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  tests/test_charts.py
Labels: none

add hydrogen orbital download
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: none

no cover
  pyvista/examples/downloads.py
Labels: none

Fix algorithm_to_mesh_handler to handle arbitrary ports
  pyvista/plotting/plotting.py
  pyvista/plotting/widgets.py
  pyvista/utilities/algorithms.py
Labels: none

Apply suggestions from code review
  examples/99-advanced/plotting-algorithms.py
  pyvista/plotting/plotting.py
  pyvista/utilities/algorithms.py
Labels: documentation

Update tests/test_helpers.py
  tests/test_helpers.py
Labels: none

Improve variable name in algorithm_to_mesh_handler
  pyvista/utilities/algorithms.py
Labels: none

Add PyVistaPipelineError
  pyvista/errors.py
  pyvista/utilities/algorithms.py
Labels: none

Simplify Chart2D interaction and update code. Add warning when toggling chart interaction with multiple subplots.
  pyvista/plotting/charts.py
  pyvista/plotting/render_window_interactor.py
  tests/test_charts.py
Labels: none

Improve ActiveScalarsAlgorithm docs
  pyvista/utilities/algorithms.py
Labels: none

Improve docstrings
  pyvista/utilities/algorithms.py
Labels: none

Improve algorithms imports
  pyvista/plotting/plotting.py
  pyvista/plotting/widgets.py
  pyvista/utilities/__init__.py
Labels: none

Clean up tests
  tests/plotting/test_plotting.py
  tests/plotting/test_widgets.py
Labels: none

Expand test_wrap_no_copy
  tests/test_helpers.py
Labels: none

Fix doc build encoding issue
  doc/make_external_gallery.py
  doc/make_tables.py
Labels: documentation

Apply suggestions from code review
  pyvista/utilities/algorithms.py
Labels: none

Update pyvista/utilities/algorithms.py
  pyvista/utilities/algorithms.py
Labels: none

Add versionchanged note to wrap
  pyvista/utilities/helpers.py
Labels: none

Add periods to docstrings
  pyvista/utilities/algorithms.py
Labels: none

Fix data type not supported errors
  pyvista/plotting/plotting.py
  pyvista/plotting/widgets.py
  tests/plotting/test_widgets.py
Labels: none

Remove todo note
  pyvista/plotting/plotting.py
Labels: none

Improve silhouette decimate parameter check
  pyvista/plotting/plotting.py
Labels: none

Update docstrings to include algorithm info for `mesh` argument
  pyvista/plotting/plotting.py
  pyvista/plotting/widgets.py
Labels: none

Update pyvista/plotting/widgets.py
  pyvista/plotting/widgets.py
Labels: none

Fix inline literal issue
  examples/99-advanced/plotting-algorithms.py
Labels: documentation

Improve silhouette decimate parameter check (#3817)
  pyvista/plotting/plotting.py
Labels: none

Fix doc build encoding issue (#3814)
  doc/make_external_gallery.py
  doc/make_tables.py
Labels: documentation

Use latest VTK for test coverage and doc build.
  .github/workflows/docs.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Remove type: ignore
  pyvista/plotting/mapper.py
Labels: none

Add volume mapper choice notes
  pyvista/plotting/plotting.py
Labels: none

Update pyvista/plotting/plotting.py
  pyvista/plotting/plotting.py
Labels: none

Update pyvista/examples/downloads.py
  pyvista/examples/downloads.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
