Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Apply suggestions from code review
  pyproject.toml
Labels: maintenance

Use a docstring length of 75 (#4129)
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/composite.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/filters/structured_grid.py
  pyvista/core/filters/uniform_grid.py
  pyvista/core/pointset.py
  pyvista/demos/demos.py
  pyvista/demos/logo.py
  pyvista/examples/downloads.py
  pyvista/examples/gltf.py
  pyvista/examples/planets.py
  pyvista/plotting/_property.py
  pyvista/plotting/actor.py
  pyvista/plotting/camera.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/helpers.py
  pyvista/plotting/lights.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/tools.py
  pyvista/plotting/volume_property.py
  pyvista/plotting/widgets.py
  pyvista/themes.py
  pyvista/utilities/common.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/helpers.py
  pyvista/utilities/parametric_objects.py
  pyvista/utilities/reader.py
  pyvista/utilities/transformations.py
  tests/check_doctest_names.py
Labels: none

Add example changing mapped scalars
  examples_trame/basic/mesh_scalars.py
Labels: none

Fix NumFOCUS affiliation badge
  README.rst
Labels: none

Add pydocstringformatter (#4125)
  .pre-commit-config.yaml
  pyvista/_version.py
  pyvista/core/dataobject.py
  pyvista/core/filters/uniform_grid.py
  pyvista/core/objects.py
  pyvista/core/pointset.py
  pyvista/ext/coverage.py
  pyvista/ext/plot_directive.py
  pyvista/plotting/actor_properties.py
  pyvista/plotting/axes_actor.py
  pyvista/plotting/helpers.py
  pyvista/plotting/plotting.py
  pyvista/plotting/scalar_bars.py
  pyvista/themes.py
  pyvista/utilities/errors.py
  pyvista/utilities/features.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/reader.py
Labels: none

Fix NumFOCUS affiliation badge (#4139)
  README.rst
Labels: none

Fix pyvista_banner_small.png path
  README.rst
Labels: none

Fix pyvista_banner_small.png path (#4140)
  README.rst
Labels: none

Fix paths
  .github/workflows/docs.yml
Labels: maintenance

comply with vale
  doc/.vale.ini
  doc/source/api/core/camera.rst
  doc/source/api/core/composite.rst
  doc/source/api/core/dataset.rst
  doc/source/api/core/filters.rst
  doc/source/api/core/grids.rst
  doc/source/api/core/helpers.rst
  doc/source/api/core/lights.rst
  doc/source/api/core/pointsets.rst
  doc/source/api/examples/index.rst
  doc/source/api/plotting/index.rst
  doc/source/api/plotting/plotting.rst
  doc/source/api/plotting/qt_plotting.rst
  doc/source/api/readers/index.rst
  doc/source/api/utilities/geometric.rst
  doc/source/api/utilities/parametric.rst
  doc/source/extras/building_vtk.rst
  doc/source/extras/docker.rst
  doc/source/extras/flask.rst
  doc/source/extras/index.rst
  doc/source/extras/pyinstaller.rst
  doc/source/getting-started/index.rst
  doc/source/getting-started/installation.rst
  doc/source/getting-started/why.rst
  doc/source/index.rst
  doc/source/user-guide/data_model.rst
  doc/source/user-guide/index.rst
  doc/source/user-guide/jupyter/index.rst
  doc/source/user-guide/jupyter/ipygany.rst
  doc/source/user-guide/jupyter/panel.rst
  doc/source/user-guide/jupyter/pythreejs.rst
  doc/source/user-guide/jupyter/trame.rst
  doc/source/user-guide/simple.rst
  doc/source/user-guide/vtk_to_pyvista.rst
  doc/source/user-guide/what-is-a-mesh.rst
  doc/styles/Google/Headings.yml
  doc/styles/Vocab/pyvista/accept.txt
Labels: documentation

fix root doc files
  CITATION.rst
  CONTRIBUTING.rst
  README.rst
  doc/styles/Google/Headings.yml
  doc/styles/Vocab/pyvista/accept.txt
  examples/00-load/README.rst
  examples/README.rst
Labels: documentation

Fix small typo
  pyvista/themes.py
Labels: none

additional misc edits
  doc/.vale.ini
  doc/source/make_external_gallery.py
  doc/styles/Google/Units.yml
  doc/styles/Vocab/pyvista/accept.txt
  docker/README.md
  pyvista/jupyter/notebook.py
  tests/tinypages/README.md
  tests/tinypages/index.rst
  tests/tinypages/some_plots.rst
Labels: documentation, docker

Update pyvista_ndarray.py
  pyvista/core/pyvista_ndarray.py
Labels: none

Remove deprecated example
  pyvista/core/dataset.py
Labels: none

Adds tests on rectangle factory
  tests/test_geometric_objects.py
Labels: none

Do not suppose points is a list. Instead ensure it is a numpy array of length 4
  pyvista/utilities/geometric_objects.py
Labels: none

Cleans up the detection of non orthogonal vector
  pyvista/utilities/geometric_objects.py
Labels: none

pre-commit
  tests/test_dataset.py
Labels: none

Update pyvista/utilities/geometric_objects.py
  pyvista/utilities/geometric_objects.py
Labels: none

pyvsita.wrap is not need for pyvista.PolyData
  pyvista/utilities/geometric_objects.py
Labels: none

Update pyvista/utilities/geometric_objects.py
  pyvista/utilities/geometric_objects.py
Labels: none

Add example changing mapped scalars (#4138)
  examples_trame/basic/mesh_scalars.py
Labels: none

Update pyvista/utilities/geometric_objects.py
  pyvista/utilities/geometric_objects.py
Labels: none

Makes the simple example description more precise
  pyvista/utilities/geometric_objects.py
Labels: none

Fix a small typo (#4143)
  pyvista/core/pyvista_ndarray.py
  pyvista/themes.py
Labels: none

Delete .flake8
  .flake8
Labels: maintenance

[DEV] Takes into account code review
  pyvista/utilities/geometric_objects.py
Labels: none

Adds test on Quadrilateral function
  tests/test_geometric_objects.py
Labels: none

Update pyproject.toml
  pyproject.toml
Labels: maintenance

Fix error
  pyproject.toml
Labels: maintenance

Add select
  pyproject.toml
Labels: maintenance

Add fix ruff option
  .pre-commit-config.yaml
Labels: none

Add trame prefix support for JupyterHub services
  pyvista/themes.py
Labels: none

Add docs
  doc/source/user-guide/jupyter/trame.rst
Labels: documentation

update vale
  doc/.vale.ini
Labels: documentation

Reorder the docstring
  pyvista/utilities/geometric_objects.py
Labels: none

Apply suggestions from code review
  CONTRIBUTING.rst
  doc/source/user-guide/jupyter/pythreejs.rst
  doc/styles/Google/Headings.yml
  doc/styles/Vocab/pyvista/accept.txt
Labels: documentation

Fix add_mesh_box_clip event parsing
  pyvista/plotting/widgets.py
Labels: none

pragma: no cover
  pyvista/themes.py
Labels: none
