Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

skip or avoid creating files in doc build
  examples/00-load/load-vrml.py
  pyvista/examples/downloads.py
  pyvista/plotting/plotting.py
  pyvista/themes.py
Labels: documentation

fixture: noise --> noise_2d
  tests/conftest.py
  tests/test_grid.py
Labels: none

cast to float like matplotlib
  pyvista/plotting/mapper.py
  tests/plotting/test_plotting.py
Labels: none

improve example
  examples/01-filter/image-fft-perlin-noise.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
Labels: documentation

copy set
  pyvista/core/dataset.py
Labels: none

add header titles
  examples/01-filter/image-fft-perlin-noise.py
  examples/01-filter/image-fft.py
Labels: documentation

Apply suggestions from code review
  doc/index.rst
Labels: documentation

Apply suggestions from code review
  doc/index.rst
Labels: documentation

do not deep copy on assigning scalars
  pyvista/plotting/mapper.py
Labels: none

fix garbage collection
  pyvista/_vtk.py
  pyvista/core/datasetattributes.py
  pyvista/core/pyvista_ndarray.py
  pyvista/plotting/mapper.py
  pyvista/utilities/misc.py
  tests/plotting/test_collection.py
  tests/plotting/test_plotting.py
  tests/test_utilities.py
Labels: none

clean up collection test
  tests/plotting/test_collection.py
Labels: none

ensure any added arrays are removed
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  tests/test_plotter.py
Labels: none

add types
  pyvista/_vtk.py
Labels: none

fix docstring
  pyvista/utilities/misc.py
Labels: none

remove mention of _get_default_tempdir
  pyvista/examples/downloads.py
  pyvista/plotting/plotting.py
Labels: none

fix docstring
  pyvista/utilities/misc.py
Labels: none

fix type
  pyvista/core/pointset.py
Labels: none

add raises in test
  tests/utilities/test_reader.py
Labels: none

improve array handling
  pyvista/plotting/plotting.py
  tests/test_plotter.py
Labels: none

cover invalid type raises
  tests/test_objects.py
Labels: none

add missing image cache png
  tests/plotting/image_cache/export_vrml.png
Labels: none

remove image from cache
  tests/plotting/image_cache/export_vrml.png
Labels: none

Update doc/index.rst
  doc/index.rst
Labels: documentation

preserve directory structure
  pyvista/examples/downloads.py
  tests/test_examples.py
Labels: none

do not permit download and read for zip
  pyvista/examples/downloads.py
Labels: none

split up cubemap implementation
  pyvista/utilities/helpers.py
  tests/jupyter/test_ipyvtk.py
  tests/jupyter/test_static.py
  tests/plotting/test_plotting.py
  tests/test_helpers.py
  tests/test_regression.py
  tests/test_render_window_interactor.py
  tests/test_scraper.py
  tests/test_tinypages.py
  tests/test_utilities.py
Labels: none

Add generate_polygon arg to Polygon
  doc/user-guide/vtk_to_pyvista.rst
  pyvista/utilities/geometric_objects.py
  tests/test_geometric_objects.py
Labels: documentation

Apply suggestions from code review
  tests/test_geometric_objects.py
Labels: none

Apply suggestions from code review
  pyvista/utilities/geometric_objects.py
  tests/test_geometric_objects.py
Labels: none

Apply suggestions from code review
  pyvista/utilities/geometric_objects.py
Labels: none

Rename shallow copy, fix some typos
  pyvista/utilities/misc.py
  tests/plotting/test_collection.py
  tests/test_utilities.py
Labels: none

add in helpers to docs; rm unused parm
  doc/api/utilities/utilities.rst
  pyvista/utilities/helpers.py
Labels: documentation

Apply suggestions from code review
  pyvista/core/datasetattributes.py
  tests/test_utilities.py
Labels: none

cleanup based on suggestions
  pyvista/core/datasetattributes.py
  pyvista/plotting/mapper.py
  pyvista/utilities/misc.py
  tests/test_utilities.py
Labels: none

always return pyvista_ndarray
  pyvista/core/dataset.py
  pyvista/utilities/helpers.py
  tests/plotting/test_plotting.py
Labels: none

fix return types
  pyvista/core/pyvista_ndarray.py
  tests/test_pyvista_ndarray.py
Labels: none

override __array_wrap__
  pyvista/core/pyvista_ndarray.py
  tests/test_pyvista_ndarray.py
Labels: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: maintenance

improve example
  examples/01-filter/extrude-trim.py
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
Labels: documentation

Refactor StructuredGrid init (#2740)
  pyvista/_typing.py
  pyvista/core/dataset.py
  pyvista/core/pointset.py
  pyvista/utilities/geometric_objects.py
  tests/test_create_no_copy.py
  tests/test_dataset.py
  tests/test_grid.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
