Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Update information on the translation project (#2743)
  doc/index.rst
Labels: documentation

skip or avoid creating files in doc build (#2748)
  examples/00-load/load-vrml.py
  pyvista/examples/downloads.py
  pyvista/plotting/plotting.py
  pyvista/themes.py
Labels: documentation

add missing image cache png (#2765)
  tests/plotting/image_cache/export_vrml.png
Labels: none

Add extrude_trim filter (#2600)
  examples/01-filter/extrude-trim.py
  pyvista/_vtk.py
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
Labels: documentation

fix docstring return types
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
Labels: none

Fail when regression image is missing on CI (#2778)
  .github/workflows/testing-and-deployment.yml
  tests/conftest.py
  tests/plotting/conftest.py
  tests/plotting/test_plotting.py
Labels: maintenance

Return correct scalar type for pyvista_ndarray (#2770)
  pyvista/core/pyvista_ndarray.py
  tests/test_pyvista_ndarray.py
Labels: none

Fix the error running by CodeQL. (#2772)
  examples_flask/static_ex/app.py
Labels: documentation

Add fill arg to Polygon (#2767)
  doc/user-guide/vtk_to_pyvista.rst
  pyvista/utilities/geometric_objects.py
  tests/test_geometric_objects.py
Labels: documentation

bump cache version
  pyvista/examples/downloads.py
Labels: none

bump cache version
  pyvista/examples/downloads.py
Labels: none

allow zip in path
  pyvista/examples/downloads.py
Labels: none

deal with edge case
  pyvista/examples/downloads.py
Labels: none

fix parallel example
  examples/00-load/read-parallel.py
Labels: documentation

Fix some comment/docstring typos
  pyvista/examples/downloads.py
Labels: none

Fix zip retriever return type
  pyvista/examples/downloads.py
Labels: none

fix download_zip (#2787)
  examples/00-load/read-parallel.py
  pyvista/examples/downloads.py
Labels: documentation

cleanup docs
  pyvista/core/datasetattributes.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/helpers.py
Labels: none

remove code duplication
  pyvista/utilities/helpers.py
Labels: none

Minor improvements from code review
  pyvista/core/datasetattributes.py
Labels: none

add integrate_data
  examples/01-filter/integrate-data.py
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: documentation

add reference to example in download function
  pyvista/examples/downloads.py
Labels: none

fix reference; add reference in filter docstring
  pyvista/core/filters/data_set.py
  pyvista/examples/downloads.py
Labels: none

remove unintended parameter
  pyvista/core/filters/data_set.py
Labels: none

fix func reference in gallery example
  examples/01-filter/integrate-data.py
Labels: documentation

remove mention of integrating a volume in gallery example
  examples/01-filter/integrate-data.py
Labels: documentation

Add rotation_axis test
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
Labels: none

Add `rotation_axis` argument
  pyvista/core/filters/poly_data.py
Labels: none

Fix coverage
  tests/test_filters.py
Labels: none

Fix by black
  pyvista/core/filters/poly_data.py
Labels: none

have consistent return types (#2782)
  pyvista/core/datasetattributes.py
Labels: none

deep/shallow copy metadata (#2779)
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/filters/__init__.py
  pyvista/core/filters/uniform_grid.py
  pyvista/core/grid.py
  tests/test_dataset.py
Labels: none

Update pyvista/core/filters/data_set.py
  pyvista/core/filters/data_set.py
Labels: none

add basic volume integration
  examples/01-filter/integrate-data.py
Labels: documentation

Update pyvista/core/filters/data_set.py
  pyvista/core/filters/data_set.py
Labels: none

Add test for _association_* helper deep copying
  tests/test_dataset.py
Labels: none

mention underlying vtk filter
  pyvista/core/filters/data_set.py
Labels: none

Add warning
  pyvista/core/filters/poly_data.py
Labels: none

Deep copy bitarray and complex helper defaultdicts
  pyvista/core/dataset.py
Labels: none

Apply suggestions from code review
  pyvista/core/filters/poly_data.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
