Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

py38
  docker/dev.Dockerfile
Labels: docker

requirements fix
  .gitpod.yml
Labels: none

pre-commit
  .gitpod.yml
Labels: none

install hooks
  .gitpod.yml
Labels: none

Check for triangulatedness in subdivision filters
  pyvista/core/filters/poly_data.py
Labels: none

Add triangulatedness check for decimation, elaborate error
  pyvista/core/filters/poly_data.py
Labels: none

use gitpod in name
  .gitpod.yml
  docker/dev-gitpod.Dockerfile
Labels: docker

remove boilerplate
  .gitpod.yml
Labels: none

add requirements_docs.txt
  .gitpod.yml
Labels: none

Add tests for triangle errors
  tests/test_filters.py
  tests/test_polydata.py
Labels: none

Update information of release (#2911)
  CONTRIBUTING.rst
Labels: none

init add composite feat
  pyvista/_vtk.py
  pyvista/plotting/_property.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/plotting.py
  tests/conftest.py
  tests/test_composite_mapper.py
Labels: none

Update test_reader.py
  tests/utilities/test_reader.py
Labels: none

black
  pyvista/utilities/common.py
Labels: none

raise when vtk returns -1
  pyvista/core/dataset.py
Labels: none

Update pyvista/core/filters/poly_data.py
  pyvista/core/filters/poly_data.py
Labels: none

continued progress adding composite
  pyvista/plotting/_property.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/plotting.py
  tests/test_composite_mapper.py
Labels: none

don't cover multi-trace
  pyvista/core/filters/poly_data.py
Labels: none

add composite plotter
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/helpers.py
  pyvista/plotting/plotting.py
  pyvista/utilities/misc.py
  tests/conftest.py
  tests/plotting/conftest.py
  tests/plotting/image_cache/plot_composite_poly_no_scalars.png
  tests/plotting/image_cache/plot_composite_poly_scalars.png
  tests/plotting/test_plotting.py
  tests/test_composite.py
  tests/test_composite_mapper.py
Labels: none

add composite picker
  pyvista/core/filters/composite.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  tests/plotting/image_cache/multi_block_plot.png
  tests/plotting/test_plotting.py
  tests/test_picking.py
Labels: none

add in aliases
  pyvista/plotting/plotting.py
Labels: none

Only redraw ChartMPL when geometry changed
  pyvista/plotting/charts.py
Labels: none

account for edge case
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  tests/conftest.py
  tests/plotting/image_cache/plot_composite_poly_scalars.png
  tests/plotting/test_plotting.py
  tests/test_composite.py
  tests/test_composite_mapper.py
Labels: none

Fix axis memory leak
  examples/02-plot/chart_overlays.py
  pyvista/plotting/charts.py
Labels: documentation

add more to dockerfile
  .gitpod.yml
  docker/dev-gitpod.Dockerfile
Labels: docker

reinstall and pre-commit install in init
  .gitpod.yml
  docker/dev-gitpod.Dockerfile
Labels: docker

add editable install
  docker/dev-gitpod.Dockerfile
Labels: docker

dont editable install
  docker/dev-gitpod.Dockerfile
Labels: docker

cleanup init
  .gitpod.yml
Labels: none

Whitespace
  docker/dev-gitpod.Dockerfile
Labels: docker

Add setup and teardown functionality to plot_directive (#2907)
  doc/conf.py
  doc/extras/plot_directive.rst
  pyvista/ext/plot_directive.py
  tests/tinypages/conf.py
Labels: documentation

Fix all-triangles checking for polyfilters (#2934)
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
  tests/test_polydata.py
Labels: none

add in component norm and complex scalars for composite plotting
  pyvista/core/composite.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/uniform_grid.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/plot_composite_poly_scalars_cell.png
  tests/plotting/test_plotting.py
  tests/test_composite.py
Labels: none

Only redraw ChartMPL when geometry changed (#2943)
  pyvista/plotting/charts.py
Labels: none

fix set_active_scalars
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/uniform_grid.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/scalar_bars.py
  tests/conftest.py
  tests/plotting/test_plotting.py
  tests/test_composite.py
  tests/test_composite_mapper.py
  tests/test_datasetattributes.py
  tests/test_scalar_bars.py
Labels: none

enable setting from none scalars
  examples/01-filter/slicing.py
  pyvista/core/composite.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/plotting.py
Labels: documentation

reactivate old scalars
  pyvista/plotting/composite_mapper.py
Labels: none

fix consistent active scalar recur
  pyvista/core/composite.py
Labels: none

add missing image cache
  tests/plotting/image_cache/plot_composite_poly_complex.png
  tests/plotting/image_cache/plot_composite_poly_component_norm.png
  tests/plotting/image_cache/plot_composite_poly_component_single.png
Labels: none

Check for sane rng in contour filter
  pyvista/core/filters/data_set.py
Labels: none
