Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Add pyvista/examples/planets.py
  pyvista/examples/planets.py
Labels: none

Add planets
  doc/api/examples/index.rst
Labels: documentation

Apply suggestions from code review
  pyvista/examples/planets.py
Labels: none

Apply suggestions from code review
  examples/00-load/create-pixel-art.py
Labels: documentation

add example
  pyvista/plotting/plotting.py
  pyvista/plotting/render_passes.py
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/blurring.png
  tests/plotting/image_cache/depth_of_field.png
  tests/plotting/image_cache/opacity_by_array_old.png
  tests/plotting/test_plotting.py
  tests/test_plotter.py
  tests/test_render_pass.py
Labels: none

actually add example
  examples/02-plot/depth_of_field.py
Labels: documentation

Update pyvista/examples/downloads.py
  pyvista/examples/downloads.py
Labels: none

Fix texture docstring
  pyvista/plotting/plotting.py
Labels: none

Update poly_data.py
  pyvista/core/filters/poly_data.py
Labels: none

Update docstring of export_obj to correctly indicate it returns nothing.
  pyvista/plotting/plotting.py
Labels: none

Removing docstring and return statement
  pyvista/plotting/plotting.py
Labels: none

Fix texture docstring (#2996)
  pyvista/plotting/plotting.py
Labels: none

improve anti-aliasing
  examples/02-plot/depth_of_field.py
  pyvista/_vtk.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_passes.py
  pyvista/plotting/renderer.py
Labels: documentation

Fixed docstring explanation for curvature function (#2997)
  pyvista/core/filters/poly_data.py
Labels: none

Specify in CONTRIBUTING.rst use of NumPy docstrings
  CONTRIBUTING.rst
Labels: none

Adapt algorithms to use Set*() instead of On() Off() when conditionals used
  pyvista/core/filters/data_set.py
  pyvista/core/filters/uniform_grid.py
  pyvista/plotting/renderer.py
  pyvista/plotting/scalar_bars.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/reader.py
Labels: none

Add example Plotter.remove_legend()
  pyvista/plotting/plotting.py
Labels: none

Apply suggestions from code review
  pyvista/core/filters/uniform_grid.py
  pyvista/plotting/renderer.py
  pyvista/plotting/scalar_bars.py
Labels: none

Pre-commit check
  pyvista/plotting/renderer.py
Labels: none

add ssaa
  pyvista/plotting/render_passes.py
  pyvista/plotting/renderer.py
  tests/plotting/test_plotting.py
Labels: none

Solving existing issue from applying batch suggestion
  pyvista/plotting/scalar_bars.py
Labels: none

add ssaa pass image_cache
  pyvista/plotting/render_passes.py
  tests/plotting/image_cache/ssaa_pass.png
Labels: none

Apply suggestions from code review
  pyvista/plotting/renderer.py
Labels: none

Add export object test
  tests/plotting/test_plotting.py
Labels: none

Pre-commit hooks
  tests/plotting/test_plotting.py
Labels: none

add anti-aliasing example
  examples/02-plot/anti-aliasing.py
  pyvista/plotting/plotting.py
  pyvista/themes.py
  tests/test_theme.py
Labels: documentation

fix doc build
  doc/api/core/grids.rst
  doc/api/core/pointsets.rst
  doc/getting-started/why.rst
  doc/index.rst
  doc/user-guide/index.rst
  doc/user-guide/jupyter/index.rst
  doc/user-guide/jupyter/pythreejs.rst
  doc/user-guide/simple.rst
  doc/user-guide/vtk_to_pyvista.rst
  doc/user-guide/what-is-a-mesh.rst
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/themes.py
Labels: documentation

remove test for invalid plot
  tests/plotting/test_plotting.py
Labels: none

add blurring example
  examples/02-plot/blurring.py
  examples/02-plot/depth_of_field.py
  pyvista/plotting/renderer.py
Labels: documentation

merge upstream
  pyvista/plotting/render_passes.py
  pyvista/themes.py
  tests/plotting/image_cache/many_multi_pass.png
  tests/plotting/image_cache/opacity_by_array_old.png
  tests/plotting/test_plotting.py
  tests/test_plotter.py
  tests/test_render_pass.py
  tests/test_theme.py
Labels: none

Use Set method insted of On and Off method (#3001)
  pyvista/core/filters/data_set.py
  pyvista/core/filters/uniform_grid.py
  pyvista/plotting/renderer.py
  pyvista/plotting/scalar_bars.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/reader.py
Labels: none

Remove return docstring in export_obj()
  pyvista/plotting/plotting.py
Labels: none

Fix download_stars_png to download_stars_jpg
  pyvista/examples/planets.py
Labels: none

fix path of obj writer
  pyvista/_vtk.py
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

Update export_obj() docstring as returns nothing.
  pyvista/plotting/plotting.py
Labels: none

skip flaky test > 8.2
  tests/plotting/test_plotting.py
Labels: none

Update pyvista/plotting/charts.py
  pyvista/plotting/charts.py
Labels: none

Update .github/workflows/docs.yml
  .github/workflows/docs.yml
Labels: maintenance

Update .github/workflows/docs.yml
  .github/workflows/docs.yml
Labels: maintenance

fix docstring; fix 8.1.2 support
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none
