Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

finalize cards
  doc/_static/cards.css
  doc/api/index.rst
  doc/conf.py
  doc/getting-started/index.rst
  doc/getting-started/installation.rst
  doc/make_external_gallery.py
  requirements_docs.txt
Labels: documentation, dependencies

add use all points to the extract edges filter
  doc/_templates/sidebar-nav-bs.html
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: documentation

add sidebar back in
  doc/_templates/sidebar-nav-bs.html
Labels: documentation

Delete sidebar-nav-bs.html
  doc/_templates/sidebar-nav-bs.html
Labels: documentation

Update tests/test_filters.py
  tests/test_filters.py
Labels: none

rename 'pass_cell_arrays' to 'pass_cell_data'
  pyvista/core/filters/data_set.py
Labels: none

rename 'pass_cell_arrays' and 'pass_point_arrays' in other methods
  pyvista/core/filters/data_set.py
Labels: none

Add actors property
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
Labels: none

Add pooch
  environment.yml
Labels: dependencies

include warnings
  pyvista/core/filters/data_set.py
Labels: none

include warnings in cell_data_to_point_data and point_data_to_cell_data
  pyvista/core/filters/data_set.py
Labels: none

Revert "include warnings in cell_data_to_point_data and point_data_to_cell_data"
  pyvista/core/filters/data_set.py
Labels: none

Revert "include warnings"
  pyvista/core/filters/data_set.py
Labels: none

Improve PointSet class testing (#3395)
  tests/test_pointset.py
Labels: none

Minor cleanup of lookup table opacity (#3402)
  pyvista/plotting/lookup_table.py
  pyvista/plotting/tools.py
  tests/plotting/test_plotting.py
  tests/test_lookup_table.py
  tests/test_utilities.py
Labels: none

Migrating from sphinx-panels to sphinx-design (#3159)
  doc/_static/cards.css
  doc/api/core/index.rst
  doc/api/index.rst
  doc/api/plotting/index.rst
  doc/api/utilities/index.rst
  doc/conf.py
  doc/getting-started/index.rst
  doc/getting-started/installation.rst
  doc/getting-started/why.rst
  doc/images/user-generated/joss.png
  doc/make_external_gallery.py
  requirements_docs.txt
Labels: documentation, dependencies

Delete sidebar-nav-bs.html (#3410)
  doc/_templates/sidebar-nav-bs.html
Labels: documentation

Add force_float test (pyvista#3333) (#3396)
  tests/test_helpers.py
Labels: none

Apply suggestions from code review
  pyvista/core/filters/data_set.py
Labels: none

enable PyVistaFutureWarning to pass_cell_arrays and pass_point_arrays
  pyvista/core/filters/data_set.py
Labels: none

fix negative issue for view_*
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/view_xyz[True-xy].png
  tests/plotting/image_cache/view_xyz[True-xz].png
  tests/plotting/image_cache/view_xyz[True-yx].png
  tests/plotting/image_cache/view_xyz[True-yz].png
  tests/plotting/image_cache/view_xyz[True-zx].png
  tests/plotting/image_cache/view_xyz[True-zy].png
Labels: none

move view_vectors in helpers and fix circular import
  pyvista/plotting/_utilities.py
  pyvista/plotting/camera.py
  pyvista/plotting/helpers.py
  pyvista/plotting/renderer.py
Labels: none

Add local view example
  examples_trame/local_view.py
  pyvista/trame/__init__.py
Labels: none

Cleanup
  examples_trame/local_view.py
Labels: none

use objects center as focal point, and offset by 1
  pyvista/plotting/camera.py
Labels: none

Exclude point clouds, check early
  pyvista/utilities/features.py
Labels: none

Update tests, avoid point cloud inputs
  tests/test_utilities.py
Labels: none

Spice up voxelization test grid types
  tests/test_utilities.py
Labels: none

Update voxelize() doctest
  pyvista/utilities/features.py
Labels: none

Remove no-op __init__s from mappers
  pyvista/plotting/mapper.py
Labels: none

inprog
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/structured_grid.py
  pyvista/core/grid.py
  pyvista/core/objects.py
  pyvista/core/pointset.py
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/mapper.py
  pyvista/utilities/helpers.py
  pyvista/utilities/reader.py
  tests/plotting/test_plotting.py
  tests/test_datasetattributes.py
  tests/test_filters.py
  tests/test_grid.py
  tests/utilities/test_reader.py
Labels: none

Fix format of gallery
  examples/99-advanced/add-example.py
Labels: documentation

Added to create_axes_marker and deprecated marker_args
  doc/api/plotting/conv_func.rst
  pyvista/plotting/renderer.py
Labels: documentation

simplify absolute and dot products
  pyvista/plotting/camera.py
Labels: none

move test_tight_direction to be near other tight_* tests
  tests/plotting/test_plotting.py
Labels: none

test for multiple objects when using tight
  tests/plotting/image_cache/tight_multiple_objects.png
  tests/plotting/test_plotting.py
Labels: none

Apply suggestions from code review: Comment clarifications
  pyvista/plotting/camera.py
Labels: none

Use parallel projection in docstring in tight
  pyvista/plotting/camera.py
Labels: none

add tests specifically for view_vectors
  tests/plotting/test_helpers.py
Labels: none

fix in a test script
  tests/plotting/test_plotting.py
Labels: none
