Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Apply suggestions from code review
  doc/user-guide/jupyter/panel.rst
Labels: documentation

Update panel.rst
  doc/user-guide/jupyter/panel.rst
Labels: documentation

Apply suggestions from code review
  doc/user-guide/jupyter/panel.rst
Labels: documentation

Remove rgb
  examples/99-advanced/planets.py
Labels: documentation

Apply suggestions from code review
  doc/user-guide/jupyter/panel.rst
  examples/99-advanced/planets.py
  pyvista/examples/planets.py
Labels: documentation

Fix by pre-commit
  examples/99-advanced/planets.py
Labels: documentation

cleanup
  examples/99-advanced/planets.py
  pyvista/examples/downloads.py
  pyvista/examples/planets.py
  pyvista/utilities/reader.py
Labels: documentation

update due to upstream location changes
  pyvista/examples/planets.py
  tests/examples/test_examples.py
Labels: none

Apply suggestions from code review
  CONTRIBUTING.rst
  doc/api/examples/index.rst
Labels: documentation

implement suggestions
  CONTRIBUTING.rst
  examples/99-advanced/add-example.py
  pyvista/examples/downloads.py
  pyvista/examples/gltf.py
  requirements_test.txt
  tests/examples/test_downloads.py
Labels: documentation, dependencies

fix tests
  pyvista/examples/downloads.py
  tests/utilities/test_reader.py
Labels: none

fix path name
  .github/workflows/docs.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Update examples/02-plot/lookup-table.py
  examples/02-plot/lookup-table.py
Labels: documentation

table_range --> scalar_range
  examples/02-plot/lookup-table.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
  tests/test_lookup_table.py
Labels: documentation

accept lookuptable in cmap
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

texture --> surface
  doc/user-guide/jupyter/panel.rst
Labels: documentation

DATA --> USER_DATA_PATH
  .github/workflows/style_docstr.yml
Labels: maintenance

allow the usage of lookuptable in volume mapping
  pyvista/plotting/lookup_table.py
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
  tests/test_lookup_table.py
Labels: none

fix example bug
  examples/02-plot/lookup-table.py
Labels: documentation

allow all parm with __init__
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/themes.py
  tests/plotting/image_cache/plotter_volume_lookup_table.png
  tests/test_lookup_table.py
  tests/test_theme.py
Labels: none

patch edge case; fix theme docstring
  pyvista/plotting/charts.py
  pyvista/themes.py
Labels: none

update to new tjs pts
  pyvista/jupyter/pv_pythreejs.py
Labels: none

add earth
  examples/99-advanced/planets.py
  pyvista/examples/planets.py
  tests/examples/test_examples.py
Labels: documentation

3D Celestial Bodies (planet3D) (#2994)
  doc/api/examples/index.rst
  doc/user-guide/jupyter/panel.rst
  examples/99-advanced/planets.py
  pyvista/examples/__init__.py
  pyvista/examples/downloads.py
  pyvista/examples/planets.py
  pyvista/utilities/reader.py
  tests/examples/test_downloads.py
  tests/examples/test_examples.py
  tests/utilities/test_reader.py
Labels: documentation

Fix planet download deprecation messages
  pyvista/examples/downloads.py
Labels: none

Fix planet download deprecation messages (#3372)
  pyvista/examples/downloads.py
Labels: none

Wrap the lookup table (#3336)
  doc/api/plotting/index.rst
  examples/02-plot/lookup-table.py
  pyvista/examples/downloads.py
  pyvista/plotting/__init__.py
  pyvista/plotting/_property.py
  pyvista/plotting/actor.py
  pyvista/plotting/charts.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/scalar_bars.py
  pyvista/plotting/widgets.py
  pyvista/themes.py
  pyvista/utilities/misc.py
  tests/examples/test_examples.py
  tests/plotting/image_cache/closing_and_mem_cleanup.png
  tests/plotting/image_cache/lookup_table.png
  tests/plotting/image_cache/plot_categories_int.png
  tests/plotting/image_cache/plot_categories_true.png
  tests/plotting/image_cache/plot_composite_lookup_table.png
  tests/plotting/image_cache/plotter_lookup_table.png
  tests/plotting/image_cache/plotter_volume_lookup_table.png
  tests/plotting/image_cache/volume_rendering_from_plotter.png
  tests/plotting/test_plotting.py
  tests/plotting/test_widgets.py
  tests/test_actor.py
  tests/test_composite_mapper.py
  tests/test_lookup_table.py
  tests/test_mapper.py
  tests/test_theme.py
Labels: documentation

Add streamlined support for trame
  examples_trame/colormaps.py
  examples_trame/requirements.txt
  pyvista/trame/__init__.py
Labels: none

inprog
  pyvista/plotting/lookup_table.py
Labels: none

refactor view_xyz, allow reuse of calculating view_vectors
  pyvista/plotting/_utilities.py
  pyvista/plotting/renderer.py
  tests/plotting/conftest.py
  tests/plotting/image_cache/view_xyz[False-xy].png
  tests/plotting/image_cache/view_xyz[False-xz].png
  tests/plotting/image_cache/view_xyz[False-yx].png
  tests/plotting/image_cache/view_xyz[False-yz].png
  tests/plotting/image_cache/view_xyz[False-zx].png
  tests/plotting/image_cache/view_xyz[False-zy].png
  tests/plotting/image_cache/view_xyz[True-xy].png
  tests/plotting/image_cache/view_xyz[True-xz].png
  tests/plotting/image_cache/view_xyz[True-yx].png
  tests/plotting/image_cache/view_xyz[True-yz].png
  tests/plotting/image_cache/view_xyz[True-zx].png
  tests/plotting/image_cache/view_xyz[True-zy].png
  tests/plotting/test_plotting.py
Labels: none

add opacity feat to lookup table
  pyvista/plotting/lookup_table.py
  pyvista/plotting/tools.py
  tests/test_lookup_table.py
Labels: none

add multiple views to tight
  pyvista/plotting/camera.py
  tests/plotting/image_cache/tight_direction[False-xy].png
  tests/plotting/image_cache/tight_direction[False-xz].png
  tests/plotting/image_cache/tight_direction[False-yx].png
  tests/plotting/image_cache/tight_direction[False-yz].png
  tests/plotting/image_cache/tight_direction[False-zx].png
  tests/plotting/image_cache/tight_direction[False-zy].png
  tests/plotting/image_cache/tight_direction[True-xy].png
  tests/plotting/image_cache/tight_direction[True-xz].png
  tests/plotting/image_cache/tight_direction[True-yx].png
  tests/plotting/image_cache/tight_direction[True-yz].png
  tests/plotting/image_cache/tight_direction[True-zx].png
  tests/plotting/image_cache/tight_direction[True-zy].png
  tests/plotting/test_plotting.py
Labels: none

move logic from add_volume to lookuptable
  pyvista/plotting/_plotting.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  tests/test_lookup_table.py
Labels: none

Typo fix
  pyvista/plotting/_utilities.py
Labels: none

use the pyvista start headless display action
  .github/workflows/style_docstr.yml
  pyvista/plotting/lookup_table.py
Labels: maintenance

remove mistake
  pyvista/plotting/lookup_table.py
Labels: none

fix naming to fix high variance image regression filtering
  tests/plotting/test_plotting.py
Labels: none

finalize getting started
  doc/getting-started/index.rst
  doc/getting-started/why.rst
  doc/images/user-generated/joss.png
  doc/make_external_gallery.py
  requirements_docs.txt
Labels: documentation, dependencies

fix gallery
  doc/make_external_gallery.py
Labels: documentation

Apply suggestions from code review
  pyvista/plotting/_utilities.py
  pyvista/plotting/camera.py
  pyvista/plotting/renderer.py
  tests/plotting/test_plotting.py
Labels: none
