Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

Fix warnings issue
  tests/jupyter/test_pythreejs.py
Labels: none

Improve state management
  pyvista/trame/jupyter.py
  pyvista/trame/ui.py
Labels: none

Fix the docstring of camera.py (#3688)
  pyvista/plotting/camera.py
Labels: none

handle verts in pythreejs (#3102)
  pyvista/jupyter/pv_pythreejs.py
  tests/jupyter/test_pythreejs.py
Labels: none

Use single trame server
  pyvista/trame/jupyter.py
Labels: none

Launch in set_jupyter_backend and capture IFrame
  pyvista/jupyter/__init__.py
  pyvista/trame/jupyter.py
Labels: none

Update pyvista/demos/demos.py
  pyvista/demos/demos.py
Labels: none

Reorder sections
  pyvista/utilities/geometric_objects.py
Labels: none

Fix the docstring of demos.py (#3683)
  pyvista/demos/demos.py
Labels: none

Fix Circle to remove singular edge (#3710)
  pyvista/utilities/geometric_objects.py
  tests/test_geometric_objects.py
Labels: none

update pre-commit hooks
  .pre-commit-config.yaml
Labels: none

Apply suggestions from code review
  .pre-commit-config.yaml
Labels: none

Minor changes
  pyvista/core/cell.py
  tests/test_cells.py
Labels: none

Fix two other closed geometric objects.
  pyvista/utilities/geometric_objects.py
Labels: none

Move docstrings in properties
  pyvista/core/cell.py
Labels: none

Reverts unnecessary doc change
  pyvista/plotting/axes.py
Labels: none

[HOTFIX] VTK 9.0.3 + NumPy<1.24 CI
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

[HOTFIX] VTK 9.0.3 + NumPy<1.24 CI (#3729)
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Re-reset key events in Plotter.__init__ (#3622)
  pyvista/plotting/plotting.py
Labels: none

Fix two other closed geometric objects. (#3723)
  pyvista/utilities/geometric_objects.py
Labels: none

Fix chart resize bug.
  examples/02-plot/chart_overlays.py
  pyvista/plotting/charts.py
Labels: documentation

Improve update performance.
  pyvista/plotting/plotting.py
Labels: none

Revert chart_overlays changes, modify docs.
  examples/02-plot/chart_overlays.py
  pyvista/plotting/charts.py
Labels: documentation

Add table CSS override
  doc/_static/tables.css
  doc/conf.py
Labels: documentation

Apply suggestions from code review
  pyvista/plotting/charts.py
Labels: none

Fix ThresholdBetween usage
  pyvista/core/filters/data_set.py
Labels: none

Hackily fix test_left_button_down test
  tests/plotting/test_plotting.py
Labels: none

Adds useful methods to wrapper
  pyvista/plotting/axes.py
  pyvista/plotting/axes_actor.py
Labels: none

Tests for axes_actor new methods
  tests/test_axes.py
Labels: none

Removes Union due to doc issues
  pyvista/plotting/axes_actor.py
Labels: none

Add ChartMPL update test
  tests/test_charts.py
Labels: none

Bump VTK version on conda tests
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Use latest conda
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Deprecate PlotterITK
  doc/getting-started/installation.rst
  doc/user-guide/jupyter/index.rst
  doc/user-guide/jupyter/ipygany.rst
  doc/user-guide/jupyter/itk_plotting.rst
  environment.yml
  pyvista/jupyter/__init__.py
  pyvista/jupyter/itkplotter.py
  pyvista/plotting/__init__.py
  pyvista/plotting/helpers.py
  pyvista/utilities/errors.py
  requirements_test.txt
  tests/jupyter/test_itk_plotting.py
Labels: documentation, dependencies

Remove remianing imports
  doc/conf.py
  pyvista/__init__.py
Labels: documentation

[hotfix] Use latest VTK version for conda tests (#3736)
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

Deprecate and remove PlotterITK (#3737)
  doc/conf.py
  doc/getting-started/installation.rst
  doc/user-guide/jupyter/index.rst
  doc/user-guide/jupyter/ipygany.rst
  doc/user-guide/jupyter/itk_plotting.rst
  environment.yml
  pyvista/__init__.py
  pyvista/jupyter/__init__.py
  pyvista/jupyter/itkplotter.py
  pyvista/plotting/__init__.py
  pyvista/plotting/helpers.py
  pyvista/utilities/errors.py
  requirements_test.txt
  tests/jupyter/test_itk_plotting.py
Labels: documentation, dependencies

Removes unnecessary returns
  pyvista/plotting/axes_actor.py
Labels: none

Adds missing test
  tests/test_axes.py
Labels: none

Fixes imports and removes bad parameters
  pyvista/plotting/actor.py
  pyvista/plotting/prop3D.py
  pyvista/plotting/volume.py
Labels: none

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore
