Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

Add warning in docstring
  pyvista/core/cell.py
Labels: none

Report number of scalars instead of total size in error
  pyvista/utilities/helpers.py
Labels: none

Update pointset.py
  pyvista/core/pointset.py
Labels: none

add examples datasets
  pyvista/examples/downloads.py
  tests/test_examples.py
Labels: none

fix examples
  pyvista/examples/downloads.py
  tests/test_examples.py
Labels: none

warn invalid texture dtype
  pyvista/utilities/helpers.py
  tests/test_helpers.py
Labels: none

Update pyvista/utilities/helpers.py
  pyvista/utilities/helpers.py
Labels: none

Apply suggestions from code review
  pyvista/core/filters/data_set.py
  pyvista/core/filters/rectilinear_grid.py
Labels: none

Use latest build env
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

add distance along spline example
  examples/00-load/create-spline.py
  pyvista/core/filters/poly_data.py
Labels: documentation

actually add example
  examples/02-plot/distance-along-spline.py
Labels: documentation

Update examples/02-plot/distance-along-spline.py
  examples/02-plot/distance-along-spline.py
Labels: documentation

Apply suggestions from code review
  examples/00-load/create-spline.py
Labels: documentation

Update pyvista/core/filters/data_set.py
  pyvista/core/filters/data_set.py
Labels: none

Update test_plotting.py
  tests/plotting/test_plotting.py
Labels: none

Distance along spline example (#3131)
  examples/00-load/create-spline.py
  examples/02-plot/distance-along-spline.py
  pyvista/core/filters/poly_data.py
Labels: documentation

Use latest build env (#3130)
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

warn invalid texture dtype (#3129)
  pyvista/utilities/helpers.py
  tests/test_helpers.py
Labels: none

Apply suggestions from code review
  pyvista/core/cell.py
Labels: none

Fix by pre-commit
  pyvista/core/cell.py
Labels: none

Replace vtk cell_type expression
  doc/api/core/pointsets.rst
  examples/00-load/create-unstructured-surface.py
  examples/01-filter/extract-surface.py
Labels: documentation

Use hard equality check in complex-real view comparison
  tests/test_datasetattributes.py
Labels: none

Flatten logic in DataObject._store_metadata a bit
  pyvista/core/dataobject.py
Labels: none

Test that multiple metadata-related arrays work too
  tests/test_dataobject.py
Labels: none

Report number of scalars instead of total size in error (#3124)
  pyvista/utilities/helpers.py
Labels: none

Update test_plotting.py (#3133)
  tests/plotting/test_plotting.py
Labels: none

Add tetra to the unstructured grid example (#3101)
  examples/00-load/create-unstructured-surface.py
Labels: documentation

misc doc edits
  pyvista/core/composite.py
Labels: none

separate --> separate_cells
  pyvista/core/filters/data_set.py
  pyvista/core/filters/rectilinear_grid.py
  tests/filters/test_rectilinear_grid.py
  tests/test_dataset.py
Labels: none

Add example datasets (#3127)
  pyvista/examples/downloads.py
  tests/test_examples.py
Labels: none

Update pyvista/jupyter/pv_pythreejs.py
  pyvista/jupyter/pv_pythreejs.py
Labels: none

Update tests/jupyter/test_pythreejs.py
  tests/jupyter/test_pythreejs.py
Labels: none

Refactor prop kwargs
  pyvista/plotting/plotting.py
Labels: none

Add backface property params to add_mesh()
  pyvista/plotting/plotting.py
Labels: none

Apply suggestions from code review
  pyvista/core/cell.py
Labels: none

Update create-unstructured-surface.py
  examples/00-load/create-unstructured-surface.py
Labels: documentation

Update tests/jupyter/test_pythreejs.py
  tests/jupyter/test_pythreejs.py
Labels: none

Apply suggestions from code review
  pyvista/core/filters/data_set.py
  pyvista/core/filters/rectilinear_grid.py
Labels: none

Add backface properties example
  examples/02-plot/backface_props.py
Labels: documentation

Apply suggestions from code review
  tests/plotting/test_plotting.py
Labels: none
