Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

fix example in docstring
  pyvista/core/dataset.py
Labels: none

fix doctest
  pyvista/core/dataset.py
Labels: none

numpydoc fix
  pyvista/core/pointset.py
Labels: none

BUG: Fix bug with check (#4078)
  pyvista/plotting/tools.py
Labels: none

make current
  pyvista/utilities/sphinx_gallery.py
Labels: none

Revert "make current"
  pyvista/utilities/sphinx_gallery.py
Labels: none

Fix small typo
  pyvista/core/filters/data_set.py
Labels: none

versionchanged note for cell
  pyvista/core/dataset.py
Labels: none

Typo
  pyvista/core/dataset.py
Labels: none

Fix merge_points arg not working in merge method
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: none

Apply suggestions from code review
  tests/test_filters.py
Labels: none

bump pytest-pyvista
  requirements_test.txt
Labels: dependencies

Fix small typo (#4084)
  pyvista/core/filters/data_set.py
Labels: none

deprecate
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

add in deprecation note
  pyvista/plotting/plotting.py
Labels: none

Make DataSet.cell a generator (#4082)
  pyvista/core/cell.py
  pyvista/core/dataset.py
  pyvista/core/pointset.py
  tests/plotting/test_plotting.py
  tests/test_cells.py
Labels: none

&& --> and
  doc/_templates/autosummary/class.rst
Labels: documentation

Update README.rst
  README.rst
Labels: none

MAINT: Avoid infinite recusion
  pyvista/utilities/errors.py
Labels: none

Remove unused argument categories (#4012)
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

Update pyvista/utilities/errors.py
  pyvista/utilities/errors.py
Labels: none

Fix by black
  pyvista/_vtk.py
Labels: none

Apply suggestions from code review
  pyvista/utilities/errors.py
Labels: none

Add "Sponsored by NumFOCUS" badge (#4049)
  README.rst
Labels: none

Use mapping for time values and datasets (#3946)
  pyvista/utilities/reader.py
Labels: none

Update docs.yml
  .github/workflows/docs.yml
Labels: maintenance

MAINT: Avoid infinite recusion (#4099)
  pyvista/utilities/errors.py
Labels: none

Update pyvista/core/dataset.py
  pyvista/core/dataset.py
Labels: none

Update pyvista/core/filters/data_set.py
  pyvista/core/filters/data_set.py
Labels: none

Apply suggestions from code review
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: none

do not add self
  pyvista/core/filters/data_set.py
Labels: none

fix test
  tests/test_filters.py
Labels: none

MAINT: Avoid infinite recusion (#4099)
  pyvista/utilities/errors.py
Labels: none

Add "Sponsored by NumFOCUS" badge (#4049)
  README.rst
Labels: none

Remove unused argument categories (#4012)
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: none

Fix small typo (#4084)
  pyvista/core/filters/data_set.py
Labels: none

BUG: Fix bug with check (#4078)
  pyvista/plotting/tools.py
Labels: none

bump to 0.38.4
  pyvista/_version.py
Labels: none

fix plotter reopening
  pyvista/plotting/plotting.py
Labels: none

use default matplotlib rcparams
  tests/conftest.py
Labels: none
