Repository pyvista/pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, docker

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml
docker:
- docker/**/*
- .dockerignore

add linked views for pythreejs (#2518)
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/plotting.py
  tests/jupyter/test_panel.py
  tests/jupyter/test_pythreejs.py
Labels: none

Skip cubemap environment texture test for VTK<9.1
  tests/plotting/test_plotting.py
Labels: none

bump examples cache version
  .github/workflows/testing-and-deployment.yml
  pyvista/examples/downloads.py
  pyvista/utilities/helpers.py
Labels: maintenance

fix coverage
  .github/workflows/docs.yml
  pyvista/examples/downloads.py
  pyvista/examples/examples.py
  tests/test_downloads.py
  tests/test_helpers.py
Labels: maintenance

Apply suggestions from code review
  pyvista/plotting/renderer.py
Labels: none

Unskip 9.0.x for cubemap test
  tests/plotting/test_plotting.py
Labels: none

Put the s in skip
  tests/plotting/test_plotting.py
Labels: none

improve texture documentation and implementation
  doc/api/core/helpers.rst
  pyvista/core/objects.py
  pyvista/examples/downloads.py
  pyvista/utilities/helpers.py
  tests/conftest.py
  tests/test_helpers.py
  tests/test_objects.py
Labels: documentation

remove debug plotting
  tests/test_objects.py
Labels: none

fix docs
  doc/api/core/helpers.rst
  pyvista/examples/downloads.py
  pyvista/utilities/helpers.py
Labels: documentation

add additional testing
  tests/test_downloads.py
Labels: none

disable warning on doc build
  doc/conf.py
  pyvista/plotting/renderer.py
Labels: documentation

remove mention of gourad shading
  doc/conf.py
  pyvista/core/filters/poly_data.py
  pyvista/plotting/plotting.py
Labels: documentation

use vtk ID type
  pyvista/core/filters/poly_data.py
Labels: none

test instability: skip download example on mac
  tests/test_charts.py
Labels: none

improve coverage
  pyvista/core/objects.py
  pyvista/examples/downloads.py
  tests/test_objects.py
Labels: none

allow texture from none
  pyvista/core/objects.py
Labels: none

Update pyvista/plotting/plotting.py
  pyvista/plotting/plotting.py
Labels: none

Update pyvista/plotting/renderer.py
  pyvista/plotting/renderer.py
Labels: none

Clean up documentation build (#2721)
  pyvista/core/filters/data_set.py
  pyvista/examples/downloads.py
  pyvista/themes.py
Labels: none

minor documentation fixes
  pyvista/core/objects.py
Labels: none

Update pyvista/utilities/misc.py
  pyvista/utilities/misc.py
Labels: none

skip flaky mac OS test
  tests/plotting/test_plotting.py
Labels: none

Add duplicate y and z array cases to RectilinearGrid test
  tests/test_create_no_copy.py
Labels: none

test original not being modified
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: none

One more usage in example
  examples/99-advanced/openfoam-example.py
Labels: documentation

improve examples
  examples/00-load/read-image.py
  examples/01-filter/image-fft-perlin-noise.py
  examples/01-filter/image-fft.py
  pyvista/_vtk.py
  pyvista/core/filters/uniform_grid.py
  pyvista/examples/downloads.py
  tests/conftest.py
  tests/test_grid.py
Labels: documentation

Fix use of a slice tuple for numpy 1.23 (#2726)
  pyvista/core/filters/structured_grid.py
Labels: none

disable spherical harmonics when using cubemap textures (#2722)
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/set_environment_texture_cubemap.png
  tests/plotting/test_plotting.py
Labels: none

fix docs
  pyvista/core/filters/uniform_grid.py
Labels: none

add in text for plots
  examples/01-filter/image-fft-perlin-noise.py
  pyvista/core/filters/uniform_grid.py
  tests/test_grid.py
Labels: documentation

move non-unique test to test_grid
  tests/test_create_no_copy.py
  tests/test_grid.py
Labels: none

Update POpenFOAMReader docstring
  pyvista/utilities/reader.py
Labels: none

PolyData.*_normals properties use existing `Normals` if they exist
  pyvista/core/pointset.py
  tests/test_polydata.py
Labels: none

fix splitting sharp edges with active cell scalars (#2695)
  doc/conf.py
  pyvista/core/filters/poly_data.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/splitting.png
  tests/plotting/image_cache/splitting_active_cells.png
  tests/plotting/test_plotting.py
  tests/test_polydata.py
Labels: documentation

add in warning for anti-aliasing when vtk is compiled with egl (#2694)
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/utilities/misc.py
Labels: none

Update pyvista/core/pointset.py
  pyvista/core/pointset.py
Labels: none

Update pyvista/core/pointset.py
  pyvista/core/pointset.py
Labels: none

add license info
  pyvista/examples/downloads.py
Labels: none

Add PolyDataFilters.find_closest_point_on_surface
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: none
