Repository pyvista/pyvista, pull requests merged in 2019-11, with the labels that each got.

#434 Add more keypress events
  docs/plotting/plotting.rst
  pyvista/plotting/plotting.py
  pyvista/plotting/qt_plotting.py
Labels: bug-fix, enhancement

#433 Add support for poly data box in clip_box filter
  pyvista/core/filters.py
  tests/test_filters.py
Labels: enhancement

#424 Improve PyQt signals, mouse tracking, and more
  docs/core/filters.rst
  docs/getting-started/what-is-a-mesh.rst
  examples/00-load/create-geometric-objects.py
  examples/00-load/create-structured-surface.py
  pyvista/core/filters.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/qt_plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/widgets.py
Labels: priority-high, review-required

#432 Strictly enforce keyword arguments everywhere
  examples/01-filter/decimate.py
  examples/01-filter/streamlines.py
  pyvista/core/filters.py
  pyvista/core/objects.py
  pyvista/plotting/helpers.py
  pyvista/plotting/plotting.py
  pyvista/plotting/qt_plotting.py
  pyvista/plotting/widgets.py
  pyvista/utilities/__init__.py
  pyvista/utilities/errors.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/helpers.py
  pyvista/utilities/parametric_objects.py
  tests/test_plotting.py
  tests/test_utilities.py
Labels: priority-high, proposed-change, review-required

#440 Pass all errors with panel on import
  pyvista/__init__.py
Labels: bug-fix

#442 Fix random behavior of CylinderStructured
  pyvista/utilities/geometric_objects.py
Labels: bug-fix

#454 Catch up to sphinx_gallery v0.5
  docs/conf.py
  examples/00-load/create-point-cloud.py
  examples/00-load/create-spline.py
  examples/00-load/create-structured-surface.py
  examples/00-load/create-tri-surface.py
  examples/00-load/read-file.py
  examples/00-load/read-parallel.py
  examples/01-filter/geodesic.py
  examples/01-filter/slicing.py
  examples/02-plot/labels.py
  examples/02-plot/opacity.py
  examples/02-plot/topo-map.py
  examples/02-plot/volume.py
Labels: bug-fix, documentation

#452 BUGFIX: copying composite datasets would not wrap internal structures
  pyvista/core/composite.py
  tests/test_composite.py
Labels: bug-fix

#451 Add clamping/range to the glyph filter
  pyvista/core/filters.py
  tests/test_filters.py
Labels: enhancement

#450 Depth Peeling
  examples/02-plot/depth-peeling.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/utilities/helpers.py
  tests/test_plotting.py
Labels: enhancement

#458 MAINT: Fix documentation typos
  docs/getting-started/simple.rst
  docs/index.rst
  docs/plotting/widgets.rst
  examples/00-load/create-point-cloud.py
  examples/00-load/create-structured-surface.py
  examples/00-load/read-image.py
  examples/01-filter/clipping.py
  examples/01-filter/connectivity.py
  examples/01-filter/geodesic.py
  examples/01-filter/poly-ray-trace.py
  examples/01-filter/slicing.py
  examples/02-plot/cmap.py
  examples/02-plot/gif.py
  examples/02-plot/interpolate-before-map.py
  examples/02-plot/lighting.py
  examples/02-plot/opacity.py
  examples/02-plot/spherical.py
  pyvista/__init__.py
  pyvista/core/common.py
  pyvista/core/composite.py
  pyvista/core/filters.py
  pyvista/core/grid.py
  pyvista/core/objects.py
  pyvista/core/pointset.py
  pyvista/examples/downloads.py
  pyvista/plotting/export_vtkjs.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/qt_plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/theme.py
  pyvista/plotting/widgets.py
  pyvista/utilities/errors.py
  pyvista/utilities/features.py
  pyvista/utilities/fileio.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/helpers.py
  pyvista/utilities/parametric_objects.py
Labels: documentation

#460 Add codespell autocheck
  .travis.yml
  Makefile
  ignore_words.txt
Labels: review-critical, testing

#461 MAINT: Fix documentation style
  pyvista/__init__.py
  pyvista/_version.py
  pyvista/core/__init__.py
  pyvista/core/common.py
  pyvista/core/composite.py
  pyvista/core/filters.py
  pyvista/core/grid.py
  pyvista/core/objects.py
  pyvista/core/pointset.py
  pyvista/examples/__init__.py
  pyvista/examples/downloads.py
  pyvista/examples/examples.py
  pyvista/plotting/__init__.py
  pyvista/plotting/colors.py
  pyvista/plotting/export_vtkjs.py
  pyvista/plotting/helpers.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/qt_plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/theme.py
  pyvista/plotting/tools.py
  pyvista/plotting/widgets.py
  pyvista/utilities/__init__.py
  pyvista/utilities/errors.py
  pyvista/utilities/features.py
  pyvista/utilities/fileio.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/helpers.py
  pyvista/utilities/parametric_objects.py
  pyvista/utilities/sphinx_gallery.py
Labels: documentation

#467 MAINT: Fix documentation style
  pyvista/core/pointset.py
Labels: documentation

#457 Add pydocstyle autocheck
  .travis.yml
  Makefile
  pyvista/core/filters.py
Labels: review-critical, testing

#469 Add copy_function_doc decorator
  pyvista/utilities/__init__.py
  pyvista/utilities/docs.py
  tests/test_docs.py
Labels: enhancement

#464 Fix volume rendering issues
  examples/02-plot/volume.py
  pyvista/plotting/plotting.py
  pyvista/plotting/theme.py
Labels: bug-fix, enhancement, priority-high

#456 Improve naming consistency
  docs/plotting/plotting.rst
  docs/utilities/utilities.rst
  examples/01-filter/compute-volume.py
  examples/01-filter/streamlines.py
  examples/01-filter/using-filters.py
  pyvista/core/common.py
  pyvista/core/composite.py
  pyvista/core/filters.py
  pyvista/core/objects.py
  pyvista/examples/downloads.py
  pyvista/plotting/plotting.py
  pyvista/plotting/widgets.py
  pyvista/utilities/helpers.py
  tests/test_common.py
  tests/test_filters.py
  tests/test_grid.py
  tests/test_plotting.py
Labels: proposed-change, review-critical

#474 Fix #447 v-key issue
  pyvista/plotting/plotting.py
Labels: bug-fix

#476 Use transform matrix when getting/setting camera position
  examples/02-plot/orbit.py
  pyvista/plotting/__init__.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
Labels: bug-fix

#477 [MNT] Fix pyflakes issues
  tests/test_colors.py
  tests/test_plotting.py
  tests/test_theme.py
  tests/test_utilities.py
Labels: maintenance

#459 More MultiBlock indexing options
  pyvista/core/composite.py
  tests/test_composite.py
Labels: enhancement

#463 Minor picking updates and docs
  docs/plotting/plotting.rst
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
Labels: documentation

#484 fixed memory leak due to mesh not being cleared
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
Labels: bug-fix
