Repository pyvista/pyvista, pull requests merged in 2019-06, with the labels that each got.

#255 Linked cameras in subplots
  examples/02-plot/plot-linked.py
  pyvista/plotting.py
  pyvista/renderer.py
  tests/test_plotting.py
Labels: enhancement

#250 plot_over_line filter
  examples/02-plot/plot-over-line.py
  pyvista/filters.py
  pyvista/geometric_objects.py
  pyvista/plotting.py
  tests/test_filters.py
Labels: enhancement

#261 Fix length calculation of geodesic path
  pyvista/pointset.py
Labels: bug-fix

#267 Filter: slice along line
  examples/01-filter/slicing.py
  pyvista/filters.py
  tests/test_filters.py
Labels: enhancement, example

#266 Fix colormapping issue for uint8 arrays
  pyvista/plotting.py
Labels: bug-fix

#271 Change default colormap to viridis and add Colorcet and cmocean support
  examples/02-plot/plot-cmap.py
  pyvista/colors.py
  pyvista/plotting.py
  requirements.txt
  setup.py
Labels: proposed-change

#269 Glyphing subsets
  examples/02-plot/plot-glyphs.py
  pyvista/common.py
  pyvista/examples/examples.py
  pyvista/filters.py
  tests/test_common.py
  tests/test_filters.py
Labels: enhancement

#270 Composite Filters
  docs/types/composite.rst
  docs/types/container.rst
  docs/types/index.rst
  pyvista/__init__.py
  pyvista/composite.py
  pyvista/filters.py
  pyvista/plotting.py
  pyvista/utilities.py
  tests/test_composite.py
  tests/test_filters.py
Labels: enhancement

#278 show selection with cell picking
  pyvista/plotting/plotting.py
  pyvista/plotting/qt_plotting.py
Labels: enhancement

#275 Change add_text to use vtkCornerAnnotation
  examples/02-plot/plot-edl.py
  examples/02-plot/plot-linked.py
  examples/02-plot/plot-multi-window.py
  pyvista/plotting/plotting.py
Labels: bug-fix, enhancement

#276 PolyData project_points_to_plane
  examples/01-filter/project-plane.py
  pyvista/core/filters.py
  pyvista/core/pointset.py
  pyvista/utilities/utilities.py
  tests/test_polydata.py
Labels: enhancement
