Repository pyvista/pyvista, pull requests merged in 2019-10, with the labels that each got.

#388 BackgroundPlotter q-key press event
  pyvista/plotting/qt_plotting.py
Labels: bug-fix

#382 Grab screenshot when plotter is closed
  pyvista/plotting/plotting.py
Labels: bug-fix

#390 Add viewport parameter for add_text
  pyvista/plotting/plotting.py
  tests/test_plotting.py
Labels: enhancement

#391 Ignore warnings when capturing depth image
  pyvista/plotting/plotting.py
Labels: flaky

#392 Add OBJ scene exporter
  pyvista/plotting/plotting.py
Labels: enhancement

#396 BUGFIX: save screenshot when no file extension given
  pyvista/plotting/plotting.py
  tests/test_plotting.py
Labels: bug-fix

#351 Add toolbars to Qt plotter
  pyvista/plotting/qt_plotting.py
  tests/test_qt_plotting.py
Labels: enhancement

#401 Widget refactoring and spline widget
  docs/plotting/widgets.rst
  pyvista/plotting/widgets.py
  tests/test_widgets.py
Labels: enhancement, proposed-change

#403 Remove ipy_tools module and notebook testing
  .travis.yml
  docs/getting-started/simple.rst
  notebooks/Background-Plotting.ipynb
  notebooks/Overview.ipynb
  pyvista/plotting/__init__.py
  pyvista/plotting/ipy_tools.py
  pyvista/plotting/widgets.py
  tests/test_common.py
  tests/test_ipy_tools.ipynb
  tests/test_ipy_tools.py
  tests/test_widgets.py
Labels: proposed-change

#407 Improve Texture and add example of topographic map
  docs/plotting/index.rst
  examples/02-plot/topo-map.py
  pyvista/core/filters.py
  pyvista/core/objects.py
  pyvista/examples/downloads.py
  tests/test_objects.py
Labels: enhancement

#411 Gradient background colors
  examples/02-plot/themes.py
  pyvista/plotting/__init__.py
  pyvista/plotting/colors.py
  pyvista/plotting/plotting.py
  pyvista/plotting/theme.py
  tests/test_plotting.py
Labels: enhancement

#416 [MRG] Add border control to background plotter
  pyvista/plotting/qt_plotting.py
Labels: bug-fix

#420 Gaussian smoothing filter for UniformGrid
  pyvista/core/__init__.py
  pyvista/core/filters.py
  pyvista/core/grid.py
  tests/test_grid.py
Labels: enhancement, example

#417 New example: plotting in spherical coordinates
  examples/02-plot/spherical.py
  pyvista/utilities/features.py
  tests/test_utilities.py
Labels: documentation, example

#385 Bug fix for plotting multi block datasets
  pyvista/plotting/plotting.py
Labels: bug-fix, flaky

#421 make several vtk filters accessible in contour filter
  pyvista/core/filters.py
  tests/test_filters.py
Labels: enhancement

#366 Attempt fix visible point label issue
  pyvista/plotting/plotting.py
Labels: bug-fix

#359 Meshes explained
  docs/getting-started/what-is-a-mesh.rst
  docs/index.rst
Labels: documentation, help-wanted

#331 Add save graphic method for SVGs
  pyvista/plotting/plotting.py
  tests/test_plotting.py
Labels: enhancement, help-wanted

#292 Add frontface culling option and update bounding box
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  tests/test_plotting.py
Labels: enhancement

#415 [GemPy] widget enhancements
  pyvista/core/pointset.py
  pyvista/plotting/renderer.py
  pyvista/plotting/widgets.py
  tests/test_widgets.py
Labels: enhancement

#425 Array name autocompletion for IPython
  pyvista/core/common.py
  pyvista/core/composite.py
  pyvista/core/objects.py
Labels: enhancement

#436 Remove old name disclaimer
  README.rst
  docs/index.rst
Labels: documentation

#426 Release Checklist
  CONTRIBUTING.md
  README.rst
  docs/getting-started/installation.rst
  docs/index.rst
  examples/02-plot/cmap.py
  examples/README.rst
  pyvista/utilities/parametric_objects.py
Labels: deployment, testing
