Repository pyvista/pyvista, pull requests merged in 2019-08, with the labels that each got.

#339 Allow plotting on azure pipelines
  azure-pipelines.yml
  tests/test_ipy_tools.py
Labels: testing

#342 Overhaul axes widgets
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/theme.py
  pyvista/plotting/tools.py
  tests/test_plotting.py
Labels: enhancement

#338 Improve memory footprint
  pyvista/plotting/plotting.py
  pyvista/plotting/qt_plotting.py
  pyvista/plotting/renderer.py
  requirements.txt
  tests/test_filters.py
  tests/test_plotting.py
Labels: enhancement

#344 Allow setting PolyLines on PolyData
  examples/00-load/create-spline.py
  pyvista/core/pointset.py
  tests/test_polydata.py
Labels: enhancement

#343 Add more lighting controls for add_mesh
  examples/02-plot/lighting.py
  pyvista/plotting/plotting.py
Labels: enhancement

#346 Resolve subplot indexing issues
  pyvista/plotting/plotting.py
  tests/test_plotting.py
Labels: bug-fix

#352 Fix typos and grammar in example gallery
  docs/core/points.rst
  examples/00-load/create-poly.py
  examples/00-load/create-uniform-grid.py
  examples/00-load/create-unstructured-surface.py
  examples/00-load/read-file.py
  examples/00-load/read-parallel.py
  examples/01-filter/compute-normals.py
  examples/01-filter/compute-volume.py
  examples/01-filter/decimate.py
  examples/01-filter/extract-cells-inside-surface.py
  examples/01-filter/glyphs.py
  examples/01-filter/resample.py
  examples/01-filter/slicing.py
  examples/01-filter/using-filters.py
  examples/01-filter/volume-smoothing.py
  examples/02-plot/cmap.py
  examples/02-plot/edges.py
  examples/02-plot/edl.py
  examples/02-plot/labels.py
  examples/02-plot/multi-window.py
  examples/02-plot/opacity.py
  examples/02-plot/plot-over-line.py
  examples/02-plot/shading.py
  examples/02-plot/texture.py
  examples/02-plot/volume.py
  pyvista/core/filters.py
  tests/test_polydata.py
Labels: bug-fix, documentation

#350 Clear the menu bar on close for BackgroundPlotter
  pyvista/plotting/qt_plotting.py
Labels: bug-fix

#348 Labelled Scalar bars
  examples/02-plot/scalar-bars.py
  pyvista/core/composite.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/theme.py
  tests/test_plotting.py
Labels: enhancement

#354 Add cell quality, gradient, and surface clip filters
  examples/01-filter/clipping.py
  pyvista/core/filters.py
  tests/test_filters.py
Labels: enhancement, example

#349 Merge filter and __add__
  pyvista/core/composite.py
  pyvista/core/filters.py
  tests/test_filters.py
  tests/test_grid.py
Labels: proposed-change

#274 Table: wrap vtkTable class and refactor internals
  docs/utilities/utilities.rst
  examples/02-plot/opacity.py
  pyvista/core/__init__.py
  pyvista/core/common.py
  pyvista/core/composite.py
  pyvista/core/filters.py
  pyvista/core/objects.py
  pyvista/core/pointset.py
  pyvista/plotting/helpers.py
  pyvista/plotting/ipy_tools.py
  pyvista/plotting/plotting.py
  pyvista/utilities/utilities.py
  tests/test_common.py
  tests/test_filters.py
  tests/test_grid.py
  tests/test_objects.py
  tests/test_plotting.py
  tests/test_utilities.py
Labels: enhancement

#363 Switch interpolate_before_map to True
  examples/02-plot/interpolate-before-map.py
  pyvista/plotting/plotting.py
  pyvista/utilities/geometric_objects.py
Labels: proposed-change

#362 Add point picking capabilites
  pyvista/core/filters.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/qt_plotting.py
  pyvista/plotting/renderer.py
Labels: enhancement
