Repository pyvista/pyvista, pull requests merged in 2019-12, with the labels that each got.

#485 Add gaussian smoothing example
  examples/01-filter/gaussian-smoothing.py
Labels: example

#480 [BUGFIX] Parametric kwargs
  pyvista/utilities/parametric_objects.py
  tests/test_parametric_geometry.py
Labels: bug-fix

#466 Use world coordinates with click tracking
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
Labels: enhancement

#489 Recomputing normals prior to saving stl or ply files
  pyvista/core/pointset.py
Labels: bug-fix

#472 Add support to meshio readers and writers
  docs/getting-started/installation.rst
  docs/utilities/utilities.rst
  pyvista/utilities/fileio.py
  requirements.txt
  setup.py
  tests/test_meshio.py
Labels: enhancement, file-formats, review-critical

#493 Remove all support for Python 2.7
  .travis.yml
  requirements_27.txt
  setup.py
Labels: proposed-change, testing

#494 Read lists of files as MultiBlock datasets
  pyvista/utilities/fileio.py
  tests/test_utilities.py
Labels: enhancement

#495 resolve meshio issues
  examples/00-load/read-dolfin.py
  pyvista/examples/downloads.py
  pyvista/utilities/fileio.py
  requirements.txt
  requirements_docs.txt
  setup.py
  tests/test_meshio.py
Labels: bug-fix, testing

#491 Add camera position class
  pyvista/plotting/__init__.py
  pyvista/plotting/renderer.py
  tests/test_grid.py
  tests/test_plotting.py
  tests/test_polydata.py
  tests/test_renderer.py
Labels: enhancement

#499 Log scale color mapping and arial default font
  pyvista/plotting/plotting.py
  pyvista/plotting/theme.py
Labels: enhancement

#498 Fix QVTKRWIBase default value
  pyvista/plotting/qt_plotting.py
Labels: bug-fix

#502 Fix windows closing issues
  pyvista/plotting/plotting.py
Labels: bug-fix, priority-high

#511 Fix slider widget coordinate parameters
  pyvista/plotting/widgets.py
Labels: bug-fix

#514 Select type of event for slider widget
  pyvista/plotting/widgets.py
  tests/test_widgets.py
Labels: enhancement

#468 🚧 Refactor and cleanup
  docs/core/common.rst
  docs/core/filters.rst
  docs/core/index.rst
  examples/01-filter/compute-volume.py
  examples/01-filter/glyphs.py
  examples/01-filter/using-filters.py
  examples/02-plot/texture.py
  pyvista/core/__init__.py
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters.py
  pyvista/core/grid.py
  pyvista/core/objects.py
  pyvista/core/pointset.py
  pyvista/core/pyvista_ndarray.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/widgets.py
  pyvista/utilities/fileio.py
  pyvista/utilities/helpers.py
  tests/test_common.py
  tests/test_composite.py
  tests/test_objects.py
  tests/test_polydata.py
Labels: proposed-change, review-critical

#512 Add GPU details to Report
  .travis.yml
  azure-pipelines.yml
  pyvista/utilities/__init__.py
  pyvista/utilities/errors.py
  requirements.txt
  setup.py
Labels: enhancement
