Repository pyvista/pyvista, pull requests merged in 2019-03, with the labels that each got.

#107 Multi Renderer Plotting
  docs/examples/index.rst
  docs/examples/quick/multi-window.rst
  docs/images/multi-window.png
  docs/images/sub-plot-demo.png
  tests/test_plotting.py
  tests/test_renderer.py
  vtki/__init__.py
  vtki/export.py
  vtki/ipy_tools.py
  vtki/plotting.py
  vtki/pointset.py
  vtki/qt_plotting.py
  vtki/renderer.py
Labels: enhancement, example, proposed-change

#110 Updated doc param default values for compute_normals
  vtki/pointset.py
Labels: documentation

#115 Add camera reseters for common view planes
  tests/test_plotting.py
  tests/test_qt_plotting.py
  vtki/plotting.py
  vtki/qt_plotting.py
  vtki/renderer.py
Labels: enhancement

#114 Support plotting multi-component arrays
  tests/test_plotting.py
  vtki/plotting.py
Labels: enhancement, example, proposed-change

#113 Add abstract class protections
  vtki/common.py
  vtki/filters.py
  vtki/grid.py
  vtki/ipy_tools.py
  vtki/plotting.py
  vtki/pointset.py
Labels: enhancement, proposed-change

#112 Example downloads & reader/writer updates
  tests/test_examples.py
  tests/test_polydata.py
  vtki/examples/__init__.py
  vtki/examples/downloads.py
  vtki/grid.py
  vtki/pointset.py
  vtki/readers.py
Labels: enhancement, example

#117 Create Isocontour IPython tool
  docs/images/isocontour-tool.gif
  docs/tools/ipy_tools.rst
  tests/test_ipy_tools.py
  vtki/__init__.py
  vtki/ipy_tools.py
Labels: enhancement

#120 Fix delaunay spelling mistake per #118
  vtki/pointset.py
Labels: bug-fix, proposed-change

#126 Custom colormaps and opacity transfer functions
  vtki/plotting.py
Labels: enhancement

#128 Add eye dome lighting (EDL)
  docs/conf.py
  docs/examples/index.rst
  docs/examples/quick/plot-edl.rst
  docs/images/point-cloud-edl-scalars.png
  docs/images/point-cloud-edl.png
  docs/images/point-cloud-no-edl.png
  docs/tools/plotting.rst
  vtki/examples/downloads.py
  vtki/plotting.py
  vtki/pointset.py
  vtki/renderer.py
Labels: enhancement

#131 Fix overwrite segfault issues
  vtki/common.py
  vtki/pointset.py
Labels: bug-fix

#141 Refactor add_bounds_axes -> show_bounds
  docs/examples/quick/plot/plot-ipython.rst
  docs/examples/quick/plot/plot-multi-window.rst
  notebooks/Background-Plotting.ipynb
  tests/test_plotting.py
  vtki/ipy_tools.py
  vtki/plotting.py
  vtki/qt_plotting.py
  vtki/renderer.py
Labels: proposed-change
