Repository pyvista/pyvista, pull requests merged in 2019-07, with the labels that each got.

#284 Use scoobys .Report() convention
  pyvista/utilities/__init__.py
  pyvista/utilities/errors.py
  pyvista/utilities/utilities.py
Labels: proposed-change

#289 Fix links in feature overview in Readme.rst
  README.rst
Labels: documentation

#293 BackgroundPlotter closing event
  pyvista/plotting/qt_plotting.py
Labels: bug-fix

#302 tolerance subsetting for glyph filter
  examples/01-filter/glyphs.py
  pyvista/core/filters.py
  pyvista/core/pointset.py
  tests/test_filters.py
Labels: bug-fix, proposed-change

#281 Add surface cell picking for visible cells only
  pyvista/plotting/plotting.py
  pyvista/plotting/qt_plotting.py
  pyvista/plotting/renderer.py
Labels: enhancement, example, for-future-consideration

#297 Opacity by scalar array or custom transfer function
  examples/02-plot/opacity.py
  examples/02-plot/volume.py
  pyvista/core/common.py
  pyvista/examples/downloads.py
  pyvista/plotting/plotting.py
  pyvista/plotting/tools.py
  requirements_docs.txt
  tests/test_plotting.py
Labels: enhancement, example

#311 Fix misspell in scalar_bar_range
  pyvista/plotting/plotting.py
Labels: bug-fix

#314 BackgroundPlotter with pyvista.close_all()
  pyvista/plotting/qt_plotting.py
  tests/test_qt_plotting.py
Labels: bug-fix, ipython

#309 Add offscreen support in BackgroundPlotter
  pyvista/plotting/qt_plotting.py
Labels: enhancement, in-progress

#317 [TESTING] Replace AppVeyor with Azure
  README.rst
  appveyor.yml
  azure-pipelines.yml
  docs/getting-started/installation.rst
  docs/index.rst
Labels: testing

#316 Fix 32bit Python ID type issue on windows
  pyvista/__init__.py
Labels: bug-fix, review-required

#307 Add more exluded arrays from being active
  pyvista/core/common.py
Labels: proposed-change

#315 Fix BackgroundPlotter window size setup
  pyvista/plotting/qt_plotting.py
Labels: bug-fix, ipython

#323 Overhaul filters
  docs/core/filters.rst
  pyvista/core/__init__.py
  pyvista/core/common.py
  pyvista/core/filters.py
  pyvista/core/pointset.py
  pyvista/utilities/features.py
  tests/test_polydata.py
Labels: proposed-change

#341 Add warning when using Plotter.plot()
  pyvista/plotting/plotting.py
Labels: deprecation, proposed-change
