Repository pyvista/pyvista, pull requests merged in 2019-05, with the labels that each got.

#200 Add support for string scalar arrays and beter point labelling
  examples/02-plot/plot-labels.py
  tests/test_common.py
  vtki/common.py
  vtki/plotting.py
  vtki/utilities.py
Labels: enhancement

#207 Add field data arrays
  tests/test_common.py
  tests/test_utilities.py
  vtki/common.py
  vtki/utilities.py
Labels: enhancement, proposed-change

#216 Fix plot texture example
  examples/02-plot/plot-texture.py
  pyvista/common.py
  tests/test_common.py
Labels: bug-fix

#218 Add box oreintation axes widget
  docs/tools/plotting.rst
  pyvista/plotting.py
  tests/test_plotting.py
Labels: enhancement

#234 Add support for wrapping TetGen and PyMeshFix meshes
  pyvista/utilities.py
Labels: enhancement, 🍏 low-hanging-fruit

#235 Fix hook for normals computation
  pyvista/plotting.py
Labels: bug-fix

#232 Clearing scalar arrays
  docs/getting-started/simple.rst
  notebooks/Overview.ipynb
  pyvista/common.py
  pyvista/filters.py
  pyvista/utilities.py
  tests/test_common.py
  tests/test_filters.py
  tests/test_grid.py
  tests/test_plotting.py
Labels: enhancement, proposed-change
