Repository pyvista/pyvista, pull requests merged in 2020-07, with the labels that each got.

#798 Patch for auto_close warning
  pyvista/plotting/helpers.py
Labels: bug-fix

#832 Fix is_all_triangles
  pyvista/core/pointset.py
  tests/test_polydata.py
Labels: bug-fix

#828 Add tolerance argument to sample_over_line
  pyvista/core/filters.py
Labels: bug-fix

#836 Add pathlib Support
  pyvista/core/common.py
  pyvista/core/composite.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/plotting/plotting.py
  pyvista/utilities/fileio.py
  tests/test_composite.py
  tests/test_grid.py
  tests/test_meshio.py
  tests/test_plotting.py
  tests/test_polydata.py
  tests/test_utilities.py
Labels: enhancement

#817 Add release suffix to version string
  pyvista/_version.py
Labels: maintenance

#840 Clarify clip filter docstring
  pyvista/core/filters.py
Labels: documentation

#842 New probe filter and massively improve interpolate filter
  pyvista/core/filters.py
  tests/test_filters.py
Labels: deprecation, enhancement

#837 Feat: Implement compute_derivative
  examples/01-filter/gradients.py
  pyvista/core/filters.py
  tests/test_filters.py
Labels: deprecation, enhancement
