Repository pyvista/pyvista, pull requests merged in 2020-06, with the labels that each got.

#769 Fix implicit points setters
  pyvista/core/grid.py
  tests/test_grid.py
Labels: bug-fix, deprecation

#762 MAINT: Underscore numpy types
  examples/00-load/create-spline.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters.py
  pyvista/core/pointset.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/tools.py
  pyvista/utilities/features.py
  pyvista/utilities/helpers.py
  tests/test_cells.py
  tests/test_common.py
  tests/test_datasetattributes.py
  tests/test_grid.py
  tests/test_objects.py
  tests/test_polydata.py
Labels: review-critical

#772 Add VTK9 Connectivity Support
  pyvista/core/filters.py
  pyvista/core/pointset.py
  tests/test_grid.py
Labels: enhancement

#775 Release 0.25.0
  pyvista/_version.py
Labels: release

#778 Build and install wheel
  azure-pipelines.yml
  pyvista/_version.py
Labels: deployment

#782 Fix screenshots for Sphinx Gallery
  docs/conf.py
  pyvista/__init__.py
  pyvista/_version.py
Labels: bug-fix, priority-super-duper-high

#780 Fix BackgroundPlotter references in docs
  docs/getting-started/simple.rst
  docs/plotting/plotting.rst
Labels: documentation

#783 Add documentation on how to set up sphinx gallery
  docs/getting-started/installation.rst
Labels: documentation

#799 Fix visible cell picking
  pyvista/plotting/picking.py
Labels: bug-fix

#795 Add note to widget docs about significance of the name kwarg in add_mesh
  azure-pipelines.yml
  docs/getting-started/simple.rst
  docs/plotting/plotting.rst
  docs/plotting/widgets.rst
  pyvista/plotting/plotting.py
Labels: documentation

#797 clip closed surface for PolyData
  pyvista/core/filters.py
  tests/test_filters.py
Labels: enhancement

#793 Fix get_data_range for nested MultiBlock
  pyvista/core/common.py
  pyvista/core/composite.py
  tests/test_composite.py
  tests/test_plotting.py
Labels: bug-fix, deprecation

#809 Fix UniformGrid points and extract_subset
  pyvista/core/filters.py
  pyvista/core/grid.py
  tests/test_filters.py
Labels: bug-fix, enhancement

#806 Type check PolyData boolean filters
  pyvista/core/filters.py
Labels: bug-fix, enhancement

#805 Fix camera reset in add_point_labels
  pyvista/plotting/plotting.py
Labels: bug-fix

#807 Add PolyData strip filter
  pyvista/core/filters.py
  tests/test_filters.py
Labels: enhancement
