Repository pyvista/pyvista, pull requests merged in 2020-03, with the labels that each got.

#619 Improve testing of Qt plotting
  azure-pipelines.yml
  pyvista/plotting/plotting.py
  pyvista/plotting/qt_plotting.py
  tests/test_qt_plotting.py
Labels: IPython/Jupyter, help-wanted, proposed-change, testing

#639 Remove "Edit on Github" button
  azure-pipelines.yml
  docs/Makefile
  docs/conf.py
Labels: documentation

#641 Use parent method to close BackgroundPlotter
  pyvista/plotting/qt_plotting.py
Labels: enhancement

#643 Fix automatic generation of spacing for 2d uniform grids
  pyvista/core/grid.py
  tests/test_grid.py
Labels: bug-fix

#648 FIX: Logging error
  pyvista/plotting/plotting.py
Labels: bug-fix

#594 Add basic API for background image
  examples/02-plot/background_image.py
  pyvista/plotting/background_renderer.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  tests/test_plotting.py
Labels: enhancement
