Repository pyvista/pyvista, pull requests merged in 2020-01, with the labels that each got.

#518 Add basic text slider
  pyvista/plotting/widgets.py
  tests/test_widgets.py
Labels: enhancement

#521 Resolve issue where meshes are overridden in scene based on duplicate ids
  examples/02-plot/scalar-bars.py
  pyvista/core/common.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/widgets.py
  tests/test_plotting.py
Labels: bug-fix

#529 enable depth peeling by default
  examples/02-plot/depth-peeling.py
  pyvista/plotting/plotting.py
  pyvista/plotting/qt_plotting.py
  pyvista/plotting/theme.py
Labels: enhancement, proposed-change

#530 Fix issues with RectilinearGrid instantiation
  pyvista/core/grid.py
  tests/test_grid.py
Labels: bug-fix, enhancement

#525 Add new filter sample_over_line and refactor plot_over_line
  pyvista/core/filters.py
  pyvista/utilities/geometric_objects.py
  tests/test_filters.py
  tests/test_geometric_objects.py
Labels: enhancement

#528 Add checkbox button
  pyvista/plotting/widgets.py
  tests/test_widgets.py
Labels: feature-request

#532 MNT: Remove duplicate clear() in test_widgets
  tests/test_widgets.py
Labels: testing

#538 Patch brown color and legend geometry placement
  pyvista/plotting/colors.py
  pyvista/plotting/plotting.py
Labels: bug-fix

#537 Better repr for camera position list
  pyvista/plotting/renderer.py
Labels: enhancement

#536 Refactor axes widget to be on any renderer
  pyvista/plotting/__init__.py
  pyvista/plotting/plotting.py
  pyvista/plotting/qt_plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/theme.py
Labels: enhancement

#549 Fix slider coordinates in subplot
  pyvista/plotting/widgets.py
Labels: bug-fix

#551 Remove duplicate code
  pyvista/plotting/plotting.py
Labels: bug-fix, priority-high

#550 Add find_closest_point method
  pyvista/core/common.py
  tests/test_common.py
Labels: enhancement

#553 Fix scalar bar font size issue
  pyvista/plotting/plotting.py
Labels: bug-fix

#552 Refactor BasePlotter's wrapping of Renderer
  pyvista/plotting/__init__.py
  pyvista/plotting/plotting.py
  pyvista/plotting/qt_plotting.py
  pyvista/plotting/renderer.py
  tests/test_plotting.py
Labels: deprecation, documentation, enhancement, priority-high, proposed-change

#559 Improve meshio support
  pyvista/utilities/fileio.py
Labels: bug-fix, enhancement

#561 [BUGFIX] CylinderStructured height
  pyvista/utilities/geometric_objects.py
Labels: bug-fix

#533 [BUGFIX] correct how widget tools activate scalars
  pyvista/plotting/widgets.py
Labels: bug-fix, priority-high

#563 [BUGFIX] getitem list of str with MultiBlock
  pyvista/core/composite.py
  tests/test_composite.py
Labels: bug-fix

#568 load from meshio instances
  pyvista/utilities/fileio.py
  pyvista/utilities/helpers.py
Labels: enhancement

#574 Fix issue where plotter appears in sphinx-gallery when making a report
  pyvista/utilities/errors.py
Labels: bug-fix

#575 [BIGFIX] volume render numpy arrray
  pyvista/plotting/plotting.py
  tests/test_plotting.py
Labels: bug-fix

#535 [BUGFIX] fix combine filter for nested MultiBlock
  pyvista/core/filters.py
  tests/test_composite.py
Labels: bug-fix, priority-high

#576 [DOC] Add export section to getting started
  docs/getting-started/simple.rst
Labels: documentation
