Repository pyvista/pyvista, pull requests merged in 2020-09, with the labels that each got.

#877 Add Clip by Scalar
  pyvista/core/filters.py
  tests/test_filters.py
Labels: feature-request

#873 Add Filter Examples
  Makefile
  pyvista/core/filters.py
Labels: documentation, enhancement

#882 3-lights illumination
  pyvista/plotting/plotting.py
  tests/test_plotting.py
Labels: enhancement

#886 Add Makefile targets for coverage
  Makefile
Labels: enhancement

#887 Fix uploaded coverage stats
  tests/__init__.py
Labels: enhancement

#888 Fix coverage result
  azure-pipelines.yml
Labels: enhancement

#889 Add test_picking
  pyvista/plotting/picking.py
  tests/test_picking.py
Labels: enhancement, testing

#891 Improve coverage of pyvista/utilities
  pyvista/utilities/errors.py
  tests/test_utilities.py
Labels: enhancement, testing

#893 Fix renderer layers
  pyvista/plotting/plotting.py
Labels: bug-fix
