Repository pyvista/pyvista, pull requests merged in 2020-04, with the labels that each got.

#608 Add tqdm progress bar to filters
  .gitignore
  Makefile
  pyvista/core/filters.py
  pyvista/utilities/__init__.py
  pyvista/utilities/errors.py
  pyvista/utilities/helpers.py
  requirements_test.txt
  tests/test_utilities.py
Labels: enhancement

#656 [patch] Fix VTK 8.2 compatibility
  pyvista/core/pyvista_ndarray.py
Labels: priority-super-duper-high

#423 Add plotting floors
  examples/02-plot/floors.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/theme.py
  pyvista/utilities/geometric_objects.py
  tests/test_plotting.py
Labels: feature-request

#554 Add PolyData verts setter/getter
  pyvista/core/pointset.py
  tests/test_polydata.py
Labels: enhancement

#531 Only volume render point data
  pyvista/plotting/plotting.py
Labels: proposed-change

#449 Additional geometry features
  examples/00-load/create-parametric-geometric-objects.py
  pyvista/core/filters.py
  pyvista/utilities/__init__.py
  pyvista/utilities/errors.py
  pyvista/utilities/features.py
  pyvista/utilities/geometric_objects.py
  tests/test_geometric_objects.py
  tests/test_polydata.py
Labels: enhancement

#658 [doc] Improve installation instructions
  docs/getting-started/installation.rst
Labels: documentation

#675 Do not build on no-ci branch name
  azure-pipelines.yml
Labels: maintenance

#651 add a warp by vector filter to filters
  examples/01-filter/warp-by-vector.py
  examples/03-advanced/warp-by-vector-eigenmodes.py
  pyvista/core/filters.py
  pyvista/examples/examples.py
  tests/test_filters.py
Labels: enhancement

#665 BUGFIX: GPU issues with Report
  pyvista/utilities/errors.py
  tests/test_utilities.py
Labels: bug-fix, priority-high

#676 Update CONTRIBUTING Guide
  CONTRIBUTING.md
  azure-pipelines.yml
Labels: discussion, maintenance

#667 Make the toolbar optional
  pyvista/plotting/qt_plotting.py
  tests/test_qt_plotting.py
Labels: enhancement

#681 Add basic slider styles
  pyvista/plotting/theme.py
  pyvista/plotting/widgets.py
  tests/test_widgets.py
Labels: enhancement

#683 Add all depends to Report
  environment.yml
  pyvista/utilities/errors.py
Labels: maintenance

#685 allow textures with alpha-channel for opacity mapping
  examples/02-plot/texture.py
  pyvista/core/objects.py
  pyvista/examples/downloads.py
Labels: enhancement

#680 Make the menu bar optional
  pyvista/plotting/qt_plotting.py
  tests/test_qt_plotting.py
Labels: enhancement

#689 Minor testing improvements
  pyvista/core/common.py
  tests/test_common.py
  tests/test_filters.py
  tests/test_objects.py
  tests/test_plotting.py
Labels: testing

#694 Fix faulthandler
  pyvista/__init__.py
Labels: bug-fix

#697 Fix broken documentation build
  azure-pipelines.yml
  docs/Makefile
  docs/conf.py
  docs/core/composite.rst
  docs/core/filters.rst
Labels: documentation, priority-high

#702 custom orientation widget
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  tests/test_plotting.py
Labels: enhancement
