Repository pyvista/pyvista, pull requests merged in 2020-10, with the labels that each got.

#913 ✨ Add shrink filter
  pyvista/core/filters.py
  tests/test_filters.py
Labels: enhancement

#922 Delete obbTree to avoid memory leak
  pyvista/core/pointset.py
Labels: bug-fix

#931 Skip flaky clip fliter tests
  tests/test_filters.py
Labels: testing

#944 Make the QtDeprecationError message clearer
  pyvista/plotting/__init__.py
Labels: maintenance

#936 Normalize by scale when computing 4x4 transform
  pyvista/core/common.py
Labels: Hacktoberfest

#946 🐛 improve Renderer wrappings on BasePlotter
  pyvista/plotting/plotting.py
  tests/test_plotting.py
Labels: Hacktoberfest-accepted

#948 🐛 Fix axis problem on ParametricEllipsoid
  pyvista/utilities/parametric_objects.py
Labels: Hacktoberfest-accepted

#949 vectorised ray tracing using trimesh and pyembree
  docs/getting-started/installation.rst
  docs/images/user-generated/ray_trace.png
  docs/index.rst
  docs/optional_features.rst
  environment.yml
  examples/03-advanced/ray-trace.py
  pyvista/core/filters.py
  tests/test_polydata.py
Labels: Hacktoberfest-accepted

#942 Remove private array appending helpers.
  pyvista/core/common.py
  pyvista/plotting/plotting.py
  tests/test_plotting.py
  tests/test_utilities.py
Labels: Hacktoberfest-accepted

#940 A few more examples for the gallery
  examples/00-load/create-surface-draped.py
  examples/01-filter/interpolate.py
  examples/01-filter/mesh-quality.py
  examples/01-filter/resample.py
  examples/02-plot/ghost-cells.py
  examples/02-plot/isovalue.py
  examples/02-plot/ortho-slices.py
  pyvista/examples/downloads.py
Labels: documentation

#925 Refactor Texture, add ability to load from file.
  pyvista/core/common.py
  pyvista/core/composite.py
  pyvista/core/grid.py
  pyvista/core/objects.py
  pyvista/core/pointset.py
  pyvista/plotting/plotting.py
  pyvista/utilities/fileio.py
  pyvista/utilities/helpers.py
  tests/test_common.py
Labels: Hacktoberfest-accepted, enhancement

#725 ensight gold file reader
  pyvista/core/common.py
  pyvista/core/composite.py
  pyvista/examples/downloads.py
  pyvista/utilities/fileio.py
  tests/test_composite.py
Labels: enhancement
