Repository pyvista/pyvista, pull requests merged in 2020-02, with the labels that each got.

#567 add file drop functionality to BackgroundPlotter
  pyvista/plotting/qt_plotting.py
Labels: enhancement

#577 Fixed dimension of CylinderStructured
  pyvista/utilities/geometric_objects.py
Labels: bug-fix

#569 Add vtkExtractVOI filter
  docs/conf.py
  examples/02-plot/volume.py
  pyvista/core/filters.py
  pyvista/examples/downloads.py
  pyvista/plotting/plotting.py
  tests/test_filters.py
Labels: enhancement

#571 Update visible cell selection
  pyvista/plotting/picking.py
Labels: enhancement

#565 [BUGFIX] Properly close axes widgets
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  tests/test_plotting.py
Labels: bug-fix, priority-high

#546 Minor fixes for voxelize
  pyvista/utilities/features.py
Labels: bug-fix, enhancement

#544 Add vtkIdList converter and leverage in geodesic filter
  pyvista/core/common.py
  pyvista/core/filters.py
  pyvista/utilities/helpers.py
  tests/test_common.py
  tests/test_polydata.py
  tests/test_utilities.py
Labels: enhancement

#564 Deep copy textures in copy_meta_from
  pyvista/core/common.py
  pyvista/core/objects.py
Labels: enhancement

#389 Add prototype itkwidgets plotter
  pyvista/plotting/__init__.py
  pyvista/plotting/itkplotter.py
Labels: IPython/Jupyter, enhancement, priority-high, web

#548 Duplicated figures with BackgroundPlotter in sphinx
  pyvista/plotting/__init__.py
  pyvista/plotting/plotting.py
  pyvista/plotting/qt_plotting.py
  pyvista/plotting/renderer.py
  tests/test_qt_plotting.py
Labels: bug-fix, priority-high, proposed-change

#579 Enable Qt plotting tests on Azure
  azure-pipelines.yml
Labels: testing

#583 Consistently return actors
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
Labels: proposed-change

#582 Fix axes widget warning
  pyvista/plotting/renderer.py
Labels: bug-fix

#586 [BUGFIX] do not render before show is called
  pyvista/plotting/plotting.py
Labels: bug-fix

#584 Improve depth peeling docs and default values
  examples/02-plot/depth-peeling.py
  pyvista/examples/downloads.py
  pyvista/plotting/renderer.py
  pyvista/plotting/theme.py
Labels: enhancement

#580 Add PlotterITK examples and documentation
  docs/images/user-generated/itk_plotting_sphere.png
  docs/plotting/index.rst
  docs/plotting/itk_plotting.rst
  examples/02-plot/depth-peeling.py
  pyvista/plotting/__init__.py
  pyvista/plotting/helpers.py
  pyvista/plotting/itkplotter.py
  pyvista/utilities/errors.py
  pyvista/utilities/fileio.py
  requirements.txt
  setup.py
  tests/test_filters.py
  tests/test_itk_plotting.py
Labels: enhancement

#589 [Patch] libjpeg issues
  pyvista/utilities/fileio.py
Labels: bug-fix

#592 Improve documentation of remove_actor
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
Labels: documentation

#595 FIX: Set the _first_time variable to enable render on BackgroundPlotter
  pyvista/plotting/qt_plotting.py
Labels: bug-fix, priority-high

#587 Minor updates to opacity_transfer_function
  .github/workflows/greetings.yml
  pyvista/plotting/tools.py
Labels: documentation, enhancement

#599 Depth peeling off after VTK 8.2
  examples/02-plot/depth-peeling.py
  pyvista/plotting/theme.py
Labels: proposed-change

#596 [BUGFIX] visible cell picking with multiple meshes
  pyvista/plotting/picking.py
Labels: bug-fix, priority-high

#581 🚀 more examples for the gallery 🚀
  examples/00-load/README.rst
  examples/00-load/create-structured-surface.py
  examples/00-load/create-tri-surface.py
  examples/00-load/terrain-mesh.py
  examples/01-filter/boolean-operations.py
  examples/01-filter/cell-centers.py
  examples/01-filter/clipping-with-surface.py
  examples/01-filter/clipping.py
  examples/01-filter/compute-normals.py
  examples/01-filter/contouring.py
  examples/01-filter/distance-between-surfaces.py
  examples/01-filter/extract-edges.py
  examples/01-filter/geodesic.py
  examples/01-filter/gradients.py
  examples/01-filter/poly-ray-trace.py
  examples/01-filter/resample.py
  examples/01-filter/slicing.py
  examples/01-filter/subdivide.py
  examples/01-filter/voxelize.py
  examples/03-advanced/README.rst
  examples/03-advanced/antarctica-compare.py
  pyvista/core/filters.py
  pyvista/examples/downloads.py
  pyvista/utilities/errors.py
  pyvista/utilities/helpers.py
Labels: documentation, enhancement

#604 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: maintenance

#611 Move CI to Azure
  .ci/pyvista_test.py
  .ci/setup_headless_display.sh
  .gitignore
  .travis.yml
  CONTRIBUTING.md
  README.rst
  azure-pipelines.yml
  docs/Makefile
  docs/README.md
  docs/deploy_docs_from_travis.sh
  docs/index.rst
  pytest.ini
  pyvista/core/common.py
  pyvista/core/filters.py
  pyvista/core/objects.py
  pyvista/plotting/itkplotter.py
  pyvista/plotting/picking.py
  pyvista/utilities/helpers.py
  requirements_docs.txt
  requirements_test.txt
  tests/test_filters.py
  tests/test_itk_plotting.py
  tests/test_qt_plotting.py
Labels: testing

#612 Disable codecov status
  codecov.yml
Labels: maintenance

#613 Add Gitter badge
  README.rst
  docs/index.rst
Labels: maintenance

#610 Rename extract edges filters
  examples/01-filter/cell-centers.py
  examples/01-filter/extract-edges.py
  examples/01-filter/streamlines.py
  pyvista/core/filters.py
  tests/test_filters.py
  tests/test_grid.py
  tests/test_polydata.py
Labels: proposed-change

#609 Fix increment point size
  pyvista/plotting/plotting.py
Labels: bug-fix

#603 Fix QtInteractor and BackgroundPlotter issues
  azure-pipelines.yml
  docs/plotting/qt_plotting.rst
  pyvista/__init__.py
  pyvista/plotting/plotting.py
  pyvista/plotting/qt_plotting.py
  pyvista/plotting/renderer.py
  pyvista/utilities/errors.py
  pyvista/utilities/helpers.py
  tests/test_qt_plotting.py
Labels: bug-fix, priority-super-duper-high, review-critical

#624 ENH: Expose tip_resolution in pyvista.Arrow
  pyvista/utilities/geometric_objects.py
Labels: enhancement

#630 [doc] alert user in MP4 example
  examples/02-plot/gif.py
  examples/02-plot/movie.py
Labels: example

#621 Update to meshio > 4
  pyvista/utilities/fileio.py
  requirements_docs.txt
  requirements_test.txt
  setup.py
  tests/test_meshio.py
Labels: maintenance
