Repository pyvista/pyvista, pull requests merged in 2020-05, with the labels that each got.

#705 Ellipsoid should wrap once
  pyvista/utilities/parametric_objects.py
Labels: bug-fix

#709 Improve test_common coverage
  pyvista/core/common.py
  tests/test_common.py
Labels: testing

#711 Remove swap files
  .gitignore
  pyvista/utilities/.geometric_objects.py.swp
  tests/.test_geometric_objects.py.swp
Labels: maintenance

#693 FIX: Fix for VTK9 + PyQt5 5.13.2
  pyvista/plotting/qt_plotting.py
Labels: bug-fix

#715 Improve _make_vertice_cells performance
  pyvista/core/pointset.py
  tests/test_polydata.py
Labels: bug-fix

#659 Add DataSetAttributes
  pyvista/core/__init__.py
  pyvista/core/common.py
  pyvista/core/datasetattributes.py
  pyvista/core/objects.py
  pyvista/core/pyvista_ndarray.py
  pyvista/utilities/helpers.py
  tests/conftest.py
  tests/test_common.py
  tests/test_datasetattributes.py
  tests/test_objects.py
Labels: review-critical

#731 No More Downloads for Unit Tests
  examples/01-filter/streamlines.py
  tests/test_filters.py
Labels: testing

#719 Refactor/Move qt_plotting to pyvista_qt
  docs/getting-started/installation.rst
  docs/images/user-generated/qt_plotting_sphere.png
  docs/plotting/index.rst
  docs/plotting/qt_plotting.rst
  pyvista/plotting/__init__.py
  pyvista/plotting/plotting.py
  pyvista/plotting/qt_plotting.py
  pyvista/utilities/errors.py
  requirements_docs.txt
  requirements_test.txt
  tests/test_qt_plotting.py
Labels: review-critical

#768 FIX: except statement did not catch exception changed in #765
  pyvista/utilities/fileio.py
Labels: bug-fix, priority-high

#696 Subplot groups
  examples/02-plot/multi-window.py
  pyvista/plotting/plotting.py
  tests/test_plotting.py
Labels: enhancement
