Repository pyvista/pyvista, pull requests merged in 2021-05, with the labels that each got.

#1292 DOC: Fix citation bibtex entry and spell out two authors
  CITATION.rst
Labels: documentation

#1298 🐛 Fix: sampling arc angle and resolution
  pyvista/core/filters.py
  pyvista/utilities/geometric_objects.py
  tests/test_filters.py
Labels: bug

#1326 Add local fixtures in test_polydata
  tests/test_polydata.py
Labels: testing
