Repository pyvista/pyvista, pull requests merged in 2021-11, with the labels that each got.

#1740 Fix `find_closest_cell` not finding closest cells
  pyvista/_vtk.py
  pyvista/core/dataset.py
  tests/test_common.py
Labels: bug

#1723 Add plot to glyphs example
  pyvista/demos/demos.py
Labels: documentation

#1788 Skip link_views on windows
  pyvista/core/dataset.py
  tests/plotting/test_plotting.py
Labels: ignore-for-release

#1836 Add transparency and double side for pythreejs backend
  pyvista/jupyter/pv_pythreejs.py
Labels: bug

#1720 Fix PolyData inplace merge
  pyvista/core/filters/poly_data.py
  tests/test_polydata.py
Labels: bug

#1843 ✏️ Fix docstring
  pyvista/plotting/renderer.py
  pyvista/plotting/tools.py
Labels: documentation

#1851 Clean up the examples
  examples/01-filter/clipping-with-surface.py
  examples/01-filter/gaussian-smoothing.py
  examples/01-filter/geodesic.py
  examples/01-filter/interpolate.py
  examples/01-filter/resample.py
  examples/01-filter/rotate.py
  examples/01-filter/streamlines_2D.py
  examples/02-plot/isovalue.py
  examples/02-plot/linked.py
Labels: documentation

#1850 Implement __iadd__ for meshes
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
Labels: enhancement

#1811 Fix MultiBlock Slicing and equality
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  tests/test_composite.py
Labels: bug, bug-fix

#1838 Fix greetings ci for PRs
  .github/workflows/greetings.yml
Labels: ignore-for-release

#1852 🐛 DataSetAttribute should return string array
  pyvista/core/datasetattributes.py
  tests/test_datasetattributes.py
Labels: bug

#1844 Add support for vtkSuperquadric
  doc/api/utilities/geometric.rst
  doc/api/utilities/parametric.rst
  pyvista/_vtk.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/parametric_objects.py
  tests/test_geometric_objects.py
Labels: enhancement

#1872 Add glyph's docstring and test
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: documentation, maintenance

#1895 Speed up pytest collection using testpaths
  pytest.ini
Labels: ignore-for-release

#1881 Fix interpolate example
  examples/01-filter/interpolate.py
Labels: documentation
