Repository pyvista/pyvista, pull requests merged in 2021-12, with the labels that each got.

#1915 Reset theme in sphinx gallery and reset before and after examples
  doc/conf.py
  requirements_docs.txt
Labels: documentation

#1916 📝Update version of CODE_OF_CONDUCT.
  CODE_OF_CONDUCT.md
  README.rst
Labels: documentation

#1899 add camera orientation widget
  doc/api/utilities/utilities.rst
  pyvista/__init__.py
  pyvista/_vtk.py
  pyvista/plotting/plotting.py
  pyvista/plotting/widgets.py
  pyvista/themes.py
  pyvista/utilities/misc.py
  tests/__init__.py
  tests/test_utilities.py
  tests/test_widgets.py
Labels: enhancement

#1917 📝Fix [INSERT CONTACT METHOD]
  CODE_OF_CONDUCT.md
Labels: documentation

#1911 FIX: Bump version
  pyvista/_version.py
Labels: maintenance

#1805 Remove O(n) searches triggering expensive equality testing in MultiBlock creation and lookups
  pyvista/core/composite.py
  tests/test_composite.py
Labels: bug, bug-fix, priority-high, review-critical

#1867 Optionally run osmnx-example
  doc/conf.py
Labels: bug

#1876 Support in-memeory screenshot
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: enhancement

#1874 Make reconstruct_surface a PolyDataFilter
  examples/01-filter/surface_reconstruction.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/filters/unstructured_grid.py
  tests/test_filters.py
Labels: proposed-change, bug-fix

#1952 disable warning when using pythreejs backend
  pyvista/plotting/plotting.py
Labels: bug

#1942 Use custom VTK with OSMesa wheel to build the docs
  Makefile
  azure-pipelines.yml
  doc/conf.py
  examples/01-filter/extract-edges.py
Labels: documentation

#1939 make meshio an optional dependency
  pyvista/core/filters/unstructured_grid.py
  pyvista/utilities/errors.py
  pyvista/utilities/fileio.py
  requirements_test.txt
  setup.py
Labels: maintenance

#1954 move doc coverage to makefile and out of pipeline
  Makefile
  azure-pipelines.yml
Labels: maintenance

#1432 Charts
  .gitignore
  AUTHORS.rst
  doc/api/plotting/charts/index.rst
  doc/api/plotting/index.rst
  doc/api/utilities/utilities.rst
  doc/conf.py
  doc/make_chart_style_tables.py
  examples/02-plot/chart_basics.py
  examples/02-plot/chart_overlays.py
  ignore_words.txt
  pyvista/_vtk.py
  pyvista/core/objects.py
  pyvista/plotting/__init__.py
  pyvista/plotting/charts.py
  pyvista/plotting/lights.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/tools.py
  pyvista/themes.py
  tests/plotting/image_cache/chart_plot.png
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/test_objects.py
Labels: enhancement

#1685 add split sharp edges
  examples/02-plot/shading.py
  pyvista/core/filters/data_set.py
  pyvista/examples/examples.py
  pyvista/examples/nut.ply
  pyvista/plotting/_plotting.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/tools.py
  setup.py
  tests/plotting/image_cache/opacity_by_array_direct.png
  tests/plotting/image_cache/splitting.png
  tests/plotting/test_plotting.py
  tests/test_examples.py
  tests/test_plotter.py
Labels: enhancement

#1783 Add make uniform grid class init more explicit
  doc/user-guide/data_model.rst
  doc/user-guide/vtk_to_pyvista.rst
  examples/01-filter/flying_edges.py
  examples/01-filter/streamlines.py
  pyvista/core/dataobject.py
  pyvista/core/filters/data_set.py
  pyvista/core/grid.py
  pyvista/core/objects.py
  pyvista/demos/demos.py
  pyvista/plotting/widgets.py
  pyvista/utilities/helpers.py
  tests/test_common.py
  tests/test_filters.py
  tests/test_grid.py
Labels: documentation

#1908 Ignore the window when picking points
  examples/02-plot/point-picking.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  tests/test_picking.py
  tests/test_plotter.py
Labels: feature-request

#1750 ScalarBars.add_scalar_bar: correct annotation text scaling setting, when fixed font size is given
  pyvista/plotting/scalar_bars.py
  tests/plotting/image_cache/fixed_font_size_annotation_text_scaling_off.png
  tests/plotting/test_plotting.py
Labels: bug

#1684 add manifold check
  pyvista/core/pointset.py
  tests/test_filters.py
Labels: enhancement

#1860 Make sure inplace never defaults to True
  doc/api/core/camera.rst
  doc/api/core/lights.rst
  doc/api/core/pointsets.rst
  doc/user-guide/jupyter/index.rst
  doc/user-guide/optional_features.rst
  examples/00-load/create-explicit-structured-grid.py
  examples/00-load/create-pixel-art.py
  examples/00-load/create-platonic-solids.py
  examples/00-load/create-structured-surface.py
  examples/01-filter/clipping.py
  examples/01-filter/collisions.py
  examples/01-filter/distance-between-surfaces.py
  examples/01-filter/extract-cells-inside-surface.py
  examples/01-filter/rotate.py
  examples/02-plot/logo.py.old
  examples/02-plot/pbr.py
  examples/04-lights/actors.py
  examples/04-lights/beam_shape.py
  examples/04-lights/light_types.py
  examples/04-lights/mesh_lighting.py
  examples/04-lights/shadows.py
  examples/99-advanced/extending-pyvista.py
  examples/99-advanced/warp-by-vector-eigenmodes.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/pointset.py
  pyvista/demos/demos.py
  pyvista/demos/logo.py
  pyvista/utilities/errors.py
  pyvista/utilities/geometric_objects.py
  requirements_static.txt
  tests/test_common.py
  tests/test_filters.py
  tests/test_grid.py
  tests/test_utilities.py
Labels: bug, review-critical

#1964 refactor to warn on int usage
  doc/api/core/pointsets.rst
  examples/01-filter/glyphs_table.py
  pyvista/core/filters/poly_data.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/demos/demos.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/utilities/helpers.py
  tests/conftest.py
  tests/plotting/test_plotting.py
  tests/test_common.py
  tests/test_filters.py
  tests/test_grid.py
  tests/test_picking.py
  tests/test_polydata.py
  tests/test_renderer.py
Labels: enhancement
