Repository pyvista/pyvista, pull requests merged in 2022-10, with the labels that each got.

#3397 Fix typo
  examples/02-plot/lookup-table.py
  pyvista/plotting/lookup_table.py
Labels: documentation

#3390 Add lookup table opacity
  pyvista/plotting/_plotting.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/tools.py
  tests/test_lookup_table.py
Labels: enhancement

#3399 Fix the error of fmt in add_point_scalar_labels method.
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/add_point_scalar_labels_fmt.png
  tests/plotting/test_plotting.py
Labels: bug, Hacktoberfest-accepted

#3393 Use PyVista start headless display action
  .github/workflows/style_docstr.yml
Labels: maintenance

#3218 Use pooch
  .github/workflows/docs.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  CONTRIBUTING.rst
  doc/api/examples/index.rst
  examples/00-load/load-gltf.py
  examples/00-load/read-dolfin.py
  examples/99-advanced/add-example.py
  pytest.ini
  pyvista/__init__.py
  pyvista/examples/__init__.py
  pyvista/examples/downloads.py
  pyvista/examples/gltf.py
  pyvista/examples/hdr.py
  pyvista/examples/vrml.py
  pyvista/utilities/reader.py
  requirements_test.txt
  setup.py
  tests/conftest.py
  tests/examples/test_download_files.py
  tests/examples/test_downloads.py
  tests/examples/test_examples.py
  tests/plotting/test_plotting.py
  tests/utilities/test_reader.py
Labels: enhancement, maintenance

#3395 Improve PointSet class testing
  tests/test_pointset.py
Labels: maintenance, Hacktoberfest-accepted

#3402 Minor cleanup of lookup table opacity
  pyvista/plotting/lookup_table.py
  pyvista/plotting/tools.py
  tests/plotting/test_plotting.py
  tests/test_lookup_table.py
  tests/test_utilities.py
Labels: bug, maintenance, Hacktoberfest-accepted

#3159 Migrating from sphinx-panels to sphinx-design
  doc/_static/cards.css
  doc/api/core/index.rst
  doc/api/index.rst
  doc/api/plotting/index.rst
  doc/api/utilities/index.rst
  doc/conf.py
  doc/getting-started/index.rst
  doc/getting-started/installation.rst
  doc/getting-started/why.rst
  doc/images/user-generated/joss.png
  doc/make_external_gallery.py
  requirements_docs.txt
Labels: maintenance, dependencies

#3410 Delete sidebar-nav-bs.html
  doc/_templates/sidebar-nav-bs.html
Labels: documentation

#3396 Add force_float test (pyvista#3333)
  tests/test_helpers.py
Labels: maintenance, Hacktoberfest-accepted

#3409 add use all points to the extract edges filter
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: enhancement, documentation, Hacktoberfest-accepted

#3424 Remove pip cache in docker-package.yml
  .github/workflows/docker-package.yml
Labels: maintenance, Hacktoberfest-accepted

#3419 Fix the format of document
  examples/99-advanced/add-example.py
Labels: documentation, Hacktoberfest-accepted

#3408 Add new type to add_point_scalar_labels
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/add_point_scalar_labels_list.png
  tests/plotting/test_plotting.py
Labels: enhancement, Hacktoberfest-accepted

#3361 Triangulate for voxelization to prevent some artifacts
  pyvista/utilities/features.py
  tests/test_utilities.py
Labels: bug

#3135 Add support for backface properties
  .codespellrc
  examples/02-plot/backface_props.py
  examples/99-advanced/sphere_eversion.py
  pyvista/plotting/actor.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/backface_params.png
  tests/plotting/test_plotting.py
Labels: enhancement, documentation

#3391 Add other views to `Camera.tight`
  pyvista/plotting/camera.py
  pyvista/plotting/helpers.py
  pyvista/plotting/renderer.py
  tests/plotting/conftest.py
  tests/plotting/image_cache/tight_direction[False-xy].png
  tests/plotting/image_cache/tight_direction[False-xz].png
  tests/plotting/image_cache/tight_direction[False-yx].png
  tests/plotting/image_cache/tight_direction[False-yz].png
  tests/plotting/image_cache/tight_direction[False-zx].png
  tests/plotting/image_cache/tight_direction[False-zy].png
  tests/plotting/image_cache/tight_direction[True-xy].png
  tests/plotting/image_cache/tight_direction[True-xz].png
  tests/plotting/image_cache/tight_direction[True-yx].png
  tests/plotting/image_cache/tight_direction[True-yz].png
  tests/plotting/image_cache/tight_direction[True-zx].png
  tests/plotting/image_cache/tight_direction[True-zy].png
  tests/plotting/image_cache/tight_multiple_objects.png
  tests/plotting/image_cache/view_xyz[False-xy].png
  tests/plotting/image_cache/view_xyz[False-xz].png
  tests/plotting/image_cache/view_xyz[False-yx].png
  tests/plotting/image_cache/view_xyz[False-yz].png
  tests/plotting/image_cache/view_xyz[False-zx].png
  tests/plotting/image_cache/view_xyz[False-zy].png
  tests/plotting/image_cache/view_xyz[True-xy].png
  tests/plotting/image_cache/view_xyz[True-xz].png
  tests/plotting/image_cache/view_xyz[True-yx].png
  tests/plotting/image_cache/view_xyz[True-yz].png
  tests/plotting/image_cache/view_xyz[True-zx].png
  tests/plotting/image_cache/view_xyz[True-zy].png
  tests/plotting/test_helpers.py
  tests/plotting/test_plotting.py
Labels: enhancement

#3421 Pass kwargs to create_axes_marker
  doc/api/plotting/conv_func.rst
  doc/api/plotting/index.rst
  doc/api/utilities/utilities.rst
  pyvista/plotting/renderer.py
  pyvista/plotting/tools.py
  tests/plotting/test_plotting.py
Labels: bug, documentation, Hacktoberfest-accepted

#3412 Rename pass_cell_arrays and pass_point_arrays in methods of DataSetFilters
  pyvista/core/filters/data_set.py
Labels: Hacktoberfest-accepted, data-arrays

#3444 Specify optional parameters in mapper.py and plotting.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
Labels: Hacktoberfest-accepted

#3449 Fix error message in `set_active_time_value`
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: bug

#3448 Add constrained triangulation example
  pyvista/core/filters/poly_data.py
Labels: documentation, Hacktoberfest-accepted

#2898 implement gaussian_points representation style
  examples/02-plot/point-clouds.py
  pyvista/_vtk.py
  pyvista/examples/downloads.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  tests/examples/test_download_files.py
  tests/mappers/test_composite_mapper.py
  tests/mappers/test_gaussian_mapper.py
  tests/mappers/test_mapper.py
  tests/plotting/image_cache/plot_points_gaussian.png
  tests/plotting/image_cache/plot_points_gaussian_as_spheres.png
  tests/plotting/image_cache/plot_points_gaussian_scalars.png
  tests/plotting/test_plotting.py
  tests/test_plotter.py
Labels: enhancement

#3455 fix dataset mapper copy docstring
  doc/conf.py
  pyvista/plotting/mapper.py
Labels: documentation

#3456 remove unused arg
  pyvista/plotting/plotting.py
Labels: bug

#3459 Improve main landing page
  doc/_static/pyvista_logo.png
  doc/index.rst
  pyvista/examples/downloads.py
Labels: documentation

#3464 Fix small typo
  examples/02-plot/point-clouds.py
  pyvista/examples/downloads.py
Labels: documentation

#3462 Set stereo type before turning on stereo
  pyvista/plotting/plotting.py
Labels: bug, Hacktoberfest-accepted

#3507 Quick spelling fix
  doc/api/index.rst
Labels: documentation

#3500 Small fix of the docstring
  pyvista/plotting/plotting.py
Labels: documentation, Hacktoberfest-accepted

#3512 Patch default scalars plotting edge case
  pyvista/__init__.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
Labels: bug

#3329 [maint] update conda environment
  environment.yml
Labels: maintenance, dependencies

#3515 Fix issues with cell picking
  pyvista/plotting/picking.py
  tests/test_picking.py
Labels: bug

#3516 Add slice_implicit filter for slicing with arbitrary implicit functions: spheres, cylinders, etc
  pyvista/core/filters/data_set.py
Labels: enhancement, Hacktoberfest-accepted

#3521 Polyhedron examples and unit test
  doc/user-guide/data_model.rst
  examples/00-load/create-polyhedron.py
  tests/test_grid.py
Labels: documentation
