Repository pyvista/pyvista, pull requests merged in 2022-05, with the labels that each got.

#2530 Update OpenFOAM example to reuse Reader
  examples/99-advanced/openfoam-example.py
Labels: documentation, maintenance

#2534 Make intersphinx update script more robust
  doc/conf.py
  doc/intersphinx/imageio-objects.inv
  doc/intersphinx/matplotlib-objects.inv
  doc/intersphinx/pandas-objects.inv
  doc/intersphinx/pytest-objects.inv
  doc/intersphinx/python-objects.inv
  doc/intersphinx/scipy-objects.inv
  doc/intersphinx/update.sh
Labels: documentation, maintenance

#2549 Update checkbox-widget.py
  examples/03-widgets/checkbox-widget.py
Labels: bug, documentation

#2553 added documentation for getting started with wsl2 on windows
  doc/getting-started/installation.rst
Labels: documentation

#2551 Added example for show_axes_all
  pyvista/plotting/plotting.py
Labels: documentation

#2546 add example for Plotter.bounds
  pyvista/plotting/plotting.py
Labels: documentation

#2525 Maint/fix numpydoc validation regexen
  doc/conf.py
Labels: documentation, maintenance

#2563 Added decompose_polyhedra property in OpenFOAMReader
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: enhancement

#2569 fix widget garbage collection
  doc/conf.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/widgets.py
  tests/plotting/test_widgets.py
Labels: bug

#2474 Set default scalars for filters
  pyvista/core/filters/data_set.py
  pyvista/core/filters/uniform_grid.py
  pyvista/utilities/helpers.py
  tests/test_filters.py
  tests/test_helpers.py
Labels: maintenance

#2552 add dynamic flask example
  .gitignore
  .pre-commit-config.yaml
  doc/extras/flask.rst
  doc/images/gifs/dynamic_flask.gif
  examples_flask/dynamic_ex/app.py
  examples_flask/dynamic_ex/requirements.txt
  examples_flask/dynamic_ex/templates/index.html
  examples_flask/static_ex/app.py
  examples_flask/static_ex/requirements.txt
  examples_flask/static_ex/templates/index.html
  pyvista/plotting/plotting.py
Labels: enhancement, documentation

#2547 add clip box example to docstring
  pyvista/plotting/widgets.py
Labels: documentation

#2571 Add ".xyz" extension to PointSet.save
  pyvista/_vtk.py
  pyvista/core/pointset.py
  tests/test_pointset.py
Labels: enhancement

#2597 Add warning to threshold that it's a cell filter
  pyvista/core/filters/data_set.py
Labels: documentation

#2586 Small change to avoid raising exception
  pyvista/__init__.py
Labels: enhancement

#2601 Add issue forms
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/maintenance-request.md
  .github/ISSUE_TEMPLATE/maintenance-request.yml
Labels: maintenance

#2585 Fix imports of vtkExtractEdges and vtkCellTreeLocator
  pyvista/_vtk.py
Labels: maintenance

#2575 Add split sharp edges to theme
  pyvista/conftest.py
  pyvista/plotting/plotting.py
  pyvista/themes.py
  tests/test_theme.py
Labels: enhancement

#2670 Fix `all_scalars` usage in `threshold`
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: bug

#2683 Include MultipleLines in documentation
  doc/api/utilities/geometric.rst
  pyvista/utilities/geometric_objects.py
Labels: bug, documentation

#2685 Fix typo
  pyvista/plotting/camera.py
Labels: bug

#2684 Add .git-blame-ignore-revs file with black PR commit
  .git-blame-ignore-revs
Labels: maintenance

#2570 Remove documentation for widget helper
  doc/api/plotting/index.rst
  examples/03-widgets/box-widget.py
  examples/03-widgets/checkbox-widget.py
  examples/03-widgets/line-widget.py
  examples/03-widgets/plane-widget.py
  examples/03-widgets/slider-bar-widget.py
  examples/03-widgets/sphere-widget.py
  examples/03-widgets/spline-widget.py
Labels: documentation

#2561 Use Readers in fileio module
  doc/api/readers/index.rst
  pyvista/utilities/__init__.py
  pyvista/utilities/fileio.py
  pyvista/utilities/reader.py
  tests/test_utilities.py
  tests/utilities/test_reader.py
Labels: maintenance

#2708 Fix generate_cell_offsets test
  tests/test_utilities.py
Labels: bug

#2709 Add a note in regards to issues when installing pre-commit
  CONTRIBUTING.rst
Labels: documentation

#2698 No copy init for StructuredGrid and RectilinearGrid
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/utilities/helpers.py
  pyvista/utilities/misc.py
  tests/test_create_no_copy.py
  tests/test_utilities.py
Labels: enhancement

#2451 Add import/export VRML
  examples/00-load/load-vrml.py
  pyvista/examples/__init__.py
  pyvista/examples/vrml.py
  pyvista/plotting/plotting.py
  tests/example_files/Box.wrl
  tests/plotting/image_cache/import_vrml.png
  tests/plotting/test_plotting.py
  tests/test_examples.py
Labels: enhancement
