Repository pyvista/pyvista, pull requests merged in 2022-09, with the labels that each got.

#3255 CI: Workflow to test downstream packages starting with MNE
  .github/workflows/integration-tests.yml
Labels: testing, maintenance

#2881 Update vtkThreshold API usage
  pyvista/core/filters/data_set.py
  pyvista/plotting/widgets.py
Labels: bug

#3115 Add CellType enumerate class
  doc/api/core/pointsets.rst
  examples/00-load/create-unstructured-surface.py
  examples/01-filter/extract-surface.py
  pyvista/_vtk.py
  pyvista/core/__init__.py
  pyvista/core/cell.py
  pyvista/core/pointset.py
  tests/test_cells.py
Labels: enhancement

#3266 Prevent warning in polystrips example coming from extrude
  pyvista/core/pointset.py
Labels: bug, documentation

#3245 Fix Plotter garbage collection
  pyvista/ext/plot_directive.py
  pyvista/plotting/charts.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  pyvista/plotting/scalar_bars.py
  pyvista/utilities/helpers.py
  pyvista/utilities/sphinx_gallery.py
  tests/test_scraper.py
Labels: bug, dependencies

#3264 Add the example of "Add labels to cells"
  examples/01-filter/cell-centers.py
Labels: documentation

#3285 Use stable version python for intersphinx links
  doc/conf.py
  doc/intersphinx/update.sh
Labels: documentation, maintenance

#3259 Add linear cells example
  doc/api/core/pointsets.rst
  doc/api/examples/index.rst
  examples/00-load/create-unstructured-surface.py
  examples/00-load/linear-cells.py
  pyvista/core/pointset.py
  pyvista/examples/__init__.py
  pyvista/examples/cells.py
  pyvista/plotting/plotting.py
  tests/examples/test_cells.py
  tests/examples/test_downloads.py
  tests/examples/test_examples.py
  tests/plotting/image_cache/plot_cell.png
  tests/plotting/test_plotting.py
Labels: enhancement, documentation

#3291 Clean up CI job conditions to prevent PRs on forks
  .github/workflows/greetings.yml
  .github/workflows/intersphinx-update-pull-request.yml
  .github/workflows/merge-me.yml
  .github/workflows/pre-commit-update.yml
Labels: maintenance

#3300 use apt-pkgs v1.1.1
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#3287 set active scalars to be visible in collision example
  examples/01-filter/collisions.py
Labels: bug, documentation

#3284 Add support for NIFTI files with .nii and .nii.gz extensions.
  doc/api/readers/index.rst
  pyvista/_vtk.py
  pyvista/examples/downloads.py
  pyvista/utilities/__init__.py
  pyvista/utilities/fileio.py
  pyvista/utilities/reader.py
  tests/examples/test_examples.py
  tests/test_utilities.py
  tests/utilities/test_reader.py
Labels: enhancement

#3296 fix wireframe color
  pyvista/plotting/_property.py
  tests/plotting/image_cache/wireframe_color.png
  tests/plotting/test_plotting.py
Labels: bug

#3295 Add PyViewFactor to Connections
  doc/getting-started/connections.rst
Labels: documentation

#3310 [HOTFIX] Interactive plotter callback errors
  pyvista/plotting/render_window_interactor.py
Labels: bug

#3327 Remove .codeclimate.yml
  .codeclimate.yml
Labels: maintenance

#3267 Add dev Gitpod support
  .gitpod.yml
  CONTRIBUTING.rst
  docker/dev-gitpod.Dockerfile
Labels: docker

#3311 FIX: Wrap vtkPointSet
  pyvista/core/pointset.py
  pyvista/plotting/plotting.py
  pyvista/utilities/wrappers.py
  tests/plotting/image_cache/pointset_plot_as_points_vtk.png
  tests/plotting/image_cache/pointset_plot_vtk.png
  tests/plotting/test_plotting.py
  tests/test_helpers.py
  tests/test_pointset.py
Labels: bug

#3230 Rename method: overwrite -> copy_from
  examples/02-plot/isovalue.py
  examples/02-plot/mesh-picking.py
  examples/02-plot/movie_glyphs.py
  examples/03-widgets/multi-slider-widget.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  tests/test_dataset.py
Labels: enhancement, documentation, deprecation

#3321 Move utility methods out of core subpackage
  doc/api/core/misc.rst
  doc/conf.py
  examples/01-filter/image-fft-perlin-noise.py
  examples/01-filter/sampling_functions_2d.py
  examples/01-filter/sampling_functions_3d.py
  pyvista/core/__init__.py
  pyvista/core/common_data.py
  pyvista/core/dataset.py
  pyvista/core/filters/uniform_grid.py
  pyvista/core/imaging.py
  pyvista/utilities/__init__.py
  pyvista/utilities/arrays.py
  pyvista/utilities/common.py
  pyvista/utilities/geometric_objects.py
  tests/utilities/test_common.py
Labels: documentation, maintenance

#3332 Create Mapper and Actor classes
  doc/api/plotting/index.rst
  pyvista/_vtk.py
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/__init__.py
  pyvista/plotting/_property.py
  pyvista/plotting/actor.py
  pyvista/plotting/axes.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/tools.py
  tests/plotting/image_cache/plot_actor.png
  tests/plotting/test_plotting.py
  tests/test_actor.py
  tests/test_mapper.py
Labels: documentation

#3341 Fix typo
  pyvista/core/pointset.py
  pyvista/plotting/actor.py
  pyvista/plotting/helpers.py
  pyvista/plotting/renderer.py
Labels: documentation

#2994 3D Celestial Bodies (planet3D)
  doc/api/examples/index.rst
  doc/user-guide/jupyter/panel.rst
  examples/99-advanced/planets.py
  pyvista/examples/__init__.py
  pyvista/examples/downloads.py
  pyvista/examples/planets.py
  pyvista/utilities/reader.py
  tests/examples/test_downloads.py
  tests/examples/test_examples.py
  tests/utilities/test_reader.py
Labels: enhancement, documentation, scipy2022

#3336 Wrap the lookup table
  doc/api/plotting/index.rst
  examples/02-plot/lookup-table.py
  pyvista/examples/downloads.py
  pyvista/plotting/__init__.py
  pyvista/plotting/_property.py
  pyvista/plotting/actor.py
  pyvista/plotting/charts.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/scalar_bars.py
  pyvista/plotting/widgets.py
  pyvista/themes.py
  pyvista/utilities/misc.py
  tests/examples/test_examples.py
  tests/plotting/image_cache/closing_and_mem_cleanup.png
  tests/plotting/image_cache/lookup_table.png
  tests/plotting/image_cache/plot_categories_int.png
  tests/plotting/image_cache/plot_categories_true.png
  tests/plotting/image_cache/plot_composite_lookup_table.png
  tests/plotting/image_cache/plotter_lookup_table.png
  tests/plotting/image_cache/plotter_volume_lookup_table.png
  tests/plotting/image_cache/volume_rendering_from_plotter.png
  tests/plotting/test_plotting.py
  tests/plotting/test_widgets.py
  tests/test_actor.py
  tests/test_composite_mapper.py
  tests/test_lookup_table.py
  tests/test_mapper.py
  tests/test_theme.py
Labels: enhancement, documentation
