Repository pyvista/pyvista, pull requests merged in 2022-02, with the labels that each got.

#2129 fix codacy badge
  README.rst
  doc/index.rst
Labels: maintenance

#2137 Use `python -m pip` in windows ci
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#2070 Reduce redundant code by adding helper _coerce_points_like_arg
  pyvista/_typing.py
  pyvista/core/dataset.py
  pyvista/utilities/common.py
  tests/test_dataset.py
  tests/utilities/test_common.py
Labels: maintenance

#2143 Fix label mismatch of bug-fix and bug
  .github/workflows/label.yml
Labels: maintenance

#2146 Remove dependabot automerge
  .github/workflows/auto-merge.yml
Labels: maintenance

#2106 Use new cross-platform Action to setup headless display
  .ci/pyvista_test.py
  .ci/setup_headless_display.sh
  .github/workflows/testing-and-deployment.yml
  doc/getting-started/installation.rst
Labels: maintenance

#2139 Fix usage of assert in production code
  pyvista/plotting/charts.py
Labels: bug

#2136 Hopf torus
  examples/02-plot/moving_cmap.py
Labels: documentation

#2148 Minor fix typo
  doc/getting-started/installation.rst
Labels: documentation

#2135 Update ipyvtklink docs
  doc/user-guide/jupyter/ipyvtk_plotting.rst
Labels: documentation

#2151 add build instructions for EGL
  doc/extras/building_vtk.rst
Labels: documentation

#2161 Fix Syntax error in _toggle_context_style
  pyvista/plotting/render_window_interactor.py
Labels: bug

#2150 Feat/add median filter
  pyvista/_vtk.py
  pyvista/core/filters/uniform_grid.py
  tests/test_filters.py
Labels: enhancement

#2162 fix ci report
  .github/workflows/testing-and-deployment.yml
  pyvista/plotting/charts.py
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/test_renderer.py
Labels: maintenance

#2110 Merge duplicate CONTRIBUTING contents
  CONTRIBUTING.md
  CONTRIBUTING.rst
  doc/extras/developer_notes.rst
Labels: documentation

#2173 Fix broken link to contributing guide in documents
  CONTRIBUTING.rst
  README.rst
  doc/conf.py
  doc/getting-started/installation.rst
Labels: documentation

#2176 add merge to utilities
  pyvista/utilities/features.py
  tests/test_utilities.py
Labels: enhancement

#2174 Feat/add image threshold
  pyvista/_vtk.py
  pyvista/core/filters/uniform_grid.py
  tests/test_filters.py
Labels: enhancement

#2177 Improve comparison language
  CONTRIBUTING.rst
  README.rst
  doc/getting-started/authors.rst
  doc/index.rst
  doc/user-guide/vtk_to_pyvista.rst
Labels: documentation

#2196 Fix Install OS Packages error
  .github/workflows/docs.yml
Labels: maintenance

#2200 Update link to CONTRIBUTING.rst in greetings action
  .github/workflows/greetings.yml
Labels: maintenance

#2212 Fix operater space by black version 22.1.0
  examples/00-load/create-kochanek-spline.py
  examples/00-load/create-spline.py
  examples/00-load/create-structured-surface.py
  examples/01-filter/slicing.py
  examples/02-plot/chart_basics.py
  examples/02-plot/gif.py
  examples/02-plot/moving_cmap.py
  examples/02-plot/spherical.py
  examples/02-plot/texture.py
  examples/04-lights/beam_shape.py
  pyvista/demos/demos.py
  pyvista/examples/examples.py
  pyvista/utilities/geometric_objects.py
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/test_parametric_geometry.py
  tests/test_polydata.py
  tests/test_utilities.py
Labels: maintenance

#2213 Add flake8-black to dependencies
  requirements_style.txt
Labels: maintenance, dependencies

#2234 Add Maintenance Request template
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/maintenance-request.md
Labels: maintenance

#2218 Create CITATION.cff
  CITATION.cff
  CITATION.rst
  README.rst
  joss/paper.md
Labels: documentation

#2241 Fix CONTRIBUTING.rst and mention black
  CONTRIBUTING.rst
Labels: documentation

#2243 fix f-string
  pyvista/plotting/tools.py
Labels: bug

#2172 add merge_points argument to add_mesh_clip_box
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
  pyvista/plotting/widgets.py
  tests/test_filters.py
  tests/test_widgets.py
Labels: enhancement

#2244 Fix CONTRIBUTING.rst some more
  CONTRIBUTING.rst
Labels: documentation

#2192 Add sphinx extension viewcode
  doc/conf.py
Labels: documentation

#2164 Add tessellate filter
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: enhancement

#1716 🌇 Sunset of Python3.6
  .github/dependabot.yml
  .github/workflows/testing-and-deployment.yml
  README.rst
  doc/extras/building_vtk.rst
  doc/getting-started/installation.rst
  requirements_test.txt
  setup.py
Labels: maintenance

#2256 ignore mappers not containing datasets
  pyvista/jupyter/pv_pythreejs.py
  tests/jupyter/test_pythreejs.py
Labels: bug

#2250 ENH: Sandbox the GPU info request
  pyvista/utilities/errors.py
Labels: enhancement
