Repository pyvista/pyvista, pull requests merged in 2022-07, with the labels that each got.

#2904 Add `py.typed` Marker
  MANIFEST.in
  pyvista/py.typed
  setup.py
Labels: maintenance

#2917 Handle invalid theme on init
  pyvista/__init__.py
  pyvista/utilities/misc.py
  tests/utilities/test_misc.py
Labels: bug

#2911 Update information on the release
  CONTRIBUTING.rst
Labels: documentation

#2907 Add setup and teardown functionality to plot_directive
  doc/conf.py
  doc/extras/plot_directive.rst
  pyvista/ext/plot_directive.py
  tests/tinypages/conf.py
Labels: enhancement, documentation

#2934 Fix all-triangles checking for polyfilters
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
  tests/test_polydata.py
Labels: bug

#2943 Improve ChartMPL performance
  pyvista/plotting/charts.py
Labels: bug

#2908 Fix two minor issues causing noise in docs or doc build
  pyvista/plotting/renderers.py
  pyvista/utilities/fileio.py
Labels: maintenance

#2950 Fix add_mesh_slice_orthogonal() when a name is passed
  pyvista/plotting/widgets.py
Labels: bug

#2905 Add method to check if point is inside cell
  pyvista/core/dataset.py
  pyvista/utilities/common.py
  pyvista/utilities/geometric_objects.py
  tests/test_dataset.py
  tests/utilities/test_common.py
Labels: enhancement

#2966 Delete whitespaces in rst files under doc directory
  doc/_templates/custom-module-template.rst
  doc/api/core/helpers.rst
  doc/extras/vtk_data.rst
  doc/user-guide/data_model.rst
Labels: documentation

#2976 [BUG] Fix clearing point and cell data
  pyvista/plotting/plotting.py
  tests/test_plotter.py
Labels: bug

#2969 add more mount damavand examples
  pyvista/examples/downloads.py
  tests/test_examples.py
Labels: enhancement

#2990 Use Python 3.9 for codecov
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#2984 Add particles dataset to downloads
  pyvista/examples/downloads.py
  tests/test_examples.py
Labels: enhancement

#2981 Add movie glyphs example
  examples/02-plot/movie_glyphs.py
Labels: documentation

#2996 Fix texture docstring
  pyvista/plotting/plotting.py
Labels: bug

#2997 Fixed docstring explanation for curvature function
  pyvista/core/filters/poly_data.py
Labels: bug

#3001 Use Set method insted of On and Off method
  pyvista/core/filters/data_set.py
  pyvista/core/filters/uniform_grid.py
  pyvista/plotting/renderer.py
  pyvista/plotting/scalar_bars.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/reader.py
Labels: bug

#2980 Fix active plotting scalars for multi-plots
  pyvista/core/datasetattributes.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/utilities/helpers.py
  tests/jupyter/test_pythreejs.py
  tests/plotting/image_cache/multi_plot_scalars.png
  tests/plotting/test_collection.py
  tests/plotting/test_plotting.py
  tests/test_plotter.py
  tests/test_utilities.py
Labels: bug

#3005 Add example remove_scalar_bar( )
  pyvista/plotting/scalar_bars.py
Labels: bug, documentation, scipy2022

#3006 remove code of conduct checkbox
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/maintenance-request.yml
Labels: documentation, maintenance, scipy2022

#3004 Specify in CONTRIBUTING.rst use of NumPy docstrings
  CONTRIBUTING.rst
Labels: documentation, maintenance, scipy2022

#2999 Removing docstring and return statement
  pyvista/_vtk.py
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: bug, documentation, scipy2022

#2991 Clear charts when clearing plotters
  pyvista/plotting/charts.py
  pyvista/plotting/renderer.py
  tests/test_charts.py
Labels: bug

#3011 Resolve issues with scalars in cell_data_to_point_data API docs
  pyvista/core/filters/data_set.py
Labels: bug, scipy2022

#2967 Fix pyvista.plot kwargs
  pyvista/plotting/helpers.py
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/plot_helper_two_datasets.png
  tests/plotting/image_cache/plot_helper_two_volumes.png
  tests/plotting/image_cache/plot_helper_volume.png
  tests/plotting/test_plotting.py
Labels: bug

#3013 Add background_color example
  pyvista/plotting/plotting.py
Labels: documentation, scipy2022

#3014 Fix the flying edges example
  examples/01-filter/flying_edges.py
Labels: bug, documentation, scipy2022

#3016 Added link_views example
  pyvista/plotting/plotting.py
Labels: documentation, scipy2022

#3019 Add camera position example
  doc/api/core/camera.rst
  doc/conf.py
  pyvista/plotting/plotting.py
Labels: documentation, scipy2022

#3024 Release/0.35.2
  doc/api/core/camera.rst
  doc/conf.py
  examples/01-filter/flying_edges.py
  examples/02-plot/movie_glyphs.py
  pyvista/_version.py
  pyvista/_vtk.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/examples/downloads.py
  pyvista/plotting/charts.py
  pyvista/plotting/helpers.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/scalar_bars.py
  pyvista/utilities/helpers.py
  tests/jupyter/test_pythreejs.py
  tests/plotting/image_cache/multi_plot_scalars.png
  tests/plotting/image_cache/plot_helper_two_datasets.png
  tests/plotting/image_cache/plot_helper_two_volumes.png
  tests/plotting/image_cache/plot_helper_volume.png
  tests/plotting/test_collection.py
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/test_examples.py
  tests/test_plotter.py
  tests/test_utilities.py
Labels: documentation, release

#3021 add bool scalars test
  tests/plotting/image_cache/bool_scalars.png
  tests/plotting/test_plotting.py
Labels: maintenance

#3028 Fix docstring default for log_scale in add_mesh
  pyvista/plotting/plotting.py
Labels: bug, documentation

#3023 Improve make chart tables for docs
  doc/make_tables.py
  pyvista/plotting/plotting.py
Labels: documentation

#3020 Use has_module
  pyvista/plotting/_plotting.py
  pyvista/plotting/colors.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/utilities/misc.py
  tests/test_colors.py
  tests/utilities/test_misc.py
Labels: enhancement

#3036 Fix command of doctest
  CONTRIBUTING.rst
Labels: bug

#2985 Cache apt
  .github/workflows/docs.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#3044 Add Breaking Changes section to Release Note
  .github/release.yml
  .github/workflows/label.yml
  CONTRIBUTING.rst
Labels: maintenance

#3022 do not reset camera unless plotter has been shown
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/set_focus.png
  tests/plotting/test_plotting.py
Labels: bug

#3055 Only support ASCII characters
  pyvista/utilities/helpers.py
  tests/test_datasetattributes.py
Labels: bug

#3053 Add geemap and GmshModel as external examples
  doc/images/external-examples/geemap.gif
  doc/images/external-examples/gmsh_model.png
  doc/make_external_gallery.py
Labels: documentation

#3048 Add check if the path exists before removing it.
  pyvista/examples/downloads.py
  tests/test_downloads.py
Labels: bug

#3049 Fix for function from_meshio
  pyvista/utilities/fileio.py
  tests/test_meshio.py
Labels: bug

#3038 Add GIF reader and implement tight plotting for 2D
  doc/api/readers/index.rst
  pyvista/examples/downloads.py
  pyvista/plotting/camera.py
  pyvista/plotting/helpers.py
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
  tests/plotting/image_cache/tight_square.png
  tests/plotting/image_cache/tight_square_padding.png
  tests/plotting/image_cache/tight_tall.png
  tests/plotting/image_cache/tight_wide.png
  tests/plotting/test_plotting.py
  tests/test_examples.py
  tests/utilities/test_reader.py
Labels: enhancement

#3077 Use f-strings and fix exception types
  pyvista/core/filters/structured_grid.py
  pyvista/ext/plot_directive.py
  pyvista/utilities/cells.py
  tests/test_filters.py
Labels: maintenance

#3075 Add space cubemaps
  pyvista/examples/downloads.py
  tests/test_examples.py
Labels: enhancement

#3072 Add the ability to remove environment texture
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/remove_environment_texture_cubemap.png
  tests/plotting/test_plotting.py
Labels: enhancement

#3081 Add 10-second intersphinx timeout to doc build
  doc/conf.py
Labels: documentation, maintenance

#3071 Add park cubemap
  pyvista/examples/downloads.py
  tests/test_examples.py
Labels: enhancement

#3088 Add copy_mesh argument to plotter.add_mesh
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
  tests/test_plotter.py
Labels: bug

#3108 Fix image-fft example
  examples/01-filter/image-fft.py
Labels: bug, documentation

#3106 Release 0.36.0
  pyvista/_version.py
Labels: release
