Repository pyvista/pyvista, pull requests merged in 2022-11, with the labels that each got.

#3472 Update CONTRIBUTING.rst with docstring guidelines
  CONTRIBUTING.rst
  doc/api/utilities/utilities.rst
  pyvista/__init__.py
  pyvista/core/composite.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/pointset.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/utilities/arrays.py
  pyvista/utilities/common.py
  pyvista/utilities/errors.py
  pyvista/utilities/fileio.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/helpers.py
  pyvista/utilities/parametric_objects.py
  pyvista/utilities/regression.py
  pyvista/utilities/transformations.py
  setup.py
Labels: documentation, Hacktoberfest-accepted

#3538 Skip test_complex_raises on Apple silicon
  tests/test_datasetattributes.py
Labels: maintenance

#3537 Rename dims kwarg for UniformGrid to dimensions
  doc/user-guide/data_model.rst
  doc/user-guide/vtk_to_pyvista.rst
  examples/01-filter/cell-centers.py
  examples/01-filter/flying_edges.py
  examples/01-filter/image-fft-perlin-noise.py
  examples/01-filter/streamlines.py
  examples/02-plot/blurring.py
  examples/02-plot/depth_of_field.py
  examples/02-plot/ssao.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/grid.py
  pyvista/core/objects.py
  pyvista/demos/demos.py
  pyvista/examples/examples.py
  pyvista/plotting/helpers.py
  pyvista/plotting/renderer.py
  pyvista/plotting/widgets.py
  pyvista/utilities/helpers.py
  pyvista/utilities/reader.py
  tests/filters/test_rectilinear_grid.py
  tests/plotting/test_plotting.py
  tests/test_dataset.py
  tests/test_filters.py
  tests/test_grid.py
  tests/utilities/test_reader.py
Labels: documentation, deprecation

#3536 Add `clear_actors` methods to plotter
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  tests/test_plotter.py
Labels: enhancement

#3540 Remove quadruple backticks in docstrings
  pyvista/plotting/picking.py
  pyvista/plotting/renderer.py
  tests/test_theme.py
Labels: documentation

#3533 Release 0.37.0
  pyvista/_version.py
Labels: release

#3541 Add requirements-txt-fixer to .pre-commit-config.yaml
  .pre-commit-config.yaml
  docker/requirements.txt
  requirements_docs.txt
  requirements_test.txt
Labels: maintenance

#3542 fix startsWith
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#3543 Update install dependencies in installation docs
  doc/getting-started/installation.rst
Labels: documentation

#3552 Add a badge for the supported Python version.
  README.rst
  doc/index.rst
Labels: documentation

#3561 minor contributing fix
  CONTRIBUTING.rst
Labels: documentation

#3535 Do not set scalars as active when adding
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  tests/test_dataobject.py
  tests/test_datasetattributes.py
  tests/test_plotter.py
Labels: bug

#3553 Add blog post of IvanNik17
  doc/images/external-examples/nikolov1.gif
  doc/images/external-examples/nikolov2.gif
  doc/images/external-examples/nikolov3.gif
  doc/make_external_gallery.py
Labels: documentation

#3583 add version check for mpl
  pyvista/plotting/colors.py
Labels: bug

#3577 UnicodeDecodeError
  pyvista/plotting/tools.py
  tests/test_tinypages.py
Labels: bug

#3601 Hotfix: resolve broken deprecated methods
  pyvista/core/dataobject.py
Labels: bug

#3328 Migrate config files into pyproject.toml
  .codespellrc
  .coveragerc
  .pre-commit-config.yaml
  mypy.ini
  pyproject.toml
  pytest.ini
  setup.cfg
Labels: maintenance

#3556 Fix nan_opacity issues and above/below annotations
  pyvista/plotting/_plotting.py
  pyvista/plotting/_property.py
  pyvista/plotting/colors.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/lights.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderers.py
  pyvista/plotting/scalar_bars.py
  pyvista/themes.py
  tests/plotting/image_cache/lookup_table.png
  tests/plotting/image_cache/lookup_table_above_below_opacity.png
  tests/plotting/image_cache/lookup_table_nan_hidden.png
  tests/plotting/image_cache/plot_above_below_color.png
  tests/plotting/image_cache/plot_nan_color.png
  tests/plotting/image_cache/plot_nan_color_1.png
  tests/plotting/test_plotting.py
  tests/test_utilities.py
Labels: bug

#3602 Finalize v0.37 deprecations
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/examples/downloads.py
  pyvista/plotting/__init__.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/camera.py
  pyvista/plotting/colors.py
  pyvista/plotting/plotting.py
  pyvista/plotting/theme.py
  pyvista/plotting/tools.py
  pyvista/themes.py
  pyvista/utilities/features.py
  pyvista/utilities/fileio.py
  tests/examples/test_downloads.py
  tests/test_camera.py
  tests/test_dataset.py
Labels: maintenance

#3232 Standardize warnings
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/filters/poly_data.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/picking.py
  pyvista/utilities/helpers.py
  pyvista/utilities/reader.py
Labels: maintenance

#3606 Expose BandedPolyDataContourFilter
  pyvista/_vtk.py
  pyvista/core/filters/poly_data.py
  tests/filters/test_poly_data.py
Labels: enhancement

#3619 Move project metadata to pyproject.toml; avoid calling setup.py
  .github/workflows/docker-package.yml
  .github/workflows/testing-and-deployment.yml
  docker/README.md
  pyproject.toml
  setup.py
Labels: maintenance, docker

#3621 Clarify that interpolate only maps point data to point data
  pyvista/core/filters/data_set.py
Labels: documentation

#3189 Add use_scalar_weights argument
  pyvista/core/filters/poly_data.py
  tests/test_polydata.py
Labels: enhancement

#3631 Rename downlad_download to download
  tests/examples/test_download_files.py
Labels: maintenance

#3634 Move google_analytics_id to analytics in pydata-sphinx-theme
  doc/conf.py
  requirements_docs.txt
Labels: documentation, maintenance, dependencies

#3638 Python 3 style using pyupgrade
  .pre-commit-config.yaml
  doc/conf.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/poly_data.py
  pyvista/core/pointset.py
  pyvista/ext/coverage.py
  pyvista/ext/plot_directive.py
  pyvista/plotting/charts.py
  pyvista/plotting/colors.py
  pyvista/plotting/renderers.py
  pyvista/plotting/widgets.py
  pyvista/utilities/fileio.py
  pyvista/utilities/reader.py
  tests/check_doctest_names.py
  tests/plotting/conftest.py
  tests/plotting/test_plotting.py
  tests/plotting/test_widgets.py
Labels: documentation, maintenance

#3649 Add support to modulate the tube filter's radius in absolute units
  examples/00-load/create-spline.py
  pyvista/core/filters/poly_data.py
  tests/test_polydata.py
Labels: documentation

#3659 Remove legacy numpy aliases removed in 1.24.0
  tests/test_grid.py
  tests/utilities/test_reader.py
Labels: maintenance

#3642 Change unresolved BasePlotter intersphinx refs to Plotter
  examples/02-plot/multi-window.py
  examples/02-plot/scalar-bars.py
  examples/02-plot/volume.py
  pyvista/core/filters/poly_data.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
Labels: documentation
