Repository pyvista/pyvista, pull requests merged in 2022-06, with the labels that each got.

#2518 add linked views for pythreejs
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/plotting.py
  tests/jupyter/test_panel.py
  tests/jupyter/test_pythreejs.py
Labels: bug

#2721 Clean up documentation build
  pyvista/core/filters/data_set.py
  pyvista/examples/downloads.py
  pyvista/themes.py
Labels: bug

#2726 Fix use of a slice tuple for numpy 1.23
  pyvista/core/filters/structured_grid.py
Labels: bug

#2722 disable spherical harmonics when using cubemap textures
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/set_environment_texture_cubemap.png
  tests/plotting/test_plotting.py
Labels: bug

#2695 fix splitting sharp edges with active cell scalars
  doc/conf.py
  pyvista/core/filters/poly_data.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/splitting.png
  tests/plotting/image_cache/splitting_active_cells.png
  tests/plotting/test_plotting.py
  tests/test_polydata.py
Labels: bug

#2694 add in warning for anti-aliasing when vtk is compiled with egl
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/utilities/misc.py
Labels: enhancement, documentation

#2697 Fix shared array access on init
  pyvista/core/dataset.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/utilities/common.py
  pyvista/utilities/helpers.py
  pyvista/utilities/misc.py
  tests/test_create_no_copy.py
  tests/test_grid.py
  tests/test_utilities.py
  tests/utilities/test_common.py
Labels: bug

#2737 `PolyData.*_normals` properties use existing `Normals` if they exist
  pyvista/core/pointset.py
  tests/test_polydata.py
Labels: enhancement

#2664 Add warning tests of integer vectors
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: bug

#2676 Add POpenFOAMReader
  doc/api/readers/index.rst
  examples/99-advanced/openfoam-example.py
  pyvista/_vtk.py
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: enhancement

#2719 Switch to using sphinx keep-going flag
  .github/workflows/docs.yml
  doc/print_errors.py
  pyvista/themes.py
Labels: documentation, maintenance

#2742 Improve PyPI link like numpy and pandas
  setup.py
Labels: maintenance

#2745 Add gallery building flag to environment variables
  doc/conf.py
Labels: bug, documentation

#2740 Refactor StructuredGrid init
  pyvista/_typing.py
  pyvista/core/dataset.py
  pyvista/core/pointset.py
  pyvista/utilities/geometric_objects.py
  tests/test_create_no_copy.py
  tests/test_dataset.py
  tests/test_grid.py
Labels: bug

#2741 Correct reference to time values
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: bug

#2765 Add missing VRML image to cache
  tests/plotting/image_cache/export_vrml.png
Labels: bug

#2743 Update information on the translation project
  doc/index.rst
Labels: documentation

#2767 Add fill arg to Polygon
  doc/user-guide/vtk_to_pyvista.rst
  pyvista/utilities/geometric_objects.py
  tests/test_geometric_objects.py
Labels: enhancement, documentation

#2748 skip or avoid creating files in doc build
  examples/00-load/load-vrml.py
  pyvista/examples/downloads.py
  pyvista/plotting/plotting.py
  pyvista/themes.py
Labels: documentation

#2772 Fix the error running by CodeQL.
  examples_flask/static_ex/app.py
Labels: maintenance

#2600 Add extrude_trim filter
  examples/01-filter/extrude-trim.py
  pyvista/_vtk.py
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
Labels: enhancement, documentation

#2778 Fail when regression image is missing on CI
  .github/workflows/testing-and-deployment.yml
  tests/conftest.py
  tests/plotting/conftest.py
  tests/plotting/test_plotting.py
Labels: maintenance

#2770 Return correct scalar type for pyvista_ndarray
  pyvista/core/pyvista_ndarray.py
  tests/test_pyvista_ndarray.py
Labels: bug

#2727 Improve download zip
  .github/workflows/docs.yml
  .github/workflows/testing-and-deployment.yml
  doc/api/utilities/utilities.rst
  examples/00-load/read-parallel.py
  pyvista/__init__.py
  pyvista/examples/downloads.py
  pyvista/examples/examples.py
  pyvista/utilities/helpers.py
  tests/jupyter/test_ipyvtk.py
  tests/jupyter/test_static.py
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/test_downloads.py
  tests/test_examples.py
  tests/test_helpers.py
  tests/test_regression.py
  tests/test_render_window_interactor.py
  tests/test_scraper.py
  tests/test_tinypages.py
  tests/test_utilities.py
  tests/utilities/test_reader.py
Labels: bug, documentation

#2773 implement complex dtype for pyvista_ndarray
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/examples/downloads.py
  pyvista/examples/examples.py
  pyvista/plotting/mapper.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/reader.py
  tests/plotting/image_cache/plot_complex_value.png
  tests/plotting/test_plotting.py
  tests/test_dataset.py
  tests/test_datasetattributes.py
Labels: enhancement

#2793 Small typo fix
  examples/01-filter/extrude-trim.py
Labels: documentation

#2790 Add integrate_data filter
  examples/01-filter/integrate-data.py
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
  pyvista/examples/downloads.py
  tests/test_filters.py
Labels: enhancement, documentation

#2801 Keeping our actions up to date with Dependabot
  .github/dependabot.yml
Labels: maintenance

#2794 Add orientation to `add_text`
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/add_text.png
  tests/plotting/test_plotting.py
Labels: enhancement

#2791 Add rotation_axis arg to extrude_rotate method
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
Labels: enhancement

#2802 Small typo fix
  pyvista/utilities/helpers.py
Labels: documentation

#2795 Add warning when trying to screenshot while using a jupyter_backend
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: bug

#2754 Fix garbage collection
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/pointset.py
  pyvista/core/pyvista_ndarray.py
  pyvista/plotting/mapper.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/helpers.py
  pyvista/utilities/misc.py
  tests/plotting/test_collection.py
  tests/test_datasetattributes.py
  tests/test_utilities.py
Labels: bug

#2763 Do not add arrays when plotting
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  tests/test_plotter.py
Labels: bug

#2818 Change preference strings to singular
  pyvista/core/filters/uniform_grid.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/widgets.py
  tests/plotting/image_cache/opacity_by_array_direct.png
  tests/plotting/image_cache/opacity_by_array_preference.png
  tests/plotting/image_cache/opacity_by_array_user_transform.png
  tests/plotting/test_plotting.py
Labels: bug

#2441 Feat/update bound actor
  examples/02-plot/bounds.py
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/plot_show_grid_with_mesh.png
  tests/plotting/test_plotting.py
  tests/test_renderer.py
Labels: enhancement

#2826 Add notes regarding optional dependencies
  README.rst
  doc/getting-started/installation.rst
  setup.py
Labels: documentation

#2823 skip if unable to create a matplotlib figure
  pyvista/utilities/misc.py
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/test_filters.py
Labels: maintenance

#2828 Fix matplotlib backend setting for test suite
  tests/conftest.py
  tests/test_meta.py
Labels: bug, testing, maintenance

#2822 Do not add scalars when setting scalar bar title
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  tests/test_plotter.py
Labels: bug

#2824 allow missing matplotlib when setting themes
  pyvista/plotting/colors.py
  pyvista/themes.py
Labels: enhancement

#2848 Small typo fix
  examples/02-plot/bounds.py
  pyvista/plotting/renderer.py
Labels: documentation

#2846 Add jupyterlab to Scooby Report
  pyvista/utilities/errors.py
Labels: bug, maintenance

#2860 Revert "Add community-reviewed label is need to merge"
  .github/workflows/community-review.yml
  .github/workflows/label.yml
  CONTRIBUTING.rst
Labels: maintenance

#2829 Implement taubin smoothing
  examples/01-filter/surface-smoothing.py
  pyvista/_vtk.py
  pyvista/core/filters/poly_data.py
  tests/test_filters.py
Labels: enhancement, documentation

#2836 decrease tol for camera test due to MacOS
  tests/test_camera.py
Labels: bug

#2847 Add skip_zero_time property in OpenFOAMReader
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: enhancement

#2861 Fix _version.py file reference in CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: documentation

#2866 Fix small typo
  examples/01-filter/surface-smoothing.py
  pyvista/core/filters/poly_data.py
  pyvista/ext/plot_directive.py
Labels: documentation

#2872 Ensure same name arrays do not shallow copy
  pyvista/core/datasetattributes.py
Labels: bug

#2886 Additonal revert of #2877
  .github/workflows/label.yml
Labels: maintenance

#2876 Build documentation using Python 3.9 and latest OSMesa wheel
  .github/workflows/docs.yml
Labels: maintenance

#2874 add some decimate_pro arguments
  pyvista/core/filters/poly_data.py
  tests/test_polydata.py
Labels: enhancement

#2883 Plane widget methods support user-defined origin
  pyvista/plotting/widgets.py
Labels: enhancement

#2885 Rotate teapot for flip_z() doctest example
  pyvista/core/dataset.py
Labels: documentation

#2875 Tecplot ascii data reader
  doc/api/readers/index.rst
  pyvista/_vtk.py
  pyvista/examples/downloads.py
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: enhancement, documentation

#2863 Implement fixes for VTK 9.2.0rc
  .github/workflows/testing-and-deployment.yml
  pyvista/core/filters/data_set.py
  pyvista/examples/downloads.py
  pyvista/utilities/helpers.py
  pyvista/utilities/reader.py
  pyvista/utilities/regression.py
  requirements_test.txt
  tests/plotting/image_cache/chart_plot.png
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/test_examples.py
  tests/test_regression.py
  tests/utilities/test_reader.py
Labels: enhancement, maintenance, dependencies

#2882 Custom widget interaction events
  doc/images/gifs/plane-slice-continuous.gif
  examples/03-widgets/plane-widget.py
  pyvista/plotting/widgets.py
Labels: enhancement, documentation

#2888 Ensure data remains a shallow copy when added to plotter
  tests/test_plotter.py
Labels: bug

#2912 Python 3.10 hotfix: Release v0.34.2
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  pyvista/_version.py
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/structured_grid.py
  pyvista/examples/downloads.py
  pyvista/utilities/helpers.py
  pyvista/utilities/reader.py
  pyvista/utilities/regression.py
  requirements_test.txt
  tests/plotting/image_cache/chart_plot.png
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/test_examples.py
  tests/test_regression.py
  tests/utilities/test_reader.py
Labels: bug, maintenance, release, dependencies

#2897 Add DataSet.cell_point_ids
  pyvista/core/dataset.py
  tests/test_dataset.py
Labels: enhancement

#2416 Add tags with python commands to avoid misnumbering
  CONTRIBUTING.rst
Labels: documentation, maintenance
