Repository pyvista/pyvista, pull requests merged in 2022-08, with the labels that each got.

#3117 Remove vtk requirement
  setup.py
Labels: bug

#3118 Release 0.36.1
  pyvista/_version.py
  setup.py
Labels: release

#3112 Add separate cells feature
  examples/02-plot/point-cell-scalars.py
  pyvista/core/filters/data_set.py
  tests/test_dataset.py
Labels: enhancement, documentation

#3131 Distance along spline example
  examples/00-load/create-spline.py
  examples/02-plot/distance-along-spline.py
  pyvista/core/filters/poly_data.py
Labels: documentation

#3130 Use the latest test env
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#3129 warn invalid texture dtype
  pyvista/utilities/helpers.py
  tests/test_helpers.py
Labels: bug

#3124 Report number of scalars instead of size in error about scalars shape mismatch
  pyvista/utilities/helpers.py
Labels: bug, maintenance

#3133 Skip flaky windows test
  tests/plotting/test_plotting.py
Labels: bug

#3101 Add tetra to the unstructured grid example
  examples/00-load/create-unstructured-surface.py
Labels: documentation

#3127 Add example datasets
  pyvista/examples/downloads.py
  tests/test_examples.py
Labels: enhancement

#3105 Support complex64 and save complex data
  pyvista/core/dataobject.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/uniform_grid.py
  pyvista/utilities/reader.py
  tests/test_dataobject.py
  tests/test_datasetattributes.py
Labels: enhancement

#3031 Make MultiBlock meshes MutableSequence with some dict-like features for setting and getting.
  doc/api/core/composite.rst
  doc/conf.py
  pyvista/core/composite.py
  pyvista/core/filters/data_set.py
  pyvista/utilities/fileio.py
  tests/plotting/test_plotting.py
  tests/test_composite.py
Labels: bug, enhancement, breaking-change

#3109 Fix rectilinear X coordinates int edge case
  pyvista/core/grid.py
  tests/plotting/image_cache/rectlinear_edge_case.png
  tests/plotting/test_plotting.py
Labels: bug

#3136 Fix small typo
  pyvista/examples/downloads.py
Labels: documentation

#3110 Add various grid filters
  pyvista/_vtk.py
  pyvista/core/filters/__init__.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/rectilinear_grid.py
  pyvista/core/filters/unstructured_grid.py
  pyvista/core/grid.py
  pyvista/examples/examples.py
  tests/conftest.py
  tests/filters/test_rectilinear_grid.py
  tests/test_dataset.py
  tests/test_examples.py
  tests/test_filters.py
Labels: enhancement

#3138 Correct vtk-data url in _download_file docstring
  pyvista/examples/downloads.py
Labels: documentation

#3140 Fix issue template typo and code placeholders
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/maintenance-request.yml
Labels: maintenance

#3146 Fix filesystem races caused by pyvista.examples.downloads
  pyvista/__init__.py
  pyvista/examples/downloads.py
Labels: bug

#3156 Add typing_extensions install dependency for Python < 3.8
  requirements_docs.txt
  setup.py
Labels: maintenance

#3155 More descriptive error message when no geodesic path exists between vertices on a mesh
  pyvista/core/filters/poly_data.py
  tests/test_polydata.py
Labels: bug

#3162 disable caching of build directory
  .github/workflows/docs.yml
Labels: maintenance

#3163 Use Mamba to speed up the conda build
  .github/workflows/testing-and-deployment.yml
  environment.yml
Labels: maintenance, dependencies

#3167 Define pytest markers for skipping tests based on vtk version
  pytest.ini
  tests/conftest.py
  tests/jupyter/test_pythreejs.py
  tests/plotting/test_plotting.py
  tests/plotting/test_widgets.py
  tests/test_filters.py
  tests/test_grid.py
  tests/test_picking.py
  tests/test_polydata.py
  tests/test_render_window_interactor.py
  tests/utilities/test_reader.py
Labels: maintenance

#3177 fix clean example
  pyvista/core/filters/poly_data.py
Labels: documentation

#3179 Lessen memory usage for wrapping vtk datasets
  pyvista/core/grid.py
  pyvista/core/pointset.py
  tests/conftest.py
  tests/test_grid.py
Labels: bug, breaking-change

#3168 Speed up documentation build
  .github/workflows/docker-package.yml
  .github/workflows/docs.yml
  .github/workflows/pre-commit-update.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  CONTRIBUTING.rst
  doc/_templates_basic/autosummary/class.rst
  doc/_templates_basic/autosummary/module.rst
  doc/_templates_full/autosummary/class.rst
  doc/_templates_full/autosummary/module.rst
  doc/api/core/camera.rst
  doc/api/core/composite.rst
  doc/api/core/dataset.rst
  doc/api/core/filters.rst
  doc/api/core/grids.rst
  doc/api/core/lights.rst
  doc/api/core/objects.rst
  doc/api/core/pointsets.rst
  doc/api/examples/index.rst
  doc/api/plotting/charts/index.rst
  doc/api/plotting/index.rst
  doc/api/plotting/theme.rst
  doc/api/readers/index.rst
  doc/api/utilities/utilities.rst
  doc/conf.py
  doc/user-guide/jupyter/itk_plotting.rst
  pyvista/__init__.py
  pyvista/ext/plot_directive.py
Labels: documentation, maintenance

#3170 fix(add_volume): use memory-efficient rescaling
  pyvista/plotting/plotting.py
Labels: bug

#3183 update for ipywidgets 8.0
  pyvista/jupyter/pv_ipygany.py
  requirements_test.txt
  setup.py
Labels: bug, dependencies

#3160 Add area to DataSet and make pointgrid volume exact
  pyvista/core/dataset.py
  pyvista/core/pointset.py
  tests/test_dataset.py
Labels: enhancement

#3182 Small fix of indent
  .pre-commit-config.yaml
Labels: maintenance

#3191 Typo fix
  pyvista/plotting/picking.py
Labels: documentation

#2941 Add composite dataset mapper
  doc/api/core/composite.rst
  doc/api/plotting/index.rst
  examples/01-filter/slicing.py
  examples/02-plot/composite-picking.py
  examples/02-plot/interpolate-before-map.py
  pyvista/_vtk.py
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/filters/composite.py
  pyvista/core/filters/data_set.py
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/__init__.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/_property.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/helpers.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/scalar_bars.py
  pyvista/utilities/misc.py
  tests/conftest.py
  tests/jupyter/test_pythreejs.py
  tests/plotting/conftest.py
  tests/plotting/image_cache/culling_frontface.png
  tests/plotting/image_cache/multi_block_plot.png
  tests/plotting/image_cache/plot_composite_bool.png
  tests/plotting/image_cache/plot_composite_categories.png
  tests/plotting/image_cache/plot_composite_many_options.png
  tests/plotting/image_cache/plot_composite_poly_complex.png
  tests/plotting/image_cache/plot_composite_poly_component_nested_multiblock.png
  tests/plotting/image_cache/plot_composite_poly_component_norm.png
  tests/plotting/image_cache/plot_composite_poly_component_single.png
  tests/plotting/image_cache/plot_composite_poly_no_scalars.png
  tests/plotting/image_cache/plot_composite_poly_scalars_cell.png
  tests/plotting/image_cache/plot_composite_poly_scalars_opacity.png
  tests/plotting/image_cache/plot_composite_preference_cell.png
  tests/plotting/image_cache/plot_composite_rgba.png
  tests/plotting/image_cache/property.png
  tests/plotting/image_cache/vector_array.png
  tests/plotting/image_cache/vector_array_with_cells.png
  tests/plotting/image_cache/vector_array_with_points.png
  tests/plotting/test_plotting.py
  tests/test_composite.py
  tests/test_composite_mapper.py
  tests/test_dataset.py
  tests/test_export.py
  tests/test_picking.py
  tests/test_property.py
  tests/test_scalar_bars.py
Labels: enhancement

#3204 Typo fix
  pyvista/plotting/_property.py
  pyvista/plotting/composite_mapper.py
Labels: documentation

#2964 Render window refactor
  pyvista/ext/plot_directive.py
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/background_renderer.py
  pyvista/plotting/camera.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  pyvista/utilities/misc.py
  pyvista/utilities/regression.py
  pyvista/utilities/sphinx_gallery.py
  requirements_test.txt
  tests/jupyter/test_pythreejs.py
  tests/plotting/test_collection.py
  tests/plotting/test_plotting.py
  tests/test_plotter.py
  tests/test_render_window.py
  tests/test_scraper.py
  tests/tinypages/conf.py
  tests/tinypages/index.rst
  tests/tinypages/samples.py
  tests/tinypages/some_autodocs.rst
Labels: maintenance

#3209 Fix the error of pip option
  doc/getting-started/installation.rst
Labels: documentation

#3214 Revert "Render window refactor"
  pyvista/ext/plot_directive.py
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/background_renderer.py
  pyvista/plotting/camera.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  pyvista/utilities/misc.py
  pyvista/utilities/regression.py
  pyvista/utilities/sphinx_gallery.py
  requirements_test.txt
  tests/jupyter/test_pythreejs.py
  tests/plotting/test_collection.py
  tests/plotting/test_plotting.py
  tests/test_plotter.py
  tests/test_render_window.py
  tests/test_scraper.py
  tests/tinypages/conf.py
  tests/tinypages/index.rst
  tests/tinypages/samples.py
  tests/tinypages/some_autodocs.rst
Labels: dependencies

#3200 MAINT: More descriptive comment about optional import
  pyvista/_vtk.py
Labels: maintenance

#3166 Add linkcheck periodically
  .github/workflows/linkcheck.yml
  CONTRIBUTING.rst
  doc/conf.py
  doc/getting-started/installation.rst
  doc/user-guide/jupyter/itk_plotting.rst
  examples/00-load/create-pixel-art.py
  pyvista/jupyter/itkplotter.py
  pyvista/plotting/plotting.py
Labels: documentation, testing, maintenance

#3199 Extend cell-center example with edges
  examples/01-filter/cell-centers.py
Labels: documentation

#3208 Expose triangle strips in API
  examples/00-load/create-polydata-strips.py
  pyvista/core/dataset.py
  pyvista/core/filters/poly_data.py
  pyvista/core/pointset.py
  tests/test_polydata.py
Labels: enhancement

#3229 Update flake8 URL for precommit
  .pre-commit-config.yaml
Labels: maintenance

#3238 Bump pydata-sphinx-theme from 0.9.0 to 0.10.1 and fix warnings
  doc/_templates/sidebar-nav-bs.html
  requirements_docs.txt
Labels: documentation, maintenance

#3150 Expose more options of `MultiBlockPlot3DReader` (`vtkMultiBlockPlot3DReader`)
  doc/api/readers/enums.rst
  doc/api/readers/index.rst
  doc/conf.py
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
  requirements_docs.txt
  tests/utilities/test_reader.py
Labels: enhancement

#3231 Pyvista -> PyVista
  doc/api/plotting/qt_plotting.rst
  doc/conf.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/errors.py
  pyvista/core/filters/poly_data.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/demos/__init__.py
  pyvista/errors.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/camera.py
  pyvista/plotting/colors.py
  pyvista/plotting/plotting.py
  pyvista/plotting/tools.py
  pyvista/themes.py
  pyvista/utilities/features.py
  pyvista/utilities/fileio.py
  pyvista/utilities/misc.py
  tests/test_camera.py
  tests/test_dataset.py
  tests/test_grid.py
  tests/test_polydata.py
  tests/test_utilities.py
Labels: documentation, maintenance

#2948 Improve pass rendering
  doc/api/core/composite.rst
  doc/api/core/grids.rst
  doc/api/core/pointsets.rst
  doc/getting-started/why.rst
  doc/index.rst
  doc/user-guide/index.rst
  doc/user-guide/jupyter/index.rst
  doc/user-guide/jupyter/pythreejs.rst
  doc/user-guide/simple.rst
  doc/user-guide/vtk_to_pyvista.rst
  doc/user-guide/what-is-a-mesh.rst
  examples/00-load/create-unstructured-surface.py
  examples/02-plot/anti-aliasing.py
  examples/02-plot/blurring.py
  examples/02-plot/depth_of_field.py
  examples/02-plot/ssao.py
  pyvista/_vtk.py
  pyvista/core/filters/rectilinear_grid.py
  pyvista/core/grid.py
  pyvista/examples/downloads.py
  pyvista/plotting/helpers.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_passes.py
  pyvista/plotting/renderer.py
  pyvista/themes.py
  tests/filters/test_rectilinear_grid.py
  tests/plotting/image_cache/blurring.png
  tests/plotting/image_cache/depth_of_field.png
  tests/plotting/image_cache/many_multi_pass.png
  tests/plotting/image_cache/ssaa_pass.png
  tests/plotting/image_cache/ssao_pass.png
  tests/plotting/image_cache/ssao_pass_from_helper.png
  tests/plotting/test_plotting.py
  tests/test_examples.py
  tests/test_grid.py
  tests/test_plotter.py
  tests/test_render_pass.py
  tests/test_theme.py
Labels: enhancement

#3247 hotfix Pyvista --> PyVista
  pyvista/themes.py
  tests/test_theme.py
Labels: bug
