Repository pyvista/pyvista, pull requests merged in 2022-04, with the labels that each got.

#2413 Added CGNSReader in Reader Classes
  doc/api/readers/index.rst
Labels: documentation

#2420 Add labels to pre-commit update
  .github/workflows/pre-commit-update.yml
Labels: maintenance

#2423 Fix CGNSreader import
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: bug

#2430 Fix links in README
  README.rst
Labels: documentation

#2415 Make colors iterable and indexable
  pyvista/plotting/colors.py
  tests/test_utilities.py
Labels: bug

#2443 Fix typos
  doc/conf.py
  examples/00-load/create-structured-surface.py
  examples/01-filter/decimate.py
  examples/02-plot/README.rst
  pyvista/core/dataset.py
  pyvista/examples/downloads.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/lights.py
  pyvista/plotting/plotting.py
  pyvista/plotting/scalar_bars.py
  pyvista/plotting/widgets.py
Labels: documentation

#2439 DOC: Updated wheel building instructions
  doc/extras/building_vtk.rst
Labels: documentation

#2444 Update Docker documentation
  doc/extras/docker.rst
Labels: documentation

#2432 modify uniformgrid filters
  doc/api/core/index.rst
  doc/api/core/misc.rst
  examples/01-filter/gaussian-smoothing.py
  pyvista/core/common_data.py
  pyvista/core/filters/uniform_grid.py
  pyvista/core/imaging.py
  tests/test_filters.py
Labels: enhancement

#2449 Fix small typo
  pyvista/core/filters/uniform_grid.py
Labels: documentation

#2447 Add github-actions's comment when no labels
  .github/workflows/label.yml
Labels: maintenance

#2433 Default set active vectors for filters
  pyvista/core/filters/data_set.py
  pyvista/errors.py
  pyvista/utilities/helpers.py
  tests/test_filters.py
  tests/test_helpers.py
Labels: maintenance

#2450 add disable picking
  pyvista/plotting/picking.py
  pyvista/plotting/plotting.py
  tests/test_picking.py
Labels: enhancement

#2482 Add dependabot automerge
  .github/workflows/merge-me.yml
Labels: maintenance

#2485 Replace SetTimeValue with UpdateTimeStep and add tests
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: bug

#2484 add additional kwargs to open_gif
  pyvista/plotting/plotting.py
  tests/plotting/test_plotting.py
Labels: enhancement

#2488 Do not automatically set hidden line removal in document theme
  pyvista/themes.py
Labels: bug

#2492 Fix `download_single_sphere_animation`
  pyvista/examples/downloads.py
Labels: bug

#2495 fix example for reading exodus file
  pyvista/utilities/fileio.py
Labels: documentation

#2501 Revert "Add github-actions's comment when no labels"
  .github/workflows/label.yml
Labels: maintenance

#2505 add polyhedral example
  examples/00-load/create-poly.py
  pyvista/core/pointset.py
Labels: documentation

#2511 Fix UniformGrid.x docstring
  pyvista/core/grid.py
Labels: bug

#2516 Return actor from add_mesh_threshold
  pyvista/plotting/widgets.py
Labels: bug

#2496 Add many Readers
  .coveragerc
  doc/api/readers/index.rst
  pyvista/_vtk.py
  pyvista/conftest.py
  pyvista/examples/downloads.py
  pyvista/utilities/__init__.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: enhancement

#2500 Fix glyphs when orienting with cell data
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: enhancement

#2489 Use imageio intersphinx links
  pyvista/plotting/plotting.py
Labels: documentation, maintenance

#2483 Make VTK version error clear when PointSet is still abstract
  doc/conf.py
  pyvista/core/pointset.py
Labels: bug
