Repository pyvista/pyvista, pull requests merged in 2022-01, with the labels that each got.

#1989 🎉 HAPPY NEW YEAR 2022 🎉
  LICENSE
Labels: documentation

#1992 👷 Automate labeling in update intersphinx PR
  .github/workflows/intersphinx-update-pull-request.yml
Labels: maintenance

#1991 👷 Automate copyright date
  pyvista/ext/coverage.py
  tests/tinypages/conf.py
Labels: documentation

#1971 enforce consistent API
  pyvista/core/dataset.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/core/pyvista_ndarray.py
  tests/test_common.py
  tests/test_grid.py
Labels: enhancement

#1993 enforce positive coverage
  .github/workflows/testing-and-deployment.yml
  codecov.yml
Labels: maintenance

#1996 ✏️ Fix typos.
  pyvista/core/grid.py
Labels: documentation

#1896 Add OpenFOAM patch, cell_to_point, and active time support
  examples/99-advanced/openfoam-example.py
  pyvista/examples/downloads.py
  pyvista/utilities/reader.py
  tests/utilities/test_reader.py
Labels: enhancement

#1995 Release 0.33.0
  pyvista/_version.py
Labels: release

#2003 Make Plotter.theme's setter actually set the theme
  pyvista/plotting/plotting.py
  tests/test_theme.py
Labels: bug

#2007 Disable highlighting for web search results
  doc/_static/no_search_highlight.css
  doc/conf.py
Labels: documentation, review-critical

#2013 fix for vtk<9.1.0
  pyvista/_vtk.py
  pyvista/core/filters/composite.py
  pyvista/core/filters/data_set.py
  pyvista/plotting/renderer.py
  tests/jupyter/test_pythreejs.py
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/test_filters.py
Labels: maintenance

#2017 👷 Automate labeling in dependabot
  .github/dependabot.yml
Labels: maintenance

#2011 Build and publish Docker image
  .dockerignore
  .github/workflows/docker-package.yml
  docker/Dockerfile
  docker/README.md
  docker/environment.yml
  docker/labextensions.txt
  docker/requirements.txt
Labels: IPython/Jupyter, deployment, maintenance

#2031 Fix chart related warnings during doc building.
  examples/02-plot/chart_basics.py
  pyvista/plotting/charts.py
Labels: maintenance

#2046 📝 Add My PyVista artwork to external gallery
  doc/images/external-examples/Duoprism_3-30.gif
  doc/make_external_gallery.py
Labels: documentation

#2038 use strict version in CI/CD req*
  .github/dependabot.yml
  requirements_docs.txt
  requirements_static.txt
  requirements_style.txt
  requirements_test.txt
Labels: maintenance

#2036 Add find_containing_cell
  pyvista/core/dataset.py
  tests/test_common.py
Labels: enhancement

#2034 Use explicit directories for style checks
  Makefile
Labels: maintenance

#2029 Add return_closest_point as optional parameter for find_closest_cell
  examples/01-filter/distance-between-surfaces.py
  pyvista/core/dataset.py
  tests/test_common.py
Labels: enhancement

#2051 Do not attempt push to ghcr from forked pull requests
  .github/workflows/docker-package.yml
Labels: maintenance

#1910 Build docs on GH Actions
  .github/workflows/docs.yml
  azure-pipelines.yml
  doc/Makefile
  doc/conf.py
  doc/make_chart_style_tables.py
  doc/make_external_gallery.py
  doc/pyvista-binder-config.yml
  requirements_docs.txt
  setup.py
Labels: maintenance

#2081 Remove outdated Dockerfile
  .dockerignore
  docker_dev/Dockerfile
  docker_dev/README.md
  docker_dev/build.sh
  docker_dev/environment.yml
  docker_dev/labextensions.txt
Labels: maintenance

#2079 Fix docs workflow triggers and USE_CACHE logic
  .github/workflows/docs.yml
Labels: maintenance

#2084 Add more labels to labeler
  .github/labeler.yml
Labels: maintenance

#2086 Give due credit and close #2049
  doc/make_external_gallery.py
Labels: documentation

#2085 Add dependencies label to dependabot
  .github/dependabot.yml
Labels: maintenance

#2088 Update labeler action to label based on branch name
  .github/workflows/label.yml
Labels: maintenance

#2091 Add slim docker image
  .github/workflows/docker-package.yml
  doc/extras/docker.rst
  docker/README.md
  docker/jupyter.Dockerfile
  docker/slim.Dockerfile
Labels: documentation, maintenance, docker

#2092 Optimize when docker CI workflow is run on PRs
  .github/workflows/docker-package.yml
Labels: maintenance, docker

#2083 Move Windows CI Tests to GH Actions
  .github/workflows/testing-and-deployment.yml
  README.rst
  azure-pipelines.yml
  doc/index.rst
  tests/plotting/test_plotting.py
Labels: documentation, maintenance

#2074 Skip action workflows on `no-ci/*` branches
  .github/workflows/docs.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#2087 Fix Greetings action
  .github/workflows/greetings.yml
Labels: maintenance

#2099 Revert "Skip action workflows on `no-ci/*` branches"
  .github/workflows/docs.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#2104 Add reporting extra examples contributing
  CONTRIBUTING.md
  doc/extras/developer_notes.rst
Labels: documentation

#2103 📝 Add PteraSoftware to external gallery
  doc/images/external-examples/ptera_software.gif
  doc/make_external_gallery.py
Labels: documentation

#2108 fix collections.abc deprecation
  Makefile
  pyvista/core/pointset.py
Labels: bug-fix

#2109 Add dataset attributes to the docs
  Makefile
  doc/api/core/dataset.rst
  doc/conf.py
  pyvista/core/datasetattributes.py
Labels: documentation, maintenance

#2111 Add GitHub Action: Dependabot Auto Merge
  .github/auto-merge.yml
  .github/workflows/auto-merge.yml
Labels: maintenance

#2112 [HOTFIX] dependabot auto merge action
  .github/workflows/auto-merge.yml
Labels: maintenance

#2115 Fix CI conditionals based on branch names
  .github/workflows/docker-package.yml
  .github/workflows/label.yml
Labels: maintenance

#2118 run docbuild on main
  .github/workflows/docs.yml
Labels: maintenance

#2119 Improve gif animation examples
  .github/workflows/docs.yml
  examples/00-load/reader.py
  examples/02-plot/gif.py
  examples/02-plot/isovalue.py
  examples/02-plot/orbit.py
  examples/02-plot/texture.py
  pyvista/plotting/plotting.py
Labels: documentation
