Repository pyvista/pyvista, pull requests merged in 2022-12, with the labels that each got.

#3579 Adapt project to pytest-pyvista plugin
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  requirements_test.txt
  tests/conftest.py
  tests/plotting/test_plotting.py
Labels: maintenance

#3694 Fix the docstring of composite.py
  pyvista/core/filters/composite.py
Labels: maintenance

#3687 Fix the number error of segment in add_lines
  pyvista/plotting/plotting.py
  pyvista/utilities/helpers.py
  tests/test_plotter.py
Labels: bug

#3677 Add BohemianDome parameters
  pyvista/utilities/parametric_objects.py
  tests/test_parametric_geometry.py
Labels: enhancement

#3662 Add classmethod to read pvcc paraview
  pyvista/plotting/camera.py
  tests/test_camera.py
Labels: enhancement

#3678 Fix the docstring of the parametric object.
  pyvista/utilities/parametric_objects.py
Labels: maintenance

#3713 Add pytest-pyvista to Report
  pyvista/utilities/errors.py
Labels: maintenance

#3657 Fix a test of KochanekSpline.
  tests/test_parametric_geometry.py
Labels: maintenance

#3617 Fix interactive updates
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  tests/test_render_window_interactor.py
Labels: bug

#3648 Don't raise on missing iren key events to clear by default
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  tests/test_render_window_interactor.py
Labels: bug, enhancement, breaking-change

#3688 Fix the docstring of camera.py
  pyvista/plotting/camera.py
Labels: maintenance

#3102 handle verts in pythreejs
  pyvista/jupyter/pv_pythreejs.py
  tests/jupyter/test_pythreejs.py
Labels: bug

#3683 Fix the docstring of demos.py
  pyvista/demos/demos.py
Labels: maintenance

#3710 Fix Circle to remove singular edge
  pyvista/utilities/geometric_objects.py
  tests/test_geometric_objects.py
Labels: bug, breaking-change

#3729 [HOTFIX] VTK 9.0.3 + NumPy<1.24 CI
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#3622 Re-reset key events in Plotter.__init__()
  pyvista/plotting/plotting.py
Labels: bug

#3723 Fix two other closed geometric objects.
  pyvista/utilities/geometric_objects.py
Labels: bug, breaking-change

#3736 [hotfix] Use latest VTK version for conda tests
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#3737 Deprecate and remove PlotterITK
  doc/conf.py
  doc/getting-started/installation.rst
  doc/user-guide/jupyter/index.rst
  doc/user-guide/jupyter/ipygany.rst
  doc/user-guide/jupyter/itk_plotting.rst
  environment.yml
  pyvista/__init__.py
  pyvista/jupyter/__init__.py
  pyvista/jupyter/itkplotter.py
  pyvista/plotting/__init__.py
  pyvista/plotting/helpers.py
  pyvista/utilities/errors.py
  requirements_test.txt
  tests/jupyter/test_itk_plotting.py
Labels: documentation, IPython/Jupyter, maintenance, breaking-change, dependencies

#3740 Fix builds
  .github/workflows/docker-package.yml
  .github/workflows/docs.yml
  .github/workflows/greetings.yml
  .github/workflows/intersphinx-update-pull-request.yml
  .github/workflows/label.yml
  .github/workflows/linkcheck.yml
  .github/workflows/pre-commit-update.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  pyvista/plotting/camera.py
  pyvista/plotting/widgets.py
  pyvista/utilities/helpers.py
  tests/plotting/test_collection.py
  tests/plotting/test_widgets.py
  tests/test_dataset.py
  tests/test_helpers.py
  tests/test_picking.py
  tests/test_pointset.py
Labels: bug, maintenance

#3750 Improve and correct vtkThreshold usage
  pyvista/core/filters/data_set.py
  pyvista/plotting/widgets.py
  tests/plotting/test_widgets.py
  tests/test_filters.py
Labels: bug, breaking-change
