Repository pyvista/pyvista, pull requests merged in 2023-10, with the labels that each got.

#4991 Enable automerge on dependabot PRs
  .github/workflows/auto-merge-dependabot.yml
Labels: maintenance

#4999 Revert "Enable automerge on dependabot PRs (#4991)"
  .github/workflows/auto-merge-dependabot.yml
Labels: maintenance

#4993 Add Plotter.center and Plotter.image examples
  pyvista/plotting/plotter.py
Labels: documentation, Hacktoberfest-accepted

#5010 Fix errors of `codespell` v2.2.6
  .pre-commit-config.yaml
  pyvista/core/filters/data_set.py
  pyvista/core/pyvista_ndarray.py
  pyvista/plotting/picking.py
  pyvista/plotting/render_window_interactor.py
  tests/core/test_dataset_filters.py
  tests/core/test_grid.py
Labels: documentation, maintenance, dependencies

#5014 Fix the name of `cartesian_to_spherical` 's returns
  pyvista/core/utilities/features.py
  tests/core/test_utilities.py
Labels: documentation, Hacktoberfest-accepted

#5003 Add function `spherical_to_cartesian` to `features`
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/features.py
  tests/core/test_utilities.py
Labels: enhancement, Hacktoberfest-accepted

#5018 Pin python in `intersphinx_mapping` to Python3.11
  doc/source/conf.py
Labels: documentation

#4934 Add preview documentation in pull request
  .github/workflows/docs.yml
Labels: maintenance

#5020 Fix module `vtkImageDilateErode3D` not found error
  pyvista/core/_vtk_core.py
Labels: bug, Hacktoberfest-accepted

#5028 Trigger Pull Request Labeler after approved review
  .github/workflows/label.yml
Labels: maintenance

#5027 Set `Google.Spacing` NO in `.vale.ini`
  doc/.vale.ini
  doc/source/user-guide/data_model.rst
Labels: documentation, maintenance

#5025 Revert "Add `auto-approve-dependabot.yml` to auto approve Dependabot PR"
  .github/workflows/auto-approve-dependabot.yml
Labels: maintenance

#5026 Delete `.github/workflows/greetings.yml`
  .github/workflows/greetings.yml
Labels: maintenance

#5024 Allow deploying preview of the forked repository using label
  .github/workflows/docs.yml
Labels: maintenance, Hacktoberfest-accepted

#5030 Revert "Allow deploying preview of the forked repository using label"
  .github/workflows/docs.yml
Labels: maintenance

#5037 Add define alias `pv` commit to `.git-blame-ignore-revs` file
  .git-blame-ignore-revs
Labels: maintenance

#5038 Revert "Trigger Pull Request Labeler after approved review"
  .github/workflows/label.yml
Labels: maintenance

#5036 Add examples for widgets methods
  pyvista/plotting/widgets.py
Labels: documentation, Hacktoberfest-accepted

#5045 Add a Professional Support section
  README.rst
  doc/source/index.rst
Labels: documentation, Hacktoberfest-accepted

#5046 Fix bug with actor removal rendering
  pyvista/plotting/renderer.py
Labels: bug, Hacktoberfest-accepted

#5053 Use `itertools.product` to avoid nested loops in `arrays.py`
  pyvista/core/utilities/arrays.py
Labels: maintenance, Hacktoberfest-accepted

#5050 Fix ParametricRandomHills Deprecation examples
  examples/01-filter/distance-between-surfaces.py
  examples/01-filter/extrude-trim.py
Labels: documentation, maintenance, Hacktoberfest-accepted

#5049 Fix testing warnings in tests/core
  tests/core/test_dataset_filters.py
  tests/core/test_helpers.py
  tests/core/test_polydata.py
Labels: maintenance, Hacktoberfest-accepted

#5057 Move Professional Support section to Previous of Index Section
  doc/source/index.rst
Labels: documentation, Hacktoberfest-accepted

#5056 Use title-style capitalization to fix vale warning
  doc/README.md
  doc/source/getting-started/why.rst
Labels: documentation, Hacktoberfest-accepted

#5058 Add `Text` and `TextProperty` to API documentation
  doc/source/api/plotting/index.rst
Labels: documentation, Hacktoberfest-accepted

#5072 Remove trame from `all` in pyproject.toml, as it is no longer a variable
  pyproject.toml
Labels: bug, maintenance

#5070 Revert "Add define alias `pv` commit to `.git-blame-ignore-revs` file"
  .git-blame-ignore-revs
Labels: maintenance, Hacktoberfest-accepted

#5052 Add `_coerce_transformlike_arg` function
  pyvista/core/_typing_core.py
  pyvista/core/utilities/arrays.py
  tests/core/test_utilities.py
Labels: maintenance, Hacktoberfest-accepted

#5078 Captialize first word in sentence in `text.py`
  pyvista/plotting/text.py
Labels: bug, documentation, Hacktoberfest-accepted

#5055 Add `justification` property to `TextProperty`
  pyvista/plotting/text.py
  tests/plotting/test_text.py
Labels: enhancement, Hacktoberfest-accepted

#4965 Add 3D SolidSphere and SolidSphereGeneric as geometric objects
  doc/source/api/utilities/geometric.rst
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/geometric_objects.py
  tests/core/test_geometric_objects.py
Labels: enhancement, documentation, Hacktoberfest-accepted

#5080 Remove deprecations in v0.37.0 to remove at v0.43.0
  pyvista/core/dataset.py
  pyvista/examples/downloads.py
  pyvista/plotting/renderer.py
  pyvista/plotting/texture.py
  tests/core/test_dataset.py
  tests/plotting/test_texture.py
Labels: maintenance

#5079 Deprecate `t_coords` and use `texture_coordinates`
  examples/02-plot/texture.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/helpers.py
  pyvista/examples/planets.py
  pyvista/plotting/actor.py
  pyvista/plotting/texture.py
  tests/core/test_dataset.py
  tests/core/test_datasetattributes.py
  tests/core/test_helpers.py
  tests/plotting/test_texture.py
Labels: maintenance

#5084 Fix PyVistaDeprecationWarning not imported error
  pyvista/core/dataset.py
  tests/core/test_dataset.py
Labels: maintenance

#5083 Split Preview Documentation in GitHub Actions
  .github/workflows/docs.yml
  .github/workflows/preview-docs.yml
Labels: maintenance, Hacktoberfest-accepted

#5077 Use `itertools.product` to avoid nested loops in examples
  examples/01-filter/gradients.py
  examples/01-filter/warp-by-vector.py
  examples/02-plot/pbr.py
  examples/99-advanced/warp-by-vector-eigenmodes.py
Labels: documentation, maintenance, Hacktoberfest-accepted

#5081 Defer to geovista default warning escalation to error with pytest
  .github/workflows/integration-tests.yml
Labels: maintenance, Hacktoberfest-accepted

#5093 Revert "Split Preview Documentation in GitHub Actions"
  .github/workflows/docs.yml
  .github/workflows/preview-docs.yml
Labels: maintenance, Hacktoberfest-accepted

#5086 Remove deprecations in v0.32.0 to remove at v0.43.0
  pyvista/core/filters/poly_data.py
Labels: maintenance, Hacktoberfest-accepted

#5088 Remove deprecations in v0.38.0 to remove at v0.43.0
  pyvista/plotting/plotter.py
  pyvista/plotting/widgets.py
  tests/plotting/test_plotter.py
  tests/plotting/test_plotting.py
Labels: maintenance, Hacktoberfest-accepted

#5022 Fix `Scraper` object `repr` and add a test of it
  pyvista/plotting/utilities/sphinx_gallery.py
  tests/plotting/test_scraper.py
Labels: bug, Hacktoberfest-accepted

#5090 Remove deprecations in v0.40.0 to remove at v0.43.0
  pyvista/core/__init__.py
  pyvista/core/filters/__init__.py
  pyvista/core/filters/image_data.py
  pyvista/core/grid.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotter.py
  pyvista/plotting/themes.py
  tests/core/test_grid.py
  tests/namespace/namespace-top.txt
Labels: maintenance, Hacktoberfest-accepted

#5089 Remove deprecations in v0.39.0 to remove at v0.43.0
  pyvista/core/utilities/geometric_objects.py
  pyvista/plotting/plotter.py
  tests/core/test_geometric_objects.py
  tests/plotting/test_plotting.py
Labels: maintenance, Hacktoberfest-accepted

#5087 Remove deprecations in v0.35.0 to remove at v0.43.0
  doc/source/api/utilities/utilities.rst
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/fileio.py
  tests/core/test_utilities.py
  tests/namespace/namespace-top.txt
  tests/namespace/namespace-utilities.txt
Labels: maintenance, Hacktoberfest-accepted

#5099 Add support for custom cyclers to color MultiBlocks
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/plotter.py
  tests/plotting/test_plotter.py
Labels: enhancement, Hacktoberfest-accepted

#5098 Add `texture_coordinates` to `surface_from_para`
  pyvista/core/utilities/parametric_objects.py
  tests/core/test_parametric_geometry.py
Labels: enhancement, Hacktoberfest-accepted

#5107 Rename `master_doc` to `root_doc` in Sphinx build configuration file
  doc/source/conf.py
  tests/tinypages/conf.py
Labels: documentation, maintenance, Hacktoberfest-accepted

#5109 Pin Vale version to version 2.29.5
  .github/workflows/style_docstr.yml
Labels: maintenance, Hacktoberfest-accepted, dependencies

#5110 Add `Plotter.add_point_labels` `shape` argument test
  tests/plotting/image_cache/add_point_labels_shape[None].png
  tests/plotting/image_cache/add_point_labels_shape[rect].png
  tests/plotting/image_cache/add_point_labels_shape[rounded_rect].png
  tests/plotting/test_plotting.py
Labels: maintenance, Hacktoberfest-accepted

#5101 Fix `labelMapper` to `labe_mapper` following PEP8 rule
  pyvista/plotting/plotter.py
Labels: maintenance, Hacktoberfest-accepted

#5115 Fix the error of docstring example code in `open_movie`
  pyvista/plotting/plotter.py
Labels: documentation, Hacktoberfest-accepted

#5073 Fix the link of docstring in `text.py`
  doc/source/api/plotting/index.rst
  pyvista/plotting/text.py
Labels: documentation, Hacktoberfest-accepted

#5124 Fix `.pre-commit-config.yaml` setting error
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/auto-approve.yml
  .pre-commit-config.yaml
  README.rst
  doc/source/ads.txt
  doc/source/api/readers/index.rst
  tests/plotting/fonts/LICENSE
Labels: maintenance, Hacktoberfest-accepted, dependencies

#5126 Update AUTHORS.rst to include contributors graph
  AUTHORS.rst
Labels: documentation, Hacktoberfest-accepted

#5120 Add explanation for adding test code for deprecated functions
  CONTRIBUTING.rst
Labels: documentation, Hacktoberfest-accepted

#5085 Add `Prop3D` class to the API document
  doc/source/api/plotting/index.rst
  pyvista/plotting/__init__.py
Labels: documentation, Hacktoberfest-accepted

#5122 Add theme option to allow plotting empty meshes
  pyvista/plotting/plotter.py
  pyvista/plotting/themes.py
  tests/plotting/test_plotting.py
  tests/plotting/test_theme.py
Labels: enhancement, Hacktoberfest-accepted

#5103 Support user logos on the viewport
  pyproject.toml
  pyvista/examples/examples.py
  pyvista/examples/pyvista_logo.png
  pyvista/plotting/_vtk.py
  pyvista/plotting/themes.py
  pyvista/plotting/widgets.py
  tests/examples/test_examples.py
  tests/plotting/image_cache/logo_widget.png
  tests/plotting/image_cache/logo_widget_1.png
  tests/plotting/image_cache/logo_widget_2.png
  tests/plotting/image_cache/logo_widget_3.png
  tests/plotting/image_cache/user_logo.png
  tests/plotting/test_theme.py
  tests/plotting/test_widgets.py
Labels: enhancement, Hacktoberfest-accepted

#5134 Use -a for xvfb-run in Plotting Testing (uses GL)
  .github/workflows/testing-and-deployment.yml
Labels: maintenance, Hacktoberfest-accepted

#5128 Add off screen devcontainer option
  .devcontainer/osmesa/devcontainer.json
  .devcontainer/osmesa/oncreatecommand.sh
  CONTRIBUTING.rst
Labels: enhancement, Hacktoberfest-accepted

#5091 Add Preview the Documentation section in CONTRIBUTING
  .github/workflows/docs.yml
  .github/workflows/preview-docs.yml
  CONTRIBUTING.rst
Labels: documentation, maintenance, Hacktoberfest-accepted

#5139 Revert "Add Preview the Documentation section in CONTRIBUTING"
  .github/workflows/docs.yml
  .github/workflows/preview-docs.yml
  CONTRIBUTING.rst
Labels: maintenance, Hacktoberfest-accepted

#4688 Fix VTK 9.3 failures
  pyvista/core/composite.py
  pyvista/plotting/_vtk.py
  pyvista/plotting/composite_mapper.py
  tests/plotting/test_plotting.py
Labels: maintenance

#5140 Fix issue with +/-Y face floors
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/add_floor[+X].png
  tests/plotting/image_cache/add_floor[+Y].png
  tests/plotting/image_cache/add_floor[+Z].png
  tests/plotting/image_cache/add_floor[-X].png
  tests/plotting/image_cache/add_floor[-Y].png
  tests/plotting/image_cache/add_floor[-Z].png
  tests/plotting/test_plotting.py
Labels: bug, Hacktoberfest-accepted

#5112 Ensure Theme subclasses cannot receive arbitrary attributes after instantiation
  pyvista/plotting/themes.py
  tests/plotting/test_theme.py
Labels: bug, Hacktoberfest-accepted

#5133 Add API doc of Features
  doc/source/api/utilities/utilities.rst
Labels: documentation, Hacktoberfest-accepted

#5144 Remove set_plot_theme from examples
  doc/source/conf.py
Labels: bug, documentation

#5143 Remove unnecessary if statement to use `wrap`
  pyvista/core/composite.py
Labels: maintenance, Hacktoberfest-accepted

#5150 Update example deprecation code in `CONTRIBUTING.rst`
  CONTRIBUTING.rst
Labels: maintenance, Hacktoberfest-accepted
