Repository pyvista/pyvista, pull requests merged in 2023-06, with the labels that each got.

#4488 Add vision6D to Connections
  doc/source/getting-started/connections.rst
Labels: documentation

#4490 Let's make Authors section rock!
  README.rst
Labels: documentation

#4480 Add Cell center property
  pyvista/core/cell.py
  tests/test_cells.py
Labels: enhancement

#4499 Test MNE without ignoring deprecation warning
  .github/workflows/integration-tests.yml
Labels: maintenance

#4485 Move VTK cell type to pyvista.CellType
  tests/check_doctest_names.py
  tests/test_filters.py
  tests/test_grid.py
Labels: maintenance

#4489 Adding append_polydata method
  pyvista/core/filters/poly_data.py
  tests/test_polydata.py
Labels: enhancement

#4463 Add Plotting document autosummary
  doc/source/api/plotting/index.rst
Labels: documentation

#4519 Fix external links typo
  pyvista/core/filters/poly_data.py
  pyvista/plotting/axes_actor.py
Labels: documentation

#4514 Check garbage collection on all plotting tests, allow specific skipping
  tests/plotting/conftest.py
  tests/plotting/jupyter/conftest.py
  tests/plotting/mappers/test_volume_mapper.py
  tests/plotting/test_axes.py
  tests/plotting/test_charts.py
  tests/plotting/test_collection.py
  tests/plotting/test_cube_axes_actor.py
  tests/plotting/test_lookup_table.py
  tests/plotting/test_plotting.py
  tests/plotting/test_plotting_utilities.py
  tests/plotting/test_volume_property.py
  tests/plotting/test_widgets.py
Labels: maintenance

#4515 Deprecate Texture tracking on DataSet
  doc/source/api/plotting/plotting.rst
  doc/source/user-guide/jupyter/panel.rst
  doc/source/user-guide/jupyter/pythreejs.rst
  examples/99-advanced/planets.py
  pyvista/core/dataset.py
  pyvista/core/filters/poly_data.py
  pyvista/examples/examples.py
  pyvista/examples/planets.py
  pyvista/plotting/plotter.py
  tests/core/test_dataset.py
  tests/examples/test_download_files.py
  tests/examples/test_examples.py
  tests/plotting/jupyter/test_pythreejs.py
  tests/plotting/test_export.py
  tests/plotting/test_plotting.py
  tests/plotting/test_texture.py
Labels: documentation, deprecation, maintenance, breaking-change

#4508 Validate and clean up pyvista.plotting namespace
  doc/source/api/plotting/index.rst
  doc/source/conf.py
  pyvista/plotting/__init__.py
  pyvista/plotting/utilities/__init__.py
  tests/namespace/namespace-plotting.txt
  tests/namespace/test_plotting_namespace.py
Labels: maintenance

#4527 Fix test_timer skip conditions
  tests/plotting/test_render_window_interactor.py
Labels: maintenance

#4533 [HOTFIX] Move more plotting VTK imports
  pyvista/core/_vtk_core.py
  pyvista/plotting/_vtk.py
Labels: maintenance

#4516 Set DocumentTheme as new default
  doc/source/api/plotting/theme.rst
  examples/02-plot/depth-peeling.py
  examples/02-plot/themes.py
  pyvista/__init__.py
  pyvista/_plot.py
  pyvista/core/filters/poly_data.py
  pyvista/plotting/_property.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotter.py
  pyvista/plotting/renderer.py
  pyvista/plotting/scalar_bars.py
  pyvista/plotting/utilities/xvfb.py
  pyvista/themes.py
  tests/plotting/jupyter/test_trame.py
  tests/plotting/test_theme.py
Labels: deprecation, maintenance, breaking-change

#4539 Isolate libGL VTK imports
  pyvista/plotting/_vtk.py
  pyvista/plotting/_vtk_gl.py
  pyvista/plotting/renderer.py
Labels: maintenance

#4543 Ensure update_scalars marks Modified
  pyvista/plotting/plotter.py
Labels: bug

#4538 Prevent deprecation warnings in examples
  doc/source/api/examples/index.rst
  doc/source/conf.py
  examples/02-plot/backface_props.py
  examples/02-plot/background_image.py
  examples/02-plot/multi-window.py
  examples/99-advanced/planets.py
Labels: documentation

#4522 Improve EGL offscreen support
  tests/plotting/jupyter/test_trame.py
  tests/plotting/test_plotter.py
Labels: maintenance

#4547 Keep Plotter open for trame client view and connect axes widget
  pyvista/plotting/plotter.py
  pyvista/trame/ui.py
  pyvista/trame/views.py
  tests/plotting/jupyter/test_trame.py
Labels: bug

#4254 Picking overhaul
  doc/source/api/plotting/index.rst
  doc/source/conf.py
  examples/02-plot/element-picking.py
  examples/02-plot/mesh-picking.py
  examples/02-plot/point-picking.py
  examples/02-plot/surface-picking.py
  pyvista/plotting/_vtk.py
  pyvista/plotting/errors.py
  pyvista/plotting/opts.py
  pyvista/plotting/picking.py
  pyvista/plotting/render_window_interactor.py
  tests/plotting/image_cache/fly_to_mouse_position.png
  tests/plotting/image_cache/fly_to_right_click.png
  tests/plotting/image_cache/fly_to_right_click_multi_render.png
  tests/plotting/image_cache/poked_subplot_context.png
  tests/plotting/test_picking.py
  tests/plotting/test_render_window_interactor.py
Labels: enhancement, documentation

#4572 Fix typo
  pyvista/plotting/picking.py
Labels: documentation

#4574 Switch default color to lightblue for document theme
  doc/source/api/core/pointsets.rst
  doc/source/api/plotting/plotting.rst
  doc/source/user-guide/jupyter/ipygany.rst
  doc/source/user-guide/simple.rst
  doc/source/user-guide/themes.rst
  examples/00-load/create-geometric-objects.py
  examples/00-load/create-parametric-geometric-objects.py
  examples/00-load/create-platonic-solids.py
  examples/00-load/linear-cells.py
  examples/00-load/load-gltf.py
  examples/01-filter/boolean-operations.py
  examples/01-filter/extrude-rotate.py
  examples/02-plot/depth-peeling.py
  examples/02-plot/edl.py
  examples/02-plot/labels.py
  examples/02-plot/mesh-picking.py
  examples/02-plot/multi-window.py
  examples/02-plot/silhouette.py
  examples/02-plot/themes.py
  examples/04-lights/light_types.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/pointset.py
  pyvista/core/utilities/points.py
  pyvista/core/utilities/reader.py
  pyvista/plotting/plotter.py
  pyvista/themes.py
Labels: enhancement, documentation

#4575 Download cartopy assets prior to geovista tests
  .github/workflows/integration-tests.yml
Labels: maintenance

#4591 Limit Docker image builds on PRs
  .github/workflows/docker-package.yml
Labels: maintenance

#4573 Handle plotter scale for point picking
  pyvista/plotting/picking.py
Labels: bug

#4521 Change antialiasing default to ssaa
  pyvista/plotting/plotter.py
  pyvista/plotting/renderer.py
  pyvista/themes.py
  tests/plotting/image_cache/plot_cell.png
  tests/plotting/test_plotter.py
  tests/plotting/test_plotting.py
  tests/plotting/test_theme.py
Labels: maintenance

#4568 Add GeoVista integration test
  .github/workflows/integration-tests.yml
Labels: maintenance

#4576 Set default picker
  pyvista/plotting/render_window_interactor.py
  tests/plotting/image_cache/fly_to_mouse_position.png
  tests/plotting/image_cache/fly_to_right_click.png
Labels: bug

#4586 Fix 3D objects not being displayed in example of `save_graphic`
  pyvista/plotting/plotter.py
  tests/plotting/test_plotting.py
Labels: bug

#4594 Clarify the difference between n_verts and n_points
  pyvista/core/pointset.py
Labels: documentation

#4599 Add sunkit-pyvista as an external example
  doc/source/images/external-examples/sunkit-pyvista.png
  doc/source/make_external_gallery.py
Labels: documentation

#3718 Measurement widget that snaps to points
  examples/02-plot/distance_measurement.py
  pyvista/plotting/_vtk.py
  pyvista/plotting/widgets.py
  tests/plotting/test_widgets.py
Labels: enhancement, documentation

#4600 HOTFIX: HTML repr width
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/objects.py
Labels: maintenance

#4606 Move Vale CI job
  .github/workflows/docs.yml
  .github/workflows/style_docstr.yml
Labels: maintenance

#4569 Dynamic Sphinx-Gallery Scraper
  doc/source/conf.py
  doc/source/getting-started/installation.rst
  environment.yml
  examples_trame/requirements.txt
  pyproject.toml
  pyvista/ext/viewer_directive.py
  pyvista/plotting/__init__.py
  pyvista/plotting/export_vtkjs.py
  pyvista/plotting/plotter.py
  pyvista/plotting/utilities/sphinx_gallery.py
  pyvista/trame/ui.py
  pyvista/trame/views.py
  requirements_test.txt
  tests/namespace/namespace-plotting.txt
  tests/namespace/namespace-top.txt
  tests/plotting/jupyter/test_panel.py
  tests/plotting/jupyter/test_pythreejs.py
  tests/plotting/jupyter/test_trame.py
  tests/plotting/test_export.py
Labels: enhancement, documentation, maintenance

#4609 Release v0.40
  pyvista/_version.py
Labels: release
