Repository pyvista/pyvista, pull requests merged in 2023-12, with the labels that each got.

#5263 ` PyQt6-Qt6!=6.6.1` to fix PyQt and MNE-Python integration tests
  .github/workflows/integration-tests.yml
Labels: maintenance

#5246 Prevent unnecessary copy in DataSet.rename_array
  pyvista/core/dataset.py
  tests/core/test_dataset.py
Labels: bug

#5242 Add cast_to_polydata for Cell
  pyvista/core/cell.py
  tests/core/test_cells.py
Labels: enhancement

#5095 Improved Voxelization - Volume and Discretised Voxels
  doc/source/api/utilities/utilities.rst
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/features.py
  tests/core/test_utilities.py
  tests/plotting/image_cache/voxelize_volume.png
  tests/plotting/image_cache/voxelize_volume_1.png
  tests/plotting/test_plotting.py
Labels: enhancement, Hacktoberfest-accepted

#5274 Update preview_pull_request.yml to enable-commit-comment false
  .github/workflows/preview_pull_request.yml
Labels: maintenance

#5279 ` PyQt6!=6.6.1` to fix PyVistaQt and MNE-Python integration tests
  .github/workflows/integration-tests.yml
Labels: maintenance

#5271 Add snap to closest point option for sample
  pyvista/core/filters/data_set.py
  tests/core/test_dataset_filters.py
Labels: enhancement

#5262 Fix test code to bump trame-vtk from 2.5.9 to 2.6.2
  requirements_docs.txt
  requirements_test.txt
  tests/plotting/jupyter/test_trame.py
Labels: bug, maintenance, dependencies

#5287 Update label.yml and labeler.yml to fix breaking changes in V5
  .github/labeler.yml
  .github/workflows/label.yml
Labels: maintenance

#5293 Fix docstring of `DataSet.cell_neighbors_levels`
  pyvista/core/dataset.py
Labels: documentation

#5138 🚀 Release 0.43
  pyvista/_version.py
Labels: release, Hacktoberfest-accepted

#5283 Update plots before scraping
  .github/workflows/testing-and-deployment.yml
  pyvista/plotting/utilities/sphinx_gallery.py
  requirements_test.txt
  tests/plotting/test_scraper.py
Labels: bug

#5310 Revert "Update plots before scraping"
  .github/workflows/testing-and-deployment.yml
  pyvista/plotting/utilities/sphinx_gallery.py
  requirements_test.txt
  tests/plotting/test_scraper.py
Labels: maintenance, dependencies

#5311 Add more authors and update syntax for bot approval
  .github/workflows/auto-approve.yml
Labels: maintenance

#5312 Add a codeower to important files under .github/workflows
  .github/CODEOWNERS
Labels: maintenance

#5309 Add a step to push the branch in Minor Release Steps
  CONTRIBUTING.rst
Labels: documentation

#5266 Fix redirect link to fix LinkCheck CI error
  CONTRIBUTING.rst
  README.rst
  doc/source/conf.py
  doc/source/getting-started/index.rst
  doc/source/index.rst
Labels: documentation

#5307 Fix connectivity plots in documentation
  pyvista/core/dataset.py
Labels: bug

#5308 Ignore dependabot and pre-commit-ci PR for release
  .github/workflows/label.yml
Labels: maintenance

#5324 Fix issue with `Report()` hijacking shell output
  pyvista/plotting/tools.py
Labels: bug

#5328 Optimize auto approval workflow
  .github/workflows/auto-approve.yml
Labels: maintenance

#5329 Deploy preview document only from command
  .github/workflows/docs.yml
  CONTRIBUTING.rst
Labels: maintenance

#5327 Add admin to code owners of LICENSE, CODE OF CONDUCT etc
  .github/CODEOWNERS
Labels: maintenance

#5304 Add `ruff` linter config to `pyproject.toml`
  .pre-commit-config.yaml
  README.rst
  pyproject.toml
  pyvista/__init__.py
  pyvista/core/input_validation/__init__.py
  pyvista/plotting/camera.py
  pyvista/trame/ui/base_viewer.py
  tests/core/test_datasetattributes.py
  tests/core/test_input_validation.py
Labels: maintenance, dependencies

#5325 Make pyvista/kitware team code owners to trame modules
  .github/CODEOWNERS
Labels: maintenance

#5317 Add `unconstrained_font_size` to `add_scalar_bar`
  pyvista/plotting/scalar_bars.py
  tests/plotting/test_plotting.py
Labels: enhancement

#5321 Update plots before scraping
  pyvista/plotting/utilities/sphinx_gallery.py
  tests/plotting/test_scraper.py
Labels: bug

#4942 Revert "Remove comment about interactive"
  doc/source/user-guide/index.rst
Labels: documentation

#5337 `CODEOWNERS` assignments requires admin approval
  .github/CODEOWNERS
Labels: maintenance

#5362 Bump artifacts action version
  .github/workflows/docs.yml
Labels: maintenance

#4366 Scale array for points gaussian
  examples/02-plot/points-gaussian-scale.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotter.py
  tests/plotting/image_cache/plot_points_gaussian_scale.png
  tests/plotting/mappers/test_gaussian_mapper.py
  tests/plotting/test_plotting.py
Labels: enhancement

#5373 Fix incorrect `PolyData.ray_trace` result if intersection is the origin
  pyvista/core/filters/poly_data.py
  tests/core/test_polydata.py
Labels: bug

#5363 More force static docs additions
  examples/02-plot/backface_props.py
  examples/02-plot/depth_of_field.py
Labels: documentation, maintenance

#5349 Checking `numpydoc_validation` GL07 in `pre-commit`
  pyproject.toml
  pyvista/plotting/themes.py
Labels: bug, documentation, maintenance

#5336 Add Paraview-like 2D interactor style
  pyvista/plotting/plotter.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/enable_2d_style.png
  tests/plotting/image_cache/enable_2d_style_1.png
  tests/plotting/image_cache/enable_2d_style_2.png
  tests/plotting/image_cache/enable_2d_style_3.png
  tests/plotting/image_cache/enable_2d_style_4.png
  tests/plotting/image_cache/enable_2d_style_5.png
  tests/plotting/image_cache/enable_2d_style_6.png
  tests/plotting/image_cache/enable_2d_style_7.png
  tests/plotting/image_cache/enable_2d_style_8.png
  tests/plotting/image_cache/enable_2d_style_9.png
  tests/plotting/test_plotting.py
Labels: enhancement

#5359 Call `Off` method when clear widgets
  pyvista/plotting/widgets.py
  tests/plotting/image_cache/clear_box_widget.png
  tests/plotting/image_cache/clear_button_widget.png
  tests/plotting/image_cache/clear_camera_widget.png
  tests/plotting/image_cache/clear_line_widget.png
  tests/plotting/image_cache/clear_logo_widget.png
  tests/plotting/image_cache/clear_measure_widget.png
  tests/plotting/image_cache/clear_plane_widget.png
  tests/plotting/image_cache/clear_slider_widget.png
  tests/plotting/image_cache/clear_sphere_widget.png
  tests/plotting/image_cache/clear_spline_widget.png
  tests/plotting/test_widgets.py
Labels: bug

#5332 Inherit `XdmfReader` class from `TimeReader` to improve time properties
  pyvista/core/_vtk_core.py
  pyvista/core/utilities/reader.py
  tests/core/test_reader.py
Labels: enhancement

#5354 Add `outline_opacity` to `add_plane_widget`
  pyvista/plotting/widgets.py
  tests/plotting/test_widgets.py
Labels: enhancement

#5375 Add `from_irregular_faces` to `PolyData`
  pyvista/core/cell.py
  pyvista/core/pointset.py
  tests/core/test_polydata.py
Labels: enhancement

#5392 Add rule to check blanket noqa annotations to ruff
  doc/source/conf.py
  examples/99-advanced/sphere_eversion.py
  pyproject.toml
  pyvista/core/filters/poly_data.py
  pyvista/core/utilities/observers.py
  pyvista/examples/downloads.py
  pyvista/plotting/plotter.py
  pyvista/plotting/render_window_interactor.py
  tests/plotting/jupyter/test_static.py
Labels: documentation, maintenance

#5370 Unify docstring style guide with `numpydoc`
  CONTRIBUTING.rst
Labels: maintenance

#5385 Add `NumPy-specific rules` check using `ruff`
  examples/00-load/create-point-cloud.py
  examples/00-load/create-structured-surface.py
  examples/00-load/create-tri-surface.py
  examples/00-load/wrap-trimesh.py
  examples/01-filter/extract-surface.py
  examples/02-plot/composite-picking.py
  examples/02-plot/labels.py
  examples/02-plot/movie.py
  examples/02-plot/points-gaussian-scale.py
  examples/02-plot/spherical.py
  examples/98-common/project-points-tessellate.py
  examples/99-advanced/atomic-orbitals.py
  pyproject.toml
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/objects.py
  pyvista/core/pointset.py
  pyvista/core/utilities/helpers.py
  pyvista/core/utilities/points.py
  pyvista/plotting/helpers.py
  pyvista/plotting/plotter.py
  tests/core/test_composite.py
  tests/core/test_dataset.py
  tests/core/test_dataset_filters.py
  tests/core/test_datasetattributes.py
  tests/core/test_geometric_sources.py
  tests/core/test_grid.py
  tests/core/test_objects.py
  tests/core/test_parametric_geometry.py
  tests/core/test_pointset.py
  tests/core/test_polydata.py
  tests/core/test_unstructured_grid_filters.py
  tests/core/test_utilities.py
  tests/plotting/jupyter/test_trame.py
  tests/plotting/test_axes.py
  tests/plotting/test_camera.py
  tests/plotting/test_collection.py
  tests/plotting/test_plotter.py
  tests/plotting/test_plotting.py
  tests/plotting/test_text.py
  tests/plotting/test_widgets.py
Labels: maintenance

#5399 Fix use random in `pytest.mark.parametrize`
  tests/plotting/test_widgets.py
Labels: maintenance

#5397 Add `flake8-comprehensions` check using `ruff`
  pyproject.toml
  pyvista/core/filters/poly_data.py
  pyvista/plotting/plotter.py
  pyvista/plotting/renderer.py
  pyvista/plotting/themes.py
  pyvista/plotting/utilities/sphinx_gallery.py
  pyvista/plotting/widgets.py
  tests/core/test_cells.py
  tests/core/test_composite.py
  tests/core/test_dataset.py
  tests/core/test_input_validation.py
  tests/plotting/test_cube_axes_actor.py
Labels: maintenance

#5381 Remove unused argument `fig_titles` in `html_rst` function
  pyvista/plotting/utilities/sphinx_gallery.py
Labels: maintenance

#5379 Remove unused descriptions of external examples
  doc/source/make_external_gallery.py
Labels: documentation, maintenance

#5396 Add `font_family` param to `add_legend` function
  pyvista/plotting/renderer.py
  tests/plotting/test_plotter.py
Labels: enhancement

#5356 Simplify charts bookkeeping and update `has_charts`
  pyvista/plotting/renderer.py
  tests/plotting/test_charts.py
  tests/plotting/test_collection.py
Labels: maintenance

#5380 Fix `edge_opacity` is not used in `add_mesh`
  pyvista/plotting/plotter.py
  tests/plotting/test_plotter.py
Labels: bug

#5403 Add Victorian Goblet face illusion example
  pyvista/examples/downloads.py
Labels: enhancement

#5408 Add italic and bold property to `TextPropery`
  pyvista/plotting/plotter.py
  pyvista/plotting/text.py
  tests/plotting/test_text.py
Labels: enhancement

#5404 Check the validity of padding information when initializing cells of a CellArray
  pyvista/core/cell.py
  pyvista/core/errors.py
  tests/core/test_grid.py
  tests/core/test_polydata.py
Labels: maintenance
