Repository pyvista/pyvista, pull requests merged in 2023-11, with the labels that each got.

#5123 Add GitHub Codespaces badge in README.rst and CONTRIBUTING.rst
  .devcontainer/offscreen/devcontainer.json
  .devcontainer/offscreen/oncreatecommand.sh
  CONTRIBUTING.rst
  README.rst
Labels: documentation, Hacktoberfest-accepted

#5158 Deprecate plotter mesh update helpers
  doc/source/api/core/pointsets.rst
  examples/02-plot/gif.py
  examples/02-plot/moving_cmap.py
  examples/02-plot/texture.py
  examples/99-advanced/pump-bracket.py
  pyvista/demos/demos.py
  pyvista/plotting/plotter.py
  tests/plotting/test_plotter.py
  tests/plotting/test_plotting.py
Labels: documentation, maintenance, Hacktoberfest-accepted

#5167 Update .pre-commit-config.yaml to exclude Sphinx objects.inv files
  .pre-commit-config.yaml
Labels: maintenance, dependencies

#5147 Clean up unused arguments
  pyvista/_plot.py
  pyvista/core/grid.py
  pyvista/core/objects.py
  pyvista/core/utilities/observers.py
  pyvista/demos/demos.py
  pyvista/examples/downloads.py
  pyvista/plotting/affine_widget.py
  pyvista/plotting/charts.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotter.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/utilities/algorithms.py
  pyvista/plotting/widgets.py
  tests/core/test_utilities.py
Labels: maintenance, Hacktoberfest-accepted

#5181 Fix rotation bug with 90 degrees on `rotate_vector`
  pyvista/core/utilities/transformations.py
  tests/core/test_dataset.py
Labels: bug

#5185 Remove deprecated multi_samples keyword arg
  examples/02-plot/depth-peeling.py
Labels: bug, documentation

#5160 Support button release events on interactor
  pyvista/plotting/affine_widget.py
  pyvista/plotting/render_window_interactor.py
  tests/plotting/test_render_window_interactor.py
Labels: bug

#5187 Fix trimesh intersphinx
  doc/intersphinx/update.sh
  doc/source/conf.py
Labels: documentation, maintenance

#5189 Enchance BUILDING_GALLERY flag code
  pyvista/__init__.py
Labels: maintenance

#5196 Support python 3.12 and vtk 9.3.0 in CI
  .github/workflows/testing-and-deployment.yml
  .github/workflows/vtk-pre-test.yml
  pyproject.toml
  pyvista/core/pointset.py
  requirements_test.txt
Labels: maintenance

#5194 Add option to get `figure_path` from environment variables
  pyvista/__init__.py
Labels: enhancement

#5199 Remove `cell_arrays` in documentation
  doc/source/user-guide/simple.rst
Labels: documentation, maintenance

#5197 Add option to always get screenshots from plotter shows
  pyvista/__init__.py
  pyvista/plotting/plotter.py
  tests/conftest.py
  tests/plotting/test_plotter.py
Labels: enhancement

#5176 Add conversion of 3D label maps to labeled meshes with SurfaceNets.
  examples/01-filter/contouring.py
  pyvista/core/_vtk_core.py
  pyvista/core/filters/image_data.py
  tests/core/test_imagedata_filters.py
Labels: enhancement, documentation

#5206 Add test-case in tinypages test for new widget
  tests/tinypages/conf.py
  tests/tinypages/some_plots.rst
Labels: enhancement

#5171 Add more typehints
  .pre-commit-config.yaml
  pyproject.toml
  pyvista/core/_typing_core.py
  pyvista/core/cell.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/image_data.py
  pyvista/core/objects.py
  pyvista/core/pointset.py
  pyvista/core/pyvista_ndarray.py
  pyvista/core/utilities/arrays.py
  pyvista/core/utilities/cells.py
  pyvista/core/utilities/docs.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/helpers.py
  pyvista/core/utilities/misc.py
  pyvista/plotting/__init__.py
  pyvista/plotting/_typing.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/themes.py
  pyvista/plotting/utilities/regression.py
  tests/core/test_grid.py
Labels: enhancement, maintenance, dependencies

#5100 Add `input_validation` package
  CONTRIBUTING.rst
  doc/source/api/core/index.rst
  doc/source/api/core/validation.rst
  pyvista/core/input_validation/__init__.py
  pyvista/core/input_validation/check.py
  pyvista/core/input_validation/validate.py
  pyvista/core/utilities/arrays.py
  tests/core/test_input_validation.py
  tests/core/test_utilities.py
Labels: enhancement, Hacktoberfest-accepted

#5225 Fix a small typo
  pyvista/core/input_validation/check.py
Labels: documentation

#5218 Add Text3DSource class
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/misc.py
  tests/core/test_geometric_objects.py
  tests/core/test_geometric_sources.py
Labels: enhancement

#5192 Add `edge_opacity` property to `Property` class
  pyvista/plotting/_property.py
  pyvista/plotting/plotter.py
  pyvista/plotting/themes.py
  tests/plotting/test_property.py
Labels: enhancement

#5168 Add embeddable jupyter widget
  pyvista/jupyter/__init__.py
  pyvista/jupyter/notebook.py
  pyvista/plotting/plotter.py
  pyvista/plotting/themes.py
  pyvista/trame/jupyter.py
  tests/plotting/jupyter/test_trame.py
Labels: enhancement

#5228 Suppress VTK debug messages in contour_labeled and fix extract_all_edges logging level restoration
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
Labels: bug

#5243 Fix docstring format error
  pyvista/core/filters/data_set.py
  pyvista/core/pointset.py
Labels: documentation

#5247 Move `input_validation` private package
  CONTRIBUTING.rst
  doc/source/api/core/index.rst
  doc/source/api/core/validation.rst
Labels: documentation
