Repository pyvista/pyvista, pull requests merged in 2023-08, with the labels that each got.

#4712 Fix polyhedron cast to unstructured grid
  pyvista/core/cell.py
  pyvista/examples/cells.py
  tests/core/test_cells.py
Labels: bug

#4726 For exact checks use `is` / `is not`
  pyvista/core/filters/data_set.py
  tests/core/test_datasetattributes.py
Labels: maintenance

#4649 Add Report class GPU test
  tests/core/test_utilities.py
Labels: maintenance, scipy2023

#4733 Use relative paths in the offlineviewer directive
  pyvista/ext/viewer_directive.py
Labels: bug

#4757 Fix annotation type of `line_width` bool -> float
  pyvista/plotting/_property.py
Labels: maintenance

#4782 Add sample enhancements
  pyvista/core/filters/composite.py
  pyvista/core/filters/data_set.py
  tests/core/test_dataset_filters.py
Labels: enhancement

#4779 Add `Plotter.meshes`
  pyvista/plotting/plotter.py
  tests/plotting/test_plotter.py
Labels: enhancement

#4787 Change dependabot interval daily to monthly
  .github/dependabot.yml
Labels: maintenance

#4793 Enable MSAA by default
  doc/source/getting-started/index.rst
  examples/02-plot/anti-aliasing.py
  pyvista/_plot.py
  pyvista/plotting/plotter.py
  pyvista/plotting/themes.py
  tests/plotting/image_cache/plot[False].png
  tests/plotting/image_cache/plot[True].png
  tests/plotting/image_cache/plot[msaa].png
  tests/plotting/test_plotting.py
Labels: enhancement, documentation

#4794 Add PointSet.extract_surface etc to unsupported
  pyvista/core/pointset.py
  tests/core/test_pointset.py
Labels: bug

#4687 Remove deprecated jupyter backends
  .github/workflows/integration-tests.yml
  doc/source/api/core/composite.rst
  doc/source/api/core/grids.rst
  doc/source/api/core/pointsets.rst
  doc/source/api/plotting/plotting.rst
  doc/source/getting-started/installation.rst
  doc/source/getting-started/why.rst
  doc/source/index.rst
  doc/source/user-guide/index.rst
  doc/source/user-guide/jupyter/index.rst
  doc/source/user-guide/jupyter/ipygany.rst
  doc/source/user-guide/jupyter/ipyvtk_plotting.rst
  doc/source/user-guide/jupyter/panel.rst
  doc/source/user-guide/jupyter/pythreejs.rst
  doc/source/user-guide/simple.rst
  doc/source/user-guide/vtk_to_pyvista.rst
  doc/source/user-guide/what-is-a-mesh.rst
  environment.yml
  pyproject.toml
  pyvista/_plot.py
  pyvista/demos/logo.py
  pyvista/jupyter/__init__.py
  pyvista/jupyter/notebook.py
  pyvista/jupyter/pv_ipygany.py
  pyvista/jupyter/pv_pythreejs.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotter.py
  pyvista/plotting/themes.py
  pyvista/report.py
  requirements_docs.txt
  requirements_test.txt
  tests/conftest.py
  tests/plotting/jupyter/test_ipygany.py
  tests/plotting/jupyter/test_ipyvtk.py
  tests/plotting/jupyter/test_panel.py
  tests/plotting/jupyter/test_pythreejs.py
Labels: documentation, maintenance, dependencies

#4800 Add missing libraries to pv.Report
  pyvista/report.py
Labels: maintenance

#4805 Use pv insted of pyvista in test code
  tests/core/test_cells.py
  tests/core/test_composite.py
  tests/core/test_dataobject.py
  tests/core/test_dataset.py
  tests/core/test_dataset_filters.py
  tests/core/test_datasetattributes.py
  tests/core/test_geometric_objects.py
  tests/core/test_grid.py
  tests/core/test_helpers.py
  tests/core/test_objects.py
  tests/core/test_parametric_geometry.py
  tests/core/test_pointset.py
  tests/core/test_polydata.py
  tests/core/test_pyvista_ndarray.py
  tests/core/test_reader.py
  tests/core/test_utilities.py
  tests/namespace/test_public_namespace.py
  tests/plotting/conftest.py
  tests/plotting/test_camera.py
  tests/plotting/test_charts.py
  tests/plotting/test_colors.py
  tests/plotting/test_demos.py
  tests/plotting/test_lights.py
  tests/plotting/test_picking.py
  tests/plotting/test_plotter.py
  tests/plotting/test_plotting.py
  tests/plotting/test_plotting_utilities.py
  tests/plotting/test_render_window_interactor.py
  tests/plotting/test_renderer.py
  tests/plotting/test_scraper.py
  tests/plotting/test_theme.py
  tests/plotting/test_widgets.py
  tests/test_meshio.py
Labels: maintenance

#4801 Add `download_frog_tissue` example and `'foreground'` opacity mapping
  pyvista/examples/downloads.py
  pyvista/plotting/plotter.py
  pyvista/plotting/tools.py
  tests/examples/test_download_files.py
  tests/plotting/test_plotting.py
Labels: enhancement

#4765 Raise `ValueError` when setting bad data from VTKObject.
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  tests/core/test_dataset.py
  tests/core/test_datasetattributes.py
Labels: bug

#4808 Add check for identical surfaces for boolean filter
  pyvista/core/filters/poly_data.py
  tests/core/test_polydata.py
  tests/core/test_polydata_filters.py
Labels: bug

#4813 Remove comment about interactive
  doc/source/user-guide/index.rst
Labels: documentation

#4816 Fix bug in the documentation of `extract_surface`
  pyvista/core/filters/data_set.py
Labels: documentation

#4803 Add affine transform widget
  doc/source/api/plotting/index.rst
  pyvista/plotting/__init__.py
  pyvista/plotting/affine_widget.py
  pyvista/plotting/widgets.py
  tests/plotting/test_widgets.py
Labels: enhancement, documentation

#4811 Refactor Trame widget - Vue 2 and Vue 3 versions
  pyvista/jupyter/__init__.py
  pyvista/trame/__init__.py
  pyvista/trame/jupyter.py
  pyvista/trame/ui.py
  pyvista/trame/ui/__init__.py
  pyvista/trame/ui/base_viewer.py
  pyvista/trame/ui/vuetify2.py
  pyvista/trame/ui/vuetify3.py
  pyvista/trame/views.py
  tests/plotting/jupyter/test_trame.py
Labels: enhancement, feature-request, 🍏 low-hanging-fruit, trame
