Repository pyvista/pyvista, pull requests merged in 2023-07, with the labels that each got.

#4625 Remove typed-ast dependency
  requirements_docs.txt
Labels: maintenance, dependencies

#4621 Fix issue with last_vtksz when building gallery
  pyvista/plotting/plotter.py
  pyvista/plotting/utilities/sphinx_gallery.py
Labels: bug

#4633 HOTFIX: set server_proxy_enabled True if detected in environment
  pyvista/themes.py
Labels: bug

#4651 Fix MultipleLines example
  pyvista/core/utilities/geometric_objects.py
Labels: documentation

#4660 Fix the style name typo
  examples/02-plot/point-clouds.py
Labels: documentation, scipy2023

#4648 Deprecate probe; better explain sample/interpolate
  examples/01-filter/interpolate.py
  examples/01-filter/resample.py
  pyvista/core/filters/data_set.py
  tests/filters/test_dataset_filters.py
Labels: maintenance

#4669 Update contact/support information
  CONTRIBUTING.rst
  README.rst
  doc/source/getting-started/index.rst
Labels: documentation, maintenance

#4629 Isolate plotting API
  .github/workflows/testing-and-deployment.yml
  CONTRIBUTING.rst
  doc/source/api/plotting/theme.rst
  doc/source/conf.py
  doc/source/user-guide/jupyter/trame.rst
  doc/source/user-guide/themes.rst
  examples/02-plot/depth-peeling.py
  pyvista/__init__.py
  pyvista/_plot.py
  pyvista/core/dataset.py
  pyvista/core/filters/poly_data.py
  pyvista/errors.py
  pyvista/examples/downloads.py
  pyvista/examples/examples.py
  pyvista/examples/planets.py
  pyvista/jupyter/__init__.py
  pyvista/jupyter/notebook.py
  pyvista/plotting/__init__.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/_property.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotter.py
  pyvista/plotting/renderer.py
  pyvista/plotting/scalar_bars.py
  pyvista/plotting/texture.py
  pyvista/plotting/theme.py
  pyvista/plotting/themes.py
  pyvista/plotting/utilities/xvfb.py
  pyvista/plotting/widgets.py
  pyvista/trame/jupyter.py
  pyvista/utilities/__init__.py
  tests/core/test_dataset.py
  tests/core/test_dataset_filters.py
  tests/core/test_grid.py
  tests/core/test_helpers.py
  tests/core/test_polydata.py
  tests/core/test_polydata_filters.py
  tests/core/test_rectilinear_grid_filters.py
  tests/core/test_unstructured_grid_filters.py
  tests/core/test_utilities.py
  tests/examples/test_download_files.py
  tests/examples/test_downloads.py
  tests/examples/test_examples.py
  tests/namespace/namespace-top.txt
  tests/namespace/test_errors_namespace.py
  tests/plotting/conftest.py
  tests/plotting/jupyter/test_ipygany.py
  tests/plotting/jupyter/test_ipyvtk.py
  tests/plotting/jupyter/test_panel.py
  tests/plotting/jupyter/test_pythreejs.py
  tests/plotting/jupyter/test_trame.py
  tests/plotting/test_demos.py
  tests/plotting/test_plotter.py
  tests/plotting/test_plotting.py
  tests/plotting/test_texture.py
  tests/plotting/test_theme.py
Labels: enhancement, documentation, maintenance, breaking-change

#4636 Fix dynamic scraper paths
  pyvista/ext/viewer_directive.py
Labels: bug

#4672 🚀 Release 0.41
  pyvista/_version.py
  tests/core/test_dataset.py
Labels: release

#4686 Docker improvements
  .github/workflows/docker-package.yml
  docker/jupyter.Dockerfile
  docker/requirements.txt
  docker/slim.Dockerfile
  environment.yml
  examples_trame/requirements.txt
  pyproject.toml
  requirements_test.txt
Labels: documentation, maintenance, dependencies, docker

#4690 Update Trame
  docker/requirements.txt
  environment.yml
  examples_trame/requirements.txt
  pyproject.toml
  pyvista/plotting/plotter.py
  pyvista/trame/__init__.py
  pyvista/trame/jupyter.py
  pyvista/trame/views.py
  requirements_docs.txt
  requirements_test.txt
Labels: documentation, maintenance, dependencies, docker

#4671 Resize plane to fit data in `fit_plane_to_points`
  pyvista/core/utilities/points.py
  tests/core/test_utilities.py
Labels: bug

#4697 Fix error when add_mesh receives ndarray as texture
  pyvista/plotting/plotter.py
  tests/plotting/test_plotting.py
Labels: bug

#4637 More convenient PolyData face interface
  pyvista/core/cell.py
  pyvista/core/pointset.py
  tests/core/test_cells.py
  tests/core/test_polydata.py
Labels: enhancement

#4702 Fix Vale errors in document
  doc/source/api/core/composite.rst
  doc/source/user-guide/what-is-a-mesh.rst
Labels: documentation

#4674 Fix `Plane` and `Sphere` normal/direction; fix `axis_rotation_angle` numerical error
  pyvista/core/cell.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/poly_data.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/transformations.py
  tests/conftest.py
  tests/core/test_dataset.py
  tests/core/test_geometric_objects.py
  tests/core/test_polydata.py
  tests/core/test_utilities.py
  tests/plotting/image_cache/plot_texture_alone.png
  tests/plotting/image_cache/plot_texture_flip_x.png
  tests/plotting/image_cache/plot_texture_flip_y.png
  tests/plotting/test_plotting.py
Labels: bug

#4677 Update implicit_distance docs to include sign info
  pyvista/core/filters/data_set.py
Labels: documentation

#4710 Test all cell types in test_cell
  tests/core/test_cells.py
Labels: maintenance
