Repository pyvista/pyvista, pull requests merged in 2023-02, with the labels that each got.

#3919 Ignore inherited members and attributes and switch to the full doc build
  .github/workflows/docs.yml
  CONTRIBUTING.rst
  doc/README.md
  doc/_templates/autosummary/class.rst
  doc/_templates/autosummary/module.rst
  doc/_templates_basic/autosummary/class.rst
  doc/_templates_basic/autosummary/module.rst
  doc/conf.py
Labels: documentation, full-doc

#3825 Add hydrogen orbitals example
  doc/index.rst
  examples/99-advanced/atomic-orbitals.py
  pyvista/examples/examples.py
  pyvista/plotting/plotting.py
  pyvista/plotting/widgets.py
  pyvista/utilities/features.py
  requirements_docs.txt
  requirements_test.txt
  tests/examples/test_examples.py
  tests/test_utilities.py
Labels: enhancement, documentation

#3924 [HOTFIX] Verify int64 support with trame
  docker/requirements.txt
  environment.yml
  examples_trame/requirements.txt
  pyproject.toml
  requirements_docs.txt
  requirements_test.txt
  tests/jupyter/test_trame.py
Labels: bug, maintenance, dependencies, docker

#3928 Ignore BLK100 for flake8-black
  .flake8
Labels: bug, maintenance

#3870 Custom themes and more theme options
  pyvista/plotting/_plotting.py
  pyvista/plotting/_property.py
  pyvista/plotting/actor_properties.py
  pyvista/plotting/mapper.py
  pyvista/plotting/opts.py
  pyvista/plotting/plotting.py
  pyvista/themes.py
  pyvista/utilities/misc.py
  tests/plotting/image_cache/property.png
  tests/plotting/image_cache/property_pbr.png
  tests/plotting/test_plotting.py
  tests/test_property.py
  tests/test_theme.py
Labels: enhancement, full-doc

#3927 [HOTFIX] Track is_set on Camera rather than Renderer
  examples/02-plot/multi-window.py
  pyvista/plotting/camera.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  pyvista/trame/views.py
  tests/plotting/image_cache/link_views_camera_set.png
  tests/plotting/image_cache/link_views_camera_set_2.png
  tests/plotting/image_cache/plot_compare_four.png
  tests/plotting/test_plotting.py
Labels: bug, documentation

#3756 Fix and improve chart interaction
  doc/api/plotting/charts/index.rst
  doc/api/plotting/index.rst
  doc/conf.py
  pyvista/_typing.py
  pyvista/plotting/__init__.py
  pyvista/plotting/charts.py
  pyvista/plotting/plotting.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  tests/plotting/image_cache/chart_plot.png
  tests/plotting/test_plotting.py
  tests/test_charts.py
  tests/test_render_window_interactor.py
Labels: bug, enhancement, vtk-issue

#3929 Add intersection edge case test
  pyvista/core/filters/poly_data.py
  tests/filters/test_poly_data.py
Labels: bug

#3933 Force redeploy of docs
  .github/workflows/docs.yml
Labels: documentation, maintenance

#3930 UnstructuredGrid volume rendering
  pyvista/_vtk.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  tests/plotting/image_cache/plot_volume_ugrid.png
  tests/plotting/image_cache/plot_volume_ugrid_1.png
  tests/plotting/test_plotting.py
Labels: enhancement

#3934 Document BasePlotter
  doc/api/plotting/index.rst
  doc/conf.py
  pyvista/plotting/plotting.py
Labels: documentation

#3935 Release 0.38
  .github/workflows/docs.yml
  examples/99-advanced/sphere_eversion.py
  pyvista/_version.py
  pyvista/plotting/plotting.py
  pyvista/plotting/renderer.py
  tests/test_renderer.py
Labels: release

#3943 [HOTFIX] Resolve trame import issues
  .github/workflows/testing-and-deployment.yml
  doc/api/plotting/trame.rst
  pyvista/__init__.py
  pyvista/trame/jupyter.py
Labels: bug, documentation, maintenance

#3944 Test with Python 3.11
  .github/workflows/docs.yml
  .github/workflows/testing-and-deployment.yml
  pyproject.toml
Labels: maintenance

#3966 Patch contextmanagers to handle exceptions
  pyvista/plotting/plotting.py
Labels: bug

#3989 Fix pyinstaller.rst docs
  doc/extras/pyinstaller.rst
Labels: documentation

#3967 MAINT: Add pyvistaqt integration test
  .github/workflows/integration-tests.yml
  .github/workflows/testing-and-deployment.yml
  tests/test_scraper.py
Labels: maintenance

#3990 Fix renderer scaling
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/plotter_scale.png
  tests/plotting/image_cache/plotter_scale_1.png
  tests/plotting/image_cache/plotter_scale_2.png
  tests/plotting/test_plotting.py
  tests/test_renderer.py
Labels: bug

#3992 Pass texture coordinates when wrapping Trimesh object
  pyvista/utilities/helpers.py
  tests/test_helpers.py
Labels: bug

#3993 Improve UI state defaults
  pyvista/trame/ui.py
Labels: bug

#4000 Improve trame server launching
  pyvista/themes.py
  pyvista/trame/jupyter.py
Labels: bug

#3999 🎉 Add NumFOCUS affiliation status
  README.rst
  doc/index.rst
Labels: documentation

#4003 Fix a small typo
  pyvista/plotting/plotting.py
  pyvista/themes.py
Labels: documentation

#4004 Typo's on the Trame User Guide
  doc/user-guide/jupyter/trame.rst
Labels: bug, documentation

#4011 Add .codacy.yml to exclude examples and tests
  .codacy.yml
Labels: maintenance

#4052 Fix bug of get_data_range method in Table class.
  pyvista/core/objects.py
  tests/test_objects.py
Labels: bug

#4035 [HOTFIX] update_scalar_bar_range
  pyvista/plotting/plotting.py
Labels: bug

#4054 vtkFiltersParallelDIY2 ModuleNotFoundError -> ImportError
  pyvista/_vtk.py
Labels: bug

#4053 Add bug branch name to bug flag
  .github/workflows/label.yml
  CONTRIBUTING.rst
Labels: maintenance
