Repository pyvista/pyvista, pull requests merged in 2023-04, with the labels that each got.

#4226 Enforce value range testing for properties
  pyvista/plotting/_property.py
  pyvista/plotting/composite_mapper.py
  pyvista/themes.py
  pyvista/utilities/misc.py
  tests/test_property.py
Labels: bug

#4227 Fast merge PolyData
  pyvista/core/filters/poly_data.py
Labels: enhancement

#4229 Add tubes CFD example
  examples/99-advanced/openfoam-tubes.py
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: enhancement, documentation

#4228 Change development status to stable
  pyproject.toml
Labels: discussion

#4237 Typo fix
  pyvista/plotting/_property.py
Labels: documentation

#4241 MAINT: Use setup-headless for pyvistaqt
  .github/workflows/integration-tests.yml
Labels: maintenance

#4235 Add electronics cooling example
  examples/99-advanced/openfoam-cooling.py
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: enhancement, documentation

#4234 Generalize pure VTK example
  doc/source/getting-started/why.rst
Labels: documentation

#4223 Improve performance of Trame camera sync
  examples_trame/basic/algorithm.py
  examples_trame/basic/ui_template.py
  examples_trame/validation/many_actors.py
  pyvista/plotting/renderer.py
  pyvista/trame/ui.py
  pyvista/trame/views.py
Labels: bug

#4253 [Hotfix] Fix download error
  pyvista/examples/downloads.py
Labels: maintenance

#4256 Fix typo
  examples/99-advanced/openfoam-cooling.py
  examples/99-advanced/openfoam-tubes.py
Labels: documentation

#4264 Transifex's Web Application's Domain Change
  doc/source/index.rst
Labels: documentation, maintenance

#4269 [Hotfix] Remove codecov from requirements
  requirements_test.txt
Labels: maintenance, dependencies

#4261 Fix add_composite use within add_mesh
  pyvista/plotting/plotting.py
Labels: bug

#4268 Add topoGenesis to the external examples
  doc/source/images/external-examples/boolean_marching_cubes.png
  doc/source/make_external_gallery.py
Labels: documentation

#4276 Update windows doc building command.
  CONTRIBUTING.rst
Labels: documentation

#4263 Move pre-commit GitHub action to pre-commit.ci
  .github/workflows/pre-commit-update.yml
  .github/workflows/style_docstr.yml
  .pre-commit-config.yaml
  CONTRIBUTING.rst
Labels: maintenance

#4281 Enable vale
  .github/workflows/docs.yml
  doc/styles/Vocab/pyvista/accept.txt
Labels: documentation, maintenance

#4282 Bump sphinx to v6.1.3
  requirements_docs.txt
Labels: documentation, dependencies

#4278 Add Sequence to DataSet[Attributes] `__setitem__` typing
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
Labels: bug

#4258 Add simple aero bracket
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: enhancement

#3862 Support for multi version documentation
  .github/workflows/docs.yml
  doc/source/conf.py
Labels: documentation, maintenance, full-doc

#4284 Follow up pre-commit.ci adding
  README.rst
Labels: maintenance

#4255 Add pump bracket example
  examples/99-advanced/pump-bracket.py
  examples/99-advanced/warp-by-vector-eigenmodes.py
  pyvista/core/filters/data_set.py
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: enhancement, documentation

#4287 Fix specular values in examples
  examples/01-filter/flying_edges.py
  examples/01-filter/image-fft-perlin-noise.py
  examples/02-plot/moving_cmap.py
Labels: documentation

#4294 Add clear_data option for edge extraction
  pyvista/core/filters/data_set.py
  tests/test_filters.py
  tests/test_polydata.py
Labels: enhancement

#4295 Show scalar bar if scalar_bar_args are passed
  pyvista/plotting/_plotting.py
  pyvista/plotting/plotting.py
Labels: enhancement

#4299 Remove flask examples
  .codacy.yml
  .github/labeler.yml
  .pre-commit-config.yaml
  Makefile
  doc/source/extras/flask.rst
  doc/source/extras/index.rst
  examples_flask/dynamic_ex/app.py
  examples_flask/dynamic_ex/requirements.txt
  examples_flask/dynamic_ex/templates/index.html
  examples_flask/static_ex/app.py
  examples_flask/static_ex/requirements.txt
  examples_flask/static_ex/templates/index.html
Labels: documentation, maintenance

#3704 Add CI workflow to test VTK master branch
  .github/workflows/vtk-pre-test.yml
  tests/plotting/test_plotting.py
Labels: maintenance

#4315 Allow `Sequences` in RectilinearGrid
  pyvista/core/grid.py
  tests/test_grid.py
Labels: bug

#4311 Pass cell data in to_tetrahedra
  pyvista/core/datasetattributes.py
  pyvista/core/filters/rectilinear_grid.py
  tests/filters/test_rectilinear_grid.py
Labels: enhancement

#4322 Typo fix
  pyvista/core/filters/rectilinear_grid.py
Labels: documentation

#4330 Add icosphere
  doc/source/api/utilities/geometric.rst
  pyvista/core/filters/poly_data.py
  pyvista/utilities/geometric_objects.py
  tests/test_geometric_objects.py
Labels: enhancement, documentation

#4327 Fix ``linkchecker`` workflow and make file
  doc/Makefile
  doc/source/conf.py
  pyvista/utilities/docs.py
Labels: bug, documentation

#4321 Disable anti-aliasing on openfoam cooling example
  examples/99-advanced/openfoam-cooling.py
Labels: documentation

#4303 Fix documentation build settings
  .github/workflows/docs.yml
Labels: maintenance

#4333 Make imageio an optional dependency
  pyproject.toml
  pyvista/core/texture.py
  pyvista/plotting/plotting.py
  pyvista/utilities/errors.py
  pyvista/utilities/fileio.py
  pyvista/utilities/misc.py
  requirements.txt
  requirements_docs.txt
  requirements_test.txt
  tests/plotting/test_plotting.py
  tests/utilities/test_misc.py
  tests/utilities/test_reader.py
Labels: maintenance, dependencies

#4337 Lazy reader imports
  pyvista/_vtk.py
  pyvista/plotting/plotting.py
  pyvista/plotting/widgets.py
  pyvista/utilities/fileio.py
  pyvista/utilities/misc.py
  pyvista/utilities/reader.py
  tests/test_init.py
Labels: enhancement

#4349 Fix documentation deployment
  .github/workflows/docs.yml
Labels: maintenance

#4329 Ensure UnstructuredGrid.cells are read only
  pyvista/core/pointset.py
  pyvista/demos/logo.py
  tests/test_grid.py
  tests/test_polydata.py
Labels: enhancement

#4331 Deprecate offset in UnstructuredGrid
  pyvista/core/pointset.py
  tests/test_grid.py
Labels: enhancement

#4320 Fix the edit this page link
  doc/source/_templates/edit-this-page.html
  doc/source/conf.py
  pyvista/utilities/docs.py
Labels: documentation

#4358 Do not show edges with render_lines_as_tubes
  pyvista/demos/logo.py
  pyvista/plotting/plotting.py
  tests/test_plotter.py
Labels: bug
