Repository pyvista/pyvista, pull requests merged in 2023-05, with the labels that each got.

#4368 Use fullname for autosummary
  doc/source/_templates/autosummary/base.rst
Labels: documentation

#4367 Add clean unstructured grid
  pyvista/core/filters/unstructured_grid.py
  tests/filters/test_unstructured_grid.py
Labels: enhancement

#4375 Resolve issues with imageio 2.28.1
  pyvista/plotting/plotting.py
  requirements_test.txt
  tests/utilities/test_misc.py
Labels: bug, dependencies

#4376 Release v0.38.6
  pyvista/_version.py
  pyvista/plotting/plotting.py
  requirements_test.txt
Labels: release, dependencies

#4361 Add iterative closest point
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: enhancement

#4374 Add a simple example to project points to a plane
  .github/workflows/docs.yml
  examples/98-common/README.rst
  examples/98-common/project-points-tessellate.py
Labels: enhancement, documentation

#4184 Improve VTK and MPL version compatibility checks
  pyvista/_vtk.py
  pyvista/plotting/__init__.py
  pyvista/plotting/tools.py
  pyvista/utilities/errors.py
  tests/plotting/test_plotting.py
Labels: maintenance

#4365 Improve pyvista.StructuredGrid example
  doc/source/api/core/pointsets.rst
  doc/source/getting-started/why.rst
  pyvista/core/pointset.py
  pyvista/utilities/features.py
Labels: documentation

#4383 Fix plot output of docstring
  pyvista/core/filters/data_set.py
Labels: documentation

#4204 Add extract_cells_by_type
  pyvista/_vtk.py
  pyvista/core/filters/data_set.py
  tests/test_filters.py
Labels: enhancement

#4359 Release 0.39.0
  pyvista/_version.py
Labels: release

#4391 Fix integration test error by installing imageio
  .github/workflows/integration-tests.yml
Labels: priority-high, maintenance

#4403 Add gif extension to Sphinx-Gallery scraper
  examples/02-plot/gif.py
  pyvista/utilities/sphinx_gallery.py
  tests/test_scraper.py
Labels: bug

#4399 Add find_cells_intersecting_line
  pyvista/core/dataset.py
  tests/test_dataset.py
Labels: enhancement

#4406 Fix active scalars and pass point data in `to_tetrahedra` for `RectilinearGrid`
  pyvista/core/filters/rectilinear_grid.py
  tests/filters/test_rectilinear_grid.py
Labels: bug

#4407 Simplify "all" optional dependency, add pytest_report_header
  pyproject.toml
  tests/conftest.py
Labels: maintenance

#4419 Remove SKIP in docstrings
  doc/source/conf.py
  pyvista/core/celltype.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/pointset.py
  pyvista/core/texture.py
  pyvista/examples/downloads.py
  pyvista/examples/gltf.py
  pyvista/plotting/actor.py
  pyvista/plotting/actor_properties.py
  pyvista/plotting/axes_actor.py
  pyvista/plotting/camera.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/renderer.py
  pyvista/utilities/helpers.py
  tests/test_texture.py
Labels: bug, documentation

#4414 Fix merge dataset
  pyvista/core/filters/poly_data.py
  tests/test_polydata.py
Labels: bug

#4417 Fix multiblock convert for pointset
  pyvista/core/composite.py
  tests/test_composite.py
Labels: bug

#4420 Add PyHyperbolic3D as an external example
  doc/source/images/external-examples/griddip.gif
  doc/source/make_external_gallery.py
Labels: documentation

#4429 Release v0.39.1
  doc/source/conf.py
  doc/source/images/external-examples/griddip.gif
  doc/source/make_external_gallery.py
  examples/02-plot/gif.py
  pyvista/_version.py
  pyvista/core/celltype.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/filters/rectilinear_grid.py
  pyvista/core/pointset.py
  pyvista/core/texture.py
  pyvista/examples/downloads.py
  pyvista/examples/gltf.py
  pyvista/plotting/actor.py
  pyvista/plotting/actor_properties.py
  pyvista/plotting/axes_actor.py
  pyvista/plotting/camera.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotting.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/renderer.py
  pyvista/utilities/helpers.py
  pyvista/utilities/sphinx_gallery.py
  tests/filters/test_rectilinear_grid.py
  tests/test_polydata.py
  tests/test_scraper.py
  tests/test_texture.py
Labels: documentation, release

#4439 Remove deprecations from pointset
  doc/source/conf.py
  pyvista/core/pointset.py
  pyvista/jupyter/pv_pythreejs.py
  tests/test_polydata.py
Labels: documentation, maintenance

#4470 changed docstring for extract_all_edges() argument use_all_points
  pyvista/core/filters/data_set.py
Labels: documentation
