Repository pyvista/pyvista, pull requests merged in 2024-12, with the labels that each got.

#6904 Remove 'of', 'or', and 'various' from nitpick ignore
  doc/source/conf.py
  pyvista/core/filters/data_set.py
  pyvista/core/pointset.py
  pyvista/core/utilities/features.py
  pyvista/core/utilities/fileio.py
  pyvista/demos/demos.py
  pyvista/examples/downloads.py
  pyvista/examples/planets.py
  pyvista/plotting/charts.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/renderers.py
  pyvista/plotting/texture.py
Labels: documentation

#6901 Document `ImageData` inherited members `dimensions` and `dimensionality`
  doc/source/_templates/autosummary/class.rst
  tests/doc/doc_image_cache/pyvista-ImageData-arrows-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageData-dimensions-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageData-dimensions-1_01_00.jpg
Labels: documentation

#6856 Fully annotate `arrays.py`
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/objects.py
  pyvista/core/utilities/arrays.py
  pyvista/plotting/cube_axes_actor.py
  pyvista/plotting/lights.py
  pyvista/plotting/utilities/regression.py
  tests/plotting/test_lights.py
Labels: maintenance

#6890 Add `ANN` rule to `ruff` for checking annotations
  pyproject.toml
  pyvista/core/dataset.py
  pyvista/core/utilities/fileio.py
Labels: maintenance

#6870 Add `self` annotations to dataset filters
  pyvista/core/dataset.py
  pyvista/core/filters/composite.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/filters/poly_data.py
  pyvista/core/utilities/geometric_sources.py
Labels: maintenance

#6896 Fix broken links in documentation
  CONTRIBUTING.rst
  doc/source/api/core/_validation.rst
  examples/01-filter/interpolate_sample.py
  examples/99-advanced/extending-pyvista.py
  examples/99-advanced/fea-hertzian-contact-pressure.py
  examples/99-advanced/magnetic-fields.py
  pyvista/core/_validation/check.py
  pyvista/core/_validation/validate.py
  pyvista/core/cell.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/filters/poly_data.py
  pyvista/core/pointset.py
  pyvista/core/utilities/features.py
  pyvista/core/utilities/fileio.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/parametric_objects.py
  pyvista/core/utilities/points.py
  pyvista/core/utilities/transform.py
  pyvista/examples/downloads.py
  pyvista/plotting/affine_widget.py
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/text.py
  pyvista/plotting/themes.py
  pyvista/plotting/widgets.py
Labels: documentation

#6835 Deprecate `ActiveArrayInfo` and use `ActiveArrayInfoTuple` directly
  pyvista/core/dataset.py
  pyvista/core/utilities/arrays.py
  tests/core/test_dataset.py
Labels: maintenance

#6727 Add `direction_matrix` kwarg to `ImageData.__init__`
  pyvista/core/grid.py
  tests/core/test_grid.py
Labels: enhancement

#6912 Fully annotate `check.py`
  pyproject.toml
  pyvista/core/_validation/check.py
Labels: maintenance

#6895 Add `nitpicky` option to doc config to prevent broken links
  doc/source/conf.py
  pyvista/core/pointset.py
Labels: documentation

#6724 Add `validate_rotation` and use it to validate rotation inputs
  pyvista/core/_validation/__init__.py
  pyvista/core/_validation/validate.py
  pyvista/core/utilities/transform.py
  pyvista/plotting/prop3d.py
  tests/core/test_validation.py
Labels: enhancement

#6450 Add Example of creating mesh multiple ways
  examples/00-load/create-sphere.py
  pyvista/core/utilities/geometric_objects.py
  tests/doc/doc_image_cache/sphx_glr_create-sphere_001.jpg
  tests/doc/doc_image_cache/sphx_glr_create-sphere_002.jpg
  tests/doc/doc_image_cache/sphx_glr_create-sphere_003.jpg
  tests/doc/doc_image_cache/sphx_glr_create-sphere_004.jpg
  tests/doc/doc_image_cache/sphx_glr_create-sphere_005.jpg
  tests/doc/doc_image_cache/sphx_glr_create-sphere_006.jpg
  tests/doc/doc_image_cache/sphx_glr_create-sphere_thumb.jpg
Labels: enhancement, documentation

#6913 Add annotations to `validate.py`
  pyproject.toml
  pyvista/core/_validation/check.py
  pyvista/core/_validation/validate.py
  pyvista/core/filters/image_data.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/transform.py
  pyvista/plotting/axes_assembly.py
Labels: maintenance

#6918 Expand concrete dataset type definitions
  doc/source/api/core/typing.rst
  doc/source/conf.py
  pyvista/core/__init__.py
  pyvista/core/_typing_core/__init__.py
  pyvista/core/_typing_core/_dataset_types.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/pointset.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/transform.py
  pyvista/examples/_dataset_loader.py
Labels: documentation, maintenance

#6919 Add return info to `set_default_active_scalars` and `set_default_active_vectors`
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/arrays.py
  tests/core/test_dataset_filters.py
Labels: enhancement, breaking-change

#6934 Add parameter annotations to `slice` and `clip` dataset filters
  doc/source/conf.py
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/helpers.py
Labels: documentation, maintenance

#6945 Ignore documentation reference warnings for `collections`
  doc/source/conf.py
Labels: documentation, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#6936 Add `DataSet` and `DataObject` overloads to `wrap`
  pyvista/core/composite.py
  pyvista/core/partitioned.py
  pyvista/core/utilities/helpers.py
Labels: maintenance

#6939 Make `check_contains` API easier to use and understand
  pyvista/core/_validation/check.py
  pyvista/core/_validation/validate.py
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/transform.py
  pyvista/plotting/axes_assembly.py
  tests/core/test_validation.py
Labels: maintenance, breaking-change

#6951 Add `FileExistsError` to flaky test `test_tinypages`
  tests/test_tinypages.py
Labels: maintenance

#6938 Add parameter annotations to `align`, `compute`, `threshold`, and `outline` dataset filters
  pyvista/core/filters/data_set.py
Labels: maintenance

#6943 Fully annotate `grid.py`
  pyproject.toml
  pyvista/core/grid.py
  tests/core/test_grid.py
Labels: maintenance

#6942 Fully annotate `celltype.py`
  pyproject.toml
  pyvista/core/celltype.py
Labels: maintenance

#6949 Fully annotate `pyvista_ndarray.py`
  pyproject.toml
  pyvista/core/pyvista_ndarray.py
Labels: maintenance

#6944 Fully annotate `datasetattributes.py`
  doc/source/conf.py
  pyproject.toml
  pyvista/core/datasetattributes.py
Labels: maintenance

#6937 Add parameter annotations to `streamline` dataset filters
  pyvista/core/filters/data_set.py
Labels: maintenance

#6935 Add parameter annotations to `extract` dataset filters
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/cells.py
  tests/core/test_dataset_filters.py
Labels: maintenance

#6956 Mark `test_dataset_loader_source_url_blob` as flaky
  tests/examples/test_downloads.py
Labels: maintenance

#6954 Fix mapper destructor attribute error
  pyvista/plotting/mapper.py
Labels: maintenance

#6941 Fully annotate `misc.py`
  pyproject.toml
  pyvista/core/utilities/misc.py
Labels: maintenance

#6946 Fully annotate `cells.py`
  pyproject.toml
  pyvista/__init__.py
  pyvista/core/cell.py
  pyvista/core/filters/poly_data.py
Labels: maintenance

#6953 Add annotations to `interpolate`, `sample` and `plot` dataset filters
  pyvista/core/_vtk_core.py
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/helpers.py
  pyvista/plotting/plotter.py
  tests/plotting/test_plotter.py
Labels: maintenance

#6961 Update exceptions for dataset loader url blob test
  tests/examples/test_downloads.py
Labels: maintenance

#6959 Add parameter annotations for remaining dataset filters
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
Labels: maintenance

#6947 Fully annotate `dataobject.py`
  pyproject.toml
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/features.py
  tests/core/test_dataset.py
Labels: maintenance

#6962 Ignore `F401` rule for all `__init__.py` files
  pyproject.toml
  pyvista/__init__.py
  pyvista/core/__init__.py
  pyvista/core/_typing_core/__init__.py
  pyvista/core/_validation/__init__.py
  pyvista/core/filters/__init__.py
  pyvista/core/utilities/__init__.py
  pyvista/demos/__init__.py
  pyvista/examples/__init__.py
  pyvista/jupyter/__init__.py
  pyvista/plotting/__init__.py
  pyvista/plotting/utilities/__init__.py
Labels: maintenance

#6965 Bump `npt-promote` to resolve `bool` and `np.bool_` type promotions
  pyproject.toml
  pyvista/core/utilities/features.py
  pyvista/core/utilities/geometric_objects.py
Labels: maintenance

#6960 InteractionEvent consistency
  doc/source/api/core/typing.rst
  doc/source/conf.py
  pyproject.toml
  pyvista/core/_typing_core/__init__.py
  pyvista/core/_typing_core/_aliases.py
  pyvista/plotting/widgets.py
  tests/core/test_utilities.py
  tests/plotting/test_widgets.py
Labels: enhancement, maintenance

#6957 Add source information to named colors documentation
  doc/source/api/utilities/color_table.rst
  doc/source/make_tables.py
  pyvista/plotting/colors.py
  tests/plotting/test_colors.py
Labels: documentation

#6955 Classify named colors in documentation based on hue, lightness, and saturation
  doc/source/api/utilities/color_table.rst
  doc/source/make_tables.py
  pyvista/plotting/colors.py
  tests/plotting/test_colors.py
Labels: documentation

#6153 Add `decimate_polyline` filter
  examples/01-filter/decimate.py
  pyvista/core/_vtk_core.py
  pyvista/core/filters/poly_data.py
  tests/core/test_polydata_filters.py
  tests/doc/doc_image_cache/pyvista-PolyDataFilters-decimate_polyline-1_00_00.jpg
  tests/doc/doc_image_cache/sphx_glr_decimate_005.jpg
  tests/doc/doc_image_cache/sphx_glr_decimate_006.jpg
  tests/doc/doc_image_cache/sphx_glr_decimate_007.jpg
Labels: enhancement

#6963 Implement class to read Exodus II files
  doc/source/api/readers/index.rst
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/reader.py
  tests/core/test_reader.py
  tests/doc/doc_image_cache/pyvista-ExodusIIReader-1_00_00.jpg
  tests/examples/test_dataset_loader.py
  tests/namespace/namespace-top.txt
  tests/namespace/namespace-utilities.txt
Labels: enhancement

#6977 Add brown color table to documentation
  doc/source/api/utilities/color_table.rst
  doc/source/make_tables.py
Labels: enhancement, documentation

#6616 Return `ImageData` when transforming `ImageData`
  examples/01-filter/image-fft-perlin-noise.py
  pyvista/core/filters/data_set.py
  pyvista/core/grid.py
  pyvista/core/utilities/misc.py
  tests/core/test_dataset_filters.py
  tests/core/test_grid.py
Labels: bug, breaking-change

#6979 Allow using delimiters with named colors
  doc/source/api/utilities/color_table.rst
  doc/source/make_tables.py
  pyvista/plotting/colors.py
  tests/plotting/test_colors.py
Labels: enhancement, documentation

#6975 Replace `DataSet` with `Self` in `dataset.py`
  pyvista/core/dataset.py
  pyvista/plotting/texture.py
Labels: maintenance

#6983 Do not ignore unused imports `F401` (ignore useless imports `PLC0414` instead)
  doc/source/conf.py
  pyproject.toml
  pyvista/__init__.py
  pyvista/core/__init__.py
  pyvista/core/_typing_core/__init__.py
  pyvista/core/_validation/__init__.py
  pyvista/core/_vtk_core.py
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/misc.py
  pyvista/core/utilities/observers.py
  pyvista/demos/__init__.py
  pyvista/examples/__init__.py
  pyvista/examples/downloads.py
  pyvista/jupyter/__init__.py
  pyvista/plotting/__init__.py
  pyvista/plotting/_typing.py
  pyvista/plotting/_vtk.py
  pyvista/plotting/_vtk_gl.py
  pyvista/plotting/plotter.py
  pyvista/plotting/utilities/__init__.py
  pyvista/utilities/algorithms.py
  pyvista/utilities/arrays.py
  pyvista/utilities/cell_type_helper.py
  pyvista/utilities/cells.py
  pyvista/utilities/common.py
  pyvista/utilities/docs.py
  pyvista/utilities/errors.py
  pyvista/utilities/features.py
  pyvista/utilities/fileio.py
  pyvista/utilities/geometric_objects.py
  pyvista/utilities/helpers.py
  pyvista/utilities/misc.py
  pyvista/utilities/parametric_objects.py
  pyvista/utilities/reader.py
  pyvista/utilities/regression.py
  pyvista/utilities/sphinx_gallery.py
  pyvista/utilities/transformations.py
  pyvista/utilities/wrappers.py
  pyvista/utilities/xvfb.py
  tests/plotting/jupyter/test_static.py
  tests/plotting/test_colors.py
  tests/plotting/test_plotting_utilities.py
Labels: documentation, maintenance

#6984 Enable `disallow-subclassing-any` with mypy
  pyproject.toml
  pyvista/trame/jupyter.py
  pyvista/trame/views.py
Labels: maintenance

#6976 Add pytest color output to docstring and doc tests
  .github/workflows/docs.yml
  .github/workflows/style_docstr.yml
Labels: maintenance

#6987 Use single quotes in `pyproject.toml`
  pyproject.toml
Labels: maintenance

#6986 Enable mypy `no-implicit-reexport`
  pyproject.toml
  pyvista/__init__.py
  pyvista/core/__init__.py
  pyvista/core/cell.py
  pyvista/core/composite.py
  pyvista/core/objects.py
  pyvista/core/partitioned.py
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/parametric_objects.py
  pyvista/plotting/__init__.py
  pyvista/plotting/_vtk_gl.py
  pyvista/plotting/plotter.py
  pyvista/plotting/texture.py
Labels: documentation, maintenance

#6988 Rename "Color Table" to "Named Colors" and reformat it
  doc/source/api/utilities/named_colors.rst
  doc/source/api/utilities/utilities.rst
  doc/source/make_tables.py
  pyvista/plotting/colors.py
Labels: documentation

#6990 Support reading nek5000 files
  doc/source/api/readers/index.rst
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/reader.py
  pyvista/examples/downloads.py
  tests/core/test_reader.py
  tests/doc/doc_image_cache/pyvista-Nek5000Reader-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-downloads-download_nek5000-1_00_00.jpg
  tests/examples/test_download_files.py
Labels: enhancement, documentation, maintenance

#6993 Add sphinx-duration extension to measure sphinx processing times
  doc/source/conf.py
Labels: documentation

#6982 Add mypy warn unreachable
  doc/source/conf.py
  pyproject.toml
  pyvista/core/_validation/check.py
  pyvista/core/_validation/validate.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/filters/poly_data.py
  pyvista/core/filters/rectilinear_grid.py
  pyvista/core/pointset.py
  pyvista/core/utilities/arrays.py
  pyvista/core/utilities/fileio.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/examples/_dataset_loader.py
  pyvista/plotting/_property.py
  pyvista/plotting/affine_widget.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotter.py
  pyvista/plotting/render_passes.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  pyvista/plotting/themes.py
Labels: maintenance

#6994 Format only rst files with blackdoc
  .pre-commit-config.yaml
  CITATION.rst
  CONTRIBUTING.rst
  README.rst
  doc/source/api/core/pointsets.rst
  doc/source/api/plotting/plotting.rst
  doc/source/api/utilities/utilities.rst
  doc/source/extras/plot_directive.rst
  doc/source/getting-started/index.rst
  doc/source/getting-started/installation.rst
  doc/source/getting-started/why.rst
  doc/source/user-guide/data_model.rst
  doc/source/user-guide/jupyter/index.rst
  doc/source/user-guide/jupyter/trame.rst
  doc/source/user-guide/optional_features.rst
  doc/source/user-guide/simple.rst
  doc/source/user-guide/themes.rst
  doc/source/user-guide/vtk_to_pyvista.rst
  tests/tinypages/some_plots.rst
Labels: maintenance, dependencies

#6991 Format docstring with ruff
  examples/00-load/reader.py
  examples/99-advanced/openfoam-example.py
  pyproject.toml
  pyvista/_plot.py
  pyvista/core/_validation/check.py
  pyvista/core/_validation/validate.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/filters/poly_data.py
  pyvista/core/filters/structured_grid.py
  pyvista/core/pointset.py
  pyvista/core/utilities/features.py
  pyvista/core/utilities/fileio.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/image_sources.py
  pyvista/core/utilities/observers.py
  pyvista/core/utilities/parametric_objects.py
  pyvista/core/utilities/points.py
  pyvista/core/utilities/reader.py
  pyvista/core/utilities/transform.py
  pyvista/core/utilities/transformations.py
  pyvista/core/wrappers.py
  pyvista/examples/downloads.py
  pyvista/examples/examples.py
  pyvista/examples/planets.py
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/camera.py
  pyvista/plotting/charts.py
  pyvista/plotting/colors.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/lights.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotter.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/text.py
  pyvista/plotting/themes.py
  pyvista/plotting/tools.py
  pyvista/plotting/utilities/cubemap.py
  pyvista/plotting/widgets.py
  tests/check_doctest_names.py
Labels: documentation, maintenance, dependencies

#7008 Add truthy-bool mypy
  pyproject.toml
Labels: maintenance

#7001 Fix empty input behavior for `extract_values` and remove redundant scalar validation
  pyvista/core/filters/data_set.py
  tests/core/test_dataset_filters.py
Labels: maintenance, breaking-change

#7005 Move classproperty decorator to misc utilities
  doc/source/make_tables.py
  pyvista/core/utilities/misc.py
  tests/core/test_utilities.py
Labels: documentation, maintenance

#7018 Enable color output for sphinx build in CI
  .github/workflows/docs.yml
Labels: maintenance

#7000 Add minimal version of new `contour_labels` filter
  pyvista/core/filters/image_data.py
  tests/core/test_imagedata_filters.py
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_03_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_04_00.jpg
Labels: enhancement, documentation

#7022 Add background value parameter to `contour_labels` filter
  pyvista/core/filters/image_data.py
  tests/core/test_imagedata_filters.py
Labels: enhancement

#7025 Move `_validate_color_sequence` to validation module for reuse
  pyvista/core/_validation/validate.py
  pyvista/plotting/axes_assembly.py
Labels: maintenance

#6592 Add colors from `vtkNamedColors`
  doc/source/api/utilities/named_colors.rst
  doc/source/make_tables.py
  pyvista/plotting/colors.py
  tests/plotting/test_colors.py
Labels: enhancement

#7031 Add versionadded to `rotation_from`
  pyvista/plotting/prop3d.py
Labels: maintenance

#7028 Add `pad_background` parameter to `contour_labels` filter
  pyvista/core/filters/image_data.py
  tests/core/test_imagedata_filters.py
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_03_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_04_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_05_00.jpg
Labels: enhancement

#7034 Add option to auto-orient normals of `contour_labels` filter
  pyvista/core/filters/image_data.py
  tests/plotting/image_cache/contour_labels_compute_normals[False].png
  tests/plotting/image_cache/contour_labels_compute_normals[True].png
  tests/plotting/test_plotting.py
Labels: enhancement

#7021 Add smoothing parameter to `contour_labels` filter
  pyvista/core/filters/image_data.py
  tests/core/test_imagedata_filters.py
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_06_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_07_00.jpg
  tests/plotting/image_cache/contour_labels_boundary_style[in_2-out_2].png
  tests/plotting/image_cache/contour_labels_boundary_style[in_None-out_2].png
  tests/plotting/image_cache/contour_labels_boundary_style[in_None-out_None].png
  tests/plotting/image_cache/contour_labels_compare_select_inputs_select_outputs[False].png
  tests/plotting/image_cache/contour_labels_compare_select_inputs_select_outputs[True].png
  tests/plotting/image_cache/contour_labels_smoothing_constraint[dist_0-scale_None].png
  tests/plotting/image_cache/contour_labels_smoothing_constraint[dist_5-scale_0.5].png
  tests/plotting/image_cache/contour_labels_smoothing_constraint[dist_5-scale_1].png
  tests/plotting/image_cache/contour_labels_smoothing_constraint[dist_None-scale_0].png
  tests/plotting/test_plotting.py
Labels: enhancement

#7023 Improve initial import time
  doc/source/conf.py
  pyvista/core/_typing_core/_aliases.py
  pyvista/core/filters/data_set.py
  tests/test_init.py
Labels: maintenance

#7038 HAPPY NEW YEAR 2025
  LICENSE
  doc/source/pyvista-binder-config.yml
Labels: documentation
