Repository pyvista/pyvista, pull requests merged in 2024-05, with the labels that each got.

#5999 Add `ImageNoiseSource` to create noise image
  doc/source/api/utilities/image.rst
  pyvista/core/_vtk_core.py
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/image_sources.py
  tests/core/test_image_sources.py
Labels: enhancement, documentation

#6000 Add `ImageSinusoidSource` to create sinusoidal img
  doc/source/api/utilities/image.rst
  pyvista/core/_vtk_core.py
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/image_sources.py
  tests/core/test_image_sources.py
Labels: enhancement, documentation

#6004 Add `ImageGaussianSource` of image with Gaussian
  doc/source/api/utilities/image.rst
  pyvista/core/_vtk_core.py
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/image_sources.py
  tests/core/test_image_sources.py
Labels: enhancement, documentation

#6013 Add pytest group update settings to `dependabot`
  .github/dependabot.yml
  requirements_test.txt
Labels: maintenance, dependencies

#6018 Fix function calls in default function arguments
  examples/01-filter/image-fft-perlin-noise.py
  pyproject.toml
  pyvista/plotting/plotter.py
Labels: documentation, maintenance

#6020 Fix loop control variable that overrides iterable
  pyproject.toml
  tests/core/test_dataset.py
Labels: maintenance

#6024 Add sshd in `devcontainer.json` to ssh access
  .devcontainer/devcontainer.json
Labels: maintenance

#6021 Fix empty methods without an abstract decorator
  pyproject.toml
  pyvista/core/utilities/reader.py
Labels: maintenance

#6025 Use n_points to calculate distance in CircularArc
  pyvista/core/utilities/geometric_objects.py
Labels: bug

#6019 Assign useless expressions to a variable or remove
  pyproject.toml
  tests/core/test_datasetattributes.py
  tests/core/test_grid.py
  tests/namespace/test_utilities_namespace.py
  tests/plotting/test_plotter.py
  tests/plotting/test_plotting.py
Labels: maintenance

#6026 Add `GambitReader` reads dataset in Fluent GAMBIT
  doc/source/api/readers/index.rst
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/reader.py
  pyvista/examples/downloads.py
  tests/core/test_reader.py
Labels: enhancement

#6014 Fix useless comparisons which have no effect
  pyproject.toml
  tests/core/test_composite.py
  tests/plotting/test_actor.py
  tests/plotting/test_plotter.py
Labels: maintenance

#6035 Remove deprecated `stitle` kwarg from `Plotter`
  pyvista/plotting/_plotting.py
  pyvista/plotting/plotter.py
Labels: maintenance

#6034 Remove deprecated `ImageData` constructor args
  pyvista/core/grid.py
  tests/core/test_grid.py
Labels: maintenance

#6036 Fix to apply all `flake8-bugbear` rules in check
  pyproject.toml
  tests/plotting/test_theme.py
Labels: maintenance

#6033 Remove deprecated probe filter
  pyvista/core/filters/data_set.py
  tests/core/test_dataset_filters.py
Labels: maintenance

#6031 Remove picker methods which is deprecated until 0.43
  pyvista/plotting/render_window_interactor.py
Labels: maintenance

#5967 Add ASCII gaussian cube data `GaussianCubeReader`
  doc/source/api/readers/index.rst
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/reader.py
  pyvista/examples/downloads.py
  tests/core/test_reader.py
Labels: enhancement

#6041 Add `MINCImageReader` NetCDF-based img file format
  doc/source/api/readers/index.rst
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/reader.py
  pyvista/examples/downloads.py
Labels: enhancement, documentation

#6001 Update `extract_values` API and add new `split_values` filter
  pyvista/core/filters/data_set.py
  tests/core/test_dataset_filters.py
Labels: enhancement

#6038 Add `PDBReader` class read Molecular Data files
  doc/source/api/readers/index.rst
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/reader.py
  pyvista/examples/downloads.py
  tests/core/test_reader.py
Labels: enhancement, documentation

#6043 Add `GESignaReader` class read GE Signa ximg files
  doc/source/api/readers/index.rst
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/reader.py
  pyvista/examples/downloads.py
  tests/core/test_reader.py
Labels: enhancement, documentation

#6048 Checks for self-assignment of variable from Pylint
  pyproject.toml
  pyvista/core/filters/data_set.py
Labels: maintenance

#6046 Allow clearing cell and point data for all blocks
  pyvista/core/composite.py
  tests/core/test_composite.py
Labels: enhancement

#6050 Add checks for `return` statements in `try` blocks
  pyproject.toml
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/observers.py
  pyvista/ext/plot_directive.py
  pyvista/plotting/tools.py
  tests/examples/test_downloads.py
  tests/plotting/test_plotting.py
Labels: maintenance

#6037 Fix `dict.items` that discard either key or value
  pyproject.toml
  pyvista/trame/ui/base_viewer.py
Labels: maintenance

#6056 Add `examples.vrml` module to sphinx API document
  doc/source/api/examples/index.rst
Labels: documentation

#6054 Allow `Plotter` class to imports 3D Studio files
  doc/source/api/examples/index.rst
  pyvista/examples/__init__.py
  pyvista/examples/download_3ds.py
  pyvista/plotting/plotter.py
  tests/plotting/image_cache/import_3ds.png
  tests/plotting/test_plotting.py
Labels: enhancement

#6063 Make example section of PyVista logo effective
  pyvista/examples/examples.py
Labels: documentation

#6060 Ensure no overlap with crinkle clip
  pyvista/core/filters/data_set.py
  tests/core/test_dataset_filters.py
Labels: bug, breaking-change

#6069 Update docs for `point_normals`, `cell_normals`, `face_normals`
  pyvista/core/pointset.py
Labels: documentation

#6051 Add `pad_image` filter generating closed surfaces
  pyvista/core/_vtk_core.py
  pyvista/core/filters/image_data.py
  tests/core/test_imagedata_filters.py
Labels: enhancement

#6068 Allow `Plotter` class to imports obj files
  pyvista/plotting/plotter.py
  tests/plotting/image_cache/import_obj.png
  tests/plotting/test_plotting.py
Labels: enhancement

#6059 vtkContourTriangulator: fill polyline contours
  pyvista/core/_vtk_core.py
  pyvista/core/filters/poly_data.py
  tests/core/test_polydata_filters.py
Labels: enhancement

#6062 Fix active normals for properties `point_normals`, `cell_normals`, and method `plot_normals` with `smooth_shading`
  pyvista/core/pointset.py
  pyvista/plotting/_plotting.py
  tests/core/test_polydata.py
  tests/plotting/image_cache/backface_params.png
  tests/plotting/image_cache/plot_normals_smooth_shading[False-False].png
  tests/plotting/image_cache/plot_normals_smooth_shading[False-True].png
  tests/plotting/image_cache/plot_normals_smooth_shading[True-False].png
  tests/plotting/image_cache/plot_normals_smooth_shading[True-True].png
  tests/plotting/test_plotting.py
Labels: bug, breaking-change

#6057 Fix `extract_values` invert parameter for multi-component values
  pyvista/core/filters/data_set.py
  tests/core/test_dataset_filters.py
Labels: bug

#6072 Add Numerical Tours of Computational Mechanics with FEniCSx
  doc/source/images/external-examples/comet_fenicsx.png
  doc/source/make_external_gallery.py
Labels: documentation

#6078 Add missing `load` parameter to some example downloads
  pyvista/examples/downloads.py
Labels: enhancement

#5911 Check variable assignments that immediately return
  doc/source/make_external_gallery.py
  doc/source/make_tables.py
  examples/00-load/create-point-cloud.py
  examples/02-plot/spherical.py
  examples/03-widgets/sphere-widget.py
  pyproject.toml
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/grid.py
  pyvista/core/utilities/arrays.py
  pyvista/core/utilities/features.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/helpers.py
  pyvista/core/utilities/transformations.py
  pyvista/examples/examples.py
  pyvista/examples/planets.py
  pyvista/plotting/affine_widget.py
  pyvista/plotting/camera.py
  pyvista/plotting/charts.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotter.py
  pyvista/plotting/render_passes.py
  pyvista/plotting/renderer.py
  pyvista/plotting/scalar_bars.py
  pyvista/plotting/texture.py
  pyvista/report.py
  tests/core/test_dataset_filters.py
Labels: documentation, maintenance

#6085 Add support write polygonal data to Houdini file
  pyvista/core/_vtk_core.py
  pyvista/core/pointset.py
  tests/core/test_polydata.py
Labels: enhancement

#6094 Cache build html for preview in each pull request
  .github/workflows/preview_pull_request2.yml
Labels: maintenance

#6095 Revert "Cache build html for preview in each pull request"
  .github/workflows/preview_pull_request2.yml
Labels: maintenance

#6096 Add `scale` argument to `Plotter.add_ruler` method
  pyvista/plotting/renderer.py
  tests/plotting/test_plotter.py
Labels: enhancement

#6100 Fix `image_threshold` bug with integer arrays on some systems
  pyvista/core/filters/image_data.py
  tests/core/test_dataset_filters.py
Labels: bug

#6040 Add `ParticleReader` to read particle data
  doc/source/api/readers/index.rst
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/reader.py
  pyvista/examples/downloads.py
  tests/core/test_reader.py
Labels: enhancement

#6102 Exclude `tests/core/typing` from flake8 and black
  .flake8
  .pre-commit-config.yaml
Labels: maintenance, dependencies

#6104 Add typing-extensions as dependent library of PyVista
  environment.yml
  pyproject.toml
  requirements.txt
  requirements_test.txt
Labels: maintenance, dependencies

#6071 Add `points_to_cells` and `cells_to_points` ImageDataFilters
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  tests/core/test_dataobject.py
  tests/core/test_imagedata_filters.py
Labels: enhancement

#6103 Add Notes Regarding Input Validation Testing section
  CONTRIBUTING.rst
Labels: documentation

#6099 Add image representations example
  examples/01-filter/image-representations.py
  pyvista/core/filters/image_data.py
Labels: documentation

#6105 Check immediate raise within exception handlers
  pyproject.toml
  pyvista/core/_validation/check.py
Labels: maintenance

#6107 Deprecate `download_osmnx_graph` download function
  pyvista/examples/downloads.py
Labels: maintenance

#6109 Delete `examples/99-advanced/osmnx-example.py`
  examples/99-advanced/osmnx-example.py
  pyvista/examples/downloads.py
Labels: documentation

#6111 Add support save polygonal data to obj file
  pyvista/core/_vtk_core.py
  pyvista/core/pointset.py
  tests/core/test_polydata.py
Labels: enhancement

#6106 Make PyVista examples reproducible
  CONTRIBUTING.rst
  doc/source/index.rst
  doc/source/user-guide/what-is-a-mesh.rst
  examples/00-load/create-point-cloud.py
  examples/02-plot/spherical.py
  pyvista/core/pointset.py
  pyvista/core/utilities/points.py
  pyvista/demos/demos.py
  pyvista/plotting/helpers.py
  pyvista/plotting/plotter.py
Labels: documentation

#6113 Add support save polygonal data to OpenInventor
  pyvista/core/_vtk_core.py
  pyvista/core/pointset.py
  tests/core/test_polydata.py
Labels: enhancement

#6116 Skip `Vale` checks for large diffs (more than 300 files changed)
  .github/workflows/style_docstr.yml
Labels: maintenance

#6119 Fix bug of capsule position with vtk<9.3 using non-default parameters
  pyvista/core/utilities/geometric_objects.py
  tests/core/test_geometric_objects.py
Labels: bug

#6120 Add `ProStarReader` to read unstructured grid data
  doc/source/api/readers/index.rst
  pyvista/core/_vtk_core.py
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/reader.py
  pyvista/examples/downloads.py
  tests/core/test_reader.py
Labels: enhancement

#6121 Remove walrus operator to read code in linear flow
  doc/source/make_tables.py
  pyvista/examples/_dataset_loader.py
Labels: maintenance

#6123 Fix type annotation of center property in DataSet
  pyvista/core/dataset.py
Labels: bug

#6124 Add `warn_redundant_casts` to mypy config
  .pre-commit-config.yaml
  pyproject.toml
Labels: maintenance, dependencies

#6125 Remove unused ignore RT01 under `pyvista/core`
  pyvista/core/cell.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/grid.py
  pyvista/core/objects.py
Labels: maintenance

#6134 Remove unused numpydoc ignore RT01 in `reader.py`
  pyvista/core/utilities/reader.py
Labels: maintenance

#6136 Remove unused ignore RT01 under `pyvista/ext`
  pyvista/ext/plot_directive.py
Labels: maintenance

#6135 Add data type check in `cast_to_polydata` test
  tests/core/test_pointset.py
Labels: maintenance

#6138 Add new `doc_image_cache` image for flaky frog tissue test
  tests/doc/flaky_tests/pyvista-examples-downloads-download_frog_tissue-1_00_00/2.jpg
Labels: maintenance

#6140 Align variable names with the assign argument name
  tests/core/test_validation.py
Labels: maintenance

#6127 Fix `cast_to_unstructured_grid` for `PointSet`
  pyvista/core/pointset.py
  tests/core/test_pointset.py
Labels: bug

#6117 Revert "Skip `Vale` checks for large diffs (more than 300 files changed)"
  .github/workflows/style_docstr.yml
Labels: maintenance

#6151 Rename `validate_arrayN_uintlike` -> `validate_arrayN_unsigned`
  pyvista/core/_validation/__init__.py
  pyvista/core/_validation/validate.py
  tests/core/test_validation.py
Labels: maintenance

#6150 Add note of shape `option` in `compute_cell_quality`
  pyvista/core/filters/data_set.py
Labels: documentation

#6163 Use `matplotlib.pyplot.get_cmap` for matplotlib>3.8
  examples/01-filter/slicing.py
  examples/02-plot/cmap.py
  examples/02-plot/texture.py
Labels: documentation, maintenance
