Repository pyvista/pyvista, pull requests merged in 2024-08, with the labels that each got.

#6431 Add `RotationLike` type alias to the docs
  doc/source/api/core/typing.rst
  doc/source/conf.py
  pyproject.toml
  pyvista/core/_typing_core/__init__.py
  pyvista/core/_typing_core/_aliases.py
  pyvista/core/_validation/validate.py
  pyvista/plotting/prop3d.py
Labels: documentation, maintenance

#6259 Add `Actor` to `add_mesh` return type
  pyvista/plotting/plotter.py
  pyvista/plotting/renderer.py
Labels: maintenance

#6455 Fix `CubeSource` get bounds when not initialized
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_sources.py
Labels: bug

#6454 Replace type alias `BoundsLike` with named tuple `BoundsTuple`
  doc/source/api/core/typing.rst
  doc/source/conf.py
  examples/01-filter/slicing.py
  examples/02-plot/bounds.py
  examples/02-plot/plot-over-circular-arc.py
  examples/02-plot/plot-over-line.py
  examples/04-lights/shadows.py
  pyvista/core/_typing_core/__init__.py
  pyvista/core/_typing_core/_aliases.py
  pyvista/core/cell.py
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/filters/structured_grid.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/core/utilities/features.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/helpers.py
  pyvista/core/utilities/points.py
  pyvista/plotting/_typing.py
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/cube_axes_actor.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotter.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/renderer.py
  pyvista/plotting/text.py
  pyvista/plotting/volume.py
  pyvista/plotting/widgets.py
  tests/core/test_cells.py
  tests/core/test_dataset.py
  tests/core/test_dataset_filters.py
  tests/core/test_geometric_objects.py
  tests/core/test_geometric_sources.py
  tests/core/test_pointset.py
  tests/plotting/test_cube_axes_actor.py
  tests/typing/test_bounds_tuple.py
Labels: enhancement, documentation, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#6458 Fix import error of matplotlib in Windows Unit Testing
  requirements.txt
Labels: maintenance

#6456 Add merge_points to PolyData class to merge points
  pyvista/core/filters/poly_data.py
  tests/core/test_polydata.py
Labels: enhancement

#6459 Fix broken alphabet buttons for the Dataset Gallery docs
  doc/source/make_tables.py
Labels: documentation

#6462 Add noqa: NPY201 to ignore check by ruff in v0.5.6
  .pre-commit-config.yaml
  tests/plotting/test_plotting.py
Labels: maintenance, dependencies

#6463 Add type: ignore[arg-type] to fix mypy v1.11.1 error
  .pre-commit-config.yaml
  pyvista/core/_validation/check.py
Labels: maintenance, dependencies

#6476 Update Dataset Gallery file extension formatting
  doc/source/make_tables.py
Labels: documentation

#6471 Rename `test_bounds_tuple` to `test_return_type` to support testing other types
  tests/typing/test_return_type.py
Labels: maintenance

#6472 Add `BoundsTuple` static type annotation test
  doc/source/user-guide/simple.rst
  tests/typing/test_return_type.py
Labels: documentation, maintenance

#6475 Change Dataset Gallery cell type color to provide higher contrast
  doc/source/make_tables.py
Labels: documentation

#6473 Expose underlying `PlaneSource`s for `OrthogonalPlanesSource`
  pyvista/core/utilities/geometric_sources.py
  pyvista/plotting/axes_assembly.py
Labels: maintenance

#6479 Increase test coverage of `plot_datasets`
  tests/plotting/test_demos.py
Labels: maintenance

#6346 Add `principal_axes` function to compute best-fit axes vectors from points
  doc/source/api/utilities/utilities.rst
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/points.py
  tests/core/test_utilities.py
  tests/doc/doc_image_cache/pyvista-principal_axes-1_00_00.jpg
Labels: enhancement

#6470 Fix `test_bounds_tuple` to enable code re-use by other tests
  tests/typing/test_return_type.py
Labels: maintenance

#6480 Improve test coverage of `set_focus` and `set_viewup`
  tests/plotting/image_cache/set_focus[point0].png
  tests/plotting/image_cache/set_focus[point1].png
  tests/plotting/image_cache/set_viewup[vector0].png
  tests/plotting/image_cache/set_viewup[vector1].png
  tests/plotting/test_plotting.py
Labels: maintenance

#6465 Remove unnecessary indent by integrate if block
  pyvista/core/_validation/check.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/utilities/points.py
  pyvista/core/utilities/reader.py
  pyvista/demos/demos.py
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/camera.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/lights.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotter.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/scalar_bars.py
  pyvista/plotting/themes.py
Labels: maintenance

#6477 Allow calling `mesh.plot()` with `background` set to an image
  pyvista/_plot.py
  tests/plotting/image_cache/plot_mesh_background[Path].png
  tests/plotting/image_cache/plot_mesh_background[color].png
  tests/plotting/image_cache/plot_mesh_background[str].png
  tests/plotting/test_plotting.py
Labels: enhancement

#6478 Make docstrings in `examples.planets` less verbose
  pyvista/examples/planets.py
Labels: documentation

#6474 Add `normal` and `flip_normal` to `PlanesSource`
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_sources.py
  tests/plotting/image_cache/orthogonal_planes_source_normals[xy--].png
  tests/plotting/image_cache/orthogonal_planes_source_normals[yz--].png
  tests/plotting/image_cache/orthogonal_planes_source_normals[zx--].png
Labels: enhancement

#6435 Add `CubeFacesSource` for generating a `MultiBlock` with named faces
  doc/source/api/utilities/geometric.rst
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_sources.py
  tests/doc/doc_image_cache/pyvista-CubeFacesSource-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-CubeFacesSource-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-CubeFacesSource-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-CubeFacesSource-1_03_00.jpg
  tests/doc/doc_image_cache/pyvista-CubeFacesSource-1_04_00.jpg
  tests/doc/doc_image_cache/pyvista-CubeFacesSource-explode_factor-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-CubeFacesSource-explode_factor-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-CubeFacesSource-frame_width-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-CubeFacesSource-frame_width-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-CubeFacesSource-shrink_factor-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-CubeFacesSource-shrink_factor-1_01_00.jpg
  tests/plotting/image_cache/cube_faces_source[None-None].png
  tests/plotting/image_cache/cube_faces_source[explode_factor--0.5].png
  tests/plotting/image_cache/cube_faces_source[explode_factor-0.0].png
  tests/plotting/image_cache/cube_faces_source[explode_factor-0.5].png
  tests/plotting/image_cache/cube_faces_source[frame_width-0.1].png
  tests/plotting/image_cache/cube_faces_source[frame_width-1.0].png
  tests/plotting/image_cache/cube_faces_source[shrink_factor-0.1].png
  tests/plotting/image_cache/cube_faces_source[shrink_factor-1.0].png
  tests/plotting/image_cache/cube_faces_source[shrink_factor-2].png
  tests/plotting/test_plotting.py
Labels: enhancement

#6483 `codecov.yml` coverage goal change requires admin approval
  .github/CODEOWNERS
Labels: maintenance

#6354 Add `transformations.rotation()` and `DataSet.rotate()` for rotating datasets
  pyvista/core/dataset.py
  pyvista/core/utilities/transformations.py
  tests/core/test_dataset.py
  tests/core/test_pointset.py
  tests/doc/doc_image_cache/pyvista-DataSet-rotate-1_00_00.jpg
  tests/plotting/test_actor.py
Labels: enhancement

#6482 Add `Transform` class for generating transformations and their inverses
  doc/source/api/utilities/utilities.rst
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/transform.py
  tests/core/test_utilities.py
  tests/doc/doc_image_cache/pyvista-Transform-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-Transform-1_01_00.jpg
Labels: enhancement, documentation

#6421 Add `push()` to `PlaneSource` and `OrthogonalPlanesSource` to translate plane along normal
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_sources.py
  tests/doc/doc_image_cache/pyvista-OrthogonalPlanesSource-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-OrthogonalPlanesSource-1_02_00.jpg
  tests/plotting/image_cache/orthogonal_planes_source_push[+].png
  tests/plotting/image_cache/orthogonal_planes_source_push[-].png
  tests/plotting/test_plotting.py
Labels: enhancement

#6489 Add grasshopper VRML dataset
  pyvista/examples/vrml.py
  tests/doc/doc_image_cache/pyvista-examples-vrml-download_grasshopper-1_00_00.jpg
Labels: enhancement

#6469 Standardize `center` return type
  doc/source/user-guide/simple.rst
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/pointset.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/image_sources.py
  pyvista/plotting/plotter.py
  tests/typing/test_return_type.py
Labels: maintenance

#6490 Add `versionadded` to `download_grasshopper`
  pyvista/examples/vrml.py
Labels: documentation

#6488 Add great white and grey nurse shark datasets to `downloads.py`
  pyvista/examples/downloads.py
  tests/doc/doc_image_cache/pyvista-examples-downloads-download_great_white_shark-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-downloads-download_grey_nurse_shark-1_00_00.jpg
Labels: enhancement

#6502 Cast `center` to list in `project-plane.py`
  examples/01-filter/project-plane.py
Labels: bug, documentation

#6491 Add `check_finite` property to `Transform` class
  pyvista/core/_validation/validate.py
  pyvista/core/utilities/transform.py
  tests/core/test_utilities.py
Labels: enhancement

#6486 Add helpful error message when reading VRML file
  pyvista/core/utilities/fileio.py
  tests/plotting/test_plotting.py
Labels: maintenance

#6503 Add `reflect` method to `Transform` class
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/transform.py
  tests/core/test_utilities.py
Labels: enhancement

#6505 Add axis-rotation methods to `Transform`
  pyvista/core/dataset.py
  pyvista/core/utilities/transform.py
  tests/core/test_utilities.py
Labels: enhancement

#6501 Add `point` parameter to `Transform`
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/transform.py
  tests/core/test_utilities.py
Labels: enhancement, documentation

#6485 Add `align_xyz` filter to align a mesh to the x-y-z axes
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/points.py
  tests/core/test_dataset_filters.py
  tests/doc/doc_image_cache/pyvista-DataSetFilters-align_xyz-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-align_xyz-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-align_xyz-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-align_xyz-1_03_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-align_xyz-1_04_00.jpg
Labels: enhancement

#6507 Add custom `repr` to `Transform`
  pyvista/core/utilities/transform.py
  tests/core/test_utilities.py
Labels: enhancement

#6509 Add annotations to `check_length` and update variable names
  pyvista/core/_validation/check.py
  pyvista/core/_validation/validate.py
  tests/core/test_validation.py
Labels: maintenance

#6512 Update Dockerfile Python version from 3.10 to 3.11
  docker/jupyter.Dockerfile
  docker/slim.Dockerfile
Labels: maintenance, docker

#6504 Add operator overloads to `Transform`
  pyvista/core/_validation/validate.py
  pyvista/core/utilities/transform.py
  tests/core/test_utilities.py
  tests/core/test_validation.py
  tests/plotting/test_plotting.py
Labels: enhancement

#6520 Speed up and simplify `principal_axes` test with many points
  tests/core/test_utilities.py
Labels: maintenance

#6523 Fix default value in docs for `partition` filter `as_composite` option
  pyvista/core/filters/data_set.py
Labels: documentation

#6500 Deprecate `start_xvfb` to use `vtk-osmesa` instead
  doc/source/user-guide/jupyter/trame.rst
  pyvista/plotting/plotter.py
  pyvista/plotting/utilities/xvfb.py
  tests/plotting/test_utilities.py
Labels: maintenance

#6521 Do not initialize `axis_2_direction` for `align_xyz`
  pyvista/core/filters/data_set.py
Labels: bug

#6519 Retroactively add versionchanged info to docs for `fit_plane_to_points`
  pyvista/core/utilities/points.py
Labels: documentation

#6518 Add explicit tests for `align_xyz` inverse
  tests/core/test_dataset_filters.py
Labels: maintenance

#6522 Update Python version to 3.12 in GitHub Actions
  .github/workflows/docker-package.yml
  .github/workflows/integration-tests.yml
  .github/workflows/style_docstr.yml
Labels: maintenance

#6527 Enable shadows by default for `AxesAssembly` labels
  pyvista/plotting/axes_assembly.py
Labels: bug

#6528 Add `resolution` parameter to `fit_plane_to_points` and update examples
  pyvista/core/utilities/points.py
  tests/core/test_utilities.py
  tests/doc/doc_image_cache/helpers-5_01_00.jpg
  tests/doc/doc_image_cache/helpers-5_02_00.jpg
  tests/doc/doc_image_cache/pyvista-fit_plane_to_points-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-fit_plane_to_points-1_02_00.jpg
Labels: enhancement, documentation

#6529 Add Star History section to README.rst
  README.rst
Labels: documentation

#6525 Allow empty `ImageData` init
  pyvista/core/grid.py
  tests/core/test_grid.py
Labels: bug

#6484 Use `Transform` to generate dataset transformations
  pyvista/core/_validation/_cast_array.py
  pyvista/core/_validation/validate.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/transformations.py
  tests/core/test_dataset.py
  tests/core/test_validation.py
  tests/plotting/test_plotting.py
Labels: documentation, maintenance

#6539 Update `cartopy` feature download for GeoVista integration test
  .github/workflows/integration-tests.yml
Labels: maintenance

#6538 Revert "Fix import error of matplotlib in Windows Unit Testing"
  requirements.txt
Labels: dependencies

#6551 Generalize `merge_points` filter for any dataset
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  tests/core/test_dataset_filters.py
  tests/core/test_polydata.py
Labels: enhancement

#6546 Add `pre-commit-shfmt` to check shell script format
  .pre-commit-config.yaml
  doc/intersphinx/update.sh
Labels: documentation, maintenance, dependencies

#6543 Add `transform` filter for `MultiBlock`
  pyvista/core/filters/composite.py
  tests/core/test_composite.py
  tests/doc/doc_image_cache/pyvista-CompositeFilters-transform-1_00_00.jpg
Labels: enhancement

#6541 Fix `html_repr` for field data with string scalars
  pyvista/core/dataset.py
  tests/core/test_dataset.py
Labels: bug

#6553 Fix `cell_centers` with `PointSet`
  pyvista/core/filters/data_set.py
  tests/core/test_dataset_filters.py
Labels: bug

#6517 Simplify code for `fit_plane_to_points`, fix crash with many points, fix returned center
  pyvista/core/utilities/points.py
  tests/core/test_utilities.py
  tests/doc/doc_image_cache/helpers-5_02_00.jpg
  tests/doc/doc_image_cache/pyvista-fit_plane_to_points-1_02_00.jpg
Labels: bug, maintenance, breaking-change

#6557 Remove Preview the Documentation section CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: documentation

#6556 Fix to push only tags created in the minor release step
  CONTRIBUTING.rst
Labels: documentation

#6559 Add `flip_x`, `flip_y`, `flip_z` methods to `Transform`
  pyvista/core/dataset.py
  pyvista/core/utilities/transform.py
  tests/core/test_utilities.py
Labels: enhancement

#6552 Add `fit_line_to_points` function
  doc/source/api/core/helpers.rst
  doc/source/api/utilities/utilities.rst
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/points.py
  tests/core/test_utilities.py
  tests/doc/doc_image_cache/helpers-6_00_00.jpg
  tests/doc/doc_image_cache/helpers-6_01_00.jpg
  tests/doc/doc_image_cache/helpers-6_02_00.jpg
  tests/doc/doc_image_cache/pyvista-fit_line_to_points-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-fit_line_to_points-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-fit_line_to_points-1_02_00.jpg
Labels: enhancement

#6561 Avoid sqrt of negative values for principal axes `std` computation
  pyvista/core/utilities/points.py
Labels: bug

#6554 Add `flaky_test` decorator and use it to re-try `test_affine_widget`
  tests/conftest.py
  tests/plotting/test_widgets.py
Labels: maintenance

#6530 Add `apply` method to `Transform` to apply transformations to points or datasets
  pyvista/core/utilities/transform.py
  tests/core/test_utilities.py
Labels: enhancement

#6545 Add `init_normal` option to `fit_plane_to_points`
  pyvista/core/utilities/points.py
  tests/core/test_utilities.py
Labels: enhancement

#6524 Add `bounding box` filter for generating (oriented) bounding boxes
  pyvista/core/filters/data_set.py
  pyvista/plotting/renderer.py
  tests/core/test_dataset_filters.py
  tests/doc/doc_image_cache/pyvista-DataSetFilters-bounding_box-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-bounding_box-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-bounding_box-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-bounding_box-1_03_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-oriented_bounding_box-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-oriented_bounding_box-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-oriented_bounding_box-1_02_00.jpg
  tests/plotting/image_cache/bounding_box[face].png
  tests/plotting/image_cache/bounding_box[frame].png
  tests/plotting/image_cache/bounding_box[outline].png
  tests/plotting/test_plotting.py
Labels: enhancement

#6564 Add `sphinx.opengraph` allows to add metadata
  doc/source/conf.py
  requirements_docs.txt
Labels: documentation

#6562 Add `sphinx-sitemap` for search engine optimization
  doc/source/conf.py
  requirements_docs.txt
Labels: documentation

#6568 Make Dataset Gallery cell type badge link to `CellType` enum
  doc/source/make_tables.py
Labels: documentation

#6571 Fix mirror of the `prettier` npm package for pre-commit
  .pre-commit-config.yaml
Labels: maintenance, dependencies

#6575 Add type: ignore[operator] to the line that is cause the error
  pyvista/core/_validation/check.py
Labels: priority-high, maintenance

#6574 Add GitHub Repo stars shields.io badge
  README.rst
Labels: documentation

#6567 Make cell examples more visible
  doc/source/api/examples/index.rst
  pyvista/examples/cells.py
  tests/doc/doc_image_cache/pyvista-examples-cells-HexagonalPrism-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-Hexahedron-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-Line-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-PentagonalPrism-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-Pixel-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-PolyLine-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-PolyVertex-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-Polygon-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-Pyramid-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-Quadrilateral-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-Tetrahedron-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-Triangle-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-TriangleStrip-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-Voxel-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-Wedge-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-plot_cell-1_00_00.jpg
  tests/doc/doc_image_cache/sphx_glr_linear-cells_001.jpg
  tests/doc/doc_image_cache/sphx_glr_linear-cells_002.jpg
  tests/doc/doc_image_cache/sphx_glr_linear-cells_003.jpg
  tests/doc/doc_image_cache/sphx_glr_linear-cells_thumb.jpg
  tests/plotting/image_cache/plot_cell.png
Labels: documentation, no-gallery-cache

#6572 Update `celltypes` docstring with cross-references to `CellType`
  pyvista/core/pointset.py
Labels: documentation, no-gallery-cache

#6577 Remove unused backend names from config file
  doc/styles/Vocab/pyvista/accept.txt
  pyproject.toml
Labels: documentation, maintenance, no-gallery-cache

#6578 Fix blank line syntax errors of docstring
  pyvista/core/filters/data_set.py
  pyvista/core/pointset.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/points.py
  pyvista/core/utilities/transform.py
  pyvista/plotting/_property.py
  pyvista/plotting/themes.py
Labels: documentation, no-gallery-cache

#6580 Fix names when using `MultiBlock.transform`
  pyvista/core/filters/composite.py
  tests/core/test_composite.py
Labels: bug

#6579 Add operators to `PolyData` for boolean operations
  examples/01-filter/boolean-operations.py
  pyvista/core/filters/poly_data.py
  pyvista/core/pointset.py
  tests/core/test_polydata.py
  tests/plotting/image_cache/bitwise_and_or_of_polydata[and].png
  tests/plotting/image_cache/bitwise_and_or_of_polydata[iand].png
  tests/plotting/image_cache/bitwise_and_or_of_polydata[ior].png
  tests/plotting/image_cache/bitwise_and_or_of_polydata[or].png
  tests/plotting/test_plotting.py
Labels: enhancement, documentation

#6565 Document `CellType` enum members with figures
  doc/source/api/examples/index.rst
  pyvista/core/_vtk_core.py
  pyvista/core/celltype.py
Labels: documentation, no-gallery-cache

#6593 Add tests for conformance of pyvista colors to the web color standard
  pyvista/plotting/colors.py
  tests/doc/doc_image_cache/pyvista-BinaryMarchingCubesReader-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-plot-1_00_00.jpg
  tests/plotting/test_colors.py
Labels: bug, maintenance

#6590 Fix `MultiBlock.copy()` for `None` and nested datasets and use common test fixture
  pyvista/core/composite.py
  tests/conftest.py
  tests/core/test_composite.py
Labels: bug
