Repository pyvista/pyvista, pull requests merged in 2024-07, with the labels that each got.

#6321 Add text labels to `AxesAssembly`
  pyvista/plotting/axes_assembly.py
  tests/doc/doc_image_cache/pyvista-AxesAssembly-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-AxesAssembly-1_01_00.jpg
  tests/plotting/image_cache/axes_assembly.png
  tests/plotting/test_axes_assembly.py
Labels: enhancement

#6332 Fix errors to bump ruff from 0.4.7 to 0.5.0
  .pre-commit-config.yaml
  doc/source/make_tables.py
  pyproject.toml
  pyvista/core/composite.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/poly_data.py
  pyvista/core/utilities/reader.py
  pyvista/ext/plot_directive.py
  pyvista/plotting/tools.py
Labels: documentation, maintenance, dependencies

#6275 Add matplotlib to mypy
  .pre-commit-config.yaml
  pyvista/plotting/colors.py
Labels: maintenance, dependencies

#6337 Copy before unstructured grid clean
  pyvista/core/filters/unstructured_grid.py
  tests/core/test_unstructured_grid_filters.py
Labels: bug

#6329 Add `Prop3D` features to `AxesAssembly` to make it orientable in space
  pyvista/plotting/axes_assembly.py
  tests/doc/doc_image_cache/pyvista-AxesAssembly-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-AxesAssembly-1_03_00.jpg
  tests/doc/doc_image_cache/pyvista-AxesAssembly-orientation-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-AxesAssembly-orientation-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-AxesAssembly-user_matrix-1_00_00.jpg
  tests/plotting/image_cache/axes_assembly[default].png
  tests/plotting/image_cache/axes_assembly[orientation].png
  tests/plotting/image_cache/axes_assembly[origin].png
  tests/plotting/image_cache/axes_assembly[position].png
  tests/plotting/image_cache/axes_assembly[scale].png
  tests/plotting/image_cache/axes_assembly[user_matrix].png
  tests/plotting/test_axes_assembly.py
  tests/plotting/test_plotting.py
Labels: enhancement

#6339 Add `symmetric_bounds` parameter to `AxesGeometrySource`
  pyvista/core/utilities/geometric_sources.py
  pyvista/plotting/axes_assembly.py
  tests/core/test_geometric_sources.py
  tests/doc/doc_image_cache/pyvista-AxesAssembly-1_04_00.jpg
  tests/doc/doc_image_cache/pyvista-AxesGeometrySource-symmetric_bounds-1_00_00.jpg
  tests/plotting/test_axes_assembly.py
Labels: enhancement

#6343 Add a good first issue link badge to README
  README.rst
Labels: documentation

#6341 Add `AxesAssemblySymmetric` class to allow the use of orientable symmetric axes
  doc/source/api/plotting/index.rst
  pyvista/plotting/__init__.py
  pyvista/plotting/axes_assembly.py
  tests/doc/doc_image_cache/pyvista-AxesAssemblySymmetric-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-AxesAssemblySymmetric-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-AxesAssemblySymmetric-1_02_00.jpg
  tests/plotting/image_cache/axes_assembly_symmetric[default].png
  tests/plotting/image_cache/axes_assembly_symmetric[orientation].png
  tests/plotting/image_cache/axes_assembly_symmetric[origin].png
  tests/plotting/image_cache/axes_assembly_symmetric[position].png
  tests/plotting/image_cache/axes_assembly_symmetric[scale].png
  tests/plotting/image_cache/axes_assembly_symmetric[user_matrix].png
  tests/plotting/test_axes_assembly.py
  tests/plotting/test_plotting.py
Labels: enhancement

#6347 Add support for SciPy `Rotation` objects to transform validation methods
  pyvista/core/_validation/validate.py
  requirements_test.txt
  tests/core/test_validation.py
Labels: enhancement, dependencies

#5650 MRO compatibility for VTK 9.4
  doc/source/_templates/autosummary/class.rst
  pyvista/core/cell.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/grid.py
  pyvista/core/objects.py
  pyvista/core/partitioned.py
  pyvista/core/pointset.py
  pyvista/core/utilities/misc.py
  pyvista/plotting/_property.py
  pyvista/plotting/charts.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotter.py
  pyvista/plotting/texture.py
  pyvista/plotting/volume_property.py
  tests/doc/doc_image_cache/pyvista-DataSetMapper-interpolate_before_map-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetMapper-interpolate_before_map-1_01_00.jpg
Labels: enhancement, maintenance, priority-super-duper-high, VTK Version Compatibility, full-doc

#6348 🚀 Release v0.44
  pyvista/_version.py
Labels: release

#6318 Add `Prop3D.rotation_from` method to support arbitrary rotations
  pyvista/plotting/prop3d.py
  tests/doc/doc_image_cache/pyvista-Prop3D-rotation_from-1_00_00.jpg
  tests/plotting/test_actor.py
Labels: enhancement

#6342 Add `set_actor_prop` and `get_actor_prop` to `AxesAssembly` for setting/getting part properties
  pyvista/plotting/axes_assembly.py
  tests/plotting/test_axes_assembly.py
Labels: enhancement

#6359 Add type annotations to `check_nonnegative` and update variable names
  pyvista/core/_validation/check.py
Labels: enhancement

#6360 Add type annotations to `check_greater_than` and update variable names
  pyvista/core/_validation/check.py
Labels: enhancement

#6358 Add type annotations to `check_integer` and update variable names
  pyvista/core/_validation/check.py
Labels: maintenance

#6357 Add type annotations to `check_finite` and update variable names
  pyvista/core/_validation/check.py
Labels: maintenance

#6356 BUG: Fix bug with reference cycle
  pyvista/core/pointset.py
Labels: bug

#5360 Deploy docs from GitHub Actions
  .github/workflows/docs.yml
  .github/workflows/preview_pull_request.yml
  .github/workflows/preview_pull_request2.yml
  doc/README.md
Labels: documentation, maintenance

#6372 Add extra coordinate specifications in `PlaneSource`
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_sources.py
Labels: enhancement

#6373 Add `relative_position` and `Prop3D`-like features to `Label` class
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/text.py
  tests/doc/doc_image_cache/pyvista-Label-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-Label-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-Label-1_03_00.jpg
  tests/plotting/image_cache/label_prop3d[bottom].png
  tests/plotting/image_cache/label_prop3d[top].png
  tests/plotting/test_plotting.py
  tests/plotting/test_text.py
Labels: enhancement

#6381 Revert "Pin numpy<2.0.0 in GeoVista integration test"
  .github/workflows/integration-tests.yml
Labels: maintenance, scipy2024

#6383 Enable invalidating caches for documentation build with label from PR
  .github/workflows/docs.yml
  CONTRIBUTING.rst
Labels: maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#6371 Fix active normals when merging polydata
  pyvista/core/datasetattributes.py
  pyvista/core/filters/poly_data.py
  tests/core/test_dataset_filters.py
  tests/core/test_datasetattributes.py
Labels: bug, maintenance

#6380 Fix missing `read_func` in openfoam download
  pyvista/examples/downloads.py
  tests/doc/doc_image_cache/pyvista-examples-downloads-download_openfoam_tubes-1_00_00.jpg
  tests/doc/doc_image_cache/sphx_glr_openfoam-tubes_001.jpg
  tests/doc/doc_image_cache/sphx_glr_openfoam-tubes_003.jpg
  tests/doc/doc_image_cache/sphx_glr_openfoam-tubes_004.jpg
  tests/doc/doc_image_cache/sphx_glr_openfoam-tubes_thumb.jpg
Labels: bug, no-gallery-cache

#6389 Add `Prop3DMixin` to `AxesAssembly` class
  pyvista/plotting/axes_assembly.py
  tests/doc/doc_image_cache/pyvista-AxesAssembly-orientation-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-AxesAssembly-orientation-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-AxesAssembly-user_matrix-1_00_00.jpg
Labels: enhancement, maintenance

#6386 Fixed improper argument usage with tuples for Trame elements
  pyvista/trame/ui/vuetify3.py
Labels: bug, maintenance

#6387 Automatically publish release documentation
  .github/workflows/docs.yml
  Makefile
  doc/Makefile
  doc/source/_extra/ads.txt
  doc/source/_extra/netlify.toml
  doc/source/_extra/robots.txt
  doc/source/conf.py
Labels: documentation, maintenance

#6366 Add `OrthogonalPlanesSource` for generating orthogonal planes
  doc/source/api/utilities/geometric.rst
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_sources.py
  tests/doc/doc_image_cache/pyvista-OrthogonalPlanesSource-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-OrthogonalPlanesSource-1_01_00.jpg
  tests/plotting/image_cache/orthogonal_planes_source_normals[xy-+].png
  tests/plotting/image_cache/orthogonal_planes_source_normals[xy--].png
  tests/plotting/image_cache/orthogonal_planes_source_normals[yz-+].png
  tests/plotting/image_cache/orthogonal_planes_source_normals[yz--].png
  tests/plotting/image_cache/orthogonal_planes_source_normals[zx-+].png
  tests/plotting/image_cache/orthogonal_planes_source_normals[zx--].png
  tests/plotting/image_cache/orthogonal_planes_source_resolution[x_resolution].png
  tests/plotting/image_cache/orthogonal_planes_source_resolution[y_resolution].png
  tests/plotting/image_cache/orthogonal_planes_source_resolution[z_resolution].png
  tests/plotting/test_plotting.py
Labels: enhancement, documentation

#6400 Speed up trame examples tests
  .github/workflows/integration-tests.yml
  examples_trame/tests/test_trame.py
Labels: testing, maintenance

#6403 Fix typo: visiblity -> visibility
  pyvista/trame/ui/base_viewer.py
  pyvista/trame/ui/vuetify2.py
  pyvista/trame/ui/vuetify3.py
  tests/plotting/jupyter/test_trame.py
Labels: maintenance

#6410 Add missing `assert` to `OrthogonalPlanesSource` normal sign test
  tests/core/test_geometric_sources.py
Labels: maintenance

#6411 Delete duplicate ray trace example in 99-advanced
  examples/99-advanced/ray-trace.py
  tests/doc/doc_image_cache/sphx_glr_ray-trace_001.jpg
  tests/doc/doc_image_cache/sphx_glr_ray-trace_thumb.jpg
Labels: documentation, maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#6369 Change documentation theme to sphinx-book-theme
  doc/source/_static/summary.css
  doc/source/conf.py
  pyvista/plotting/colors.py
  requirements_docs.txt
  requirements_test.txt
  tests/tinypages/conf.py
Labels: documentation, dependencies

#6415 Use rgb scalars in `download_human` example
  pyvista/examples/downloads.py
  tests/doc/doc_image_cache/pyvista-examples-downloads-download_human-1_00_00.jpg
Labels: documentation, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#6413 Parametrize `XYZAssembly` plotting tests
  tests/plotting/image_cache/axes_assembly[default].png
  tests/plotting/image_cache/axes_assembly[orientation].png
  tests/plotting/image_cache/axes_assembly[origin].png
  tests/plotting/image_cache/axes_assembly[position].png
  tests/plotting/image_cache/axes_assembly[scale].png
  tests/plotting/image_cache/axes_assembly[user_matrix].png
  tests/plotting/image_cache/axes_assembly_symmetric[orientation].png
  tests/plotting/image_cache/axes_assembly_symmetric[origin].png
  tests/plotting/image_cache/axes_assembly_symmetric[position].png
  tests/plotting/image_cache/axes_assembly_symmetric[scale].png
  tests/plotting/image_cache/axes_assembly_symmetric[user_matrix].png
  tests/plotting/image_cache/xyz_assembly[Axes-default].png
  tests/plotting/image_cache/xyz_assembly[Axes-orientation].png
  tests/plotting/image_cache/xyz_assembly[Axes-origin].png
  tests/plotting/image_cache/xyz_assembly[Axes-position].png
  tests/plotting/image_cache/xyz_assembly[Axes-scale].png
  tests/plotting/image_cache/xyz_assembly[Axes-user_matrix].png
  tests/plotting/image_cache/xyz_assembly[AxesSymmetric-default].png
  tests/plotting/image_cache/xyz_assembly[AxesSymmetric-orientation].png
  tests/plotting/image_cache/xyz_assembly[AxesSymmetric-origin].png
  tests/plotting/image_cache/xyz_assembly[AxesSymmetric-position].png
  tests/plotting/image_cache/xyz_assembly[AxesSymmetric-scale].png
  tests/plotting/image_cache/xyz_assembly[AxesSymmetric-user_matrix].png
  tests/plotting/image_cache/xyz_assembly_show_labels_false[AxesSymmetric].png
  tests/plotting/image_cache/xyz_assembly_show_labels_false[Axes].png
  tests/plotting/test_plotting.py
Labels: maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#6412 Add `bounds`, `center`, and `length` to `Prop3DMixin`
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/prop3d.py
  tests/plotting/test_text.py
Labels: maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#6414 Use the term `assembly` instead of `actor` in `AxesAssembly` docs and tests
  pyvista/plotting/axes_assembly.py
  tests/plotting/test_axes_assembly.py
Labels: maintenance

#6418 Make `Prop3DMixin.bounds` abstract
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/text.py
  tests/plotting/test_text.py
Labels: maintenance

#6424 Add type annotations to `check_shape` and update variable names
  pyvista/core/_validation/check.py
Labels: maintenance

#6422 Add type annotations to `check_less_than` and update variable names
  pyvista/core/_validation/check.py
Labels: maintenance

#6420 Remove `_coerce_transformlike_arg` and use `validate_transform4x4` instead
  pyvista/core/utilities/arrays.py
  pyvista/plotting/prop3d.py
  tests/core/test_utilities.py
  tests/plotting/test_plotting.py
Labels: maintenance

#6423 Add type annotations to `check_range` and update variable names
  pyvista/core/_typing_core/_array_like.py
  pyvista/core/_validation/check.py
Labels: maintenance

#6417 Make attribute arguments consistent for `Prop3D` and `Prop3DMixin`
  pyvista/core/_validation/validate.py
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/prop3d.py
  tests/plotting/test_actor.py
Labels: maintenance

#6379 Add `PlanesAssembly` class adding orthogonal planes to a scene
  doc/source/api/plotting/index.rst
  pyvista/plotting/__init__.py
  pyvista/plotting/_vtk.py
  pyvista/plotting/axes_assembly.py
  tests/doc/doc_image_cache/pyvista-PlanesAssembly-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-PlanesAssembly-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-PlanesAssembly-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-PlanesAssembly-label_edge-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-PlanesAssembly-label_edge-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-PlanesAssembly-label_edge-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-PlanesAssembly-label_position-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-PlanesAssembly-label_position-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-PlanesAssembly-label_position-1_02_00.jpg
  tests/plotting/image_cache/planes_assembly.png
  tests/plotting/image_cache/planes_assembly_label_position[2D-25-x_label-yz--0.05].png
  tests/plotting/image_cache/planes_assembly_label_position[2D-25-x_label-yz-0.05].png
  tests/plotting/image_cache/planes_assembly_label_position[2D-25-x_label-yz-0].png
  tests/plotting/image_cache/planes_assembly_label_position[2D-25-y_label-zx--0.05].png
  tests/plotting/image_cache/planes_assembly_label_position[2D-25-y_label-zx-0.05].png
  tests/plotting/image_cache/planes_assembly_label_position[2D-25-y_label-zx-0].png
  tests/plotting/image_cache/planes_assembly_label_position[2D-25-z_label-xy--0.05].png
  tests/plotting/image_cache/planes_assembly_label_position[2D-25-z_label-xy-0.05].png
  tests/plotting/image_cache/planes_assembly_label_position[2D-25-z_label-xy-0].png
  tests/plotting/image_cache/planes_assembly_label_position[3D-40-x_label-yz--0.05].png
  tests/plotting/image_cache/planes_assembly_label_position[3D-40-x_label-yz-0.05].png
  tests/plotting/image_cache/planes_assembly_label_position[3D-40-x_label-yz-0].png
  tests/plotting/image_cache/planes_assembly_label_position[3D-40-y_label-zx--0.05].png
  tests/plotting/image_cache/planes_assembly_label_position[3D-40-y_label-zx-0.05].png
  tests/plotting/image_cache/planes_assembly_label_position[3D-40-y_label-zx-0].png
  tests/plotting/image_cache/planes_assembly_label_position[3D-40-z_label-xy--0.05].png
  tests/plotting/image_cache/planes_assembly_label_position[3D-40-z_label-xy-0.05].png
  tests/plotting/image_cache/planes_assembly_label_position[3D-40-z_label-xy-0].png
  tests/plotting/image_cache/planes_assembly_label_size[25-bounds0].png
  tests/plotting/image_cache/planes_assembly_label_size[25-bounds1].png
  tests/plotting/image_cache/planes_assembly_label_size[50-bounds0].png
  tests/plotting/image_cache/planes_assembly_label_size[50-bounds1].png
  tests/plotting/image_cache/xyz_assembly[Planes-default].png
  tests/plotting/image_cache/xyz_assembly[Planes-orientation].png
  tests/plotting/image_cache/xyz_assembly[Planes-origin].png
  tests/plotting/image_cache/xyz_assembly[Planes-position].png
  tests/plotting/image_cache/xyz_assembly[Planes-scale].png
  tests/plotting/image_cache/xyz_assembly[Planes-user_matrix].png
  tests/plotting/image_cache/xyz_assembly_show_labels_false[Planes].png
  tests/plotting/test_axes_assembly.py
  tests/plotting/test_plotting.py
Labels: enhancement, documentation

#6445 Update open-pull-requests-limit in dependabot.yml to 100
  .github/dependabot.yml
Labels: maintenance

#6448 Remove param package from requirements_test.txt
  requirements_test.txt
Labels: maintenance, dependencies

#6262 Following PR#6259 add return type for other functions in plotter.py
  pyvista/plotting/plotter.py
  pyvista/plotting/renderer.py
Labels: maintenance

#6407 Add `categorical` parameter to `point_data_to_cell_data()`
  pyvista/core/filters/data_set.py
Labels: enhancement
