Repository pyvista/pyvista, pull requests merged in 2024-01, with the labels that each got.

#5417 HAPPY NEW YEAR 2024
  LICENSE
  doc/source/pyvista-binder-config.yml
Labels: documentation

#5407 Add text justification option to `add_point_labels`
  pyvista/plotting/plotter.py
  pyvista/plotting/text.py
  tests/plotting/image_cache/add_point_labels_justification[bottom-center].png
  tests/plotting/image_cache/add_point_labels_justification[bottom-left].png
  tests/plotting/image_cache/add_point_labels_justification[bottom-right].png
  tests/plotting/image_cache/add_point_labels_justification[center-center].png
  tests/plotting/image_cache/add_point_labels_justification[center-left].png
  tests/plotting/image_cache/add_point_labels_justification[center-right].png
  tests/plotting/image_cache/add_point_labels_justification[top-center].png
  tests/plotting/image_cache/add_point_labels_justification[top-left].png
  tests/plotting/image_cache/add_point_labels_justification[top-right].png
  tests/plotting/test_plotting.py
Labels: enhancement

#5351 Add group update settings to `dependabot`
  .github/dependabot.yml
Labels: maintenance

#5429 Trame Plotter UI: Menu positioning
  pyvista/trame/ui/vuetify2.py
  pyvista/trame/ui/vuetify3.py
Labels: enhancement

#5400 Add `flake8-raise` check using ruff
  pyproject.toml
  pyvista/trame/jupyter.py
  pyvista/trame/ui/base_viewer.py
Labels: maintenance

#5441 Switch `vuetify2` to `vuetify3` in examples script
  examples/99-advanced/customization-trame-toolbar.py
Labels: documentation, maintenance

#5428 Add custom trackball style and refactoring `enable_2d_style`
  pyvista/plotting/plotter.py
  pyvista/plotting/render_window_interactor.py
  tests/plotting/image_cache/enable_2d_style_9.png
  tests/plotting/image_cache/enable_custom_trackball_style.png
  tests/plotting/image_cache/enable_custom_trackball_style_1.png
  tests/plotting/image_cache/enable_custom_trackball_style_2.png
  tests/plotting/image_cache/enable_custom_trackball_style_3.png
  tests/plotting/image_cache/enable_custom_trackball_style_4.png
  tests/plotting/image_cache/enable_custom_trackball_style_5.png
  tests/plotting/image_cache/enable_custom_trackball_style_6.png
  tests/plotting/image_cache/enable_custom_trackball_style_7.png
  tests/plotting/image_cache/enable_custom_trackball_style_8.png
  tests/plotting/image_cache/enable_custom_trackball_style_9.png
  tests/plotting/test_plotting.py
  tests/plotting/test_render_window_interactor.py
Labels: enhancement

#5382 Fix `create_axes_orientation_box` unused argument
  pyvista/plotting/tools.py
  tests/plotting/image_cache/create_axes_orientation_box.png
  tests/plotting/test_plotting.py
Labels: bug

#5447 Update `.gitignore` to remove flask examples
  .gitignore
Labels: maintenance

#5452 Pin GeoVista integration test `CARTOPY_FEATURE` to stable release.
  .github/workflows/integration-tests.yml
Labels: bug, maintenance

#5285 Add custom `mypy` plugin to support generic array-like types
  .pre-commit-config.yaml
  pyproject.toml
  pyvista/core/_typing/__init__.py
  pyvista/core/_typing/_aliases.py
  pyvista/core/_typing/_array_like.py
  pyvista/core/_typing_core.py
  pyvista/core/cell.py
  pyvista/core/dataobject.py
  pyvista/core/pointset.py
  pyvista/core/utilities/arrays.py
  pyvista/core/utilities/cells.py
Labels: maintenance

#5445 Add a `generate_images` function to sphinx-gallery module
  pyvista/plotting/utilities/sphinx_gallery.py
  tests/plotting/test_scraper.py
Labels: maintenance

#5467 [patch] vtkRedistributeDataSetFilter ImportError
  pyvista/core/_vtk_core.py
Labels: bug

#5459 Add RUF100 rule to remove unused noqa directive
  doc/source/conf.py
  pyproject.toml
  pyvista/core/composite.py
  pyvista/core/filters/poly_data.py
  pyvista/core/utilities/cell_type_helper.py
  pyvista/core/utilities/fileio.py
  pyvista/core/utilities/misc.py
  pyvista/core/utilities/observers.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotter.py
  tests/core/test_composite.py
  tests/core/test_dataset.py
  tests/core/test_geometric_objects.py
  tests/core/test_reader.py
  tests/plotting/jupyter/test_static.py
  tests/plotting/jupyter/test_trame.py
  tests/plotting/test_plotting.py
Labels: documentation, maintenance

#5464 Merge `core._typing` package into `core._typing_core` namespace
  pyvista/core/_typing_core.py
  pyvista/core/_typing_core/__init__.py
  pyvista/core/_typing_core/_aliases.py
  pyvista/core/_typing_core/_array_like.py
Labels: maintenance

#5466 Fix code to code-block/ define highlight languages
  doc/source/api/examples/index.rst
  doc/source/extras/building_vtk.rst
  doc/source/extras/docker.rst
  doc/source/getting-started/installation.rst
  doc/source/user-guide/jupyter/trame.rst
Labels: documentation

#5453 Fixes for numpy 2.0 in core
  pyvista/core/utilities/arrays.py
  tests/core/test_geometric_objects.py
  tests/core/test_input_validation.py
Labels: maintenance

#5474 Allow computing number of cell vertices in `compute_cell_sizes`
  pyvista/core/filters/data_set.py
  tests/core/test_dataset_filters.py
Labels: enhancement

#5486 Add Air Racing Trajectory Optimization as example
  doc/source/images/external-examples/air_racing_optimization.png
  doc/source/make_external_gallery.py
Labels: documentation

#5484 Fix plotting of ambiguous cell data: set preference based on actual field association
  pyvista/plotting/plotter.py
  tests/plotting/image_cache/scalar_cell_priorities_1.png
  tests/plotting/test_plotting.py
Labels: bug

#5493 numpy 2.0 fix for np.unique
  pyvista/core/pointset.py
Labels: maintenance

#5496 More numpy 2.0 fixes: ndarray.ptp and np.ComplexWarning
  examples/01-filter/image-fft-perlin-noise.py
  examples/01-filter/slicing.py
  pyvista/plotting/renderer.py
  tests/plotting/test_plotting.py
Labels: documentation, maintenance

#5369 Add support to `meshio`'s `polyhedronX` cell types
  pyvista/core/utilities/fileio.py
  tests/test_meshio.py
Labels: enhancement

#5495 Update CellArray to use ImportLegacyFormat
  pyvista/core/_typing_core/__init__.py
  pyvista/core/_typing_core/_aliases.py
  pyvista/core/cell.py
  pyvista/core/filters/poly_data.py
  pyvista/core/pointset.py
  pyvista/core/utilities/helpers.py
  pyvista/core/utilities/points.py
  tests/core/test_cells.py
  tests/core/test_polydata.py
Labels: enhancement

#5508 Delete files from `labeler.yml` which is removed
  .github/labeler.yml
Labels: maintenance

#5517 Add devcontainer features to dependabot
  .github/dependabot.yml
Labels: maintenance

#5527 Use labels for vtk-master testing
  .github/workflows/vtk-pre-test.yml
Labels: maintenance

#5509 Add `background_opacity` argument to `add_legend`
  pyvista/plotting/renderer.py
  tests/plotting/test_renderer.py
Labels: enhancement

#5526 Add `CubeSource` algorithm class to represent cube
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_sources.py
Labels: enhancement

#5538 Bump flake8-isort to 6.1.1
  .pre-commit-config.yaml
  pyvista/core/utilities/reader.py
Labels: maintenance, dependencies

#5531 Add `DiscSource` algorithm class to represent disc
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_sources.py
Labels: enhancement
