Repository pyvista/pyvista, pull requests merged in 2024-04, with the labels that each got.

#5837 Ignore key-existence checks against `dict.keys()` calls
  pyproject.toml
Labels: documentation, maintenance

#5839 Add ignore labels to `pyvista-bot`'s pull requests
  .github/workflows/label.yml
Labels: maintenance

#5847 Revert [mirrors-prettier: v3.1.0 → v4.0.0-alpha.8]
  .pre-commit-config.yaml
Labels: maintenance, dependencies

#5846 Simplifying comparisons and usage of dictionaries
  examples/00-load/linear-cells.py
  pyproject.toml
  pyvista/core/_validation/check.py
  pyvista/examples/downloads.py
  pyvista/plotting/utilities/sphinx_gallery.py
  tests/core/test_dataset_filters.py
  tests/plotting/test_plotting.py
  tests/plotting/test_theme.py
Labels: documentation, maintenance

#5857 Fix axes labels on show_grid with all_edges
  pyvista/plotting/renderer.py
  tests/plotting/test_renderer.py
Labels: bug

#5860 ` PyQt6!=6.6.3` to fix PyVistaQt and MNE-Python integration tests
  .github/workflows/integration-tests.yml
Labels: bug, maintenance

#5861 Fix *.rst file error in sphinx using `sphinx-lint`
  doc/source/extras/building_vtk.rst
Labels: documentation

#5865 Add vocab accept.txt to file-contents-sorter check
  .pre-commit-config.yaml
Labels: maintenance, dependencies

#5867 Rename `example_loader` to `dataset_loader` and create separate `test_dataset_loader` file
  pyvista/examples/_dataset_loader.py
  pyvista/examples/downloads.py
  tests/examples/test_dataset_loader.py
  tests/examples/test_downloads.py
Labels: maintenance

#5618 Fix UnboundLocalError: cannot access local variable 'iren'
  pyvista/plotting/render_window_interactor.py
Labels: bug

#5874 Fix ambiguous unicode character docstring
  examples/99-advanced/ray-trace-moeller.py
  pyproject.toml
Labels: documentation, maintenance

#5879 Fix suppressible exception from flake8-simplify
  pyproject.toml
  pyvista/core/_vtk_core.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/pointset.py
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/plotting/plotter.py
  pyvista/plotting/renderer.py
  pyvista/plotting/scalar_bars.py
Labels: maintenance

#5880 Fix verbose raise derived from tryceratops linter
  pyproject.toml
  pyvista/core/composite.py
  pyvista/core/utilities/reader.py
  pyvista/plotting/utilities/algorithms.py
  tests/plotting/test_plotting.py
Labels: maintenance

#5881 Fix if else block instead of if exp (SIM108 rule)
  examples/02-plot/lookup-table.py
  pyproject.toml
  pyvista/core/_validation/check.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/grid.py
  pyvista/core/objects.py
  pyvista/core/pointset.py
  pyvista/core/utilities/arrays.py
  pyvista/core/utilities/docs.py
  pyvista/core/utilities/fileio.py
  pyvista/core/utilities/misc.py
  pyvista/demos/demos.py
  pyvista/demos/logo.py
  pyvista/examples/examples.py
  pyvista/ext/plot_directive.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/colors.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/cube_axes_actor.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotter.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  pyvista/plotting/scalar_bars.py
  pyvista/plotting/widgets.py
  tests/conftest.py
  tests/core/test_dataset_filters.py
  tests/core/test_geometric_sources.py
Labels: documentation, maintenance

#5875 Fix unnecessary return None of flake8-return lint
  pyproject.toml
  pyvista/core/cell.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/pointset.py
  pyvista/core/utilities/misc.py
  pyvista/plotting/mapper.py
  pyvista/plotting/themes.py
Labels: maintenance

#5878 Fix needless bool derived from the flake8-simplify
  pyproject.toml
  pyvista/core/_validation/check.py
  tests/plotting/test_plotting.py
Labels: maintenance

#5876 Fix duplicate isinstance call from flake8-simplify
  pyproject.toml
  pyvista/plotting/plotter.py
  tests/core/test_validation.py
Labels: maintenance

#5883 Fix string literal concatenation using `ISC` rules
  pyproject.toml
  pyvista/core/_validation/check.py
  pyvista/core/_validation/validate.py
  pyvista/core/composite.py
  pyvista/core/filters/data_set.py
  pyvista/ext/coverage.py
  pyvista/plotting/_property.py
  pyvista/plotting/prop3d.py
  tests/core/test_validation.py
Labels: maintenance

#5884 Fix unnecessary iterable allocation for first elem
  pyproject.toml
  pyvista/examples/_dataset_loader.py
  pyvista/plotting/plotter.py
  pyvista/plotting/scalar_bars.py
  tests/plotting/test_plotter.py
  tests/plotting/test_scalar_bars.py
Labels: maintenance

#5833 Add composite dataset `PartitionedDataSet` class
  doc/source/api/core/index.rst
  doc/source/api/core/partitioned.rst
  pyproject.toml
  pyvista/core/__init__.py
  pyvista/core/_vtk_core.py
  pyvista/core/errors.py
  pyvista/core/partitioned.py
  pyvista/core/wrappers.py
  tests/core/test_partitioned.py
Labels: enhancement, documentation

#5873 Add partition reader `XMLPartitionedDataSetReader`
  doc/source/api/readers/index.rst
  pyvista/core/_vtk_core.py
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/reader.py
  tests/core/test_reader.py
Labels: enhancement, documentation, maintenance

#5886 Fix if else block instead of dict lookup (SIM116)
  pyproject.toml
  pyvista/plotting/mapper.py
Labels: maintenance

#5887 Fix if expressions that can be replaced with bool
  pyproject.toml
  pyvista/plotting/renderers.py
Labels: maintenance

#5885 Fix loops that can be replaced with a builtin func
  pyproject.toml
  pyvista/ext/coverage.py
Labels: maintenance

#5890 Fix repeated equality comparison from the Pylint
  pyproject.toml
  pyvista/plotting/lookup_table.py
Labels: maintenance

#5888 Use all SIM rules at ruff check configuration
  pyproject.toml
  pyvista/examples/downloads.py
Labels: maintenance

#5891 Fix collapsible else if derived from the Pylint
  pyproject.toml
  pyvista/_plot.py
  pyvista/core/_validation/validate.py
  pyvista/core/composite.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/lights.py
  pyvista/plotting/plotter.py
  pyvista/plotting/themes.py
  tests/core/test_validation.py
Labels: maintenance

#5889 Remove useless return derived from Pylint linter
  doc/source/make_external_gallery.py
  examples/03-widgets/multi-slider-widget.py
  examples/03-widgets/slider-bar-widget.py
  examples/03-widgets/sphere-widget.py
  pyproject.toml
  pyvista/core/cell.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/pointset.py
  pyvista/core/utilities/misc.py
  pyvista/core/utilities/observers.py
  pyvista/plotting/plotter.py
  pyvista/plotting/renderer.py
  pyvista/plotting/themes.py
  pyvista/plotting/widgets.py
  tests/core/test_objects.py
Labels: documentation, maintenance

#5893 Revert "Fix collapsible else if derived from the Pylint"
  pyproject.toml
  pyvista/_plot.py
  pyvista/core/_validation/validate.py
  pyvista/core/composite.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/lights.py
  pyvista/plotting/plotter.py
  pyvista/plotting/themes.py
  tests/core/test_validation.py
Labels: maintenance

#5899 Checks for use of `Optional` when default is None
  doc/source/make_tables.py
  pyproject.toml
Labels: documentation, maintenance

#5900 Check ambiguous Unicode characters in comments
  examples/01-filter/clipping.py
  pyproject.toml
Labels: documentation, maintenance

#5896 Fix submodule imports aliased to submodule name
  pyproject.toml
  pyvista/__init__.py
  tests/core/test_utilities.py
  tests/namespace/test_errors_namespace.py
  tests/namespace/test_utilities_namespace.py
Labels: maintenance

#5897 Fix import aliases that do not rename the original
  pyproject.toml
  pyvista/trame/ui/vuetify2.py
Labels: maintenance

#5905 Fix getattr takes a constant attr value as an arg
  pyproject.toml
  tests/namespace/test_utilities_namespace.py
Labels: maintenance

#5907 Check for builtins used as variables or parameters
  doc/source/conf.py
  doc/source/make_tables.py
  examples/99-advanced/warp-by-vector-eigenmodes.py
  examples_trame/basic/file_viewer.py
  pyproject.toml
  pyvista/core/utilities/fileio.py
  pyvista/plotting/charts.py
  pyvista/plotting/plotter.py
  tests/core/test_cells.py
  tests/core/test_dataset.py
  tests/core/test_polydata.py
  tests/core/test_utilities.py
  tests/tinypages/conf.py
Labels: documentation, maintenance

#5904 Fix use of mutable objects as function default arg
  pyproject.toml
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/plotting/charts.py
Labels: maintenance

#5909 Check imports that are using a common convention
  examples/03-widgets/sphere-widget.py
  pyproject.toml
  pyvista/plotting/plotter.py
  pyvista/plotting/tools.py
  tests/conftest.py
  tests/plotting/test_colors.py
  tests/test_meta.py
Labels: documentation, maintenance

#5903 Add check for mutable default values in class attr
  doc/source/make_tables.py
  pyproject.toml
  pyvista/core/dataobject.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/ext/plot_directive.py
  pyvista/plotting/actor.py
  pyvista/plotting/charts.py
  pyvista/plotting/renderer.py
Labels: documentation, maintenance

#5912 Add check to move in or out of type-checking block
  doc/source/make_tables.py
  pyproject.toml
  pyvista/core/cell.py
  pyvista/core/datasetattributes.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/plotting/colors.py
  pyvista/plotting/lights.py
  pyvista/plotting/text.py
  pyvista/plotting/themes.py
Labels: documentation, maintenance

#5920 Use @pyvista-bot for labeling Pull Requests
  .github/workflows/label.yml
Labels: maintenance

#5926 [patch] fix jupyter-server-proxy prefix path issue from #5818
  pyvista/plotting/themes.py
Labels: bug

#5922 Fix typing in `doc/source/make_tables.py`
  .pre-commit-config.yaml
  doc/source/conf.py
  doc/source/make_tables.py
Labels: documentation, maintenance, dependencies

#5910 Add CT image whole body segmentation dataset
  doc/source/make_tables.py
  pyvista/examples/_dataset_loader.py
  pyvista/examples/downloads.py
  tests/examples/test_dataset_loader.py
Labels: enhancement

#5902 Add UNISIM-II-D reservoir model reservoir dataset
  pyvista/examples/downloads.py
Labels: enhancement

#5450 Add development CI for NumPy 2.0 beta testing
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#5929 Update linkcheck GitHub Actions yaml to fix error
  .github/workflows/linkcheck.yml
Labels: maintenance

#5928 Sort autosummery toctree list of Reader classes
  doc/source/api/readers/index.rst
Labels: documentation

#5930 Update installation command on WSL at document
  doc/source/getting-started/installation.rst
Labels: documentation

#5932 Use @pyvista-bot to add labels to Pull Requests
  .github/workflows/label.yml
Labels: maintenance

#5882 Trame UI: add parallel projection toggle
  pyvista/trame/ui/base_viewer.py
  pyvista/trame/ui/vuetify2.py
  pyvista/trame/ui/vuetify3.py
Labels: enhancement

#5894 Update CONTRIBUTING.rst to use auto number-listing
  CONTRIBUTING.rst
Labels: documentation

#5939 Update index.rst to use auto number-listing
  doc/source/index.rst
Labels: documentation

#5933 Add `user_dict` property to `DataSet` objects for storing user-specified data
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/pyvista_ndarray.py
  pyvista/core/utilities/arrays.py
  tests/core/test_dataset.py
  tests/core/test_utilities.py
Labels: enhancement

#5941 Fix using flake8-pyi rules for linting typeshed
  pyproject.toml
  pyvista/core/_vtk_core.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/utilities/observers.py
  pyvista/plotting/colors.py
  tests/core/test_validation.py
Labels: maintenance

#5944 Add `sigmoid_15` and `sigmoid_20` opacity transfer functions
  pyvista/plotting/plotter.py
  pyvista/plotting/tools.py
  tests/plotting/image_cache/plot_sigmoid_opacity_transfer_functions[sigmoid].png
  tests/plotting/image_cache/plot_sigmoid_opacity_transfer_functions[sigmoid_10].png
  tests/plotting/image_cache/plot_sigmoid_opacity_transfer_functions[sigmoid_15].png
  tests/plotting/image_cache/plot_sigmoid_opacity_transfer_functions[sigmoid_1].png
  tests/plotting/image_cache/plot_sigmoid_opacity_transfer_functions[sigmoid_20].png
  tests/plotting/image_cache/plot_sigmoid_opacity_transfer_functions[sigmoid_2].png
  tests/plotting/image_cache/plot_sigmoid_opacity_transfer_functions[sigmoid_3].png
  tests/plotting/image_cache/plot_sigmoid_opacity_transfer_functions[sigmoid_4].png
  tests/plotting/image_cache/plot_sigmoid_opacity_transfer_functions[sigmoid_5].png
  tests/plotting/image_cache/plot_sigmoid_opacity_transfer_functions[sigmoid_6].png
  tests/plotting/image_cache/plot_sigmoid_opacity_transfer_functions[sigmoid_7].png
  tests/plotting/image_cache/plot_sigmoid_opacity_transfer_functions[sigmoid_8].png
  tests/plotting/image_cache/plot_sigmoid_opacity_transfer_functions[sigmoid_9].png
  tests/plotting/test_plotting.py
Labels: enhancement

#5948 Update document files to fix small typos
  CONTRIBUTING.rst
  pyvista/trame/jupyter.py
Labels: documentation

#5949 Move `user_dict` from `DataSet` to `DataObject` to support `MultiBlock`
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  tests/core/test_dataobject.py
  tests/core/test_dataset.py
Labels: maintenance

#5954 Sort `CLASS_READERS` dictionary based on alphabet
  pyvista/core/utilities/reader.py
Labels: maintenance

#5952 Add Warnings section in `extract_surface` method about tracking point and cell indices
  pyvista/core/filters/data_set.py
Labels: documentation

#5956 Add `PyElastica` as an external example of PyVista
  doc/source/images/external-examples/pyelastica.gif
  doc/source/make_external_gallery.py
Labels: documentation

#5960 Pin `macos-12` in testing and deployment actions
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#5959 Update trame-vtk to 2.8.6
  requirements_docs.txt
  requirements_test.txt
Labels: bug, documentation, dependencies

#5957 Fix missed ray traces in `multi_ray_trace` when origin points are outside bounding box
  pyvista/core/filters/poly_data.py
  tests/core/test_polydata.py
Labels: bug

#5955 Improve detection of embree and update installation instructions in ImportError of multi_ray_trace
  pyvista/core/filters/poly_data.py
  requirements_test.txt
  tests/core/test_polydata.py
Labels: maintenance

#5961 Fix missing `from __future__ import annotations`
  pyproject.toml
  pyvista/core/_validation/check.py
  pyvista/core/_validation/validate.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/filters/rectilinear_grid.py
  pyvista/core/grid.py
  pyvista/core/objects.py
  pyvista/core/partitioned.py
  pyvista/core/pointset.py
  pyvista/core/pyvista_ndarray.py
  pyvista/core/utilities/arrays.py
  pyvista/core/utilities/cell_type_helper.py
  pyvista/core/utilities/cells.py
  pyvista/core/utilities/docs.py
  pyvista/core/utilities/helpers.py
  pyvista/core/utilities/misc.py
  pyvista/examples/downloads.py
  pyvista/plotting/_property.py
  pyvista/plotting/axes_actor.py
  pyvista/plotting/charts.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotter.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/themes.py
  pyvista/plotting/widgets.py
Labels: maintenance

#5969 Fix datetime call to use timezone-aware objects
  doc/source/conf.py
  pyproject.toml
  tests/tinypages/conf.py
Labels: documentation, maintenance

#5970 Add ruff rules which doesn't raise errors now
  pyproject.toml
Labels: maintenance

#5977 Bump black to 24.4.1 to support 3.12 f-strings
  .pre-commit-config.yaml
Labels: maintenance, dependencies

#5978 ` PyQt6!=6.7.0` to fix PyVistaQt and MNE-Python integration tests
  .github/workflows/integration-tests.yml
Labels: maintenance

#5982 Ignore Sphinx warning about unpickable cache
  doc/source/conf.py
  requirements_docs.txt
  requirements_test.txt
Labels: documentation, maintenance

#5963 Add `extract_values` filter and update `connectivity` filter to use it
  pyvista/core/filters/data_set.py
  tests/core/test_dataset_filters.py
Labels: enhancement

#5986 Add versionadded note to parameter `clamping`
  pyvista/plotting/lookup_table.py
Labels: documentation

#5985 Add color mode option to `glyph` method of DataSet
  pyvista/core/filters/data_set.py
  tests/core/test_dataset_filters.py
Labels: enhancement

#5990 Add `download_headsq` to download headsq dataset
  pyvista/examples/downloads.py
Labels: enhancement

#5987 Add `ImageEllipsoidSource` to create ellipsoid img
  doc/source/api/utilities/image.rst
  doc/source/api/utilities/index.rst
  pyvista/core/_vtk_core.py
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/image_sources.py
  tests/core/test_image_sources.py
Labels: enhancement

#5993 Add `pygrep-hooks` rule which raise now error now
  pyproject.toml
Labels: maintenance

#5996 Add `ImageMandelbrotSource` to create Mandelbrot
  doc/source/api/utilities/image.rst
  pyvista/core/_vtk_core.py
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/image_sources.py
  tests/core/test_image_sources.py
Labels: enhancement
