Repository pyvista/pyvista, pull requests merged in 2024-11, with the labels that each got.

#6755 Checking `numpydoc_validation` PR in `pre-commit`
  pyproject.toml
Labels: maintenance

#6767 Fix ruff lint error: open-file-with-context-handler (SIM115)
  .pre-commit-config.yaml
  pyproject.toml
Labels: maintenance, dependencies

#6753 Move requirements into pyproject.toml
  .devcontainer/offscreen/oncreatecommand.sh
  .devcontainer/oncreatecommand.sh
  .github/workflows/docs.yml
  .github/workflows/integration-tests.yml
  .github/workflows/linkcheck.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  .github/workflows/vtk-pre-test.yml
  .gitpod.yml
  CONTRIBUTING.rst
  pyproject.toml
  requirements.txt
  requirements_docs.txt
  requirements_test.txt
Labels: maintenance, dependencies

#6680 Doc/improve label connectivity and voxelize binary mask
  pyvista/core/filters/image_data.py
  pyvista/core/filters/poly_data.py
  tests/doc/doc_image_cache/pyvista-PolyDataFilters-voxelize_binary_mask-1_05_00.jpg
  tests/doc/doc_image_cache/pyvista-PolyDataFilters-voxelize_binary_mask-1_06_00.jpg
  tests/doc/doc_image_cache/pyvista-PolyDataFilters-voxelize_binary_mask-1_07_00.jpg
Labels: documentation

#6741 Remove `mypy` from pre-commit
  .pre-commit-config.yaml
Labels: maintenance, dependencies

#6771 Restrict `embree` in test dependencies to intel macs
  pyproject.toml
Labels: maintenance

#6770 Update `macOS` testing strategy to run on latest `arm` architecture
  .github/workflows/testing-and-deployment.yml
  tests/core/test_utilities.py
  tests/plotting/test_plotting.py
Labels: maintenance

#6772 Update MultiBlock repr to use scientific notation
  pyvista/core/composite.py
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/plotting/composite_mapper.py
  tests/core/test_composite.py
Labels: bug

#6773 Update `Plotter.add_text()` docstring to current version
  pyvista/plotting/plotter.py
Labels: documentation

#6766 Add radio button widget
  pyvista/plotting/widgets.py
  tests/doc/doc_image_cache/pyvista-Plotter-add_radio_button_widget-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-plotting-widgets-WidgetHelper-add_radio_button_widget-1_00_00.jpg
  tests/plotting/test_widgets.py
Labels: enhancement

#6776 Remove unnecessary macOS skips in `test_reader.py`
  tests/core/test_reader.py
Labels: maintenance

#6738 Add static type checking workflow with `mypy`
  .github/workflows/type-checking.yml
  pyproject.toml
  pyvista/core/_vtk_core.py
  pyvista/core/cell.py
  pyvista/core/celltype.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/composite.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/filters/poly_data.py
  pyvista/core/grid.py
  pyvista/core/partitioned.py
  pyvista/core/pointset.py
  pyvista/core/utilities/arrays.py
  pyvista/core/utilities/cell_type_helper.py
  pyvista/core/utilities/features.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/image_sources.py
  pyvista/core/utilities/transform.py
  pyvista/examples/cells.py
  pyvista/examples/downloads.py
  pyvista/examples/examples.py
  pyvista/plotting/_property.py
  pyvista/plotting/_vtk.py
  pyvista/plotting/_vtk_gl.py
  pyvista/plotting/actor.py
  pyvista/plotting/colors.py
  pyvista/plotting/cube_axes_actor.py
  pyvista/plotting/lights.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotter.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/texture.py
  pyvista/plotting/volume.py
  pyvista/plotting/widgets.py
Labels: maintenance, dependencies

#6746 Split `test` requirements into separate `typing` and `test` requirements
  .github/workflows/type-checking.yml
  pyproject.toml
Labels: maintenance, dependencies

#6777 Add and fix API links in plot examples
  examples/02-plot/anti-aliasing.py
  examples/02-plot/chart_basics.py
  examples/02-plot/depth-peeling.py
  examples/02-plot/floors.py
  examples/02-plot/labels.py
  examples/02-plot/legend.py
  examples/02-plot/linked.py
  examples/02-plot/orbit.py
  examples/02-plot/point-clouds.py
  examples/02-plot/scalar-bars.py
  examples/02-plot/ssao.py
Labels: documentation

#6778 Clean-up `numpydoc-validation` excludes
  pyproject.toml
  pyvista/core/pointset.py
  pyvista/core/utilities/observers.py
  pyvista/jupyter/notebook.py
  pyvista/plotting/colors.py
  pyvista/plotting/scalar_bars.py
  pyvista/trame/views.py
Labels: maintenance

#6764 Add `ruled_surface` method to PolyData
  pyvista/core/_vtk_core.py
  pyvista/core/filters/poly_data.py
  tests/core/test_polydata_filters.py
  tests/doc/doc_image_cache/pyvista-PolyDataFilters-ruled_surface-1_00_00.jpg
Labels: enhancement, documentation

#6783 Use validation module in `shrink` filter method
  pyvista/core/filters/data_set.py
Labels: maintenance

#6782 Make `pyproject.toml` comments inline
  pyproject.toml
Labels: maintenance

#6781 Add `taplo` pre-commit hook to format and sort `toml` files
  .pre-commit-config.yaml
  pyproject.toml
Labels: maintenance, dependencies

#6786 Add recursive shallow copy for `MultiBlock`
  pyvista/core/composite.py
  tests/core/test_composite.py
Labels: enhancement

#6792 Add `warn_unused_configs` to `mypy` config
  pyproject.toml
Labels: maintenance

#6794 Add `extra_checks` to `mypy` config
  pyproject.toml
Labels: maintenance

#6793 Add `strict_equality` to `mypy` config
  pyproject.toml
  pyvista/plotting/_property.py
Labels: maintenance

#6791 Fix missing plotting typing imports
  pyvista/plotting/_typing.py
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/lookup_table.py
Labels: maintenance

#6798 Remove outdated reference to .clean() in intro doc
  doc/source/user-guide/what-is-a-mesh.rst
Labels: bug, documentation

#6804 Sort keys in `toml` files
  .pre-commit-config.yaml
  doc/source/_extra/netlify.toml
  pyproject.toml
Labels: documentation, maintenance, dependencies

#6807 Remove usage of deprecated `macos-12` runner
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#6806 Fix floating point comparisons in `test_axes_assembly.py`
  tests/plotting/test_axes_assembly.py
Labels: bug

#6809 Add `None` return annotations to `actor.py`
  pyvista/plotting/actor.py
Labels: maintenance

#6811 Add `None` return annotations to `prop3d.py`
  pyvista/plotting/prop3d.py
Labels: maintenance

#6816 Add scalar return type annotation
  pyvista/core/celltype.py
  pyvista/core/composite.py
  pyvista/core/utilities/misc.py
  pyvista/core/utilities/reader.py
  pyvista/ext/plot_directive.py
  pyvista/plotting/camera.py
  pyvista/plotting/charts.py
  pyvista/plotting/colors.py
  pyvista/plotting/lights.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  pyvista/plotting/scalar_bars.py
  pyvista/plotting/themes.py
  pyvista/plotting/utilities/algorithms.py
  pyvista/plotting/utilities/sphinx_gallery.py
Labels: maintenance

#6822 Update typing for active array info and field association in `dataset.py` and `arrays.py`
  pyvista/core/dataset.py
  pyvista/core/utilities/arrays.py
Labels: maintenance

#6817 Add `bool` parameter annotations to `core`
  pyvista/core/_validation/check.py
  pyvista/core/_validation/validate.py
  pyvista/core/cell.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/__init__.py
  pyvista/core/filters/composite.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/filters/poly_data.py
  pyvista/core/filters/structured_grid.py
  pyvista/core/filters/unstructured_grid.py
  pyvista/core/grid.py
  pyvista/core/objects.py
  pyvista/core/partitioned.py
  pyvista/core/pointset.py
  pyvista/core/pyvista_ndarray.py
  pyvista/core/utilities/arrays.py
  pyvista/core/utilities/features.py
  pyvista/core/utilities/fileio.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/helpers.py
  pyvista/core/utilities/observers.py
  pyvista/core/utilities/parametric_objects.py
  pyvista/core/utilities/points.py
  pyvista/core/utilities/transformations.py
Labels: maintenance

#6799 Move transformations from `DataSet` to `DataSetFilters`
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  tests/conftest.py
  tests/core/test_dataset.py
  tests/core/test_dataset_filters.py
  tests/doc/doc_image_cache/pyvista-DataSetFilters-flip_normal-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-flip_x-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-flip_y-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-flip_z-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-rotate-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-rotate_vector-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-rotate_x-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-rotate_y-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-rotate_z-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-scale-1_00_00.jpg
Labels: maintenance, no-sphinx-build-cache

#6819 Add `bool` parameter annotations to most `plotting` modules
  pyvista/plotting/actor.py
  pyvista/plotting/affine_widget.py
  pyvista/plotting/axes.py
  pyvista/plotting/camera.py
  pyvista/plotting/charts.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/cube_axes_actor.py
  pyvista/plotting/helpers.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/render_passes.py
  pyvista/plotting/renderers.py
  pyvista/plotting/scalar_bars.py
  pyvista/plotting/text.py
  pyvista/plotting/tools.py
  pyvista/plotting/utilities/algorithms.py
  pyvista/plotting/utilities/regression.py
  pyvista/plotting/widgets.py
Labels: maintenance, no-sphinx-build-cache

#6837 Remove outdated content in `geometric_objects.py` docstring
  pyvista/core/utilities/geometric_objects.py
Labels: maintenance

#6843 Add `trimesh` as typing dependency
  pyproject.toml
Labels: maintenance

#6833 Add annotations to `glyph` filter
  pyvista/core/filters/data_set.py
Labels: maintenance

#6839 Add parameter annotations to `geometric_sources.py`
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
Labels: maintenance

#6850 Fix deprecated version compare from `>=` to `>`
  CONTRIBUTING.rst
  tests/core/test_cells.py
  tests/core/test_dataset.py
  tests/core/test_dataset_filters.py
  tests/core/test_datasetattributes.py
  tests/core/test_imagedata_filters.py
  tests/core/test_parametric_geometry.py
  tests/core/test_polydata.py
  tests/plotting/test_plotter.py
  tests/plotting/test_plotting.py
  tests/plotting/test_utilities.py
Labels: maintenance

#6831 Add annotations to `contour` filter
  pyvista/core/filters/data_set.py
  tests/core/test_dataset_filters.py
Labels: maintenance

#6820 Add `None` return type annotations to most modules in `core`
  pyvista/core/_validation/check.py
  pyvista/core/cell.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/datasetattributes.py
  pyvista/core/errors.py
  pyvista/core/filters/__init__.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/grid.py
  pyvista/core/objects.py
  pyvista/core/partitioned.py
  pyvista/core/pointset.py
  pyvista/core/pyvista_ndarray.py
  pyvista/core/utilities/arrays.py
  pyvista/core/utilities/fileio.py
  pyvista/core/utilities/misc.py
  pyvista/core/utilities/parametric_objects.py
  pyvista/core/utilities/transform.py
Labels: maintenance

#6851 Add typing overloads to `is_pyvista_dataset`
  pyvista/core/dataset.py
  pyvista/core/utilities/helpers.py
Labels: maintenance

#6855 Fully annotate `geometric_sources.py`
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
Labels: maintenance

#6852 Include `None` type with `TypeMultiBlockLeaf`
  pyvista/core/composite.py
Labels: maintenance

#6830 Add annotations to `clip_box` filter
  pyvista/core/filters/data_set.py
Labels: maintenance

#6836 Add typing overloads to `numpy_to_idarr`
  pyvista/core/cell.py
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/cells.py
Labels: maintenance

#6832 Add annotations to `elevation` filter
  pyvista/core/filters/data_set.py
  tests/core/test_dataset_filters.py
Labels: maintenance

#6854 Add DataSet TypeVar to typing core
  doc/source/api/core/typing.rst
  pyvista/core/__init__.py
  pyvista/core/_typing_core/__init__.py
  pyvista/core/_typing_core/_dataset_types.py
Labels: documentation, maintenance

#6842 Remove redundant "missing docstring" `GL08` from `numpydoc-validation`
  CONTRIBUTING.rst
  pyproject.toml
  pyvista/core/cell.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/grid.py
  pyvista/core/objects.py
  pyvista/core/partitioned.py
  pyvista/core/pointset.py
  pyvista/core/utilities/cells.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/helpers.py
  pyvista/core/utilities/misc.py
  pyvista/core/utilities/reader.py
  pyvista/core/utilities/transform.py
  pyvista/plotting/_property.py
  pyvista/plotting/actor.py
  pyvista/plotting/actor_properties.py
  pyvista/plotting/affine_widget.py
  pyvista/plotting/axes.py
  pyvista/plotting/axes_actor.py
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/camera.py
  pyvista/plotting/charts.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/cube_axes_actor.py
  pyvista/plotting/lights.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotter.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/text.py
  pyvista/plotting/texture.py
  pyvista/plotting/themes.py
  pyvista/plotting/utilities/regression.py
  pyvista/plotting/volume.py
  pyvista/plotting/volume_property.py
  pyvista/plotting/widgets.py
  pyvista/trame/jupyter.py
Labels: maintenance

#6853 Fully annotate `transform.py` and `transformations.py`
  pyvista/core/utilities/helpers.py
  pyvista/core/utilities/transform.py
  pyvista/core/utilities/transformations.py
Labels: maintenance

#6869 Replace `docs` with `typing` in `dev` dependencies
  pyproject.toml
Labels: maintenance

#6862 Fix deprecated version compare only minor version
  CONTRIBUTING.rst
  tests/core/test_cells.py
  tests/core/test_dataset.py
  tests/core/test_dataset_filters.py
  tests/core/test_datasetattributes.py
  tests/core/test_imagedata_filters.py
  tests/core/test_parametric_geometry.py
  tests/core/test_polydata.py
  tests/plotting/test_plotter.py
  tests/plotting/test_plotting.py
  tests/plotting/test_utilities.py
Labels: maintenance

#6868 Fully annotate `geometric_objects.py`
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/demos/demos.py
  pyvista/examples/planets.py
Labels: maintenance

#6872 Limit VTK<9.4.0
  pyproject.toml
Labels: maintenance

#6866 Add `download_full_head` to download Full Head image data
  pyvista/examples/downloads.py
  tests/doc/doc_image_cache/pyvista-examples-downloads-download_full_head-1_00_00.jpg
Labels: enhancement

#6865 Add capping option to `Tube` function
  pyvista/core/utilities/geometric_objects.py
  tests/core/test_geometric_objects.py
Labels: enhancement

#6829 Add note to `glyph` filter about `geom` direction assumption
  pyvista/core/filters/data_set.py
Labels: documentation

#6860 Adds check for dataset attributes in vtkLabelPlacementMapp
  pyvista/plotting/plotter.py
Labels: bug

#6874 Fully annotate `composite.py`
  pyvista/core/composite.py
Labels: maintenance

#6873 Fully annotate `dataset.py`
  pyvista/core/dataset.py
Labels: maintenance

#6802 Add `None` return type annotations to core `readers.py` and `observers.py`
  pyvista/core/utilities/observers.py
  pyvista/core/utilities/reader.py
Labels: maintenance

#6887 Mark `test_tinypages` as a flaky test
  tests/test_tinypages.py
Labels: maintenance

#6876 Use validation methods with `vtk_points`
  pyvista/core/utilities/points.py
  tests/core/test_grid.py
  tests/core/test_helpers.py
  tests/core/test_imagedata_filters.py
Labels: maintenance

#6875 Fully annotate `parametric_objects.py`
  pyvista/core/utilities/parametric_objects.py
Labels: maintenance

#6884 Fully annotate `fileio.py`
  pyvista/__init__.py
  pyvista/core/dataobject.py
  pyvista/core/filters/__init__.py
  pyvista/core/utilities/fileio.py
  pyvista/core/utilities/helpers.py
  pyvista/examples/downloads.py
  pyvista/examples/examples.py
  pyvista/plotting/picking.py
  pyvista/plotting/utilities/algorithms.py
  pyvista/plotting/widgets.py
Labels: maintenance

#6889 Fully annotate `points.py`
  pyvista/core/utilities/points.py
Labels: maintenance

#6730 Remove references to vtk_osmesa in VTK master testing
  .github/workflows/vtk-pre-test.yml
Labels: maintenance

#6894 Add color output to `pytest` and `mypy` CI
  .github/workflows/testing-and-deployment.yml
  .github/workflows/type-checking.yml
Labels: maintenance

#6897 Fix more broken links in documentation
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/filters/poly_data.py
  pyvista/core/objects.py
  pyvista/core/pointset.py
  pyvista/core/pyvista_ndarray.py
  pyvista/core/utilities/arrays.py
  pyvista/examples/downloads.py
  pyvista/plotting/renderer.py
Labels: documentation
