Repository pyvista/pyvista, pull requests merged in 2024-02, with the labels that each got.

#5536 Move the description to the top of the README file
  README.rst
Labels: documentation

#5534 Add `LineSource` algorithm class to represent line
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_sources.py
Labels: enhancement

#5535 Add `SphereSource` algorithm class to represent sphere
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_sources.py
Labels: enhancement

#5561 Fix the error of radius arg type in `ConeSource`
  pyvista/core/utilities/geometric_sources.py
Labels: bug

#5558 Rename `input_validation` package to `validation`
  pyvista/core/validation/__init__.py
  pyvista/core/validation/check.py
  pyvista/core/validation/validate.py
  tests/core/test_validation.py
Labels: maintenance

#5539 Add `PolygonSource` algorithm class of polygon
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_sources.py
Labels: enhancement

#5530 VTK master compatibility
  pyvista/core/utilities/reader.py
  pyvista/plotting/render_window_interactor.py
  tests/core/test_reader.py
Labels: maintenance

#5570 Adding the codecov token to use codecov-action v4
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#5547 Add `PlatonicSolidSource` platonic solid algorithm
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_sources.py
Labels: enhancement

#5551 Fix `save_meshio` with Numpy v2
  pyvista/core/utilities/fileio.py
Labels: maintenance

#5562 Add `PlaneSource` to add plane algorithm source
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_sources.py
Labels: enhancement

#5569 Fix ImageData error when using spacing and extent
  pyvista/core/grid.py
  tests/core/test_grid.py
Labels: bug

#5573 Move array casting functions into `validation` package
  pyvista/core/utilities/arrays.py
  pyvista/core/validation/_cast_array.py
  pyvista/core/validation/check.py
  pyvista/core/validation/validate.py
  tests/core/test_utilities.py
  tests/core/test_validation.py
Labels: maintenance

#5592 Ignore `flake8` E704 to fix conflict with `black`
  .flake8
Labels: maintenance

#5590 Make `mypy` output more verbose error message
  .pre-commit-config.yaml
  pyproject.toml
Labels: maintenance, dependencies

#5589 Add `--warn-unused-ignores` to `mypy` config
  .pre-commit-config.yaml
  pyproject.toml
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/poly_data.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/core/utilities/helpers.py
  pyvista/ext/coverage.py
  pyvista/plotting/charts.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
Labels: maintenance, dependencies

#5588 Fix `mypy` errors which is raised by running mypy pyvista
  pyvista/core/composite.py
  pyvista/core/filters/data_set.py
  pyvista/core/pointset.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/reader.py
  pyvista/plotting/text.py
Labels: bug, maintenance

#5594 Remove comment about mypy support for decorated properties
  pyvista/plotting/charts.py
Labels: documentation

#5593 Add `--disallow-any-generics` to `mypy` config
  .pre-commit-config.yaml
  pyproject.toml
  pyvista/core/_typing_core/_aliases.py
  pyvista/core/cell.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/core/pyvista_ndarray.py
  pyvista/core/utilities/arrays.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/helpers.py
  pyvista/core/utilities/misc.py
  pyvista/core/utilities/reader.py
  pyvista/core/validation/validate.py
  pyvista/plotting/_typing.py
  pyvista/plotting/actor_properties.py
  pyvista/plotting/affine_widget.py
  pyvista/plotting/axes_actor.py
  pyvista/plotting/colors.py
  pyvista/plotting/helpers.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/texture.py
  pyvista/plotting/themes.py
  pyvista/plotting/utilities/regression.py
  pyvista/plotting/widgets.py
Labels: maintenance, dependencies

#5596 Fix a small error of docstring included code parse
  pyvista/core/pointset.py
Labels: documentation

#5586 Rename, remove, rework `validation` functions
  pyvista/__init__.py
  pyvista/core/_validation/__init__.py
  pyvista/core/_validation/_cast_array.py
  pyvista/core/_validation/check.py
  pyvista/core/_validation/validate.py
  pyvista/core/validation/__init__.py
  tests/core/test_validation.py
Labels: maintenance

#5577 Add the `camera3d_widget` allow to move the camera
  pyvista/plotting/widgets.py
  tests/plotting/image_cache/camera3d_widget.png
  tests/plotting/image_cache/clear_camera3d_widget.png
  tests/plotting/test_widgets.py
Labels: enhancement

#5598 Add FElupe package as external example of PyVista
  doc/source/images/external-examples/felupe.png
  doc/source/make_external_gallery.py
Labels: documentation

#5599 Fix top-level linter settings deprecated in ruff
  pyproject.toml
Labels: maintenance

#5607 Update docs config for long and/or overloaded function signatures
  doc/source/conf.py
Labels: documentation

#5601 Add `flake8-pie` lint check using ruff
  pyproject.toml
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/errors.py
  pyvista/core/utilities/reader.py
  pyvista/ext/plot_directive.py
  pyvista/plotting/errors.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotter.py
  pyvista/plotting/themes.py
  pyvista/trame/views.py
  tests/core/test_helpers.py
  tests/plotting/jupyter/conftest.py
  tests/plotting/test_axes.py
  tests/plotting/test_charts.py
  tests/plotting/test_cube_axes_actor.py
Labels: maintenance

#5600 Fix str.join calls can be replaced with f-strings
  doc/source/conf.py
  pyproject.toml
Labels: documentation, maintenance

#5603 Use explicit conversion flag within f-strings
  pyproject.toml
  pyvista/core/datasetattributes.py
  pyvista/core/utilities/observers.py
  pyvista/plotting/scalar_bars.py
  pyvista/trame/jupyter.py
  tests/check_doctest_names.py
Labels: maintenance

#5602 Use iterable unpacking instead of concatenation
  examples/00-load/create-polyhedron.py
  examples/00-load/linear-cells.py
  pyproject.toml
  pyvista/core/cell.py
  pyvista/examples/cells.py
  tests/core/test_dataset_filters.py
  tests/core/test_grid.py
Labels: documentation, maintenance

#3015 Legend improvements
  examples/02-plot/legend.py
  pyvista/core/filters/data_set.py
  pyvista/core/pointset.py
  pyvista/plotting/plotter.py
  pyvista/plotting/renderer.py
  tests/conftest.py
  tests/core/test_dataset_filters.py
  tests/examples/test_examples.py
  tests/plotting/image_cache/legend_add_entry_warning.png
  tests/plotting/image_cache/legend_from_multiple_glyph.png
  tests/plotting/image_cache/legend_using_add_legend.png
  tests/plotting/image_cache/legend_using_add_legend_only_labels.png
  tests/plotting/image_cache/legend_using_add_legend_with_glyph.png
  tests/plotting/image_cache/plot_composite_many_options.png
  tests/plotting/test_renderer.py
  tests/plotting/test_widgets.py
Labels: enhancement, scipy2022

#5609 Fix precision bug with `translate` for geometric objects
  pyvista/core/filters/rectilinear_grid.py
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_sources.py
Labels: bug

#5629 Specify the version of test library at patch level
  requirements_test.txt
Labels: maintenance, dependencies

#5625 Add pytest fixture incorrect parentheses style set
  pyproject.toml
  tests/core/test_dataset_filters.py
  tests/core/test_geometric_sources.py
  tests/core/test_grid.py
  tests/core/test_polydata.py
  tests/core/test_pyvista_ndarray.py
  tests/core/test_rectilinear_grid_filters.py
  tests/plotting/test_charts.py
  tests/plotting/test_cube_axes_actor.py
  tests/plotting/test_lookup_table.py
  tests/plotting/test_theme.py
Labels: maintenance

#5615 Fix `CylinderStructured` orientation
  pyvista/core/utilities/geometric_objects.py
  tests/plotting/image_cache/direction_objects[object_function4-False].png
  tests/plotting/image_cache/direction_objects[object_function4-True].png
Labels: bug

#5595 Add `compute_boundary_cell_quality` DataSet method
  pyvista/core/_vtk_core.py
  pyvista/core/filters/data_set.py
  pyvista/examples/downloads.py
  tests/core/test_dataset_filters.py
  tests/examples/test_download_files.py
Labels: enhancement

#5641 ` PyQt6!=6.6.2` to fix PyVistaQt and MNE-Python integration tests
  .github/workflows/integration-tests.yml
Labels: maintenance

#5644 Add preview_pull_request2.yml to provide a preview
  .github/workflows/preview_pull_request2.yml
Labels: maintenance

#5624 Add parallel_projection and parallel_scale to Theme; make `camera` setting a first class `_ThemeConfig`
  doc/source/api/plotting/theme.rst
  pyvista/plotting/plotter.py
  pyvista/plotting/renderer.py
  pyvista/plotting/themes.py
  tests/plotting/test_theme.py
Labels: enhancement, breaking-change

#5645 Fix secret variable name NETLIFY_DEV_SITE_ID2
  .github/workflows/preview_pull_request2.yml
Labels: maintenance

#5637 Add style rule derived from flake8-pytest-style
  pyproject.toml
  pyvista/conftest.py
  tests/conftest.py
  tests/core/test_cells.py
  tests/core/test_composite.py
  tests/core/test_dataset.py
  tests/core/test_dataset_filters.py
  tests/core/test_datasetattributes.py
  tests/core/test_geometric_objects.py
  tests/core/test_geometric_sources.py
  tests/core/test_grid.py
  tests/core/test_helpers.py
  tests/core/test_imagedata_filters.py
  tests/core/test_imaging.py
  tests/core/test_objects.py
  tests/core/test_pointset.py
  tests/core/test_polydata.py
  tests/core/test_polydata_filters.py
  tests/core/test_pyvista_ndarray.py
  tests/core/test_reader.py
  tests/core/test_utilities.py
  tests/core/test_validation.py
  tests/plotting/conftest.py
  tests/plotting/jupyter/conftest.py
  tests/plotting/jupyter/test_static.py
  tests/plotting/jupyter/test_trame.py
  tests/plotting/test_axes.py
  tests/plotting/test_camera.py
  tests/plotting/test_charts.py
  tests/plotting/test_colors.py
  tests/plotting/test_cube_axes_actor.py
  tests/plotting/test_lights.py
  tests/plotting/test_plotter.py
  tests/plotting/test_plotting.py
  tests/plotting/test_plotting_utilities.py
  tests/plotting/test_property.py
  tests/plotting/test_render_window_interactor.py
  tests/plotting/test_renderer.py
  tests/plotting/test_scalar_bars.py
  tests/plotting/test_text.py
  tests/plotting/test_texture.py
  tests/plotting/test_theme.py
  tests/plotting/test_widgets.py
Labels: maintenance

#5617 Use source class and filter in Tube function
  pyvista/core/utilities/geometric_objects.py
Labels: maintenance

#5620 Add `BoxSource` to add box algorithm source
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_sources.py
Labels: enhancement

#5622 Add `ArrowSource` to add arrow algorithm source
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_sources.py
Labels: enhancement

#5654 Update README to add prettier badge
  README.rst
Labels: documentation

#5648 Add `SuperquadricSource` to add arrow algorithm
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_sources.py
Labels: enhancement

#5656 Add `get_charts` method to `Renderer`
  pyvista/plotting/renderer.py
  tests/plotting/test_plotting.py
Labels: enhancement

#5661 Append 'Like' suffix to core array-like type aliases
  pyvista/core/_typing_core/__init__.py
  pyvista/core/_typing_core/_aliases.py
  pyvista/core/_typing_core/_array_like.py
  pyvista/core/cell.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/pointset.py
  pyvista/core/pyvista_ndarray.py
  pyvista/core/utilities/arrays.py
  pyvista/core/utilities/cells.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/misc.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/themes.py
Labels: maintenance

#5674 Ignore flake8 E701 and E702 to fix conflict with black
  .flake8
Labels: maintenance

#5671 Add sphinx group update settings to `dependabot`
  .github/dependabot.yml
  requirements_docs.txt
  requirements_test.txt
Labels: maintenance

#5682 Fix a typo in the customization trame toolbar example
  examples/99-advanced/customization-trame-toolbar.py
Labels: documentation

#5670 Fix `axes_ranges` parameter in `plotter.show_bounds`
  pyvista/plotting/cube_axes_actor.py
  tests/plotting/test_renderer.py
Labels: bug

#5621 Add core typing to documentation
  doc/source/api/core/index.rst
  doc/source/api/core/typing.rst
  doc/source/conf.py
  pyproject.toml
  pyvista/core/__init__.py
  pyvista/core/_typing_core/__init__.py
  pyvista/core/_typing_core/_aliases.py
  pyvista/core/_typing_core/_array_like.py
  pyvista/core/datasetattributes.py
Labels: documentation

#5668 Update Trame Examples: Use Vuetify 3 components
  examples_trame/advanced/contour.py
  examples_trame/advanced/custom_ui.py
  examples_trame/basic/PyVistaLocalView.py
  examples_trame/basic/PyVistaRemoteLocalView.py
  examples_trame/basic/PyVistaRemoteView.py
  examples_trame/basic/actor_color.py
  examples_trame/basic/algorithm.py
  examples_trame/basic/file_viewer.py
  examples_trame/basic/mesh_scalars.py
  examples_trame/basic/multi_views.py
  examples_trame/basic/ui_template.py
  examples_trame/validation/many_actors.py
  pyvista/trame/ui/vuetify2.py
  pyvista/trame/ui/vuetify3.py
Labels: bug, documentation

#5688 Add missing summary of Geometric Sources section
  doc/source/api/utilities/geometric.rst
Labels: documentation

#5676 Add `point_dtype` to `Cube` and `CubeSource` class
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_objects.py
Labels: enhancement

#5695 Fix ghost-cells example
  examples/02-plot/ghost-cells.py
Labels: documentation, maintenance

#5655 Add capsule geometry use vtkCapsuleSource and vtkCylinderSource with `SetCapsuleCap`
  doc/source/api/utilities/geometric.rst
  pyvista/core/_vtk_core.py
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_objects.py
  tests/core/test_geometric_sources.py
  tests/plotting/image_cache/direction_objects[Capsule-neg].png
  tests/plotting/image_cache/direction_objects[Capsule-pos].png
  tests/plotting/image_cache/direction_objects[Capsule_legacy-neg].png
  tests/plotting/image_cache/direction_objects[Capsule_legacy-pos].png
  tests/plotting/test_plotting.py
Labels: enhancement
