Repository pyvista/pyvista, pull requests merged in 2024-09, with the labels that each got.

#6595 Move color table to its own page and use dynamically-generated rst files
  .gitignore
  doc/source/api/utilities/color_table.rst
  doc/source/api/utilities/color_table/color_table.rst
  doc/source/api/utilities/utilities.rst
  doc/source/make_tables.py
  pyvista/plotting/colors.py
Labels: documentation, maintenance

#6599 Fix MultiBlock transform inplace
  pyvista/core/filters/composite.py
  tests/core/test_composite.py
Labels: bug

#6594 Add HSV-sorted color table to docs
  doc/source/api/utilities/color_table.rst
  doc/source/make_tables.py
Labels: documentation

#6596 Add more quadratic cell examples
  doc/source/api/examples/index.rst
  pyvista/core/celltype.py
  pyvista/examples/cells.py
  tests/doc/doc_image_cache/pyvista-examples-cells-BiQuadraticQuadraticWedge-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-QuadraticLinearQuadrilateral-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-QuadraticLinearWedge-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-QuadraticPolygon-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-QuadraticPyramid-1_00_00.jpg
  tests/examples/test_cell_examples.py
Labels: documentation

#6588 Fix assert list line which is always raise true
  tests/examples/test_dataset_loader.py
Labels: maintenance

#6604 Add remaining quadratic cell examples
  doc/source/api/examples/index.rst
  pyvista/core/celltype.py
  pyvista/examples/cells.py
  tests/doc/doc_image_cache/pyvista-examples-cells-BiQuadraticQuadraticHexahedron-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-BiQuadraticQuadrilateral-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-BiQuadraticTriangle-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-CubicLine-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-TriQuadraticHexahedron-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-TriQuadraticPyramid-1_00_00.jpg
  tests/examples/test_cell_examples.py
Labels: documentation

#6608 Fix unconventional import alias of ElementTree
  pyvista/core/utilities/reader.py
  pyvista/plotting/camera.py
Labels: maintenance

#6607 Fix pytest fixture incorrect parentheses style
  .pre-commit-config.yaml
  tests/conftest.py
  tests/core/test_dataset.py
  tests/core/test_dataset_filters.py
  tests/core/test_datasetattributes.py
  tests/core/test_geometric_sources.py
  tests/core/test_grid.py
  tests/core/test_imagedata_filters.py
  tests/core/test_polydata.py
  tests/core/test_pyvista_ndarray.py
  tests/core/test_rectilinear_grid_filters.py
  tests/core/test_utilities.py
  tests/examples/test_dataset_loader.py
  tests/plotting/conftest.py
  tests/plotting/jupyter/test_static.py
  tests/plotting/jupyter/test_trame.py
  tests/plotting/mappers/test_composite_mapper.py
  tests/plotting/mappers/test_gaussian_mapper.py
  tests/plotting/mappers/test_mapper.py
  tests/plotting/mappers/test_volume_mapper.py
  tests/plotting/test_actor.py
  tests/plotting/test_axes.py
  tests/plotting/test_axes_assembly.py
  tests/plotting/test_camera.py
  tests/plotting/test_charts.py
  tests/plotting/test_cube_axes_actor.py
  tests/plotting/test_lookup_table.py
  tests/plotting/test_plotting.py
  tests/plotting/test_plotting_utilities.py
  tests/plotting/test_property.py
  tests/plotting/test_render_window_interactor.py
  tests/plotting/test_renderer.py
  tests/plotting/test_scalar_bars.py
  tests/plotting/test_text.py
  tests/plotting/test_theme.py
  tests/plotting/test_volume_property.py
Labels: maintenance, dependencies

#6514 Pad `voxelize` and `voxelize_volume` to contain input mesh
  pyvista/core/utilities/features.py
  tests/core/test_utilities.py
  tests/doc/doc_image_cache/pyvista-voxelize-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-voxelize-1_03_00.jpg
  tests/doc/doc_image_cache/pyvista-voxelize_volume-1_04_00.jpg
  tests/doc/doc_image_cache/pyvista-voxelize_volume-1_05_00.jpg
Labels: enhancement

#6613 Add pointsetmark to explicit structured grid test
  tests/core/test_grid.py
Labels: priority-high, maintenance

#6614 Add `ImageData` transformations to move between index and physical coordinates
  pyvista/core/grid.py
  tests/core/test_grid.py
Labels: enhancement

#6621 Update gallery images with the `brown` color
  tests/doc/doc_image_cache/sphx_glr_mesh_lighting_001.jpg
  tests/doc/doc_image_cache/sphx_glr_mesh_lighting_002.jpg
  tests/doc/doc_image_cache/sphx_glr_mesh_lighting_thumb.jpg
Labels: documentation

#6623 Remove flake8 file from labeler.yml changed files
  .github/labeler.yml
Labels: maintenance

#6619 Add active scalars test coverage for `DataSetFilter.transform`
  tests/core/test_dataset_filters.py
Labels: maintenance

#6617 Add `copy` parameter to `datasetattributes.update()`
  pyvista/core/datasetattributes.py
  tests/core/test_datasetattributes.py
Labels: enhancement

#6618 Consolidate `inplace` logic for `DataSetFilter.transform`
  pyvista/core/filters/data_set.py
Labels: maintenance

#6627 Fix copy structure with self returning empty mesh
  pyvista/core/dataobject.py
  tests/core/test_dataset.py
Labels: bug

#6610 Fit bounds in `voxelize` and `voxelize_volume` to avoid cropped mesh
  pyvista/core/utilities/features.py
  tests/core/test_utilities.py
  tests/doc/doc_image_cache/pyvista-voxelize-1_04_00.jpg
  tests/doc/doc_image_cache/pyvista-voxelize-1_05_00.jpg
  tests/doc/doc_image_cache/pyvista-voxelize_volume-1_06_00.jpg
  tests/doc/doc_image_cache/pyvista-voxelize_volume-1_07_00.jpg
Labels: enhancement

#6612 Add `direction_matrix` to `ImageData`
  pyvista/core/grid.py
  tests/core/test_grid.py
Labels: enhancement

#6629 Use `BoundsTuple` for bounds in DataSetFilters
  pyvista/core/filters/data_set.py
Labels: maintenance

#6631 Move `pickle` tests from `test_dataset` to `test_dataobject`
  tests/core/test_dataobject.py
  tests/core/test_dataset.py
Labels: maintenance

#6636 Add all functions of the fileio to API documentation
  doc/source/api/utilities/utilities.rst
  pyvista/core/utilities/__init__.py
Labels: documentation

#6622 Add `pickle` support for `MultiBlock` and use official VTK format
  pyvista/__init__.py
  pyvista/core/_vtk_core.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/utilities/arrays.py
  pyvista/core/utilities/fileio.py
  tests/core/test_dataobject.py
  tests/core/test_utilities.py
Labels: bug

#6644 Fix `MultiBlock` self-mutates during iteration and breaks `zip`
  pyvista/core/composite.py
  tests/core/test_composite.py
Labels: bug

#6646 Catch runtime errors in doc image testing
  tests/doc/tst_doc_images.py
Labels: maintenance

#6647 Feat/generate_labelmap
  pyvista/core/filters/poly_data.py
  tests/core/test_polydata_filters.py
Labels: enhancement

#6648 Update config.yml to set blank_issues_enabled False
  .github/ISSUE_TEMPLATE/config.yml
Labels: maintenance

#6651 Fix self-reference in docs
  pyvista/core/utilities/features.py
Labels: enhancement

#6597 Make `CellType` images link to cells in `examples`
  pyvista/core/celltype.py
Labels: documentation

#6611 Add `voxelize_binary_mask` filter to generate `ImageData` from `PolyData`
  pyvista/core/_vtk_core.py
  pyvista/core/filters/image_data.py
  pyvista/core/filters/poly_data.py
  pyvista/core/utilities/features.py
  tests/core/test_polydata_filters.py
  tests/doc/doc_image_cache/pyvista-PolyDataFilters-voxelize_binary_mask-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-PolyDataFilters-voxelize_binary_mask-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-PolyDataFilters-voxelize_binary_mask-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-PolyDataFilters-voxelize_binary_mask-1_03_00.jpg
  tests/doc/doc_image_cache/pyvista-PolyDataFilters-voxelize_binary_mask-1_04_00.jpg
Labels: enhancement

#6645 Fix `PartitionedDataSet` self-mutates during iteration and breaks `zip`
  pyvista/core/partitioned.py
  tests/core/test_composite.py
Labels: bug

#6658 Use updated version of `reviewdog` with `Vale` config
  .github/workflows/style_docstr.yml
Labels: maintenance

#6656 Fix `cast_to_rectilinear_grid` floating-point error
  pyvista/core/grid.py
  tests/core/test_grid.py
Labels: bug

#6665 Remove interactive "note"
  doc/source/user-guide/index.rst
Labels: documentation

#6661 Add `shallow_copy method` to `TextProperty` class
  pyvista/plotting/text.py
  tests/plotting/test_text.py
Labels: enhancement

#6663 Update Camera class representation to be friendly
  pyvista/plotting/camera.py
  tests/plotting/test_camera.py
Labels: maintenance

#6659 Add `label_connectivity` method to `ImageDataFilters`
  pyvista/core/_vtk_core.py
  pyvista/core/filters/image_data.py
  tests/core/test_imagedata_filters.py
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-label_connectivity-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-label_connectivity-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-label_connectivity-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-label_connectivity-1_03_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-label_connectivity-1_04_00.jpg
Labels: enhancement
