Repository pyvista/pyvista, pull requests merged in 2024-10, with the labels that each got.

#6687 Allow non-real number inputs with `validate_array`
  pyvista/core/_validation/validate.py
  tests/core/test_validation.py
Labels: enhancement

#6693 Fix ruff lint error: dict-get-with-none-default (SIM910)
  .pre-commit-config.yaml
  pyvista/plotting/plotter.py
  pyvista/plotting/widgets.py
Labels: maintenance, dependencies

#6704 Fix enable_element_picking color kwarg
  pyvista/plotting/picking.py
Labels: bug

#6703 Use `max_length` and deprecate `max_time` for streamlines
  examples/01-filter/streamlines.py
  examples/01-filter/streamlines_2D.py
  examples/99-advanced/magnetic-fields.py
  examples/99-advanced/openfoam-cooling.py
  examples/99-advanced/openfoam-tubes.py
  pyvista/core/filters/data_set.py
  pyvista/examples/downloads.py
  tests/core/test_dataset_filters.py
Labels: bug

#6708 Add document package installation to resolve Vale error
  .github/workflows/style_docstr.yml
Labels: maintenance

#6700 Add fine grain execution control for pyvista-plot directive
  pyvista/ext/plot_directive.py
  tests/test_tinypages.py
  tests/tinypages/conf.py
  tests/tinypages/some_plots.rst
Labels: enhancement

#6676 Improve workflow when manipulating `ImageData` (and other grids) dimensionality
  pyvista/core/_validation/__init__.py
  pyvista/core/_validation/validate.py
  pyvista/core/filters/image_data.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  tests/core/test_grid.py
  tests/core/test_imagedata_filters.py
  tests/core/test_pointset.py
  tests/core/test_validation.py
Labels: enhancement

#6712 Use numpy version info for skipping tests
  tests/conftest.py
  tests/core/test_utilities.py
  tests/core/test_validation.py
Labels: maintenance

#6713 Update `user_dict` type annotations for Python > 3.8
  pyvista/core/dataobject.py
  pyvista/core/utilities/arrays.py
Labels: maintenance

#6728 Increase flaky test tries for `voxelize_binary_mask` sampling test
  tests/core/test_polydata_filters.py
Labels: maintenance

#6725 Remove redundant `transformations.rotation` function
  pyvista/core/utilities/transformations.py
Labels: maintenance

#6734 Reduce test parametrization for `Text3DSource`
  tests/core/test_geometric_sources.py
Labels: maintenance

#6737 Do not fail fast for macOS unit testing
  .github/workflows/testing-and-deployment.yml
Labels: testing, maintenance

#6723 Add `.vtkhdf` as an extension of `pyvista.HDFReader`
  pyvista/core/utilities/reader.py
Labels: enhancement

#6701 Drop Python 3.8 support which is EOL in 07 Oct 2024
  .github/workflows/testing-and-deployment.yml
  .github/workflows/vtk-pre-test.yml
  README.rst
  doc/source/extras/building_vtk.rst
  doc/source/getting-started/installation.rst
  doc/source/index.rst
  environment.yml
  pyproject.toml
  pyvista/core/_typing_core/_array_like.py
  pyvista/core/_validation/check.py
  pyvista/core/cell.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/filters/rectilinear_grid.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/core/utilities/arrays.py
  pyvista/core/utilities/features.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/helpers.py
  pyvista/core/utilities/image_sources.py
  pyvista/core/utilities/misc.py
  pyvista/examples/_dataset_loader.py
  pyvista/ext/viewer_directive.py
  pyvista/plotting/_typing.py
  pyvista/plotting/affine_widget.py
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/charts.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/plotter.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  pyvista/plotting/text.py
  pyvista/plotting/texture.py
  pyvista/plotting/widgets.py
  tests/typing/test_return_type.py
Labels: documentation, maintenance, dependencies

#6739 Fix `dtype` type error in `voxelize_binary_mask`
  pyvista/core/filters/poly_data.py
Labels: maintenance

#6628 Add `Transform.decompose()` to extract translation, rotation, reflection, scale, and shear components
  pyvista/core/utilities/transform.py
  pyvista/core/utilities/transformations.py
  tests/core/test_utilities.py
Labels: enhancement

#6726 Simplify code in `ImageData.__init__` and remove `_from_specs` method
  pyvista/core/grid.py
  tests/core/test_grid.py
Labels: maintenance

#6752 Add `validation.check_ndim` function
  pyvista/core/_validation/__init__.py
  pyvista/core/_validation/check.py
  pyvista/core/_validation/validate.py
  tests/core/test_validation.py
Labels: enhancement
