Repository pyvista/pyvista, pull requests merged in 2024-06, with the labels that each got.

#6169 Make Sphinx Gallery Examples reproducible with `rng` seed
  examples/00-load/create-structured-surface.py
  examples/00-load/create-tri-surface.py
  examples/00-load/wrap-trimesh.py
  examples/01-filter/extract-surface.py
  examples/02-plot/composite-picking.py
  examples/02-plot/labels.py
  examples/02-plot/movie.py
  examples/02-plot/point-clouds.py
  examples/02-plot/points-gaussian-scale.py
  examples/98-common/project-points-tessellate.py
  examples/99-advanced/atomic-orbitals.py
  tests/doc/doc_image_cache/sphx_glr_atomic-orbitals_006.jpg
  tests/doc/doc_image_cache/sphx_glr_atomic-orbitals_007.jpg
  tests/doc/doc_image_cache/sphx_glr_composite-picking_001.jpg
  tests/doc/doc_image_cache/sphx_glr_composite-picking_002.jpg
  tests/doc/doc_image_cache/sphx_glr_composite-picking_thumb.jpg
  tests/doc/doc_image_cache/sphx_glr_create-structured-surface_003.jpg
  tests/doc/doc_image_cache/sphx_glr_create-structured-surface_004.jpg
  tests/doc/doc_image_cache/sphx_glr_create-tri-surface_001.jpg
  tests/doc/doc_image_cache/sphx_glr_create-tri-surface_002.jpg
  tests/doc/doc_image_cache/sphx_glr_create-tri-surface_003.jpg
  tests/doc/doc_image_cache/sphx_glr_create-tri-surface_004.jpg
  tests/doc/doc_image_cache/sphx_glr_create-tri-surface_005.jpg
  tests/doc/doc_image_cache/sphx_glr_create-tri-surface_thumb.jpg
  tests/doc/doc_image_cache/sphx_glr_extract-surface_001.jpg
  tests/doc/doc_image_cache/sphx_glr_extract-surface_002.jpg
  tests/doc/doc_image_cache/sphx_glr_extract-surface_thumb.jpg
  tests/doc/doc_image_cache/sphx_glr_labels_001.jpg
  tests/doc/doc_image_cache/sphx_glr_movie_001.jpg
  tests/doc/doc_image_cache/sphx_glr_movie_thumb.jpg
  tests/doc/doc_image_cache/sphx_glr_point-clouds_001.jpg
  tests/doc/doc_image_cache/sphx_glr_point-clouds_002.jpg
  tests/doc/doc_image_cache/sphx_glr_point-clouds_003.jpg
  tests/doc/doc_image_cache/sphx_glr_point-clouds_004.jpg
  tests/doc/doc_image_cache/sphx_glr_point-clouds_005.jpg
  tests/doc/doc_image_cache/sphx_glr_point-clouds_thumb.jpg
  tests/doc/doc_image_cache/sphx_glr_points-gaussian-scale_001.jpg
  tests/doc/doc_image_cache/sphx_glr_points-gaussian-scale_002.jpg
  tests/doc/doc_image_cache/sphx_glr_points-gaussian-scale_thumb.jpg
  tests/doc/doc_image_cache/sphx_glr_project-points-tessellate_001.jpg
  tests/doc/doc_image_cache/sphx_glr_project-points-tessellate_thumb.jpg
  tests/doc/doc_image_cache/sphx_glr_wrap-trimesh_001.jpg
  tests/doc/doc_image_cache/sphx_glr_wrap-trimesh_thumb.jpg
Labels: bug, documentation

#6172 Add `ChartMPL flaky` test images
  tests/doc/flaky_tests/pyvista-ChartMPL-2_00_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-2_00_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-active_background_color-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-active_background_color-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-active_background_color-2_02_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-active_background_color-2_02_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-active_border_color-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-active_border_color-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-active_border_color-2_02_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-active_border_color-2_02_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-background_color-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-background_color-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-background_texture-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-background_texture-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-border_color-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-border_color-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-border_style-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-border_style-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-border_width-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-border_width-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-figure-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-figure-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-legend_visible-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-legend_visible-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-legend_visible-2_02_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-legend_visible-2_02_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-loc-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-loc-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-show-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-show-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-size-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-size-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-title-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-title-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-toggle-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-toggle-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-visible-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-visible-2_01_00/1.jpg
Labels: maintenance

#6170 Add `seed` param to `ImageNoiseSource` and update default values
  pyvista/core/_vtk_core.py
  pyvista/core/utilities/image_sources.py
  tests/core/test_image_sources.py
  tests/doc/doc_image_cache/pyvista-ImageNoiseSource-1_00_00.jpg
Labels: enhancement

#6168 Make `download_kitchen` example reproducible
  pyvista/examples/downloads.py
  tests/doc/doc_image_cache/pyvista-examples-downloads-download_kitchen-1_00_00.jpg
Labels: bug

#6159 Dropping pyupgrade and move to pyupgrade-up rule in ruff
  .pre-commit-config.yaml
  pyproject.toml
  pyvista/core/utilities/docs.py
  pyvista/ext/coverage.py
  pyvista/ext/plot_directive.py
  tests/core/test_composite.py
Labels: maintenance, dependencies

#6174 Fix typo of `add_orientation_widget` docstring
  pyvista/plotting/renderer.py
Labels: documentation

#6110 Make `frog_tissue` a built-in example and fix flaky tests
  doc/source/make_tables.py
  examples/01-filter/contouring.py
  pyproject.toml
  pyvista/core/filters/data_set.py
  pyvista/examples/_dataset_loader.py
  pyvista/examples/downloads.py
  pyvista/examples/examples.py
  pyvista/examples/frog_tissues.vti
  tests/core/test_imagedata_filters.py
  tests/doc/doc_image_cache/pyvista-examples-downloads-download_frog_tissue-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-examples-load_frog_tissues-1_00_00.jpg
  tests/doc/doc_image_cache/sphx_glr_contouring_004.jpg
  tests/doc/flaky_tests/pyvista-examples-downloads-download_frog_tissue-1_00_00/0.jpg
  tests/doc/flaky_tests/pyvista-examples-downloads-download_frog_tissue-1_00_00/1.jpg
  tests/doc/flaky_tests/pyvista-examples-downloads-download_frog_tissue-1_00_00/2.jpg
  tests/examples/test_download_files.py
  tests/examples/test_examples.py
Labels: bug

#6165 Make imports from `collections` and `collections.abc` consistent
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/filters/poly_data.py
  pyvista/core/filters/rectilinear_grid.py
  pyvista/core/partitioned.py
  pyvista/core/pointset.py
  pyvista/core/utilities/arrays.py
  pyvista/core/utilities/features.py
  pyvista/core/utilities/helpers.py
  pyvista/plotting/plotter.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
Labels: maintenance

#6161 Add `show-fixes` arg to `ruff` to make it clear which rule(s) are being applied
  .pre-commit-config.yaml
Labels: maintenance, dependencies

#6182 `"PyQt6-Qt6!=6.6.0,!=6.7.0" "PyQt6!=6.6.0"` to fix PyVistaQt and MNE-Python integration tests
  .github/workflows/integration-tests.yml
Labels: maintenance

#6188 Fix typos using codespell v2.3.0 checking
  .pre-commit-config.yaml
  pyvista/plotting/renderer.py
Labels: documentation, maintenance, dependencies

#6198 Add `See Also` sections and minor updates to axes-related docstrings in `renderer.py`
  pyvista/plotting/renderer.py
Labels: documentation

#6195 Add examples and update docstrings for theme axes
  pyvista/plotting/themes.py
  tests/plotting/test_theme.py
Labels: documentation

#6206 Fix internal links to core typing
  doc/source/api/core/typing.rst
Labels: documentation

#6209 Unify the expression of axes into x,y,z-axis
  pyvista/core/filters/image_data.py
  pyvista/core/utilities/parametric_objects.py
  pyvista/plotting/actor_properties.py
  pyvista/plotting/axes_actor.py
  pyvista/plotting/charts.py
  pyvista/plotting/cube_axes_actor.py
  pyvista/plotting/lights.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/renderer.py
  pyvista/plotting/tools.py
  pyvista/plotting/utilities/cubemap.py
Labels: documentation

#6194 Add `origin` and `length` to `Prop3D` and add details to docstrings
  pyvista/plotting/actor.py
  pyvista/plotting/prop3d.py
  tests/doc/doc_image_cache/pyvista-Prop3D-length-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-Prop3D-orientation-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-Prop3D-orientation-1_01_00.jpg
  tests/plotting/test_actor.py
Labels: enhancement

#6193 Improve docstrings and examples for `Property` class attributes
  pyvista/plotting/_property.py
  pyvista/plotting/actor_properties.py
  tests/doc/doc_image_cache/pyvista-Property-ambient-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-ambient-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-ambient_color-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-ambient_color-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-anisotropy-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-color-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-color-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-color-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-diffuse_color-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-diffuse_color-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-diffuse_color-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-edge_color-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-edge_color-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-edge_opacity-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-edge_opacity-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-lighting-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-lighting-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-line_width-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-point_size-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-render_lines_as_tubes-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-render_lines_as_tubes-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-specular-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-specular-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-specular-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-specular_color-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-specular_color-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-specular_color-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-specular_power-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-specular_power-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-specular_power-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-specular_power-1_03_00.jpg
  tests/doc/doc_image_cache/pyvista-Property-style-1_00_00.jpg
Labels: documentation

#6210 Temporarily restrict NumPy version in pyproject.toml
  pyproject.toml
Labels: maintenance

#6212 Fix path of asset gif image to display in PyPI
  README.rst
Labels: documentation

#6155 Use numpy nightly wheel for 2.0 testing
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#6215 Fix noqa in `validation` package `__init__.py`
  pyvista/core/_validation/__init__.py
Labels: maintenance

#6216 Update `ArrayLike` and `NumberType` definitions in core typing
  pyvista/core/_typing_core/_aliases.py
  pyvista/core/_typing_core/_array_like.py
Labels: maintenance

#6204 Upload artifacts with generated images for failed plotting tests
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#6181 A thank you to @user27182
  AUTHORS.rst
Labels: documentation

#6217 Add nested tuple and list type annotations to `validation` array-casting functions
  pyvista/core/_typing_core/_array_like.py
  pyvista/core/_validation/_cast_array.py
Labels: maintenance

#6221 Fix duplicate Ruff's target-version and project.requires-python
  pyproject.toml
Labels: maintenance

#6228 Fix all `TypeError` expressions in docstring
  pyvista/core/_validation/_cast_array.py
  pyvista/core/datasetattributes.py
Labels: documentation

#6227 Fix docstring expression of `color_mode` argument
  pyvista/core/filters/data_set.py
Labels: documentation

#6223 Uses PyGrep hooks (only needed if RST present)
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  doc/source/api/plotting/plotting.rst
  doc/source/user-guide/data_model.rst
  doc/source/user-guide/jupyter/trame.rst
Labels: documentation, maintenance, dependencies

#6156 Ensure compatibility with NumPy 2.0
  .github/workflows/testing-and-deployment.yml
  pyproject.toml
  pyvista/core/_validation/_cast_array.py
  pyvista/core/filters/image_data.py
  pyvista/core/pyvista_ndarray.py
  pyvista/core/utilities/helpers.py
  pyvista/plotting/charts.py
  pyvista/plotting/lookup_table.py
  tests/core/test_dataset_filters.py
  tests/core/test_polydata.py
  tests/plotting/conftest.py
Labels: bug

#6229 Fix `AxesActor` default colors
  pyvista/plotting/axes_actor.py
  tests/doc/doc_image_cache/pyvista-AxesActor-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-AxesActor-1_01_00.jpg
  tests/plotting/image_cache/axes_actor_default_colors.png
  tests/plotting/image_cache/axes_actor_properties.png
  tests/plotting/test_plotting.py
Labels: bug

#6231 Add `labels` property to `AxesActor` for convenience
  pyvista/plotting/axes_actor.py
  tests/plotting/test_axes.py
Labels: enhancement

#6237 Add type annotations to `check_real` and update implementation
  pyvista/core/_validation/check.py
  tests/core/test_validation.py
Labels: maintenance

#6239 Remove unused `isort: skip` directive
  doc/source/conf.py
Labels: documentation, maintenance

#6236 Add type annotations to `check_subdtype` and update implementation
  pyvista/core/_validation/check.py
Labels: maintenance

#6220 Split `test_axes_actor_properties` into two separate tests
  tests/plotting/image_cache/axes_actor_properties.png
  tests/plotting/test_axes.py
  tests/plotting/test_plotting.py
Labels: maintenance

#6249 Remove `vtkProbeFilter` which is not used anymore
  pyvista/core/_vtk_core.py
Labels: maintenance

#5664 Publish `validation` package docs
  doc/source/api/core/_validation.rst
  doc/source/api/core/index.rst
Labels: documentation

#6158 Update type annotations in `/pyvista/trame`
  pyvista/trame/ui/__init__.py
  pyvista/trame/ui/base_viewer.py
  pyvista/trame/ui/vuetify2.py
  pyvista/trame/ui/vuetify3.py
Labels: documentation, maintenance, dependencies

#6218 Dropping black and use ruff-format
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  README.rst
  doc/source/make_tables.py
  pyproject.toml
  pyvista/core/dataobject.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/fileio.py
  pyvista/examples/_dataset_loader.py
  pyvista/plotting/charts.py
  pyvista/trame/ui/__init__.py
  pyvista/trame/ui/base_viewer.py
  pyvista/trame/ui/vuetify2.py
  pyvista/trame/ui/vuetify3.py
  tests/core/test_dataset_filters.py
  tests/examples/test_dataset_loader.py
Labels: documentation, maintenance, dependencies

#6251 Simplify `AxesActor` label property names
  pyvista/plotting/axes_actor.py
  tests/plotting/test_axes.py
  tests/plotting/test_plotting.py
Labels: maintenance

#6164 Dropping flake8 and use ruff
  .flake8
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  pyvista/__init__.py
  pyvista/core/__init__.py
  pyvista/core/_validation/__init__.py
  pyvista/core/_vtk_core.py
  pyvista/core/filters/__init__.py
  pyvista/core/utilities/__init__.py
  pyvista/demos/__init__.py
  pyvista/examples/__init__.py
  pyvista/jupyter/__init__.py
  pyvista/plotting/__init__.py
  pyvista/plotting/_vtk.py
  pyvista/plotting/_vtk_gl.py
  pyvista/plotting/utilities/__init__.py
  pyvista/trame/ui/__init__.py
  pyvista/trame/ui/base_viewer.py
  pyvista/trame/ui/vuetify2.py
  pyvista/trame/ui/vuetify3.py
Labels: maintenance, dependencies

#6070 Geographic north arrow orientation marker
  pyvista/plotting/plotter.py
  pyvista/plotting/renderer.py
  pyvista/plotting/tools.py
  tests/doc/doc_image_cache/pyvista-Plotter-add_north_arrow_widget-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-Renderer-add_north_arrow_widget-1_00_00.jpg
  tests/plotting/image_cache/add_north_arrow.png
  tests/plotting/test_plotting.py
Labels: enhancement

#6258 Fix `add_ruler number_labels` to turn off the auto
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/ruler_number_labels.png
  tests/plotting/test_plotting.py
Labels: bug

#6185 Add `protein_ribbons` filter
  pyvista/core/_vtk_core.py
  pyvista/core/filters/poly_data.py
  pyvista/examples/downloads.py
  tests/core/test_polydata_filters.py
  tests/doc/doc_image_cache/pyvista-PolyDataFilters-protein_ribbon-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-downloads-download_3gqp-1_00_00.jpg
Labels: enhancement

#6260 Fix "none" for legend
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/legend_none_face.png
  tests/plotting/test_renderer.py
Labels: bug

#6265 Add texture reading feature to `import_obj` method
  pyvista/examples/downloads.py
  pyvista/plotting/plotter.py
  tests/doc/doc_image_cache/pyvista-Plotter-import_obj-1_01_00.jpg
  tests/plotting/image_cache/import_obj_with_texture.png
  tests/plotting/test_plotting.py
Labels: enhancement

#6274 Add `PathLike` type support of filename in importer
  pyvista/plotting/plotter.py
Labels: enhancement

#6286 Add exclude bot authors instead of adding labels
  .github/release.yml
  .github/workflows/label.yml
Labels: maintenance

#6281 Fix `Text3DSource` garbage collection
  pyvista/core/utilities/geometric_sources.py
Labels: bug

#6292 Pin numpy<2.0.0 in GeoVista integration test
  .github/workflows/integration-tests.yml
Labels: maintenance

#6285 Add `pathlib.Path` type support of filename in core
  pyvista/core/pointset.py
  pyvista/core/utilities/fileio.py
  pyvista/core/utilities/observers.py
  pyvista/core/utilities/reader.py
  tests/core/test_utilities.py
Labels: enhancement

#6283 Add `AxesGeometrySource` for generating axes datasets
  doc/source/api/utilities/geometric.rst
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_sources.py
  tests/doc/doc_image_cache/pyvista-AxesGeometrySource-tip_type-1_00_00.jpg
  tests/plotting/image_cache/axes_geometry_shaft_type_tip_type[cone].png
  tests/plotting/image_cache/axes_geometry_shaft_type_tip_type[cube].png
  tests/plotting/image_cache/axes_geometry_shaft_type_tip_type[custom].png
  tests/plotting/image_cache/axes_geometry_shaft_type_tip_type[cylinder].png
  tests/plotting/image_cache/axes_geometry_shaft_type_tip_type[hemisphere].png
  tests/plotting/image_cache/axes_geometry_shaft_type_tip_type[octahedron].png
  tests/plotting/image_cache/axes_geometry_shaft_type_tip_type[pyramid].png
  tests/plotting/image_cache/axes_geometry_shaft_type_tip_type[sphere].png
  tests/plotting/test_plotting.py
Labels: enhancement

#6296 Add tiny badge with number of repositories
  README.rst
Labels: documentation

#6305 Add `ImageGridSource` to create grid images
  doc/source/api/utilities/image.rst
  pyvista/core/_vtk_core.py
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/image_sources.py
  tests/core/test_image_sources.py
  tests/doc/doc_image_cache/pyvista-ImageGridSource-1_00_00.jpg
Labels: enhancement

#6308 Add `pathlib.Path` type support of filename in Plotter
  pyvista/plotting/plotter.py
Labels: enhancement

#6309 Add symmetric property to `AxesGeometrySource`
  pyvista/core/utilities/geometric_sources.py
  tests/core/test_geometric_sources.py
  tests/doc/doc_image_cache/pyvista-AxesGeometrySource-symmetric-1_00_00.jpg
Labels: enhancement

#6316 Remove unused `_new_attr_exceptions` from `Text3DSource`
  pyvista/core/utilities/geometric_sources.py
Labels: maintenance

#6319 Update result in docstring using vtk 9.3.1
  pyvista/core/pointset.py
Labels: maintenance

#6311 Add functions to convert orientation angles to/from a 3x3 rotation matrix
  pyvista/plotting/prop3d.py
  tests/plotting/test_actor.py
Labels: enhancement

#6317 Add initial implementation of `AxesAssembly`
  doc/source/api/plotting/index.rst
  pyvista/plotting/__init__.py
  pyvista/plotting/axes_assembly.py
  tests/doc/doc_image_cache/pyvista-AxesAssembly-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-AxesAssembly-1_01_00.jpg
  tests/plotting/image_cache/axes_assembly.png
  tests/plotting/test_axes_assembly.py
  tests/plotting/test_plotting.py
Labels: enhancement

#6280 Numpy updates 2.0 to testing, aligning return types
  .github/workflows/testing-and-deployment.yml
  .gitignore
  .pre-commit-config.yaml
  pyvista/core/_validation/_cast_array.py
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/examples/downloads.py
  pyvista/plotting/plotter.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  requirements.txt
  tests/core/test_grid.py
  tests/plotting/test_plotter.py
Labels: maintenance, dependencies
