Repository pyvista/pyvista, pull requests merged in 2025-01, with the labels that each got.

#7040 Deprecate `contour_labeled`
  examples/01-filter/contouring.py
  pyvista/core/filters/image_data.py
  pyvista/core/filters/poly_data.py
  pyvista/examples/downloads.py
  tests/core/test_imagedata_filters.py
  tests/core/test_polydata_filters.py
  tests/doc/doc_image_cache/pyvista-PolyDataFilters-voxelize_binary_mask-1_04_00.jpg
  tests/doc/doc_image_cache/sphx_glr_contouring_004.jpg
Labels: documentation, maintenance

#7039 Update docstring and test coverage for `contour_labels`
  pyvista/core/filters/image_data.py
  tests/core/test_imagedata_filters.py
Labels: maintenance

#7047 Fix broken link in the docs about external gallery
  doc/source/make_external_gallery.py
Labels: documentation

#7048 Allow ExodusIIReader to handle all the blocks and sets in the Exodus II file
  doc/source/api/readers/index.rst
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/reader.py
  pyvista/examples/downloads.py
  tests/core/test_reader.py
  tests/doc/doc_image_cache/pyvista-examples-downloads-download_biplane-1_00_00.jpg
  tests/examples/test_download_files.py
Labels: documentation

#7033 Add `simplify_output` option to `contour_labels` to return 1D labels array
  pyvista/core/filters/image_data.py
  tests/core/test_imagedata_filters.py
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_02_00.jpg
  tests/plotting/test_plotting.py
Labels: enhancement

#7055 Fix undefined variable exception in conditional check for `Rotation` import
  pyvista/core/_typing_core/_aliases.py
Labels: maintenance

#7024 Add new `color_labels` filter to add color scalars to labeled data
  pyvista/core/_validation/validate.py
  pyvista/core/filters/data_set.py
  tests/core/test_dataset_filters.py
  tests/doc/doc_image_cache/pyvista-DataSetFilters-color_labels-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-color_labels-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-color_labels-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-color_labels-1_03_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-color_labels-1_04_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-color_labels-1_05_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-color_labels-1_06_00.jpg
Labels: enhancement

#7067 Pin `trame-server` to fix failing integration tests
  examples_trame/requirements.txt
Labels: documentation, maintenance

#7027 Fix default param value in docs for `transform` `inplace`
  pyvista/core/filters/data_set.py
Labels: documentation

#7058 Add colors and ids metadata dictionaries to `whole_body_ct` datasets
  pyvista/examples/downloads.py
  tests/doc/doc_image_cache/pyvista-examples-downloads-download_whole_body_ct_female-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-downloads-download_whole_body_ct_male-1_00_00.jpg
Labels: enhancement

#7075 Use extent and image geometry for checking image equality
  pyvista/core/dataobject.py
Labels: bug

#7077 Fix `points_to_cells` and `cells_to_points` extent value
  pyvista/core/filters/image_data.py
  tests/core/test_imagedata_filters.py
Labels: bug

#7066 Fix adding mesh with `user_matrix` and `silhouette` options
  pyvista/plotting/plotter.py
  tests/plotting/image_cache/user_matrix_silhouette.png
  tests/plotting/test_plotting.py
Labels: bug

#7080 Add new `offset` property to `ImageData`
  pyvista/core/grid.py
  tests/core/test_grid.py
Labels: enhancement

#7056 Add volume rendering example using `whole_body_ct` dataset
  examples/02-plot/volume.py
  pyvista/examples/downloads.py
  tests/doc/doc_image_cache/sphx_glr_volume_011.jpg
Labels: documentation, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7059 Add new standalone `anatomical-groups` example
  examples/99-advanced/anatomical-groups.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/examples/downloads.py
  tests/doc/doc_image_cache/sphx_glr_anatomical-groups_001.jpg
  tests/doc/doc_image_cache/sphx_glr_anatomical-groups_002.jpg
  tests/doc/doc_image_cache/sphx_glr_anatomical-groups_003.jpg
  tests/doc/doc_image_cache/sphx_glr_anatomical-groups_004.jpg
  tests/doc/doc_image_cache/sphx_glr_anatomical-groups_005.jpg
  tests/doc/doc_image_cache/sphx_glr_anatomical-groups_006.jpg
  tests/doc/doc_image_cache/sphx_glr_anatomical-groups_007.jpg
  tests/doc/doc_image_cache/sphx_glr_anatomical-groups_thumb.jpg
Labels: documentation

#7051 Use `color_labels` to improve `contour_labels` example
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  tests/core/test_dataset_filters.py
  tests/core/test_imagedata_filters.py
  tests/doc/doc_image_cache/pyvista-DataSetFilters-color_labels-1_07_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-color_labels-1_08_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_03_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_04_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_05_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_06_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_07_00.jpg
Labels: maintenance

#7079 Optimize conversion to `meshio` format and add new `pyvista.to_meshio()` function
  doc/source/api/utilities/utilities.rst
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/fileio.py
  tests/test_meshio.py
Labels: enhancement

#7064 Fix `color_labels` color cycling mode
  pyvista/core/filters/data_set.py
  tests/core/test_dataset_filters.py
  tests/doc/doc_image_cache/pyvista-DataSetFilters-color_labels-1_06_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-color_labels-1_07_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-color_labels-1_08_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-color_labels-1_09_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-color_labels-1_10_00.jpg
Labels: bug

#7082 Improve colormap error messages when `colorcet` or `cmocean` are not installed
  pyvista/plotting/colors.py
Labels: maintenance

#7084 Fix minor formatting errors with `color_labels` docstring
  pyvista/core/filters/data_set.py
Labels: documentation

#7083 Update formatting for anatomical groups example
  examples/99-advanced/anatomical-groups.py
Labels: documentation

#7087 Fix incorrect rendering of Saturn's rings
  pyvista/examples/planets.py
  tests/doc/doc_image_cache/pyvista-examples-planets-load_saturn_rings-1_00_00.jpg
Labels: bug

#7007 Add redundant expr mypy
  doc/source/conf.py
  pyproject.toml
  pyvista/core/_validation/validate.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/objects.py
  pyvista/core/pointset.py
  pyvista/core/utilities/fileio.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/reader.py
  pyvista/examples/_dataset_loader.py
  pyvista/plotting/actor.py
  pyvista/plotting/axes_actor.py
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  tests/plotting/test_axes.py
Labels: maintenance

#7090 Remove normal flipping in logo
  pyvista/demos/logo.py
  tests/plotting/image_cache/plot_logo.png
  tests/plotting/test_plotting.py
Labels: bug

#7091 Fix validate dimensionality with integer values
  pyvista/core/filters/image_data.py
  tests/core/test_imagedata_filters.py
Labels: bug

#7093 Fix doc point_cell_ids
  pyvista/core/dataset.py
  tests/doc/doc_image_cache/pyvista-DataSet-point_cell_ids-1_00_00.jpg
Labels: bug

#7095 Fix toggle primary side bar
  pyproject.toml
Labels: bug, documentation, maintenance

#7009 Treat warnings as errors in tests
  pyproject.toml
  pyvista/core/_validation/validate.py
  pyvista/core/filters/image_data.py
  pyvista/core/pointset.py
  pyvista/core/utilities/fileio.py
  pyvista/core/utilities/reader.py
  pyvista/core/utilities/transform.py
  pyvista/examples/downloads.py
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/cube_axes_actor.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/plotter.py
  tests/conftest.py
  tests/core/test_dataset_filters.py
  tests/core/test_utilities.py
  tests/core/test_validation.py
  tests/doc/tst_doc_images.py
  tests/plotting/jupyter/test_trame.py
  tests/plotting/test_camera.py
  tests/plotting/test_charts.py
  tests/plotting/test_cube_axes_actor.py
  tests/plotting/test_plotting.py
  tests/plotting/test_plotting_utilities.py
  tests/plotting/test_theme.py
Labels: maintenance

#7102 Filter `pytest` warning for acessing user data path
  pyproject.toml
  pyvista/examples/downloads.py
Labels: maintenance

#7101 Add non-interactive doc artifacts
  .github/workflows/docs.yml
  CONTRIBUTING.rst
Labels: maintenance

#7106 Optimize pyvista.DataSetFilters.extract_cells() when invert=True
  pyvista/core/filters/data_set.py
Labels: bug

#7105 Fix warning emitted by debugger
  pyproject.toml
Labels: bug, maintenance

#7060 Do not allow setting empty arrays for non-empty meshes
  pyvista/core/datasetattributes.py
  pyvista/core/filters/image_data.py
  tests/core/test_dataset.py
Labels: bug

#7110 Use `__mul__` instead of `__add__` for concatenating `Transform`
  pyvista/core/utilities/transform.py
  tests/core/test_utilities.py
Labels: maintenance

#7109 Remove `__matmul__` operator from `Transform` class
  pyvista/core/utilities/transform.py
  tests/core/test_utilities.py
Labels: maintenance

#7118 Replace code directive with code-block
  CONTRIBUTING.rst
  doc/source/api/core/pointsets.rst
  doc/source/api/plotting/plotting.rst
  doc/source/extras/plot_directive.rst
  doc/source/extras/pyinstaller.rst
  doc/source/getting-started/index.rst
  doc/source/getting-started/installation.rst
  doc/source/getting-started/why.rst
  doc/source/user-guide/jupyter/index.rst
  doc/source/user-guide/simple.rst
  doc/source/user-guide/themes.rst
  doc/source/user-guide/vtk_to_pyvista.rst
  examples/02-plot/anti-aliasing.py
  examples/99-advanced/atomic-orbitals.py
  pyvista/core/filters/image_data.py
  pyvista/demos/demos.py
  pyvista/examples/downloads.py
  pyvista/examples/examples.py
  pyvista/plotting/plotter.py
  pyvista/trame/jupyter.py
Labels: documentation, maintenance

#7068 Add image resampling filter
  pyvista/core/_vtk_core.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  tests/core/test_imagedata_filters.py
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-resample-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-resample-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-resample-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-resample-1_03_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-resample-1_04_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-resample-1_05_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-resample-1_06_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-resample-1_07_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-resample-1_08_00.jpg
Labels: enhancement

#7117 Add complete start-to-finish plot directive example
  doc/source/conf.py
  doc/source/extras/plot_directive.rst
Labels: documentation

#7121 Use 'static_cell' as default for `sample` filter
  pyvista/core/filters/data_set.py
Labels: bug, breaking-change

#7125 Use beach image instead of logo in examples and tests
  pyvista/core/filters/image_data.py
  tests/core/test_imagedata_filters.py
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-pad_image-1_04_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-pad_image-1_05_00.jpg
Labels: maintenance

#7122 Fix removal of `user_dict`
  pyvista/core/dataobject.py
  tests/core/test_dataobject.py
Labels: bug

#7124 Add `MultiBlock` recursive iterator for iterating through all datasets
  pyvista/core/composite.py
  tests/core/test_composite.py
Labels: enhancement

#7123 Downsample parched canal example before plotting
  pyvista/core/utilities/reader.py
  pyvista/examples/downloads.py
  tests/doc/doc_image_cache/pyvista-HDRReader-1_00_00.jpg
Labels: documentation, no-sphinx-build-cache

#6970 Add pre commit hook sp-repo
  .pre-commit-config.yaml
  pyproject.toml
  tests/conftest.py
Labels: maintenance, dependencies, no-sphinx-build-cache

#6915 Fix ruff lint error: Bump version to 0.8.1
  .pre-commit-config.yaml
  doc/source/make_tables.py
  pyvista/conftest.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/filters/__init__.py
  pyvista/core/partitioned.py
  pyvista/core/utilities/arrays.py
  pyvista/core/utilities/misc.py
  pyvista/examples/downloads.py
  pyvista/ext/coverage.py
  pyvista/ext/plot_directive.py
  pyvista/plotting/renderer.py
  pyvista/plotting/themes.py
  pyvista/trame/__init__.py
  tests/conftest.py
  tests/core/test_imagedata_filters.py
  tests/core/test_polydata.py
  tests/examples/test_dataset_loader.py
  tests/plotting/conftest.py
  tests/plotting/jupyter/conftest.py
  tests/plotting/test_axes.py
  tests/plotting/test_charts.py
  tests/plotting/test_cube_axes_actor.py
  tests/plotting/test_plotting.py
Labels: documentation, maintenance, dependencies

#7132 Use small version of logo in `examples.load_logo`
  pyvista/examples/examples.py
  pyvista/examples/pyvista_logo.png
  tests/doc/doc_image_cache/pyvista-examples-examples-load_logo-1_00_00.jpg
  tests/plotting/image_cache/logo_widget_1.png
Labels: documentation

#7133 Downsample damavand volcano example
  pyvista/examples/downloads.py
  tests/doc/doc_image_cache/pyvista-examples-downloads-download_damavand_volcano-1_00_00.jpg
Labels: maintenance

#6966 Deprecate `flip_normals` and replace with `flip_faces` and `flip_normal_vectors`
  doc/source/index.rst
  examples/01-filter/boolean-operations.py
  pyvista/core/_vtk_core.py
  pyvista/core/filters/poly_data.py
  tests/core/test_polydata.py
Labels: enhancement

#7104 Branch coverage for tests
  .github/workflows/testing-and-deployment.yml
  CONTRIBUTING.rst
Labels: maintenance

#7006 Add zizmor security linter to pre-commit
  .github/workflows/docker-package.yml
  .github/workflows/docs.yml
  .github/workflows/integration-tests.yml
  .github/workflows/intersphinx-update-pull-request.yml
  .github/workflows/label.yml
  .github/workflows/linkcheck.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  .github/workflows/type-checking.yml
  .github/workflows/vtk-pre-test.yml
  .pre-commit-config.yaml
Labels: maintenance, dependencies

#7144 Add new `resample` interpolation modes and `anti_aliasing` option
  pyvista/core/_vtk_core.py
  pyvista/core/filters/image_data.py
  tests/core/test_imagedata_filters.py
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-resample-1_09_00.jpg
Labels: enhancement

#7149 Remove cached images from flip normals deprecation
  pyvista/core/filters/poly_data.py
  tests/doc/doc_image_cache/pyvista-PolyDataFilters-flip_normals-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-PolyDataFilters-flip_normals-1_00_01.jpg
Labels: maintenance, no-sphinx-build-cache
