Repository pyvista/pyvista, pull requests merged in 2025-07, with the labels that each got.

#7646 Fix padding RGB image with non-RGB value
  pyvista/core/filters/image_data.py
  tests/core/test_imagedata_filters.py
Labels: bug

#7651 Remove unused cached test images
  tests/plotting/image_cache/plotter_line_point_smoothing.png
  tests/plotting/image_cache/ssao_pass_1.png
  tests/plotting/test_plotting.py
Labels: maintenance

#7633 Use fixtures with `test_meshio.py`
  tests/test_meshio.py
Labels: maintenance

#7638 Update zizmor pre-commit
  .github/workflows/auto-approve.yml
  .github/workflows/docker-package.yml
  .github/workflows/docs.yml
  .github/workflows/integration-tests.yml
  .github/workflows/intersphinx-update-pull-request.yml
  .github/workflows/label.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  .github/workflows/update-pr-branch.yml
  .github/workflows/vtk-pre-test.yml
  .pre-commit-config.yaml
Labels: maintenance, dependencies

#7653 Fix crash with `contour_labels` when there is no foreground
  pyvista/core/filters/image_data.py
  tests/core/test_imagedata_filters.py
Labels: bug

#7656 Fix `copy_vtk_array` with `vtkImplicitArray` inputs
  pyvista/core/_vtk_core.py
  pyvista/core/utilities/arrays.py
  tests/core/test_utilities.py
Labels: bug

#7612 Support VTK 9.5.0
  .github/workflows/testing-and-deployment.yml
  pyproject.toml
  pyvista/core/_vtk_core.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/plotting/_vtk_gl.py
  pyvista/plotting/cube_axes_actor.py
  tests/core/test_polydata.py
  tests/doc/doc_image_cache/pyvista-DataSetFilters-glyph-1_00_00.jpg
  tests/doc/doc_image_cache/sphx_glr_contouring_003.jpg
  tests/doc/doc_image_cache/sphx_glr_create_platonic_solids_001.jpg
  tests/doc/doc_image_cache/sphx_glr_glyph_004.jpg
  tests/doc/doc_image_cache/sphx_glr_glyph_thumb.jpg
  tests/doc/doc_image_cache/sphx_glr_legend_001.jpg
  tests/doc/doc_image_cache/sphx_glr_legend_002.jpg
  tests/doc/doc_image_cache/sphx_glr_legend_003.jpg
  tests/doc/doc_image_cache/sphx_glr_legend_thumb.jpg
  tests/doc/doc_image_cache/sphx_glr_linear_cells_002.jpg
  tests/doc/doc_image_cache/sphx_glr_openfoam_cooling_005.jpg
  tests/doc/doc_image_cache/sphx_glr_slice_orthogonal_002.jpg
  tests/doc/doc_image_cache/sphx_glr_slice_orthogonal_thumb.jpg
Labels: maintenance

#7685 Enable autofix_prs in pre-commit.ci configuration
  .pre-commit-config.yaml
Labels: maintenance, dependencies

#7673 Remove PT028 from ruff ignore list
  pyproject.toml
  tests/plotting/test_scraper.py
Labels: maintenance

#7687 Fix typing of Plane *_size
  pyvista/core/utilities/geometric_objects.py
Labels: bug

#7671 Remove PLW1641 from ruff ignore rules and fix violations
  pyproject.toml
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/plotting/camera.py
  pyvista/plotting/lights.py
  pyvista/plotting/renderer.py
  pyvista/plotting/themes.py
Labels: maintenance

#7683 Bump test and doc dependencies
  pyproject.toml
  pyvista/core/utilities/transform.py
Labels: maintenance

#7684 Add camera orientation widget to Axes Objects example
  examples/02-plot/axes_objects.py
  pyvista/plotting/widgets.py
  tests/doc/doc_image_cache/sphx_glr_axes_objects_009.jpg
Labels: documentation

#7688 Bump `mypy` to version 1.16
  pyproject.toml
  pyvista/__init__.py
  pyvista/_plot.py
  pyvista/core/_validation/check.py
  pyvista/core/cell.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/data_object.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/filters/poly_data.py
  pyvista/core/filters/structured_grid.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/core/utilities/features.py
  pyvista/core/utilities/fileio.py
  pyvista/core/utilities/geometric_objects.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/reader.py
  pyvista/core/utilities/transform.py
  pyvista/demos/demos.py
  pyvista/demos/logo.py
  pyvista/examples/planets.py
  pyvista/plotting/_property.py
  pyvista/plotting/affine_widget.py
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotter.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/text.py
  pyvista/plotting/themes.py
  pyvista/plotting/volume.py
  pyvista/trame/jupyter.py
Labels: maintenance

#7676 Move safe imports to top-level to fix some PLC0415 violations
  pyproject.toml
  pyvista/__init__.py
  pyvista/_deprecate_positional_args.py
  pyvista/core/_validation/validate.py
  pyvista/core/_vtk_core.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/filters/poly_data.py
  pyvista/core/filters/unstructured_grid.py
  pyvista/core/objects.py
  pyvista/core/utilities/arrays.py
  pyvista/core/utilities/cells.py
  pyvista/core/utilities/docs.py
  pyvista/core/utilities/features.py
  pyvista/core/utilities/fileio.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/observers.py
  pyvista/core/utilities/reader.py
  pyvista/core/utilities/state_manager.py
  pyvista/core/utilities/transform.py
  pyvista/demos/logo.py
  pyvista/errors.py
  pyvista/examples/_dataset_loader.py
  pyvista/examples/downloads.py
  pyvista/examples/planets.py
  pyvista/jupyter/__init__.py
  pyvista/jupyter/notebook.py
  pyvista/plotting/_property.py
  pyvista/plotting/background_renderer.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/plotter.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/texture.py
  pyvista/plotting/themes.py
  pyvista/plotting/tools.py
  pyvista/plotting/utilities/regression.py
  pyvista/plotting/utilities/sphinx_gallery.py
  pyvista/plotting/utilities/xvfb.py
  pyvista/report.py
  pyvista/trame/jupyter.py
  pyvista/utilities/__init__.py
Labels: maintenance

#7686 Fix ImageData.cast_to_rectilinear_grid to support offset and direction
  pyvista/core/grid.py
  tests/core/test_grid.py
Labels: bug

#7662 Use `vtkOrientPolyData` filter with contour labels
  pyvista/core/_vtk_core.py
  pyvista/core/filters/image_data.py
Labels: maintenance

#7678 Remove PT031 from ruff ignore list and fix all violations
  pyproject.toml
  tests/core/test_cells.py
  tests/core/test_dataobject_filters.py
  tests/core/test_dataset.py
  tests/core/test_dataset_filters.py
  tests/core/test_datasetattributes.py
  tests/core/test_imagedata_filters.py
  tests/core/test_parametric_geometry.py
  tests/core/test_polydata.py
  tests/namespace/test_errors_namespace.py
  tests/namespace/test_utilities_namespace.py
  tests/plotting/test_plotter.py
  tests/plotting/test_plotting.py
  tests/plotting/test_render_window_interactor.py
  tests/plotting/test_renderer.py
  tests/plotting/test_utilities.py
Labels: maintenance

#7699 Relax dependabot github-actions ecosystem version updates
  .github/dependabot.yml
Labels: maintenance

#7674 Remove PT030 from ruff ignore and fix pytest.warns violations
  pyproject.toml
  tests/core/test_cells.py
  tests/core/test_dataobject_filters.py
  tests/core/test_dataset_filters.py
  tests/core/test_grid.py
  tests/core/test_imagedata_filters.py
  tests/core/test_parametric_geometry.py
  tests/core/test_pointset.py
  tests/core/test_polydata.py
  tests/core/test_polydata_filters.py
  tests/namespace/test_plotting_namespace.py
  tests/plotting/test_plotter.py
  tests/plotting/test_plotting.py
  tests/plotting/test_utilities.py
Labels: maintenance

#7702 Remove deprecated active_t_coords property
  doc/source/user-guide/data_model.rst
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  tests/core/test_dataset.py
  tests/core/test_datasetattributes.py
Labels: documentation, maintenance

#7707 Remove deprecated parameters from ParametricRandomHills
  pyvista/core/utilities/parametric_objects.py
  tests/core/test_parametric_geometry.py
Labels: maintenance

#7706 Remove deprecated update_coordinates method
  pyvista/plotting/plotter.py
  tests/plotting/test_plotter.py
Labels: maintenance

#7679 Update `linear_copy` for vtk9.5
  pyvista/core/pointset.py
  tests/core/test_grid.py
  tests/core/test_pointset.py
Labels: maintenance

#7645 Add `crop` filter for `ImageData`
  examples/01-filter/crop_labeled.py
  pyvista/core/dataset.py
  pyvista/core/filters/image_data.py
  pyvista/examples/downloads.py
  tests/core/test_dataset_filters.py
  tests/core/test_imagedata_filters.py
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-crop-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-crop-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-crop-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-crop-1_03_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-crop-1_04_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-crop-1_05_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-crop-1_06_00.jpg
  tests/doc/doc_image_cache/sphx_glr_crop_labeled_001.jpg
  tests/doc/doc_image_cache/sphx_glr_crop_labeled_002.jpg
  tests/doc/doc_image_cache/sphx_glr_crop_labeled_thumb.jpg
  tests/plotting/image_cache/pyvista-examples-downloads-download_yinyang-1_00_00.jpg
Labels: enhancement, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7719 Ensure PEP639 support in pyproject.toml
  pyproject.toml
Labels: maintenance

#7726 Rework `rescale` filter as `resize` filter
  pyvista/core/filters/data_object.py
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/misc.py
  pyvista/core/utilities/transform.py
  tests/core/test_dataset_filters.py
Labels: enhancement

#7722 Fix snake case API for `DataSetAttributes`
  pyvista/core/_vtk_core.py
  pyvista/core/datasetattributes.py
  pyvista/core/pyvista_ndarray.py
  tests/test_attributes.py
Labels: bug

#7092 Add `bounds_size` property to datasets and actors
  examples/02-plot/bounds.py
  examples/04-lights/shadows.py
  pyvista/core/cell.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/filters/composite.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/misc.py
  pyvista/core/utilities/points.py
  pyvista/plotting/axes_actor.py
  pyvista/plotting/cube_axes_actor.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotter.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/renderer.py
  tests/core/test_geometric_objects.py
  tests/core/test_geometric_sources.py
  tests/typing/test_return_type.py
Labels: enhancement, documentation

#7731 Remove unnecessary noqa E501 comments by fixing line length
  doc/source/conf.py
  tests/core/test_imagedata_filters.py
  tests/doc/test_sphinx_gallery.py
Labels: bug, documentation, maintenance

#7732 Add comment for necessary noqa PTH109
  pyvista/_deprecate_positional_args.py
Labels: maintenance

#7652 Add `slice_index` filter and `__getitem__` method for indexing `ImageData`
  examples/01-filter/slice.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_object.py
  pyvista/core/filters/image_data.py
  pyvista/core/grid.py
  tests/core/test_dataset_filters.py
  tests/core/test_grid.py
  tests/doc/doc_image_cache/sphx_glr_slice_009.jpg
  tests/doc/doc_image_cache/sphx_glr_slice_010.jpg
Labels: enhancement, documentation, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7718 Add `resize` filter for dataset coordinate rescaling
  pyvista/core/dataset.py
  pyvista/core/filters/data_object.py
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/misc.py
  pyvista/core/utilities/transform.py
  tests/core/test_dataobject_filters.py
Labels: enhancement

#7736 Rename `xyz` arg names in `slice_index` to `ijk`
  examples/01-filter/slice.py
  pyvista/core/filters/image_data.py
  pyvista/core/grid.py
  tests/core/test_grid.py
Labels: documentation, maintenance

#7740 Prevent extra renders in add_point_lables
  pyvista/plotting/plotter.py
Labels: bug, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7741 Get `points` directly from `vtkImageData` and `vtkRectilinearGrid`
  pyvista/core/grid.py
Labels: maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7746 BUG: Fix reference cycle regression
  pyvista/core/pointset.py
Labels: bug

#7752 Do not align comments in yaml files
  .pre-commit-config.yaml
  pyproject.toml
Labels: maintenance, dependencies

#7747 Filter `PYVISTA_USERDATA_PATH` warning in tinypages tests
  tests/plotting/tinypages/conf.py
Labels: maintenance

#7727 Add Follower class for actors that always face the camera
  doc/source/api/plotting/index.rst
  pyvista/plotting/__init__.py
  pyvista/plotting/_vtk.py
  pyvista/plotting/follower.py
  tests/doc/doc_image_cache/pyvista-Follower-1_00_00.jpg
  tests/plotting/test_actor.py
Labels: enhancement, documentation

#7754 DOC: Add pixi installation section to documentation
  doc/source/getting-started/installation.rst
  doc/styles/Vocab/pyvista/accept.txt
Labels: documentation

#7758 Always test documentation images
  .github/workflows/docs.yml
Labels: maintenance

#7745 Add `remove_unused_points` filters
  doc/source/conf.py
  pyvista/core/_typing_core/_dataset_types.py
  pyvista/core/filters/poly_data.py
  pyvista/core/filters/unstructured_grid.py
  pyvista/core/pointset.py
  tests/core/test_unstructured_grid_filters.py
Labels: enhancement

#7763 Enable linting for bare except (E722 and BLE001)
  pyproject.toml
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/partitioned.py
  pyvista/core/utilities/cell_type_helper.py
  pyvista/core/utilities/docs.py
  pyvista/core/utilities/fileio.py
  pyvista/core/utilities/misc.py
  pyvista/core/utilities/observers.py
  pyvista/ext/plot_directive.py
  pyvista/ext/viewer_directive.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotter.py
  pyvista/report.py
  tests/check_doctest_names.py
  tests/core/test_dataset.py
  tests/plotting/conftest.py
  tests/plotting/jupyter/test_trame.py
  tests/plotting/test_plotting.py
Labels: maintenance
