Repository pyvista/pyvista, pull requests merged in 2025-06, with the labels that each got.

#7577 Select all PL rules with ruff
  pyproject.toml
Labels: maintenance

#7578 Add FURB rules to ruff
  doc/source/conf.py
  pyproject.toml
  pyvista/ext/plot_directive.py
  pyvista/plotting/colors.py
Labels: documentation, maintenance

#7579 Add T20 rules to ruff
  pyproject.toml
Labels: maintenance

#7588 Remove Kitware from CODEOWNERS
  .github/CODEOWNERS
Labels: maintenance

#7575 Change volume mapper to smart for Windows
  pyvista/plotting/themes.py
Labels: bug, breaking-change

#7423 Add type hints to plotter API
  doc/source/conf.py
  pyproject.toml
  pyvista/core/filters/poly_data.py
  pyvista/core/utilities/helpers.py
  pyvista/demos/demos.py
  pyvista/demos/logo.py
  pyvista/examples/cells.py
  pyvista/jupyter/__init__.py
  pyvista/jupyter/notebook.py
  pyvista/plotting/__init__.py
  pyvista/plotting/_plotting.py
  pyvista/plotting/_property.py
  pyvista/plotting/_typing.py
  pyvista/plotting/colors.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/plotter.py
  pyvista/plotting/text.py
  pyvista/plotting/themes.py
  pyvista/plotting/utilities/algorithms.py
  pyvista/plotting/utilities/sphinx_gallery.py
  pyvista/trame/jupyter.py
  tests/plotting/jupyter/test_static.py
  tests/plotting/test_plotter.py
  tests/plotting/test_theme.py
Labels: maintenance

#7597 Fix links to VTK documentation in docstrings
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/plotting/axes_actor.py
  pyvista/plotting/cube_axes_actor.py
  pyvista/plotting/texture.py
Labels: documentation

#7594 Fix merging field data with `main_has_priority`
  pyvista/core/filters/data_set.py
  tests/core/test_dataobject.py
  tests/core/test_polydata.py
Labels: bug

#7602 Fix cube axes actor title offset for VTK 9.5
  pyvista/plotting/cube_axes_actor.py
Labels: maintenance

#7488 Add `gaussian_splatting` filter to DataSetFilters class
  pyvista/core/_vtk_core.py
  pyvista/core/filters/data_set.py
  tests/core/test_dataset_filters.py
  tests/doc/doc_image_cache/pyvista-DataSetFilters-gaussian_splatting-1_00_00.jpg
Labels: enhancement

#7608 Add pass_cell_data kwarg to cell_centers
  pyvista/core/filters/data_object.py
  tests/core/test_dataobject_filters.py
Labels: enhancement

#7396 Add vtkhdf writer support
  pyvista/core/_vtk_core.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/partitioned.py
  pyvista/core/pointset.py
  pyvista/core/utilities/fileio.py
  tests/core/test_composite.py
  tests/core/test_dataobject.py
  tests/core/test_grid.py
  tests/core/test_polydata.py
Labels: enhancement, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache, vtk-dev-testing

#7610 Run `test_charts`.py in a separate process and increase `xvfb` max clients
  .github/workflows/testing-and-deployment.yml
Labels: maintenance, vtk-dev-testing

#7613 Fix an invalid `if` key causing warnings during workflow execution
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#7615 Simplify `add_legend` tests to use plane instead of hills
  tests/plotting/image_cache/legend_from_multiple_glyph.png
  tests/plotting/image_cache/legend_using_add_legend.png
  tests/plotting/image_cache/legend_using_add_legend_only_labels.png
  tests/plotting/image_cache/legend_using_add_legend_with_glyph.png
  tests/plotting/test_renderer.py
Labels: maintenance

#7621 Fix `RuntimeError` raised when disabling ssao on a closed plotter
  pyvista/plotting/render_passes.py
  pyvista/plotting/renderer.py
  tests/plotting/image_cache/ssao_pass.png
  tests/plotting/test_plotting.py
Labels: maintenance

#7623 Move local import in `deprecate_positional_args` to avoid erroneous errors
  pyvista/_deprecate_positional_args.py
Labels: maintenance

#7622 Remove test skips for `set_environment_texture_cubemap`
  tests/plotting/image_cache/set_environment_texture_cubemap.png
  tests/plotting/image_cache/set_environment_texture_cubemap[0.5].png
  tests/plotting/image_cache/set_environment_texture_cubemap[True].png
  tests/plotting/test_plotting.py
Labels: maintenance

#7607 Skip GC checks for parametrized color tests
  tests/plotting/test_colors.py
Labels: maintenance

#7627 Fix geovista integration test
  .github/workflows/integration-tests.yml
Labels: bug, maintenance

#7628 Mark `contour_labels` strict external test as flaky
  tests/core/test_imagedata_filters.py
Labels: maintenance

#7629 Bump geovista integration test to py313
  .github/workflows/integration-tests.yml
Labels: maintenance

#7626 Return `{}` instead of `None` for empty `cells_dict` and `get_mixed_cells`
  pyvista/core/pointset.py
  pyvista/core/utilities/cells.py
  tests/core/test_grid.py
Labels: maintenance, breaking-change

#7630 Remove redundant grid fixture
  tests/conftest.py
  tests/core/test_dataobject_filters.py
  tests/core/test_dataset.py
Labels: maintenance

#7636 Fix tag syntax error in `anti_aliasing` documentation
  examples/02-plot/anti_aliasing.py
Labels: documentation

#7641 Allow NaN values with data object equality checks
  pyvista/core/dataobject.py
  pyvista/core/datasetattributes.py
  tests/core/test_dataobject.py
Labels: bug

#7644 Fix small syntax error in create_structured_surface example
  examples/00-load/create_structured_surface.py
Labels: documentation

#7642 Fix `Plotter.add_scalar_bar` wrapper args and kwargs
  pyvista/plotting/plotter.py
Labels: bug, breaking-change
