Repository pyvista/pyvista, pull requests merged in 2025-05, with the labels that each got.

#7386 Add tests to limit sphinx gallery example execution times
  .github/workflows/docs.yml
  CONTRIBUTING.rst
  doc/source/conf.py
  tests/doc/tst_doc_build.py
Labels: documentation, testing, maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7477 Improve cmap error handling
  pyvista/plotting/colors.py
  tests/plotting/test_colors.py
Labels: maintenance

#7475 Add note to `color_labels` indicating that `colorcet` is required by default
  pyvista/core/_validation/validate.py
  pyvista/core/filters/data_set.py
  tests/core/test_validation.py
Labels: bug

#7479 Fix flaky download test using `retry-requests`
  pyproject.toml
  tests/examples/test_downloads.py
Labels: maintenance

#7452 Add links to PyVista methods inside Sphinx Gallery code blocks
  doc/source/conf.py
Labels: documentation, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7483 Fix false positive `ModuleNotFoundError` for cmaps common to `matplotlib`,`colorcet`, and `cmocean`
  pyvista/plotting/colors.py
  tests/plotting/test_colors.py
Labels: bug

#7390 Fix path handling to use pathlib instead of os
  examples/00-load/read_parallel.py
  pyvista/ext/coverage.py
  pyvista/ext/plot_directive.py
  pyvista/plotting/themes.py
Labels: documentation, maintenance

#7486 Add type hints for setting colormaps
  doc/source/conf.py
  pyvista/core/filters/data_set.py
  pyvista/demos/demos.py
  pyvista/plotting/_typing.py
  pyvista/plotting/colors.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/plotter.py
  pyvista/plotting/themes.py
  tests/plotting/test_colors.py
Labels: maintenance

#7489 Improve StructuredGrid example
  examples/00-load/create_structured_surface.py
  pyvista/core/pointset.py
  tests/doc/doc_image_cache/sphx_glr_create_structured_surface_001.jpg
  tests/doc/doc_image_cache/sphx_glr_create_structured_surface_002.jpg
  tests/doc/doc_image_cache/sphx_glr_create_structured_surface_thumb.jpg
Labels: documentation, no-gallery-cache

#7492 Fix documentation source for wrapped function
  pyvista/core/utilities/docs.py
  tests/core/test_utilities.py
Labels: bug

#7494 Add guideline for choosing the right colormap
  doc/source/api/utilities/named_colormaps.rst
Labels: documentation

#7490 Fix the magnetic coil example
  examples/99-advanced/magnetic_fields.py
  tests/doc/doc_image_cache/sphx_glr_magnetic_fields_003.jpg
  tests/doc/doc_image_cache/sphx_glr_magnetic_fields_thumb.jpg
Labels: documentation, no-gallery-cache

#7499 Update docstring: merge docstring merge is not default
  pyvista/core/filters/data_set.py
Labels: documentation

#7504 Check `sys.meta_path` in `DisableVtkSnakeCase.__getattribute__`
  pyvista/core/_vtk_core.py
Labels: bug

#7510 Fix docs reference in release `0.45.1`
  pyvista/core/filters/data_set.py
Labels: bug

#7512 Move check for `sys.meta_path` in `DisableVtkSnakeCase`
  pyvista/core/_vtk_core.py
Labels: bug

#7509 Disable vtk's snake case API for all PyVista classes
  pyvista/core/pointset.py
  pyvista/core/utilities/arrays.py
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/charts.py
  pyvista/plotting/utilities/algorithms.py
  tests/test_snake_case_api.py
Labels: bug

#7522 Update imports and pyvista namespace in `make_tables.py`
  doc/source/make_tables.py
Labels: documentation, maintenance

#7520 Disable vtk's snake case API for `pyvista_ndarray`
  pyproject.toml
  pyvista/core/_vtk_core.py
  pyvista/core/pyvista_ndarray.py
  tests/core/test_pyvista_ndarray.py
  tests/test_snake_case_api.py
Labels: bug

#7525 Rework linkcheck workflow to use lychee
  .github/workflows/linkcheck.yml
  doc/source/api/core/partitioned.rst
  doc/source/extras/building_vtk.rst
  doc/source/user-guide/jupyter/trame.rst
  lychee.toml
  pyvista/examples/downloads.py
  pyvista/plotting/plotter.py
  pyvista/plotting/render_window_interactor.py
Labels: maintenance

#7532 Remove duplicates and fix PU labels for Named Colormaps
  doc/source/api/utilities/named_colormaps.rst
  doc/source/make_tables.py
  tests/doc/test_tables.py
Labels: documentation

#7538 Fix test failure for numpy 2.3
  tests/core/test_composite.py
Labels: bug

#7497 Add ability to use custom interactor styles
  doc/source/api/plotting/index.rst
  doc/styles/Vocab/pyvista/accept.txt
  pyvista/plotting/_vtk.py
  pyvista/plotting/render_window_interactor.py
  tests/plotting/test_render_window_interactor.py
  tests/test_snake_case_api.py
Labels: enhancement

#7536 Remove duplicate colormaps from documentation
  doc/source/make_tables.py
  tests/doc/test_tables.py
Labels: documentation

#7534 Add VTK references to `CellType` documentation
  pyvista/core/celltype.py
Labels: documentation

#7544 Ignore SciPy warning about NumPy version
  pyproject.toml
Labels: maintenance

#7567 Add trailing commas to `BoundsTuple` repr
  doc/source/user-guide/simple.rst
  pyvista/core/_typing_core/_aliases.py
  pyvista/core/cell.py
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/filters/image_data.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/plotting/actor.py
  pyvista/plotting/mapper.py
  pyvista/plotting/plotter.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/volume.py
  tests/core/test_geometric_sources.py
Labels: documentation, maintenance

#7561 Enforce PEP8 naming conventions with `ruff`
  doc/source/make_tables.py
  examples/99-advanced/warp_by_vector_eigenmodes.py
  pyproject.toml
  pyvista/core/_validation/validate.py
  pyvista/core/_vtk_core.py
  pyvista/core/errors.py
  pyvista/core/filters/data_set.py
  pyvista/core/pointset.py
  pyvista/core/pyvista_ndarray.py
  pyvista/core/utilities/arrays.py
  pyvista/core/utilities/cell_type_helper.py
  pyvista/core/utilities/misc.py
  pyvista/core/utilities/state_manager.py
  pyvista/plotting/_vtk.py
  pyvista/plotting/_vtk_gl.py
  pyvista/plotting/charts.py
  pyvista/plotting/errors.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/themes.py
  tests/core/test_dataset.py
  tests/core/test_dataset_filters.py
  tests/core/test_grid.py
  tests/core/test_imagedata_filters.py
  tests/core/test_parametric_geometry.py
  tests/core/test_utilities.py
  tests/core/test_validation.py
  tests/examples/test_cell_examples.py
  tests/examples/test_dataset_loader.py
  tests/plotting/test_plotting.py
  tests/plotting/test_regression.py
  tests/plotting/test_scraper.py
  tests/plotting/test_widgets.py
  tests/test_conftest.py
Labels: documentation, maintenance

#7568 Add PLR (refactor linting) to ruff
  doc/source/make_tables.py
  examples/02-plot/lookup_table.py
  pyproject.toml
  pyvista/core/composite.py
  pyvista/core/filters/data_object.py
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/arrays.py
  pyvista/core/utilities/fileio.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/helpers.py
  pyvista/core/utilities/transform.py
  pyvista/plotting/affine_widget.py
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/charts.py
  pyvista/plotting/colors.py
  pyvista/plotting/tools.py
  tests/check_doctest_names.py
  tests/core/test_composite.py
  tests/core/test_reader.py
Labels: documentation, maintenance

#7569 Add PLW (pylint warnings) to ruff
  examples/00-load/create_pixel_art.py
  examples/01-filter/gradients.py
  examples/99-advanced/warp_by_vector_eigenmodes.py
  examples_trame/tests/test_trame.py
  pyproject.toml
  pyvista/core/_validation/check.py
  pyvista/core/composite.py
  pyvista/core/dataset.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/composite.py
  pyvista/core/pointset.py
  pyvista/core/utilities/cells.py
  pyvista/core/utilities/fileio.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/examples/_dataset_loader.py
  pyvista/examples/downloads.py
  pyvista/ext/coverage.py
  pyvista/ext/plot_directive.py
  pyvista/plotting/plotter.py
  pyvista/plotting/renderer.py
  pyvista/plotting/scalar_bars.py
  pyvista/plotting/themes.py
  pyvista/plotting/tools.py
  tests/plotting/test_lights.py
  tests/test_init.py
  tests/typing/mypy_plugin/test_plugin.py
Labels: documentation, maintenance

#7572 Select all TRY rules with ruff
  pyproject.toml
Labels: maintenance

#7574 Use linear opacity interpolation by default
  examples/02-plot/opacity.py
  pyvista/plotting/tools.py
  tests/doc/doc_image_cache/sphx_glr_opacity_004.jpg
  tests/doc/doc_image_cache/sphx_glr_opacity_005.jpg
Labels: bug, breaking-change
