Repository pyvista/pyvista, pull requests merged in 2025-08, with the labels that each got.

#7670 Revert "Limit dependabot PRs to two and update weekly instead of monthly"
  .github/dependabot.yml
Labels: maintenance

#7780 Disable automatic rebasing of dependabot PRs
  .github/dependabot.yml
Labels: maintenance

#7791 Add minimum typing-extensions version
  pyproject.toml
Labels: maintenance

#7799 Use PEP 673 Self type for methods returning self instances
  pyvista/core/pointset.py
Labels: maintenance

#7805 Fix vtkhdf documentation link
  pyvista/core/utilities/reader.py
Labels: bug, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7812 Fix ChartMPL scaling and eigenvector example scaling
  doc/source/conf.py
  examples/99-advanced/warp_by_vector_eigenmodes.py
  tests/doc/doc_image_cache/sphx_glr_warp_by_vector_eigenmodes_001.jpg
  tests/doc/doc_image_cache/sphx_glr_warp_by_vector_eigenmodes_002.jpg
  tests/doc/doc_image_cache/sphx_glr_warp_by_vector_eigenmodes_thumb.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-2_00_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-2_00_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-active_background_color-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-active_background_color-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-active_background_color-2_02_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-active_background_color-2_02_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-active_border_color-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-active_border_color-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-active_border_color-2_02_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-active_border_color-2_02_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-background_color-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-background_color-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-background_texture-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-background_texture-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-border_color-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-border_color-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-border_style-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-border_style-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-border_width-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-border_width-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-figure-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-figure-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-legend_visible-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-legend_visible-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-legend_visible-2_02_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-legend_visible-2_02_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-loc-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-loc-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-show-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-show-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-size-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-size-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-title-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-title-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-toggle-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-toggle-2_01_00/1.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-visible-2_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-ChartMPL-visible-2_01_00/1.jpg
Labels: bug, documentation

#7797 Drop deprecated features scheduled for v0.47
  doc/source/conf.py
  doc/source/make_tables.py
  pyproject.toml
  pyvista/core/cell.py
  pyvista/core/pointset.py
  pyvista/examples/downloads.py
  pyvista/plotting/axes_actor.py
  tests/core/test_cells.py
  tests/core/test_polydata.py
  tests/plotting/test_axes.py
Labels: maintenance

#7804 Improve number_time_points property in EnsightReader
  pyvista/core/utilities/reader.py
  tests/core/test_reader.py
Labels: bug, breaking-change

#7813 Fix `clip_box` with `MultiBlock` and `crinkle`
  pyvista/core/filters/data_object.py
  tests/core/test_dataobject_filters.py
  tests/plotting/image_cache/clip_box_crinkle[None].png
  tests/plotting/image_cache/clip_box_crinkle[as_multiblock].png
  tests/plotting/test_plotting.py
Labels: bug

#7823 Update CODEOWNERS with pyvista/ci-reviewers team
  .github/CODEOWNERS
Labels: maintenance

#7816 Detect wayland
  pyvista/plotting/tools.py
Labels: bug

#7822 Add test coverage for custom VTK_DATA and USERDATA_PATH env vars
  pyproject.toml
  pyvista/examples/downloads.py
  tests/examples/test_downloads.py
Labels: maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7827 Bump `numpy` min version to 1.26 and keep `Union` for documented type aliases
  doc/source/make_tables.py
  pyproject.toml
  pyvista/core/_typing_core/_aliases.py
  pyvista/core/_typing_core/_array_like.py
  pyvista/core/_validation/_cast_array.py
  tests/core/test_validation.py
  tests/plotting/test_plotting.py
Labels: maintenance

#7829 Fix filtered warning for vtk-data cache miss
  pyproject.toml
Labels: maintenance

#7831 Avoid download fetcher test side-effects
  tests/examples/test_downloads.py
Labels: bug

#7809 Add remove_existing_actor parameter to add_mesh
  pyvista/plotting/_plotting.py
  pyvista/plotting/plotter.py
  tests/plotting/test_plotting.py
Labels: enhancement

#7828 Use self-hosted MacOS
  .github/workflows/testing-and-deployment.yml
  CONTRIBUTING.rst
  tests/core/test_utilities.py
  tests/plotting/test_plotting.py
  tests/plotting/test_tinypages.py
Labels: maintenance

#7840 Fix `BoundsTuple.__repr__` with scientific notation
  pyvista/core/_typing_core/_aliases.py
  tests/typing/test_return_type.py
Labels: bug

#7841 Remove unnecessary pytest markers for VTK < 9.2
  tests/core/test_dataobject_filters.py
  tests/core/test_dataset.py
  tests/core/test_dataset_filters.py
  tests/core/test_reader.py
  tests/core/test_unstructured_grid_filters.py
  tests/core/test_utilities.py
  tests/examples/test_cell_examples.py
  tests/examples/test_download_files.py
  tests/plotting/test_axes.py
  tests/plotting/test_picking.py
  tests/plotting/test_plotter.py
  tests/plotting/test_plotting.py
  tests/plotting/test_render_window_interactor.py
  tests/plotting/test_renderer.py
  tests/plotting/test_widgets.py
  tests/test_attributes.py
Labels: maintenance

#7842 Remove deprecated `download_can` example
  doc/source/make_tables.py
  pyvista/examples/downloads.py
  tests/examples/test_download_files.py
Labels: documentation, maintenance

#7853 Auto-cancel Windows jobs after 60 minutes
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#7857 Remove references to unsupported VTK versions in plotting module
  pyvista/plotting/_vtk.py
  pyvista/plotting/affine_widget.py
  pyvista/plotting/charts.py
  pyvista/plotting/plotter.py
  pyvista/plotting/render_window_interactor.py
  pyvista/plotting/renderer.py
  pyvista/plotting/widgets.py
  tests/plotting/jupyter/test_trame.py
  tests/plotting/test_plotting.py
  tests/plotting/test_property.py
  tests/plotting/test_texture.py
  tests/plotting/test_widgets.py
Labels: maintenance

#7858 Remove `lazy_vtkPOpenFOAMReader`
  pyvista/core/utilities/reader.py
Labels: maintenance

#7861 Use vtkEGLRenderWindow for docs
  .github/workflows/docs.yml
Labels: bug, maintenance

#7860 Remove references to older VTK
  doc/source/api/core/pointsets.rst
  doc/source/extras/building_vtk.rst
  examples/00-load/create_pointset.py
  pyvista/core/pointset.py
  pyvista/examples/downloads.py
  tests/conftest.py
  tests/examples/test_download_files.py
  tests/examples/test_gltf.py
  tests/test_conftest.py
Labels: documentation, maintenance

#7789 Remove unused points after using `clip` or `clip_box`
  pyvista/core/filters/data_object.py
  tests/core/test_dataobject_filters.py
Labels: bug

#7875 Update cached flaky doc images
  tests/doc/flaky_tests/pyvista-DataSetFilters-split_values-fb43e92a2ad55a16_01_00/0.jpg
  tests/doc/flaky_tests/pyvista-DataSetFilters-split_values-fb43e92a2ad55a16_01_00/1.jpg
  tests/doc/flaky_tests/sphx_glr_antarctica_005/1.jpg
  tests/doc/flaky_tests/sphx_glr_clip_with_plane_box_002/0.jpg
  tests/doc/flaky_tests/sphx_glr_clip_with_plane_box_002/1.jpg
  tests/doc/flaky_tests/sphx_glr_clip_with_plane_box_thumb/0.jpg
  tests/doc/flaky_tests/sphx_glr_clip_with_plane_box_thumb/1.jpg
Labels: maintenance
