Repository pyvista/pyvista, pull requests merged in 2025-02, with the labels that each got.

#7154 Exclude redundant `vtksz` files from doc upload
  .github/workflows/docs.yml
Labels: documentation, maintenance, no-sphinx-build-cache

#7131 Use downsampled versions of whole body ct datasets
  pyvista/examples/downloads.py
  tests/doc/doc_image_cache/pyvista-examples-downloads-download_whole_body_ct_female-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-downloads-download_whole_body_ct_male-1_00_00.jpg
  tests/doc/doc_image_cache/sphx_glr_anatomical-groups_001.jpg
  tests/doc/doc_image_cache/sphx_glr_anatomical-groups_002.jpg
  tests/doc/doc_image_cache/sphx_glr_anatomical-groups_003.jpg
  tests/doc/doc_image_cache/sphx_glr_anatomical-groups_004.jpg
  tests/doc/doc_image_cache/sphx_glr_anatomical-groups_005.jpg
  tests/doc/doc_image_cache/sphx_glr_anatomical-groups_006.jpg
  tests/doc/doc_image_cache/sphx_glr_anatomical-groups_007.jpg
  tests/doc/doc_image_cache/sphx_glr_anatomical-groups_thumb.jpg
  tests/doc/doc_image_cache/sphx_glr_volume_011.jpg
Labels: maintenance, breaking-change, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7148 Move `voxelize_binary_mask` to DataSetFilters
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/filters/poly_data.py
  pyvista/core/utilities/features.py
  tests/core/test_dataset_filters.py
  tests/core/test_polydata_filters.py
  tests/doc/doc_image_cache/pyvista-DataSetFilters-voxelize_binary_mask-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-voxelize_binary_mask-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-voxelize_binary_mask-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-voxelize_binary_mask-1_03_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-voxelize_binary_mask-1_04_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-voxelize_binary_mask-1_05_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-voxelize_binary_mask-1_06_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-voxelize_binary_mask-1_07_00.jpg
Labels: maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7150 Fix documentation image test warnings by replacing images
  tests/doc/doc_image_cache/pyvista-ExplicitStructuredGrid-neighbors-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-PolyDataFilters-boolean_difference-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-PolyDataFilters-boolean_union-1_00_00.jpg
  tests/doc/doc_image_cache/sphx_glr_image_depth_002.jpg
  tests/doc/doc_image_cache/sphx_glr_planets_001.jpg
Labels: documentation, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7151 Rename `Transform.concatenate` to `compose`
  pyvista/core/filters/data_set.py
  pyvista/core/utilities/transform.py
  tests/core/test_utilities.py
Labels: maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7155 fix: use color cycler if color=True
  pyvista/plotting/_plotting.py
  pyvista/plotting/plotter.py
  pyvista/plotting/renderer.py
  pyvista/plotting/renderers.py
  tests/doc/doc_image_cache/pyvista-Renderer-set_color_cycler-1_01_00.jpg
  tests/plotting/conftest.py
  tests/plotting/image_cache/color_cycler_true.png
  tests/plotting/test_plotting.py
Labels: bug

#7114 Add tests to limit the size of interactive plot files
  CONTRIBUTING.rst
  examples/00-load/create-surface-draped.py
  examples/01-filter/compute-normals.py
  examples/02-plot/depth_of_field.py
  tests/doc/tst_doc_images.py
Labels: maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7176 Remove `check_subdtype` test of deprecated NumPy behavior
  tests/core/test_validation.py
Labels: maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7156 Add planets module to dataset gallery
  doc/source/api/examples/dataset_gallery.rst
  doc/source/make_tables.py
  pyvista/examples/planets.py
  tests/examples/test_dataset_loader.py
  tests/examples/test_downloads.py
Labels: documentation, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7175 Remove `mesh_length_fraction` from `voxelize_binary_mask`
  pyvista/core/filters/data_set.py
  tests/core/test_dataset_filters.py
  tests/core/test_polydata_filters.py
Labels: maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7179 Add PLR1730 `ruff` rule for min/max statements
  pyproject.toml
  pyvista/core/filters/poly_data.py
  pyvista/plotting/plotter.py
  pyvista/plotting/renderer.py
  pyvista/plotting/scalar_bars.py
Labels: maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7183 Fix typo in the docstring using codespell v2.4.1
  .pre-commit-config.yaml
  pyvista/core/filters/data_set.py
Labels: documentation, maintenance, dependencies, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7178 Document `examples.gltf` module
  doc/source/api/examples/index.rst
  tests/doc/doc_image_cache/pyvista-examples-gltf-download_avocado-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-gltf-download_damaged_helmet-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-gltf-download_gearbox-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-gltf-download_milk_truck-1_00_00.jpg
Labels: documentation, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7186 Add `NameMixin` class to give `name` attribute to actor-like classes
  pyvista/core/utilities/misc.py
  pyvista/plotting/actor.py
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/text.py
  tests/plotting/test_actor.py
  tests/plotting/test_axes_assembly.py
  tests/plotting/test_text.py
Labels: enhancement, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7185 Document Polyhedron cell
  doc/source/api/examples/index.rst
  pyvista/core/celltype.py
  tests/doc/doc_image_cache/pyvista-examples-cells-Polyhedron-1_00_00.jpg
Labels: documentation, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7188 Fix repo review error: bump to rev 2025.01.22
  .pre-commit-config.yaml
  pyproject.toml
Labels: maintenance, dependencies

#7174 Improve documentation and layout of `pyvista.examples` API
  doc/source/api/examples/index.rst
  pyvista/core/celltype.py
  pyvista/examples/cells.py
Labels: documentation, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7190 Add `log_scale` and `glyph` test coverage
  tests/core/test_dataset_filters.py
  tests/plotting/test_plotting.py
Labels: maintenance

#7177 Use elif instead of else then if, to reduce indentation
  pyproject.toml
  pyvista/_plot.py
  pyvista/core/_validation/validate.py
  pyvista/core/composite.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/filters/poly_data.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/plotter.py
  tests/core/test_validation.py
Labels: maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7196 Bump python from 3.11 to 3.12 in Devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/offscreen/devcontainer.json
Labels: maintenance

#7191 Add medical label to sphinx gallery examples
  examples/02-plot/volume.py
  examples/99-advanced/anatomical_groups.py
Labels: documentation

#7187 Disable caching for pushes to main branch and consolidate caching logic
  .github/workflows/docs.yml
Labels: maintenance

#7167 Add `MultiBlock.flatten` and `MultiBlock.recursive_iterator` options
  pyvista/core/composite.py
  tests/core/test_composite.py
Labels: enhancement, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7134 Expose the quadric decimation filters and its parameters
  pyvista/core/filters/poly_data.py
Labels: enhancement

#7184 Use `PropCollection` to access `renderer.actors` internally
  pyvista/plotting/_vtk.py
  pyvista/plotting/background_renderer.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotter.py
  pyvista/plotting/prop_collection.py
  pyvista/plotting/renderer.py
  tests/doc/doc_image_cache/sphx_glr_plane_widget_003.jpg
  tests/doc/doc_image_cache/sphx_glr_sphere_widget_001.jpg
  tests/doc/doc_image_cache/sphx_glr_sphere_widget_002.jpg
  tests/plotting/image_cache/camera3d_widget.png
  tests/plotting/test_plotting.py
  tests/plotting/test_renderer.py
Labels: bug, maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7202 Add `MultiBlock.get_block` and extend `replace` to allow indexing nested blocks
  pyvista/core/composite.py
  tests/core/test_composite.py
Labels: enhancement

#7200 Add `'ids'` and `'all'` options to `MultiBlock.recursive_iterator`
  pyvista/core/composite.py
  tests/core/test_composite.py
Labels: enhancement

#7203 Add generic composite filter to apply any filter to `MultiBlock` blocks
  pyvista/core/filters/composite.py
  tests/core/test_composite.py
Labels: enhancement

#7193 Fix zooming in terrain style with parallel projection
  pyvista/plotting/render_window_interactor.py
Labels: bug

#7209 Fix vale error 'Built-in' should use title-style capitalization
  doc/source/api/examples/index.rst
Labels: documentation

#7213 Remove unnecessary Updates in nek5000Reader and ExodusIIReader
  pyvista/core/utilities/reader.py
Labels: maintenance

#7222 Refactor `MultiBlock.transform` to use `generic_filter`
  pyvista/core/filters/composite.py
Labels: maintenance

#7219 Speed up `Color` init and `convert_color_channel`
  pyvista/plotting/colors.py
  tests/plotting/test_colors.py
Labels: maintenance

#7227 Fix function name in error messages for `MultiBlock.generic_filter`
  pyvista/core/filters/composite.py
  tests/core/test_composite.py
Labels: bug

#7221 Do not skip ``None`` or empty blocks by default with `recursive_iterator`
  pyvista/core/composite.py
  pyvista/core/filters/composite.py
  tests/core/test_composite.py
Labels: maintenance

#7225 Add `'strict_external'` boundary style to `contour_labels`
  pyvista/core/filters/image_data.py
  tests/core/test_imagedata_filters.py
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-contour_labels-1_08_00.jpg
Labels: enhancement

#7127 Add isolated tests for core and plotting conftest files using pytester plugin
  tests/plotting/test_conftest.py
  tests/test_conftest.py
Labels: maintenance

#7211 Move all transformation filters to `DataObjectFilters` class
  doc/source/api/core/filters.rst
  doc/source/user-guide/data_model.rst
  examples/99-advanced/extending_pyvista.py
  pyvista/core/__init__.py
  pyvista/core/filters/__init__.py
  pyvista/core/filters/composite.py
  pyvista/core/filters/data_object.py
  pyvista/core/filters/data_set.py
  pyvista/core/pointset.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/transform.py
  pyvista/plotting/affine_widget.py
  pyvista/plotting/widgets.py
  tests/doc/doc_image_cache/pyvista-CompositeFilters-transform-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-flip_normal-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-flip_x-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-flip_y-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-flip_z-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-reflect-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-rotate-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-rotate_vector-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-rotate_x-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-rotate_y-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-rotate_z-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-scale-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-transform-1_00_00.jpg
Labels: enhancement, maintenance

#7231 Move `extract_values` validation and splitting code as instance methods
  pyvista/core/filters/data_set.py
Labels: maintenance

#7223 Refactor `as_polydata_blocks` to use `generic_filter`
  pyvista/core/composite.py
  tests/core/test_composite.py
Labels: maintenance, no-sphinx-build-cache

#7226 Rename `contour_labels` parameter `compute_normals` to `orient_faces` and add performance notes
  pyvista/core/filters/image_data.py
  tests/core/test_imagedata_filters.py
  tests/plotting/image_cache/contour_labels_orient_faces[False].png
  tests/plotting/image_cache/contour_labels_orient_faces[True].png
  tests/plotting/test_plotting.py
Labels: maintenance, no-sphinx-build-cache

#7210 Move common dataset/composite filters to `DataObjectFilters` class
  examples/00-load/create_pointset.py
  examples/00-load/create_polydata_strips.py
  examples/01-filter/cell_centers.py
  examples/01-filter/clipping.py
  examples/01-filter/compute_volume.py
  examples/01-filter/interpolate.py
  examples/01-filter/interpolate_sample.py
  examples/01-filter/resample.py
  examples/01-filter/slicing.py
  examples/01-filter/subdivide.py
  examples/02-plot/ortho_slices.py
  examples/03-widgets/spline_widget.py
  examples/99-advanced/openfoam_cooling.py
  examples/99-advanced/openfoam_tubes.py
  pyvista/core/dataset.py
  pyvista/core/filters/composite.py
  pyvista/core/filters/data_object.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/utilities/points.py
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-cell_centers-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-cell_data_to_point_data-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-cell_data_to_point_data-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-clip-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-clip-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-clip_box-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-compute_cell_sizes-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-elevation-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-extract_all_edges-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-point_data_to_cell_data-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-point_data_to_cell_data-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-sample-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-slice-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-slice_along_axis-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-slice_along_axis-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-slice_along_line-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-slice_implicit-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-slice_implicit-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-slice_orthogonal-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-triangulate-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataObjectFilters-triangulate-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-cell_centers-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-cell_data_to_point_data-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-cell_data_to_point_data-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-clip-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-clip-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-clip_box-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-compute_cell_sizes-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-elevation-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-extract_all_edges-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-point_data_to_cell_data-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-point_data_to_cell_data-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-sample-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-slice-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-slice_along_axis-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-slice_along_axis-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-slice_along_line-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-slice_orthogonal-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-triangulate-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-DataSetFilters-triangulate-1_01_00.jpg
Labels: documentation, maintenance, no-sphinx-build-cache

#7235 Refactor `MultiBlock.is_all_polydata` to use `recursive_iterator`
  pyvista/core/composite.py
Labels: maintenance, no-sphinx-build-cache

#7241 Remove redundant `composite` fixture
  tests/core/test_dataset_filters.py
Labels: maintenance

#7240 Move `DataObjectFilters` tests to new test file
  tests/core/test_dataobject_filters.py
  tests/core/test_dataset_filters.py
Labels: maintenance

#7237 Add `node_type` option to `recursive_iterator`
  pyvista/core/composite.py
  tests/core/test_composite.py
Labels: enhancement, no-sphinx-build-cache

#7234 Updates to expose merging points on spectral element boundaries
  pyvista/core/utilities/reader.py
  tests/core/test_reader.py
Labels: enhancement

#7232 Add `nested_block_types`, `is_homogeneous`, and `is_heterogeneous` MultiBlock properties
  pyvista/core/composite.py
  tests/core/test_composite.py
Labels: enhancement, no-sphinx-build-cache

#7253 Fix clearing field data with user dict
  pyvista/core/dataobject.py
  pyvista/core/datasetattributes.py
  tests/core/test_dataobject.py
Labels: bug
