Repository pyvista/pyvista, pull requests merged in 2025-09, with the labels that each got.

#7888 Do not run plotting tests when cancelled
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#7892 Suppress joblib related warnings
  pyproject.toml
  pyvista/plotting/plotter.py
  tests/doc/flaky_tests/pyvista-examples-downloads-download_kitchen-ba213fe2db1b71ad_00_00/0.jpg
  tests/doc/flaky_tests/pyvista-examples-downloads-download_kitchen-ba213fe2db1b71ad_00_00/1.jpg
Labels: maintenance

#7906 Do not run labeler on dependabot PRs
  .github/workflows/label.yml
Labels: maintenance

#7922 DOC: Minor formatting issue
  pyvista/core/pointset.py
Labels: documentation

#7927 Add optional downloads info to `Report`
  pyvista/report.py
  tests/core/test_utilities.py
Labels: enhancement

#7908 Attempt multiple tries for Windows
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#7929 Do not test depth peeling on <9.4
  tests/plotting/test_plotting.py
Labels: bug

#7933 Deprecate use_all_points parameter in extract_all_edges
  pyvista/core/filters/data_object.py
  tests/core/test_dataobject_filters.py
Labels: maintenance

#7926 Report local VTK data cache usage
  tox.ini
Labels: maintenance

#7924 Fix interactive plots using `np.arange`
  doc/source/user-guide/data_model.rst
  doc/source/user-guide/what-is-a-mesh.rst
  examples/00-load/create_poly.py
  examples/00-load/create_spline.py
  pyvista/core/filters/poly_data.py
  pyvista/core/pointset.py
  tests/doc/doc_image_cache/pyvista-PolyData-22f508904d681f98_00_00.jpg
  tests/doc/doc_image_cache/pyvista-PolyData-22f508904d681f98_01_00.jpg
  tests/doc/doc_image_cache/pyvista-PolyData-22f508904d681f98_02_00.jpg
  tests/doc/doc_image_cache/pyvista-PolyData-ada0164c4c7a0507_00_00.jpg
  tests/doc/doc_image_cache/pyvista-PolyData-ada0164c4c7a0507_01_00.jpg
  tests/doc/doc_image_cache/pyvista-PolyData-ada0164c4c7a0507_02_00.jpg
  tests/doc/doc_image_cache/pyvista-PolyDataFilters-ribbon-c6f300fc28e9f118_00_00.jpg
  tests/doc/doc_image_cache/pyvista-PolyDataFilters-ribbon-c889ce1aff9385fa_00_00.jpg
  tests/doc/doc_image_cache/what-is-a-mesh-0a4db054d4d3dd92_00_00.jpg
  tests/doc/doc_image_cache/what-is-a-mesh-17e916c0ab8d0b69_00_00.jpg
  tests/doc/doc_image_cache/what-is-a-mesh-3d9659a93b6ac77c_00_00.jpg
  tests/doc/doc_image_cache/what-is-a-mesh-b354974e9f8cf47b_00_00.jpg
  tests/doc/doc_image_cache/what-is-a-mesh-edc7c30463dc05ad_00_00.jpg
  tests/doc/doc_image_cache/what-is-a-mesh-f2c31fb39d3688d1_00_00.jpg
Labels: documentation

#7916 Use `tox` to build documentation
  .github/workflows/docs.yml
  CONTRIBUTING.rst
  tox.ini
Labels: documentation, maintenance

#7958 Fixed timer duration only activating on initial start
  pyvista/plotting/render_window_interactor.py
Labels: bug

#7969 Fix argument mismatch in picking documentation
  pyvista/plotting/picking.py
Labels: documentation

#7971 Include report with integration tests
  tox.ini
Labels: maintenance
