Repository pyvista/pyvista, pull requests merged in 2025-03, with the labels that each got.

#7214 Run `test_charts.py` in a separate process and increase `xvfb` max clients
  .github/workflows/testing-and-deployment.yml
  tests/plotting/jupyter/test_trame.py
Labels: maintenance

#7189 Fix Charts with VTK 9.4
  pyvista/plotting/charts.py
Labels: maintenance

#7257 Add cross-reference links to Dataset Gallery
  doc/source/make_tables.py
  doc/styles/Vocab/pyvista/accept.txt
  pyvista/examples/downloads.py
Labels: documentation, maintenance

#7206 Compute visible bounds by default
  pyvista/core/filters/data_object.py
  pyvista/plotting/actor.py
  pyvista/plotting/camera.py
  pyvista/plotting/plotter.py
  pyvista/plotting/renderer.py
  tests/doc/doc_image_cache/pyvista-Actor-use_bounds-1_00_00.jpg
  tests/plotting/test_renderer.py
Labels: bug, no-sphinx-build-cache

#7216 [Action Required] Ubuntu-20.04 hosted runner image is closing down
  .github/workflows/docker-package.yml
  .github/workflows/docs.yml
  .github/workflows/integration-tests.yml
  .github/workflows/intersphinx-update-pull-request.yml
  .github/workflows/label.yml
  .github/workflows/linkcheck.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  .github/workflows/vtk-pre-test.yml
  pyvista/plotting/utilities/xvfb.py
  tests/plotting/image_cache/bitwise_and_or_of_polydata[and].png
  tests/plotting/image_cache/bitwise_and_or_of_polydata[iand].png
  tests/plotting/image_cache/bitwise_and_or_of_polydata[ior].png
  tests/plotting/image_cache/bitwise_and_or_of_polydata[or].png
  tests/plotting/image_cache/plot[False].png
  tests/plotting/image_cache/plot[True].png
  tests/plotting/image_cache/plot[msaa].png
  tests/plotting/image_cache/plot_list.png
  tests/plotting/image_cache/plot_wireframe_style.png
  tests/plotting/test_plotting.py
Labels: maintenance

#7230 Add `select_values` filter for `ImageData`
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/utilities/arrays.py
  tests/core/test_imagedata_filters.py
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-select_values-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-select_values-1_01_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-select_values-1_02_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageDataFilters-select_values-1_03_00.jpg
Labels: enhancement, no-sphinx-build-cache

#7220 Add `MultiBlock.as_unstructured_grid_blocks`
  pyvista/core/composite.py
  tests/core/test_composite.py
Labels: enhancement

#7271 Fix invalid f-string and make code more readable in anatomical_groups.py
  examples/99-advanced/anatomical_groups.py
Labels: bug, documentation

#7272 Refactor `clip` filter tests and add checks for `MultiBlock` inputs
  tests/core/test_dataobject_filters.py
Labels: maintenance

#6969 Add custom `pyvista-mypy-plugin` to resolve `pyvista` and `vtk` abstract class compatibility issue
  doc/source/api/core/typing.rst
  doc/source/conf.py
  pyproject.toml
  pyvista/__init__.py
  pyvista/core/__init__.py
  pyvista/core/_typing_core/__init__.py
  pyvista/core/_typing_core/_dataset_types.py
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_object.py
  pyvista/core/filters/data_set.py
  pyvista/core/pointset.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/helpers.py
  pyvista/core/utilities/transform.py
  pyvista/examples/_dataset_loader.py
  pyvista/plotting/plotter.py
  pyvista/typing/mypy_plugin.py
  tests/typing/mypy_plugin/mypy_no_plugin.ini
  tests/typing/mypy_plugin/mypy_use_plugin.ini
  tests/typing/mypy_plugin/test_plugin.py
Labels: enhancement, documentation, maintenance

#7251 Add `move_nested_field_data_to_root` method for moving field data from nested `MultiBlock` blocks
  pyvista/core/composite.py
  pyvista/core/datasetattributes.py
  pyvista/core/filters/composite.py
  tests/core/test_composite.py
Labels: enhancement

#7275 Add `DataObject.is_empty` property
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/dataset.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/poly_data.py
  pyvista/core/objects.py
  tests/core/test_dataobject.py
Labels: enhancement

#7258 Add warning if saving `MultiBlock` with nested field data
  pyvista/core/dataobject.py
  tests/core/test_dataobject.py
Labels: bug

#7119 Add flake8-non-pep420(INP) rules to pyproject.toml
  pyproject.toml
  pyvista/typing/__init__.py
Labels: maintenance

#7273 Fix affine widget last event position
  pyvista/plotting/affine_widget.py
  tests/plotting/test_widgets.py
Labels: bug

#7281 Remove deprecated `numpy.typing.mypy_plugin`
  pyproject.toml
Labels: maintenance

#7283 Skip `@overload` test coverage
  pyproject.toml
Labels: maintenance

#7287 Add `Prop3D.copy` method
  pyvista/plotting/actor.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/volume.py
  tests/doc/doc_image_cache/pyvista-plotting-volume-Volume-copy-1_00_00.jpg
  tests/plotting/test_actor.py
Labels: enhancement

#7286 Update language in transformation docstrings
  pyvista/core/_validation/validate.py
  pyvista/core/utilities/transform.py
Labels: documentation

#7290 Set PYVISTA_OFF_SCREEN in doctest-modules
  Makefile
Labels: maintenance

#7288 Flatten field data as part of `MultiBlock.flatten`
  pyvista/core/composite.py
  tests/core/test_composite.py
Labels: enhancement

#7284 Add return type annotations for transformation filters
  pyvista/core/filters/data_object.py
Labels: maintenance

#7266 Fix `crinkle=True` with `clip` filter for `MultiBlock`
  pyvista/core/filters/data_object.py
  tests/core/test_dataobject_filters.py
  tests/plotting/image_cache/clip_multiblock_crinkle[None-None].png
  tests/plotting/image_cache/clip_multiblock_crinkle[None-as_multiblock].png
  tests/plotting/image_cache/clip_multiblock_crinkle[return_clipped-None].png
  tests/plotting/image_cache/clip_multiblock_crinkle[return_clipped-as_multiblock].png
  tests/plotting/test_plotting.py
Labels: bug

#7291 Only run plotting tests with Plotting Linux CI
  .github/workflows/testing-and-deployment.yml
  tests/plotting/test_tinypages.py
  tests/plotting/tinypages/README.md
  tests/plotting/tinypages/_static/.gitignore
  tests/plotting/tinypages/_static/README.txt
  tests/plotting/tinypages/conf.py
  tests/plotting/tinypages/index.rst
  tests/plotting/tinypages/plot_cone.py
  tests/plotting/tinypages/plot_polygon.py
  tests/plotting/tinypages/samples.py
  tests/plotting/tinypages/some_autodocs.rst
  tests/plotting/tinypages/some_plots.rst
Labels: maintenance

#7295 Remove conda CI testing and environment files
  .github/labeler.yml
  .github/workflows/testing-and-deployment.yml
  environment.yml
Labels: testing, maintenance

#7285 Add `Prop3D.transform` method
  pyvista/core/filters/data_object.py
  pyvista/core/utilities/transform.py
  pyvista/plotting/prop3d.py
  tests/plotting/test_actor.py
Labels: enhancement

#7292 Fix tiny pages flaky `FileExistsError`
  tests/plotting/test_tinypages.py
Labels: bug

#7305 Fix empty `UnstructuredGrid` cell properties when cast from `PolyData`
  pyvista/core/pointset.py
  tests/core/test_grid.py
Labels: bug

#7304 Remove redundant code in Plotter.add_volume
  pyvista/plotting/plotter.py
Labels: maintenance

#7278 Add `Transform.as_rotation` method to generate rotation representations
  doc/source/conf.py
  pyvista/core/utilities/transform.py
  tests/core/test_utilities.py
Labels: enhancement

#7309 Add technical reference to cell quality filter docstring
  pyvista/core/filters/data_set.py
Labels: documentation

#7302 Fix `to_meshio` with empty mesh
  pyvista/core/utilities/fileio.py
  tests/test_meshio.py
Labels: bug

#7312 Expose metadata from `CellType` enum
  pyvista/core/celltype.py
Labels: maintenance

#7313 Add `pv.vtk_verbosity` context manager for suppressing vtk `stderr` output
  doc/source/api/utilities/utilities.rst
  pyvista/__init__.py
  pyvista/core/_vtk_core.py
  pyvista/core/filters/data_object.py
  pyvista/core/filters/image_data.py
  tests/core/test_utilities.py
Labels: enhancement, documentation

#7319 Fix nested `vtk_verbosity` context
  pyvista/core/_vtk_core.py
  tests/core/test_utilities.py
Labels: bug

#7328 Fix VTK pre-release testing
  .github/workflows/vtk-pre-test.yml
Labels: bug, maintenance

#7317 Add parameters to Polydata.triangulate filter
  pyvista/core/filters/poly_data.py
  tests/core/test_polydata.py
Labels: enhancement, breaking-change

#7330 Update license for PEP 639
  pyproject.toml
Labels: maintenance

#7326 Fix cell examples with negative volume
  pyvista/examples/cells.py
  tests/doc/doc_image_cache/pyvista-examples-cells-HexagonalPrism-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-QuadraticWedge-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-Tetrahedron-1_00_00.jpg
  tests/doc/doc_image_cache/sphx_glr_linear_cells_002.jpg
  tests/examples/test_cell_examples.py
  tests/plotting/image_cache/plot_cell.png
Labels: bug

#7331 Fix `strips` equality for DataObject
  pyvista/core/dataobject.py
  tests/core/test_dataobject.py
Labels: bug

#7329 Silence vtk logger messages for `nek5000` and `drill` datasets
  pyvista/examples/downloads.py
Labels: bug

#7336 Fix docker permissions
  .github/workflows/docker-package.yml
Labels: maintenance

#7332 Always run plotting tests
  .github/workflows/testing-and-deployment.yml
Labels: maintenance

#7335 Modify cell examples to define unit cells
  pyvista/examples/cells.py
  tests/doc/doc_image_cache/pyvista-examples-cells-Pyramid-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-Triangle-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-examples-cells-Wedge-1_00_00.jpg
  tests/doc/doc_image_cache/sphx_glr_linear_cells_001.jpg
  tests/doc/doc_image_cache/sphx_glr_linear_cells_004.jpg
  tests/doc/doc_image_cache/sphx_glr_linear_cells_thumb.jpg
  tests/examples/test_cell_examples.py
Labels: bug, maintenance

#7323 Fix `to_meshio` with mixed cell types that include `VOXEL`
  pyvista/core/utilities/fileio.py
  tests/test_meshio.py
Labels: bug, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7333 Fix newly windows data path
  pyproject.toml
  pyvista/examples/downloads.py
Labels: maintenance

#7341 Reset verbosity state in `vtk_verbosity` example
  pyvista/core/_vtk_core.py
Labels: bug, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7343 Remove `None` from `MultiBlock.keys()` typing
  pyvista/core/_vtk_core.py
  pyvista/core/composite.py
  pyvista/examples/downloads.py
Labels: bug

#7342 Add `recursive_iterator` typing overloads
  pyproject.toml
  pyvista/core/composite.py
  pyvista/core/dataobject.py
  pyvista/core/filters/data_object.py
Labels: enhancement, maintenance

#7354 Fix cell quality size measures
  pyvista/core/_vtk_core.py
  pyvista/core/filters/data_object.py
  tests/core/test_dataobject_filters.py
Labels: bug

#7356 Skip failing tests on Windows for VTK 9.4
  tests/plotting/test_plotting.py
Labels: maintenance
