Repository pyvista/pyvista, pull requests merged in 2025-04, with the labels that each got.

#7360 Address review comments for VTK 9.4 compatibility
  pyproject.toml
  pyvista/core/_vtk_core.py
  pyvista/core/dataobject.py
  pyvista/core/grid.py
  pyvista/core/pointset.py
  pyvista/core/utilities/fileio.py
  pyvista/plotting/axes_actor.py
  tests/core/test_dataobject.py
  tests/core/test_pointset.py
  tests/core/test_utilities.py
  tests/typing/test_return_type.py
Labels: bug, maintenance

#7062 Fix `validate_rotation` orthogonality check
  pyvista/core/_validation/validate.py
  tests/core/test_validation.py
Labels: bug

#7369 Remove custom vtk variant install for docs build and linkcheck
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
Labels: documentation, maintenance

#7373 Set default render window for OSMesa with VTK 9.4
  .github/workflows/docs.yml
Labels: bug, documentation

#7365 Prepend pyvista to plot directive configuration options
  doc/source/conf.py
  pyvista/ext/plot_directive.py
  tests/plotting/test_tinypages.py
  tests/plotting/tinypages/conf.py
  tests/plotting/tinypages/some_plots.rst
Labels: bug, documentation, breaking-change

#7375 Turn off auto adjust sample distances for volume rendering
  pyvista/plotting/mapper.py
  tests/plotting/image_cache/volume_rendering_mappers_image_data[fixed_point].png
  tests/plotting/image_cache/volume_rendering_mappers_image_data[gpu].png
  tests/plotting/image_cache/volume_rendering_mappers_image_data[open_gl].png
  tests/plotting/image_cache/volume_rendering_mappers_image_data[smart].png
  tests/plotting/test_plotting.py
Labels: bug

#7379 Fix default cube normals
  pyvista/core/utilities/geometric_objects.py
  tests/core/test_geometric_objects.py
Labels: bug

#7381 Make `cell_quality` docstring compatible with older python
  pyvista/core/filters/data_object.py
Labels: documentation

#7385 Normalize whitespace in cell quality doctest
  pyvista/core/filters/data_object.py
Labels: bug

#7374 Fix `charts.Axis` pen attribute documentation for VTK 9.4
  pyvista/plotting/charts.py
  tests/plotting/test_charts.py
Labels: bug, documentation

#7371 Fix pointset and subdivide examples broken by VTK 9.4
  examples/00-load/create_pointset.py
  examples/01-filter/subdivide.py
  pyvista/core/filters/data_object.py
  tests/core/test_pointset.py
Labels: bug, documentation

#7377 Fix using cell vectors with `DataSet.arrows`
  pyvista/core/dataset.py
  tests/core/test_dataset.py
  tests/doc/doc_image_cache/pyvista-DataSet-arrows-1_00_00.jpg
  tests/doc/doc_image_cache/pyvista-ImageData-arrows-1_00_00.jpg
Labels: bug

#7370 Refactor `vtk_verbosity` to use abstract state manager class
  pyvista/__init__.py
  pyvista/core/_vtk_core.py
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/state_manager.py
  tests/core/test_utilities.py
Labels: maintenance

#7391 Add 'tags' to .gitignore
  .gitignore
Labels: maintenance

#7279 Allow applying a `Transform` to actors
  pyvista/core/utilities/transform.py
  tests/core/test_utilities.py
Labels: enhancement

#7403 Always upload failed images from docs workflow
  .github/workflows/docs.yml
Labels: maintenance

#7408 Suppress `vtkCapsuleSource` `ImportError`
  pyvista/core/_vtk_core.py
Labels: bug

#7366 Support Python 3.13
  .github/workflows/docker-package.yml
  .github/workflows/docs.yml
  .github/workflows/integration-tests.yml
  .github/workflows/linkcheck.yml
  .github/workflows/style_docstr.yml
  .github/workflows/testing-and-deployment.yml
  .github/workflows/type-checking.yml
  .github/workflows/vtk-pre-test.yml
  pyproject.toml
Labels: enhancement, maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7411 Add Python versions badge to README
  README.rst
Labels: documentation

#7397 Speed up rendering of planets example
  examples/99-advanced/planets.py
  tests/doc/doc_image_cache/sphx_glr_planets_001.jpg
  tests/doc/doc_image_cache/sphx_glr_planets_thumb.jpg
Labels: documentation, maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7421 Introduce merge queue
  .github/workflows/testing-and-deployment.yml
  .github/workflows/type-checking.yml
Labels: maintenance

#7407 Make `bool` parameters of `Transform.apply_to` methods keyword-only
  pyvista/core/utilities/transform.py
Labels: maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7406 Remove tabs from docs
  pyvista/core/cell.py
Labels: documentation, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7394 Save images from test warnings for doc image cache
  CONTRIBUTING.rst
  tests/doc/tst_doc_images.py
Labels: documentation, maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7198 Disable VTK 9.4 snake_case API
  doc/source/api/utilities/utilities.rst
  pyvista/__init__.py
  pyvista/core/__init__.py
  pyvista/core/_vtk_core.py
  pyvista/core/cell.py
  pyvista/core/dataobject.py
  pyvista/core/errors.py
  pyvista/core/utilities/__init__.py
  pyvista/core/utilities/geometric_sources.py
  pyvista/core/utilities/image_sources.py
  pyvista/core/utilities/state_manager.py
  pyvista/core/utilities/transform.py
  pyvista/plotting/_property.py
  pyvista/plotting/axes.py
  pyvista/plotting/axes_actor.py
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/camera.py
  pyvista/plotting/charts.py
  pyvista/plotting/composite_mapper.py
  pyvista/plotting/cube_axes_actor.py
  pyvista/plotting/lights.py
  pyvista/plotting/lookup_table.py
  pyvista/plotting/mapper.py
  pyvista/plotting/prop3d.py
  pyvista/plotting/renderer.py
  pyvista/plotting/text.py
  pyvista/plotting/volume_property.py
  tests/conftest.py
  tests/core/test_dataobject.py
  tests/core/test_dataset.py
  tests/core/test_utilities.py
  tests/test_snake_case_api.py
Labels: maintenance, no-gallery-cache, no-example-data-cache, no-sphinx-build-cache

#7427 Fix import error for deprecated `vtkCompositePolyDataMapper2`
  pyvista/plotting/_vtk_gl.py
Labels: bug

#7425 Parametrize merge filter test for easier debugging
  tests/core/test_polydata.py
Labels: maintenance

#7440 Remove Twitter share links
  README.rst
  doc/source/index.rst
Labels: documentation, maintenance

#7436 Add render window to PyVista Report
  pyvista/report.py
  tests/core/test_utilities.py
Labels: maintenance

#6849 🚀 Release v0.45
  pyvista/_version.py
Labels: release

#7433 Add mapper utilities to handle deprecated calls for VTK 9.5
  pyvista/plotting/mapper.py
  pyvista/plotting/picking.py
  pyvista/plotting/plotter.py
Labels: maintenance

#7393 Add arguments to `needs_vtk_version` custom marker test
  CONTRIBUTING.rst
  pyproject.toml
  pyvista/core/_vtk_core.py
  tests/conftest.py
  tests/core/test_dataset.py
  tests/core/test_geometric_sources.py
  tests/core/test_grid.py
  tests/core/test_imagedata_filters.py
  tests/core/test_pointset.py
  tests/core/test_polydata_filters.py
  tests/core/test_reader.py
  tests/core/test_unstructured_grid_filters.py
  tests/core/test_utilities.py
  tests/examples/test_download_files.py
  tests/plotting/jupyter/test_trame.py
  tests/plotting/test_charts.py
  tests/plotting/test_cube_axes_actor.py
  tests/plotting/test_picking.py
  tests/plotting/test_plotter.py
  tests/plotting/test_plotting.py
  tests/plotting/test_property.py
  tests/test_conftest.py
Labels: enhancement

#7446 fix: avoid read-only issues with inplace statement
  pyvista/core/utilities/helpers.py
Labels: bug

#7444 Add example on sharing scalar bars
  examples/02-plot/sharing_scalar_bars.py
  tests/doc/doc_image_cache/sphx_glr_sharing_scalar_bars_001.jpg
  tests/doc/doc_image_cache/sphx_glr_sharing_scalar_bars_002.jpg
  tests/doc/doc_image_cache/sphx_glr_sharing_scalar_bars_003.jpg
  tests/doc/doc_image_cache/sphx_glr_sharing_scalar_bars_004.jpg
  tests/doc/doc_image_cache/sphx_glr_sharing_scalar_bars_thumb.jpg
Labels: documentation

#7458 Fix long description within streamlines from source
  pyvista/core/filters/data_set.py
Labels: documentation

#7462 Enable `abort_on_example_error` for sphinx gallery
  doc/source/conf.py
Labels: documentation

#7456 Fix misc typos and small issues with docs
  pyvista/core/composite.py
  pyvista/core/filters/data_set.py
  pyvista/core/filters/image_data.py
  pyvista/core/grid.py
Labels: documentation

#7455 Add warning when saving `ImageData` with `.vtk` format
  pyvista/core/dataobject.py
  tests/core/test_grid.py
Labels: bug

#7461 Add render flag to the `add_actor` call in `BasePlotter.add_point_labels`
  pyvista/plotting/plotter.py
Labels: bug

#7340 Fix that the parameter `filename_mtl` is ignored
  pyvista/plotting/plotter.py
  tests/plotting/test_plotter.py
Labels: bug

#7457 Add axes objects gallery example
  examples/02-plot/axes_objects.py
  pyvista/plotting/axes_actor.py
  pyvista/plotting/axes_assembly.py
  pyvista/plotting/cube_axes_actor.py
  pyvista/plotting/renderer.py
  tests/doc/doc_image_cache/sphx_glr_axes_objects_001.jpg
  tests/doc/doc_image_cache/sphx_glr_axes_objects_002.jpg
  tests/doc/doc_image_cache/sphx_glr_axes_objects_003.jpg
  tests/doc/doc_image_cache/sphx_glr_axes_objects_004.jpg
  tests/doc/doc_image_cache/sphx_glr_axes_objects_005.jpg
  tests/doc/doc_image_cache/sphx_glr_axes_objects_006.jpg
  tests/doc/doc_image_cache/sphx_glr_axes_objects_007.jpg
  tests/doc/doc_image_cache/sphx_glr_axes_objects_008.jpg
  tests/doc/doc_image_cache/sphx_glr_axes_objects_thumb.jpg
Labels: documentation

#7476 Fix docstring paths for non-posix platforms
  pyvista/core/utilities/reader.py
Labels: documentation

#7478 Remove memory profiling from testing dependencies
  pyproject.toml
Labels: maintenance
